/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
/*MODAL LOADING GIF*/
#page_loader{display:inline;position:absolute;top:0;left:0;background-color:#000000;opacity:0.7;width:100%;filter:alpha(opacity=70);z-index:9999 !important;}
.modal_container{width:200px;height:auto;position:absolute;}
.modal_container #loadImage{position:relative;display:inline;}
.modal_container span{display:inline-block;color:#a9abae;margin-left:10px;}
.display_modal{overflow:hidden !important;}


/*Error styles */

/*.trueShowPopup{
	display:block;
}

.falseShowPopup{
	display:none
}*/

	/* Error div Container */
/*.entireErrorDiv {
    bottom: 16px;
    font: bold 12px Arial,Helvetica,sans-serif;
    position: fixed;
    right:0px;
    z-index: 9999;
    margin-right: 15px;  
    margin-bottom : 0px;
				
}

.errorMessagePopupWindow {
    /* background-color: #DDDDDD; */
    /* border: 1px solid #888888; */
    /* box-shadow: 0 0 10px #888888; */
/*	background-image: url('../main-theme/img/error_box_middle.png');
	background-position:left top;
	background-repeat:repeat;
	background-color:transparent;
    margin-bottom: 0;
    max-height: 300px;
    min-height: 100px;
    overflow: auto;
    width: 416px;
    z-index: 9999;
}
.errorMessagePopupWindow ul{
	list-style-image:url('../main-theme/img/error_bullet.png');
	  padding-left: 10px;  
	  
	}
.errorMessagePopupWindow ul li{
	cursor:pointer;
	color:#024E6E;
	text-decoration:underline;
	}
.folor0 {
	background-image: url('../main-theme/img/error_count_green.png') !important;
	background-position:left top;
	background-repeat:no-repeat;
	background-color:transparent;
    /* border: 1px solid #33963B; */
    /* text-indent: 12px; */
/*}
.errorCountDiv {
    /* background: none repeat scroll 0 0 #DD0303; */
	/*background-image: url('../main-theme/img/error_count_red.png');
	background-position:left top;
	background-repeat:no-repeat;
	background-color:transparent;
   /*  border: 1px solid #BB0000;
    border-radius: 5px 5px 5px 5px; */
   /* color: #FFFFFF;
    font: bold 12px Arial,Helvetica,sans-serif;
    text-align: center;
    width: 42px;
	height:42px;
	margin-left: 353px;
}
.error_count_value{
	display:block;
	padding-top:13px;
}
.top_error_container{
	background-image: url('../main-theme/img/error_box_top.png');
	background-position:left top;
	background-repeat:no-repeat;
	background-color:transparent;
    margin-bottom: 0;
	height:10px;
    width: 416px;
    z-index: 9999;
	}
.btm_error_container{
	background-image:url('../main-theme/img/error_box_bottom.png');
	background-position:left top;
	background-repeat:no-repeat;
	background-color:transparent;
    margin-bottom: 0;
	height:20px;
    width: 416px;
    z-index: 9999;
	}
	
	
	/* Error div Container */
			
/*.wrapperErrorPopUp{
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	left: 0;
	z-index: 1;
}

.errorCountLabel{
  float: left;
margin-left: 41%;
}


input.ng-invalid.ng-dirty {  background-color:  #FA787E; } 


input.ng-valid.ng-dirty {  background-color: #78FA89; }*/
