/*  Custom style for Thailand */
.msg-content-popup{white-space: pre-wrap; font-size:20px;}
.line_Th
{
    background-color: #f77c6b;
}

.bordbtm_custom{
    border-bottom-width: 2px;
    margin-bottom: 18px;
    border-bottom: 1px solid #eaecef;        
    border-bottom-color: rgb(234, 236, 239);
    width: 100%;
}

.bordbtm_custom_add_drop{
    border-bottom-width: 2px;
    margin-bottom: 18px;
    border-bottom: 1px solid #eaecef;        
    border-bottom-color: rgb(234, 236, 239);
    width: 100%;    
}

.custom_info_width{
    margin-bottom: 2px !important;
}
.Logo_TH
{
    width: 120px;
  /*  padding-top:15px;*/

}

.text-center.subheading.welcome.Logo_title 
{
  font-size: 28px;
  margin: 0px 3px 12px 0px !important;
  /*font-weight: 200px;*/
  color: #fff;
  font-family: 'DBHelvethaicaLight';
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
}
.btn-block.btn-large.btnBorder 
{
border: 1px solid red;
}
.Home_txt
{
  color: #E7E7E7;
}

/**/

.close_btnTC
{
padding-top: 15px;
-ms-transform: rotate(42deg);
-webkit-transform: rotate(42deg);
transform: rotate(42deg);
width:30px;
}
.Logo_Termcond
{
  width: 186px;
}
.header_TC
{
  padding: 0px 0px;
}

.close_tcbtn
{
  font-size: 25px;
 padding: 10px 5px;
}

.overlay_TC
{
  opacity: 0.8;
  position: fixed;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 1001;
}

.overlay_TC_ErrorBubble
{
  opacity: 0.8;
  position: fixed;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 998;
}

.mbottom10
{
  margin-bottom: 10px;
 }

 .loginpage
 {
  margin-bottom:20px;
   color: #706D6D;
   text-decoration: underline;
 }
 .eyeicon_show{
    color:#fff;  
    cursor: pointer;
        font-family: 'DBHelvethaicaRegular';
    font-size: 19px;
}

.eyeicon_hide{
  color:#fff !important;  
    cursor: pointer;
        font-family: 'DBHelvethaicaRegular';
    font-size: 19px;
}


/* LOGIN Latest VD design CSS class*/

.login-header-title
{
  color:#fff;
  font-size:  36px;
  padding-top: 18px;
  font-family: 'DBHelvethaicaThin';
  height: 40px;
}

.img-bg
{
  padding: 0px;
position: fixed;
width: 100%;
top: 112px;
right: 0px;
bottom: 0px;
left: 0px;
display: block;
}

 

.pops
{
  left: 50%;
background: #fff;
color: #333333;
font-family: 'Conv_helvetica-regular',Sans-Serif;
 font-style: normal;
   font-weight: normal;
}

#login_popup_info
{
  height: auto;
background: #fff;
margin-top: 17%;
width: 345px;
margin-left: -15%;
}

/*@media (max-width: 1024px) {*/
  #login_popup_info.widthForSig {
    width: 30% !important;
    height: 200px;
  }
/*}*/
.login-popup-close
{
  margin-top:5%;
  width:100%;
   height: 12%;line-height: 34px;
    border:1px solid #f4644c;
     background: #C21B17;
      color: #fff;
      font-family: 'DBHelvethaicaRegular';
    font-size: 19px;
}
.register-btn
{
  background: #c7302d !important;
  color: #fff;
  border:1px solid #fff  !important;
}
 

 /*LMS*/
.log-txt
 {
   font-weight: normal !important;
   text-align: left;
 }

.form-horizontal .log-txt{
text-align: left !important;
}

.btn-orange
{
  background: #f4644c !important; 
  margin-top:5px; 
  margin-bottom:10px;
  color:#fff !important;
}
.border-orange
{
  border:2px solid #ece7e7;
}
.log-header
{
  margin-bottom: 20px;
  font-weight: bold;
}
.login-btn
{
   background: #f4644c !important; 
   border: 1px solid #f4644c !important;
   color: #fff;
}

.white-txt
{
  color: #f9f0f0 !important;
    font-family: 'DBHelvethaicaRegular';
    font-size: 19px !important;
}

.orange-text
{
  color: #f77c6b;
}

.margintop-10
{
  margin-top: -10px; 
}

.termspopup
{
width: 50%;
height: 80% !important;
margin-top: 5%;
}
.closeTC
{
  padding: 10px 10px !important;
  color: #f77c6b;
  font-size: 22px !important;
  line-height: 40px;
  font-weight: 200;
  color: #f36148 !important;
}
.eye-icon
{
  margin-right: 5px;
      font-size: 14px !important;
}
.subheading-landing
{
  color: #fff !important;
  font-family: 'DBHelvethaicaLight' !important;
  font-size: 64px !important;
      font-weight: normal !important;
      margin-top: 80px;
}
/*.number
{ color:#f56953!important; }*/
ul.sales-dashboard li .number a:hover h1, ul.sales-dashboard li .number a:hover h3
{
  color: #e9543c;
}

/*ul.sales-dashboard li
{
  border-right: 1px solid #e9543c !important;
}*/
.btn-primary
{
  background-color: #e9583d;
  color: #fff;
}
.btn-orange {
background: #e9583d !important;
}
.orange-txt
{
  color: #c21b17 !important;
}
.subheading {
   color: #fff !important;
}
.rememberme{
margin-bottom: 10px;
 color:#fff
}
.login-hme
{
margin-bottom:20px;
 text-decoration: underline;
 font-family: 'DBHelvethaicaRegular';
    font-size: 19px;
}

.subheading-blk{ color: #000 !important; }
.subheading-grey{ color: #848484 !important; font-size: 19px !important; font-family: 'DBHelvethaicaRegular';}

.pushy .main-menu a:hover {
background: #edb79f!important;
color: #c52521!important;
}
.marginleft20
{
  margin-left: 20px;
}
/*ul.sales-dashboard li {
margin-bottom: 0px;
border-right: 1px solid #e9583d !important;
}

ul.sales-dashboard li {
float: left;
width: 24.9% !important;
position: relative;
margin-left: 11px;
margin-bottom: -15px;
}*/

.home-image-banner form input[type="text"] {
height: 40px !important;
width: 269px;
background-color: rgba(255, 255, 255, 0.8);
    font-family: DBHelvethaicaLight;
    font-size: 18px;
        padding: 6px 0px 0px 13px;
        opacity: 0.7;
        border-right: 1px solid #dedede;
}

ul.sales-dashboard li .legend table
{
  margin: 0 auto;
  width: 164px !important; 
  cursor: pointer;
  float: left;
  margin: 10px 48px;
}
/*Language Setting Icon with Image*/
ul.list-unstyled { 
    height: 30px;
    width: 80%;
    border: 1px solid #c1c1c1;
    list-style-type: none;
	background-image: url(../generali-theme/img/dropdownarrow@2x.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
	background-position: right center;
      font-family: 'DBHelvethaicaRegular';
    font-size: 19px;
}
ul.list-unstyled li.init{height:22px; width: 250px;}
ul.list-unstyled li { padding: 5px 10px; z-index: 2; cursor: default !important;}
ul.list-unstyled  li:not(.init) { float: left; width: 130px; display: none; background: #fff; }
li.init { cursor: pointer; }
a#submit { z-index: 1; }
ul.list-unstyled li.init img{display:none;}
.heading_title
{
  color: #333 !important;
  font-family: 'DBHelvethaicaLight';
  font-size: 30px !important;
}
.hasMandatory
{
position: absolute;
margin-top: 20px;
left: 75%;
cursor: default;
font-family: 'DBHelvethaicaRegular';
font-size: 20px;
color: #333;
text-align: right;
width: 25%
}


/**Sales Activity related changes --> Start**/

.sales_activity .dropdown .customDropIcon {
	top:70%;
	right: 12px;
}
.sales_activity .search_criteria {
	font-size: 28px;
    font-family: 'DBHelvethaicaRegular';
    color: #333333;
    padding-left:20px;
    font-weight: normal;
    margin-bottom: 0px;
}
.sales_activity .outer-box {
	height: auto;
    margin: 20px 20px;
    background: #ffffff;
}
.sales_activity .outer-box .dropdown {
    margin-left: 20px;
    margin-right: 10px;
    width: 87%;
    background: #ffffff;
	float:left;
    margin-bottom: 20px;
}
.sales_activity .outer-box .dropdown select {
	width: 100%;
}
.sales_activity #SATabs .nav-tab li {
	width: auto;
    margin-left: -1px;
    padding: 0px 20px;
	display:inline-block !important;
    background:#dcd8d9 !important;
    line-height: 40px;
}
.sales_activity #SATabs .nav-tab li a:hover {
	border:none;
}
.sales_activity #SATabs .nav-tab li a {
	border:none;
	color:#999999;
    background: transparent;
}
.sales_activity #SATabs .nav-tab {
	width:500px;
	display:inline-block;
    margin-bottom: -1px;
    font-family: 'DBHelvethaicaMedium';
    font-size: 22px;
}
.sales_activity #SATabs .nav-tab li.active a  {
	border:none;
	color:#ffffff;
}
.sales_activity #SATabs .nav-tab li.active {
	background:#e9573d !important;
}
.sales_activity #SATabs {
	margin-left:20px;
	margin-right: 20px;
}
.sales_activity #SATabs .indicator {
	display:inline-block;
	float:right;
	padding-top:10px;
    font-size: 19px;
    font-family: 'DBHelvethaicaRegular';
    color: #333333;
}
.sales_activity #SATabs .indicator div p {
    display: inline-block;
    margin-bottom: 0px;
    margin-right: 5px;
	width: 10px;
    height: 10px;  
}
.sales_activity #SATabs .indicator div {
    display: inline-block;
	margin-right:10px;
}
.sales_activity #SATabs .indicator .missed p {
	background:#c5291d;
}
.sales_activity #SATabs .indicator .average p {
	background:#f39c12;
}
.sales_activity #SATabs .indicator .met p {
	background:#06af6f;
}
.sales_activity #SATabs .tabbable {
	margin-top:2px;
}
.sales_activity #SATabs .tab-content {
	padding:0px;
	margin:0px;
}
.sales_activity #SATabs .scoring_percent {
	display:block !important;
	width:auto !important;
	float:right;
	top:-61px;
	margin-right:20px;
    margin-top: -46px;
} 
.sales_activity #SATabs .scoring_percent li {
	margin-left:-3px !important;
	width:auto !important;
    line-height: 24px !important;
}
.sales_activity #SATabs .scoring_percent li a {
	padding:6px 0px;
	font-size: 19px !important;
    font-family: 'DBHelvethaicaRegular' !important;
}
#salesactivity_table table, #salesactivity_table th, #salesactivity_table tr, #salesactivity_table td 
{
    border: 1px solid #dadcdb !important;
    border-collapse: collapse;
    padding: 8px !important;
}
#scoring_table table, #scoring_table th, #scoring_table tr, #scoring_table td,
#scoring_table1 table, #scoring_table1 th, #scoring_table1 tr, #scoring_table1 td 
{
    border: 1px solid #dadcdb;
    border-collapse: collapse;
    padding: 8px !important;
} 
#conversion_table table, #conversion_table th, #conversion_table tr, #conversion_table td,
#conversion_table1 table, #conversion_table1 th, #conversion_table1 tr, #conversion_table1 td,
#conversion_table2 table, #conversion_table2 th, #conversion_table2 tr, #conversion_table2 td,
#conversion_table3 table, #conversion_table3 th, #conversion_table3 tr, #conversion_table3 td,
#conversion_table4 table, #conversion_table4 th, #conversion_table4 tr, #conversion_table4 td
{
    border: 1px solid #dadcdb;
    border-collapse: collapse;
    padding: 8px !important;
}
#salesactivity_table .heading th, #scoring_table .heading th, #scoring_table1 .heading th,
#conversion_table .heading th, #conversion_table1 .heading th, #conversion_table2 .heading th, 
#conversion_table3 .heading th, #conversion_table4 .heading th
{     
	color:#ffffff !important;
    background-color: #e9573d !important;
    font-family: 'DBHelvethaicaRegular' !important;
    font-size: 19px !important;
    font-weight: normal !important;
	text-align: left;
}
#salesactivity_table th, #salesactivity_table td, #scoring_table th, #scoring_table td, 
#scoring_table1 th, #scoring_table1 td, #conversion_table .heading th, #conversion_table .heading td, 
#conversion_table1 .heading th, #conversion_table1 .heading td, #conversion_table2 .heading th, 
#conversion_table2 .heading td, #conversion_table3 .heading th, #conversion_table3 .heading td,
#conversion_table4 .heading th, #conversion_table4 .heading td
{  
    height: 44px !important;
    line-height: 0.75 !important;
    width: 20px;
}
#SA_Tab, #Scoring_Tab, #Scoring_Tab1, #Conv_Tab, #Conv_Tab1, #Conv_Tab2, #Conv_Tab3, #Conv_Tab4
{
    margin-left:20px;
	margin-right:20px;	
	font-size: 19px !important;
    font-family: 'DBHelvethaicaRegular' !important;
}
#SA_Tab table, #Scoring_Tab table, #Scoring_Tab1 table, #Conv_Tab table, 
#Conv_Tab1 table, #Conv_Tab2 table, #Conv_Tab3 table, #Conv_Tab4 table
{
	margin-bottom:30px;
}
#Conv_Tab2 h2, #Conv_Tab4 h2 {
	font-size: 28px;
    font-family: 'DBHelvethaicaRegular';
    color: #333333;
    padding-left:20px;
    font-weight: normal;
    margin-bottom: 0px;
	padding-left:0px !important;
}
.greytxt
{
  font-size: 16px !important;
  font-family: 'DBHelvethaicaRegular' !important;
  color: #848484 !important;
}
#salesactivity_table .boxedValue, #scoring_table .boxedValue, #scoring_table1 .boxedValue, #conversion_table .boxedValue,
#conversion_table1 .boxedValue, #conversion_table2 .boxedValue, #conversion_table3 .boxedValue, #conversion_table4 .boxedValue {
    width:58px;
    margin-bottom:-4px;
    margin-top:-4px;
    height:28px;
	text-align:center;
	padding-top:8px;
	padding-bottom: 2px;
}
.red {
	background-color:#c5291d;
	color:#ffffff;
	border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #c5291d;
}
.green {
	background-color:#06af6f;
	color:#ffffff;
	border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #06af6f;
}
.yellow {
	background-color:#f39c12;
	color:#ffffff;
	border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #f39c12;
}
.grey {
	background-color:#DCD8D9;
	color:#333333;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
    border-color: #8080803d;
}
.white {
	background-color:#ffffff;
	color:#333333;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
    border-color: #8080803d;
}

/**Sales Activity related changes --> End**/

p{
  font-size: 19px;
   font-family: 'DBHelvethaicaRegular';
}

.fa-angle-right
{
      padding: 1px 8px !important;
    position: absolute !important;
}
ul.sales-dashboard li .legend
{
      top: 67%;
}

ul.sales-dashboard li .number a h1 {
    margin: 0;
    font-size: 42px !important;
    font-family: 'DBHelvethaicaRegular';
}

ul.sales-dashboard li .legend
{
  top: 65% !important;
}
.home-image-banner .white-box
{
  background: #fff !important;
}
.line_br
{
  border-right: 1px solid #e7a8a4;
}
.grey-input
{
  color:#848484 !important;
}

ul.sales-dashboard li
{
 /* width: 24% !important;*/
  background: #fff !important;
}

ul.sales-dashboard li:last-child::after {
    float: left;
    width: 0% !important;
     
    margin-bottom: -15px;
background: #fff !important;
    /* border-right: 1px solid #c21b17; */
}

.white-box {
     padding: 0px 0 0 1px !important; 
    background: #fff !important;
    position: relative;
}

ul.sales-dashboard li:last-child {
  border: none;
}

.bg-dark
{
  background:none !important;
}

ul.sales-dashboard li .number
{
      width: 100%;
    position: absolute;
    top: 54% !important;
    margin-top: -82px;
    margin-left: 0%;
}

.legend table tr > td:last-of-type {
    float: left;
    left: 40px;
}

 input::placeholder{
    color:red !important;
}
.input-append .add-on, .input-append .btn, .input-append .btn-group
{
      margin-left: 0px !important;
}

.arrow_right
{
      margin-top: -2px !important;
          font-size: 24px !important;
}
.box .box-heading
{ 
      padding: 15px 15px 0 20px !important;
}
.margin-left20
{
  margin-left: 20px !important;
}
.box_desc
{
  padding: 0px 6px;
  margin-top: -4px;
}
.btn-lead
{
  position: absolute;
  top: 6px;
}
.btn_red
{
  background: #c21b17;
    color: #fff !important; 
    font-family: 'DBHelvethaicaRegular';
    font-size: 19px !important;
}

.alert-box .pop-up ol {
    margin: 0;
    padding: 0px 0px 0px 25px;
    font-family: 'DBHelvethaicaRegular';
    font-size: 19px;
}
.alert-box.warning .number
{
      color: #f4644c;
}
.table th {
    background-color: #e1afb0 !important;
    font-family: 'DBHelvethaicaMedium';
    font-size: 20px  !important;
    font-weight: normal !important;	
    }
#myIllustrations table th {
	border: none;
    border-width: 1px;
	border-color:gray;
	}
#myIllustrations table td {
	border: none;
    /*border-width: 1px;*/
	border-color:gray;
	padding:none !important;
	}

.occupation_btn
  {
    margin-right: 5% !important;
  }
	
.phone_txt
{
  font-family: 'DBHelvethaicaRegular';
  font-size: 19px;
  color: #c21b17 !important;

}
input#appendedInputButton::placeholder {
    color: #848484 !important;
}
.image-login::placeholder
{
  font-family: 'DBHelvethaicaRegular';
  font-style: italic;
  font-size: 19px  !important;
  color: #848484;
}
.footer_txt
{
  font-family: 'DBHelvethaicaRegular';
    font-size: 17px;
    text-align: center !important;
}
.alert-box .pop-up ol
{
  padding: 10px 0px 0px 25px !important;
}

.home-image-banner .box-content .btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-family: 'DBHelvethaicaRegular';
    font-size: 19px;
    color: #fff !important;
    background: #e9573d !important;
}

.btn {
    font-family: 'DBHelvethaicaRegular'!important;
    font-size: 19px !important;
}

.white-box img
{
  padding: 10px;
}

.btn.highlight, .btn-block
{
      font-family: 'DBHelvethaicaRegular' !important;
    font-size: 19px !important;
}
.btn-large
{
  font-family: 'DBHelvethaicaRegular' !important;
    font-size: 19px !important;
}
.countBtn {
    border: 1px solid #e1afb0 !important;
    font-family: 'DBHelvethaicaMedium' !important;
    font-size: 19px !important;
}
#createLeadBtn
{
  font-family: 'DBHelvethaicaRegular' !important;
  font-size: 19px !important;
}
.accordion-heading .accordion-toggle {
    display: block;
    padding: 8px 15px !important;
    font-size: 20px !important; 
    font-family: 'DBHelvethaicaRegular' !important;
    color: #000 !important;

}
.main-menu
{
  font-family: 'DBHelvethaicaRegular' !important;
}
ul.sales-dashboard li::after
{
  background: none !important;
}

.search_icon {
    padding-top: 10px!important;
    padding-bottom: 5px!important;
    opacity: 0.6;
    height: 48px;
    border-left: 1px solid #f1f1f1;
}

.signature_accordin
{
  padding: 0px 0px;
width: 92%;
margin-left: 50px;
}

.highlight_txt
{
  font-family: 'DBHelvethaicaRegular';
font-size: 19px !important;
color: #848484 !important;
}

.box_heading .product_heading
{
  font-family: 'DBHelvethaicaLight'!important;
  font-size: 27px !important;
color: #c21b17 !important;
padding: 20px 0px 20px 0px;
}

.large.dark-red-text.ng-scope {
font-family: 'DBHelvethaicaMedium';
font-size: 23px !important;
}

.product-details .product_type
{
font-family: 'DBHelvethaicaLight';
font-size: 23px !important;
color: #c21b17 !important;
margin-top: 15px !important;
margin-bottom: 15px !important;
}

.product-btn-list
{
  border: 1px solid #D5D5D5 !important;
}

@media (max-width: 799px) {
  ul.sales-dashboard li {
    width: 23%;
    margin-bottom: 50px;
  }
 
}


@media screen and (min-width: 699px) and (max-width: 1199px) {
   ul.sales-dashboard li .legend table {
      margin: 12px 43px;
       
  }
}

@media (max-width: 799px) {
   ul.sales-dashboard li .legend table {
      margin: 12px 30px;
       
  }
}

#addNew {
	width:154px;
}
.tab-content form input[type="text"]{
    font-family: 'DBHelvethaicaRegular' !important ;
    font-size: 19px !important;
}

.btnBorderCustom{
    border: 1px solid red !important;   
    color: red ! important;
}

.btnBorderCustom_goToEapp{
    border: 1px solid red !important;   
    color: red ! important;
}

.btnBorderCustom_goToEapp:disabled{
    border: 1px solid grey !important;
    color: grey ! important;
}

/* Sales Illustration Output Grpah*/

/*.genBumnanHeading{
	font-size: 48px;
    background-color: #8f1230;
    color: #fff;
    width: 48%;
    margin-top: 5%;
	line-height: 1.3;
    height: 63px;
}*/

.insured_age{
	margin-left: -35px;
}
.circle{
	background: #fff;
    border-radius: 35px;
    color: #000;
    height: 35px;
    font-weight: bold;
    width: 35px;
    border: 3px solid #a02226;
    text-align: center;
	line-height: 1.4;
	font-size: 27px;
} 


.amountPanel{
	background-color: #c21b17;
    height: 66px;
    margin: 3% 1% 3% 1%;
    color: #fff;
    font-size: 24px
}

.parent-graph{
	background-color:#fff;
	margin: 0px 5px 0px 5px;
	font-family: 'DBHelvethaicaRegular';
}

.heading_SIGraph{
	float:left;
	margin-top: 25px;
	color: #fff;
} 

.sum_Insured_Heading{
	width:28%; 
	float:left; 
	margin:0% 0% 0% 1%;
}

.sum_Insured{
    background-color: #fff;
    width: 100px;
    float: left;
    height: 40px;
    border-radius: 8px;
    margin: 14px 0px 0px 5px;
    font-weight: bold;
    line-height: 1.7;
    font-size: 24px !important;
}

.heading_B{
float: left;
color: #fff;
padding: 25px 0 0 2px;
}

.basic_Premium{
width:36%; 
float:left;
}

.basic_Premium_Dot{
padding-left: 2px;
}

.rider_Premium{
	width:35%;
	float:left;
}
.rider_ADB_Premium{
	width:90%;
	float:right;
}
.mode{
 color: #fff; 
 position: absolute;
 left: 39.5%;
 top:11%;
}

.death_Benefit_Text{
color: #a23737; 
font-size: 26px; 
float:left;
margin: 0px -15px;
}

.death_Benefit_Label{
    font-size: 19px;
    font-weight: bold;
    left: 1%;
    padding-top: 45px; 
}
.total_Paid{
	margin-top: 10px; 
	text-align:center;
	color: #a81e39;
	font-size: 16px;
}
.total_Paid_Premium{
	top: 5px;
    position: relative;
}
.pension_Years{
	top: 2px;
    position: relative;
	font-size: 26px;
}
.min_Max_Box{
	height: 50px;
	width:92%;
	background-color: #a81e39;
	position:absolute;
}

.min_Max_Box1{
background-color: #fff;
margin-left: 10px !important;
margin-right: 10px !important;
margin-top: 5px;
border-radius: 5px;
line-height: 1.9;
font-size: 21px;
}

.years_Label{
 margin-left: -27px;
 text-align:center; 
 color: #f36349;
 font-size: 18px;
}

.pension_Box{
 height: 60px;
 width:100%;
 background-color: #f36349;
 color:#fff;
}

.pension_Label{
padding: 3.5% 15% 0 15%;
}

.end_Policy{
margin:2% 0% 1% 0%;
}

.insured_Age_Label{
	font-size: 19px;
    padding-top: 10px;
    padding-left: 10px;
	width:80%;
}

.premium_Period_Label{
	border-radius:10px;
	background-color:#d9e2e9;
	color: #000;
    margin: 3% 27% 0 8%;
    height: 18px;
    line-height: 1.2;
    font-size: 15px;
    font-weight: bold;
}

.age_Box{
width:90%;
margin-left:-15%;
}

.age_Label{
 border-radius:10px;
 background-color:#facac0;
 color:#000;
 line-height: 1.5;
 font-size: 15px;
 font-weight: bold;
}

.arrow_Img{
width: 25%;
    height: 50px;
}

.per_Year{
margin:0px;
line-height: 0.9;
}

.circle_No{
padding-left:23%;
}
.livingBenefit_Lbl{
	padding-right: 15px;
}
.value_Box{
 border-radius:5px;
 background-color:#cccccc;
 color:#000;
 height: 35px;
 line-height: 1.8;
 font-weight: bold;
 font-size: 20px;
}
.value_Box_25{
 border-radius:5px;
 background-color:#cccccc;
 color:#000;
 height: 35px;
 line-height: 2;
 font-weight: bold;
 font-size: 18px;
}
.valueBox_width{
width:68%;
}

.value_Box2{
border-radius: 6px;
background-color: #fff;
color: #000;
height: 30px;
line-height: 1.2;
font-weight: bold;
font-size: 27px;
margin-top: 7px;
}
.tlb_Box{
background-color: #c2c2c2;
margin: 5% 1% 0 1% !important;
font-size: 24px;
font-weight: bold;
line-height: 1.8;
}

.sum_Label{
margin-right:1% !important;
font-size: 19px;
}

.padding_empty{
padding:0px !important;
}

.margin_empty{
margin:0px !important;
}

.font_size{
font-size: 18px !important;
}

.ageImage_GenBum8{
width:81% !important;
}

.imageWidth{
height: 60px; 
width:100%;
}

.end_Policy{
margin-top:3%;
}

.endText{
margin-top:3%;
font-size: 19px;
}

.endText25 {
    margin-top: -3%;
    font-size: 19px;
    float: right;
    margin-right: 17px;
}

.padding_empty .eighthYearAge{
padding-left:	18%;
}

.ageImage_genComplete{
	width: 77.5% !important;
	margin-left: -1.3%;
}

.livingBenefit_SA{
border-radius: 5px;
background-color: #cccccc;
color: #000;
line-height: 1.2;
font-weight: bold;
font-size: 27px;
width: 120px;
display: inline-block;
text-align: center;
}

.box_BGcolor{
background-color:#e9583d;
padding-top:10px;

}

.label_Color{
color:#fff;
font-size:23px;
margin-top:5px;

}
.lifeProtection_Box{
margin-top:1%;
margin-bottom:1%;

}

.lifeProtection_Label{
color:#c31f19;
font-size:30px;
margin-top:5px;
}

.value_Box3{
	height: 45px;
 	background-color: #a81e39;
 	padding-top:7px !important;

}

.value_Box3_IN{
	height: 30px;
	background-color: #fff;
	margin-left: 38%;
	margin-right: 38%; 
	border-radius: 5px;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.5;
}

.value_Box3_10Plus{
	height: 30px;
	margin-left: 38%;
	margin-right: 38%; 
	border-radius: 5px;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.5;
	color: #FFF;
}

.sa_result{
color:#c8302c;
font-size:21px;
}

.insured_Age_Text{
width: 14%;
}

/* GenProLife Graph 25 */
.imageWidthGenProLife25 {
    height: 60px;
    width: 98%;
}
.percentage{
	font-weight: bold;
	text-align:center;
    font-size: 34px;
    color: #c5291d;
}

.image_25prolife{
	width:64%;
	height:60px;
	padding-left:8px;
}

.img_Box{
	width:96%;
	height:70%;
	padding-left:10px;
}
                
.img_Box_1{
        width:96%;
		height:70%;
		margin-left:70%;
}
.img_Box_2{
                width:49%;
                height:70%;
}
.image_20prolife{
  width: 20%;
    margin-left: 3%;
}
.per_Year_Label{

    margin-top: -27px;
    text-align: center;
    padding-left: 8px;

}
.policy_Year_Label{
	margin-top: -30px;
	margin-left: -8px;
	font-size:15px;
	color:black;
}
                
.policy_Year_Label_1{
		width: 132px;
		margin-top: -30px;
		margin-left: -31%;
		font-size:15px;
		color:black;

                }
                
.policy_Year_Label_2{
		margin-top: -30px;
		font-size:15px;
		color:black;
}


 .pad_Between_Circles{
        margin-left:3%;
 }
 .pad_Between_Circles12{
   margin-left:4%;
 }
 .pad_Between_Circles11{
   margin-left:5%;
 }
                
.pad_Between_Circles1{
         margin-left:7.5%;
}

.valueBox_Width_Genprolife25{
    width: 94%;
}
.pad_Between_ValueBox{
margin-left: 50%;
}
.pad_Between_ValueBox_1{
margin-left: 70%;
}
.pad_Between_ValueBox_2{
margin-left: 8px;
}
.pad_Between_ValueBox_3{
margin-left: -26%;
}
.pad_Between_ValueBox_4{
margin-left: 80%;
}
.premium_Period_Label_Prolife25{
    border-radius:10px;
    background-color:#d9e2e9;
    color: #000;
    margin: 0 40% 0px 19%;
    height: 18px;
    line-height: 1.2;
    font-size: 15px;
   
}


.value_Box3_IN_1{
    margin-top: 4px;
}

.death_Benefit_Label_proLife25
{
color: #a23737; 
font-size: 26px; 
text-align: center;
}

.ageImage_GenBum8_25life{

width:77% !important;
padding-right:0px !important;
}

.policy_Label{
    font-size: 19px;
    font-weight: bold;
    left: 1%;
    padding-top: 32px;

}
.right_Arrow_Pad{
margin-left:10px;
}

.scroll_none
{
	overflow-x:hidden;
}
 
/* GenProLife Graph 20 */
.percent{
	color: #c21b17;
	font-weight: bold;
	text-align:center;
    font-size: 34px;
}

.percent1{
	
	color: #e9573d;
	font-weight: bold;
    text-align:center;
    font-size: 34px;
	margin-right: -20px;

}	

.min_Max_Box2{
	height: 60px;
	width:100%;
	background-color: #a81e39;
	position:absolute;

}

.min_Max_Box3{
background-color: #fff;
margin-left: 180px !important;
margin-right: 180px !important;
margin-top: 10px;
border-radius: 10px;
line-height: 1.9;
font-size: 21px;
}

.pension_Box1{
 height: 40px;
 width:88%%;
 background-color: #f36349;
 position:absolute;
 margin: 0px 0px 0px 12px;
 }

.pension_Label2{
	height: 57%;
background-color: #fff;
margin: 8px 180px 0px 180px;
border-radius: 6px;
line-height: 1.9;
font-size: 21px
}

.end_Policy1{
margin:0% 0% 1% 0%;
}

.padding_empty .eighthYearAge1{
padding-left:3%;
}

.circle1{
	margin: 0px 0px 0px -23px;
} 

.circle2{
	margin: -42px 0px 45px 47px;
} 

.circle3{
	margin-left: 33%;
}

.circle4{
	margin: 0px 0px 45px 0px;
} 

.circle_GenSave10Plus1 {
	background: #a02226;
	border-radius: 35px;
	color: #FFF;
	height: 30px;
	font-weight: bold;
	width: 30px;
	border: 3px solid #a02226;
	text-align: center;
	line-height: 1.4;
	font-size: 20px;
	float: left;
}

.circle_GenSave10Plus{
	background: #a02226;
	border-radius: 35px;
	color: #FFF;
	height: 30px;
	font-weight: bold;
	width: 30px;
	border: 3px solid #a02226;
	text-align: center;
	line-height: 1.4;
	font-size: 20px;
	float: right;
}
.circle_marginLeft {
	margin-left:30px;
}
.circle_marginRight {
	margin-left:15px;
	float:right;
}
.imageWidth_GenSave10{
	width:100%;
}
.imageWidth_GenSave10_paddinTop {
	padding-top:5px;
}
.genSave10_marginLeft1 {
	margin-left:40px;
}
.genSave10_subText1 {
	font-weight: bold;
	text-align: center;
	font-size: 24px;
	color: #a02226;
	margin-left: 38px;
	padding-top: 4px;	
	float: left;
}

.genSave10_subText2 {
	font-weight: bold;
	text-align: center;
	font-size: 24px;
	color: #a02226;
	margin-left: 48px;
	padding-top: 4px;	
	float: left;
}

.genSave10image1 {
	max-width: 70%;
	margin-left: -2.5%;
    vertical-align: middle;
}

.genSave10image2 {
	max-width: 70%; 
	margin-left: 25%;
    vertical-align: middle;
}

.genSave10image3 {
	text-align: right; 
	max-width: 70%; 
	float: left;
	margin-left: -2.5%;
    vertical-align: middle;
}

.genSave10image4 {
	text-align: right; 
	max-width: 70%; 
	float: right; 
	margin: 0px -10% 0px 0px;
    vertical-align: middle;
}

.genSave10GraphTextSection1 {
	text-align: right; 
	max-width: 50%; 
	float: right; 
	font-weight: bold; 
	font-size: 24px; 
	color: #a02226;
}

.genSave10GraphTextSection2 {
	color:rgb(167,27,56); 
	font-weight:bold; 
	text-align: right; 
	font-size: 24px;
}

.genSave10TextBorder1 {
	border: 1px solid rgb(167,27,56);
}

.genSave10TextBorder2 {
	background-color: rgb(197,39,28); 
	color:#FFFFFF;
}

.genSave10TextBlock1 {
	color:#000000;
	font-weight: bold;
	font-size: 24px; 
	padding-top:10px;
}

.genSave10Plus_Section1 {
	margin-left: 23px; 
	margin-top: 4px;
}

.genSave10Plus_Section2 {
	margin-left: 23px; 
	margin-top: 20px;
}

.genSave10Plus_Section3 {
	margin-left: 23px; 
	margin-top: 40px;
}

.genSave10Plus_Section4 {
	margin-left: 0px; 
	margin-top: 10px; 
	float: right;
}

.genSave10Plus_margin1 {
	margin-left: 32px;
}

.genSave10Plus_margin2 {
	margin-left: 28px;
}

.genSave10Plus_margin3 {
	margin-left: 42px;
}

.genSave10Plus_margin4 {
	margin-left: 18px;
}

.genSave10Plus_margin5 {
	margin-left: 15px;
}

.op_img_wrapper{
	display:block;
	text-align:center;	
}
.relative_img_wrapper{
	position:relative;
	display:inline-block;
	width:850px;
}
.genSave10Plus_ImageTextWrapping1 {
	position:absolute; 
	 /*right:245px;*/ 
    right: 230px;
	top:157px; 
	font-size:26px; 
	font-weight:bold; 
	color: #000;
}

.genSave10Plus_ImageTextWrapping2 {
	position:absolute; 
	 /*left:295px; */
	left: 275px;
	top:444px; 
	font-size:26px; 
	font-weight:bold; 
	color: #000;
}

.genSave10Plus_ImageTextWrapping3 {
	position:absolute; 
	 /*left:465px;*/
	left: 440px;
	top:482px; 
	font-size:26px; 
	font-weight:bold; 
	color: #000;
}

.genSave4Plus_ImageTextWrapping1 {
	position:absolute; 
	 /*right:245px;*/ 
    right: 185px;
	top:165px; 
	font-size:26px; 
	font-weight:bold; 
	color: #000;
}

.genSave4Plus_ImageTextWrapping2 {
	position:absolute; 
	 /*left:295px; */
	left: 275px;
	top:434px; 
	font-size:26px; 
	font-weight:bold; 
	color: #000;
}

.genSave4Plus_ImageTextWrapping3 {
	position:absolute; 
	 /*left:465px;*/
	left: 440px;
	top:473px; 
	font-size:26px; 
	font-weight:bold; 
	color: #000;
}

.circle_wrapper{
	width:40%;
	display:inline-block;
}
.circle_wrapper1{
	width:56%;
	display:inline-block;
}
.endText1{
	font-size: medium;
	margin-top: 30px;
}

.marginTop_GPL20{
	margin-top:13px;
}
.value_Box3_IN_2{
    margin-top: -2px;
}

.img1{
	max-width: 100%;
    margin-left: -2.5%;
    vertical-align: middle;
}
	
.img2{
	max-width: 135%;
   	vertical-align: middle;
   	border: 0;
}
	
.death_Benefit_Text1{
	color: #a23737; 
	font-size: 26px; 
	float:left;
	margin: 0px 0px 0px 35px;
}
	
.value_Box3new{
	height: 40px;
}
	
.value_Box4{
	height: 32px;
	background-color: #e9573d;
	padding-top:7px !important;
	margin-right: -28px;
}

.premium_Period_Label1{
	border-radius:10px;
	background-color:#d9e2e9;
	color: #000;
	width:106%;
	margin: -25px 0px 0px 25px;
    height: 18px;
    line-height: 1.2;
    font-size: 15px;
    font-weight: bold;
}

.premium_Period_Label11{
	border-radius:10px;
	background-color:#d9e2e9;
	color: #000;
	width:58%;
	margin: -25px 0px 0px 25px;
    height: 18px;
    line-height: 1.2;
    font-size: 15px;
    font-weight: bold;
}

.valueBox_new{
	border-radius:5px;
	background-color:#cccccc;
	color:#000;
	line-height: 1.6;
	font-weight: bold;
	text-align: center;
	font-size: 25px;
}
 
.value_Box1{
	height: 40px;
}

.age_Box1{
	margin-left:-8%;
}

.age_Box2{
	margin-left:48%;
}


.value_Box2_GPL20{
	height: 32px;
	margin-top: 6px;
}

.per_Year1{
	margin:0px;
	line-height: 0.9;
	font-size: 30px;
	margin-left: 10px;
}

.font_size1{
margin-left: 85px;

}

.font_size2{
	margin-right: -20px;

}

.base_Premium_dot1{
	float: left;
    margin-top: 25px;
    color: #fff;
}

.arrow_Img1{

height: 92px;

}

/* GenSavePlus20 */
.gsscroll
{
	overflow-x:hidden;
}
@media (max-width: 1025px){
	.imageWidth {
		height: 60px;
		width: 100%;
		padding-left: 4px;
	}
}

.gsfont_size_Big{
	font-size:27px;
}
.genSaveHeading{
	font-size: 48px;
    background-color: #8f1230;
    color: #fff;
    width: 48%;
    margin-top: 5%;
	line-height: 1.3;
    height: 63px;
} 
.gs_mode{
	float:left;
padding-top: 8.5%; 
margin-left: -12.5%;	
}
@media (max-width: 1025px)
{.gs_mode {
    float: left;
    padding-top: 9.5%;
    margin-left: -15%;
}
}
.gsbasic_Premium_Dot
{   top:5px; 
	float:left;
	color:#fff;
	padding-left: 1%;
    padding-top: 5.2%;
}
.gsarrow_leftright
{
	width:100%; height:15px;
}
.gsarrow_Img{

height: 75px;
    width: 37%;
    margin-left: 6px;
}
.gsbottom_percent
{
	color:#c5291d;
	font-size:27px;
}
.gsfirst_box{

top:65px;
left:18px;
color:#a81e39;
font-size: 27px;
}
.gssecond_box{

top:50px;
left:18px;
color:#e9573d;
font-size: 27px;
}
.gsthird_box{
top:40px;
left:18px;
color:#c5291d;
font-size: 27px;
}
.gsfourth_box{
top:30px;
left:18px;
color:#a81e39;
font-size: 27px;
}
.gsfive_box{
top:20px;
left:18px;
color:#e9573d;
font-size: 27px;
}
.gssix_box
{
top:10px;
left:18px;
color:#c5291d;
font-size:27px;
}
.gspremium_Period_Label{
	border-radius:10px;
	background-color:#d9e2e9;
	color: #000;
    margin: 1% 0% 0% 1%;
    height: 18px;
    line-height: 1.2;
    font-size: 15px;
    font-weight: bold;
}
.gspercent_value4
{
top: 2px;
   position: relative;
text-align:center;
}
.gsvalue_Box4{
height: 30px;
 background-color: #a81e39;
 padding-top:7px !important;
}
.gsvalue_Box4_IN{
height: 25px;
background-color: #fff;
position: absolute;
top: 25px;
left: 48px;
bottom: 5px;
right: 48px;
border-radius: 5px;
font-size: 21px;
font-weight: bold;
line-height: 1.3;
}
.gsvalue_Box5_IN
{height: 25px;
background-color: #fff;
border-radius: 5px;
margin: auto;
 position: absolute;
 top: 32px; left: 10px; bottom: 5px; right: 10px;
font-size: 21px;
font-weight: bold;
line-height: 1.2;
}
.gsvalue_Box5{
height: 45px;
 background-color: #e9573d;
 padding-top:7px !important;
}
.gsvalue_Box6{
height: 55px;
top:30px;
left:18px;
 background-color: #c5291d;
 padding-top:7px !important;
}
.gsvalue_Box7{
height: 65px;
top:20px;
left:18px;
 background-color: #a81e39;
 padding-top:7px !important;
}

.gsvalue_Box8{
height: 75px;
top:10px;
left:18px;
 background-color: #e9573d;
 padding-top:7px !important;
}
.gsvalue_Box9{
height: 85px;
top:0px;
left:18px;
 background-color: #c5291d;
 padding-top:7px !important;
}

/*Illustration Health premium table style*/

 
#glivnIlustrationopPolicyInformation .illustrationoutputtable  tr:nth-child(3) td:nth-child(1),
.illustrationoutputtable  tr:nth-child(3) td:nth-child(2){
 border-bottom: 1px solid #ccc;
}

#glivnIlustrationopPolicyInformation  .illustrationoutputtable tr:nth-child(3) td:nth-child(1),
 .illustrationoutputtable tr:nth-child(3) td:nth-child(1){
 border-right: 1px solid #fff;
}

#glivnIlustrationopPolicyInformation .illustrationoutputtable  tr:nth-child(1) td:nth-child(0),
.illustrationoutputtable  tr:nth-child(1) td:nth-child(1),
.illustrationoutputtable  tr:nth-child(1) td:nth-child(2),
.illustrationoutputtable  tr:nth-child(1) td:nth-child(3),
.illustrationoutputtable  tr:nth-child(1) td:nth-child(4){
  border-right: 1px solid #fff;
}

#glivnIlustrationopPolicyInformation8 .glivnIlustrationopPolicyInformation8  tr:nth-child(2) th:nth-child(0),
 .glivnIlustrationopPolicyInformation8 tr:nth-child(2) th:nth-child(1),
 .glivnIlustrationopPolicyInformation8 tr:nth-child(2) th:nth-child(2),
 .glivnIlustrationopPolicyInformation8  tr:nth-child(2) th:nth-child(3),
 .glivnIlustrationopPolicyInformation8 tr:nth-child(2) th:nth-child(4), .glivnIlustrationopPolicyInformation8 tr:nth-child(2) th:nth-child(5){
 background: #fff !important;
 color:#000 !important; 
 text-align: left !important;
  font-size: 19px;
 font-family: 'DBHelvethaicaRegular'; 
}

#glivnIlustrationopPolicyInformation8 .glivnIlustrationopPolicyInformation8  tr:nth-child(1) td:nth-child(0),
.glivnIlustrationopPolicyInformation8  tr:nth-child(1) td:nth-child(1){
   text-align:left;
}
/*
#illustrationoutputtable2025 .table tr:nth-child(2) td:nth-child(1),
 tr:nth-child(2) td:nth-child(2),
 tr:nth-child(3) td:nth-child(2){
 border-left:1px solid #ccc !important;
}*/

/*#illustrationoutputtable2025   
.illustrationoutputtabletab4   tr:nth-child(1) td:nth-child(1), .illustrator_details_table tr:nth-child(1) td:nth-child(2),
 .illustrator_details_table tr:nth-child(2) td:nth-child(1), .illustrator_details_table tr:nth-child(2) td:nth-child(2),
{
  border-bottom:1px solid #fff !important;
}*/



#glivnIlustrationopPolicyInformation8080 .illustrationoutputtable8080 tr:nth-child(0) td:nth-child(1), 
.illustrationoutputtable8080 tr:nth-child(1) td:nth-child(1),
.illustrationoutputtable8080 tr:nth-child(2) td:nth-child(1),.illustrationoutputtable8080 tr:nth-child(3) td:nth-child(1),
.illustrationoutputtable8080 tr:nth-child(4) td:nth-child(1),.illustrationoutputtable8080 tr:nth-child(5) td:nth-child(1),
.illustrationoutputtable8080 tr:nth-child(6) td:nth-child(1), .illustrationoutputtable8080 tr:nth-child(7) td:nth-child(1),.illustrationoutputtable8080 tr:nth-child(8) td:nth-child(1){
   text-align:left !important;
}

#glivnIlustrationopPolicyInformation8080 .illustrationoutputtable8080 tr:nth-child(4) td:nth-child(1), .illustrationoutputtable8080 tr:nth-child(4) td:nth-child(2),
 .illustrationoutputtable8080 tr:nth-child(4) td:nth-child(3),
 .illustrationoutputtable8080 tr:nth-child(5) td:nth-child(2), .illustrationoutputtable8080 tr:nth-child(5) td:nth-child(3),
.illustrationoutputtable8080 tr:nth-child(6) td:nth-child(2), .illustrationoutputtable8080 tr:nth-child(6) td:nth-child(3),
  .illustrationoutputtable8080 tr:nth-child(7) td:nth-child(2), .illustrationoutputtable8080 tr:nth-child(7) td:nth-child(3){
    border: none !important;
}

#glivnIlustrationopPolicyInformation .illustrationoutputtable  tr:nth-child(3) td:nth-child(0),
.illustrationoutputtable  tr:nth-child(3) td:nth-child(1),
.illustrationoutputtable  tr:nth-child(3) td:nth-child(2),
.illustrationoutputtable  tr:nth-child(3) td:nth-child(3),
.illustrationoutputtable  tr:nth-child(3) td:nth-child(4){
  border-right: 1px solid #fff;
}

#glivnIlustrationopPolicyInformation  .illustrationoutputtable tr:nth-child(4) td:nth-child(1),
 .illustrationoutputtable tr:nth-child(4) td:nth-child(2), .illustrationoutputtable tr:nth-child(4) td:nth-child(3),
  .illustrationoutputtable tr:nth-child(5) td:nth-child(2), .illustrationoutputtable tr:nth-child(5) td:nth-child(3),
  .illustrationoutputtable tr:nth-child(6) td:nth-child(2), .illustrationoutputtable tr:nth-child(6) td:nth-child(3),
  .illustrationoutputtable tr:nth-child(7) td:nth-child(2), .illustrationoutputtable tr:nth-child(7) td:nth-child(3){
  
    /*border: none !important;*/
}

#glivnIlustrationopPolicyInformation  .illustrationoutputtable tr:nth-child(5) td:nth-child(1),
.illustrationoutputtable  tr:nth-child(5) td:nth-child(2),.illustrationoutputtable  tr:nth-child(5) td:nth-child(3){
  border: none;
}

#glivnIlustrationopPolicyInformation  .illustrationoutputtable tr:nth-child(6) td:nth-child(1),
.illustrationoutputtable  tr:nth-child(6) td:nth-child(2), .illustrationoutputtable  tr:nth-child(6) td:nth-child(3){
  border: none;
}


#glivnIlustrationopPolicyInformation .illustrationoutputtable  tr:nth-child(7) td:nth-child(1),
 .illustrationoutputtable tr:nth-child(7) td:nth-child(2),  .illustrationoutputtable tr:nth-child(7) td:nth-child(3){
  border: none;
}


/*Rider Benefit table*/

#illustrationbenefit .illustrationoutputtabletab4 tr:nth-child(0) td:nth-child(1),
.illustrationoutputtabletab4 tr:nth-child(2) td:nth-child(2){
 border:1px solid #ccc;
}

#illustrationbenefit .illustrationoutputtabletab4 tr:nth-child(2) td:nth-child(1),
.illustrationoutputtabletab4 tr:nth-child(2) td:nth-child(2){
 border-right:1px solid #000;
}

#illustrationbenefit .illustrationoutputtabletab4 tr:nth-child(3) td:nth-child(0),
.illustrationoutputtabletab4 tr:nth-child(3) td:nth-child(1){
 border-right:1px solid #ccc;
}

#illustrationbenefit tr:nth-child(2) td:nth-child(2),
#illustrationbenefit tr:nth-child(3) td:nth-child(2), 
#illustrationbenefit tr:nth-child(4) td:nth-child(2),
#illustrationbenefit tr:nth-child(5) td:nth-child(2),
#illustrationbenefit tr:nth-child(6) td:nth-child(2), 
#illustrationbenefit tr:nth-child(7) td:nth-child(2)
{
 text-align: right !important;
}

#illustrationbenefit .illustrationoutputtabletab4 tr:nth-child(6) td:nth-child(0),
.illustrationoutputtabletab4 tr:nth-child(6) td:nth-child(1),.illustrationoutputtabletab4 tr:nth-child(6) td:nth-child(2)
{
  border-bottom:1px solid #ccc;
}

/*#illustrationbenefit .illustrationoutputtabletab4 tr:nth-child(7) td:nth-child(0),
.illustrationoutputtabletab4 tr:nth-child(7) td:nth-child(1),.illustrationoutputtabletab4 tr:nth-child(7) td:nth-child(2)
{
  border-bottom:1px solid #fff;
}*/

#illustrationbenefit .illustrationoutputtabletab4 tr:nth-child(8) td:nth-child(0),
.illustrationoutputtabletab4 tr:nth-child(8) td:nth-child(1),.illustrationoutputtabletab4 tr:nth-child(8) td:nth-child(2),
.illustrationoutputtabletab4 tr:nth-child(9) td:nth-child(1),.illustrationoutputtabletab4 tr:nth-child(9) td:nth-child(2),
.illustrationoutputtabletab4 tr:nth-child(10) td:nth-child(1),.illustrationoutputtabletab4 tr:nth-child(10) td:nth-child(2),
.illustrationoutputtabletab4 tr:nth-child(11) td:nth-child(1),.illustrationoutputtabletab4 tr:nth-child(11) td:nth-child(2)
{
 border-bottom  :1px solid #fff;
}
 
#CIRiderDeadlyDisease tbody tr{
  border:1px solid #000;
}  


#CIRiderDeadlyDisease .illustrationoutputtable3 tr:nth-child(0) td:nth-child(1),
.illustrationoutputtable3 tr:nth-child(2) td:nth-child(1),.illustrationoutputtable3 tr:nth-child(2) td:nth-child(2),
.illustrationoutputtable3 tr:nth-child(3) td:nth-child(1),.illustrationoutputtable3 tr:nth-child(3) td:nth-child(2),
.illustrationoutputtable3 tr:nth-child(4) td:nth-child(1),.illustrationoutputtable3 tr:nth-child(4) td:nth-child(2),
.illustrationoutputtable3 tr:nth-child(5) td:nth-child(1),.illustrationoutputtable3 tr:nth-child(5) td:nth-child(2),
.illustrationoutputtable3 tr:nth-child(7) td:nth-child(1),.illustrationoutputtable3 tr:nth-child(7) td:nth-child(2),
.illustrationoutputtable3 tr:nth-child(8) td:nth-child(1),.illustrationoutputtable3 tr:nth-child(8) td:nth-child(2),
.illustrationoutputtable3 tr:nth-child(9) td:nth-child(1),.illustrationoutputtable3 tr:nth-child(9) td:nth-child(2){
 border-bottom  :1px solid #ccc;
}


 
.textcenterdiv
{
  text-align: center !important;
}
.tab_passage .tab_passage_text {
border: none;
padding: 8px;
    font-size: 19px;
    font-family: 'DBHelvethaicaRegular';
}
.marginbottom20
{
  margin-bottom: 25px;
}

.illustrator_details_table th
{
  background-color: #e1afb0 !important;
font-family: 'DBHelvethaicaMedium';
font-size: 20px !important;
font-weight: normal !important;
color:#fff !important;
text-align: left !important;
padding-left: 10px !important;
}

.illustration_box
{
  border: 1px solid #000;
  background-color: #e1afb0 !important;
  font-family: 'DBHelvethaicaMedium';
font-size: 20px !important;
font-weight: normal !important;
color:#fff !important;
}

#exitbtnpersonal
{
  margin-bottom:20px;
}

.v-align.single-box.short  span {
  width: 200px !important;
}

#gemilangProductCarousel .carousel-indicators li {
	border: 1px solid #999;
}

#genCompleteHealth80Carousel  .carousel-indicators li {
	border: 1px solid #999;
}

#genProLifeCarousel  .carousel-indicators li {
	border: 1px solid #999;
}
#genProLife25Carousel  .carousel-indicators li {
	border: 1px solid #999;
}
#genSave20PlusCarousel  .carousel-indicators li {
	border: 1px solid #999;
}
#wholeLifeCarousel .carousel-indicators li {
	border: 1px solid #999;
}
#genSave10PlusCarousel .carousel-indicators li {
	border: 1px solid #999;
}
#genSave4PlusCarousel .carousel-indicators li {
	border: 1px solid #999;
}
.fontWeightBold {
	font-weight: bold !important;
	font-size: 23px !important;
	font-family: 'DBHelvethaicaRegular';
}

.table_wrap_text
{
  word-break: break-word;
}

#illustrationbenefit .illustrationoutputtabletab4 tr:nth-child(0) td:nth-child(1),
.illustrationoutputtabletab4 tr:nth-child(2) td:nth-child(2){
 border:1px solid #ccc;
}

#illustrationbenefit1 
 .illustrationbenefit1 tr:nth-child(2) td:nth-child(1), .illustrationbenefit1 tr:nth-child(2) td:nth-child(2),
 .illustrationbenefit1 tr:nth-child(2) td:nth-child(1), .illustrationbenefit1 tr:nth-child(2) td:nth-child(2),
 .illustrationbenefit1 tr:nth-child(3) td:nth-child(1), .illustrationbenefit1 tr:nth-child(3) td:nth-child(2),
 .illustrationbenefit1 tr:nth-child(4) td:nth-child(1), .illustrationbenefit1 tr:nth-child(4) td:nth-child(2),
 .illustrationbenefit1 tr:nth-child(5) td:nth-child(1), .illustrationbenefit1 tr:nth-child(5) td:nth-child(2),
 .illustrationbenefit1 tr:nth-child(7) td:nth-child(1), .illustrationbenefit1 tr:nth-child(7) td:nth-child(2),
 .illustrationbenefit1 tr:nth-child(8) td:nth-child(1), .illustrationbenefit1 tr:nth-child(8) td:nth-child(2),
 .illustrationbenefit1 tr:nth-child(9) td:nth-child(1), .illustrationbenefit1 tr:nth-child(9) td:nth-child(2),
  .illustrationbenefit1 tr:nth-child(10) td:nth-child(1), .illustrationbenefit1 tr:nth-child(10) td:nth-child(2),
   .illustrationbenefit1 tr:nth-child(11) td:nth-child(1), .illustrationbenefit1 tr:nth-child(11) td:nth-child(2)
{
 border-bottom:1px solid #fff !important; 
}

#illustrationbenefit1 .illustrationbenefit1 tr:nth-child(0) td:nth-child(2),
 .illustrationbenefit1 tr:nth-child(1) td:nth-child(2),
 .illustrationbenefit1 tr:nth-child(2) td:nth-child(2),
 .illustrationbenefit1 tr:nth-child(3) td:nth-child(2),
 .illustrationbenefit1 tr:nth-child(4) td:nth-child(2),
 .illustrationbenefit1 tr:nth-child(5) td:nth-child(2),
 .illustrationbenefit1 tr:nth-child(6) td:nth-child(2),
 .illustrationbenefit1 tr:nth-child(7) td:nth-child(2),
 .illustrationbenefit1 tr:nth-child(8) td:nth-child(2),
 .illustrationbenefit1 tr:nth-child(9) td:nth-child(2),
 .illustrationbenefit1 tr:nth-child(10) td:nth-child(2),
 .illustrationbenefit1 tr:nth-child(11) td:nth-child(2),
 .illustrationbenefit1 tr:nth-child(12) td:nth-child(2),
 .illustrationbenefit1 tr:nth-child(13) td:nth-child(2)
{
 text-align:right !important; 
}

#illustrationoutputtable2025 
 .illustrationoutputtable2025 tr:nth-child(2) td:nth-child(1), .illustrationoutputtable2025 tr:nth-child(2) td:nth-child(2),
 .illustrationoutputtable2025 tr:nth-child(2) td:nth-child(1), .illustrationoutputtable2025 tr:nth-child(2) td:nth-child(2),
 .illustrationoutputtable2025 tr:nth-child(3) td:nth-child(1), .illustrationoutputtable2025 tr:nth-child(3) td:nth-child(2),
 .illustrationoutputtable2025 tr:nth-child(4) td:nth-child(1), .illustrationoutputtable2025 tr:nth-child(4) td:nth-child(2),
 .illustrationoutputtable2025 tr:nth-child(5) td:nth-child(1), .illustrationoutputtable2025 tr:nth-child(5) td:nth-child(2),
 .illustrationoutputtable2025 tr:nth-child(7) td:nth-child(1), .illustrationoutputtable2025 tr:nth-child(7) td:nth-child(2),
 .illustrationoutputtable2025 tr:nth-child(8) td:nth-child(1), .illustrationoutputtable2025 tr:nth-child(8) td:nth-child(2),
 .illustrationoutputtable2025 tr:nth-child(13) td:nth-child(1), .illustrationoutputtable2025 tr:nth-child(13) td:nth-child(2),
 .illustrationoutputtable2025 tr:nth-child(14) td:nth-child(1), .illustrationoutputtable2025 tr:nth-child(14) td:nth-child(2),
 .illustrationoutputtable2025 tr:nth-child(15) td:nth-child(1), .illustrationoutputtable2025 tr:nth-child(15) td:nth-child(2),
 .illustrationoutputtable2025 tr:nth-child(16) td:nth-child(1), .illustrationoutputtable2025 tr:nth-child(16) td:nth-child(2),
 .illustrationoutputtable2025 tr:nth-child(17) td:nth-child(1), .illustrationoutputtable2025 tr:nth-child(17) td:nth-child(2)
{
 border-bottom:1px solid #fff !important; 
}

#illustrationoutputtable2025 .illustrationoutputtable2025 tr:nth-child(0) td:nth-child(2),
 .illustrationoutputtable2025 tr:nth-child(1) td:nth-child(2),
 .illustrationoutputtable2025 tr:nth-child(2) td:nth-child(2),
 .illustrationoutputtable2025 tr:nth-child(3) td:nth-child(2),
 .illustrationoutputtable2025 tr:nth-child(4) td:nth-child(2),
 .illustrationoutputtable2025 tr:nth-child(5) td:nth-child(2),
 .illustrationoutputtable2025 tr:nth-child(6) td:nth-child(2),
 .illustrationoutputtable2025 tr:nth-child(7) td:nth-child(2),
 .illustrationoutputtable2025 tr:nth-child(8) td:nth-child(2),
 .illustrationoutputtable2025 tr:nth-child(9) td:nth-child(2),
 .illustrationoutputtable2025 tr:nth-child(10) td:nth-child(2),
 .illustrationoutputtable2025 tr:nth-child(11) td:nth-child(2),
 .illustrationoutputtable2025 tr:nth-child(12) td:nth-child(2),
 .illustrationoutputtable2025 tr:nth-child(13) td:nth-child(2),
 .illustrationoutputtable2025 tr:nth-child(14) td:nth-child(2),
 .illustrationoutputtable2025 tr:nth-child(15) td:nth-child(2),
 .illustrationoutputtable2025 tr:nth-child(16) td:nth-child(2),
 .illustrationoutputtable2025 tr:nth-child(17) td:nth-child(2)
{
 text-align:right !important; 
}

#illustrationoutputtable2025 
  
 .illustrationoutputtable2025 tr:nth-child(17) td:nth-child(2)
{
 text-align:left !important; 
}


#illustrationbenefit25 .illustrationbenefit25 tr:nth-child(2) td:nth-child(1),
.illustrationbenefit25 tr:nth-child(2) td:nth-child(1), .illustrationbenefit25 tr:nth-child(2) td:nth-child(2),
.illustrationbenefit25 tr:nth-child(3) td:nth-child(1), .illustrationbenefit25 tr:nth-child(3) td:nth-child(2),
.illustrationbenefit25 tr:nth-child(4) td:nth-child(1), .illustrationbenefit25 tr:nth-child(4) td:nth-child(2),
.illustrationbenefit25 tr:nth-child(5) td:nth-child(1), .illustrationbenefit25 tr:nth-child(5) td:nth-child(2),
.illustrationbenefit25 tr:nth-child(6) td:nth-child(1), .illustrationbenefit25 tr:nth-child(6) td:nth-child(2){
border-bottom:1px solid #fff !important;
}

#illustrationbenefit25 .illustrationbenefit25   .illustrationbenefit25 tr:nth-child(0) td:nth-child(1), .illustrationbenefit25 tr:nth-child(1) td:nth-child(1),
 .illustrationbenefit25 tr:nth-child(2) td:nth-child(1),.illustrationbenefit25 tr:nth-child(3) td:nth-child(1),
.illustrationbenefit25 tr:nth-child(4) td:nth-child(1), .illustrationbenefit25 tr:nth-child(5) td:nth-child(1), .illustrationbenefit25 tr:nth-child(6) td:nth-child(1),
.illustrationbenefit25 tr:nth-child(7) td:nth-child(1){
text-align: left  !important;
}



#illustrationbenefit .illustrationoutputtabletab4 tr:nth-child(2) td:nth-child(1),
.illustrationoutputtabletab4 tr:nth-child(2) td:nth-child(1), .illustrationoutputtabletab4 tr:nth-child(2) td:nth-child(2),
.illustrationoutputtabletab4 tr:nth-child(3) td:nth-child(1), .illustrationoutputtabletab4 tr:nth-child(3) td:nth-child(2),
.illustrationoutputtabletab4 tr:nth-child(4) td:nth-child(1), .illustrationoutputtabletab4 tr:nth-child(4) td:nth-child(2),
.illustrationoutputtabletab4 tr:nth-child(5) td:nth-child(1), .illustrationoutputtabletab4 tr:nth-child(5) td:nth-child(2),
.illustrationoutputtabletab4 tr:nth-child(7) td:nth-child(1), .illustrationoutputtabletab4 tr:nth-child(7) td:nth-child(2),
.illustrationoutputtabletab4 tr:nth-child(8) td:nth-child(1), .illustrationoutputtabletab4 tr:nth-child(8) td:nth-child(2),
.illustrationoutputtabletab4 tr:nth-child(9) td:nth-child(1), .illustrationoutputtabletab4 tr:nth-child(9) td:nth-child(2),
.illustrationoutputtabletab4 tr:nth-child(10) td:nth-child(1), .illustrationoutputtabletab4 tr:nth-child(10) td:nth-child(2),
.illustrationoutputtabletab4 tr:nth-child(11) td:nth-child(1), .illustrationoutputtabletab4 tr:nth-child(11) td:nth-child(2){
border-bottom:1px solid #fff !important;
}

#illustrationbenefit .illustrationoutputtabletab4 tr:nth-child(2) td:nth-child(1),
.illustrationoutputtabletab4 tr:nth-child(6) td:nth-child(1), .illustrationoutputtabletab4 tr:nth-child(6) td:nth-child(2){
border-bottom:1px solid #ccc !important;
} 



#illustrationbenefit20plus 
 .illustrationbenefit20plus tr:nth-child(2) td:nth-child(1), .illustrationbenefit20plus tr:nth-child(2) td:nth-child(2),
 .illustrationbenefit20plus tr:nth-child(2) td:nth-child(1), .illustrationbenefit20plus tr:nth-child(2) td:nth-child(2),
 .illustrationbenefit20plus tr:nth-child(3) td:nth-child(1), .illustrationbenefit20plus tr:nth-child(3) td:nth-child(2),
 .illustrationbenefit20plus tr:nth-child(4) td:nth-child(1), .illustrationbenefit20plus tr:nth-child(4) td:nth-child(2),
 .illustrationbenefit20plus tr:nth-child(5) td:nth-child(1), .illustrationbenefit20plus tr:nth-child(5) td:nth-child(2),
 .illustrationbenefit20plus tr:nth-child(6) td:nth-child(1), .illustrationbenefit20plus tr:nth-child(6) td:nth-child(2),
 .illustrationbenefit20plus tr:nth-child(7) td:nth-child(1), .illustrationbenefit20plus tr:nth-child(7) td:nth-child(2),
 .illustrationbenefit20plus tr:nth-child(12) td:nth-child(1), .illustrationbenefit20plus tr:nth-child(12) td:nth-child(2),
 .illustrationbenefit20plus tr:nth-child(13) td:nth-child(1), .illustrationbenefit20plus tr:nth-child(13) td:nth-child(2),
 .illustrationbenefit20plus tr:nth-child(14) td:nth-child(1), .illustrationbenefit20plus tr:nth-child(14) td:nth-child(2),
 .illustrationbenefit20plus tr:nth-child(15) td:nth-child(1), .illustrationbenefit20plus tr:nth-child(15) td:nth-child(2),
 .illustrationbenefit20plus tr:nth-child(16) td:nth-child(1), .illustrationbenefit20plus tr:nth-child(16) td:nth-child(2)    
{
 border-bottom:1px solid #fff !important;
}

#illustrationbenefit20plus .illustrationbenefit20plus tr:nth-child(0) td:nth-child(2),
 .illustrationbenefit20plus tr:nth-child(1) td:nth-child(2),
 .illustrationbenefit20plus tr:nth-child(2) td:nth-child(2),
 .illustrationbenefit20plus tr:nth-child(3) td:nth-child(2),
 .illustrationbenefit20plus tr:nth-child(4) td:nth-child(2),
 .illustrationbenefit20plus tr:nth-child(5) td:nth-child(2),
 .illustrationbenefit20plus tr:nth-child(6) td:nth-child(2),
 .illustrationbenefit20plus tr:nth-child(7) td:nth-child(2),
 .illustrationbenefit20plus tr:nth-child(8) td:nth-child(2),
 .illustrationbenefit20plus tr:nth-child(9) td:nth-child(2),
 .illustrationbenefit20plus tr:nth-child(10) td:nth-child(2),
 .illustrationbenefit20plus tr:nth-child(11) td:nth-child(2),
 .illustrationbenefit20plus tr:nth-child(12) td:nth-child(2),
 .illustrationbenefit20plus tr:nth-child(13) td:nth-child(2),
 .illustrationbenefit20plus tr:nth-child(14) td:nth-child(2),
 .illustrationbenefit20plus tr:nth-child(15) td:nth-child(2),
 .illustrationbenefit20plus tr:nth-child(16) td:nth-child(2),
  .illustrationbenefit20plus tr:nth-child(17) td:nth-child(2)
{
 text-align:right !important; 
}

/*#illustrationbenefit20plus 
  
 .illustrationbenefit20plus tr:nth-child(11) td:nth-child(2)
{
 text-align:left !important; 
}*/

 #illustrationbenefit1 .illustrationbenefit1
 tr:nth-child(7) td:nth-child(1), .illustrationbenefit1 tr:nth-child(7) td:nth-child(2){
 border-top:1px solid #ccc !important;
  
}

/*#illustrationbenefit .illustrationoutputtabletab4 tr:nth-child(2) td:nth-child(1),
.illustrationoutputtabletab4 tr:nth-child(6) td:nth-child(1), .illustrationoutputtabletab4 tr:nth-child(6) td:nth-child(2){
 border-bottom:1px solid #fff !important;
}
*/
#illustrationbenefit .illustrationoutputtabletab4 tr:nth-child(2) td:nth-child(1),
.illustrationoutputtabletab4 tr:nth-child(2) td:nth-child(2),
.illustrationoutputtabletab4 tr:nth-child(3) td:nth-child(2),
.illustrationoutputtabletab4 tr:nth-child(4) td:nth-child(2),
.illustrationoutputtabletab4 tr:nth-child(5) td:nth-child(2),
.illustrationoutputtabletab4 tr:nth-child(6) td:nth-child(2),
.illustrationoutputtabletab4 tr:nth-child(8) td:nth-child(2),
.illustrationoutputtabletab4 tr:nth-child(9) td:nth-child(2),
.illustrationoutputtabletab4 tr:nth-child(10) td:nth-child(2),
.illustrationoutputtabletab4 tr:nth-child(11) td:nth-child(2),
.illustrationoutputtabletab4 tr:nth-child(12) td:nth-child(2){
 border-left:1px solid #ccc !important;
}

#illustrationbenefit .illustrationoutputtabletab4 tr:nth-child(2) td:nth-child(1),
.illustrationoutputtabletab4 tr:nth-child(2) td:nth-child(2),
.illustrationoutputtabletab4 tr:nth-child(3) td:nth-child(2),
.illustrationoutputtabletab4 tr:nth-child(4) td:nth-child(2),
.illustrationoutputtabletab4 tr:nth-child(5) td:nth-child(2),
.illustrationoutputtabletab4 tr:nth-child(6) td:nth-child(2),
.illustrationoutputtabletab4 tr:nth-child(8) td:nth-child(2),
.illustrationoutputtabletab4 tr:nth-child(9) td:nth-child(2),
.illustrationoutputtabletab4 tr:nth-child(10) td:nth-child(2),
.illustrationoutputtabletab4 tr:nth-child(11) td:nth-child(2),
.illustrationoutputtabletab4 tr:nth-child(12) td:nth-child(2){
 text-align: right;
}

#illustrationbenefit .illustrationoutputtabletab4 tr:nth-child(2) td:nth-child(1),
.illustrationoutputtabletab4 tr:nth-child(7) td:nth-child(2),
.illustrationoutputtabletab4 tr:nth-child(8) td:nth-child(2),
.illustrationoutputtabletab4 tr:nth-child(9) td:nth-child(2),
.illustrationoutputtabletab4 tr:nth-child(10) td:nth-child(2),
.illustrationoutputtabletab4 tr:nth-child(11) td:nth-child(2),
.illustrationoutputtabletab4 tr:nth-child(12) td:nth-child(2){
 border-left:1px solid #ccc !important;
}

.tab_passage 
{
  font-size: 19px;
    font-family: 'DBHelvethaicaRegular';
}

 
#IlustrationopPolicybenefittable tbody tr:nth-child(0) td:nth-child(2),
 tr:nth-child(1) td:nth-child(2),
 tr:nth-child(2) td:nth-child(2),
 tr:nth-child(3) td:nth-child(2),
 tr:nth-child(4) td:nth-child(2),
 tr:nth-child(5) td:nth-child(2),
 tr:nth-child(6) td:nth-child(2),
 tr:nth-child(7) td:nth-child(2),
 tr:nth-child(8) td:nth-child(2),
 tr:nth-child(9) td:nth-child(2)
{
 /* text-align: right;*/
}

#glivnIlustrationopPolicyInformation .illustrationoutputtable  tr:nth-child(1) td:nth-child(0),
.illustrationoutputtable  tr:nth-child(2) td:nth-child(1),
.illustrationoutputtable  tr:nth-child(4) td:nth-child(1),
.illustrationoutputtable  tr:nth-child(5) td:nth-child(1),
.illustrationoutputtable  tr:nth-child(6) td:nth-child(1),
.illustrationoutputtable  tr:nth-child(7) td:nth-child(1),
.illustrationoutputtable  tr:nth-child(8) td:nth-child(1),
.illustrationoutputtable  tr:nth-child(9) td:nth-child(1),
.illustrationoutputtable  tr:nth-child(10) td:nth-child(1),
.illustrationoutputtable  tr:nth-child(11) td:nth-child(1),
.illustrationoutputtable  tr:nth-child(12) td:nth-child(1),
.illustrationoutputtable  tr:nth-child(13) td:nth-child(1),
.illustrationoutputtable  tr:nth-child(14) td:nth-child(1){
font-weight:bold;
text-align: left !important;
}
#glivnIlustrationopPolicyInformation .illustrationoutputtable  tr:nth-child(1) td:nth-child(0),
.illustrationoutputtable  tr:nth-child(1) td:nth-child(1),
.illustrationoutputtable  tr:nth-child(3) td:nth-child(1){
text-align: left !important;
}

#glivnIlustrationopPolicyInformation   tr:nth-child(1) td:nth-child(1){
text-align: left !important;
}

#IlustrationopPolicybenefittable tbody tr:nth-child(0) td:nth-child(2),
  tr:nth-child(1) td:nth-child(3),
 tr:nth-child(1) td:nth-child(4),  tr:nth-child(1) td:nth-child(5)
{
  /*text-align: right;*/
}
 
.illustrator_details_table tbody td
{
  text-align: right;
}

#illustrationbenefit tr:nth-child(1) td:nth-child(2),#illustrationbenefit tr:nth-child(3) td:nth-child(2), #illustrationbenefit tr:nth-child(4) td:nth-child(2),#illustrationbenefit tr:nth-child(5) td:nth-child(2),#illustrationbenefit tr:nth-child(6) td:nth-child(2), #illustrationbenefit tr:nth-child(7) td:nth-child(2), #illustrationbenefit tr:nth-child(8) td:nth-child(2), #illustrationbenefit tr:nth-child(9) td:nth-child(2), #illustrationbenefit tr:nth-child(10) td:nth-child(2), #illustrationbenefit tr:nth-child(12) td:nth-child(2)
{
 text-align: right !important;
}

#IlustrationopPolicybenefittable tr:nth-child(1) td:nth-child(2),#IlustrationopPolicybenefittable tr:nth-child(2) td:nth-child(2),#IlustrationopPolicybenefittable tr:nth-child(3) td:nth-child(2), 
#IlustrationopPolicybenefittable tr:nth-child(4) td:nth-child(2),#IlustrationopPolicybenefittable tr:nth-child(5) td:nth-child(2),
#IlustrationopPolicybenefittable tr:nth-child(6) td:nth-child(2), #IlustrationopPolicybenefittable tr:nth-child(7) td:nth-child(2),#IlustrationopPolicybenefittable tr:nth-child(8) td:nth-child(2),#IlustrationopPolicybenefittable tr:nth-child(9) td:nth-child(2)
{
 text-align: right !important;
}

.illustrationListing-table{
    margin-top: 55px;
}

#illustrationListing  tr:nth-child(1) td:nth-child(1),
#illustrationListing tr:nth-child(1) td:nth-child(2),
#illustrationListing  tr:nth-child(1) td:nth-child(3),
#illustrationListing tr:nth-child(1) td:nth-child(4),
#illustrationListing  tr:nth-child(1) td:nth-child(5),
#illustrationListing tr:nth-child(1) td:nth-child(6),
#illustrationListing  tr:nth-child(1) td:nth-child(7),
#illustrationListing tr:nth-child(1) td:nth-child(8),
#illustrationListing  tr:nth-child(1) td:nth-child(9),
#illustrationListing tr:nth-child(1) td:nth-child(10),#illustrationListing  tr:nth-child(1) td:nth-child(11),
#illustrationListing  tr:nth-child(1) td:nth-child(12)
{

padding-top:20px;
padding-bottom:20px

}

#glivnIlustrationopPolicyInformation, #illustrationpolicyvaluetable thead tr th {
text-align: center;
}

.illustrator_details_table thead tr th {
text-align: center !important;
}

#illustrationpolicyvaluetable thead tr th {
    text-align: center !important;
}

.illustrator_table_head th {
    text-align: center !important;
} 

.makeaCopy_btn 
{
  width: 23.5% !important;
}

.constrained {
    /*height:500px;*/
    overflow-y:scroll;
}
@media (min-width: 1200px){
  .constrained {
    height:500px;
    overflow-y:scroll;
}
}

 .illustration_fixed_header
 {
  position: absolute;z-index: 1001;display: inline-block;top: 0px;
 }
 
 .tooltip_Height{
	 padding-top:0px !important
 }
.msg-content-popup
{
    margin-top: 0px;
font-family: 'DBHelvethaicaRegular';
font-size: 19px;
background: #fff;
}

.btn-color{
    border: 1px solid #f4644c;
    background: #C21B17 !important;
    color: #fff !important;
}
.margintop0
{
    margin-top: 0px;
}

.textExpand{
    width: 16.90% !important;
}

.font24{
  font-size: 24px;
}

/* -- EApplication -Ashok start*/
.flt-left{
  float: left !important;
}
.flt-right{
  float: right !important;
}
/*.fixed-header-block{
  background: #fff;
  position: fixed !important;
  z-index: 99999;
  height: 55px;
  width: 97.2% !important;
  padding: 8px 15px;
  border-bottom: 1px solid #EEE9E9 !important;
  padding-top:10px;
}*/
#HeadFixedAppBlock{
background: #fff;
position: absolute !important;
z-index: 99;
height: 55px;
top: 18px;
width: 95.2% !important;
padding: 8px 15px;
margin-top: 0;
border-bottom: 1px solid #EEE9E9 !important;
}

#AgentTrinee .accordion-inner {
  background: #fff;
}
#AgentTrineePayer{
   top:28px;
}
.Appnolabel{
  position: absolute !important;
  left:15px;
}
.InsuredFullName input{
  border: none !important;
  pointer-events: none;
  text-transform: capitalize;
  font-weight: bold;
  left: -40%;
  margin-top: -1%;
}
.hideBlock{
  display: none !important;
}
#PolicyHolderSubTab0 + .accordion{
margin-top: 55px;
}
.Beneficary-Benefit{
  float: right;
  width: 44%;
}
.Beneficary-Benefit .span5.two-column{
    width:100% !important;
}

.idCardNo{
    float: none !important;
    width: 100% !important;
}
.span12.PassportNo-column{
    width:46% !important;
}
.PassportNo .span5.two-column{
    width:100% !important;
}
.span5.two-column.futureDate{
    width: 44% !important;
}
#buyOnlineTabs .column-group-two:nth-child(even).idCardNo .span5.two-column{
  width: 46% !important;
} 
.Beneficary-Age{
    float:none !important;
    width:46% !important;
}
.Agent-code-blk{
  margin-top:35px;
  margin-left: 4.3% !important;
}
.Agent-code-blk .span7{
  margin-left: 4.4% !important;
}/* -- EApplication -Ashok -end */
.btnCustomDrop{
    background-color: #C21B17;
    border: none;
    background-image: linear-gradient(to bottom, #c32a24, #c32a24);
    height: 30px;
    width: 30px;
}
.fontfamily_DBHRegular{
	font-size: 19px !important;
    font-family: 'DBHelvethaicaRegular';
}
.grp-btn{
  width: 91px !important;
}
.grp-btn-width{
  margin-left: 0% !important;
}
@media (max-width: 1024px) {
	.btn-grpslist{
      margin-left: 2%;
  	}
  	.grp-btn-width{
  		margin-left: 5% !important;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  
{
	.product-listing-page .productImgSize{
		 width: 68% !important;
	}
  .illustrationListing-table{
    margin-top: 26px;
}
    
}

.eapp-header-static{
    margin: 20px 20px 0px 20px;
    background: #fff;
    height: auto;
    padding: 20px 40px 0px 29px;
    position: relative;
    top: 17px;
    z-index: 99;
}
.eAppTraineeAgent{
    margin-left:14px !important;
}
.pointer-event-cancel{
    border: none !important;
    pointer-events: none;
    text-transform: none;
    font-weight: bold;
    margin-top: -1%;
}

.memo-header-static{
    margin: -8px 3px 39px 0px;
    background: #fff;
    min-height: 33px;
    padding: 11px;
    position: relative;
    top: 27px;
    z-index: 1001;
    font-family:'DBHelvethaicaLight';
    font-size: 18px;
	float: left;
    width: 98%;
}

.right-pos{
    margin-left: -333px;
}

.left-pos{
    margin-right: 226px;
}

.spacingnum{
    padding-left: 20px;
}

@media (max-width: 1200px) and (min-width: 1024px){
    .left-pos{
    margin-right: 471px;
}
    .right-pos{
    margin-left: -315px;
}
    .spacingnum{
    padding-left: 16px;
}
    
/*
    #totalPremium .paddingLeft180{
    padding-left:192px !important;
    font-weight: bold !important;
    left: -124px !important;    
}
*/
}

.memofullnameheader{
    margin-left: -484px;
}

/*
#totalPremium .paddingLeft180{
    padding-left:246px !important;
    font-weight: bold;
    left: -124px !important;  
}
*/

/*
#totalPremium label :nth-child(1){
font-weight: bold;
} 
*/


#productriderDetails {
    margin-top: 10px;
    padding-left: 20px;
padding-right: 20px;
}


.popup {
    cursor: pointer;
    display:block !important;
    position: relative;
     }

 .popuptext {
     background: #ffffff !important;
     width: 240px;
     display: none;
     position: absolute;
     top:-72px;
     right: 95px;
     bottom:-56px;
     z-index: 209;
     
   }

.statusentry{
    list-style: none;
    margin: 0;
    padding: 0;
}

.statusrow{
    border: 1px solid;
    height: auto;
   border-color: #555;
}

/*.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}*/

.space{
    padding-left: 130px;
}


#myPopup .mydisplay{
    display: inline;
}
.popup-container{
    background-color: #fff;
    box-shadow: 0px 0px 25px #000;
    min-height: 180px;
    width: 350px;
    display: none;
    position: absolute;
    right: 150px;
}
.popup-header{
    padding: 10px;
    background: #eee;
    color: #c32a24;
    font-size: 15px;
    font-weight: 600;
}
.popup-header i{
    float: right;
    font-weight: 100;
    font-size: 25px;
}
.popup-padding{
    padding: 10px 0px;
}
.questnar{
	margin-bottom: 10px;
	float:right !important;
}
.questnar .inline-block .btn {
	width: 40px;
	margin-left: 10px;
}
.questionnaire-lifestyle
{
	width: 220px;
    display: block;
}
#close_GAO_popup {
	float: right;
    padding: 5px;
}
#login_popup_info.GAO-popup {
    margin-top: 8%;
}
.GAO-popup .modal-body p {
    margin-top: 10px;
    font-size: 24px;
}
.GAO-popup  .illustration-details {
    width: 93%;
	border: solid 1px #ccc;
}
.sectionBlock span{
    display: inline-block;
    width: 50%;
    text-align: left;
}
.RedColor {
    color: #FF2424;
}
.eTRgenerationClass {
  margin-left: 2% !important;
  width: 95% !important;
}
.eTRgenerationLabelClass {
  padding-left: 2% !important;
}

@media (max-width: 960px) {
	.relative_img_wrapper{
		width:700px;
	}
	.genSave10Plus_ImageTextWrapping1 {
		/*right:200px; */
		right:190px; 
		top:128px; 
	}
	.genSave10Plus_ImageTextWrapping2 {
		/*left:225px; */
		left:210px; 
		top:364px; 
	}
	
	.genSave10Plus_ImageTextWrapping3 {
		/*left:370px;  */
		left:350px;
		top:396px; 
	}
	.genSave4Plus_ImageTextWrapping1 {
		/*right:200px; */
		right:190px; 
		top:128px; 
	}
	.genSave4Plus_ImageTextWrapping2 {
		/*left:225px; */
		left:210px; 
		top:364px; 
	}
	
	.genSave4Plus_ImageTextWrapping3 {
		/*left:370px;  */
		left:350px;
		top:396px; 
	}
}