
{{#ifCond templateID "emailTemplate"}}

			<U><h2>{{composeHeader}} : -</h2></U>

			{{#ifCond type "Issue"}}
				
				<p>- {{moduleTitle}} : {{moduleName}}</p>
				<p>- {{screenTitle}} : {{screenName}}</p>
				
			{{/ifCond}}
			
				<p>- {{descriptionTitle}} : {{description}}</p>
				<p>- {{contactNumberTitle}} : {{contactNumber}}</p>
				
			<U><h2>{{agentDetails}} : -</h2></U>
			
			<p>- {{agentCodeTitle}} : {{agentCode}}</p>
			<p>- {{agentNameTitle}} : {{agentName}}</p>
		
			<br> 
			{{emailFooter}} 
		
 {{/ifCond}}
	
{{#ifCond templateID "attachDeviceFileTemplate"}}
		
					  *********************************************
					 
					    	{{deviceInformation}} 
					 
					  *********************************************
					 
					
						{{devicePlatform}}     -   {{deviceInfo.platform}}
						
						{{deviceVersion}}      -   {{deviceInfo.version}}
						
						{{deviceVersionModel}} -   {{deviceInfo.model}}
						
					 	{{deviceUUID}}         -   {{deviceInfo.uuid}}
					 
					
					  *********************************************
{{/ifCond}}	 	

{{#ifCond templateID "attachBrowserFileTemplate"}}

					  *********************************************
					 
					    	    {{browserInformation}} 
					 
					  *********************************************
					 
					
						{{browserName}}     -   {{browserInfo.browserName}}												
						
						{{browserVersion}}  -   {{browserInfo.browserVersion}}
						
						{{language}} 		-	{{browserInfo.language}}
						
					 	{{platform}}        -   {{browserInfo.platform}}
					 
					
					  *********************************************
					
{{/ifCond}}
