<div>
	<div class="modal-backdrop fade" ng-class="{'in':control.show}" ng-show="control.show"></div>
	<div ng-show="control.show" ng-class="{'center_pop_up':control.show}">
		<div  class="modal le-popup-control hide fade auto-height animated fadeInDownBig"  ng-class="{'in':control.show}" ng-class="control.show" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header bg-white"> 
                <p  class="marginTop_GPL20 msg-icon {{control.icon}}" ></p>
<!--
				<span class="modal-header-title">{{control.header}}</span>
				<button type="button" class="close hidden-phone hidden-tab" data-dismiss="modal" aria-hidden="true" ng-hide="control.blockingPopup" ng-click="control.closeFunction()">&times;</button>
-->
			</div>
			<div class="modal-body text-center">
				<!-- <h2 class="subheading hidden-phone" >{{control.header}}</h2> -->
					
				<p class="msg-content-popup"><span>{{control.message}}</span></p>
			    <p bind-once ng:repeat="list in control.listDetails" class="listItem" ng-show="control.isDisplayList" on-finish-render="ngRepeatFinished">{{list}}</p>
				<p>
					<textarea ng-show="control.textAreaShow" readonly>{{control.listDetails}}</textarea>
				</p>
				<div class="row-fluid" ng-class="{'center_pop_up':control.show}">
					<div class="span12">
						<div class="btn-wrapper text-center">
							<button class="btn inline-block btn-color span10" ng-click="control.callBackPositive()"  ng-hide="control.blockingPopup" >{{control.button1Label}}</button>
							<button class="btn inline-block btn-color span10" ng-click="control.callBackNegative()"  ng-show="control.button2Show">{{control.button2Label}}</button>
<!--							<button class="btn inline-block btn-color margintop0 span10" ng-click="control.showDetails()"  ng-show="control.button3Show" >{{control.button3Label}}</button>-->
						</div>
					</div>
				</div>
                
                
				<div class="spacing"></div>
			</div>
		</div>
	</div>
</div>