<div class="lead-media-wrapper" ng-hide="$parent.$parent.showMap">
	<div class='leadcommunication'>
		<div class='leadheader clearfix'>
			<i1 class="fa" ng-show="!$root.isWeb" ng-class="{'fa-check circle-green': currentItem.Key16== 'Synced'|| currentItem.Key16== 'SUCCESS', 'fa-close circle-red': currentItem.Key16 == 'SyncError'|| currentItem.Key16== 'REJECTED' || currentItem.Key16 == 'FAILURE','fa-refresh circle-yellow': currentItem.Key16 == 'NotSynced' || currentItem.Key16 == ''}"></i1>
			<span>[[currentItem.fullName]]</span>
			<i2 class='popupclose' ng-click='closeClick()' >&times</i2>
		</div>
		<table class='statustable'>
			<thead>
			<th><span translate=Status></span></th>
			<th><span translate=Potential></span></th>
			</thead>
			<tr>
				<td translate = "[[currentItem.Key15]]"></td>
				<td translate = "[[currentItem.Key18]]"></td>
			</tr>
		</table>
		<div class='socialmedia' ng-hide="userType == 'BranchUser'"  ng-class="{'withMap':showMapIcon}"><!--   for branch user-->
			<table>
				<tr class='mediaicons' >
					<td width='90'class='text-center med-padding'><a class="disable-ipad"  ng-class="{'disabled-icons' :$root.isWeb}" href='tel:[[currentItem.Key4]]'><img  src='css/generali-theme/img/icon/call.png' alt='call' width='30' ></a></td>
					<td width='90' class='text-center med-padding'><a href='mailto:[[currentItem.Key20]]'><img src='css/generali-theme/img/icon/Mail.png' alt='sms' width='30' ></a></td>
					<td width='90' class='text-center med-padding' ><a  ng-class="{'disabled-icons' :$root.isWeb}" href='sms:[[currentItem.Key4]]'><img src='css/generali-theme/img/icon/sms_mob.png' alt='sms' width='30' ></a></td>
				</tr>
				<tr>
					<td class='text-center small-padding '><span class='disable-ipad'  ng-class="{'disabled-icons' :$root.isWeb}">Call</span></td>
					<td class='text-center small-padding'><span class='' ng-class="{'disabled-icons' :$root.isWeb}">Email</span></td>
					<td class='text-center small-padding'><span class=''  ng-class="{'disabled-icons' :$root.isWeb}">SMS</span></td>
				</tr>
				<tr class='mediaicons'>
					<td width='90' class='text-center med-padding'><a ng-class="{'disabled-icons' :$root.isWeb}" href='whatsapp://send?text=TextHere'><img src='css/generali-theme/img/icon/whatsapp.png' alt='whatsapp' width='30' ></a></td>
					<td width='90' class='text-center med-padding'><a  ng-class="{'disabled-icons' :$root.isWeb}" href='line://msg/text/TextHere'><img src='css/generali-theme/img/icon/line.png' alt='line' width='30' ></a></td>
					<td width='90' class='text-center med-padding'><a ng-click='editNavigateClick({item1:currentItem.Id},{item2:currentItem.Key1},{item3:currentItem.Key15})'><img src='css/generali-theme/img/icon/Edit.png' alt='Edit' width='30' ></a></td>
				</tr>
				<tr>
					<td class='text-center small-padding'><span class=''  ng-class="{'disable' :$root.isWeb}">WhatsApp</span></td>
					<td class='text-center small-padding'><span class=''  ng-class="{'disable' :$root.isWeb}">Line</span></td>
					<td class='text-center small-padding'><span class=''>Edit</span></td>
				</tr>
				<tr class='mediaicons' ng-show='showMapIcon'>
					<td width='90' class='text-center med-padding'><a ng-click='showRouteMap(currentItem)'><img src='css/generali-theme/img/icon/show_map_mob.png' alt='Edit' width='30' ></a></td>
					<td width='90' class='text-center med-padding'></td>
					<td width='90' class='text-center med-padding'></td>
				</tr>
				<tr ng-show='showMapIcon'>
					<td class='text-center small-padding'><span class=''>Show Map</span></td>
				</tr>
			</table>
		</div>

	</div>
</div>

<lepopup control="lePopupCtrl"/>

<!--<div class="modalOverlay"  ng-show="showLeadPopup||showMap"></div>-->


<!--<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyepjjj2P3K4LBBc51b8NFi00Arb-z9Es&amp;callback=initMap">
</script>-->

<div>
	<div class="modal-backdrop fade" ng-class="{'in':$parent.$parent.showMap}" ng-show="$parent.$parent.showMap"></div>
	<div ng-show="$parent.$parent.showMap" ng-class="{'center_pop_up':$parent.$parent.showMap}">
		<div  class="modal hide fade auto-height animated fadeInDownBig routeMapModel"  ng-class="{'in':$parent.$parent.showMap}" ng-class="$parent.$parent.showMap" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<span class="modal-header-title">Route Map</span>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"  ng-click="closeMap()">&times;</button>
			</div>
			<div class="modal-body text-center">
				<div id="map"></div>
				<!--<div id="right-panel">
                    <p>Total Distance: <span id="total"></span></p>
                </div>-->
				<div class="spacing"></div>
			</div>
		</div>
	</div>
</div>