<div class="detailed_view_table_container {{tableType}}" ng-show >
<span class="illustrator_details_table_title" translate="{{caption}}"></span>
<div class="illustrator_table_outer_container">
<div class="illustrator_table_inner_container">
  <table id="{{tableName}}" class="illustrator_details_table {{this.columnClass}} ">
	  <thead ng-if="headerNeed">  
		  <tr  class="illustrator_table_head test" ng-repeat="headerRow in headerColumns">
			 <th ng-repeat="headerColumn in headerRow.row | orderBy:headerOrder" colspan="{{headerColumn.colspan}}" rowspan="{{headerColumn.rowspan}}">
          <!-- Sortable Content  -->
          <a class="table_sort_arrow sorter sorter_arrow_dwn" ng-if="(headerColumn.columnSortable)" ng-href="" ng-click="getValuesOrdered(headerColumn.map,'header', $event)" translate="{{headerColumn.translateid}}">{{headerColumn.value}}</a>
          <!-- Non Sortable Content  -->
          <span ng-if="!(headerColumn.columnSortable)" translate="{{headerColumn.translateid}}">{{headerColumn.value}}</span>
        </th>
		  </tr>     
	 </thead>
    <tbody>
	    <!-- <tr ng-if="subHeaderNeed && sortable" class="illustrator_table_row illustrator_table_first_row row_even">
	    	<td ng:repeat="subHeaderColumn in subHeaderColumns | orderBy:subHeaderOrder"><a href="" ng-click="getValuesOrdered(subHeaderColumn.map,'subHeader')" translate="{{subHeaderColumn.translateid}}"></a></td>
	    </tr>
	    <tr ng-if="subHeaderNeed && !(sortable)" class="illustrator_table_row illustrator_table_first_row row_even">
    		<td ng:repeat="subHeaderColumn in subHeaderColumns | orderBy:subHeaderOrder">
	    		<a class="table_sort_arrow sorter sorter_arrow_dwn" ng-if="(subHeaderColumn.columnSortable)" href="" ng-click="getValuesOrdered(subHeaderColumn.map,'subHeader', $event)" translate="{{subHeaderColumn.translateid}}"></a>
	    		<span ng-if="!(subHeaderColumn.columnSortable)" translate="{{subHeaderColumn.translateid}}"></span>
	    	</td>
    	</tr>
    	
    	<tr ng-if="!(paginator) && subHeaderNeed" ng:repeat="tableValueRow in tableValueRows | orderBy:subHeaderPredicate:subHeaderReverse" ng-class="{illustrator_table_row_odd : $index%2==0, illustrator_table_row_even : !($index%2==0)}">
	 		<td ng:repeat="subHeaderColumn in subHeaderColumns | orderBy:subHeaderOrder"  translate="{{getValue(tableValueRow,subHeaderColumn)}}"></td>			
	 	</tr>
    
	    <tr ng-if="paginator && subHeaderNeed" ng:repeat="tableValueRow in tableValueRows | orderBy:subHeaderPaginatorPredicate:subHeaderPaginatorReverse | paginate:currentPageNumber:pageSize" ng-class="{illustrator_table_row_odd : $index%2==0, illustrator_table_row_even : !($index%2==0)}">
			 <td ng:repeat="subHeaderColumn in subHeaderColumns | orderBy:subHeaderOrder" ng-bind="checkDecimal(tableValueRow[subHeaderColumn.map])"></td>			 
		</tr>
				
		<tr ng-if="paginator && (headerNeed && !(subHeaderNeed))" ng:repeat="tableValueRow in tableValueRows | orderBy:headerPaginatorPredicate:headerPaginatorReverse | paginate:currentPageNumber:pageSize" ng-class="{illustrator_table_row_odd : $index%2==0, illustrator_table_row_even : !($index%2==0)}">
		 	<td ng:repeat="headerColumn in headerColumns | orderBy:headerOrder" ng-bind="checkDecimal(tableValueRow[headerColumn.map])"></td>			 
		</tr>
		
		<tr ng-if="!(paginator) && (headerNeed && !(subHeaderNeed))" ng:repeat="tableValueRow in tableValueRows | orderBy:headerPredicate:headerReverse" ng-class="{illustrator_table_row_odd : $index%2==0, illustrator_table_row_even : !($index%2==0)}">
	 		<td ng:repeat="headerColumn in headerColumns | orderBy:headerOrder" ng-bind="checkDecimal(tableValueRow[headerColumn.map])"></td>			 
	 	</tr>
	
		<tr ng-if="!(subHeaderNeed) && !(sortable)" ng:repeat="tableValueRow in tableValueRows" ng-class-odd="'illustrator_table_row_odd'" ng-class-even="'illustrator_table_row_even'">
		 	<td ng:repeat="tableValueColumn in tableValueRow" translate="{{getValueFormatted(tableValueColumn)}}" class="illustrator_2_column"></td>			
		</tr> -->
		<tr ng:repeat="tableValueRow in tableValueRows" ng-class-odd="'illustrator_table_row_odd'" ng-class-even="'illustrator_table_row_even'">
      <!-- If td is an normal data -->
      <td ng:repeat="tableValueColumn in tableValueRow" ng-if="!mappingOrder"  translate="{{getValueFormatted(tableValueColumn)|formattedNumber:4}}" class="{{columnClass}}">
      </td>
      <td ng:repeat="subHeaderColumn in subHeaderColumns" ng-if="mappingOrder"  ng-bind="checkDecimal(tableValueRow[subHeaderColumn.map])|formattedNumber:4"></td>

      <!-- If td is an sub header -->
     <!--  <td ng:repeat="tableValueColumn in tableValueRow" ng-if="tableValueRow.subHeading" colspan="100%"  translate="{{getValueFormatted(tableValueColumn)}}" class="illustrator_2_column">
      </td> -->
      <!-- If td is an sub header  and need to highlight-->
     <!--  <td ng:repeat="tableValueColumn in tableValueRow" ng-if="tableValueRow.subHeading && tableValueRow.highLight" colspan="100%"  translate="{{getValueFormatted(tableValueColumn)}}" class="illustrator_2_column"> -->
      </td>
      
    </tr>
    
  </tbody>
</table>
</div>
</div>

<!-- 	<div ng-if="paginator">
   					<ul class="paginate">
   						<li ng-repeat="value in pageList"><a id="pagenumber" ng-class="{active: value==currentPageNumber+1}" ng-click="clickedPage(value)">{{value}}</a></li>
   					</ul>
   				</div> -->
</div>