 /*TEMPORARY OVERRIDE CSS FILE FOR OVERRIDING MAIN THEME STYLES AFFECTING GENERALI STYLES-(COMMON STYLES) */
@media screen and (max-width:480px){
    #mobile_touch_device .span3.tabs-left .nav.nav-tabs.left-menu  li {
      display: table;
      width:100%;
      height: 40px;
      margin-bottom: 2px;
    }

    /*Carousel Navigation Arrows*/
    .glyphicon-chevron-left:before {
      content: url('../img/icon/scroll_arrow_left.png');
    }
    .glyphicon-chevron-right:before {
        content: url('../img/icon/scroll_arrow_right.png');
    }

    .right.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
        margin-right: -10px;
    }


    .left.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
        margin-left: -10px;
    }

    #uw  td {
    border:2px solid;
    color: #000;
    border-color:gray;
    font-family: 'DBHelvethaicaLight';
    }
    .uw{
    	margin-bottom:10px;
    	margin-top:10px;
    }
    .tabbable>.tab-content{
    	/*margin-bottom:10px;
    	margin-top:10px;*/
    }
    #mylist{
    width:99% !important;
    }

    #mylist  li{
      display: table-cell;
      width:40%;
      height: 40px;
      margin-bottom: 2px;
      background: #ebd7d8;
      cursor: pointer;
      }
    #mylist > li > a {
    font-family: 'DBHelvethaicaRegular' !important;
    font-size: 19px !important;
        font-weight: bold;
    }


/*#tabol
{
    line-height: 1;
}
*/ 
    #uwform {
        overflow-y: scroll !important;
        padding: 10px !important;
        width: 97%;
        height: 312px;
        display: none;
        overflow: hidden;
       /* line-height: 1;*/
    }

    #uwform_1 {  
        padding: 10px !important;
        width: 97%;
        height: auto;
       /* line-height: 1;*/
    }
    .formsPanel{
        padding:10px !important;
    	width:97%; 
    	height:auto;
        display: none;
    }
    .formsPanel::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background-color: #c32a24 !important;
        -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }
    .formsPanel::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px #c32a24; 
    }
    #uwform_1::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background-color: #c32a24 !important;
        -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }
    #uwform_1::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px #c32a24; 
    }

     

    #SelfTools::-webkit-scrollbar {
        -webkit-appearance: initial;
        width: 8px !important;
    }

    #accordion_SelfTools{
    	color: #c32a24;
        font-size: 20px;
        font-family: 'DBHelvethaicaMedium';
    }
    .arrowsf{
    	width: 6%;
    	float: right;
            margin-top: 8px;
            color: #A9A9A9 !important;
        /* margin-right: -38px;*/
    }
    .formsSelfTools {
        cursor: pointer;
        padding: 18px;
        width: 94%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        background: #ffff;
        color: #c32a24;
        font-size: 22px;
        font-family: 'DBHelvethaicaMedium';
        
    }

    .cursor-pointer
    {
        cursor: pointer;
    }

    .fixedHeight1
    {
        top: 5%;
        /* height: 95% !important; */
        width: auto !important;
        font-size: 12px !important;
        overflow-y: scroll;
        overflow-x: scroll;
    }

    #videoTab{
        width:auto;
        margin-bottom: 10px;
        margin-left: 40px;
    }

    .hospTab
    {
        background: #c3291d;
        width: 200px;
        height: 160px;
        cursor: pointer;
    }

    .hostabimg
    {
        position: absolute;
        top: 70px;
        left: 86px;
    }

    .hostabbtn
    {
        position: absolute;
        top: 217px;
        width: 150px !important;
        left: 102px;
        background: none;
        color: #fff;
    }

    #tabhnl {
        margin-left: 17%;
    }

    .videofooter {
        background: #d1d2d4;
        width: 370px;
        height: 52px;
        border-top: 2px solid #cc9898;
        margin-left: -14px;
    }

    .qrcode_footer {
        width: 30px;
        margin-top: 7px;
        float: left;
        margin-left: 10px;
    }
    .search_icon_footer {
        width: 16px;
        margin-top: 16px;
        float: left;
    }

    .apple_icon {
            width: 20px;
        margin-top: 15px;
        float: left;
    }

    .android_icon {
        width: 22px;
        margin-top: 15px;
        float: left;
    }
    .search_icon_txt {
       margin-top: 3px;
        margin-left: 11px;
        color: #434341;
        font-size: 13px !important;
        font-weight: bold;
    }
    .icon_desc
    {
      color: #8d8c91;
        font-size: 11px;  
          font-family: 'DBHelvethaicaRegular';
    }
    .width_search_icon {
        width: 19%;
        margin-left: 0;
    }
    .width_ios {
        width: 26%;
    }
    .width_android {
        width: 30%;
        margin-left: 6px;
    }

    .margin-bottom100
    {
        margin-bottom: 25%;
    }
    .company_lefticon
        {
            margin-left: -15px;
        }
    .carousel-control.selfTools.right {
      left: auto;
      right: 1px;
      top: 92px;
    }
      .carousel-control.selfTools.left {
      left: -10px;     
      top: 53% !important;
    }
}
 /*@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
   .aboutcmpy_slider
       {
          width: 96%;
       }
     .company_lefticon
        {
            margin-left: 0px;
        }
    }
*/
/*@media screen and (max-width: 1024px) and (min-width: 672px) {
    .company_lefticon
    {
        margin-left: -20px;
    }
    .company_righticon
    {
        margin-right: -5px;
    }
}
@media screen and (max-width: 1024px) and (min-width: 648px) {
    .company_lefticon
    {
        margin-left: -70px;
    }
    .company_righticon
    {
        margin-right: -35px;
        float:right;
    }
    */
/*}*/