 /*TEMPORARY OVERRIDE CSS FILE FOR OVERRIDING MAIN THEME STYLES AFFECTING GENERALI STYLES-(COMMON STYLES) */

#mobile_touch_device .span3.tabs-left .nav.nav-tabs.left-menu  li {
  display: table;
  width:100%;
  height: 40px;
  margin-bottom: 2px;
}

/*Carousel Navigation Arrows*/
.glyphicon-chevron-left:before {
  content: url('../img/icon/scroll_arrow_left.png');
}
.glyphicon-chevron-right:before {
    content: url('../img/icon/scroll_arrow_right.png');
}

.right.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -10px;
}


.left.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    margin-left: -10px;
}

#uw  td {
border:2px solid;
color: #000;
border-color:gray;
font-family: 'DBHelvethaicaLight';
}
.uw{
	margin-bottom:10px;
	margin-top:10px;
}
.tabbable>.tab-content{
	margin-bottom:10px;
	margin-top:10px;
}
#mylist{
width:70% !important;
}

#mylist  li{
  display: table-cell;
  width: 25%;
  height: 40px;
  margin-bottom: 2px;
  background: #ebd7d8;
  cursor: pointer;
  }
#mylist > li > a {
font-family: 'DBHelvethaicaLight' !important;
font-size: 20px !important;
border: none;
}
.formsPanel{
    padding:10px !important;
	width:700px; 
	height:auto;
    display: none;
    overflow: hidden;
} 
.formsPanelIllustration{
    padding:10px !important;
	width:91.5%; 
	height:auto;
    display: none;
    overflow: hidden;
} 
#uwform{
	overflow-y: scroll !important;
	padding:10px !important;
	width:700px; 
	height:312px;
    display: none;
    overflow: hidden;
}

#SelfTools::-webkit-scrollbar {
    -webkit-appearance: initial;
    width: 8px !important;
}
#staticIllustrationTab::-webkit-scrollbar {
    -webkit-appearance: initial;
    width: 8px !important;
}
.formsPanel::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #c32a24 !important;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.formsPanel::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #c32a24; 
}
.formsPanelIllustration::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #c32a24 !important;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.formsPanelIllustration::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #c32a24; 
}

#accordion_SelfTools{
	color: #c32a24;
    font-size: 20px;
    font-family: 'DBHelvethaicaMedium';
}
.arrowsf{
	width: 2%;
	float: right;
}
.formsSelfTools {
    cursor: pointer;
    padding: 18px;
    width: 85%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    background: #fff;
    color: #c32a24;
    font-size: 20px;
    font-family: 'DBHelvethaicaMedium';
    
}

.staticTabIllustration {
    cursor: pointer;
    padding: 13px;
    width: 90.5%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 14px;
    background: #fff;
    color: #c32a24;
    font-size: 20px;
    font-family: 'DBHelvethaicaMedium';
    border:2px solid #c32a24 !important;
    margin-top:10px;
    background-image: url("../img/icon/scroll_arrow_down.png");
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
}

.staticTabIllustration.active {
    background-image: url("../img/icon/scroll_arrow_right2.png");
}

.benefitIllus td {
	border:2px solid;
	color: #000;
	border-color:gray;
	font-family: 'DBHelvethaicaLight';
}
.formsPanelIllustration.active {
	display: block;
}

.cursor-pointer
{
    cursor: pointer;
}

.fixedHeight1
{
    top: 5%;
    /* height: 95% !important; */
    width: auto !important;
    font-size: 12px !important;
    overflow-y: scroll;
    overflow-x: scroll;
}

#videoTab{
    width:auto;
}

.hospTab
{
    background: #c3291d;
    width: 250px;
    height: 200px;
    cursor: pointer;
}

.hostabimg
{
    position: absolute;
    top: 50px;
    left: 55px;
}

.hostabbtn
{
    position: absolute;
    top: 210px;
    width: 150px !important;
    left: 71px;
    background: none;
    color: #fff;
}

.videofooter {
    background: #d1d2d4;
    width: 100%;
    height: 80px;
    border-top: 2px solid #cc9898;
}

.qrcode_footer {
    width: 75px;
    margin-top: 2px;
    margin-left: 30px;
}
.search_icon_footer {
    width: 26px;
    margin-top: 20px;
    float: left;
}

.apple_icon {
        width: 36px;
    margin-top: 15px;
    float: left;
}

.android_icon {
    width: 39px;
    margin-top: 15px;
    float: left;
}
.search_icon_txt {
   margin-top: 13px;
    margin-left: 11px;
    color: #434341;
    font-size: 12px;
    font-weight: bold;
}
.icon_desc
{
  color: #8d8c91;
    font-size: 14px;  
      font-family: 'DBHelvethaicaRegular';
}
.width_search_icon {
    width: 15%;
    margin-left: 3%;
}
.width_ios {
    width: 18%;
}
.width_android {
    width: 19%;
    margin-left: 6px;
}

.margin-bottom100
{
    margin-bottom: 25%;
}
.company_lefticon
    {
        margin-left: -15px;
    }
 /*@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
   .aboutcmpy_slider
       {
          width: 96%;
       }
     .company_lefticon
        {
            margin-left: 0px;
        }
    }
*/
/*@media screen and (max-width: 1024px) and (min-width: 672px) {
    .company_lefticon
    {
        margin-left: -20px;
    }
    .company_righticon
    {
        margin-right: -5px;
    }
}
@media screen and (max-width: 1024px) and (min-width: 648px) {
    .company_lefticon
    {
        margin-left: -70px;
    }
    .company_righticon
    {
        margin-right: -35px;
        float:right;
    }
    */
}