/*eApp Main Navigation starts*/

.touch-disabled{
	color: #B0B2B3;
	pointer-events:none;
}
ul#registration_tabs {
  margin-bottom: 0;
  background-color: #F4F4F4;
}
#registration_tabs li{
  display: inline-block;
  width: 16.3%;
  text-align: center;
  padding: 10px 0 0;
  font-size: 16px;
  font-weight: bold;
}
#registration_tabs li a{
  color: black;
  width: 80%;
  display: table;
  margin: auto;
  margin-bottom: -7px;
}
#registration_tabs li.activated{
  opacity:0.6;
  }
 #registration_tabs li.activated a{
  color: #c32a24;
  }
#registration_tabs li.activate a{
  color: #c32a24;
  }
#registration_tabs .nav-text{
  display: table-cell;  
  vertical-align: middle; 
  height: 34px;
  margin: auto; 
  float:left;
  width:100%;
  text-align:center;
}
.vt_VT #registration_tabs li{
	padding: 4px 0 0;
}
.vt_VT #registration_tabs .nav-text{
	height:40px;
	line-height: 20px;
}
#registration_tabs .nav-text-icon{
  float: left;
  width: 100%;
}
#registration_tabs .nav-text-icon div{
  width: 40px;
  height: 35px;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

#personalDetailsTabName .nav-text-icon div{
 background-image: url('../img/icon/userblack.png');
}
#productTabName .nav-text-icon div{
 background-image: url('../img/icon/PDblack.png');
}
#questionnaireTabName .nav-text-icon div{
 background-image: url('../img/icon/questblack.png');
 }
 #summaryTabName .nav-text-icon div{
 background-image: url('../img/icon/summaryblack.png');
 }
 #paymentTabName .nav-text-icon div{
 background-image: url('../img/icon/paymentblack.png');
 }
 #uploadTabName .nav-text-icon div{
 background-image: url('../img/icon/docblack.png');
 }
 
 /* for activate tabs*/
 
 li.activate  #personalDetailsTabName .nav-text-icon div{
 background-image: url('../img/icon/user.png');
}
 li.activate  #productTabName .nav-text-icon div{
 background-image: url('../img/icon/PD.png');
}
 li.activate  #questionnaireTabName .nav-text-icon div{
 background-image: url('../img/icon/quest.png');
 }
  li.activate  #summaryTabName .nav-text-icon div{
 background-image: url('../img/icon/summary.png');
 }
  li.activate  #paymentTabName .nav-text-icon div{
 background-image: url('../img/icon/payment.png');
 }
  li.activate  #uploadTabName .nav-text-icon div{
 background-image: url('../img/icon/doc.png');
 }
 
/* for activated tabs*/
 
 li.activated  #personalDetailsTabName .nav-text-icon div{
 background-image: url('../img/icon/usertick.png');
}
 li.activated  #productTabName .nav-text-icon div{
 background-image: url('../img/icon/PDtick.png');
}
 li.activated  #questionnaireTabName .nav-text-icon div{
 background-image: url('../img/icon/questtick.png');
 }
 li.activated  #summaryTabName .nav-text-icon div{
 background-image: url('../img/icon/summarytick.png');
 }
 li.activated  #paymentTabName .nav-text-icon div{
 background-image: url('../img/icon/paymenttick.png');
 }
 li.activated  #uploadTabName .nav-text-icon div{
 background-image : url('../img/icon/doctick.png');
 }



/*eApp Main Navigation ends*/

/*Horizontal navigation starts*/
ul.nav-justified{
  display: table;
  width: 100%;
}
ul.nav-justified{
  margin-bottom: 0;
  border: none;
}
.nav-justified > li{
  display: table-cell;
  float: none;
  text-align: center;
}
.navigation-progressbar{
 background-color:#e2dcdc;
 padding:15px 30px 0 30px;
 float:left;
 width: 100%;
 padding-left: 0;
 padding-right: 0;
 
}
#buyOnlineTabs  .selector-text  li{
	position:relative;
}
/* #buyOnlineTabs  .selector-text  li.active:first-child:after {
	left:28%;
}
#buyOnlineTabs  .selector-text  li.active:last-child:after {
	left:72%;
} */
#buyOnlineTabs  .selector-text  li.active:after {
    top: 36px;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: #E2DCDC;
    border-width: 10px;
    margin-left: -10px;
	z-index:9;
}
#buyOnlineTabs  .selector-text , #buyOnlineTabs  .selector-icon {
  display: inline-block;
}
#buyOnlineTabs  .selector-text  li, #buyOnlineTabs  .selector-icon  li{
  margin:0;
  width:290px;
  text-align:center;
  list-style-type:none;
}
#buyOnlineTabs  .selector-text  li:first-child, #buyOnlineTabs  .selector-icon  li:first-child,
#buyOnlineTabs  .selector-text  li:last-child, #buyOnlineTabs  .selector-icon  li:last-child{
   width:175px;
} 
/* #buyOnlineTabs  .selector-text li:first-child {
   text-align:left;
} */
#buyOnlineTabs  .selector-text li:last-child {
   text-align:right;
}
/* #buyOnlineTabs  .selector-icon li:first-child .line-after-circle,#buyOnlineTabs  .selector-icon li:last-child .line-after-circle{
  width:78%;
 }
#buyOnlineTabs  .selector-icon li:first-child  .outer-circle{
   margin-left:22%;
}
#buyOnlineTabs  .selector-icon li:last-child  .outer-circle{
   margin-right:22%;
} */
#buyOnlineTabs .inner-circle{
   background-color:#eee9e9;
}
#buyOnlineTabs .navigation-progressbar li a{
   color:#000000;	
}
/* #buyOnlineTabs li.active  .inner-circle, #buyOnlineTabs li.activated  .inner-circle{
	background-color:#c32a24;
} */
#buyOnlineTabs li.active  .inner-circle, #buyOnlineTabs li.activated  .inner-circle{
	background-color:#c32a24;
}
#buyOnlineTabs li.activated  .inner-circle{
	-moz-opacity:0.6;
	-webkit-opacity:0.6;
	opacity:0.6;
}
#buyOnlineTabs li.active a{
	color:#c32a24;
}
/* #buyOnlineTabs li.activated {
	opacity:0.6;
} */
.accordion-toggle .fa-plus{
	display:none;
}
.accordion-toggle .fa-minus{
	display:inline;
}
.accordion-toggle.collapsed .fa-plus {
	display: block;
}
.accordion-toggle.collapsed .fa-minus {
	display: none;
}
#buyOnlineTabs .accordion-group {
	border:0;
}
#buyOnlineTabs .accordion{
  font-size: 14px;
}
#buyOnlineTabs .fa-minus {
	border:0px ;
}
.eappQuestionnaire-accordian .accordion-heading  {
	/*background-color:#eee9e9;*/
}
.eappQuestionnaire-accordian .accordion-inner{
	border:0px;
	padding-left: 15px;
}
.dark-accordion-title a span{
	font-size:13px;
	color:#333333;
}

/*Horizontal navigation ends*/
#mobile_touch_device .tablet_potrait_container{
  border:0px;
}
#mobile_touch_device #buyOnlineTabs .all-tab-content form{
  margin-top:18px;
}
#mobile_touch_device .all-tab-content{
  margin: 0!important;
}
.all-tab-content{
  background-color:#eee9e9;
}
.all-tab-content .tab-content{
  padding: 0;
  margin: 0 20px;
  background-color: #eee9e9;
}
.all-tab-content .tab-content .tab-content{
  margin: 0;
}
#financilaDetailsSubTab .tab-content{
  background-color: white;
}
.all-tab-content .accordion{
  background-color: white;
}
.all-tab-content .accordion-inner{
  padding: 30px 8px 0 30px;
}
.accordion-inner.no_brd_top{
  padding-top:0;
}
.accordion-multiple.accordion-inner{
  padding: 0!important;
  border: 0;
}
.accordion-multiple .accordion-group{
  border-left: 0;
  border-right: 0;
}
#BeneficiarySubTabSection .accordion-inner {
  padding: 0;
}
#BeneficiarySubTabSection .white-box{
  padding-bottom: 0;
  margin-bottom: 0;
}
#BeneficiarySubTab .tab-content{
  background-color: white;
}
/*Vertical navigation starts*/
.tabs-left .vertical-tabs{
  display: none;
}
.tabs-left .vertical-tabs.active{
  display: block;
}
.tabs-left li.active{
  border-left: 2px solid #c32a24;
  font-weight: bold;
}
.tabs-left > .nav-tabs > li{
  margin-bottom: 5px;
}
.tabs-left > .nav-tabs > li > a{
  border: none!important;;
  padding: 10px;
}
.tabs-left > .nav-tabs > li > a span{
  text-indent: 5px;
  display: inline-block;
}

/*Vertical navigation ends*/

.tabs-left .control-group{
  margin-right: 20px;
}
.tabs-left .accordion-inner{
  padding-left: 0;
  padding-right:0;
}
.tab-content .customarea{
    background-color: white;
}
#Questionnaire .tab-content .customarea{
    min-height:400px;
}
#InsuredDetails .tab-content .customarea{
  height: 300px;
  overflow-y: auto; 
}
.btn-container{
  padding: 20px 0;
}
#mobile_touch_device  #buyOnlineTabs .tablet_potrait_container{
  background-color: #eee9e9;
  border:0;
}
.table-holder .thead th:first-child{
  min-width: 30px;
}
.fht-tbody table#riderDetails {
  width: 100% !important;
  margin-top: -51px !important;
}
.search-medium{
  height: 36px!important;
}
#myApplications .search-block{
  margin-top: 20px;
  margin-bottom:20px;
}
.eappListing-SPAJ select{
background:transparent !important;
}
.two-column.span6{
  margin-left: 0;
  min-height: 60px;
}
.border-btm{
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
.two-column.span6:nth-child(odd){
  padding-right: 3%;
}
.fa-info-round{
  border: 1px solid #B4AAAA;
  border-radius: 100%;
  text-align: center;
  color: #B4AAAA;
  margin-left: 5px;
  width: 1.8em;
  height: 1.8em;
  line-height: 1.9em;
}
.info-icon{
  font-size: 23px;
}
.fa-info-round .fa{
  margin: auto;
}
input[type="date"]{
  margin-bottom: 0;
}
.fa-3x {
  font-size: 3em!important;
}
.fa-2x {
font-size: 2em!important;
}
.btn-align{
  display: inline-block!important;
  float: none!important;
}
#ProductDetails.tab-content{
  background-color: transparent;
}
.margin-left0{
  margin-left: 0!important;
}
.chkbox{
 min-height: 40px;
}
.plus-round-icon{
  border: 1px solid white;
  border-radius: 100%;
  padding: 0px 7px 0 7px;
  font-size: 18px;
  display: inline-block;
  margin-right: 5px;
}
.span2-10{/*Split the page into 10 columns*/
  width: 18.9%!important;
}
.span2-5{ /*used for single column layout and equivalent to span5 in two column layout*/
  width: 16.3%!important;
}
.span7-10{/*used for single column layout and equivalent to span7 in two column layout*/
   width: 78.905983%!important;
}
.span9-7{
width: 72.2%!important;
}
.span3-5{
width: 25%!important;
}
.highlighted-section{
  background-color: #FBF3F3;
  margin: 0 -8px 20px -30px;
  padding: 10px 8px 0 30px;
  min-height: 100px;
}

.sign-wrapper .signpad{
  background-color: #ffffff;
  width: 100%;
  height: 160px;  
  margin: 5px 0 10px;
}
.sign-wrapper .sigWrapper {
   border: 1px solid #cccccc;
}
.sign-wrapper .signContentWrapper{
  height: 160px;
  width: 500px;
}
#accordion_insurance_tab .sigPadIllustration .signContentWrapper {
width: 500px;
}
.clearSign{
max-width: 130px !important;
float: left;	
}
.sign-text{
  line-height: 90px;
}
.esign-buttons{
  margin-top: 10px;
}

#buyOnlineTabs p.error{
  display: none;
}
#Summary .accordion-inner{
  padding: 0;
}
#Summary .two-column{  
  min-height: 40px;
}

.padding-right3{
  padding-right: 3%;
}
#Summary .summary_title_txt{
  padding-left:15px;
}
#Summary .summary_title_container{
  padding:15px 0;
  margin-bottom: 5px;
  color:#c32a24;
}
.additional-insured-heading{
  background-color: #F4F4F4;
  padding: 5px 0;
}
/* .eappListing-SPAJ select{
background:white !important;
}
.eappListing-SPAJ a{
z-index:1
} */
.addNewEapp{
display:none !important;
}

.radio-width label{
  min-width:20%!important;
}
.deleteEappList{
color:white;
background: #c32a24 !important;
color: #ffffff;
font-size: 13px;
cursor: pointer;
text-align: center;
border: none;
}
.deleteEappList:disabled{
  background: #B0B2B3!important;
}
.deleteEappList i{
margin-right:5px;
vertical-align: middle;
}

#buyOnlineTabs #riderDetails .accordion-inner,
#buyOnlineTabs #riderDetails .white-box{
  padding: 0;
}

#buyOnlineTabs #riderDetails .text-center th{
  text-align: center;
}

/* Beneficiary tab */
#BeneficiarySubTab .accordion-heading {
  border-top: 1px solid #EEE9E9;
  font-weight: bold;
}
/* personal detail */

#PolicyHolderSubTab #PolicyHolderSubTab0 .accordion-inner{
  padding: 0 0 0 15px;
}

#buyOnlineTabs #riderDetails .white-box .fht-table-wrapper.fht-default {
height: 530px !important;
}
#buyOnlineTabs #riderDetails .white-box{
	margin-bottom:0px;	
}


  /* fixing save proposal in eapp */

#mobile_touch_device #PolicyHolderSubTab form,#mobile_touch_device #mainInsuredSubTab form,#mobile_touch_device #financilaDetailsSubTab form,#mobile_touch_device #AdditionalInsuredSubTab form,#mobile_touch_device #AdditionalInsured1Questionnaire form,#mobile_touch_device #AdditionalInsured2Questionnaire form,#mobile_touch_device #AdditionalInsured3Questionnaire form,#mobile_touch_device #AdditionalInsured4Questionnaire form,#mobile_touch_device #BeneficiarySubTab form,#mobile_touch_device #SPAJsummary,#mobile_touch_device #Declaration form{

    overflow: auto;
	 height: 415px; 
}
#mobile_touch_device #QuestionnaireSummarySubTab.custom_inner_tab{
    height: 415px; 
	overflow: auto;
	}

#mobile_touch_device #buyOnlineTabs #ProductDetails form{
	height:477px;
	 overflow: auto;
	}
#mobile_touch_device #MainInsuredQuestionnaire form{
	height:398px;
	}
	#mobile_touch_device #DocumentUpload{
	overflow: auto;
	height: 495px;	
	}
	#PolicyHolderSubTab .alert-box-holder{
	bottom:55px;
	}
	#PolicyHolderSubTab .alert-box{
	margin: 0;
	margin-bottom: 23px;
	margin-right: 21px;
	}

	/* web */
/* #PolicyHolderSubTab,#financilaDetailsSubTab,#ProductDetails,#AdditionalInsuredSubTab{
 margin: 0!important; 
    overflow: auto;
}
#PolicyHolderSubTab,#AdditionalInsuredSubTab {
    height: 240px; 
	}
#financilaDetailsSubTab {
    height: 250px;    
	}
#ProductDetails{
	height:329px;
	}
#MainInsuredQuestionnaire{
	height:250px;
	}	 */
/* web */	
/* fixing save proposal in eapp */
@media (min-width:1200px){
 #eappListing tr td:nth-child(3){
	 min-width:180px!important; 
	}
}
#mobile_touch_device #eappListing tr th:nth-child(3),#mobile_touch_device #eappListing tr td:nth-child(3){
	min-width:168px!important;
	}
	#eappListing tr td:nth-child(9){
	min-width:62px!important;
	}
	#eappListing tr td:nth-child(2){
	min-width: 46px!important;
	}
	#eappListing tr th:nth-child(2){
	width: 46px!important;
	}
	#eappListing tr td:nth-child(4){
	min-width: 50px!important;
	}

.row-fluid.inner_block{
	background-color:#fafafa;
	padding:15px;
	box-sizing:border-box;
	margin-bottom: 20px;
}
.inner_block .modal-header .close{
	margin-right:-25px;
	margin-top:-10px
}
#buyOnlineTabs .inner_block .two-column.span5 {
min-height: 63px;
}
.textareaWidth {
width: 70% !important;
}
@media (max-width: 1210px) {
	.textareaWidth {
		width: 80% !important;
		}
}
/*for ipad*/
@media (max-width: 1100px) {
	.radio-width label {
		min-width: 15% !important;
	}
	.textareaWidth {
		width: 90% !important;
		}
	#Questionnaire .span5.two-column{
	  width: 48%;
	}
	.row-fluid.inner_block{
	padding:10px;
	}
	#buyOnlineTabs  .selector-text  li, #buyOnlineTabs  .selector-icon  li{
	  margin:0;
	  width:218px;
	  text-align:center;
	  list-style-type:none;
	}
	 #buyOnlineTabs  .selector-text  li:first-child, #buyOnlineTabs  .selector-icon  li:first-child,
	#buyOnlineTabs  .selector-text  li:last-child, #buyOnlineTabs  .selector-icon  li:last-child{
	   width:150px;
	} 
	#subBeneficialQuestionnaire label .iradio{
	min-height: 48px;
	}
	/* fixing height of save proposal */
	#mobile_touch_device #PolicyHolderSubTab form,#mobile_touch_device #mainInsuredSubTab form,#mobile_touch_device #financilaDetailsSubTab form,#mobile_touch_device #AdditionalInsuredSubTab form,#mobile_touch_device #AdditionalInsured1Questionnaire form,#mobile_touch_device #AdditionalInsured2Questionnaire form,#mobile_touch_device #AdditionalInsured3Questionnaire form,#mobile_touch_device #AdditionalInsured4Questionnaire form,#mobile_touch_device #BeneficiarySubTab form,#mobile_touch_device #SPAJsummary,#mobile_touch_device #Declaration form{
        
        overflow: auto;
        height: 407px;
    }
    #mobile_touch_device #QuestionnaireSummarySubTab.custom_inner_tab{
        height: 409px;
        overflow: auto;
    }
    
    #mobile_touch_device #buyOnlineTabs #ProductDetails form{
        height:470px;
        overflow: auto;
    }
    #mobile_touch_device #MainInsuredQuestionnaire form{
        height:394px;
    }
	#mobile_touch_device #DocumentUpload{
	overflow: auto;
	height: 489px;
	
	}
	/* fixing height of save proposal */
}
@media (max-width: 1024px) and (min-width: 1000px){
	#FNAList tr td:nth-child(2),#FNAList tr th:nth-child(2){
		min-width:160px!important;
		max-width:160px!important;
		}
		#FNAList tr td:nth-child(3),#FNAList tr th:nth-child(3){
		min-width:270px!important;
		max-width:270px!important;
		}
		#FNAList tr td:nth-child(4),#FNAList tr th:nth-child(4){
		min-width:270px!important;
		max-width:270px!important;
		}#FNAList tr td:nth-child(5),#FNAList tr th:nth-child(5){
		min-width:189px!important;
		max-width:189px!important;
		}
}

#adiitionalInsuredSection0{
  clear:both;
  float:left;
  height:auto;
  width:100%;
}
#financilaDetailsSubTab, #buyOnlineTabs .accordion-heading{
	font-size: 13px !important;
	position:relative;
}
/* #buyOnlineTabs .custtypeahead .dropdown-menu{	
	height:200px;
	overflow-y:scroll;
} */
#buyOnlineTabs .two-column.span5:nth-child(even){
  float: right;
}
#buyOnlineTabs .column-group-two:nth-child(even){
  width: 44%;
  float:right
}
#buyOnlineTabs .column-group-two:nth-child(even) .span5.two-column{
  width: 100%!important;
}
#buyOnlineTabs .two-column.span5{
  margin: 0;
  min-height: 60px;
}
#buyOnlineTabs .span5.two-column{
  width: 44%;
}
#buyOnlineTabs .accordion-inner{
  padding: 20px 15px 10px 15px;
}
.questionnaire-content{
  font-size: 13px;
  width: 100%;
  margin-bottom: 10px;
  float: left;
}
.radio_width.span1 {
width:75px;
}
#buyOnlineTabs .tabs-left > .nav-tabs{
  border-right: 0;
}
#Questionnaire .radio-min-height{
  min-height: 0;
}
#PolicyHolderSubTab .eappQuestionnaire-accordian{
  font-size: 1em;
}
.summary_title_txt{
  font-size:14px;
}
.eappQuestionnaire-accordian .displayNone .accordion-inner{
	padding:0 15px;
}
.displayNone{
    display:none !important;
}

.header-less .accordion-inner,
.header-less.accordion{
  padding-top: 0!important;
  padding-bottom: 0!important;
}
.header-less .accordion-heading{
  display: none!important;
}

#Questionnaire .min-height.span12, #Summary .min-height.span12{
  min-height: 0!important;
}



/* summary tab */
.summaryCheckbox .span3:nth-child(5){
	margin-left:0px !important;
}
#SPAJsummary .accordion-inner,
#QuestionnaireSummarySubTab .accordion-inner{
  padding: 0;
}
#Summary .accordion-inner .accordion-toggle{
  padding-left:30px;
  border-bottom:1px solid #eee9e9;
  border-top:1px solid #eee9e9;

  font-weight: bold;
	padding: 5px 20px;
	font-size: 12px !important;
=======
  font-weight: bold;
	padding: 5px 10px;
	font-size: 12px !important;

}
#SPAJsummary label,
#QuestionnaireSummarySubTab label{
  margin-bottom:0;
}
#Declaration label.radio{
  padding-right: 15px;
}
#Summary .two-column.span5{	
  min-height:48px;
}
#Declaration  .control-group .icheckbox + label,
#SPAJsummary .control-group label,
#QuestionnaireSummarySubTab .control-group label{	
  display: table;
  min-height: 45px;
  word-break: break-word;
  padding-right: 10px;
}
#SPAJsummary .control-group span,
#QuestionnaireSummarySubTab .control-group span{	
  display: table-cell;
  vertical-align: middle;
}
#SPAJsummary .control-group,
#QuestionnaireSummarySubTab .control-group{
  margin:0;
}
#clientDeclaration .outer-control-group,
#signatureSection .outer-control-group{
  border: none!important;
}

#QuestionnaireSummarySubTab .column-group-single,
#QuestionnaireSummarySubTab .column-group-two,
#QuestionnaireSummarySubTab .ocolumn-group-single{
  border-bottom: 1px solid #eee9e9;
}
#SPAJsummary .column-group-single,
#SPAJsummary .outer-control-group:nth-child(odd){
   border-top: 1px solid #eee9e9;
}
#SPAJsummary .row-start,
#QuestionnaireSummarySubTab .row-start{
  padding:0;
  overflow: auto;
}
#buyOnlineTabs #QuestionnaireSummarySubTab .column-group-two{
  width: 50%;
  display: table;
  float: left;
  border-bottom: 1px solid #eee9e9;
}
#buyOnlineTabs #QuestionnaireSummarySubTab .column-group-two.last-item,
#QuestionnaireSummarySubTab .column-group-two .span5.two-column{
  width: 100%;
}
#QuestionnaireSummarySubTab .last-item .span5.two-column{
  width: 49%;
}
#SPAJsummary .repeat-content-summary .row-fluid.row-start .span5:first-child,#SPAJsummary .repeat-content-summary .two-column:first-child,
#SPAJsummary .row-start .outer-control-group.column-group-two:first-child, #QuestionnaireSummarySubTab .row-start .two-column:first-child{  
    padding-left:80px;
}
#QuestionnaireSummarySubTab #subBeneficialQuestionnaireSummary .row-start .two-column:first-child{
 padding-left:0px;	
}
#SPAJsummary .row-start .outer-control-group.column-group-two.padding-left0{
	padding-left:0;
}
#SPAJsummary .outer-control-group.column-group-two .span5.two-column,
#SPAJsummary  .span5.two-column.paddingLeft80{
	width: 50%;
}
#clientDeclaration .row-start .two-column .span6:first-child{
	padding-left:30px;
}
#QuestionnaireSummarySubTab #subBeneficialQuestionnaireSummary .row-start .two-column .span6:first-child{  
    padding-left:45px;
}
#SPAJsummary .row-start .two-column.paddingLeft80 .span6:first-child{
	padding-left:0;
}
 .Doc_upload_previewList li{
	padding:0 1px;
 }
.DocUploadPopUp  .Doc_upload_previewList {
overflow: scroll;
}
.doc_upload_main_wrapper .fht-tbody{
height:280px !important;
}
.paddingLeft55 .control-group.form-horizontal .span3:nth-child(5){
	margin-left:0;
}
.paddingLeft55{
	padding-left: 55px !important;
}
.paddingLeft80{
	padding-left: 80px !important;
}
#SPAJsummary .control-group span.question-number,
#QuestionnaireSummarySubTab .control-group span.question-number{  
   width: 25px !important;
}
#subForeignersQuestionnaireProposer,#subForeignersQuestionnaireInsured,#subForeignersQuestionnaireAdditionalInsured0,#subForeignersQuestionnaireAdditionalInsured1,#subForeignersQuestionnaireAdditionalInsured2,#subForeignersQuestionnaireAdditionalInsured3{
	background-color:#fafafa;
}

/* #SPAJsummary .row-start .two-column,
#QuestionnaireSummarySubTab .row-start .two-column{  
    padding-left:60px;
}
 */
.paddingLeft30{
 padding-left:30px;
}
.padding-right20{
 padding-right:20px;
}
.first-level-padding .span7{
	margin-left:1%;
}
.second-level-padding .span7{
	margin-left:0;
}
.repeat-content-summary .row-start{
  border-bottom: 1px solid #eee9e9;
}
#Declaration .accordion-inner{
  padding-top: 15px;
  border: none;
}
.cust-class-span2{
width:16.3% !important;
}
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
.radio-white .iradio {
    background-image: url(../img/red1@2x.png);
    -webkit-background-size: 200px 20px;
    background-size: 200px 20px;
  }
}
#Summary #riderDetails label, #Summary #riderDetails span{
  display:block;
}
#Summary  .control-group  #riderDetails  label{	
  min-height: 15px;
}
#Summary .accordion .accordion, #Summary .accordion  .accordion-group
{
	margin-bottom:0;
}

.table-width{
	/* width:25% !important; */
}
/* #PolicyHolderSubTab .accordion .accordion{
  margin-bottom: 30px!important;
}
 */
#signatureSection .accordion-heading {
  background-color: #F4F4F4;
}
#signatureSection .accordion-inner{
  padding: 20px;
}
#clientDeclaration .control-label{
  padding: 20px;
}
#signatureSection .sign-text{
    line-height: 24px;
    margin-top: 25%;
}
.clear-icon{
  display: inline-block;
  background: url('../img/clear-sign@2x.png') 5px 0 no-repeat;
  display: inline-block;
  float: left;
  width: 35px;
  height: 20px;
  background-size: 70%;
}
.sign-wrapper .sigWrapper{
  background-color: #F4F4F4;
}
#PolicyHolderSubTab .accordion ,
#PolicyHolderSubTab .accordion .accordion-group,
#AdditionalInsuredSubTab .accordion ,
#AdditionalInsuredSubTab .accordion .accordion-group,
#accordion_insurance_tab .accordion ,
#accordion_insurance_tab .accordion .accordion-group{
margin-bottom:0px!important;
}
.accordion-margin{
  clear: both;
  margin-bottom: 30px!important;

}
#PolicyHolderSubTab .accordion.accordion-margin30 ,#subForeignersQuestionnaireProposer .accordion.accordion-margin30,#PolicyHolderSubTab .accordion .accordion-group.accordion-margin30,
#AdditionalInsuredSubTab .accordion .accordion-group.accordion-margin30,#mainInsuredSubTab .accordion.accordion-margin30{
 margin-bottom: 30px!important;
}
#PolicyHolderSubTab .accordion.accordion-margin ,#AdditionalInsuredSubTab .accordion.accordion-margin,#PolicyHolderSubTab .accordion .accordion-group.accordion-margin,#AdditionalInsuredSubTab .accordion .accordion-group.accordion-margin{
 margin-bottom: 30px!important;
}
#adiitionalInsuredSection0 .accordion.accordion-margin30{
	margin-bottom:15px !important;
}
.accordion-toggle.repeatContent {
  min-height:24px;
}
.repeatContent span{
  float:left;
}

.li-0.text-center{
  text-align:left;
 
}
.li-0:first-child .line-after-circle,
.li-0:last-child .line-after-circle {
	width:50% !important;
}
.li-0:first-child li,
.li-0:last-child li{
	width:50% !important;
}


.li-0 a{
  text-align:left;
}
.li-0 .outer-circle{
  margin: 0 auto!important
}
.li-0 .selector-text li:last-child{
  text-align: center!important
}
#buyOnlineTabs .li-0 .selector-text  li.active:after{
 left: 50%;
}

#Payment.tab-content{
  background-color: white;
  min-height: 500px;
}
.highlighted-section.single-line .row-start{
  margin-top: 27px;
}
.padding-left30{
  padding-left:30px !important;
}
#paymentPopup.modal{
  display: block;
  width: 58%;
  left: 50%;
  margin-left: -29%;
  z-index: 9999;
}
#paymentPopup .modal-body{
  background-color: white;
  margin: 20px;
  width: auto;
}
#paymentPopup h4,#paymentPopup h5{
  color: black;
  font-weight: bold;
}
#Payment .highlighted-section{
  margin-left: -23px;
  width: 100%;
  padding-top: 16px;
}
#buyOnlineTabs #Payment .two-column.span5{
  min-height: 50px;
}
.img-payment{
  background: url('../img/icon/visamastercard.png') no-repeat 0 0;
  width: 113px!important;
  height: 35px;
  background-size: 100%;
}
#buyOnlineTabs .accordion{
  clear: both;
}
.label-singleColumn{
  padding-right:3%;
  padding-bottom:15px;
   padding-top:15px;
 }
 #financilaDetailsSubTab .min-height{
  min-height: 0;
 }
 /*document upload starts*/
 .doc_upload_main_wrapper {
  padding: 20px;
 }
 .document-top.tile-proposal-no{
  background-color: #F4F4F4;
  padding: 1px 17px;
 }
 .document-top.tile-proposal-no h4{
  font-size: 16px;
  margin: 11px 0;
 }
.writings{
  background-color: #F4F4F4;
  padding-left: 0;
  padding-right: 15px;
}
.greyworking_docUpload{
  display: table;
  width: 100%;
}
.left-doc-text,
.right-doc-text{
  display: table-cell;
  vertical-align: middle;
  padding: 3px 0;
}
.left-doc-text{
  padding-left: 20px;
  font-style: italic;  
}
.right-doc-text{
  padding-right: 20px;
}
.tile{
  -webkit-box-shadow: inset -11px -11px 5px -12px rgba(0,0,0,0.7);
  -moz-box-shadow: inset -11px -11px 5px -12px rgba(0,0,0,0.7);
  box-shadow: inset -11px -11px 5px -12px rgba(0,0,0,0.7);
  background-color: white;
  margin-bottom: 20px;
  padding: 13px 0;
  color: #5b5b5b;
  word-break: break-word;
}
.doc_upload_main_wrapper .accordion-body{
  background-color: #F4F4F4;
}
.doc_upload_main_wrapper .accordion-group{
  margin-bottom: 0;
}
.items {
  margin-top: 20px;
}
.tiles .middle{
  padding-left: 0;
  margin-left: 0;
  padding-right: 0;
  margin-right: 0;
}
.document-top.heading{
  background-color: white;
  padding: 1px 15px;
}
.document-top.heading h5{
  line-height: 12px;
  color: initial;
}
.border-red{
  border: 1px solid #C21B17;
}
#buyOnlineTabs .doc_upload_main_wrapper .fa-minus{
  border: 1px solid;
}
.fa-round-custom{
  border: 1px solid #C21B17;
  color: #C21B17;
  border-radius: 100%;
  padding: 4px 6px!important;
}
.icons-group span{
  padding-right: 15px;
}

/*document upload popup*/
.DocUploadPopUp{
  background: #eee9e9;
  height: 560px;
	margin-top: -280px;
}

.DocUploadPopUp .del_ben_header{
  background: #eee9e9;
  color: initial;
  font-size: 16px;
  padding: 5px 30px
}
.Doc_pop_up_upload_btn_img_outer_cont {
  margin: 0px 30px;
  height: 460px;
}
.Doc_show_text{
  background: white;
  font-style: normal;
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #eee;
}
.imageLeftArrow, 
.imageRightArrow{
  position: absolute;
  color: #9B9B9B;
  top: 15%;
}
.imageLeftArrow{
  left: 0;
}
.imageRightArrow{
  right: 0;
}
.Doc_single_upload_btn_cont{
  border: none;
  width: 100%;
  margin: 0;
  height: 300px;
  background: white;
}
.Doc_upload_pop_up_camera_btn_div{
  margin: auto;
  width: 480px;
}
.Doc_upload_pop_up_camera_btn{
  margin: auto;
  height: 245px;
}
.DocUploadPopUp .del_ben_header .close_ben{
  background: none;
  margin-top: 6px;
}
.Doc_upload_previewList{
  margin: 0 30px 10px 30px;
  border: 1px solid #eee;
}

.Doc_upload_pop_up_browse_btn{
  border: 1px solid #eee;
}
.DocUploadPopUp .btn_wrapper {
  margin-top: 10px;
}
.Doc_upload_file_header_name{
  padding: 5px 10px;
}
.Doc_Req_btn_tile{
  width: 41.2%;
}
.Doc_upload_pop_up_browse_btn_hidden{
  position: absolute;
  top: 0;
  left: 0;
}
.Doc_upload_pop_up_browse_btn{
  cursor: pointer;
}
.Doc_upload_pop_up_browse_btn[disabled="disabled"]{
	background: #B0B2B3;
}
.Doc_upload_pop_up_browse_btn[disabled="disabled"] .red-text{
	color:white !important;
}
.doc_upload_main_wrapper .customDropIcon{
	top:45% !important;
}
.margin-right15{
  margin-right: 15px;
}

.document-uploaded{
  border: 1px solid #D18A87;
  color: #c32a24!important;
  box-shadow: none!important;
  margin-bottom: 18px!important;
  font-weight: bold;
}
.writing2{
  padding: 64px 0 10px 0;
}
 #deletePopup.modal{
  display: block;
  z-index: 9999;
 }
 #deletePopup .modal-header{
  padding-bottom: 25px;
 }
 #deletePopup .modal-body{
 padding-top: 20px;
  width: auto;
  margin: 0 20px 20px 20px;
  background: white;
 }


 /*document upload ends*/
#QuestionnaireSummarySubTab .accordion{
  margin-bottom: 0;
}
/* #PolicyHolderSubTab {
height: 295px;
} */
#mobile_touch_device #buyOnlineTabs .tablet_potrait_container{
min-height: 300px;
}
.question-number{
padding-right: 5px;
}
/*-----------Questionnaire changes---------------------*/
/* #tabs-MainInsuredQuestionnaire .span4.margin-left0.chkbox:first-child,#tabs-MainInsuredQuestionnaire .span4.margin-left0.chkbox:nth-child(4),#tabs-MainInsuredQuestionnaire .span4.margin-left0.chkbox:nth-child(7),#tabs-MainInsuredQuestionnaire .span4.margin-left0.chkbox:nth-child(10),
#tabs-MainInsuredQuestionnaire .span3.margin-left0.chkbox:first-child,#tabs-MainInsuredQuestionnaire .span3.margin-left0.chkbox:nth-child(5){
	margin-left:26px !important;
}  */
#buyOnlineTabs .accordion-inner.accordian-padding {
padding: 30px 15px 0 30px !important;
}
.eappQuestionnaire-accordian .accordion-inner {
background-color: #FFFFFF !important;
}
.questionnaire-content {
/* width: 100%; */
}

.first-level-padding{
box-sizing: border-box;
padding-left:15px;
}
.second-level-padding{
box-sizing: border-box;
padding-left:30px;
}
.questionnaire-content textarea{
	width:auto;
}
.signature-pad{
  border: 1px solid #ccc;
  background: #F4F4F4;
}
.signature-wrapper{
  width: 620px;
  margin: auto;
  height: 160px;
}
#SPAJsummary  form{
  margin-top: 0!important;
}

/*-----------Questionnaire changes---------------------*/
/* .span4.margin-left0.chkbox:first-child,.span4.margin-left0.chkbox:nth-child(4),.span4.margin-left0.chkbox:nth-child(7),
.span3.margin-left0.chkbox:first-child,.span3.margin-left0.chkbox:nth-child(5){
	margin-left:26px !important;
} */
#buyOnlineTabs .accordion-inner.accordian-padding {
padding: 30px 15px 0 30px !important;
}
.eappQuestionnaire-accordian .accordion-inner {
background-color: #FFFFFF !important;
}
.questionnaire-content {
width: 95%;
}
.first-level-padding{
box-sizing: border-box;
padding-left:15px;
}
.second-level-padding{
box-sizing: border-box;
padding-left:30px;
}
.doc_upload_main_wrapper .fht-tbody table {
  width: 100% !important;
  margin-top: -51px !important;
} 

.first-level-padding .span7{
	padding-left: 1%;
}
.second-level-padding .span5{
	width: 38%;
}
.second-level-padding .span7{
	padding-left: 1.5%;
}
/* .first-level-padding .datetime{
	padding-left: 1%;
} */
.cust-table-block{
	display:table;
}
.cust-table-row{
	display:table-row;
}
.cust-table-block .cust-table-row div{
	display:table-cell;
}
.red-text.success{
	color:#268f3a;
}
.fa.fa-edit[disabled="disabled"]{
	pointer-events: none;
	color: #999;
}
.row-fluid.dashed{
	position:relative;
}
.row-fluid.dashed:before {
	content: '';
	border-top: 1px dashed #999;
	display: block;
	position: absolute;
	top: -10px;
	width: 100%;
}
.row-fluid.dashed.no-brd:before {
	content: '';
	border-top: 0px;
}
.row-fluid.dashed1{
	position:relative;
}
.row-fluid.dashed1:before {
	content: '';
	border-top: 1px dashed #999;
	display: block;
	position: absolute;
	top: -10px;
	width: 100%;
}
.border-cust-class .row-fluid.dashed:before {
	border-top: none !important;
}
/* .row1_container.accordion_bg  .accordion .accordion-heading{
background-color:#e2dcdc;
}
.row1_container.accordion_bg  .accordion .accordion-group{
background-color: #fafafa;
} */
.row1_container.accordion_bg .accordion-heading .accordion-toggle {
padding: 8px 30px;
}
.paddingLeft45{
padding-left: 45px;
}
.border-bottom{
  border-top: 1px solid #eee9e9;
}
.paddingLeft45.secondlevel-padding{
	padding-left:80px;
}
#QuestionnaireSummarySubTab .row-start .two-column.padding-left0:first-child{  
    padding-left:0px;
}
.paddingLeft45.first-level-padding{
	padding-left:60px !important;
}
/* #buyOnlineTabs #QuestionnaireSummarySubTab .two-column-brd .column-group-two{
	border-bottom:0px !important;
}
#buyOnlineTabs #QuestionnaireSummarySubTab .two-column-brd{
	border-bottom: 1px solid #eee9e9;
} */
.row-start.no-col-brd{
	display: table;
}
.row-start.no-col-brd .span12.min-height{
	display: table-row;
}
#buyOnlineTabs #QuestionnaireSummarySubTab .row-start.no-col-brd .column-group-two{
	float: none;
	display: table-cell;
	vertical-align: top;
}
.tile-disabled{
	opacity: 0.6;
	background: #B0B2B3;
	color: white;
	pointer-events:none;
}
.repeat-section-wrapper{
	margin-left: 70px;
	margin-right: 10px;
}
.repeat-section-wrapper li{
	list-style-type: decimal;
}
.Doc_remove_attachment_icon[disabled="disabled"]{
	opacity:0.7;
	pointer-events:none;
}
 .borderLineTop{
border-top: 1px solid #eee9e9;
}
/*
.borderLineBottom{
border-bottom: 1px solid #eee9e9;
}  */
.margin14{
padding-top:14px;
}
.width100{
width:100%!important;
}
#buyOnlineTabs #QuestionnaireSummarySubTab .custBorderBottom .column-group-two{
  border-bottom: none;
}
#QuestionnaireSummarySubTab .custBorderBottom.row-start{
    overflow: hidden;
    position: relative;
    width: 100%;
}
#QuestionnaireSummarySubTab .row-start.custBorderBottom .two-column:first-child{  
     height: 100%; 
     width: 50%; 
    border-bottom: 1px solid #eee9e9;
}
.custBorderBottom .outer-control-group.column-group-two:first-child .span5.two-column{
	position:absolute;
}
.custBorderBottom .outer-control-group.column-group-two:nth-child(2){
	float:right !important;
}
#buyOnlineTabs #financilaDetailsSubTab label{
	display:inline-block;
}
/*for Asus*/

@media (max-width: 962px) {
#registration_tabs li{
	padding-top:5px;
}
			#buyOnlineTabs .accordion-inner.accordian-padding {
			padding: 30px 0px 0 30px !important;
			}
			.textareaWidth {
			width: 100% !important;
			}
			.row-fluid.inner_block {
				padding: 10px;
			}
			#buyOnlineTabs  .selector-text  li, #buyOnlineTabs  .selector-icon  li{
			  margin:0;
			  width:204px;
			  text-align:center;
			  list-style-type:none;
			}
			 #buyOnlineTabs  .selector-text  li:first-child, #buyOnlineTabs  .selector-icon  li:first-child,
			#buyOnlineTabs  .selector-text  li:last-child, #buyOnlineTabs  .selector-icon  li:last-child{
			   width:145px;
			} 
			#buyOnlineTabs  .li-4 .large{
			font-size:112%!important;
			}
			
			.second-level-padding .span7,.first-level-padding .span7{
			margin-left:0;
			}
			.second-level-padding .questionnaire-content .span7 {
				margin-left:0;
			}
				/* fixing height of save proposal */
			#mobile_touch_device #buyOnlineTabs .tablet_potrait_container{
			min-height:231px!important;
			}
		#mobile_touch_device #PolicyHolderSubTab form,#mobile_touch_device #mainInsuredSubTab form,#mobile_touch_device #financilaDetailsSubTab form,#mobile_touch_device #AdditionalInsuredSubTab form,#mobile_touch_device #AdditionalInsured1Questionnaire form,#mobile_touch_device #AdditionalInsured2Questionnaire form,#mobile_touch_device #AdditionalInsured3Questionnaire form,#mobile_touch_device #AdditionalInsured4Questionnaire form,#mobile_touch_device #BeneficiarySubTab form,#mobile_touch_device #SPAJsummary,#mobile_touch_device #Declaration form{
		 margin: 0!important; 
		 overflow: auto;	 
		 height: 231px; 
		}

		#mobile_touch_device #buyOnlineTabs  #ProductDetails form{
			height: 268px;
			 overflow: auto;
			}
			#mobile_touch_device #QuestionnaireSummarySubTab.custom_inner_tab{
			height: 231px; 
			overflow: auto;
			}
			#mobile_touch_device #MainInsuredQuestionnaire form{
				height: 204px;
			}
			#mobile_touch_device #DocumentUpload{
			overflow: auto;
			height: 260px;
			margin-top: 1px;
			}
			/* fixing height of save proposal */
			
		#buyOnlineTabs ul#registration_tabs li:nth-child(5n) {
		width:118px;
		}
		

		#buyOnlineTabs ul#registration_tabs {
		height: 67px;
		padding-top: 0px;
		}

		#buyOnlineTabs  .selector-text  li.active:after {
		top:30px;
		}
		#buyOnlineTabs .navigation-progressbar{
		padding-top: 8px;
		height: 59px;
		}

		.btn_container_tlr_fluid {
		padding-bottom: 0px!important;
		}

		.footer {
		padding: 12px 0px;
		}
	/* 	.alert-box-holder{
		bottom:40px!important;
		} */
		#eappListing tr td:nth-child(2),#eappListing tr th:nth-child(2){
		min-width:42px !important;
		}
		#eappListing tr td:nth-child(3),#eappListing tr th:nth-child(3){
		min-width:130px!important;
		}
		#eappListing tr td:nth-child(4),#eappListing tr th:nth-child(4){
		min-width:52px!important;
		}
		#eappListing tr td:nth-child(6),#eappListing tr th:nth-child(6){
		min-width: 78px!important;
		}
		#eappListing tr td:nth-child(5),#eappListing tr th:nth-child(5){
		min-width:89px!important;
		}
				.DocUploadPopUp .del_ben_header {
		padding: 15px 30px 5px;
		}
		.Doc_pop_up_upload_btn_img_outer_cont {
		height: 433px;
		}
		.Doc_single_upload_btn_cont {
		height: 270px;
		}
		.Doc_upload_pop_up_camera_btn {
		height: 225px;
		}
		/* FNA Mobile Changes by LE Team Start: Fix for List display */
		#FNAList tr td:nth-child(2),#FNAList tr th:nth-child(2){
		/*min-width:160px!important;*/	
		}
		#FNAList tr td:nth-child(1){
		/*min-width:18px!important;	*/
		}
		#FNAList tr td:nth-child(3),#FNAList tr th:nth-child(3){
		/*min-width: 212px!important;
		max-width: 212px!important;*/
		}
		#FNAList tr td:nth-child(4),#FNAList tr th:nth-child(4){
		/*min-width: 263px!important;*/
		}#FNAList tr td:nth-child(5),#FNAList tr th:nth-child(5){
		/*min-width:189px!important;*/
		}
		/* FNA Mobile Changes by LE Team End: Fix for List display */
}
.twoColumnFirstLabel{
width: 24%!important;
}
.twoColumnSecondLabel{
width: 73%!important;
padding-left: 12px;
}
.paddingL0{
padding-left:0px;
}
#SummaryProductDetails .form-horizontal .control-label{
width: 175px;
}

#buyOnlineTabs #Questionnaire .navigation-progressbar ul{
width:100%;
}

#buyOnlineTabs #Questionnaire .navigation-progressbar .li-1 .selector-icon,#buyOnlineTabs #Questionnaire .navigation-progressbar .li-1 .selector-text{
padding-left:20%;
box-sizing: border-box;
}
#buyOnlineTabs #Questionnaire .navigation-progressbar .li-2 .selector-icon,#buyOnlineTabs #Questionnaire .navigation-progressbar .li-2 .selector-text{
padding-left: 16%;
box-sizing: border-box;
}
#buyOnlineTabs #Questionnaire .navigation-progressbar .li-3 .selector-icon,#buyOnlineTabs #Questionnaire .navigation-progressbar .li-3 .selector-text{
padding-left:10%;
box-sizing: border-box;
}
#buyOnlineTabs #Questionnaire .navigation-progressbar .li-4 .selector-icon,#buyOnlineTabs #Questionnaire .navigation-progressbar .li-4 .selector-text{
padding-left:1%;
box-sizing: border-box;
}

#buyOnlineTabs #Questionnaire .navigation-progressbar .li-1 .selector-icon li,#buyOnlineTabs #Questionnaire .navigation-progressbar .li-1 .selector-text li{
width:30%;
}
#buyOnlineTabs #Questionnaire .navigation-progressbar .li-2 .selector-icon li,#buyOnlineTabs #Questionnaire .navigation-progressbar .li-2 .selector-text li{
width:24%;
}
#buyOnlineTabs #Questionnaire .navigation-progressbar .li-3 .selector-icon li,#buyOnlineTabs #Questionnaire .navigation-progressbar .li-3 .selector-text li{
width:22%;
}
#buyOnlineTabs #Questionnaire .navigation-progressbar .li-4 .selector-icon li,#buyOnlineTabs #Questionnaire .navigation-progressbar .li-4 .selector-text li{
width:19%;
} 
.wrapNatureOfWork{
  white-space: normal;
}

@media screen and (max-width:480px){
  #myApplications .search-medium {
    width:195%;
    margin-left: 5px;
  }

   #myApplications .search-input-area .btn {
    width:30%;    
  }

  #myApplications .deleteEappList {
    width: 47% !important;
    margin-left: 6px;
  }

  #request_GAO_btn {
    padding: 3px;
  }

  #myApplications .search-input-area{width: 43% !important;margin-right: 40px !important;margin-left: 0 !important;margin-bottom: 9px;}

  #myApplications .white-box {margin-top: -10px !important;}

  #riders .fa-info-round {
    border: 1px solid #B4AAAA;
    border-radius: 100%;
    text-align: center;
    color: #B4AAAA;
    margin-left: -5px;
    width: 1.3em;
    height: 1.3em;
    line-height: 1.4em;
    z-index: 1;
  }

}