/*eApp Main Navigation starts*/
/* tax*/
.taxInputValue{
width: 88% !important;
margin: 0 6% !important;
line-height: 45px;
}
.taxbtns {margin-top: 20px; margin-bottom: 10px;}
.canceltaxbtn button{
    color:red !important; float:right !important; border:1px solid red !important; background:#fff !important;
    font-size: 19px;
    font-family: 'DBHelvethaicaRegular' !important;
}
.confirmtaxbtn button{
    float:left !important;
    font-size: 19px;
    font-family: 'DBHelvethaicaRegular' !important;
}
.canceltaxbtn{
    margin-left: 15px !important;    
    font-size: 19px;
    font-family: 'DBHelvethaicaRegular' !important;
}
/*payment module start*/
.eappdetails{width:30%;height: 130px;float: left;}
.eappsplitPaymentdetails{width:22%;height: 130px;float: left;}
#step2Payment .paymentTypeWordbreak{width:195px !important;padding-right: 26% !important;}
.eappdetails .control-group label:first-child
{
	width:auto;
	color: #888 !important;
	font-size: 20px !important;
	font-weight: bold !important;
	line-height: 50px;
	
}
.eappdetails .control-group label:nth-of-type(2) 
{
	font-size: 20px !important;
	padding-left: 0px !important;
	margin-left: 0;
	font-weight: bold !important;
	
}
.eappsplitPaymentdetails .control-group label:first-child
{
	width:auto;
	color: #888 !important;
	font-size: 20px !important;
	font-weight: bold !important;
	line-height: 50px;

}
.eappsplitPaymentdetails .control-group label:nth-of-type(2) 
{
	font-size: 20px !important;
	padding-left: 0px !important;
	margin-left: 0;
	font-weight: bold !important;
	
}
.eappsplitdetails{width:30%;height: 130px; float:left;}
.paymentBackBtn, .PaymentProceedBtn{padding-top:60px;}
.backactiondisplay{text-align: center;}
.backactiondisplay button
{
	float:none !important;
	margin-top: 30px; 
	margin-bottom: 40px; 
	background:none !important; 
	border-bottom:3px solid #c00 !important; 
	color:#c00 !important;
	font-weight: bold;
	font-size: 16px;
	text-align: left;
	padding: 0;
}
.displaysplitOnetab label{color: #c00 !important;font-size: 23px !important;padding: 20px 0; border-bottom:1px solid #ddd;}
.eAppSplitPayment{font-size: 20px;color: #888;font-weight: bold;line-height: 50px; width:80% !important;}
#eAppSplitPayment .radio{margin:0 !important;}
#eAppSplitPayment .iradio{margin:5px 5px 0 0 !important;}
#eAppSplitPayment label.radio span{margin-right:10px;}
.eAppSkipPayment{font-size: 23px;color: #888;font-weight: bold;line-height: 50px; width:80% !important;}
#eAppSkipPayment .radio{margin:0 !important;}
#eAppSkipPayment .iradio{margin:5px 5px 0 0 !important;}
#eAppSkipPayment label.radio span{margin-right:10px;}

#Payment{margin-top: 35px;}
#Paymentconfirmaction{clear:both; margin-left:2%;}
#Paymentconfirmaction .accordion-inner{border-top:0;}
#step2Payment{background: #fff;height: auto;}
form#step2Payment{margin-top:35px !important;}
#step2Payment .accordion-inner
{
	margin: 15px !important;
	border-top: 0 !important;
	background: #fff!important;
	padding: 0 0 30px 0 !important;
}
.payproceedButton button.btn[disabled] {display:none !important;}
#step2Payment .btn[disabled] {display:none !important;}
#generateManualETRAction, #generateDynamicETRAction, #updateManualETRAction{text-align: center;background: #F3DFDF !important; width:30% !important;}
#generateManualETRAction label:first-child, #generateDynamicETRAction label:first-child, #updateManualETRAction label:first-child{line-height:25px; font-size:20px !important;padding: 0 30px;}
#step2Payment input:focus{outline:none;}
/*.etrInputValue{margin:0 22% !important;}*/
.etrInputValue { width: 70% !important;
    margin: 0 18% !important; }
#generateDynamicETRAction input{
	background: none;
border: none;
}
#step3Payment{margin-top:10px;}
.paymentdone{ text-align:center;padding-top:50px;}
.paymentdone label span{color:green !important;font-size: 25px !important;padding: 20px 0;}

.closeTimepopup{display:none !important}
.closeDatepopup{display:none !important}
.amountValidate label span{color: #c32a24;}
.amountValidate{position: relative;margin-top: -65px;margin-left: 19.5%;width: 28%;}
#updateManualETRAction .accordion-inner, #generateManualETRAction .accordion-inner{height:300px;}
#generateDynamicETRAction .accordion-inner{height:170px;}
.updateETRBTN{text-align:right;}
.cancelETRBTN{text-align:left;}
.updateETRBTN button{width:auto !important;}
.cancelETRBTN button{width:auto !important;}
.updateETRbuttonactive {width:87% !important; margin-top: -64px;}
.etrbuttonwidth button{width:auto !important;}
#generateDynamicETRAction .row1_container:first-child{
  display: none !important;
}
#step2Payment #generateDynamicETRAction .accordion-inner{
    margin:20px 20px 20px !important;
    padding-top: 20px !important;
    position: relative;
}
#generateDynamicETRAction.modal, #generateManualETRAction.model, #updateManualETRAction.model {background: #EFE9E9 !important;}
#generateDynamicETRAction input:disabled{
  background: none !important;
  margin-top: -5px;
font-weight: bold;
}
#generateDynamicETRAction label.alert-label{
  position: absolute;
  width: auto;
  left: 0;
  padding-left: 0px !important;
  top: -25px;
  color: #C73734;
font-size: 25px !important;
}
#emailokButton{margin-right:30px;}

#paynowEmailWeb{width: 30% !important; margin-left: -17% !important;}
.webpaynowemailapp{text-align:center;}

button.paynowPopupEmail{float: none !important;
margin-top: 60px;
color: #000 !important;
border: 0 !important;
background: url("../img/icon/Mail.png") no-repeat 15% 50% !important;
padding: 10px 0 10px 45px;
font-family: 'DBHelvethaicaRegular' !important;
font-size: 19px;
width:48px;
height:48px;
margin-right: 0 !important;
}

button.paynowPopupWhatsapp{float: none !important;
margin-top: 60px;
color: #000 !important;
border: 0 !important;
background: url("../img/icon/whatsapp-icon.png") no-repeat 15% 50% !important;
padding: 10px 0 10px 45px;
font-family: 'DBHelvethaicaRegular' !important;
font-size: 19px;width:48px;
height:48px;
margin-right: 0 !important;
}

button.paynowPopupLine{float: none !important;
margin-top: 60px;
color: #000 !important;
border: 0 !important;
background: url("../img/icon/line-icon.png") no-repeat 15% 50% !important;
padding: 10px 0 10px 45px;
font-family: 'DBHelvethaicaRegular' !important;
font-size: 19px;width:48px;
height:48px;
margin-right: 0 !important;
}
#paynowEmail{width:30% !important; margin-left:-17% !important; top:34% !important;}
#paynowEmail .accordion-inner{padding: 0 !important; margin: 0 !important;}
#paynowEmail .column-group-single{float: left; width: 33%; padding-bottom: 30px;text-align: center;}

#close_email_popup{cursor:pointer;}
#paymentEmailPopup{height:500px;}

.hideSplitOne{position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	
	background-color: #000000;
	opacity: 0.8;display:block;
	background-image: url(../img/brspin.gif);
	background-repeat: no-repeat;
	background-position: center center;
}
.loadmsg{
	font-family: 'DBHelvethaicaRegular' !important;
	color:#ccc;
	font-size:19px !important;
	left: 62px;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;}

@media screen and (max-width:700px){
	#eAppSkipPayment label.radio span{margin-top:10px !important;}
	#eAppSplitPayment label.radio span{margin-top:10px !important;}
}
@media screen and (max-width:640px){
	.eappdetails{width:40%;}
	.eappsplitdetails{width:40%;}
}
@media screen and (max-width:1200px){
.updateETRbuttonactive {width: 80% !important; margin-top: -64px;}
.etrInputValue {  margin: 0 15% !important;  width: 70% !important; }
#generateManualETRAction, #generateDynamicETRAction, #updateManualETRAction{text-align: center;background: #F3DFDF !important;    width: 54% !important;    
margin-left: -26% !important;
 margin-top: -30px !important;}
}
@media screen and (min-width:1350px){
.premium-footer-block .paddingLeftprem.padding-summary-premium{
  margin-right: 20px;
}
.accordion.premium-footer-block{
  padding: 0px 40px 0px 20px !important;
}
  
}


/*payment module end*/


/*doc upload start*/
#DocumentUpload{margin-top:30px;}
#DocumentUpload .accordion-heading .accordion-toggle{color: #c32a24 !important;font-weight: bold; font-size:23px !important;padding: 15px 15px !important;}
.doc_upload_main_wrapper {padding: 0 !important;}
#DocumentUpload .tile {box-shadow: none;border: 1px solid #ddd;}
#DocumentUpload .document-top h5 span:nth-child(1){font-weight:normal;font-family: 'DBHelvethaicaRegular' !important;font-size: 20px;}
#DocumentUpload .document-top h5 span:nth-child(2){font-weight:normal;font-family: 'DBHelvethaicaRegular' !important;font-size: 20px;}
#DocumentUpload .document-top h5 span:nth-child(3){text-transform: capitalize; font-size: 20px;font-family: 'DBHelvethaicaRegular' !important;}
.uploadheader{width:492px !important;}
.addMinusIcon{width:450px !important;}
.docReqButtonClass button{width:240px !important;text-transform: capitalize !important;font-size: 23px !important;}
.syncIconheader{width:200px !important;}
.syncIcondetails{width:165px !important;}
.noListheader{width:200px !important;}
.noListdetails{width:165px !important;}
.docTypedetails{width:500px !important;}
.docTypeheader{width:500px !important;}
.customDropIcon{right:0 !important;}
#DocumentUpload table td.docReqButtonClass{width: 400px !important; padding-left: 80px !important;}
.docReqButtonClass .circle-green{vertical-align: middle;margin-left: 15px;width: 17px;height: 17px; padding:8px;}
#DocumentUpload table.table-sorter td {
padding: 10px 14px !important;
}
#DocumentUpload table.table-sorter th {
padding: 13px 0 !important;
}
#DocumentUpload table.table-sorter td {
padding: 10px 14px !important;
}
#DocumentUpload table.table-sorter th {
padding: 13px 0 !important;
}
.backtoDocUpload{color: #fff !important;background: #c00;text-transform: capitalize !important;}
.whiteColor{background:none !important;}
#DocumentUpload .accordion{background:none !important;}
.doc_upload_main_wrapper .accordion-group {margin-bottom: 10px !important;}

.writing2 {
padding: 15px 0 10px 0 !important;
margin-top:20px;
}
#DocumentUpload table tr td .plusIconActive{display:none;}
#DocumentUpload table tr:last-child td span .plusIconActive{display:block;}

.documentAccordionList{background: #eee9e9 !important;}
#DocumentUpload .writings {margin-top:20px;}
.docAccordionHeader{cursor:pointer;}

@media screen and (max-width:1300px){
	.noListheader{width:150px !important;}

}
@media screen and (min-width:1024px) and (max-width:1299px){
  .noListdetails{width:111px !important;}


}
@media screen and (min-width:1300px){
  .noListdetails{width:165px !important;
  }
}
/*doc upload end*/


/*GAO*/

#myApplications .search-input-area{width: 43% !important; margin-right: 40px !important; margin-left: 0 !important;}
#myApplications .search-input-area input{border:0 !important;}


.touch-disabled{
	color: #B0B2B3;
	pointer-events:none;
}
ul#registration_tabs {
  margin-bottom: 0;
  background-color: #F4F4F4;
}
#registration_tabs li{
  display: inline-block;
  width: 16.3%;
  text-align: center;
  padding: 10px 0 0;
  font-size: 16px;
  font-weight: bold;
}
#registration_tabs li a{
  color: black;
  width: 80%;
  display: table;
  margin: auto;
  margin-bottom: -7px;
}
#registration_tabs li.activated{
  opacity:0.6;
  }
 #registration_tabs li.activated a{
  color: #c32a24;
  }
#registration_tabs li.activate a{
  color: #c32a24;
  }
#registration_tabs .nav-text{
  display: table-cell;  
  vertical-align: middle; 
  height: 34px;
  margin: auto; 
  float:left;
  width:100%;
  text-align:center;
  font-family: 'DBHelvethaicaRegular' !important;
  font-size: 22px !important;
}
.vt_VT #registration_tabs li{
	padding: 4px 0 0;
}
.vt_VT #registration_tabs .nav-text{
	height:40px;
	line-height: 20px;
}
#registration_tabs .nav-text-icon{
  float: left;
  width: 100%;
}
#registration_tabs .nav-text-icon div{
  width: 40px;
  height: 35px;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.datepicker-dropdown{
  z-index: 999 !important;
}
#eapp-Address-PlaceofWork .accordion-inner, #eapp-OccupationDetails .accordion-inner{
  padding: 20px 0px 10px 15px !important;
  border-top: 1px solid #EEE9E9;
}
#eapp-Address-PlaceofWork a.accordion-toggle,#eapp-OccupationDetails a.accordion-toggle{
  padding: 8px 0px !important;
  background: #fff !important;

}
#eapp-Address-PlaceofWork .collapse.in,#eapp-OccupationDetails .collapse.in{
  margin-left:-15px;
}
#personalDetailsTabName .nav-text-icon div{
 background-image: url('../img/icon/userblack.png');
}
#productTabName .nav-text-icon div{
 background-image: url('../img/icon/PDblack.png');
}
#questionnaireTabName .nav-text-icon div{
 background-image: url('../img/icon/questblack.png');
 }
 #summaryTabName .nav-text-icon div{
 background-image: url('../img/icon/summaryblack.png');
 }
 #paymentTabName .nav-text-icon div{
 background-image: url('../img/icon/paymentblack.png');
 }
 #uploadTabName .nav-text-icon div{
 background-image: url('../img/icon/docblack.png');
 }
 
 /* for activate tabs*/
 
 li.activate  #personalDetailsTabName .nav-text-icon div{
 background-image: url('../img/icon/user.png');
}
 li.activate  #productTabName .nav-text-icon div{
 background-image: url('../img/icon/PD.png');
}
 li.activate  #questionnaireTabName .nav-text-icon div{
 background-image: url('../img/icon/quest.png');
 }
  li.activate  #summaryTabName .nav-text-icon div{
 background-image: url('../img/icon/summary.png');
 }
  li.activate  #paymentTabName .nav-text-icon div{
 background-image: url('../img/icon/payment.png');
 }
  li.activate  #uploadTabName .nav-text-icon div{
 background-image: url('../img/icon/doc.png');
 }
 
/* for activated tabs*/
 
 li.activated  #personalDetailsTabName .nav-text-icon div{
 background-image: url('../img/icon/usertick.png');
}
 li.activated  #productTabName .nav-text-icon div{
 background-image: url('../img/icon/PDtick.png');
}
 li.activated  #questionnaireTabName .nav-text-icon div{
 background-image: url('../img/icon/questtick.png');
 }
 li.activated  #summaryTabName .nav-text-icon div{
 background-image: url('../img/icon/summarytick.png');
 }
 li.activated  #paymentTabName .nav-text-icon div{
 background-image: url('../img/icon/paymenttick.png');
 }
 li.activated  #uploadTabName .nav-text-icon div{
 background-image : url('../img/icon/doctick.png');
 }



/*eApp Main Navigation ends*/

/*Horizontal navigation starts*/
ul.nav-justified{
  display: table;
  width: 100%;
}
ul.nav-justified{
  margin-bottom: 0;
  border: none;
}
.nav-justified > li{
  display: table-cell;
  float: none;
  text-align: center;
}
.navigation-progressbar{
 background-color:#e2dcdc;
 padding:15px 30px 0 30px;
 float:left;
 width: 100%;
 padding-left: 0;
 padding-right: 0;
 margin-bottom: -22px;
}
#buyOnlineTabs  .selector-text  li{
	position:relative;
}
/* #buyOnlineTabs  .selector-text  li.active:first-child:after {
	left:28%;
}
#buyOnlineTabs  .selector-text  li.active:last-child:after {
	left:72%;
} */
#buyOnlineTabs  .selector-text  li.active:after {
    top: 36px;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: #E2DCDC;
    border-width: 10px;
    margin-left: -10px;
	z-index:9;
}
#buyOnlineTabs  .selector-text , #buyOnlineTabs  .selector-icon {
  display: inline-block;
}
#buyOnlineTabs  .selector-text  li, #buyOnlineTabs  .selector-icon  li{
  margin:0;
  width:290px;
  text-align:center;
  list-style-type:none;
}
/*#buyOnlineTabs  .selector-text  li:first-child, #buyOnlineTabs  .selector-icon  li:first-child,
#buyOnlineTabs  .selector-text  li:last-child, #buyOnlineTabs  .selector-icon  li:last-child{
   width:177px;
}*/ 
/* #buyOnlineTabs  .selector-text li:first-child {
   text-align:left;
} */
#buyOnlineTabs  .selector-text li:last-child {
   text-align:right;
}
/* #buyOnlineTabs  .selector-icon li:first-child .line-after-circle,#buyOnlineTabs  .selector-icon li:last-child .line-after-circle{
  width:78%;
 }
#buyOnlineTabs  .selector-icon li:first-child  .outer-circle{
   margin-left:22%;
}
#buyOnlineTabs  .selector-icon li:last-child  .outer-circle{
   margin-right:22%;
} */
#buyOnlineTabs .inner-circle{
   background-color:#eee9e9;
}
#buyOnlineTabs .navigation-progressbar li a{
   color:#000000;	
   font-size: 19px;
   font-family: 'DBHelvethaicaRegular';
}
/* #buyOnlineTabs li.active  .inner-circle, #buyOnlineTabs li.activated  .inner-circle{
	background-color:#c32a24;
} */
#buyOnlineTabs li.active  .inner-circle, #buyOnlineTabs li.activated  .inner-circle{
	background-color:#c32a24;
  
}
#buyOnlineTabs li.activated  a span{
    color:#c32a24;
}
#buyOnlineTabs li.activated  .inner-circle, #buyOnlineTabs li.activated  a span{
	-moz-opacity:0.6;
	-webkit-opacity:0.6;
	opacity:0.6;
}
#buyOnlineTabs li.active a{
	color:#c32a24;
}
/* #buyOnlineTabs li.activated {
	opacity:0.6;
} */
.accordion-toggle .fa-plus{
	display:none;
}
.accordion-toggle .fa-minus{
	display:inline;
}
.accordion-toggle.collapsed .fa-plus {
	display: block;
}
.accordion-toggle.collapsed .fa-minus {
	display: none;
}
#buyOnlineTabs .accordion-group {
	border:0;
}
#buyOnlineTabs .accordion{
  font-size: 14px;
}
#buyOnlineTabs .fa-minus {
	border:0px ;
}
.eappQuestionnaire-accordian .accordion-heading  {
	/*background-color:#eee9e9;*/
}
.eappQuestionnaire-accordian .accordion-inner{
	border:0px;
	padding-left: 15px;
}
.dark-accordion-title a span{
	font-size:13px;
	color:#333333;
}

/*Horizontal navigation ends*/
#mobile_touch_device .tablet_potrait_container{
  border:0px;
}
#mobile_touch_device #buyOnlineTabs .all-tab-content form{
  margin-top:18px;
}
#mobile_touch_device .all-tab-content{
  margin: 0!important;
}
.all-tab-content{
  background-color:#eee9e9;
}
.all-tab-content .tab-content{
  padding: 0;
  margin: 0 20px;
  background-color: #eee9e9;
}
.all-tab-content .tab-content .tab-content{
  margin: 0;
}
#financilaDetailsSubTab .tab-content{
  background-color: white;
}
.all-tab-content .accordion{
  background-color: white;
}
.all-tab-content .accordion-inner{
  padding: 30px 8px 0 30px;
}
.accordion-inner.no_brd_top{
  padding-top:0;
}
.accordion-multiple.accordion-inner{
  padding: 0!important;
  border: 0;
}
.accordion-multiple .accordion-group{
  border-left: 0;
  border-right: 0;
}
#BeneficiarySubTabSection .accordion-inner {
  padding: 0;
}
#BeneficiarySubTabSection .white-box{
  padding-bottom: 0;
  margin-bottom: 0;
}
#BeneficiarySubTab .tab-content{
  background-color: white;
}
/*Vertical navigation starts*/
.tabs-left .vertical-tabs{
  display: none;
}
.tabs-left .vertical-tabs.active{
  display: block;
}
.tabs-left li.active{
  border-left: 2px solid #c32a24;
  font-weight: bold;
}
.tabs-left > .nav-tabs > li{
  margin-bottom: 5px;
}
.tabs-left > .nav-tabs > li > a{
  border: none!important;;
  padding: 10px;
}
.tabs-left > .nav-tabs > li > a span{
  text-indent: 5px;
  display: inline-block;
}

/*Vertical navigation ends*/

.tabs-left .control-group{
  margin-right: 20px;
}
.tabs-left .accordion-inner{
  padding-left: 0;
  padding-right:0;
}
.tab-content .customarea{
    background-color: white;
}
#Questionnaire .tab-content .customarea{
    min-height:400px;
}
#InsuredDetails .tab-content .customarea{
  height: 300px;
  overflow-y: auto; 
}
.btn-container{
  padding: 20px 0;
}
#mobile_touch_device  #buyOnlineTabs .tablet_potrait_container{
  background-color: #eee9e9;
  border:0;
}
.table-holder .thead th:first-child{
  min-width: 30px;
}
.fht-tbody table#riderDetails {
  width: 100% !important;
  margin-top: -51px !important;
}
.search-medium{
  height: 36px!important;
}
#myApplications .search-block{
  margin-top: 20px;
  margin-bottom:20px;
}
.eappListing-SPAJ select{
background:transparent !important;
}
.two-column.span6{
  margin-left: 0;
  min-height: 60px;
}
.border-btm{
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
.two-column.span6:nth-child(odd){
  padding-right: 3%;
}
#pbRider .fa-info-round{
  border: 1px solid #B4AAAA;
  border-radius: 100%;
  text-align: center;
  color: #B4AAAA;
  margin-left: 5px;
  width: 1em;
  height: 1em;
  line-height: 1em;
  z-index: 1;
}
#riders .fa-info-round {
    border: 1px solid #B4AAAA;
    border-radius: 100%;
    text-align: center;
    color: #B4AAAA;
    margin-left: -12px;
    width: 1.3em;
    height: 1.3em;
    line-height: 1.4em;
    z-index: 1;
}
.info-icon{
  font-size: 23px;
}
.fa-info-round .fa{
  margin: auto;
}
input[type="date"]{
  margin-bottom: 0;
}
.fa-3x {
  font-size: 3em!important;
}
.fa-2x {
font-size: 2em!important;
}
.btn-align{
  display: inline-block!important;
  float: none!important;
}
#ProductDetails.tab-content{
  background-color: transparent;
}
.margin-left0{
  margin-left: 0!important;
}
.chkbox{
 min-height: 40px;
}
.plus-round-icon{
  border: 1px solid white;
  border-radius: 100%;
  padding: 0px 7px 0 7px;
  font-size: 18px;
  display: inline-block;
  margin-right: 5px;
}
.span1-5{ /*used for single column layout and equivalent to span5 in two column layout*/
  width: 19%!important;
}
.span2-10{/*Split the page into 10 columns*/
  width: 18.9%!important;
}
.span2-5{ /*used for single column layout and equivalent to span5 in two column layout*/
  width: 16.3%!important;
}
.span7-10{/*used for single column layout and equivalent to span7 in two column layout*/
   width: 78.905983%!important;
}
.span9-7{
width: 72.2%!important;
}
.span3-5{
width: 25%!important;
}
.highlighted-section{    
    background-color: #FBF3F3;
    margin: -1 -8px 20px 0px;
    padding: 11px 15px 2px 30px;
    min-height: 100px;
}

.sign-wrapper .signpad{
  background-color: #ffffff;
  width: 100%;
  height: 160px;  
  margin: 5px 0 10px;
}
.sign-wrapper .sigWrapper {
   border: 1px solid #cccccc;
}
.sign-wrapper .signContentWrapper{
  height: 160px;
  width: 500px;
}
#accordion_insurance_tab .sigPadIllustration .signContentWrapper {
width: 500px;
}
.clearSign{
max-width: 130px !important;
float: left;	
}
.sign-text{
  line-height: 90px;
}
.esign-buttons{
  margin-top: 10px;
}

#buyOnlineTabs p.error{
  display: none;
}
#Summary .accordion-inner{
  padding: 0;
}
#Summary .two-column{  
  min-height: 40px;
}

.padding-right3{
  padding-right: 3%;
}
#Summary .summary_title_txt{
  padding-left:15px;
}
#Summary .summary_title_container{
  padding:15px 0;
  margin-bottom: 5px;
  color:#c32a24;
}
.additional-insured-heading{
  background-color: #F4F4F4;
  padding: 5px 0;
}
/* .eappListing-SPAJ select{
background:white !important;
}
.eappListing-SPAJ a{
z-index:1
} */
.addNewEapp{
display:none !important;
}

.radio-width label{
  min-width:20%!important;
}
.deleteEappList{
font-family: 'DBHelvethaicaRegular' !important;
font-size: 19px !important;
color:white;
background: #c32a24 !important;
color: #ffffff;
font-size: 13px;
cursor: pointer;
text-align: center;
border: none;
}
.deleteEappList:disabled{
  background: #B0B2B3!important;
}
.deleteEappList i{
margin-right:5px;
vertical-align: middle;
font-size: 1.5em !important;
}

.savePayment{
    font-family: 'DBHelvethaicaRegular' !important;
    font-size: 19px !important;
}

.gaoEditViewDoc{
    font-family: 'DBHelvethaicaRegular' !important;
    font-size: 19px !important;
}
#buyOnlineTabs #riderDetails .accordion-inner,
#buyOnlineTabs #riderDetails .white-box{
  padding: 0;
}

#buyOnlineTabs #riderDetails .text-center th{
  text-align: center;
}

/* Beneficiary tab */
#BeneficiarySubTab .accordion-heading {
  border-top: 1px solid #EEE9E9;
  font-weight: bold;
}
/* personal detail */

#PolicyHolderSubTab #PolicyHolderSubTab0 .accordion-inner{
  padding: 0 0 0 15px;
}

#buyOnlineTabs #riderDetails .white-box .fht-table-wrapper.fht-default {
height: 530px !important;
}
#buyOnlineTabs #riderDetails .white-box{
	margin-bottom:0px;	
}


  /* fixing save proposal in eapp */

#mobile_touch_device #PolicyHolderSubTab form,#mobile_touch_device #mainInsuredSubTab form,#mobile_touch_device #financilaDetailsSubTab form,#mobile_touch_device #AdditionalInsuredSubTab form,#mobile_touch_device #AdditionalInsured1Questionnaire form,#mobile_touch_device #AdditionalInsured2Questionnaire form,#mobile_touch_device #AdditionalInsured3Questionnaire form,#mobile_touch_device #AdditionalInsured4Questionnaire form,#mobile_touch_device #BeneficiarySubTab form,#mobile_touch_device #SPAJsummary,#mobile_touch_device #Declaration form{

    overflow: auto;
	 height: 415px; 
}

#mobile_touch_device #SPAJsummary{
  height: auto !important;
}
#mobile_touch_device #QuestionnaireSummarySubTab.custom_inner_tab{
    height: 415px; 
	overflow: auto;
	}

#mobile_touch_device #buyOnlineTabs #ProductDetails form{
	height:477px;
	 overflow: auto;
	}
#mobile_touch_device #MainInsuredQuestionnaire form{
	height:398px;
	}
	#mobile_touch_device #DocumentUpload{
	overflow: auto;
	height: 495px;	
	}
	#PolicyHolderSubTab .alert-box-holder{
	bottom:55px;
	}
	#PolicyHolderSubTab .alert-box{
	margin: 0;
	margin-bottom: 23px;
	margin-right: 21px;
	}

	/* web */
/* #PolicyHolderSubTab,#financilaDetailsSubTab,#ProductDetails,#AdditionalInsuredSubTab{
 margin: 0!important; 
    overflow: auto;
}
#PolicyHolderSubTab,#AdditionalInsuredSubTab {
    height: 240px; 
	}
#financilaDetailsSubTab {
    height: 250px;    
	}
#ProductDetails{
	height:329px;
	}
#MainInsuredQuestionnaire{
	height:250px;
	}	 */
/* web */	
/* fixing save proposal in eapp */
@media (min-width:1200px){
 #eappListing tr td:nth-child(3){
	 min-width:180px!important; 
	}
}
#mobile_touch_device #eappListing tr th:nth-child(3),#mobile_touch_device #eappListing tr td:nth-child(3){
	min-width:77px!important;
	}
	#eappListing tr td:nth-child(9){
	min-width:62px!important;
	}
	#eappListing tr td:nth-child(2){
	min-width: 46px!important;
	}
	#eappListing tr th:nth-child(2){
	width: 46px!important;
	}
	#eappListing tr td:nth-child(4){
	min-width: 80px!important;
	}

.row-fluid.inner_block{
	background-color:#fafafa;
	padding:15px;
	box-sizing:border-box;
	margin-bottom: 20px;
}
.inner_block .modal-header .close{
	margin-right:-25px;
	margin-top:-10px
}
#buyOnlineTabs .inner_block .two-column.span5 {
min-height: 63px;
}
.textareaWidth {
width: 70% !important;
}

.addBeneficiaryButton{
  background: #fff url('../img/add-enabled.png') no-repeat 15px !important;
  color: #c32a24;
  font-family: 'DBHelvethaicaRegular';
  font-size: 19px !important;  
  border: 1px solid #c32a24;
  width: auto !important;
  padding: 10px 30px 10px 50px;
  margin: 0;
}
.addBeneficiaryButton img{
  width: 24px;
  height: 23px;
  margin-right: 10px;
}
.addBeneficiaryButton .disabled, .addBeneficiaryButton[disabled] {
    opacity: 1;
    background: #B0B2B3 url('../img/add-disabled.png') no-repeat 15px !important;
    border: 0;
    color: white;
    font-family: 'DBHelvethaicaRegular';
    font-size: 19px !important;
    width: auto !important;
    padding: 10px 30px 10px 50px;
    margin: 0;
}

@media only screen and (max-device-width: 1024px), 
       only screen and (-webkit-min-device-pixel-ratio: 2) {
        .document-upload-table .noListheader{width: 290px !important;}
}

@media (max-width: 1210px) {
	.textareaWidth {
		width: 80% !important;
		}
}
/*for ipad*/
@media (max-width: 1100px) {
	.radio-width label {
		min-width: 15% !important;
	}
	.textareaWidth {
		width: 90% !important;
		}
	#Questionnaire .span5.two-column{
	  width: 48%;
	}
	.row-fluid.inner_block{
	padding:10px;
	}
	#buyOnlineTabs  .selector-text  li, #buyOnlineTabs  .selector-icon  li{
	  margin:0;
	  width:218px;
	  text-align:center;
	  list-style-type:none;
	}
	 /*#buyOnlineTabs  .selector-text  li:first-child, #buyOnlineTabs  .selector-icon  li:first-child,
	#buyOnlineTabs  .selector-text  li:last-child, #buyOnlineTabs  .selector-icon  li:last-child{
	   width:150px;
	} */
	#subBeneficialQuestionnaire label .iradio{
	min-height: 48px;
	}
	/* fixing height of save proposal */
	#mobile_touch_device #PolicyHolderSubTab form,#mobile_touch_device #mainInsuredSubTab form,#mobile_touch_device #financilaDetailsSubTab form,#mobile_touch_device #AdditionalInsuredSubTab form,#mobile_touch_device #AdditionalInsured1Questionnaire form,#mobile_touch_device #AdditionalInsured2Questionnaire form,#mobile_touch_device #AdditionalInsured3Questionnaire form,#mobile_touch_device #AdditionalInsured4Questionnaire form,#mobile_touch_device #BeneficiarySubTab form,#mobile_touch_device #SPAJsummary,#mobile_touch_device #Declaration form{
        
        overflow: auto;
        height: 407px;
    }
    #mobile_touch_device #QuestionnaireSummarySubTab.custom_inner_tab{
        height: 409px;
        overflow: auto;
    }
    
    #mobile_touch_device #buyOnlineTabs #ProductDetails form{
        height:470px;
        overflow: auto;
    }
    #mobile_touch_device #MainInsuredQuestionnaire form{
        height:394px;
    }
	#mobile_touch_device #DocumentUpload{
	overflow: auto;
	height: 489px;
	
	}
	/* fixing height of save proposal */
}
@media (max-width: 1024px) and (min-width: 1000px){
    /*.customNatureOfWork {
        width: 79.358974% !important;
        margin-left: -197px !important;
    }
    .customNatureOfWork1 {
        width: 82.358974% !important;
        margin-left: -185px !important;
        margin-right: -22px;
    }*/

 .insuredheaderclass{
    left: 20px !important;
}
.payerheaderclass{
  	left: 70px !important;
}

    .indent-parent-answer{
        padding-left: 28px !important;
      }

      .s-answer-block{
        margin-left: 98px !important;
      }
      .indent-parent-question.summary-parQuest + .indent-parent-answer.Summary-label-answer{
        margin-left: 13px !important;
      }
    
    .row-fluid .span7.gardian-radiobtn{
      width: 100%;
    }
    
    .Address-row .span7{
        left: 5px;
    }
    
    #paymentModeRenewalDetails{
        width:73% !important;
    }
    
    #financialDetailsSection2{
        width:73% !important;
    }
    
/*
    #productriderDetails td:nth-child(3) {
        padding-left: 1.6% !important;
        padding-right: 13.2% !important;
        }
    
    
*/    
    .nav-tabs.five li {
        width: 19.87% !important;
    }
    #productriderDetails td:nth-child(2){
        padding-right: 15px !important;
    }
    body #productriderDetails th:nth-child(3){
        padding-right: 29px !important;
    }
    .validForLifeCustom{
        margin-top: -31px !important;
    }    
    .validForLifeCustom .icheckbox {
        margin-left: 8px !important;
    }
    #eapp-OccupationDetails .form-horizontal .control-label{
      font-size: 18.4px;
    }
    .convenient-contact .span5 span{
      font-size: 18.4px !important;
    }
	#FNAList tr td:nth-child(2),#FNAList tr th:nth-child(2){
		min-width:160px!important;
		max-width:160px!important;
		}
		/* Changes by FNA LE Team start */
		#FNAList tr td:nth-child(3),#FNAList tr th:nth-child(3){
		min-width:176px!important;
		max-width:270px!important;
		}
		#FNAList tr td:nth-child(4),#FNAList tr th:nth-child(4){
		min-width:178px!important;
		max-width:270px!important;
		}#FNAList tr td:nth-child(5),#FNAList tr th:nth-child(5){
		min-width:160px!important;
		max-width:189px!important;
		}
		/* Changes by FNA LE Team end */
    .form-horizontal .control-label{
       width:40.5%;
    }
    .span6.paddingLeftprem{
    padding-left: 20% !important;
    }
    .span1-5 {
        width: 20%!important;
        margin-left: 0 !important;
      }

.addBeneficiaryButton{
  background: #fff url('../img/add-enabled.png') no-repeat 15px !important;
  color: #c32a24;
  font-family: 'DBHelvethaicaRegular';
  font-size: 19px !important;  
  border: 1px solid #c32a24;
}

.addBeneficiaryButton .disabled, .addBeneficiaryButton[disabled] {
    opacity: 1;
    background: #B0B2B3 url('../img/add-disabled.png') no-repeat 15px !important;
    border: 0;
    color: white;
    font-family: 'DBHelvethaicaRegular';
    font-size: 19px !important;  
}

      #mobile_touch_device #PolicyHolderSubTab form,#mobile_touch_device #mainInsuredSubTab form,#mobile_touch_device #financilaDetailsSubTab form,#mobile_touch_device #AdditionalInsuredSubTab form,#mobile_touch_device #AdditionalInsured1Questionnaire form,#mobile_touch_device #AdditionalInsured2Questionnaire form,#mobile_touch_device #AdditionalInsured3Questionnaire form,#mobile_touch_device #AdditionalInsured4Questionnaire form,#mobile_touch_device #BeneficiarySubTab form,#mobile_touch_device #SPAJsummary,#mobile_touch_device #Declaration form,
#mobile_touch_device form#AdditionalInsuredSubTab0,
#mobile_touch_device form#AdditionalInsuredSubTab2,
#mobile_touch_device form#AdditionalInsuredSubTab1,
#mobile_touch_device form#AdditionalInsuredSubTab3,
#mobile_touch_device form#DeclarationAndAuthorizationTab{
	 height: auto;
}

.yes-no-alignment{
/*  padding: 0% 2% !important;*/
}
.insured-payer-alignment{
  left:-10px !important;
}

}

.eapp-header-static .two-column.span5{
  min-height: 40px !important;
}
.eAppTraineeAgent{
  min-height: 35px !important;
  max-height: 35px;
}
#mainInsuredSubTab #AgentTrinee .accordion-inner{
  padding:10px 15px 10px 15px !important;
}

#adiitionalInsuredSection0{
  clear:both;
  float:left;
  height:auto;
  width:100%;
}
#financilaDetailsSubTab, #buyOnlineTabs .accordion-heading{
	font-size: 13px !important;
	position:relative;
}
/* #buyOnlineTabs .custtypeahead .dropdown-menu{	
	height:200px;
	overflow-y:scroll;
} */
#buyOnlineTabs .two-column.span5:nth-child(even){
  float: right;
}
#buyOnlineTabs .column-group-two:nth-child(even){
  width: 44%;
  float:right
}
#buyOnlineTabs .column-group-two:nth-child(even) .span5.two-column{
  width: 100%!important;
}
#buyOnlineTabs .two-column.span5{
  margin: 0;
  min-height: 60px;
}
#buyOnlineTabs .span5.two-column{
  width: 44%;
}
#buyOnlineTabs .accordion-inner{
  padding: 20px 15px 10px 15px;
}
.questionnaire-content{
  font-size: 13px;
  width: 100%;
  float: left;
}
.radio_width.span1 {
width:75px;
}
#buyOnlineTabs .tabs-left > .nav-tabs{
  border-right: 0;
}
#Questionnaire .radio-min-height{
  min-height: 0;
}
#PolicyHolderSubTab .eappQuestionnaire-accordian{
  font-size: 1em;
}
.summary_title_txt{
  font-size:14px;
}
.eappQuestionnaire-accordian .displayNone .accordion-inner{
	padding:0 15px;
}
.displayNone{
    display:none !important;
}

.header-less .accordion-inner,
.header-less.accordion{
  padding-top: 0!important;
  padding-bottom: 0!important;
}
.header-less .accordion-heading{
  display: none!important;
}

#Questionnaire .min-height.span12, #Summary .min-height.span12{
  min-height: 0!important;
}



/* summary tab */
.summaryCheckbox .span3:nth-child(5){
	margin-left:0px !important;
}
#SPAJsummary .accordion-inner,
#QuestionnaireSummarySubTab .accordion-inner{
  padding: 0;
}
#Summary .accordion-inner .accordion-toggle{
  padding-left:30px;
  border-bottom:1px solid #eee9e9;
  border-top:1px solid #eee9e9;
  font-weight: bold;
	padding: 5px 20px;
	font-size: 12px !important;
  font-weight: bold;
	padding: 5px 10px;
	font-size: 12px !important;

}
#SPAJsummary label,
#QuestionnaireSummarySubTab label{
  margin-bottom:0;
}
#Declaration label.radio{
  padding-right: 15px;
}
#Summary .two-column.span5{	
  min-height:48px;
}
#Declaration  .control-group .icheckbox + label,
#SPAJsummary .control-group label,#ProductDetailsSummary .control-group label,
#QuestionnaireSummarySubTab .control-group label{	
  display: table;
  min-height: 45px;
  word-break: break-word;
  padding-right: 10px;
}
#SPAJsummary .control-group span,#ProductDetailsSummary .control-group span,
#QuestionnaireSummarySubTab .control-group span{	
  display: table-cell;
  vertical-align: middle;
}
#SPAJsummary .control-group,#ProductDetailsSummary .control-group,
#QuestionnaireSummarySubTab .control-group{
  margin:0;
}
#clientDeclaration .outer-control-group,
#signatureSection .outer-control-group{
  border: none!important;
}

#ProductDetailsSummary .accordion-inner{
padding: 0 !important;
}

#QuestionnaireSummarySubTab .column-group-single,
#QuestionnaireSummarySubTab .column-group-two,
#QuestionnaireSummarySubTab .ocolumn-group-single{
  border-bottom: 1px solid #eee9e9;
}
#SPAJsummary .column-group-single,
#SPAJsummary .outer-control-group:nth-child(odd){
   border-top: 1px solid #eee9e9;
}
#SPAJsummary .row-start,
#QuestionnaireSummarySubTab .row-start{
  padding:0;
  overflow: auto;
}
#buyOnlineTabs #QuestionnaireSummarySubTab .column-group-two{
  width: 50%;
  display: table;
  float: left;
  border-bottom: 1px solid #eee9e9;
}
#buyOnlineTabs #QuestionnaireSummarySubTab .column-group-two.last-item,
#QuestionnaireSummarySubTab .column-group-two .span5.two-column{
  width: 100%;
}
#QuestionnaireSummarySubTab .last-item .span5.two-column{
  width: 49%;
}
#SPAJsummary .repeat-content-summary .row-fluid.row-start .span5:first-child,#SPAJsummary .repeat-content-summary .two-column:first-child,
#SPAJsummary .row-start .outer-control-group.column-group-two:first-child, #QuestionnaireSummarySubTab .row-start .two-column:first-child{  
    padding-left:80px;
}
#QuestionnaireSummarySubTab #subBeneficialQuestionnaireSummary .row-start .two-column:first-child{
 padding-left:0px;	
}
#SPAJsummary .row-start .outer-control-group.column-group-two.padding-left0{
	padding-left:0;
}
#SPAJsummary .outer-control-group.column-group-two .span5.two-column,
#SPAJsummary  .span5.two-column.paddingLeft80{
	width: 50%;
}
#clientDeclaration .row-start .two-column .span6:first-child{
	padding-left:30px;
}
#QuestionnaireSummarySubTab #subBeneficialQuestionnaireSummary .row-start .two-column .span6:first-child{  
    padding-left:45px;
}
#SPAJsummary .row-start .two-column.paddingLeft80 .span6:first-child{
	padding-left:0;
}
 .Doc_upload_previewList li{
	padding:0 1px;
 }
.DocUploadPopUp  .Doc_upload_previewList {
overflow: scroll;
}
.doc_upload_main_wrapper .fht-tbody{
height:280px !important;
}
.paddingLeft55 .control-group.form-horizontal .span3:nth-child(5){
	margin-left:0;
}
.paddingLeft55{
	padding-left: 55px !important;
}
.paddingLeft80{
	padding-left: 80px !important;
}

.paddingLeft180{
    padding-left:228px !important;
}
#SPAJsummary .control-group span.question-number,
#QuestionnaireSummarySubTab .control-group span.question-number{  
   width: 25px !important;
}
#subForeignersQuestionnaireProposer,#subForeignersQuestionnaireInsured,#subForeignersQuestionnaireAdditionalInsured0,#subForeignersQuestionnaireAdditionalInsured1,#subForeignersQuestionnaireAdditionalInsured2,#subForeignersQuestionnaireAdditionalInsured3{
	background-color:#fafafa;
}

/* #SPAJsummary .row-start .two-column,
#QuestionnaireSummarySubTab .row-start .two-column{  
    padding-left:60px;
}
 */
.paddingLeft30{
 padding-left:30px;
}

.paddingLeft180{
    padding-left:228px !important;
}
.padding-right20{
 padding-right:20px;
}
.first-level-padding .span7{
	margin-left:1%;
}
.second-level-padding .span7{
	margin-left:0;
}
.repeat-content-summary .row-start{
  border-bottom: 1px solid #eee9e9;
}
#Declaration .accordion-inner{
  padding-top: 15px;
  border: none;
}
.cust-class-span2{
width:16.3% !important;
}
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
.radio-white .iradio {
    background-image: url(../img/red1@2x.png);
    -webkit-background-size: 200px 20px;
    background-size: 200px 20px;
  }
}
#Summary #riderDetails label, #Summary #riderDetails span{
  display:block;
}
#Summary  .control-group  #riderDetails  label{	
  min-height: 15px;
}
#Summary .accordion .accordion, #Summary .accordion  .accordion-group
{
	margin-bottom:0;
}

.table-width{
	/* width:25% !important; */
}
/* #PolicyHolderSubTab .accordion .accordion{
  margin-bottom: 30px!important;
}
 */
#signatureSection .accordion-heading {
  background-color: #F4F4F4;
}
#signatureSection .accordion-inner{
  padding: 20px;
}
#clientDeclaration .control-label{
  padding: 20px;
}
#signatureSection .sign-text{
    line-height: 24px;
    margin-top: 25%;
}
.clear-icon{
  display: inline-block;
  background: url('../img/clear-sign@2x.png') 5px 0 no-repeat;
  display: inline-block;
  float: left;
  width: 35px;
  height: 20px;
  background-size: 70%;
}
.sign-wrapper .sigWrapper{
  background-color: #F4F4F4;
}
#PolicyHolderSubTab .accordion ,
#PolicyHolderSubTab .accordion .accordion-group,
#AdditionalInsuredSubTab .accordion ,
#AdditionalInsuredSubTab .accordion .accordion-group,
#accordion_insurance_tab .accordion ,
#accordion_insurance_tab .accordion .accordion-group{
margin-bottom:0px!important;
}
.accordion-margin{
  clear: both;
  margin-bottom: 30px!important;

}
#PolicyHolderSubTab .accordion.accordion-margin30 ,#subForeignersQuestionnaireProposer .accordion.accordion-margin30,#PolicyHolderSubTab .accordion .accordion-group.accordion-margin30,
#AdditionalInsuredSubTab .accordion .accordion-group.accordion-margin30,#mainInsuredSubTab .accordion.accordion-margin30{
 margin-bottom: 30px!important;
}
#PolicyHolderSubTab .accordion.accordion-margin ,#AdditionalInsuredSubTab .accordion.accordion-margin,#PolicyHolderSubTab .accordion .accordion-group.accordion-margin,#AdditionalInsuredSubTab .accordion .accordion-group.accordion-margin{
 margin-bottom: 30px!important;
}
#adiitionalInsuredSection0 .accordion.accordion-margin30{
	margin-bottom:15px !important;
}
.accordion-toggle.repeatContent {
  min-height:24px;
}
.repeatContent span{
  float:left;
}

.li-0.text-center{
  text-align:left;
 
}
.li-0:first-child .line-after-circle,
.li-0:last-child .line-after-circle {
	width:50% !important;
}
.li-0:first-child li,
.li-0:last-child li{
	width:50% !important;
}


.li-0 a{
  text-align:left;
}
.li-0 .outer-circle{
  margin: 0 auto!important
}
.li-0 .selector-text li:last-child{
  text-align: center!important
}
#buyOnlineTabs .li-0 .selector-text  li.active:after{
 left: 50%;
}

#Payment.tab-content{
  background-color: white;
  min-height: 500px;
}
.highlighted-section.single-line .row-start{
  margin-top: 27px;
}
.padding-left30{
  padding-left:30px !important;
}
#paymentPopup.modal{
  display: block;
  width: 58%;
  left: 50%;
  margin-left: -29%;
  z-index: 9999;
}
#paymentPopup .modal-body{
  background-color: white;
  margin: 20px;
  width: auto;
}
#paymentPopup h4,#paymentPopup h5{
  color: black;
  font-weight: bold;
}
#Payment .highlighted-section{
  margin-left: -23px;
  width: 100%;
  padding-top: 16px;
}
#buyOnlineTabs #Payment .two-column.span5{
  min-height: 50px;
}
.img-payment{
  background: url('../img/icon/visamastercard.png') no-repeat 0 0;
  width: 113px!important;
  height: 35px;
  background-size: 100%;
}
#buyOnlineTabs .accordion{
  clear: both;
}
.label-singleColumn{
  padding-right:3%;
  padding-bottom:15px;
   padding-top:15px;
 }
 #financilaDetailsSubTab .min-height{
  min-height: 0;
 }
 /*document upload starts*/
 .doc_upload_main_wrapper {
  padding: 20px 0px;
 }
 .document-top.tile-proposal-no{
  background-color: #F4F4F4;
  padding: 1px 17px;
 }
 .document-top.tile-proposal-no h4{
  font-size: 25px;
  margin: 11px 0;
 }
.writings{
  background-color: #F4F4F4;
  padding-left: 0;
  padding-right: 15px;
}
.greyworking_docUpload{
  display: table;
  width: 100%;
}
.left-doc-text,
.right-doc-text{
  display: table-cell;
  vertical-align: middle;
  padding: 3px 0;
}
.left-doc-text{
  padding-left: 20px;
  font-style: italic;  
}
.right-doc-text{
  padding-right: 20px;
}
.tile{
  -webkit-box-shadow: inset -11px -11px 5px -12px rgba(0,0,0,0.7);
  -moz-box-shadow: inset -11px -11px 5px -12px rgba(0,0,0,0.7);
  box-shadow: inset -11px -11px 5px -12px rgba(0,0,0,0.7);
  background-color: white;
  margin-bottom: 20px;
  padding: 13px 0;
  color: #5b5b5b;
  word-break: break-word;
  font-family: 'DBHelvethaicaRegular';
  font-size: 19px;
}
.doc_upload_main_wrapper .accordion-body{
  background-color: #F4F4F4;
}
.doc_upload_main_wrapper .accordion-group{
  margin-bottom: 0;
}
.items {
  margin-top: 20px;
}
.tiles .middle{
  padding-left: 0;
  margin-left: 0;
  padding-right: 0;
  margin-right: 0;
}
.document-top.heading{
  background-color: white;
  padding: 1px 15px;
}
.document-top.heading h5{
  line-height: 12px;
  color: initial;
  font-family: 'DBHelvethaicaRegular' !important;
  font-size: 19px;
}
.border-red{
  border: 1px solid #C21B17;
}
#buyOnlineTabs .doc_upload_main_wrapper .fa-minus{
  border: 1px solid;
}
.fa-round-custom{
  border: 1px solid #C21B17;
  color: #C21B17;
  border-radius: 100%;
  padding: 4px 6px!important;
}
.icons-group span{
  padding-right: 15px;
}

/*document upload popup*/
.DocUploadPopUp{
  background: #eee9e9;
  height: 580px; /*560*/
	margin-top: -280px;
}

.DocUploadPopUp .del_ben_header{
  background: #eee9e9;
  color: initial;
  font-size: 19px;
  font-family: 'DBHelvethaicaRegular' !important;
  padding: 5px 30px
}
.Doc_pop_up_upload_btn_img_outer_cont {
  margin: 0px 30px;
  /*height: 460px;*/
  height: 480px;
  font-size: 19px;
  font-family: 'DBHelvethaicaRegular' !important;
}
.Doc_show_text{
  background: white;
  font-style: normal;
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #eee;
}
.imageLeftArrow, 
.imageRightArrow{
  position: absolute;
  color: #9B9B9B;
  top: 15%;
}
.imageLeftArrow{
  left: 0;
}
.imageRightArrow{
  right: 0;
}
.Doc_single_upload_btn_cont{
  border: none;
  width: 100%;
  margin: 0;
  /*height: 300px;*/
  height: 320px;
  background: white;
}
.Doc_upload_pop_up_camera_btn_div{
  margin: auto;
  width: 480px;
}
.Doc_upload_pop_up_camera_btn{
  margin: auto;
  height: 245px;
}
.DocUploadPopUp .del_ben_header .close_ben{
  background: none;
  margin-top: 6px;
}
.Doc_upload_previewList{
  margin: 0 30px 10px 30px;
  border: 1px solid #eee;
}

.Doc_upload_pop_up_browse_btn{
  border: 1px solid #eee;
}
.DocUploadPopUp .btn_wrapper {
  margin-top: 10px;
}
.Doc_upload_file_header_name{
  padding: 5px 10px;
}
.Doc_Req_btn_tile{
  width: 41.2%;
}
.Doc_upload_pop_up_browse_btn_hidden{
  position: absolute;
  top: 0;
  left: 0;
}
.Doc_upload_pop_up_browse_btn{
  cursor: pointer;
  font-size: 19px;
  font-family: 'DBHelvethaicaRegular' !important;
}
.Doc_upload_pop_up_browse_btn[disabled="disabled"]{
	background: #B0B2B3;
}
.Doc_upload_pop_up_browse_btn[disabled="disabled"] .red-text{
	color:white !important;
}
.doc_upload_main_wrapper .customDropIcon{
	top:45% !important;
}
.margin-right15{
  margin-right: 15px;
}

.document-uploaded{
  border: 1px solid #D18A87;
  color: #c32a24!important;
  box-shadow: none!important;
  margin-bottom: 18px!important;
  font-weight: bold;
}
.writing2{
  padding: 64px 0 10px 0;
}
 #deletePopup.modal{
  display: block;
  z-index: 9999;
 }
 #deletePopup .modal-header{
  padding-bottom: 25px;
 }
 #deletePopup .modal-body{
 padding-top: 20px;
  width: auto;
  margin: 0 20px 20px 20px;
  background: white;
 }


 /*document upload ends*/
#QuestionnaireSummarySubTab .accordion{
  margin-bottom: 0;
}
/* #PolicyHolderSubTab {
height: 295px;
} */
#mobile_touch_device #buyOnlineTabs .tablet_potrait_container{
min-height: 300px;
}
.question-number{
padding-right: 5px;
}
/*-----------Questionnaire changes---------------------*/
/* #tabs-MainInsuredQuestionnaire .span4.margin-left0.chkbox:first-child,#tabs-MainInsuredQuestionnaire .span4.margin-left0.chkbox:nth-child(4),#tabs-MainInsuredQuestionnaire .span4.margin-left0.chkbox:nth-child(7),#tabs-MainInsuredQuestionnaire .span4.margin-left0.chkbox:nth-child(10),
#tabs-MainInsuredQuestionnaire .span3.margin-left0.chkbox:first-child,#tabs-MainInsuredQuestionnaire .span3.margin-left0.chkbox:nth-child(5){
	margin-left:26px !important;
}  */
#buyOnlineTabs .accordion-inner.accordian-padding {
padding: 30px 15px 0 30px !important;
}

#buyOnlineTabs .accordion-inner.questionnarie.accordian-padding {
padding: 15px 15px 0 30px !important;
}
.eappQuestionnaire-accordian .accordion-inner {
background-color: #FFFFFF !important;
}
.questionnaire-content {
/* width: 100%; */
}

.first-level-padding{
box-sizing: border-box;
padding-left:15px;
}
.second-level-padding{
box-sizing: border-box;
padding-left:30px;
}
.questionnaire-content textarea{
	width:auto;
}
.signature-pad{
  border: 1px solid #ccc;
  background: #F4F4F4;
}
.signature-wrapper{
  width: 620px;
  margin: auto;
  height: 160px;
}
#SPAJsummary  form{
  margin-top: 0!important;
}

/*-----------Questionnaire changes---------------------*/
/* .span4.margin-left0.chkbox:first-child,.span4.margin-left0.chkbox:nth-child(4),.span4.margin-left0.chkbox:nth-child(7),
.span3.margin-left0.chkbox:first-child,.span3.margin-left0.chkbox:nth-child(5){
	margin-left:26px !important;
} */
#buyOnlineTabs .accordion-inner.accordian-padding {
padding: 30px 15px 0 30px !important;
}
.eappQuestionnaire-accordian .accordion-inner {
background-color: #FFFFFF !important;
}
.questionnaire-content {
width: 95%;
}
.first-level-padding{
box-sizing: border-box;
padding-left:15px;
}
.second-level-padding{
box-sizing: border-box;
padding-left:30px;
}
.doc_upload_main_wrapper .fht-tbody table {
  width: 100% !important;
  margin-top: -51px !important;
} 

.first-level-padding .span7{
	padding-left: 1%;
}
.second-level-padding .span5{
	width: 38%;
}
.second-level-padding .span7{
	padding-left: 1.5%;
}
/* .first-level-padding .datetime{
	padding-left: 1%;
} */
.cust-table-block{
	display:table;
}
.cust-table-row{
	display:table-row;
}
.cust-table-block .cust-table-row div{
	display:table-cell;
}
.red-text.success{
	color:#268f3a;
}
.fa.fa-edit[disabled="disabled"]{
	pointer-events: none;
	color: #999;
}
.row-fluid.dashed{
	position:relative;
}
.row-fluid.dashed:before {
	content: '';
	border-top: 1px dashed #999;
	display: block;
	position: absolute;
	top: -10px;
	width: 100%;
}
.row-fluid.dashed.no-brd:before {
	content: '';
	border-top: 0px;
}
.row-fluid.dashed1{
	position:relative;
}
.row-fluid.dashed1:before {
	content: '';
	border-top: 1px dashed #999;
	display: block;
	position: absolute;
	top: -10px;
	width: 100%;
}
.border-cust-class .row-fluid.dashed:before {
	border-top: none !important;
}
/* .row1_container.accordion_bg  .accordion .accordion-heading{
background-color:#e2dcdc;
}
.row1_container.accordion_bg  .accordion .accordion-group{
background-color: #fafafa;
} */
.row1_container.accordion_bg .accordion-heading .accordion-toggle {
padding: 8px 30px;
}
.paddingLeft45{
padding-left: 45px;
}
.border-bottom{
  border-top: 1px solid #eee9e9;
}
.paddingLeft45.secondlevel-padding{
	padding-left:80px;
}
#QuestionnaireSummarySubTab .row-start .two-column.padding-left0:first-child{  
    padding-left:0px;
}
.paddingLeft45.first-level-padding{
	padding-left:60px !important;
}
/* #buyOnlineTabs #QuestionnaireSummarySubTab .two-column-brd .column-group-two{
	border-bottom:0px !important;
}
#buyOnlineTabs #QuestionnaireSummarySubTab .two-column-brd{
	border-bottom: 1px solid #eee9e9;
} */
.row-start.no-col-brd{
	display: table;
}
.row-start.no-col-brd .span12.min-height{
	display: table-row;
}
#buyOnlineTabs #QuestionnaireSummarySubTab .row-start.no-col-brd .column-group-two{
	float: none;
	display: table-cell;
	vertical-align: top;
}
.tile-disabled{
	opacity: 0.6;
	background: #B0B2B3;
	color: white;
	/*pointer-events:none;*/
}
.repeat-section-wrapper{
	margin-left: 70px;
	margin-right: 10px;
}
.repeat-section-wrapper li{
	list-style-type: decimal;
}
.Doc_remove_attachment_icon[disabled="disabled"]{
	opacity:0.7;
	pointer-events:none;
}
.disable-icons{
  opacity:0.7;
	pointer-events:none;
}
 .borderLineTop{
border-top: 1px solid #eee9e9;
}
/*
.borderLineBottom{
border-bottom: 1px solid #eee9e9;
}  */
.margin14{
padding-top:14px;
}
.width100{
width:100%!important;
}
#buyOnlineTabs #QuestionnaireSummarySubTab .custBorderBottom .column-group-two{
  border-bottom: none;
}
#QuestionnaireSummarySubTab .custBorderBottom.row-start{
    overflow: hidden;
    position: relative;
    width: 100%;
}
#QuestionnaireSummarySubTab .row-start.custBorderBottom .two-column:first-child{  
     height: 100%; 
     width: 50%; 
    border-bottom: 1px solid #eee9e9;
}
.custBorderBottom .outer-control-group.column-group-two:first-child .span5.two-column{
	position:absolute;
}
.custBorderBottom .outer-control-group.column-group-two:nth-child(2){
	float:right !important;
}
#buyOnlineTabs #financilaDetailsSubTab label{
	display:inline-block;
}
/*for Asus*/

@media (max-width: 962px) {
#registration_tabs li{
	padding-top:5px;
}
			#buyOnlineTabs .accordion-inner.accordian-padding {
			padding: 30px 0px 0 30px !important;
			}
			.textareaWidth {
			width: 100% !important;
			}
			.row-fluid.inner_block {
				padding: 10px;
			}
			#buyOnlineTabs  .selector-text  li, #buyOnlineTabs  .selector-icon  li{
			  margin:0;
			  width:204px;
			  text-align:center;
			  list-style-type:none;
			}
			 #buyOnlineTabs  .selector-text  li:first-child, #buyOnlineTabs  .selector-icon  li:first-child,
			#buyOnlineTabs  .selector-text  li:last-child, #buyOnlineTabs  .selector-icon  li:last-child{
			   width:145px;
			} 
			#buyOnlineTabs  .li-4 .large{
			font-size:112%!important;
			}
			
			.second-level-padding .span7,.first-level-padding .span7{
			margin-left:0;
			}
			.second-level-padding .questionnaire-content .span7 {
				margin-left:0;
			}
				/* fixing height of save proposal */
			#mobile_touch_device #buyOnlineTabs .tablet_potrait_container{
			min-height:231px!important;
			}
		#mobile_touch_device #PolicyHolderSubTab form,#mobile_touch_device #mainInsuredSubTab form,#mobile_touch_device #financilaDetailsSubTab form,#mobile_touch_device #AdditionalInsuredSubTab form,#mobile_touch_device #AdditionalInsured1Questionnaire form,#mobile_touch_device #AdditionalInsured2Questionnaire form,#mobile_touch_device #AdditionalInsured3Questionnaire form,#mobile_touch_device #AdditionalInsured4Questionnaire form,#mobile_touch_device #BeneficiarySubTab form,#mobile_touch_device #SPAJsummary,#mobile_touch_device #Declaration form{
		 margin: 0!important; 
		 overflow: auto;	 
		 height: 231px; 
		}

		#mobile_touch_device #buyOnlineTabs  #ProductDetails form{
			height: 268px;
			 overflow: auto;
			}
			#mobile_touch_device #QuestionnaireSummarySubTab.custom_inner_tab{
			height: 231px; 
			overflow: auto;
			}
			#mobile_touch_device #MainInsuredQuestionnaire form{
				height: 204px;
			}
			#mobile_touch_device #DocumentUpload{
			overflow: auto;
			height: 260px;
			margin-top: 1px;
			}
			/* fixing height of save proposal */
			
		#buyOnlineTabs ul#registration_tabs li:nth-child(5n) {
		width:118px;
		}
		

		#buyOnlineTabs ul#registration_tabs {
		height: 82px;
		padding-top: 0px;
		}

		#buyOnlineTabs  .selector-text  li.active:after {
		top:30px;
		}
		#buyOnlineTabs .navigation-progressbar{
		padding-top: 8px;
		height: 59px;
		}

		.btn_container_tlr_fluid {
		padding-bottom: 0px!important;
		}

		.footer {
		padding: 12px 0px;
		}
		.alert-box-holder{
		bottom:40px!important;
		}
		#eappListing tr td:nth-child(2),#eappListing tr th:nth-child(2){
		min-width:42px !important;
		}
		#eappListing tr td:nth-child(3),#eappListing tr th:nth-child(3){
		min-width:130px!important;
		}
		#eappListing tr td:nth-child(4),#eappListing tr th:nth-child(4){
		min-width:52px!important;
		}
		#eappListing tr td:nth-child(6),#eappListing tr th:nth-child(6){
		min-width: 78px!important;
		}
		#eappListing tr td:nth-child(5),#eappListing tr th:nth-child(5){
		min-width:89px!important;
		}
				.DocUploadPopUp .del_ben_header {
		padding: 15px 30px 5px;
		}
		.Doc_pop_up_upload_btn_img_outer_cont {
		height: 433px;
		}
		.Doc_single_upload_btn_cont {
		height: 270px;
		}
		.Doc_upload_pop_up_camera_btn {
		height: 225px;
		}
		#FNAList tr td:nth-child(2),#FNAList tr th:nth-child(2){
		min-width:160px!important;	
		}
		#FNAList tr td:nth-child(1){
		min-width:18px!important;	
		}
		/* Changes by FNA LE Team start */
		#FNAList tr td:nth-child(3),#FNAList tr th:nth-child(3){
		min-width: 105px!important;
		max-width: 212px!important;
		}
		#FNAList tr td:nth-child(4),#FNAList tr th:nth-child(4){
		min-width: 105px!important;
		}#FNAList tr td:nth-child(5),#FNAList tr th:nth-child(5){
		min-width:105px!important;
		}
		/* Changes by FNA LE Team end */
}
.twoColumnFirstLabel{
width: 24%!important;
}
.twoColumnSecondLabel{
width: 73%!important;
padding-left: 12px;
}
.paddingL0{
padding-left:0px;
}
#SummaryProductDetails .form-horizontal .control-label{
width: 175px;
}

/*#buyOnlineTabs #Questionnaire .navigation-progressbar ul{
width:100%;
}*/

#buyOnlineTabs #Questionnaire .navigation-progressbar .li-1 .selector-icon,#buyOnlineTabs #Questionnaire .navigation-progressbar .li-1 .selector-text{
padding-left:20%;
box-sizing: border-box;
}
#buyOnlineTabs #Questionnaire .navigation-progressbar .li-2 .selector-icon,#buyOnlineTabs #Questionnaire .navigation-progressbar .li-2 .selector-text{
padding-left: 16%;
box-sizing: border-box;
}
#buyOnlineTabs #Questionnaire .navigation-progressbar .li-3 .selector-icon,#buyOnlineTabs #Questionnaire .navigation-progressbar .li-3 .selector-text{
padding-left:10%;
box-sizing: border-box;
}
#buyOnlineTabs #Questionnaire .navigation-progressbar .li-4 .selector-icon,#buyOnlineTabs #Questionnaire .navigation-progressbar .li-4 .selector-text{
padding-left:1%;
box-sizing: border-box;
}

#buyOnlineTabs #Questionnaire .navigation-progressbar .li-1 .selector-icon li,#buyOnlineTabs #Questionnaire .navigation-progressbar .li-1 .selector-text li{
width:30%;
}
#buyOnlineTabs #Questionnaire .navigation-progressbar .li-2 .selector-icon li,#buyOnlineTabs #Questionnaire .navigation-progressbar .li-2 .selector-text li{
width:24%;
}
#buyOnlineTabs #Questionnaire .navigation-progressbar .li-3 .selector-icon li,#buyOnlineTabs #Questionnaire .navigation-progressbar .li-3 .selector-text li{
width:22%;
}
#buyOnlineTabs #Questionnaire .navigation-progressbar .li-4 .selector-icon li,#buyOnlineTabs #Questionnaire .navigation-progressbar .li-4 .selector-text li{
width:19%;
} 

.disabled_input_design{
    border: 1px solid #c1c1c1 !important;
    font-family: 'DBHelvethaicaRegular' !important;
    font-size: 19px !important;
}

.two-column{
    font-family: 'DBHelvethaicaRegular' !important;
    font-size: 19px !important;
}


.SubQuestions{
padding-bottom:20px!important; 
}

.subquessmry{
    padding-bottom:0px!important; 
}

.paddingleft6
{
padding-left:6px!important;
}

.questionaireSubCategories
{
padding:0px 0 0px 30px;
}


.tab-active
{
border-color:red!important;
}


/*.paddingleft30
{
  /*margin: auto;*/
/*padding-left: 25%!important;*/

/*}*/




#SubQuestionSubCategories li {
  display: inline;
  text-align: center;
}



/*//Questionaire*/
/* FNA changes for Generali Thailand by LE Team
.container-section .owl-item{  
    border-bottom: 3px solid #d3d3d3;
    width: auto!important;
    padding: 0px 40px 0px 0px;
    
}

.owl-wrapper{
  position: relative;
}
.owl-wrapper div.owl-item:first-child{
position: absolute;
left: 0;
bottom: 0;
width: 100% !important;
}
*/

.container-section ul li{
    float : left !important;
    list-style-type:none;
    padding:10px;
    white-space: normal!important; 
	position: relative;
    top: -4px;
}
.container-section ul li a{
  color:#B4AAAA;
  cursor: pointer;
}
.container-section ul li.active{
border-left: 0px;
  border-bottom: 3px solid red!important;
margin-bottom: -3px;
}

.container-section ul li.active a {
color: #c21b17 !important;
}

/* Hide the browser's default radio button */
.container-section input {   
    opacity: 0!important; 
    position:relative;
    top:-3px;
    left:-7px;
}



/* Create a custom radio button */
.checkmark {
    position: absolute;
   height: 15px;
   width: 15px; 
   margin-top: 4px;
   background-color: #d3d3d3; 
   left: 0px;
}

/* On mouse-over, add a grey background color */
.container-section:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-section input:checked ~ .checkmark {
    background-color: #d3d3d3;
   
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmarkActive:after {
    content: "";
    position: absolute;
}

/* Show the indicator (dot/circle) when checked */
.container-section input:checked ~ .checkmarkActive:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container-section .checkmarkActive:after {
 	width: 10px;
  height: 10px;
  border-radius: 0%;
  background: red;
  left: 2px;
  top: 2px;
}
.prev-slide, .next-slide{
  position: absolute;
  width: 15px;
  height:15px;
  top: 27px;
  z-index: 2;
 cursor: pointer;
}
.padding-right48
{
padding-right:48px!important;
}
.lifeStyleQuestionAdd
{
margin-top:-10px;

}

.errorpopup{
z-index:5;
}
.prev-slide i, .next-slide i{
  font-size: 20px;
}
.prev-slide{
  float:left;
}
.next-slide{
  float: right;
  z-index: 2;
  right:-45px!important;
}
.container-section .owl-controls{
  display: none !important;
}

.paddingtop10
{
padding-top: 10px;
}

.QuestionaireControl
{
margin-left:-5px!important;
}
.mrgn8
{
margin-top: -8px;
}
.btmPadd11{
padding-bottom:11px!important;
}

.mrgnleft33{
  margin-left:17px!important;
}
#accordion-heading-color .accordion-heading .accordion-toggle,
#accordion-heading-border .accordion-heading .accordion-toggle{
   color:#C21B17 !important;
   font-family: 'DBHelvethaicaRegular' !important;
   font-size: 22px !important;
}
#accordion-heading-border .accordion-heading{
  border-top: 1px solid #EEE9E9;
}

.beneficiary-save{
  margin-top: -5px !important;
}
.rider-edit,.rider-delete{
  font-size: 1.5em !important;
}
#financilaDetailsSubTab .iradio{
  margin: 5px 5px 0px -18px;
}
.font-circle{
  font-size: 25px;
  margin-right: 10px;
  position: relative;
  top: 4px;
}

.validForLifeCustom{
    margin-top: -22px !important;
}

.validForLifeCustomLabel{
    margin-left: 0px !important;
}

.validForLifeCustom .icheckbox {
    margin-left: 15px;
}

/*summary changes*/
.four-column{
  padding-left: 15px;
  padding-right: 15px;
}
.text-label{
  color: #999 !important;
  font-size: 20px !important;
}
.text-content{
  margin-bottom: 20px !important;
  min-height: 25px !important;
  position: relative;
  top: -10px;
  font-family: 'DBHelvethaicaRegular';
}
#SPAJsummary .accordion-toggle{
    color:#c32a24 !important;
    font-size: 22px !important;
}
#SPAJsummary .dark-accordion-title a span, .dark-accordion-title a span{
     color:#c32a24 !important;
     font-size: 25px !important;
}
.QuestionnaireCheckbox{
 pointer-events: none; 
}

#BeneficiarySubTabSection .accordion-inner{
    padding: 20px 10px 10px 10px !important;
    margin-bottom: -10px;
}
.share-spaceleft{
  padding-left: 27px;
  width: 36% !important;
}
#riderDetails tbody{
    height: auto !important;
}
/*
#riderDetails .tbl_head_bg th:last-child{
    width:330px !important;
}
*/
.span6.paddingLeftprem{  
width: 350px;
float: right;
/*
padding: 0 !important;
margin: 0;
*/
padding-right: 11.5% !important;
}

.span6.alignrider{
    font-size: 21px !important;
    margin-left: 20px !important;
    float: left;
}

.alignrider span{
    margin: 0 !important;
    padding: 0 !important;
}
.alignrider + .alignrider{
    float: right;
    padding-right: 45px !important;
}
.alignrider + .alignrider span{
    float: right;
    text-align: right;
}

#totalPremium .accordion-inner{
    20px 37px 10px 15px !important;
} 
#Beneficiary-bth-section{
  background: #eee9e9;
  margin-left: -10px;
  margin-right: -10px;
}
#Beneficiary-bth-section .accordion-inner{
  padding-right:0px;
}
.addBeneficiaryButton{
  margin-right: 0px;
}

.four-col{
  width:23.07692308% !important;
  float:left !important;
  min-height:114px;
}
.outer-control-group.column-group-two.four-col.occupationCustom {
    width: 100% !important;
}
.labelwidth100{
  width:100% !important;
}
.summary-edit-title{
  float: left !important;
  width: 100% !important;

}
.summary-edit-title .span5.two-column{
  width:100% !important;
  max-height: 10px;
}
.summary-edit-title span{
    color: #c32a24 !important;
}
.summary-edit-title .text-label{
  border-bottom: 1px solid #EEE9E9;
}

@media (max-width: 1220px) and (min-width: 1024px){
.span6.paddingLeftprem{
    width: 250px;
    }

/*
    .applicationBoldText{
    font-weight: bold !important;
    left: -50px !important;
}
*/
    
    .deletepopclass{
    width: 68px !important;
}
    .okbtnspace{
        padding-left: 13px;
    }
    .deleteok{
        width: 68px !important;
    }
}

.applicationBoldText{
    font-weight: bold !important;
}

.span6.alignrider{
    font-size: 21px !important;
    margin-left: 37px !important;
}

.customInsuredLabel{
    margin-left: 5px !important; 
}

.customInsuredFullname{
    margin-left: 5px !important;  
}

.traineeAgent-block{
  position: relative;
}

/*
#riderDetails tr:nth-child(n) td:nth-child(n){
    right: -40px;
}
*/
.summary-line-trainee {
    /*border: 1px solid #F7E7E7;*/
    position: absolute;
    width: 103.5%;
    left: -2%;
    bottom: -15px;
    z-index: 0;
    border-color: #E7E4E4!important;
}

.Agentcode-Field .span5.two-column{
  min-height: 0 !important;
}
.Agentcode-Field .span5.two-column .control-group{
  margin:0 !important;
}
.Relationship-start{
  float: left !important;
  width: 46% !important;
}
.other-Show{
  visibility: visible;
}
.other-Hide.other-Show{
   visibility: visible !important;
}
.other-Hide{
  visibility:hidden;
}
.Benefit-End,.other-Show .span5.two-column, .other-Hide .span5.two-column{
  float: right !important;
  width: 44% !important;
}
.Benefit-End .span5.two-column {
  width:100% !important;
}
.Address-row{
  float: left !important;
  width: 100% !important;
}
.Address-row .span5{
  width: 17.076923% !important;
}
.Address-row .span7{
  width: 80.3% !important;
}
 #SPAJsummary + #ProductDetailsSummary .accordion-inner {
  padding: 0px 15px 0px 15px !important;
}

 #SPAJsummary + #ProductDetailsSummary + .accordion{
   margin-bottom: 0px !important;
 }
.Summary-Edit{
 width: 24px;
 position: absolute;
 height: 24px;
 right: 0;
 background-image: url(../img/Edit.png);
 -webkit-background-size: 20px 20px;
 background-size: 24px 24px;
 cursor: pointer;
}
#SPAJsummary + .accordion i.fa{
  color:#c32a24;

}

/*.span9.customNatureOfWork{
    width: 79.358974%;
    margin-left: -45px;
}

.span9.customNatureOfWork1{
    width: 81.358974%;
    margin-left: -42px;
    margin-right: -20px;
}*/
.customNatureOfWork1 textarea{
  width:310% !important;
}

.customNatureOfWork textarea{
    width:304% !important;
}
.wrapNatureOfWork{
    white-space: normal;
}

#q1AdditionalInformationQuestionnaire{
height:100px;
width:100%;
padding-top: 2%;
box-sizing: border-box;
}
.ProductRiderDetails{
    background: none !important;
}
.selectPlaceholderStyle{
  color:#BEBEBE !important;
}

.year.disabled{
    pointer-events: none;
}
.eappQuestionnaire-accordian .accordion-toggle{
  margin: 0px 15px 0px 15px;
  border-bottom: 1px solid #EEE9E9;
  padding: 8px 0px !important;
  color: #c32a24 !important;
  font-size: 22px !important;
  text-transform: capitalize;
}
.Questionnaire-dropdown{
width:220px;
position:relative;
}
.Questionnaire-dropdown select{
width:100%;
}
.margin-b-10{
margin-bottom:15px;
}

.prodbold{
    font-weight: bold;
}
.eappfont{
  font-family: 'DBHelvethaicaRegular' !important;
  font-size: 19px !important;
}

.mrgnlft35{
margin-left: 35px;

}
.summary-parQuest{
  padding-bottom: 0px !important;
}

.Summary-label-answer{
  margin-top:0px !important;
  margin-bottom:10px !important;
}
.factaMarginTxt{
	margin-left: 15px;
}
.whiteColor{
	background-color: white !important;
}
.Summary-label-Question{
  color: #727171 !important;
}

.indent-parent-question{
    padding-left: 25px;
}

.label-full .span5.four-col{
  width:100% !important;
}
.label-full .span7{
    margin:0 !important;
} 
/*.signature-wrapper{
  width:100% !important;
  height: 150px !important;
}
.signature-wrapper canvas{
  height:150px !important;
  width: 100% !important;
}*/
.signature-left{
  display: none !important;
}
#SummaryApplicationDate{
  border: none;
  background-color: #fff !important;
}
.custom-btn-wrapper .full-name{
  position: absolute;
  left: 0;
  width: 45%;
  padding-left: 0;
  margin-left: 0;
}
#eSignature .esign-buttons .span6{
    width: 70% !important;
    float: none !important;
    margin: auto !important;
}
#RiderDetailsSummary .text-content{
  top:0 !important;
  min-height: 0px !important;
}
.rider-summary.dark-accordion-title{
  display: none !important;
}
.main{
  height:0 !important;
}
#SPAJsummary + .accordion .accordion-group, #SPAJsummary + .accordion{
  margin:0 !important;
}
#SPAJsummary + .accordion + .accordion .accordion-inner{
padding: 0px !important;
border: 0 !important;
}
/* Datepicker Issue fixed */
.hidden-layer-datepicker{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
} 
.faCheckOverride{
	margin-top: 0px !important;
    margin-left: 0px !important;
    height: 0px !important;
    width: 0px !important;
    color: green;
}
.diableCheckMark{
	visibility: hidden;
}
#RiderDetailsSummary .four-column .text-label{
  padding-bottom: 10px !important;
}
.splitpaybtn{
    margin-left: 46px !important;
}
.tabspayone{
    font-family: 'DBHelvethaicaRegular' !important;  
}

.splittabspaytwo{
    font-family: 'DBHelvethaicaRegular' !important;   
}

.splittabspayone{
	font-family: 'DBHelvethaicaRegular' !important;
}

.questionnaireParentQuestion{
	margin-left:1%;
	padding-bottom:15px; 	
}

.questionnaireSubQuestion{
	margin-left:2%;	
}

.mrgnleft28{
	margin-left:28px;
	
}
.subQuestion{
margin-left:37px;
}

.mrglft14{
margin-left:15px;
}
.mrgnlft52{
margin-left:52px;	
}

.mrglft18{
margin-left:18px;
}



.full-width{
  width:100% !important;
}
.preview-btn{
  width: 130px;
  border: 1px solid #c32a24;
  background: #fff !important;
  color: #333333 !important;
  font-weight: bold;
  font-size: 19px;
  font-family: 'DBHelvethaicaRegular' !important;
}
.pointer-none{
  pointer-events: none;
}
.title-ans-group .answer-label{
  margin: 0 !important;
  padding: 0 !important;
  top: 11px !important;
}
.title-ans-group .heading-label{
  width: auto !important;
}
#mobile_touch_device #tabs-MainInsuredQuestionnaire .nav-tabs > li > a{
	font-size:18px !important;
}
#productriderDetails td{
  padding:10px 0 !important;
}
#productriderDetails td:nth-child(2),#productriderDetails td:nth-child(3),
.summarytotpremium td:nth-child(2),.summarytotpremium td:nth-child(3){
/*text-align: left;*/
    text-align: right;
    text-align: -webkit-right;
}

#productriderDetails th:nth-child(2),#productriderDetails th:nth-child(3),
.summarytotpremium th:nth-child(2),.summarytotpremium th:nth-child(3){
   text-align: right !important;
   text-align: -webkit-right;
}
.summarytotpremium .ProductRiderDetails,.accordion.premium-footer-block{
  padding: 0px 15px !important;
}
.accordion.premium-footer-block{
  padding: 0px 22px 0px 20px !important;
}
.premium-footer-block .paddingLeftprem.padding-summary-premium{
  padding: 0 !important;
  text-align: right;
}
/*
#productriderDetails td:nth-child(3){

    padding-left: 10.1% !important;
}
*/

#productriderDetails td:nth-child(3) {

    width: 475px !important;
    box-sizing: border-box;
    padding-right: 2.8% !important;
}
#productriderDetails td:nth-child(2){
    text-align: right;
width: 420px !important;
      box-sizing: border-box;
}
#productriderDetails td:nth-child(1){
    padding-left: 20px !important;
    width: 350px !important;
     box-sizing: border-box;
}
#productriderDetails th:nth-child(1) {
padding-left: 20px !important;
width: 350px !important;
     box-sizing: border-box;
}
#productriderDetails th:nth-child(2){
        text-align: right;
    padding-right: 20px !important;
    box-sizing: border-box;
    width: 475px !important;
}

#productriderDetails th:nth-child(3) {
text-align: right;
padding-right: 35px !important;
box-sizing: border-box;
width: 475px !important;
}

#productriderDetails td:nth-child(1),#productriderDetails th:nth-child(1){
  padding-left:20px !important;
}
#productriderDetails .white-box {
  padding:0 !important;
}
#productriderDetails thead{
  background: #e1aeb0;
}
.convenientContact-heading{
  display: block;
  float: left !important; 
  clear:both !important;
}
.convenientContact-heading .text-label{
  width:auto !important;
}
.convenientContact-heading .answer-label{
    margin: 0 !important;
  padding: 0 !important;
  top: 11px !important;
}
#SummaryAdditionalInformation .questionnaireParentQuestion,
 #SummaryAdditionalInformation .Summary-label-Question,
 #SummaryAdditionalInformation .col-xs-9, #SummaryAdditionalInformation .Summary-label-answer:first-child{
  display: none;
}
#SummaryAdditionalInformation .questionnaire-content{
  position: relative;
}
#SummaryAdditionalInformation .Summary-label-answer + div .Summary-label-answer{
top: -25px;
padding-left: 0 !important;
margin-left: 18px;
}
.s-answer-block{
  display: block !important;
  clear:both;
  margin-left: 80px;
  padding: 3px 0px;
  font-weight: bold;
  line-height: 17px !important;
}
#SummaryAdditionalInformation .s-answer-block{
    top: -20px;
    position: relative;
    word-wrap: break-word;
    margin-left: 1px !important;
}

#SummaryApplicationDate{
      pointer-events: none;
}
#SummaryApplicationDate input:focus{
  pointer-events: none;
  border:none;
}
.eAppFatcaAck{
	font-size: 18px;
	color: #c32a24;
}
.eAppFatcaAckText{
	margin-left: -15px;
}
.eAppFatcaTextAlign{
    text-align:right;	
}
.full-name-input{
  position: absolute;
  left:0;
  margin:0px !important;
}

.questionnaireSubQuestion.subQuestion {
    padding-left: 0px;
}
.indent-carosel-questions{
    padding-left: 75px;
}
.indent-parent-answer{
    padding-left: 12px;
    margin-bottom: 7px !important;
}

.lifestyleanswers{
     margin-top: 0px !important;
    padding-left: 27px;
}
#DeclarationAndAuthorizationTab .esign-buttons .sign-text{
  display:none;
}
#DeclarationAndAuthorizationTab .sign-wrapper .signature-left + .span6{
  width:100% !important;
}
.esign-buttons .sign-text + .span12{
     width:65.81196581% !important;
}
.sign-ok-btn{
  clear: both;
  display: block;
}
#DeclarationAndAuthorizationTab .sign-wrapper.custom{
  min-height: 250px !important;
  margin-left: 30px;
  margin-bottom: 20px !important;
}
.custom-btn-wrapper .full-name,.custom-btn-wrapper .full-name-input{
  position: absolute;
  top: 190px;
}
#DeclarationAndAuthorizationTab .signature-wrapper{
    width:auto !important;
    height:auto !important;
    background: #fff;
    overflow: hidden;
}
#DeclarationAndAuthorizationTab .sign-wrapper.custom .custom-btn-wrapper{
  width: 250px !important;
  float: left !important;
  padding: 30px 10px 10px 40px !important;
}
#DeclarationAndAuthorizationTab .clearSignIcon{
   background-position: 3px 3px;
}

.companyNameEapp{
    right: -2.7%!important;
}

.companyNameEappPayer{
    right: 0.3%!important;
}
.full-name.full-license-number{
  top: 210px !important;
}
.span1-5{
    font-family: 'DBHelvethaicaRegular' !important;
    font-size: 19px !important;
}
.full-name-label{
  margin-left:0px !important;
}
.doc-table-alignment{
  background-color: #e1aeb0 !important;
}
.refund-payment .four-column,.refund-payment .text-label{
     padding-right: 0px !important;
}
.gardian-radiobtn{
  margin-left: 30px !important;
  width:100% !important;
}

.same-as-payer{
  width:32% !important;
}
.App-date-summary{
      margin-left: 25px;
}
.App-date-summary .control-label.span5{
  width:100% !important;
}
.App-date-summary .span7{
  margin:0 !important;
}
.four-col .text-label, .four-col .text-content {
  font-size:20px !important;
  font-weight: bold !important;
    
}
.captionLetters{
	margin-left: -20px;
    padding-right: 8px;
	position: absolute;
	top: 15%;
}

.span4.full-name{
    font-family: 'DBHelvethaicaRegular' !important;
    font-size: 19px !important;
}

.margnleft15{
margin-left:15px;	
}

.margntop8{
	margin-top:-8px;
}
.paymentstatusbtnHelvathaica{
    font-family: 'DBHelvethaicaRegular' !important;
    font-size: 19px !important;
}

.insuredHeaderHelvatica{
    font-family: 'DBHelvethaicaRegular' !important;
    font-weight: normal !important;
}

.right-doc-text{
    font-family: 'DBHelvethaicaRegular' !important;
    font-size: 19px !important;
}

.docAccordionHeader{
    font-family: 'DBHelvethaicaRegular' !important;
}

.left-doc-text{
    font-family: 'DBHelvethaicaRegular' !important;
    font-size: 19px !important;
}

.eappListHelvaicaPopup{
    font-family: 'DBHelvethaicaRegular' !important;    
    font-size: 19px !important;
}

.convenientContactCustom{
    font-size: 18.2px !important;
}
.full-name.full-license-number span{
  width:auto !important;
}
.previousPloicyWidth{
	width : 18% !important;
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	float: left;
}
.previousLabelWidth{
	width:90% !important;
}
.previousPolicyAlignment{
	margin-bottom: 0.5%;
	margin-top: 1%;
}
.customBtnSize{
	width: 50px !important;
	margin-top: 25px !important;
	height: 30px !important;
}
.fontWeightBold{
    font-weight: bold !important;
}
.clearBothDiv{
	 clear:both !important;
}
.list-signature-errors li{
  list-style-type: none;
}
.span-hide,.span5.Gardian-textfield,.span5.Witness-textfield{
  display: none !important;
}
.Gardian-textfield .span7,.Witness-textfield .span7{
  margin-left: 30px !important;
  margin-top: -40px !important;
}
.previousPolicyLabelMargin{
	margin-right: 2% !important;
}
.summarytotpremium{
    margin-bottom: 2px !important;
    }
	.margnleft35{
		margin-left:35px!important;		
	}
	.companynamealign{
		 width:216px!important;    
		margin-left:9px!important;		
	}
	.mrgntop7{
		margin-top:-7px;
		
	}
	
.span6.paddingLeftprem.padding-summary-premium{
    padding-left: 0 !important;
}
.others-text-box{
  position: relative;
  top: 18px;
}
.doctype-text input{
  position: relative;
  top: 0px;
  width: 100%;
}
.document-upload-table tr {
	width:100%;
	display: block;
}
.beneficiary-tab-summary + #sub4{
  margin: 0px 15px;
}
.prevPolicyAlignment { 
	width: 55% !important;
    margin-top: 1% !important;
}
.indent-parent-question.SubQuestions{
    padding-bottom: 0px !important;
}
.indent-parent-answer span
{
  font-weight: bold;
  font-size: 20px;
}
.popup-align{
  height: 0px !important;
}
.delete-all-section{
    float: right;
    position: relative;
    right: 75px;
    top: 4px;
    font-size: 19px;
    font-family: 'DBHelvethaicaRegular' !important;
}
.delete-all-section a{
  cursor: pointer;
}
.display-name{
    padding: 0px 15px;
    border-top: 1px solid #eee;
    position: relative;
    top: -5px;
}
.display-name div{
  position: relative;
  top: 5px;
}
.previous-pol-details + .Summary-label-answer{
     display: none;
}
#PreviousPoliciesSummary .Summary-label-answer{
  font-weight: bold;
}
.backdropclick{
  pointer-events: none;
}
.document-upload-table tbody{
  min-height: 270px;
}
.summaryGaurdianradio .red-text{
  display:none;
}
.lifestyleanswers.Summary-label-answer{
  margin-left:17px !important;
  font-weight: bold;
}
.indent-parent-question.summary-parQuest + .indent-parent-answer.Summary-label-answer{
  margin-left: 29px;
}
.lifestyleanswers.Summary-label-answer.subquest-heading{
  margin-left: 28px !important;
}
.deleteAllDisable{
	pointer-events: none;
    opacity: 0.7;
}
.subQuestion.lifestyle-sub-question{
      margin-left: 51px;
}
.pointer-None{
  pointer-events: none;
}
.previous-pol-details{
  padding-bottom: 7px !important;
}
.eappQuestionnaire-accordian .accordion-group{
  margin-bottom: 0px;
}
.right-align-mandatory{
  margin-right: -10px;
}
.summary-parQuest.reason-newpol-details + .indent-parent-answer.Summary-label-answer,
.summary-parQuest.reason-newpol-details + .indent-parent-answer.Summary-label-answer span{
  font-weight: bold;

}
.summary-parQuest.reason-newpol-details + .indent-parent-answer.Summary-label-answer + div .col-xs-9{
  display: none;
}
.summary-parQuest.reason-newpol-details + .indent-parent-answer.Summary-label-answer + div #subQuestions{
  width: auto !important;
  padding-left: 6px !important;
}
.summary-parQuest.reason-newpol-details + .indent-parent-answer.Summary-label-answer + div #subQuestions .Summary-label-answer{
  padding:0 !important;
}
.summary-parQuest.reason-newpol-details + .indent-parent-answer.Summary-label-answer + div #subQuestions:before{
/*  content: "-";*/
  position: absolute;
}

.summary-parQuest.reason-newpol-details + .indent-parent-answer.Summary-label-answer{
  width: auto !important;
}
.insuredheaderclass{
    position: relative;
    text-align: center;
    left: 40px;
	font-family: 'DBHelvethaicaBold' !important;
    font-size: 21px !important;
}
.payerheaderclass{
  	position: relative;
    left: 85px;
    text-align: left;
	font-family: 'DBHelvethaicaBold' !important;
    font-size: 21px !important;
}

.customNavForQuestionnaire{
    background-color:#eae9e9 !important;
    margin-top: 10px;
}

div#tabs-MainInsuredQuestionnaire {
    background-color: #eae9e9 !important;
}

div#tabs-PolicyHolderQuestionnaire{
    background-color: #eae9e9 !important;
}

div#custom_tab_subtab_set {
    background-color: white !important;
}
.customNavForQuestionnaire ul{display:initial !important;}
.customNavForQuestionnaire ul li{padding:0 30px;}
/*
.nav-tabs.five > li{    
    float: left !important;
}

.nav-tabs.four > li{    
    float: left !important;
}

.nav-tabs.three > li{    
    float: left !important;
}

.nav-tabs.two > li{    
    float: left !important;
}
*/

.nav-tabs.twoLead > li{    
    float: none !important;
}

.nav-tabs.horizontalTab.four.SItab > li{
    float: none !important;
}

.nav-tabs.horizontalTab.three.SItab > li{
    float: none !important;
}

#headertabs_4 {
/*
    width: 182px;
    margin-left: -263px;
*/
    height: 72px;
}
#headertabs_0 {
    height: 72px;
}
#headertabs_1 {
    height: 72px;
}
#headertabs_2 {
    height: 72px;
}
#headertabs_3 {
    height: 72px;
}
.yes-no-alignment{
/*  padding: 0% 5%;*/
}
.insured-payer-alignment{
  position: relative;top: 10px;
}

.tile-block div.col-sm-12 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

button#btnStatus {
    font-size: 19px;
    font-family: 'DBHelvethaicaRegular' !important;
}

.gaoDocsView {
    font-family: 'DBHelvethaicaRegular' !important;
    font-size: 28px;
}