p.selected_goal_txt{
	min-height:50px;
	font-size:13px;
}

.text_center.center_imp{
	text-align:center !important;
}

.vert-align-tbl{
	display: table;
	width:100%;
}
#mobile_touch_device .vert-align-tbl{
	display: table;
	width:auto;
}
.vert-align-col{
	float: none;
    display: table-cell;
    vertical-align: bottom;
}
.avoid-clicks {
  pointer-events: none;
}
.calculator-select{
	width: 70%;
	left: 15%;
}

/*FNA Top progress steps Starts*/
.fna-progressbar {
	background: #f4f4f4;
	height: 62px;
	text-align:center;
} 
.fna-progressbar .selector-text {
color: #d27c7a;
}
.fna-progressbar .solution-selector {
	float: none;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}
.fna-progressbar .solution-selector li
{
	z-index:6;
}
.fna-progressbar .solution-selector li{
	width: 20%;
	margin: 0;
}
.fna-progressbar .selector-text li {
	 height:40px; 
	line-height: 20px;
	display:table;
}
.fna-progressbar .selector-text li  span{
	font-size: 16px;
	display:table-cell;
	vertical-align:middle;
}
.fna-progressbar  .selector-text{
	margin-top: 13px;
}
.fna-progressbar .selector-icon {
	z-index: 2;
}
.fna-progressbar .btnNext_container {
	float: right;
	padding: 10px;
	margin-left: 0;
	width: auto;
	margin-top: 9px;
	background: transparent;
	border: none;
}
.fna-progressbar .btnPrevious_container {
	float: left;
	padding: 10px;
	width: auto;
	margin-top: 9px;
	background: transparent;
	border: none;
}
.fna-progressbar .btnNext_container span,
.fna-progressbar .btnPrevious_container span {
	font-size: 17px;
	top: -4px;
	position: relative;
	color:#33342f  ;
}
.fna-progressbar .btnNext_container .fa-angle-right,
.fna-progressbar .btnPrevious_container .fa-angle-left{ 
	font-size: 30px;
	margin: 0 10px;
	color: #33342f  ;
}
.fna-progressbar .btnNext_container[disabled] > .fa-angle-right,
.fna-progressbar .btnPrevious_container[disabled] > .fa-angle-left{ 
	color: #b4aaaa  ;
}
.fna-progressbar .btnNext_container[disabled] > span,
.fna-progressbar .btnPrevious_container[disabled] > span {
	color:#b4aaaa  ;
}
.prev-btn-cntr.span2 {
	min-width: 10%;
	width: auto;
}
/*FNA Top progress steps Ends*/

/*FNA introduction section Starts*/
.fna-introduction {
	margin: 0 5%;
	overflow:auto;
}
/* .fna-introduction .modal.custom_fna_modal{
background-image: url('../img/Grey Backgroud.jpg');
background-size: 100% 100%;
} */
.fna-introduction .fna-intro-item {
	background: #FFF;
	height: 320px;
	margin-top: 8%;
	margin-bottom: 5%;
}
.fna-introduction .fna-intro-item  span{
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 24px;
	color: #FFF;
	text-align: center;
	margin: 0 0 10px 0;	
}
.fna-introduction .fna-lifestyle-video {
	background-image: url(../img/Life_Is_Beautiful.jpg);
	background-repeat:no-repeat;
	background-size: cover;
}
.fna-introduction .fna-about-company {
	background-image: url(../img/abt_generali.png);
	background-repeat:no-repeat;
	background-size: cover;
}
.fna-introduction .fna-about-me {
	background-image: url(../img/about_me.jpg);
	background-repeat:no-repeat;
	background-size: cover;
}
.fna-introduction .modal  .modal-header,
.prod-modal-header {
	padding: 10px 20px;
	box-sizing: border-box;
	height: 45px;
	background: #F4F4F4;
}
#EducationInfoMaps .prod-modal-header .modal .close{
	font-size:25px;
}

#EducationInfoMaps .modal-body .carousel-page-content{
padding:0px;
}
.calc-container .infoicon{
	display: inline-block;
	/* float: right; */
	height: 25px;
	width: 25px;
	background-image: url('../img/icon/infoIcon.png');
	margin-right: -25px;
	margin-top: 5px;
	background-size: 100% 100%;
}

/* LIFESTAGE IMAGES */
.female_goldenage,.male_goldenage{
	background-image: url(../img/goal/golden_age.png);
	background-repeat:no-repeat;
	background-size: 100% 100%;
	background-size: cover;
}
.female_marriedwithgrownup,.male_marriedwithgrownup{
background-image: url(../img/goal/married_with_grown_kids.png);
background-repeat:no-repeat;
	background-size: 100% 100%;
}
.female_marriedwithkids,.male_marriedwithkids{
background-image: url(../img/goal/married_with_kids.png) ;
background-repeat:no-repeat;
background-size: 100% 100%;
}
.female_newlymarried,.male_newlymarried{
background-image: url(../img/goal/married.png);
background-repeat:no-repeat;
background-size: 100% 100%;
}
.male_single{
background-image: url(../img/goal/single_male.png);
background-repeat:no-repeat;
background-size: 100% 100%;

}
.female_single{
background-image: url(../img/goal/single_female1.png);
background-repeat:no-repeat;
background-size: 100% 100%;
}
/* LIFESTAGE IMAGES */


.fna-introduction  .modal-body,
.product-info-modal  .modal-body {
	padding: 0;
	margin: 0;
	height: 90%;
}
.fna-introduction .carousel,
.product-info-modal .carousel {
	height: 100%;
	margin: 0;
}
.fna-introduction .carousel-indicators,
.product-info-modal .carousel-indicators {
	bottom: 0 !important;
}
.fna-introduction  .carousel-inner {
	position: absolute;
	height: 90%;
	overflow: auto;
}
.product-info-modal .carousel-inner {
	position: absolute;
	height: 92%;
	overflow: auto;
}
.fna-introduction  .carousel-inner .item,
.product-info-modal .carousel-inner .item {
	height: 100%;
	padding: 0 60px;
}
.fna-introduction  .carousel-inner .page2-content {
	background: url('../img/Pg02_Content.png');
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: 50%;
	display: block;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
}
.carousel-page-content{
	background-size: 85% 85%;
	background-repeat: no-repeat;
	background-position: 50%;
	display: block;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;	
}
.maps{
background-image: url('../img/maps.png');
}
.abt-generali-1{
	background-image: url('../img/goal/About_Generali_1.png');
}
.abt-generali-2{
	background-image: url('../img/goal/About_Generali_2.png');
}
.abt-generali-3{
	background-image: url('../img/goal/About_Generali_3.png');
}
.abt-generali-4{
	background-image: url('../img/goal/About_Generali_4.png');
}
.abt-generali-5{
	background-image: url('../img/goal/About_Generali_5.png');
}
.abt-generali-6{
	background-image: url('../img/goal/About_Generali_6.png');
}
.education-1{
	background-image: url('../img/goal/education_1.png');
}
.education-2{
	background-image: url('../img/goal/education_2.png');
}
.education-3{
	background-image: url('../img/goal/education_3.png');
}
.education-4{
	background-image: url('../img/goal/education_4.png');
}
.education-5{
	background-image: url('../img/goal/education_5.png');
}
.wealth_accumulation-1{
	background-image: url('../img/goal/wealth_accumulation_1.png');
}
.wealth_accumulation-2{
	background-image: url('../img/goal/wealth_accumulation_2.png');
}
.wealth_accumulation-3{
	background-image: url('../img/goal/wealth_accumulation_3.png');
}
.wealth_accumulation-4{
	background-image: url('../img/goal/wealth_accumulation_4.png');
}
.wealth_accumulation-5{
	background-image: url('../img/goal/wealth_accumulation_5.png');
}
.protection-1{
	background-image: url('../img/goal/protection_1.png');
}
.protection-2{
	background-image: url('../img/goal/protection_2.png');
}
.protection-3{
	background-image: url('../img/goal/protection_3.png');
}
.protection-4{
	background-image: url('../img/goal/protection_4.png');
}
.retirement-1{
	background-image: url('../img/goal/retirement_1.png');
}
.retirement-2{
	background-image: url('../img/goal/retirement_2.png');
}
.retirement-3{
	background-image: url('../img/goal/retirement_3.png');
}
.retirement-4{
	background-image: url('../img/goal/retirement_4.png');
}
.retirement-5{
	background-image: url('../img/goal/retirement_5.png');
}
.wealth-transfer-1{
	background-image: url('../img/goal/wealth_transfer_1.png');
}
.wealth-transfer-2{
	background-image: url('../img/goal/wealth_transfer_2.png');
}
.wealth-transfer-3{
	background-image: url('../img/goal/wealth_transfer_3.png');
}

.fna-introduction  .carousel-inner .page3-content {
	background: url('../img/Pg03_Content.png');
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: 50%;
	display: block;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
}
.fna-introduction .modal .modal-header span,
.prod-modal-header span {
	font-size: 16px;
	font-weight: bold;
	color: #c21b17;
}
.fna-introduction .left {
	position:absolute;
	display: block;
}
.fna-introduction .right {
	position: absolute;
	display: block;
/* 	left: 92%; */
}
.fna-introduction .fa-angle-left,
.fna-introduction .fa-angle-right {
	color: #bebaba;
}
.fna-introduction .col-md-3 {
	width: 20%;
	margin-bottom: 10px;
}
.fna-introduction  .dl-horizontal dt {
	text-align: left;
	width: 50%;
	padding: 0 0 10px 0;
}
.fna-introduction .dl-horizontal dd {
	margin-left: 0;
	padding: 0 0 10px 0;
}
.fna-introduction .item .chart-container {
	min-height: 100px;
	background: #DDD;
	width: 100%;
}
.fna-introduction .item .company-details {
	text-align: justify;
}
/*FNA introduction section Ends*/
/* Customer-profile Starts */
.customer-profile-cntr {
	margin: 0;
}
.customer-profile-cntr .my-family h4{
	padding-left: 10px;
}
.customer-profile-cntr .row-fluid [class*="span"] {
	min-height: 0;
}
.detailsholder .slidinglist .nonmember .memberwrapper {
	width: 90px;
	height: 90px;
	margin: 0;
}
.detailsholder .slidinglist .nonmember {
	width: 90px;
	height: 90px;
	margin-bottom: 6px;
}
.detailsholder .slidinglist .nonmember .memberwrapper .memberprofilepic,
.detailsholder .slidinglist .member .memberwrapper .memberprofilepic  {
	width: 90px !important;
	height: 90px !important;
}
.detailsholder .slidinglist .member .memberwrapper {
	width: 90px;
	height: 90px;
}
.detailsholder .slidinglist .member {
	width: 90px;
	height: 90px;
	margin-bottom: 0;
}

.myfamily_select .family_holder {
	float: left;
}
.detailsholder {
	margin-top: 20px;
}
.sel_myself_wrapper {
	margin-top: 10px;
}
.sel_myself_wrapper .savedDetails {
	position: initial;
}
.detailsholder .slidinglist .nonmember .memberwrapper .relationText {
	top: 100px;
	color: #000 !important;
}
.detailsholder .slidinglist .savedetl_wrapper,
.detailsholder .slidinglist .savedetl_wrapper .savedDependantDetails,
.savedDetails {
	display: none !important;
}
.aboutMeButton_myfamily,
.addetl_myfamily,
.aboutMeButton,
.addDetlBtn,
.editdetl_myfamily {
	background: none;
	color: #000;
	border: 0 !important;
	padding: 0 10px 0 10px !important;
	width: 100% !important;
	margin: 10px 0 0 0 !important;
}
.aboutMeButton_myfamily,
.sel_myself_wrapper  addDetlBtn.selectedState {
	background: #eeeeee;
}
.aboutMeButton_myfamily p,
.addetl_myfamily p,
.aboutMeButton p,
.addDetlBtn  p,
.sel_myself_wrapper .addDetlBtn p,
.editdetl_myfamily p{
	margin: 0 !important;
}
.myfulldetails,
.myfulltabdetails {
	width: 100%;
}
.myfulldetails h5,
.myfulltabdetails h5 {
	margin: 0;
	background: #e6e6e6;
	padding: 5px 10px;	
}
.myfulldetails h5
{
	border-bottom: 1px solid white;
}
.myfulldetails .datetime .date-holder{
	margin-bottom: 12px;
}
.myfulldetails .inpForm {
     margin-bottom: 10px;
}
.mydetlsButons button {
	min-width: 130px;
	display: inline-block !important;
	float: none !important;
}
.about-me-insured,
.about-me-beneficiary {
	padding: 0 10px;
}
.sel_myself_wrapper .addDetlBtn,
.sel_myself_wrapper .editDetlBtn {
	background: none;
	color: #000;
	top: 0;
	padding: 0 6px;
	margin: 10px 0 0 0 !important;
}
.sel_myself_wrapper .addDetlBtn.selectedState {
	background: #EEE !important;
	color: #000 !important;
}

.aboutme-iconHolder
{
 /*    background: #eee9e9; */
    border-radius: 50%;
    width: 160px;
    height: 160px;
    position: relative;
	margin-bottom:10px;
/* 	border:#fff 1px solid; */
}
.aboutme-icon{
	
width: 43px;
height: 43px;
border-radius: 100%;
left: 27%;
position: absolute;
top: 10%;
}
.StarExecellence
	{	
    background-image: url('../img/icon/Star Execellence.png');
	}
.aboutme-contentText {
    width: 80%;
    position: absolute;
    top: 55%;
    left: 10%;
    color: #c32a24;
    text-align: center;
    font-size: 11px;
	line-height: 11px;
}
.fna-familymembers
{
	font-size:14px;
}
/*Customer-profile Ends*/


/*Set Goal Preference Starts*/
.set-goal-cntr .preference_holder {
	margin:0 !important;
}
.set-goal-cntr .setpreference_drag_container .preference_holder {
	margin-top: 0 !important;
	width: 100%;
}
.setpreference_drag_container .preference_holder .container_gl {
	display: block;
	width: 100%;
	min-height: 100px;
}
.set-goal-cntr .setpreference_drag_container .preference_holder .container_gl .goals {
	width: 18%;
	margin:0 1%;
}
.set-goal-cntr .setpreference_drag_container .preference_holder .container_gl .goals .goal {
	height: 76px;
	width: 76px;
	background-color: #eee9e9;
	border-radius: 50px;
	z-index: 1 !important;
	float: none;
	display: inline-block;
	
}
.goal-holder{
	width: 78px;
	height: 78px;
	border-radius: 50%;
	background-color: white;
	-webkit-box-shadow: -1px 0px 1px 0px #ccc;
	display:inline-block;
}
.Questionnaire-option-holder
{	width: 147px;
	height: 147px;
	border-radius: 50%;
	background-color: white;
	-webkit-box-shadow: -1px 0px 1px 0px #ccc;
	margin:0 auto;
	word-break: break-word;
}
.priorityGoal-holder
{
	width: 102px;
	height: 102px;
	border-radius: 50%;
	background-color: white;
	-webkit-box-shadow: -1px 0px 1px 0px #ccc;
	margin:0 auto;
}
.set-goal-cntr .setpreference_drag_container .preference_holder .container_gl .goals .goal.mandatory {
	background-color: #e7bec0; 
	margin:0 auto;
}
.set-goal-cntr .setpreference_drag_container .preference_holder .container_gl .goals .infoicon {
	display: inline-block;
	float: none;
	height: 25px;
	width: 25px;
	background-image: url('../img/icon/infoIcon.png');
}
.carousel-control{
height:50px;
}
.set-goal-cntr .setpreference_drag_container .preference_holder .txtgoals {
	font-size: 15px;
	text-align: center;
	color: #33342f;
	width: 100%;
}
.set-goal-cntr .priorityholder,
.set-goal-cntr .setpreference_drag_container {
	background: none;
	width: 72%;
	margin: 0 auto;
	display: block;
	min-height: 100px;
}
.set-goal-cntr .priorityholder .owl-carousel {
	top: -10px;
}
.set-goal-cntr .priorityholder .slidinglist .priorityset,
.set-goal-cntr .priorityholder .slidinglist .priorityorder {
	background-size: cover;
	margin: 0 auto;
}
.set-goal-cntr .priorityholder .slidinglist .priorityset,
.set-goal-cntr .priorityholder .slidinglist .priorityorder {
	width: 100px;
	height: 100px;
}

.set-goal-cntr .priorityholder .slidinglist .priorityorder .priority_number {
	margin-top: 4px;
}
.set-goal-cntr .priorityholder .item span {
	position: relative;
	top: 35px;
}
.set-goal-cntr .detailsholder {
	background: none;
	margin-top: 0;
}
.set-goal-cntr .detailsholder .right_cntnr{
	position: absolute;
	right: 5%;
	top: 0;
}
.set-goal-cntr .detailsholder .lft_cntnr{
	position: absolute;
	left: 5%;
	top: 0;
}
.set-goal-cntr  .slidinglist textarea {
	width: 85%;
	height: auto;
	border: 1px solid #CCC;
	font-size: 11px;
	color: #b4aaaa;
}
.set-goal-cntr .detailsholder .right_cntnr .owl-next,
.set-goal-cntr .detailsholder .lft_cntnr .owl-prev {
	margin: 55px auto;
	height: 24px;
	width: 22px;
	background-size: contain;
	background-position: center center;
}
.product-info-modal .modal-header span {
	margin-left: 10px;
}
.product-info-modal .product-info-video {
	background: url('../img/dummy-video.png') no-repeat;
	background-size: contain;
	background-position: 50%;
	height: 100%;
	max-width: 100%;
	display: block;
	margin: 0 auto;
}
.product-info-modal .carousel-inner img{
	height:560px;
}

/*Set Goal Preference Starts*/
.set_goal_text_wrapper{
	display:none;
}
.item .item-dropped + .set_goal_text_wrapper{
	display:block;
}
.proceed-btn-cntr,
.fna-introduction .btnProceed_wrapper {
	padding: 20px 0px;
}
.pos-relative .proceed-btn-cntr{
	position:absolute;
	bottom:0px;
}

.proceed-btn-cntr .btn,
.fna-introduction .btnProceed_wrapper .btn {
	min-width: 275px;
	margin-right: 5%;
}
.product-rec-container .proceed-btn-cntr .btn,
.cal-chart-container .proceed-btn-cntr .btn{
	margin-right: 20px;
}
.fna-introduction .btnProceed_wrapper .btn {
	margin-right: 0px;
}
.fna-introduction .video-ctnr video {
	border: 2px solid #c21b17;
	height: 90%;
	margin-top: 2%;
	box-sizing: border-box;
}
.fna-introduction .about-generali-video video {
	height: 70%;
	padding: 10px;
	box-sizing: border-box;
}
.fna-introduction .about-generali-video  p {
	text-align: justify;
}
.scrapButton{
	height: 100px;
	width: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	background-image: url('../img/icon/delete_white.png');
	background-color: #d46c6b;
	background-position: center center;
	border-left: 1px solid #CCC;
	border-bottom: 2px solid #CCC;
}
.priorityholder .slidinglist .priorityorder{
	background-image:none;
	background-color: #F4F1F1 ;
	-moz-border-radius: 150px;
	-webkit-border-radius: 150px;
	border-radius: 150px;
}
/*For development purpose
.footer{
	padding: 0;
}*/



/*customer-profile starts*/
.member .round-icon{
	background-image: url('../img/add@2x.png');
}
/* .my-self .round-icon{
	background-image: url('../img/self@2x.png');
} */
.son .round-icon,
.dependent-list .nonmember.son,
.choose-parties-page .nonmember.son {
	background-image: url('../img/son@2x.png') !important;
}
.daughter .round-icon,
.dependent-list .nonmember.daughter,
.choose-parties-page .nonmember.daughter {
	background-image: url('../img/daughter@2x.png') !important;
}
.father .round-icon ,
.dependent-list .nonmember.father,
.choose-parties-page .nonmember.father {
	background-image: url('../img/father@2x.png') !important;
}
.mother .round-icon,
.dependent-list .nonmember.mother,
.choose-parties-page .nonmember.mother {
	background-image: url('../img/mother@2x.png') !important;
}
.brother .round-icon,
.dependent-list .nonmember.brother,
.choose-parties-page .nonmember.brother {
	background-image: url('../img/brother@2x.png') !important;
}
.sister .round-icon,
.dependent-list .nonmember.sister,
.choose-parties-page .nonmember.sister {
	background-image: url('../img/sister@2x.png') !important;
}
.husband .round-icon,
.dependent-list .nonmember.husband,
.choose-parties-page .nonmember.husband {
	background-image: url('../img/husband@2x.png') !important;
}
.wife .round-icon,
.dependent-list .nonmember.wife,
.choose-parties-page .nonmember.wife {
	background-image: url('../img/spouse@2x.png') !important;
}
.active .son .round-icon{
	background-image: url('../img/son_active@2x.png');
}
.active .daughter .round-icon{
	background-image: url('../img/daughter_active@2x.png');
}
.active .father .round-icon{
	background-image: url('../img/father_active@2x.png');
}
.active .mother .round-icon{
	background-image: url('../img/mother_active@2x.png');
}
.active .brother .round-icon{
	background-image: url('../img/brother_active@2x.png');
}
.active .sister .round-icon{
	background-image: url('../img/sister_active@2x.png');
}
.active .husband .round-icon{
	background-image: url('../img/husband-active@2x.png');
}
.active .wife .round-icon{
	background-image: url('../img/spouse_active@2x.png');
}

.round-icon{
	  height: 100px;    
    background-color: #dedede;
    border-radius: 100%; 
    width: 100px;  
}
.round-icon-holder{
	background: white;
	width: 102px;
	border-radius: 100%;
	margin: auto;
	height: 102px;
	-webkit-box-shadow: 0 1px 1px 0px #ccc;
}
.selected{
	color: #C21B17;
}
.round-icon{
	background: #F4F1F1 no-repeat center;	
}
.round-icon.bs-50{
	background-size: 50%;
}
.round-icon.bs-80{
	background-size: 80%;
}
.selected .round-icon-holder{
	-webkit-box-shadow: 1px 1px 0px 0px #fff;
}
.selected .round-icon{	
	background-color: white;
	border: 2px solid #C21B17;
}
.owl-item.active .round-icon-holder.holder-medium{
	width: 102px ;
	height: 102px ;
	margin-top: 2px;
}
.owl-item.active .holder-medium .round-icon{
	height: 100px;
	width: 100px;
}
.round-icon-holder.holder-small{
	width: 72px;
	height: 72px;
	padding-top: 2px;
}
.holder-small .round-icon{
	height: 70px;
	width: 70px;
	margin: auto;
}
.round-icon-holder.holder-medium{
	width: 82px;
	height: 82px;
	margin-top: 10px;
}
.holder-medium .round-icon{
	height: 80px;
	width: 80px;
	margin: auto;
}
.fna-progressbar  .disabled {
	color: #33342f;
}
#male .round-icon,
.choose-parties-page .myself.male-image,
.cp_droppable_section .cp_proposer_section #proposedLst li .myself.male-image,
.cp_droppable_section .cp_insured_section #insuredLst li.cpLstItem .myself.male-image,
.cp_droppable_section .cp_additional_insured_section #addnlInsuredLst li .myself.male-image  {
 background-image: url('../img/male@2x.png');
}
#male._selected .round-icon{
	background-image: url('../img/male-active@2x.png');
}
#female .round-icon,
.choose-parties-page .myself.female-image,
.cp_droppable_section .cp_proposer_section #proposedLst li .myself.female-image,
.cp_droppable_section .cp_insured_section #insuredLst li.cpLstItem .myself.female-image,
.cp_droppable_section .cp_additional_insured_section #addnlInsuredLst li .myself.female-image 
{
  background-image: url('../img/female@2x.png');
 }
#female._selected .round-icon{
	background-image: url('../img/female-active@2x.png');
 }
#Single .round-icon{
  background-image: url('../img/single@2x.png');
 }
#Single._selected .round-icon{
  background-image: url('../img/single-active@2x.png');
 }
#Married .round-icon{
  background-image: url('../img/married@2x.png');
 }
#Married._selected .round-icon{
  background-image: url('../img/married-active@2x.png');
 }
#Married-with-kids .round-icon{
  background-image: url('../img/married-kids@2x.png');
 }
#Married-with-kids._selected .round-icon{
  background-image: url('../img/married-kids-active@2x.png');
 }
#Married-with-grown-up-kids .round-icon{
  background-image: url('../img/married-grownup-kids@2x.png');
 }
#Married-with-grown-up-kids._selected .round-icon{
  background-image: url('../img/married-grownup-kids-active@2x.png');
 }
#Golden-Age .round-icon{
  background-image: url('../img/golden@2x.png');
 }
#Golden-Age._selected .round-icon{
  background-image: url('../img/golden-active@2x.png');
 }
.span-col-10-layout .span2{
	width: 17.9%!important;
}
.spacing-100{
	height: 100px;
}
.questionnaire-wrapper .spacing-100{
	height: 84px;
}
.spacing-50{
	height: 50px;
}
.fna-outercontainer{
	background-color: white;
	min-height:590px;
}
.outercontainer.male_single{
	background: url('../img/banner-demo1.png');
	background-size: 100% 100%;
}
.padding-bottom-20{
	padding-bottom: 20px;
}
.span1-7{
	width: 12.2%!important;
	margin-left:2% !important;
}
.white-bg{
	background: white;
}
.my-family{
	padding: 20px 0 10px;
	border-bottom: 1px solid #ddd;
}
.my-family .heading{
	text-indent: 16px;
	font-weight: normal;
}
.added-members .owl-item:first-child .my-self .round-icon {
	background: #F4D6D4 no-repeat center;
	background-size: 50%;
	background-image: url('../img/self_a@2x.png');
}
.added-members .owl-item.active:first-child .my-self .round-icon {
	background:#F4F1F1 no-repeat center;
	background-image: url('../img/self@2x.png');
}
.added-members .owl-item:first-child .my-self.female-image .round-icon {
	background-image: url('../img/female1_a@2x.png');
}
.added-members .owl-item.active:first-child .my-self.female-image .round-icon {
	background-image: url('../img/female1_active@2x.png');
}

.added-members .owl-item{
	width: 130px !important;
	margin-left: 22px;
}
.added-members .owl-item:first-child{
	margin: 0 30px;
}
.added-members .owl-item:first-child{
	width: 160px !important;
}
/*customer-profile ends*/

/*To overwrite*/
.table-70{
	height: 70px;
	display: table!important;
}
.owl-carousel .owl-wrapper-outer{
	margin-top: 20px;
	font-size:15px;
}

.owl-theme .owl-controls{
	margin-top: 0;
}
.margin-top-10{
	margin-top: 10px;
}
.customer-profile .delete-member{
	width: 200px;
	text-align: right;
}
.myfulldetails{
	margin-top: -2px;
	border: 0;
	text-align: left;
	display: block;
	margin-bottom: 0px;
	background: #F5F5F5;
}
.myfulldetails h5{
	color: initial;
	font-weight: normal;
}
.myfulldetails i.fa{
	padding-left: 5px;
	padding-right: 10px;
}
.myfulldetails .date-holder .fa{
	padding: 0;
}
.family-info-text{
	margin-top:26px;
	padding-bottom: 10px;
	height:48px;
word-break:break-word;
}
.active .round-icon{
    background-size:55% !important;
}
.active .family-info-text{
	background: #e6e6e6;
	padding: 3px 0 10px 0;
	margin-top:12px;
}
.tableWidth{
width:30% !important;
}
.fontSize13{
font-size:13px;
}
/*.family-info-text.singleLine{
height: 34px;
padding-top: 20px!important;
}*/
.family-info-text.doubleLine{
height:48px;
padding-top: 6px!important;
}
.dummy_upload_btn_new{
	background-image: url('../img/camera.png');
}
.myfulldetails .row-fluid [class*="span"]{
	min-height: 35px;
}
.calculatorHeading{
	text-indent:30px;
	/* FNA changes by LE Team start */
    font-family: 'DBHelvethaicaMedium';
    font-size: 23px;
    color: #c21b17
    /* FNA changes by LE Team end */
}
.SetgoalHeading{
	text-indent:30px;
	/* FNA changes by LE Team start */
    font-family: 'DBHelvethaicaMedium';
    font-size: 23px;
    color: #c21b17
    /* FNA changes by LE Team end */
}
.setpreference_drag_container
{
margin-top:14px !important;
}

#calcModal .modal .close
{
line-height: normal;
font-weight: normal;
}
.fna-introduction .item .company-details h6
{
font-size:15px;
color:#33342f;
font-weight:bold;
}










/* Calculator Starts */


.calc_wrapper,
.fna-introduction .modal,
.product-info-modal {
	width: 95% !important;
	margin-left: -47.5% !important;
}
.calc_wrapper .calc-modal-header {
	background: #F4F4F4;
	display: block;
	padding: 8px 0;
	height: 30px;
}
.calc_wrapper .calc-modal-header .calc-modal-header-text {
	font-weight: bold;
	color: #c32a24;
	font-size: 23px;
	margin-left:15px;
	font-family: 'DBHelvethaicaRegular';
}
.calc_wrapper .calculator {
	background: none;
	margin: 0 !important;
	width: 100%;
	height: 100%;
}
.calc_wrapper .collapse.in {
	/* overflow: auto; */
	/* height: 235px; */
}
.calc_wrapper .calculator .header {
	height: 50px;
	line-height: 50px;
	float: left;
	font-size: 19px;
	width: 100%;
	margin: 0;
	background: #FCFCFC;
}
.calc_wrapper .unit_main_btn {
	border-radius: 0;
	margin-top: 0;
}
.calc_wrapper .unit_main_btn {
	background-color: #b4aaaa;
}
.calc_wrapper .unit_main_btn.selected {
	background-color: #C32a24;
	border-radius: 0;
	margin-top: 0;
}
.calculator .unit_select {
	position: absolute;
	right:20px;
	top: 5px;
}
.calc-modal-header .unit_select .close {
	font-size: 28px;
	color: #C21B17;
	margin-left: 30px;
	float: none;
	position: relative;
	top: 0;
	opacity: 1;
}
.unit_select span {
	margin-right: 20px;
	color: #b4aaaa;
	font-size: 16px;
}
.calc_wrapper .calculator .lightblue_bg_wrapper {
	height: 100%;
	width: 100%;
	margin: 0;
	background: none;
}
.calc_wrapper .coverage_details_wrapper {
	border: 0;
	border-top: 1px solid #DDD;
	background: none;
}
.calc_wrapper .calculator .lightblue_bg_wrapper .savebtnwrapper {
	background: none;
}
.calc_wrapper  .savebtnwrapper .btn {
	min-width: 275px;
	margin-top:7px;
}
.calc_wrapper .calculator .lightblue_bg_wrapper .calculator_widget_wrapper .calculator_widget {
	width: 100% !important;
	height: 100%;
	/*overflow: scroll;*/
}

.calc_wrapper .calculator .lightblue_bg_wrapper .calculator_widget_wrapper {
	height: 84%;
	width: 100%;
	overflow: auto;
}
.calc_wrapper .calculator .lightblue_bg_wrapper .calculator_widget_wrapper.completed {
	height: 73.5%;
}
.calc_wrapper .coverage_details_wrapper_calculated {
background-color: #C21B17;
padding-top: 12px;
height: auto;
min-height: 75px;
}

.calc_wrapper .coverage_details_wrapper.coverage_details_wrapper_calculated .cvrg_detl_para .cvrg_text,
.calc_wrapper .coverage_details_wrapper .cvrg_detl_para .cvrg_amt {
	margin-top: 0;
	color:#ffffff;
}
.calc_wrapper .coverage_details_wrapper .cvrg_detl_para .cvrg_amt{
font-size:22px;
font-family: 'DBHelvethaicaRegular';
}
.calc_wrapper .coverage_details_wrapper .cvrg_detl_para .cvrg_text_initial{
width: 50%;
color: #333333;
margin-top: 7px!important;
box-sizing: border-box;
}
.calc_wrapper .coverage_details_wrapper .cvrg_detl_para_initial {
	width:100%;
	margin-top: 5px;
}

.calc_wrapper .coverage_details_wrapper .cvrg_detl_para:nth-child(1), 
.calc_wrapper .coverage_details_wrapper .cvrg_detl_para:nth-child(2),
.calc_wrapper .coverage_details_wrapper .cvrg_detl_para:nth-child(n+3) {
	border: none;
	padding-left: 5%;
	box-sizing: border-box;
	padding-top: 6px;
	
}
.calc_wrapper .coverage_details_wrapper .cvrg_detl_para.cvrg_detl_para_initial .cvrg_text:nth-child(2), 
.calc_wrapper .coverage_details_wrapper .cvrg_detl_para.cvrg_detl_para_initial .cvrg_text:nth-child(4)
{
	padding-left: 5%;
}
.calc_wrapper .coverage_details_wrapper .cvrg_detl_para:nth-child(odd){
margin-left:0px;
}

#mobile_touch_device .errorCountDiv {
	bottom: 35px !important;
}
.calc_wrapper .calculator .lightblue_bg_wrapper .calculator_widget_wrapper .collapse.in .calculator_widget {
	width: 100% !important;
	height: 250px;
	overflow: auto;
}
.calc_wrapper .calculator .lightblue_bg_wrapper .calculator_widget_wrapper .calculator_widget .sliderwidget {
	border: none;
	height: auto;
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
}
.calc_wrapper .calculator .lightblue_bg_wrapper .calculator_widget_wrapper .calculator_widget .sliderwidget .policy_header {
	color: #33342f;
	text-align: left;
	padding: 10px;
	margin: 0 auto;
	width: 25%;
	float: left;
	font-size: 15px;
}
.calculator_widget .accordion-inner {
	padding: 0;
}
.para {
	display: inline-block;
	width: 50%;
}
.calc_wrapper .calculator .lightblue_bg_wrapper .calculator_widget_wrapper .calculator_widget .sliderwidget .amount_buttons {
	float: right;
	display: inline-block;
}
.calc_wrapper .calculator .lightblue_bg_wrapper .calculator_widget_wrapper .calculator_widget .sliderwidget .amount_buttons .amt_inp {
	width: 70%;
	margin: 0 auto !important;
	color: #C32a24;
}
.calc_wrapper .calculator .lightblue_bg_wrapper .calculator_widget_wrapper .calculator_widget .sliderwidget .amount_buttons .calculator-select .amt_inp{
	width:100%;
}
#mobile_touch_device a.ui-slider-handle {
	border: 3px solid #C21B17 !important;
	background: #FFF !important;
	border-radius: 30px;
	height: 12px !important;
	width: 12px !important;
	top: -6px;
}
 a.ui-slider-handle {
         border: 3px solid #C21B17 !important;
	background: #FFF !important;
	height: 15px !important;
	width: 15px !important;
        border-radius: 30px;
}

.calc_wrapper .ui-widget-content {
	background-color: #c8c8c8;
	border: none;
}
.calc_wrapper .ui-slider-horizontal .ui-slider-range {
	background-color: #c8c8c8;
}
.calc_wrapper .accordion-group {
	margin-bottom: 0;
	background: none;
}
.calc_wrapper .accordion {
	height: 100%;
	margin: 0;
	clear:both;
}
.calc_wrapper .accordion-heading {
	background: #FFF; 
}
.calc_wrapper .coverage_details_wrapper .cvrg_detl_para {
	height: auto;
}


.calc-container .arc_container_wrapper {
	width: 100%;
	height: auto !important;
	margin: 0 auto;
}
.calc-container .arc_container_wrapper .arc_left  {
	margin: 0 auto;
	text-align: center;
}
.calc-container .arc_container_wrapper .arc_left .branches {
	position: relative;
	display: inline-block;
	margin: 40px 20px;
	width: auto;
}
.calc-container .arc_container_wrapper .arc_left .branches .individual_option {
	width: 110px;
}
.calc-container .arc_container_wrapper .arc_left .branches.long .individual_option {
	width: 130px;
}
.calc-container .individual_option .goal-details {
	padding: 10px 0px;
	position: absolute;
	width: 110px;
	left: 0px;
}
.calc-container .branches.long .individual_option .goal-details {
	width: 130px;
}
.calc-container .individual_option .goal-details .fa-check {
	background-color: green;
	border-radius: 10px;
	color: #FFF;
	padding: 2px;
}
.calc-container .branches .individual_option .goal-details .active-star, 
.calc-container .branches .individual_option .goal-details .fa-check {
	display: none;
}

.calc-container .branches.active .individual_option .goal-details .active-star, 
.calc-container .branches.active .individual_option .goal-details .fa-check {
	display: inline-block;
}

.calc-container .branches.active .individual_option .goal-details .fa-check {
	position: absolute;
	left: 0px;
}
.calc-container .branches.active .individual_option .goal-details .active-star{
	position: absolute;
	right: 0px;	
}
.calc-container .branches.active .goal-details .option_text {
	color: #c32a24 !important;
	line-height: 16px;
	position: absolute;
	left: 16px;
	right: 5px;
	word-break: break-word;
}
.calc-container .arc_container_wrapper .arc_left .branches .individual_option .option_container,
.arc_container_wrapper .arc_left .branches .individual_option .option_container {
	-webkit-box-shadow: -1px 1px 0px 0px #ccc;
}
/*changes made by le team for calculator drop down starts*/
.customDropIcon-fna{
    background: url(../img/select-icons.png) -11px -131px no-repeat;
    display: block;
    height: 7px;
    outline: none;
    position: relative;
    margin-left: 94%;
    top: 14%;
    width: 10px;
    margin-top: -13%;
}
/*changes made by le team for calculator drop down ends*/
.arc_container_wrapper .arc_left .branches .individual_option .option_container .options1,
.setpreference_drag_container .options1,
.priorityholder .slidinglist .priorityset.options1 {
	display: block;
	background: #e7bec0 url('../img/icon/Care.png'); /* FNA Changes by LE team: Bug 4124*/
	background-size: 50% 50% !important;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 50px;
	z-index: 1;
}
.arc_container_wrapper .arc_left .branches .individual_option .option_container .options2,
.setpreference_drag_container .options2,
.priorityholder .slidinglist .priorityset.options2 {
	display: block;
	background: #e7bec0 url('../img/icon/Retirement.png');
	background-size: 50% 50% !important;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 50px;
	z-index: 1;
}
.arc_container_wrapper .arc_left .branches .individual_option .option_container .options3,
.setpreference_drag_container .options3,
.priorityholder .slidinglist .priorityset.options3 {
	display: block;
	background: #e7bec0 url('../img/icon/Protection.png');
	background-size: 50% 50% !important;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 50px;
	z-index: 1;
}
.arc_container_wrapper .arc_left .branches .individual_option .option_container .options4,
.setpreference_drag_container .options4,
.priorityholder .slidinglist .priorityset.options4 {
	display: block;
	background: #e7bec0 url('../img/icon/Transfer.png');
	background-size: 50% 50% !important;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 50px;
	z-index: 1;
}
.arc_container_wrapper .arc_left .branches .individual_option .option_container .options5,
.setpreference_drag_container .options5,
.priorityholder .slidinglist .priorityset.options5 {
	display: block;
	background: #e7bec0 url('../img/icon/Education.png');
	background-size: 50% 50% !important;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 50px;
	z-index: 1;
}
.priorityholder .slidinglist .priorityset.delete-selection {
	background: #d46c6b url('../img/icon/delete_white.png');
	background-size: 50% 50% !important;
	background-repeat: no-repeat;
	background-position: center center;
}




.priorityholder .slidinglist .priorityset span {
	display: none;
}
.set-goal-cntr .priorityholder .slidinglist .priorityorder span {
	display: inline-block;
}

.calculator_widget_wrapper .accordion-inner{
	padding:0;
}



.calc-container,
.set-goal-cntr,
.cal-chart-container,
.product-rec-container {
	margin: 0;
	background: #FFF;
}

.dependent-list {
	height: auto;
	width: 100%;
	text-align: right;
	background: #eee9e9;
	position: relative;
	top: -10px;
	z-index: 0;
	padding-bottom: 15px;
	margin-top: 10px;
}
.dependent-list h4 {
	margin: 3% 0 0 10px;
	text-align: left;
}
.dependent-list .branches {
	display: inline-block;
	margin: 0 5px 0 0;
}
.dependent-list .myself {
	border-radius: 80px;
	height: 80px;
	width: 80px;
	position: relative;
	top: 10px;
	border: 2px solid #FFF;
	display: inline-block;
}
.dependent-list .myself  img {
	width: 100%;
	height: 100%;
	border-radius: 100%; 
}
.dependent-list img[src="data:image/jpeg;base64,"] {
	visibility: hidden;
}
.dependent-list .nonmember {
	height: 70px;
	width: 70px;
	border-radius: 50px;
	position: relative;
	top: 10px;
}
.set-goal-cntr .selected-goals-header,
.calc-container .selected-goals-header {
	width: 70%;
	text-align: center;
	margin: 10px auto;
	border-bottom: 2px solid #DDD;
	padding-bottom: 5px;
	margin-bottom: 10px;
	margin-top: 10px;
	color: #b4aaaa;
	font-size: 20px;
}
.cal-chart-container .arc_container_wrapper .arc_left,
.product-rec-container .arc_container_wrapper .arc_left {
	overflow: auto;
}
/* Calculator Ends */
/* Calculator graph summary starts */
.cal-chart-container .graph_wrapper .graph_content,
.product-rec-container .graph_wrapper .graph_content {
	background: none;
	border: none;
	min-height: 375px;
}
.cal-chart-container .arc_container_wrapper .arc_left .branches,
.product-rec-container .arc_container_wrapper .arc_left .branches {
	position: relative;
	height: auto;
	width: auto;
}
.cal-chart-container .graph_wrapper,
.product-rec-container .graph_wrapper {
	background: #eee9e9;
	border: 1px solid #999;
	margin: 10px 20px 10px 10px;
	box-sizing: border-box;
}
.cal-chart-container .graph_wrapper:after, .graph_wrapper:before,
.product-rec-container .graph_wrapper:after, .product-rec-container .graph_wrapper:before {
	right: 100%;
	top: 70px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
}
.cal-chart-container .graph_wrapper:after,
.product-rec-container .graph_wrapper:after {
	border-color: rgba(221, 221, 221, 0);
	border-right-color: #DDD;
	border-width: 10px;
	margin-top: -41px;
}
.cal-chart-container .graph_wrapper:before,
.product-rec-container .graph_wrapper:before {
	border-color: rgba(153, 153, 153, 0);
	border-right-color: #999;
	border-width: 11px;
	margin-top: -42px !important;
}
.cal-chart-container .arc_container_wrapper .arc_left .branches .individual_option .option_container span,
.product-rec-container .arc_container_wrapper .arc_left .branches .individual_option .option_container span {
	background-color: #eee9e9;
}
.cal-chart-container .arc_container_wrapper .arc_left .branches .individual_option.selected .option_container span,
.product-rec-container .arc_container_wrapper .arc_left .branches .individual_option.selected .option_container span,
.cal-chart-container .arc_container_wrapper .arc_left .active.branches .individual_option .option_container span, 
.product-rec-container .arc_container_wrapper .arc_left .active.branches .individual_option .option_container span{
	background-color: #e3baba;
}

.arc_container_wrapper .arc_left .branches .individual_option .option_text {
	text-align: center;
	font-size: 15px;
	color: #33342f;
	line-height:18px;
	margin: 5px 0 0px 0;
}
.calc-container  .arc_container_wrapper .arc_left .branches .individual_option .option_text {
	margin: 0;
	font-size: 19px;
	font-family: DBHelvethaicaRegular;
}
.carousel-inner .illustrate_graph_container.item.graph-visible {
	display: block;
	visibility: hidden;
	left: -999px;
}

/* Calculator graph summary ends */

/*Fna questionnaire*/
.fnaQuestion-noContainer
{
width: 30px;
height: 30px;
float:right;
color: #ffffff;
font-size: 14px;
background: #bc4b4b;
border-radius: 50%;
margin-left: 2%;
}
.fnaQuestion-no
{
text-align: center;
font-weight: bold;
margin: 9px auto;
line-height: 13px;
}
.fnaQuestion
{
margin:0 2%;
line-height:30px;
float: left;
width: 91%;
font-size: 16px;
}
.optionsContainer
{
width:auto;
margin:0 auto;
text-align:center;
}
.optionsContainer .options
{
width: 145px;
height: 145px;
margin: 0 auto;
color: #000000;
font-size: 14px;
background: #DDD;
border-radius: 50%;
display: table-cell;
vertical-align: middle;
}
#QuestionnaireCarousel .carousel-indicators li
{
background-color:#ccc;
width:10px;
height:10px;
}
#QuestionnaireCarousel .carousel-indicators
{
bottom:0;
top:100%;
}
#QuestionnaireCarousel .carousel-control
{
top:64%;
color:#ddd;

}
.option-text
{
line-height:20px;
margin:0 10%;
width:80%;
}
.Fna-questionwrapper
{
width: 100%;
float: left;
min-height:60px;
}
#QuestionnaireCarousel .carousel-indicators .active
{
background-color: #c32a24;
}
.fnaQuestion-noWrapper
{
float: left;
width: 5%;
}

.options.active
{
background-color:#e7bec0;
}



/*Fna questionnaire popup*/
.riskprofiler_popup_wrapper
{
top: 0px;
bottom: 0px;
left: 0px;
right: 0px;
margin: auto;
width: 76%;
height: 76%;
background-color:#eee9e9;
padding:2%;
}
.QuestionnaireRiskwrapper
{
padding: 1%;
background-color: white;
float: left;
width: 100%;
height:100%;
box-sizing: border-box;
}
.QuestionnaireRiskContent
{
float:left;
width:100%;
padding-top:3%;
}
.riskmode.Conservative, 
.riskmode.Moderate, 
.riskmode.Aggressive
{
width:90px;
height:90px;
border-radius:50%;
background-color:#ddd;
margin:0 auto;
display: block;
background-size: 50% 50% !important;
z-index: 1;
}
.riskmode.Conservative_selected, 
.riskmode.Moderate_selected, 
.riskmode.Aggressive_selected
{
width:90px;
height:90px;
border-radius:50%;
background-color:#eee9e9;
margin:0 auto;
display: block;
background-size: 50% 50% !important;
z-index: 1;
}
.riskmode.Conservative
{
background:#eee9e9 url('../img/icon/Low risk.png')  no-repeat center center;
}
.riskmode.Moderate
{
background:#eee9e9 url('../img/icon/Medium risk.png')  no-repeat center center;
}
.riskmode.Aggressive
{
background:#eee9e9 url('../img/icon/High risk.png') no-repeat center center;
}
.riskmode.Conservative_selected
{
background:#eee9e9 url('../img/icon/Low risk_selected.png')  no-repeat center center;
}
.riskmode.Moderate_selected
{
background:#eee9e9 url('../img/icon/Medium risk_selected.png')  no-repeat center center;
}
.riskmode.Aggressive_selected
{
background:#eee9e9 url('../img/icon/High risk_selected.png')  no-repeat center center;
}
.riskBtn, .riskPofileMsg
{
padding-top:5%;
}
.showIAgreeRiskMsg
{
padding-top:1%;
}
.risk-icon-holder
{
background: white;
width: 92px;
border-radius: 100%;
margin:0 auto;
height: 92px;
-webkit-box-shadow: -1px 0px 1px 0px #ccc;
}




.product-rec-container .product-details {
	background: #FFF;
	box-sizing: border-box;
	margin: 10px;
	min-height: 347px;
}
.product-rec-container .bottom-menu {
	position: absolute;
	bottom: 0;
	background: #FFF;
	opacity: 0.8;
	color: #c32a24;
	padding: 0px;
	color: #c32a24;
	text-align: center;
}



.product-rec-container.bottom-menu {
	position: absolute;
	bottom: 0;
	background: #FFF;
	opacity: 0.8;
	color: #c32a24;
	padding: 0 5px;
	color: #c32a24;
	text-align: center;    
	box-sizing: border-box;
}
.product-rec-container .keyfeature {
	background: url('../img/icon/icon_key_feature.png');
	padding-top: 48px;
	background-size: 40px 40px;
	background-repeat: no-repeat;
	background-position: center 5px;
	line-height:16px;

}
.product-rec-container .ebroc {
	background: url('../img/icon/icon_ebrochure.png');
	padding-top: 48px;
	background-size: 40px 40px;
	background-repeat: no-repeat;
	background-position: center 5px;
	line-height:16px;
}
.product-rec-container .salespitch {
	background: url('../img/icon/icon_sales_pitch.png');
	padding-top: 48px;
	background-size: 40px 40px;
	background-repeat: no-repeat;
	background-position: center 5px;
	line-height:16px;
}
.product-rec-container .salespitch.disabled {
	opacity:0.4;
}

.product-rec-container .illustration-btn-cntr .btn {
	background-image: url('../img/icon/illustrationicon.png');
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: 8px;
	padding-left: 33px;
	font-weight: bold;
}
.product-rec-container .product-details-txt {
	font-size: 14px;
	color: #898989;
}
.product-rec-container .rider-container {
	padding: 10px;
	box-sizing: border-box;
	font-size: 14px;
	color: #898989;
}
.product-rec-container .rider-container ul { 
	list-style: none;
	margin: 0;
}
.product-rec-container .illustration-btn-cntr {
	position: absolute;
	bottom: 20px;
	right: 20px;
	text-align: right;
}
#calcModal.calc_wrapper + .alert-box-holder{
	display:none;
	visibility: hidden;
}
#calcModal.calc_wrapper.in  + .alert-box-holder{
	right: 3%;
	bottom: 3%;
	z-index:1051;
	display:block;
	visibility: visible;
}
#calcModal.calc_wrapper.in + .alert-box-holder.active{
	z-index:9997;
}
#calcModal.calc_wrapper.in + .alert-box-holder{
	z-index:9994;
}

.calc-container.fna-outercontainer ~ div[control="lePopupCtrl"] .modal-backdrop.fade.in{
	z-index: 9995;
}
.calc-container.fna-outercontainer ~ div[control="lePopupCtrl"] .modal.auto-height.fade.in{
	z-index: 9996;
}
#fnaSummaryGraph table.jqplot-table-legend,#fnaSummaryGraph table.jqplot-cursor-legend{
	background-color:transparent;
	right: 0px;
	left: auto !important;
	top: -38px;
	margin: 0px;
}
#fnaSummaryGraph table tr.jqplot-table-legend{
	display: inline-block
}
#fnaSummaryGraph table div.jqplot-table-legend-swatch{
	border-width: 7px;
	border-radius: 7px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
}
#fnaSummaryGraph table .jqplot-table-legend-label{
	font-size:13px;
}
#fnaSummaryGraph .illustrate_graph_container{
	box-sizing:border-box;
}
.fna_report_wrapper table.jqplot-table-legend{
	background-color:transparent;
	right: -15px !important;
	margin-right: -35px;
	font-size: 0.6em;
}
.fna_report_wrapper .jqplot-yaxis-label {
	top: -140px !important;
	left: 140px !important;
	text-align: center;
	line-height: 15px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	
}
.fna_report_container  .jqplot-point-label{
line-height:12px;
width: 75px;
word-break: break-word;
font-size: 0.55em;
padding-left: 5px;
text-align:center;
}
.fna_report_wrapper .exp_chart_style {
	margin-top: 40px;
}
/* FNA Report Starts*/
.fna_report_container {
	background: #FFF;
	min-height: 580px !important;
	font-size: 24px;
}
.fna_report_wrapper.details {
	min-height: 0;
	/*font-size: 17px;*/
	color: #6d6e71;
	line-height: 35px;
	/*border-bottom: 2px solid #DDD;*/
	padding: 20px 30px;
}
#FNASummaryReport {
	height: 540px;
	overflow-y: auto;
	overflow-x: hidden;
	display: block;
	width: 100%;
	background: #FFF;
	margin: 0;
}
.fna_report_container .page-section-header {
	background: #DDD;
	font-size: 24px;
	padding: 10px 30px;
}
.fna_report_container .email-btn-section {
	font-size: 17px;
	position: relative;
	top: -7px;
}
.fna_report_container .email-btn-section .fa {
	color: #c32a24;
	padding: 10px;
	font-weight: bold;
}
.fna_report_container .fna-report-headsection {
	height: auto;
	/*margin: 10px 30px 20px 30px;*/
	padding-bottom: 10px;
	/*border-bottom: 2px solid #DDD;*/
}
.fna_report_container .popup_setpref_container_previous {
	position: fixed;
}
.fna_report_container .header-text  {
	margin: 0;
	/*font-size: 30px;*/
	font-size: 1.5em;
	font-weight: normal;
	line-height: 45px;
}
.fna_report_container  .report_logo {
	/* background-image: url('../img/Generali_logo.jpg');
	background-repeat: no-repeat;
	background-position: right top;
	background-color: transparent;
	padding: 0 124px 0 0;
	background-size: 13%; */
	margin: 20px 30px 20px 30px;
}
.fna_report_container  .name-header {
	margin: 0;
	color: #6d6e71;
	/*font-size: 39px;*/
	font-size: 1.6em;
	line-height: 45px;
}
.fna_report_container .prepared-by-text {
	/*font-size: 16px;*/
	font-size: 1.2em;
	color: #6d6e71;
	margin: 20px 0;
}
.fna_report_container .prepared-date {
	font-size: 15px;
	color: #6d6e71;
}
.fna_report_container .section-header {
	/* background: #f4f4f4; */
	/*font-size: 25px;*/
	font-size: 1.6em;
	padding: 10px 0 10px;
	margin: 20px 0 10px 0;
	color: #c21b17;
	font-weight: 500;
}
.fna_report_container .detail_header {
	border-bottom: 1px solid #c21b17;
	color: #851714;
	/*font-size: 22px;*/
	font-size: 1.25em;
	font-weight: 500;
	padding-bottom: 10px;
}
/*.fna_report_container .column-header {
	color: rgb(78, 10, 10);
	font-size: 17px;
}*/
.fna_report_container .details_inner_wrapper {
	width: 50%;
	display: inline-block;
	/*color: #999;*/
}
.fna_report_container .col-sm-6 .details_inner_wrapper {
	width: 100%;
}
.fna_report_wrapper .family-member:odd {
	border-right: 2px solid #DDD;
}
.fna_report_container .content_detail_wrapper .thumbnail {
	width: 20%;
	display: inline-block;
	border: none;
	float: right;
	width: 150px;
	height: 190px;
	right: 100px;
}
.fna_report_container .content_detail_wrapper {
	height: auto;
	margin: 10px 0;
}
.fna_report_container  .priority-list {
	padding: 10px 0;
	/*border-bottom: 1px solid #DDD;*/
}
.fna_report_container  .priority-list.in-active {
                /*border-top: 1px solid #DDD;
                border-bottom: 0;*/
}
.fna_report_container .circular_option_container .priority-list:last-child {
                /*border-bottom: 0;*/
}
.fna_report_container  .count-span {
	background: #c32a24;
	color: #fff;
	/*margin: 0 10px 0 0;*/
	width: 20px;
	text-align: center;
	float: left;
	border-radius: 100%;
	min-width: 35px;
	min-height: 35px;
}
.fna_report_container .in-active .count-span{
	background-color: #ccc;
	
}
.fna_report_container .circular_wrapper .circular_option_container .options span{ 
	height: 100px;
	width: 100px;
}
/*.fna_report_wrapper .circular_wrapper .circular_option_container .options div{
	height: 102px;
	width: 102px;
	-webkit-box-shadow: -1px 0px 1px 0px #ccc;
	border-radius: 100%;
}*/
.fna_report_container .illustrate_graph_container {
	min-height: 200px;
}
.fna_report_container .details-chart-cntr {
	border-bottom: 2px solid #c21b17;
	padding: 10px 0 20px;
}
.fna_report_container .bottom-border {
	border-bottom: 2px solid #c21b17;
}
/*.othr-protection-item .details-chart-cntr:last-child {
	border-bottom: 0;
}*/
.fna_report_container .bottom-border:last-child {
	border-bottom: 0;
}
.hasDivision .divisionLine:first-child.col-sm-6::after {
border-right: 2px solid #ccc;
content: "";
position: absolute;
height: 108%;
top: 15px;
right: 40px;
}
.smallBlackText {
	font-size: 14px;
	color: #6d6e71;
}
.boldRedText {
	color: #c21b17;
	font-size:34px;
	font-weight:500;
}
.boldLargeText {
	color: #c21b17;
	font-size: 30px;
}
.darkRedLText {
	color: #851714;
	font-size: 20px;
	font-weight:500;
}

.fna_report_container .darkRedLText {
	font-size: 1.25em; 
}
.boldBlackText {
	font-size: 22px;
}
.paddingBottom25 {
	margin-bottom: 25px;
}
.listHeader {
	color: #851714;
	/*font-size: 18px;*/
	font-weight: normal;
	line-height: 25px;
}
ol.rec-product-list {
	font-size: 1em;
}
ol.rec-product-list li{
	line-height: 32px;
	padding: 5px 0;
}
.fna_report_wrapper .vert-align-col {
	padding: 10px 0;
	font-size: 0.95em;
}
.right-border {
	border-right: 2px solid #e7bec0;
}
.congratulations-block {
	margin-bottom: 50px;
}
.congratulations-block p {
	/*font-size: 17px;
	color: #999;*/
	margin: 0;
}
.fna_report_container .email_container .close {
	color: #C21B17;
    opacity: 1;
    font-size: 25px;
    font-weight: lighter;
}
.fna_report_container .ill_popup_container {
	background: #eee9e9;
} 
.fna_report_container .ill_popup_container .white-box {
	margin: 0px 20px 20px 20px;
	padding: 20px;
}
.fna_report_container .email_container .email-box-label{
	min-height: 24px;
	margin-bottom: 15px;
	font-size:14px;
}
.fna_report_container .email_container input[type="text"] {
	min-height: 24px;
	margin-bottom: 15px;
}
.fna_report_wrapper .circular_wrapper .circular_option_container .options span {
	display: block;
	background-size: contain !important;
	border-radius: 50px;
	z-index: 1;
}
.fna_report_wrapper .circular_wrapper .circular_option_container .options1 span {
	background: url('../img/icon/Icon_Wealth Accumulation.png') no-repeat center;
}
.fna_report_wrapper .circular_wrapper .circular_option_container .options2 span {
	background: url('../img/icon/Icon_Retirement.png') no-repeat center;
}
.fna_report_wrapper .circular_wrapper .circular_option_container .options3 span {
	background: url('../img/icon/Icon_Family Protection.png') no-repeat center;
}
.fna_report_wrapper .circular_wrapper .circular_option_container .options4 span {
	background: url('../img/icon/Icon_Wealth Transfer.png') no-repeat center;
}
.fna_report_wrapper .circular_wrapper .circular_option_container .options5 span {
	background: url('../img/icon/Icon_Education.png') no-repeat center;
}
.fna_report_wrapper .header-image {
	width: 100%;
	margin: 20px 0;
}
/*.fna_report_wrapper .header-image {
	height: 510px;	
	display: block;
	background-size: contain !important;
}
.fna_report_wrapper .header-image.WealthAccumulation {
	background: url('../img/Wealth Accumulation.jpg') no-repeat center;
}
*/
/* FNA Report Ends */
/* CHOOSE PARTIES */
/* TOTAL DEPENDENTS - 5 */
.cp_count5 .dependent1 {
  right: auto;
}
.cp_count5 .dependent2 {
  left: auto;
}
.cp_count5 .dependent3 {
  left: auto;
  right: auto;
  top: auto;
}
.cp_count5 .dependent4 {
  left: auto;
  right: auto;
  top: auto;
}
.cp_count5 .dependent5 {
  right: auto;
  top: auto;
}
/* TOTAL DEPENDENTS - 4 */
.cp_count4 .dependent1 {
  right: auto;
}
.cp_count4 .dependent2 {
  left: auto;
}
.cp_count4 .dependent3 {
  left: auto;
  top: auto;
}
.cp_count4 .dependent4 {
  right: auto;
  top: auto;
}
/* TOTAL DEPENDENTS - 3 */
.cp_count3 .dependent1 {
  right: auto;
}
.cp_count3 .dependent2 {
  left: auto;
}
.cp_count3 .dependent3 {
  left: auto;
  top: auto;
}
/* TOTAL DEPENDENTS - 2 */
.cp_count2 .dependent1 {
  right: auto;
}
.cp_count2 .dependent2 {
  left: auto;
}
/* TOTAL DEPENDENTS - 1 */
.cp_count1 .dependent1 {
  right: auto;
}
.choose-party-header{
	background-color: white;
    padding: 15px;
    margin: 0px;
}
.cp_droppable_section .cp_additional_insured_section #addnlInsuredLst {
	list-style-type: none;
	text-decoration: none;
	width: 100%;
	height: 100%;
	margin: 20px auto 0;
	-webkit-border-radius: 80px;
	-moz-border-radius: 80px;
	border-radius: 80px;
}
#mobile_touch_device .cp_droppable_section {
	min-height: 330px;
}
.choose-parties-page .cp_beneficiary_section .nonmember {
	height: 60px;
	width: 60px;
	display: inline-block;
	background-size: 50% !important;
}
.cp_additional_insured_section .nonmember,
.cp_insured_section .nonmember,
.cp_proposer_section .nonmember   {
	background-size: 50% !important;
}
.choose-parties-page img[src="data:image/jpeg;base64,"] {
    visibility: hidden;
}
.choose-parties-page .cp_draggable_section .branches {
	display: inline-block;
}
.choose-parties-page .cp_droppable_section .cp_additional_insured_section {
	min-height: 300px;
}
.cp_droppable_section .cp_additional_insured_section #addnlInsuredLst li {
	width: 100px;
	height: 100px;
	display: inline-block;
	margin: 0 6% 5px 6%;
}
.cp_droppable_section #benefLst li.cpLstItem {
	height: 85px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 85px;
}
.cp_droppable_section #benefLst li.cpLstItem .dependent, 
.cp_droppable_section #addnlInsuredLst li.cpLstItem .dependent {
	height: 100%;
	width: 100%;
	border: 3px solid white;
	border-radius: 100%;
}
.cp_droppable_section #benefLst li.cpLstItem .myself {
	border: 3px solid white;
	border-radius: 100%;
	width: 85px;
	height: 85px;
	display: block;
}
.cp_droppable_section .cp_beneficiary_section #benefLst {
	overflow: auto;
}
.cp_droppable_section #benefLst li.cpLstItem .myself,
.cp_droppable_section #benefLst li.cpLstItem .myself img {
	border-radius: 100%;
	width: 100%;
	height: 100%;
}
.cp_droppable_section .cp_additional_insured_section #addnlInsuredLst li .dependent,
.cp_droppable_section .cp_additional_insured_section #addnlInsuredLst li .myself {
  display: block;
  background-image: url('../img/gen_placeholder.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: inherit;
  margin: 0 auto;
  height: inherit;
}
.cp_draggable_section .dependent .dependent_name{
	bottom: auto;
	word-break:break-word;
	font-size:12px;
	text-transform: capitalize;
	line-height: 14px;
}
.cp_draggable_section .myself .myself_name{
	/* bottom: auto; */
	word-break:break-word;
	text-transform: capitalize;
	line-height: 14px;
	width:300%;
	left:-100%;
}
.customerProfile ._selected .round-icon-holder{
	-webkit-box-shadow: 0px 0px 0px 0px;
	border: 2px solid #c21b17;
	width:100px;
	height:100px;
}
.customerProfile ._selected .round-icon{
	background: #ffffff no-repeat center;
	background-size: 80%;
}
.customerProfile ._selected{
	color: #c21b17;
}
.customerProfile ._selected  .round-icon{
	color: #ffffff;
}
.questionnairePage.row-fluid .offset9 {
margin-left: 74.5% !important;
}
.listItem{
	font-size:14px;
}
.listItem:first-child{
	margin-top: -10px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .cp_droppable_section .cp_additional_insured_section #addnlInsuredLst li .dependent,
  .cp_droppable_section .cp_additional_insured_section #addnlInsuredLst li .myself  {
    background-image: url('../img/gen_placeholder@2x.png');
    background-size: 100% 100%;
  }
}
.cp_droppable_section .cp_additional_insured_section #addnlInsuredLst li .dependent img,
.cp_droppable_section .cp_additional_insured_section #addnlInsuredLst li .myself img{
  display: block;
  height: 100%;
  width: 100%;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  border-radius: 80px;
}

.cp_droppable_section .cp_additional_insured_section #addnlInsuredLst li .dependent .dependent_name,
.cp_droppable_section .cp_additional_insured_section #addnlInsuredLst li .myself .dependent_name,
.cp_droppable_section .cp_proposer_section #proposedLst li .dependent .dependent_name, 
.cp_droppable_section .cp_proposer_section #proposedLst li .myself .dependent_name {
/*   font-size: 12px;
  color: #000000;
  font-weight: bold;
  text-transform: capitalize;
  word-break: break-word; */
  display:none;
}
 .cp_droppable_section .cp_insured_section #insuredLst li.cpLstItem .dependent .myself_name, 
 .cp_droppable_section .cp_insured_section #insuredLst li.cpLstItem .myself .myself_name,
 .cp_droppable_section .cp_additional_insured_section #addnlInsuredLst li .dependent .myself_name,
.cp_droppable_section .cp_additional_insured_section #addnlInsuredLst li .myself .myself_name {
/*   font-size: 12px;
  color: #000000;
  font-weight: bold;
  text-transform: capitalize;
  word-break: break-word; */
  display:none;
}
.cp_droppable_section .cp_beneficiary_section #benefLst li .dependent .myself_name,
.cp_droppable_section .cp_beneficiary_section #benefLst li  .myself_name,
.cp_droppable_section .cp_proposer_section #proposedLst li .dependent .myself_name, .cp_droppable_section .cp_proposer_section #proposedLst li .myself .myself_name,
.cp_droppable_section .cp_insured_section #insuredLst li.cpLstItem .dependent .dependent_name, .cp_droppable_section .cp_insured_section #insuredLst li.cpLstItem .myself .dependent_name,
.cp_droppable_section .cp_beneficiary_section #benefLst li .dependent .dependent_name{
display:none;
}
/*
.cp_draggable_section .myself img,.cp_draggable_section .dependent img,.cp_droppable_section img {
border: 3px solid white;
} */
.choose-parties-page span.myself {
	border: 3px solid white;
	border-radius: 100%;
}
/* CHOOSE PARTIES */

.cal-chart-container .graph_wrapper .graph_content {
	width: 100%;
	float: none;
	max-height: 400px;
}
.cal-chart-container .graph_wrapper .graph_content .graph_dummy {
	width: 100%;
	height: 390px;
}
.cal-chart-container .carousel-inner {
	width: 80%;
	margin: 0 auto;
}
.cal-chart-container .carousel-indicators {
	bottom: 1%;
}
.cal-chart-container .graph_content .detail_header {
	font-size: 16px;
	padding-left: 20%;
	margin: 0;
}
.cal-chart-container .graph_content .chart-header {	
	padding-left: 15%;
	margin: 0 0 10px 0;
	padding-top:24px;
	font-size: 23px;
	font-family: 'DBHelvethaicaRegular';
}
.cal-chart-container .graph_content .isCostofWaitingHidden .chart-header.false {
	padding-top:0px ;
}
.cal-chart-container .graph_content .graph-description span {
	position: absolute;
	bottom: 10px;
	text-align: left;
	padding: 0 10% 0 20%;
	height: 50px;
	overflow: auto;
	line-height: 15px;
	font-size: 11px;
}

/* ADDED FOR SUMMARY PAGE DESIGN */

.cal-chart-container .arc_container_wrapper{
	margin-left:0px;
	width: 260px;
	height: 444px;
}
.cal-chart-container  .bx-wrapper{
	max-width:260px !important;
}
.cal-chart-container .arc_container_wrapper .arc_left .branches{
	width: 260px !important;
}
.cal-chart-container .bx-wrapper .bx-controls-direction a{
	margin-left: -12px;
	left:50%;
	z-index: 1;
}
.product-rec-container .arc_container_wrapper .bx-viewport{
	min-height: 347px !important;
}
.cal-chart-container .bx-viewport{
	height: 400px !important;
	margin-bottom: 45px;
}
.cal-chart-container .bx-wrapper{
	top: 30px;
}
.cal-chart-container .bx-wrapper .bx-prev{
	bottom: -35px;
}
.cal-chart-container .arc_container_wrapper .arc_left{
	overflow:visible;
}

.icheckbox.greyTick {
background-image: url(../img/check_a.png);
height: 30px;
width: 30px;
background-size: 100% 100%;
}
.icheckbox.greyTick.checked {
background-image: url(../img/check.png);
background-position: 0;
}
.fna_listing_page_wrapper .statusWidth{
width:120px;
}
#FNAList td:nth-child(2){
text-align: center !important;
}
#mobile_touch_device .fna_listing_page_wrapper .btn_adv_filter:hover,
 #mobile_touch_device .fna_listing_page_wrapper .btn_adv_filter:focus,
 #mobile_touch_device .fna_listing_page_wrapper .btn_adv_filter:active,
 #mobile_touch_device .fna_listing_page_wrapper .btn_adv_filter.active,
 #mobile_touch_device .fna_listing_page_wrapper .btn_adv_filter.disabled,
 #mobile_touch_device .fna_listing_page_wrapper .btn_adv_filter[disabled]{
color: #ffffff !important;
background-color: #c32a24;
background-image: none;
border-bottom: none;
 }
 .backgroundColor{
 background-color:#EEE9E9 !important;
 }
 .span6.dividerLine{
   border-right: 2px solid #ccc;
 }
 .greyText{
 color:#808183 !important;
 }
 .dl-horizontal .span5{
 margin-left:0;
 }
 .margin-top0{
 margin-top:0;
 }
 dl.dl-horizontal {
  font-size: 14px;
}
.margin-top40{
margin-top:40px !important;
}
.fontWeight{
font-weight:500;
}
 #mobile_touch_device  .fna_listing_page_wrapper .btn:hover .fa-trash-o,
#mobile_touch_device .fna_listing_page_wrapper .btn:hover .fa-undo{
color: #c32a24 !important;
}
 #mobile_touch_device .fna_listing_page_wrapper .btn:hover .fa-filter{
 color: #ffffff !important;
 }
 .fna_listing_page_wrapper .adv-filter {
background-color: inherit;
padding-top: 20px;
margin-top: 20px;
}
.fna_listing_page_wrapper .fa-filter{
 color:white;
}
.fna_listing_page_wrapper .filter_txt {
color: white;
font-weight: bold;
}
.fna_listing_page_wrapper .adv-filter .container {
margin-left: 0px;
margin-right: 0px;
}
.fna_listing_page_wrapper .fna_button{
background: inherit;
color: #C21B17;
font-size: 24px;
padding: 0;
text-align: center;
padding-top: 6px;
}
.myfulldetails  .select-arrow{
margin-bottom:10px;
}
.myfulldetails  .empty-element {
height: 34px;
}
.circular_option_container .col-sm-8:before {
border-left: 2px solid #ccc;
content: "";
position: absolute;
left: -10px;
height: 108%;
top: 15px;
}
.fna_report_wrapper #line_chart0 .jqplot-yaxis-label,
.fna_report_wrapper #line_chart1 .jqplot-yaxis-label,
.fna_report_wrapper #line_chart2 .jqplot-yaxis-label,
.fna_report_wrapper #line_chart3 .jqplot-yaxis-label,
.fna_report_wrapper #line_chart4 .jqplot-yaxis-label{
top: -80px !important;
left: 80px !important;
}
.fna_report_wrapper  .thumbnail > img {
width: 150px;
height: 190px;
}
#EducationInfoMaps {
z-index: 9995;
width: 95% !important;
margin-left: -47.5% !important;
}
.policy_header.activeText{
/* color: #c32a24 !important; */
text-decoration:underline;
}
.imageNone{
	display:none;
}
.imageBorder{
	border: 2px solid #ccc;
	height: 120px;
	margin-top: 20px;
}
@media only screen and (max-width: 1024px) {
	.cal-chart-container .arc_container_wrapper{
		width: 200px;
	}
	.cal-chart-container .bx-wrapper{
		max-width: 200px !important;
	}
	.cal-chart-container .arc_container_wrapper .arc_left .branches{
		width: 200px !important;
	}
	
    .ipad button.carousel-control{
        padding:0px;
    }
    .custom_fna_modal .right {
        left: auto;
        right:0px;
    }
    .custom_fna_modal .left {
        left: -3px;
    }
    
    .fna-introduction .custom_fna_modal .carousel-inner .item, .product-info-modal.custom_fna_modal .carousel-inner .item{
        padding:0px 35px;
    }
   .custom_fna_modal .fa-angle-left,.custom_fna_modal .fa-angle-right{
      /*  color: #bebaba;*/
    }
    .custom_fna_modal {
        width: 90% !important;
        margin-left: -45% !important;
        height:90% !important;
        top:5% !important;
    }
	.fna-introduction .modal.custom_fna_modal {
	width: 90% !important;
	margin-left: -45% !important;
	height: 90% !important;
	top: 5% !important;
	}
	.fna-introduction .carousel-inner {
	top: 0;
	}
    .custom_fna_modal .carousel-page-content {
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: 50%;
    }
	.calc-container .arc_container_wrapper .arc_left.goalLength .branches{
	margin: 40px 12px;
	}
	.calc-container .arc_container_wrapper .arc_left.goalLength .branches.long .individual_option{
	width: 95px;
	}
	.cp_draggable_section.cp_count_6 .myself {
	width: 75px !important;
	height: 75px !important;
	}
	.cp_draggable_section.cp_count_6 .dependent {
	width: 75px !important;
	height: 75px !important;
	}
	.choose-parties-page .cp_draggable_section.cp_count_6 .myself, .cp_draggable_section.cp_count_6 .dependent {
	margin: 10px 5px !important;
	}

}
@media only screen and (max-width: 962px) {
	.cal-chart-container .arc_container_wrapper{
		width: 185px;
	}
	.cal-chart-container .bx-wrapper{
		max-width: 185px !important;
	}
	/*FNA Mobile Changes by LE Team Start-fnaSummary*/
	.cal-chart-container .arc_container_wrapper .arc_left .branches{
		width: 100px !important;
	}
	/*FNA Mobile Changes by LE Team End*/
	.calc-container .arc_container_wrapper .arc_left.goalLength .branches{
		margin: 40px 9px;
	}
}
/* ADDED FOR SUMMARY PAGE DESIGN */
/*FNA Mobile Changes by LE Team Start*/

@media only screen and (max-width: 480px) {
    .cal-chart-container .bx-wrapper{
		max-width: 337px !important;
        margin:5%;
	}
    .cal-chart-container .bx-viewport{
        height: 150px !important;
        background-color: #eee9e9;
    }
    #RecomendedProducts .arc_container_wrapper {
		height: 150px !important;
	}
    #RecomendedProducts .arc_container_wrapper .bx-viewport {
        min-height: 100px !important;
        margin-left: 50px;
    }
    .calcProceed button{
    	font-family: 'DBHelvethaicaRegular';
    	font-size:19px;
    }

    .custom_fna_modal {
        top:30% !important;
    }
}
/*FNA Mobile Changes by LE Team End*/

@media only screen and (max-height: 603px) {
	.fna-progressbar .btnNext_container .fa-angle-right, 
	.fna-progressbar .btnPrevious_container .fa-angle-left {
		margin: 0 5px;
	}
	.calc_wrapper .calculator .lightblue_bg_wrapper .calculator_widget_wrapper {
		height: 78%;
	}
	.calc_wrapper .calculator .lightblue_bg_wrapper .calculator_widget_wrapper.completed {
		height: 66%;
	}
	.fna-introduction .fna-intro-item {
		margin-bottom: 1%;
		height: 210px;
	}
	.calc-container .pos-relative .proceed-btn-cntr {
		position: relative;
		bottom: 0px;
	}
	#FNASummaryReport {
		height: 290px;
	}
	.customer-profile-cntr .dependent-heading {
		width: 130px;
		word-break: break-word;
		text-align: center;
	}
	.fna-outercontainer.calc-container {
		min-height: 342px;
	}
	.fnaCalcOuter {
		min-height: 560px;
	}
	.calc-container.pos-relative .proceed-btn-cntr {
		position: relative;
	}
	.calc-container .arc_container_wrapper .arc_left .branches {
		margin: 10px 10px;
	}
	.calc-container .selected-goals-header {
		margin-top: 5px;
		margin-bottom: 0;
	}
	.fna_report_container {
		min-height: 340px !important;
	}
	.product-rec-container .arc_container_wrapper {
		height: 330px !important;
	}
	
	.dependent-list .myself {
		height: 70px;
		width: 70px;
		top: 7px;
	}
	.dependent-list .nonmember {
		height: 60px;
		width: 60px;
	}
	.productRecommendationHeading {
		max-width: 150px;
	}
	.proceed-btn-cntr, .fna-introduction .btnProceed_wrapper {
		padding: 15px 0px;
	}
	.dependent-list {
		padding-bottom: 15px;
	}
	.arc_container_wrapper .arc_left .branches .individual_option .option_container {
		height: 67px;
		width: 67px;
	}
	#fnaSummaryGraph .illustrate_graph_container {
		top: -10px;
		min-height: 360px;
		}
	.cal-chart-container .graph_wrapper .graph_content {
		min-height: 340px;
	}
	#mobile_touch_device .cp_droppable_section
	{
		min-height: 200px;
	}

	.cp_droppable_section .cp_additional_insured_section #addnlInsuredLst li {
		/*display: inline-block;
		margin: 0 6% 5px 6%;
		width: 70px;
		height: 70px;*/
		display: inline-block;
		margin: 0 10% 5px 10%;
		width: 50px;
		height: 50px;
	}
	#mobile_touch_device #benefLst li.cpLstItem {
		height: 75px !important;
		height: 50px !important;
		width: 50px !important;
	}
	.cp_draggable_section .myself {
		width: 50px;
		height: 50px;
	}
	.cp_droppable_section .cp_proposer_section #proposedLst,
	.cp_droppable_section .cp_insured_section #insuredLst {
		width: 50px;
		height: 50px;
	}
	.cal-chart-container .graph_content .graph-description span{
	bottom:-20px;
	}
	.cal-chart-container .carousel-indicators {
		bottom: -20px;
	}

}

@media only screen and (max-height: 570px){
#mobile_touch_device .cp_draggable_section .myself {
	width: 75px;
	height: 75px;
	}
	#mobile_touch_device .choose-parties-page .cp_droppable_section .cp_additional_insured_section {
		min-height: 200px;
	}

}
@media (max-width: 1200px) {
	.fna-progressbar .solution-selector li {
		width:18%;
		list-style-type:none;
	}
	.fna-progressbar .selector-icon li:nth-child(4), .fna-progressbar .selector-text li:nth-child(4){
		width:26%;
	}
	.fna-progressbar .selector-icon li:nth-child(3), .fna-progressbar .selector-text li:nth-child(3){
		width:20%;
	}
	.set-goal-cntr .setpreference_drag_container .preference_holder .container_gl .goals:nth-child(2) {
		width: 20%;
		margin: 0;
	}
}
@media (max-width: 1024px) {
	.fna-outercontainer{
		min-height:580px;
	}
	.set-goal-cntr.fna-outercontainer{
		min-height:605px;
	}
	/*.arc_container_wrapper .arc_left .branches .individual_option {
		width: 90px;
	}
	*/
	.calc-container .arc_container_wrapper .arc_left .branches .individual_option,
	.calc-container .arc_container_wrapper .arc_left .branches .individual_option .goal-details {
		width: 100px;
	}
	.calc-container .arc_container_wrapper .arc_left .branches.long .individual_option,
	.calc-container .arc_container_wrapper .arc_left .branches.long .individual_option .goal-details {
		width: 100px;
	}
	/*.calc-container .arc_container_wrapper .arc_left .branches 
	{
		margin: 40px 15px;
	}*/
	.added-members .owl-item{
		width:121px !important;
		margin-left:0px;
	}
	.added-members .owl-item:first-child{
		width: 121px !important;
	}
	.fna-introduction .fna-intro-item {
		margin-top: 10%;
		margin-bottom: 7%;
	}
	#mobile_touch_device #benefLst li {
		height:80px !important;
		width: 80px;
		margin-left: 5%;
	}
	.fna_report_wrapper .vert-align-col {
		font-size: 0.9em;
		}
	.fna_report_container {
		font-size: 22px;
		}
	.fna_report_container .header-text{
		font-size: 1.45em;
		}
		.fna_report_container  .name-header {
			font-size: 1.55em;
		}
		.fna_report_container .prepared-by-text {
			font-size: 1.15em;
		}
		.fna_report_container .darkRedLText {
			font-size: 1.2em; 
		}
		ol.rec-product-list {
			font-size: .95em;
		}
		.fna_report_wrapper .vert-align-col {
			font-size: 0.9em;
		}
		.hasDivision .divisionLine:first-child.col-sm-6::after{
			right:15px;
		}
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), not all, not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx){
	.scrapButton{
		background-image: url('../img/icon/delete_white@2x.png');
		background-size: 48px 48px;
	}
	.priorityholder .slidinglist .priorityorder{
		background-image:none;
		background-color: #eee9e9;
	}
	.priorityholder .slidinglist .priorityset.delete-selection {
		background: #d46c6b url('../img/icon/delete_white@2x.png');
	}
	.calc-container  .infoicon {
		background-size: 100% 100%;
	}
}
@media (max-width: 962px) {
	.fna-progressbar .solution-selector {
			width:79%;
	}
	.fna-progressbar .btnPrevious_container,.fna-progressbar .btnNext_container {
			padding: 10px 0;
	}


}

/* Changes made by the le team start */
.fna-spacing-border
{
	margin-bottom: 4px !important;
}

/* Changes made by the le team start */


/*-----------Desktop Version---------------------*/

.datepicker-dropdown {
    background-color: white;
}
::-webkit-datetime-edit-text, /* this makes the slashes in dd/mm/yyyy hide */
::-webkit-datetime-edit-day-field[aria-valuetext=blank],
::-webkit-datetime-edit-month-field[aria-valuetext=blank],
::-webkit-datetime-edit-year-field[aria-valuetext=blank] {
 display:none;
}
.nav-desktop li a,.nav-tabs{
    cursor: pointer;
}
.container_tlr_fluid {
background-color: transparent;
}
/* .illustration-listing-page .fht-tbody .table{
margin-top:-73px !important;
} */
/*-----------Desktop Version---------------------*/