#hierarchy.hierarchy .fixed-col-name{
    font-size: 10px;
}
.minWidth80{
	min-width:80px;
}
#hierarchy.hierarchy .agent_details_part {
	margin: 102px auto;
	max-width: 935px;
	padding: 3px 17px 12px;
}
#hierarchy.hierarchy .agent_details_part_wrap {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1500;
}
.vt_VT #hierarchy.hierarchy .agent_details_table thead tr th.fixed-title.fixed-height-adjust {
    height: 144px;
    line-height: 120px;
}
#hierarchy.hierarchy .item.never-show {
	display:none !important;
}
#hierarchy.hierarchy .agent_details_table tr th {
  height: 50px;
  text-align: left;
}
#hierarchy.hierarchy .agent_details_part .lead_management {
  padding: 5px 0;
}

#hierarchy.hierarchy .agent_details_part .close-btn {
  color: #c32a24;
  padding: 4px 10px 2px;
  font-size: 18px;
  line-height: 1;
  cursor: pointer;
}
#hierarchy.hierarchy .lead_management .lead_management_heading {
  color: #c32a24;
  font-weight: bold;
  font-size: 15px;
  width: 86%;
	display: block;
	float: left;
}
#hierarchy.hierarchy .agent_details_table tbody {
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  width: 1040px;
  height: auto !important;
}
#hierarchy.hierarchy .dashboard-box {
  background-color: #FBF3F3;
  color: #c32a24;
  margin-bottom: 10px;
  margin-top: 0px;
  overflow: hidden;
  padding: 5px 10px;
  position: relative;
  cursor:pointer;
}
#hierarchy.hierarchy .dashboard {
  
	background: rgba(255,255,255,0.9);
  min-height: 125px;
  margin: 8px 8px;
  overflow: hidden;
  width:100%;
  cursor:pointer;
}
#hierarchy.hierarchy .dashboard.hidden-phone {
	margin-bottom:20px;
}
#hierarchy.hierarchy .agent_details_part {
    margin: 50px auto;
    max-width: 995px;
    padding: 3px 17px 12px;
}
#hierarchy.hierarchy .two_col_span6,
#hierarchy.hierarchy .two-col-span6 {
  float: left !important;
  padding: 10px 0px;
  width: 48% !important;
  margin: 0;
  color:#333333;
}
#hierarchy.hierarchy .row-fluid [class*="two_col_span6"]:first-child,
#hierarchy.hierarchy .row-fluid [class*="two-col-span6"]:first-child {
  margin-left: 0 !important;
}
@media screen and (max-width:799px){

.vt_VT #hierarchy.hierarchy .agent_details_table thead tr th.fixed-title.fixed-height-adjust {
    height: 96px;
    line-height: 96px;
}

#hierarchy.hierarchy .agent_details_part .lead_management {
  padding: 5px 0px 5px 5px;
}

#hierarchy.hierarchy .agent_details_part .close-btn {
  padding: 2px 15px 5px 15px;
}
#hierarchy.hierarchy .lead_subheader.visible-phone{
	display: table-cell !important;
}
#hierarchy.hierarchy .dashboard-box{
	padding: 15px 10px;
	font-size: 13px;
    font-weight: bold;
}
#hierarchy.hierarchy .dashboard{
  width:96%;
  margin: 2%;
}
#hierarchy.hierarchy .agent_details_part {
	margin: 0px;
	max-width: 935px;
	padding: 10px 0px 12px;
}
#hierarchy.hierarchy .agent_details_part_wrap{
  padding: 0px;
  bottom:0px;
}

#hierarchy.hierarchy .lead_management .lead_management_heading{
	font-size:13px;
}
#hierarchy.hierarchy body,
#hierarchy.hierarchy .home_image_banner .container {
  padding-right: 0px;
  padding-left: 0px;
}
#hierarchy.hierarchy .datetime .placeholder-overlay {
  display: none !important;
}
#hierarchy.hierarchy #popupMeetingHistory .accordion-heading {
  background-color: #dedede;
}
#hierarchy.hierarchy #popupMeetingHistory .accordion-inner {
  padding: 0px;
}
#hierarchy.hierarchy #popupMeetingHistory .spacing-half {
  height: 0px;
}
#hierarchy.hierarchy #popupMeetingHistory .black-text {
  color: #c32a24;
  font-weight: bold;
  font-family: Arial !important;
  text-transform: uppercase;
}
#hierarchy.hierarchy .accordion-toggle .fa-angle-up {
  font-size: 1.4em !important;
  font-weight: bold !important;
}
#hierarchy.hierarchy .accordion-toggle .fa-angle-down {
  font-size: 1.4em !important;
  font-weight: bold !important;
}
#hierarchy.hierarchy #meetingHistorySection tr {
  display: table;
}
#hierarchy.hierarchy #meetingHistorySection td {
  font-size: .85em;
  line-height: 18px;
}
#hierarchy.hierarchy #meetingHistorySection th {
  line-height: 18px;
}
#hierarchy.hierarchy .alert-box.warning .number {
  -moz-box-shadow: 0px 0px 1px #000;
  -webkit-box-shadow: 0px 0px 1px #000;
  box-shadow: 0px 0px 1px #000;
}
#hierarchy.hierarchy .alert-box-holder {
  right: 20px;
}
#hierarchy.hierarchy .alert-box.warning0 {
  height: 35px;
  width: 35px;
  margin: 0;
}
#hierarchy.hierarchy .alert-box .error-status {
  height: 35px;
  width: 35px;
  margin: 0;
}
#hierarchy.hierarchy .syncPopup .subheading {
  margin-top: 30px;
}
#hierarchy.hierarchy .syncPopup .modal-header-title {
  display: inline-block !important;
}
#hierarchy.hierarchy .okSyncBtn {
  width: 30%;
  margin: 0 auto !important;
}
#hierarchy.hierarchy .font-med {
  font-size: 14px;
}
#hierarchy.hierarchy .text-red {
  color: #c32a24 !important;
}
#hierarchy.hierarchy #mobile_touch_device td {
  /*margin: 0 20px;*/

}
#hierarchy.hierarchy #mobile_touch_device tr {
  border: none;
  height: auto;
  line-height: 38px;
}
#hierarchy.hierarchy .navbar.login .navbar-inner {
  min-height: 45px;
}
#hierarchy.hierarchy .navbar-small .navbar .navbar-inner {
  min-height: 45px;
}
#hierarchy.hierarchy .mbl-mrg-top0 {
  margin-top: 0px;
}
#hierarchy.hierarchy .mrg-rgt15 {
  margin-right: 15px !important;
}
#hierarchy.hierarchy .width15 {
  width: 15%;
}
#hierarchy.hierarchy .filter-label + .select-arrow {
  position: relative;
}
#hierarchy.hierarchy .overflow-hidden {
  overflow: hidden !important;
}
#hierarchy.hierarchy #mobile_touch_device .visible-tablet {
  display: none !important;
}
#hierarchy.hierarchy .padding0 {
  padding: 0px !important;
}
#hierarchy.hierarchy .padding8 {
  padding: 8px !important;
}
#hierarchy.hierarchy .mbl-mrg-top0 {
  margin-top: 0px !important;
}
#hierarchy.hierarchy .navbar .brand {
  float: none;
  margin: 0 40px;
}
#hierarchy.hierarchy .navbar.login .brand {
  padding: 20px 20px 14px 20px;
}
#hierarchy.hierarchy .navbar.login .navbar-inner {
  min-height: 45px;
}
#hierarchy.hierarchy .navbar-small .navbar .navbar-inner {
  min-height: 45px;
}
#hierarchy.hierarchy .image-login .login {
  margin-top: -93px;
  margin-left: -173px;
  width: 350px;
  height: auto;
}
#hierarchy.hierarchy .image-login .login-th {
  margin-top: -93px;
  margin-left: -173px;
  width: 350px;
  height: auto;
}
#hierarchy.hierarchy .welcome {
  margin: 16px 0;
  font-size: 26px;
  /*font-family: Helvetica Neue;*/
}
#hierarchy.hierarchy .forgotPwd {
  padding-top: 5px;
}
#hierarchy.hierarchy .large {
  font-size: 100% !important;
  font-family: Arial;
}
#hierarchy.hierarchy .image-login .input-area .fa-2x {
  top: 14px;
  font-size: 1em !important;
}
#hierarchy.hierarchy .image-login {
  margin-top: 58px;
  /*margin-bottom: 30px;*/
  margin-left: 0px;
  top: 0px;
  overflow: scroll;
  background-image: url('../img/banner-login-phone.jpg') !important;
}
#hierarchy.hierarchy .image-login table {
  height: 40px;
  text-align: center;
}
#hierarchy.hierarchy .image-login table td {
  padding: 0px;
}
#hierarchy.hierarchy .image-login table td.tag {
  height: 40px;
  border-left: 1px solid #b6afb0 !important;
}
#hierarchy.hierarchy .image-login form {
  padding-top: 0px;
}
#hierarchy.hierarchy .error-blk {
  line-height: 17px;
  min-height: 0px;
}
#hierarchy.hierarchy .footer {
  padding: 0px 0px;
  margin-left: 0px;
  margin-right: 0px;
  height: 30px;
}
#hierarchy.hierarchy .footer p {
  line-height: 30px;
}
#hierarchy.hierarchy .userFaContainer {
  float: right;
  margin-top: 10px;
  padding: 7px 10px;
  margin-right: 2px;
}
#hierarchy.hierarchy .userOptions {
  background: #c32a24;
  position: absolute;
  right: 0px;
  top: 57px;
  list-style: none;
}
#hierarchy.hierarchy .userOptions li {
  text-align: center;
  margin: 0 8px;
}
#hierarchy.hierarchy .userOptions li:nth-child(2) a {
  border-top: solid 1px #ac1e1a;
  border-bottom: solid 1px #ac1e1a;
}
#hierarchy.hierarchy .userOptions > li > a {
  display: block;
  padding: 12px 4px;
}
#hierarchy.hierarchy .theme_switcher_popup {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  width: 93%;
  left: 3.5%;
  top: 105px;
}
#hierarchy.hierarchy .theme_switcher_popup .subheading {
  margin-top: 0px;
  background: #EEE9E9;
}
#hierarchy.hierarchy .closebtn_popup {
  padding: 3px 7px;
  margin-right: 3px;
  cursor: pointer;
}
#hierarchy.hierarchy .closebtn_popup:active {
  color: #98211C;
}
#hierarchy.hierarchy .radioContainer {
  display: table;
  padding-top: 28px;
  width: 80%;
  margin-left: 10%;
}
#hierarchy.hierarchy .radioContainer label {
  width: 40%;
}
#hierarchy.hierarchy .icheckbox input {
  width: 18px;
  height: 18px;
  left: 0px;
}
#hierarchy.hierarchy .radioContainer label .iradio.radio-focus-valid {
  margin-bottom: 0;
  min-height: 18px;
}
#hierarchy.hierarchy .languageButtons {
  padding-bottom: 27px;
}
#hierarchy.hierarchy .closeMargin {
  margin-right: 4px;
}
#hierarchy.hierarchy .saveBtnPopup {
  margin-left: 15px;
  color: white;
  background: #c32a24;
  width: 100px !important;
}
#hierarchy.hierarchy .saveBtnPopup:active {
  background: #98211C;
}
#hierarchy.hierarchy .cancelBtnPopup {
  color: #c32a24;
  background: white;
  width: 100px !important;
}
#hierarchy.hierarchy .cancelBtnPopup:active {
  color: white;
  background: #c32a24;
}
#hierarchy.hierarchy .color-black {
  color: black;
}
#hierarchy.hierarchy .color-theme {
  color: #c32a24;
}
#hierarchy.hierarchy .bgcolor-slate {
  background-color: #EEE9E9;
}
#hierarchy.hierarchy input[type='radio'].mbl-cust-radio {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  border: 1px solid darkgray;
  border-radius: 50%;
  outline: none;
  box-shadow: 0 0 5px 0px gray inset;
}
#hierarchy.hierarchy input[type='radio'].mbl-cust-radio:before {
  content: '';
  display: block;
  width: 40%;
  height: 40%;
  margin: 30% auto;
  border-radius: 50%;
}
#hierarchy.hierarchy input[type='radio'].mbl-cust-radio.checked:before {
  background-color: #c32a24;
}
#hierarchy.hierarchy .langContainer {
  margin: 0 10px 20px;
  background-color: white;
}
#hierarchy.hierarchy .accordion-header .accordion-toggle span {
  color: #333;
}
#hierarchy.hierarchy .rating-section .accordion-header .accordion-toggle span.red-text {
  color: red;
}
#hierarchy.hierarchy .rating-section .rating {
  text-align: center;
}
#hierarchy.hierarchy .rating .fa-star-o {
  font-size: 35px;
  margin-right: 5px;
}
#hierarchy.hierarchy .rating .selected.fa-star-o {
  font-size: 35px;
  margin-right: 5px;
  color: #FFD203;
}
#hierarchy.hierarchy .tab-content .btn {
  text-transform: uppercase;
  width: 100px;
}
#hierarchy.hierarchy button#feedbackCancelBtn {
  background: white;
  color: #c32a24;
  margin-right: 16px;
}
#hierarchy.hierarchy .dashMainTitleContainer {
  /* background: #F4F4F4; */

  border-bottom: 1px solid #eee9e9;
}
#hierarchy.hierarchy .dashMainTitle {
  color: #33342f;
  padding: 10px 13px;
  display: inline-block;
  margin: 5px 0px;
  font-family: Arial, sans-serif;
  font-size: 19px;
  font-weight: bold;
}

#hierarchy.hierarchy .leadStatus {
  display: inline;
}
#hierarchy.hierarchy .main-container {
  margin-top: 20px;
}
#hierarchy.hierarchy .dashHeading {
  border-bottom: 1px solid #eee9e9;
  width: 100%;
}
#hierarchy.hierarchy .dashTitles {
  color: #c21b17;
  padding: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
}
#hierarchy.hierarchy .dashboard .leadsContainer {
  overflow: hidden;
  padding: 8px 0;
}
#hierarchy.hierarchy .leadsContainer {
  width: 100%;
  background: white;
  /* height: 100px; */

}
#hierarchy.hierarchy .circularDiv {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: #FFF;
  line-height: 70px;
  display: inline-block;
}
#hierarchy.hierarchy .redBorder {
  border: 5px solid #ef654f;
  margin: 0 auto;
}
#hierarchy.hierarchy .orangeBorder {
  border: 5px solid #efbea8;
  /*float:left;
     margin-left: 10px;*/

}
#hierarchy.hierarchy .grayBorder {
  border: 5px solid #d8d9da;
  /*float: right;
     margin-right: 10px;*/

}
#hierarchy.hierarchy .greenBorder {
  border: 5px solid #a1b675;
  /*float:left;
     margin-left:65px;*/

}
#hierarchy.hierarchy .yellowBorder {
  border: 5px solid #dbc07c;
  /*float:right;
     margin-right:65px;*/

}
#hierarchy.hierarchy .dashblock {
  /*border: 1px solid red; */

  /* text-align: center; */

  /* vertical-align: middle; */

  /* background: yellow; */

  /* margin-top: 20px; */

}
#hierarchy.hierarchy .dashboard .leadsContainer .dashblock {
  width: 33.33%;
  float: left;
}
#hierarchy.hierarchy .dashboard .leadsContainer .dashBlockForTwo {
  width: 50%;
  float: left;
}
#hierarchy.hierarchy .dashData {
  /* margin-top: 20px; */

  font-size: 30px;
  /* vertical-align: middle; */

  /* display: table-cell; */

}
#hierarchy.hierarchy .dashValue {
  margin-bottom: 0px;
  font-family: "Helvetica Neue";
  font-weight: normal;
  font-size: 16px;
  color: #33342f;
}
#hierarchy.hierarchy h3.subheading {
  font-size: 16px;
}
#hierarchy.hierarchy .add_red {
  padding: 8px 10px;
  width: 24px;
  height: 24px;
}
#hierarchy.hierarchy .dashMainTitleContainer .add_red {
  padding: 15px 10px;
  width: 24px;
  height: 24px;
}
#hierarchy.hierarchy .filter_red {
  padding: 8px 10px;
  width: 24px;
  height: 24px;
}
#hierarchy.hierarchy .dashboardTable {
  height: 115px;
  margin: 8px 8px;
  background: #FFF;
}
#hierarchy.hierarchy .endtable2 {
  width: 100%;
}
#hierarchy.hierarchy .YTDSection {
  background-color: #FBF3F3;
  float: left;
  width: 48%;
  height: 60px;
  position: relative;
  margin: 10px 1%;
}
#hierarchy.hierarchy .YTDSection p.value {
  color: #779141;
  font-size: 16px;
  font-family: Arial, sans-serif;
  margin-bottom: 0;
  padding-top: 10px;
  position: absolute;
  text-align: center;
  width: 100%;
}
#hierarchy.hierarchy .YTDSection p.title {
  color: #b4aaaa;
  font-size: 14px;
  font-family: "Helvetica Neue";
  font-weight: normal;
  margin-bottom: 0;
  padding-top: 30px;
  position: absolute;
  text-align: center;
  width: 100%;
}

#hierarchy.hierarchy #mobile_touch_device .visible-phone-table {
  display: table-cell !important;
}
#hierarchy.hierarchy .newLine {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}
#hierarchy.hierarchy .two-line {
  min-height: 48px;
}
#hierarchy.hierarchy label .iradio {
  display: inline-block;
  float: none;
  vertical-align: inherit;
  min-height: inherit;
  background-image: url(../img/red1@2x.png);
  background-position: -160px 0;
  background-size: 200px 20px;
  margin: 0;
}
#hierarchy.hierarchy label .iradio.checked {
  background-position: -140px 0;
}
#hierarchy.hierarchy input[type="radio"] {
  outline: none!important;
}
#hierarchy.hierarchy .visible-phone-table {
  display: table-cell !important;
}
#hierarchy.hierarchy .width69 {
  min-width: 69px;
}
#hierarchy.hierarchy #mobile_touch_device .brand.visible-tablet,
#hierarchy.hierarchy #mobile_touch_device .hidden-phone {
  display: none!important;
}
#hierarchy.hierarchy .icn-wrapper.header-style {
  margin: 5px 10px 0px;
}
#hierarchy.hierarchy .icn-wrapper.header-style .icn {
  border: 1px solid;
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  vertical-align: top;
  width: 30px;
}
#hierarchy.hierarchy .icn-wrapper.header-style .fa-filter {
  margin-right: 0;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #c32a24;
}
#hierarchy.hierarchy #mobile_touch_device .tabbable #popupTabs,
#hierarchy.hierarchy #mobile_touch_device .tabbable #popupContent {
  overflow: hidden;
}
#hierarchy.hierarchy #mobile_touch_device .tabbable .nav-tabs {
  border-bottom: 0;
  display: table;
  width: 100%;
}
#hierarchy.hierarchy #mobile_touch_device .nav-tabs > li {
  background: #ebddde;
  display: table-cell;
  float: none;
}
#hierarchy.hierarchy #mobile_touch_device .nav-tabs > li.active {
  background: #FFF;
}
#hierarchy.hierarchy #mobile_touch_device .nav-tabs > li > a {
  background: transparent;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#hierarchy.hierarchy #mobile_touch_device #popupTabs .horizontalTab.nav-tabs > .active > a,
#hierarchy.hierarchy #mobile_touch_device #popupTabs .horizontalTab.nav-tabs > .active > a:hover,
#hierarchy.hierarchy #mobile_touch_device #popupTabs .horizontalTab.nav-tabs > .active > a:focus {
  border: 1px solid transparent;
  background: transparent;
}
#hierarchy.hierarchy #mobile_touch_device tr {
  height: auto;
  line-height: inherit;
}
#hierarchy.hierarchy .image-banner.container {
  background: #F4F4F4;
  border-bottom: 1px solid #b78789;
}
#hierarchy.hierarchy .title-style {
  color: black;
  font-size: 20px;
  padding: 15px 10px 10px 10px;
  font-family: Arial, sans-serif;
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 2px;
}
#hierarchy.hierarchy body,
#hierarchy.hierarchy .home_image_banner .container {
  padding-left: 0px;
  padding-right: 0px;
}
#hierarchy.hierarchy .image-banner {
  margin-bottom: 0px;
}
#hierarchy.hierarchy .nav-tabs > li,
#hierarchy.hierarchy .nav-pills > li {
  /*float: left;*/

  width: 50%;
}
#hierarchy.hierarchy .nav-tabs {
  border-bottom: 0px;
  margin-bottom: 0px;
}
#hierarchy.hierarchy .nav-tabs li a {
  padding: 12px 0px;
}
#hierarchy.hierarchy .nav-tabs.two li {
  width: 50%;
  text-align: center;
}
#hierarchy.hierarchy .nav-tabs.three li {
  width: 33.33%;
  text-align: center;
}
#hierarchy.hierarchy .nav-tabs.four li {
  width: 25%;
  text-align: center;
}
#hierarchy.hierarchy .segments .nav-tabs > li {
  border: none;
}
#hierarchy.hierarchy .segments .nav-tabs > li > a:hover,
#hierarchy.hierarchy .segments .nav-tabs > li > a {
  margin: 0;
  border: none;
  border: 0;
}
#hierarchy.hierarchy .segments .nav-tabs > li > a {
  background: #EBDDDE;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: Arial, sans-serif;
  font-size: 15px;
}
#hierarchy.hierarchy .segments .nav-tabs > li > a:hover,
#hierarchy.hierarchy .segments .nav-tabs > li.active > a {
  background: white;
}
#hierarchy.hierarchy .image-banner {
  margin: 0;
}
#hierarchy.hierarchy .margin-bottom {
  margin-bottom: 0;
}
#hierarchy.hierarchy div#popupContent {
  clear: both;
}
#hierarchy.hierarchy .cus-pop-style {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 1035;
}
#hierarchy.hierarchy .adv-filter {
  height: 85vh;
  display: none;
}
#hierarchy.hierarchy .adv-filter.show {
  display: block;
}
#hierarchy.hierarchy .adv-filter,
#hierarchy.hierarchy .cus-pop-style > .container {
  box-shadow: 0 0 0 250px rgba(0, 0, 0, 0.5);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  left: 2.5%;
  padding: 0;
  position: fixed;
  top: 10%;
  width: 95% !important;
  z-index: 1030;
  background: #EEE9E9;
}
#hierarchy.hierarchy .cus-pop-style > .container {
  box-shadow: none;
}
#hierarchy.hierarchy .adv-filter .container {
  padding: 35px 10px 10px;
}
#hierarchy.hierarchy .adv-filter .filter-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 0px 5px 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 25px;
}
#hierarchy.hierarchy .adv-filter #filterSection {
  background: #FFF;
  padding: 0 10px 10px;
  overflow: auto;
  height: 75vh;
  padding-top: 12px;
}
#hierarchy.hierarchy #filterSection p.filter-label {
  margin-top: 5px;
  margin-bottom: 0;
}
#hierarchy.hierarchy .adv-filter .filter-title .fa {
  font-size: 20px;
  line-height: 25px;
}
#hierarchy.hierarchy .adv-filter .btn {
  margin: 0;
}
#hierarchy.hierarchy .adv-filter .form-control,
#hierarchy.hierarchy .adv-filter .select-arrow,
#hierarchy.hierarchy .adv-filter .btn {
  margin-bottom: 0px;
}
#hierarchy.hierarchy p.filter-label {
  margin: 0;
  margin: 13px 5px 5px 0px;
  font-size: 14px;
  font-weight: 500;
}
#hierarchy.hierarchy .btn-group.filterButtons {
  display: block;
}
#hierarchy.hierarchy .btn-group.filterButtons .btn {
  display: inline-block;
}
#hierarchy.hierarchy .tab-content {
  margin: 0;
  padding: 20px 10px;
}
#hierarchy.hierarchy #referralsDetailsSection .alert-box-holder {
  z-index: 1040;
}
#hierarchy.hierarchy #referralsDetailsSection .alert-box-holder.active {
  z-index: 9997;
}
#hierarchy.hierarchy .ref-title {
  color: #333333;
  font-size: 14px;
  line-height: 14px;
  margin: 2px 0px 0px 5px;
}
#hierarchy.hierarchy .add-referral {
  height: 24px;
  margin-bottom: 5px;
  width: 24px;
  line-height: 24px;
  background-image: url(../img/icon/Add_red.png);
  background-size: 100% 100%;
}
#hierarchy.hierarchy .cus-pop-style .form-content {
  margin: 0 10px 10px;
  background: #FFF;
  padding: 10px;
}
#hierarchy.hierarchy .add-ref-leftCol .add-ref-pop-title {
  background: #EEE9E9;
  color: black;
  padding: 10px 15px;
  font-size: 14px;
  line-height: 18px;
}
#hierarchy.hierarchy .add-ref-leftCol .add-ref-pop-title i {
  color: #c32a24;
}
#hierarchy.hierarchy .add-ref-leftCol .add-ref-pop-title i:active {
  color: grey;
}
#hierarchy.hierarchy .add-ref-leftCol + div {
  overflow: hidden;
}
#hierarchy.hierarchy .filter-container {
  background: #EEE9E9;
}
#hierarchy.hierarchy .filter-title {
  font-size: 16px;
  padding: 10px;
}
#hierarchy.hierarchy #creatorDetails {
  background: #FFF;
  margin: 0px 10px 10px;
  padding: 10px;
}
#hierarchy.hierarchy input.form-control.filter-input {
  margin-left: 10px;
  width: 94%;
  font-size: 14px;
  border-color: #a1a1a1;
  height: 40px;
}
#hierarchy.hierarchy .btn-group.filterButtons .btn {
  margin: 10px 0;
  padding: 6px 20px;
  font-size: 14px;
}
#hierarchy.hierarchy .btn-group .btn + .btn {
  margin-left: 10px;
}
#hierarchy.hierarchy #mobile_touch_device #popupTabs.tabdesignOverride .nav-tabs > li {
  display: block;
  margin-bottom: -15px;
  width: auto;
}
#hierarchy.hierarchy #mobile_touch_device #popupTabs.tabdesignOverride .nav-tabs > li a {
  text-align: left;
  padding: 10px;
  font-weight: bold;
}
#hierarchy.hierarchy .stage-progress {
  background: #eee9e9;
  padding: 10px 5px 20px;
  margin-bottom: 15px;
}
#hierarchy.hierarchy .stage-progress .row-fluid {
  margin: 0;
}
#hierarchy.hierarchy .stage-progress .span4 {
  color: #a1a1a1;
  float: left;
  min-height: inherit;
  position: relative;
  text-align: center;
  width: 33.33%;
  z-index: 10;
  margin-left: 0px;
}
#hierarchy.hierarchy .stage-progress .twoStage .span4 {
  width: 50%;
}
#hierarchy.hierarchy .stage-progress .span4 .outer-circle {
  background-color: #FFF;
  border-radius: 100%;
  display: block;
  float: none;
  font-size: 11px;
  height: 20px;
  line-height: 20px;
  margin: auto;
  position: relative;
  text-align: center;
  width: 20px;
}
#hierarchy.hierarchy .stage-progress .span4 .inner-circle {
  background-color: #eee9e9;
}
#hierarchy.hierarchy .stage-progress .stage-icon .span4:before {
  background: #FFF;
  content: "";
  display: block;
  height: 4px;
  left: 0%;
  margin: 0 0 0 5px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  z-index: 0;
}
#hierarchy.hierarchy .stage-progress .stage-icon .span4:first-child:before {
  left: 50%;
}
#hierarchy.hierarchy .stage-progress .stage-icon .span4:last-child:before {
  left: -50%;
}
#hierarchy.hierarchy .stage-progress .stage-icon .span4:first-child:last-child:before {
  background: transparent;
}
#hierarchy.hierarchy .stage-progress .span4.enabled {
  color: #d27c7a;
}
#hierarchy.hierarchy .stage-progress .span4.enabled.active {
  color: #c32a24;
}
#hierarchy.hierarchy .stage-progress .span4.enabled .inner-circle {
  background-color: #d27c7a;
  color: #FFF;
}
#hierarchy.hierarchy .stage-progress .span4.enabled.active .inner-circle {
  background-color: #c32a24;
  color: #FFF;
}
#hierarchy.hierarchy .stage-progress .span4.enabled.active:after {
  content: '';
  position: absolute;
  bottom: -29px;
  left: 42%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #eee9e9;
}
#hierarchy.hierarchy .highlight .ng-invalid {
  border: 1px solid #F00;
}
#hierarchy.hierarchy .modal {
  left: 50%;
  margin-left: -45%;
  width: 90%;
}
#hierarchy.hierarchy .backBtn {
  float: left;
  padding: 16px 0px 16px 10px;
  width: 24px;
}
#hierarchy.hierarchy .backBtnContainer {
  float: left;
  height: 58px;
}
#hierarchy.hierarchy #creatorDetails input.ng-invalid.highlight {
  border-color: red;
}
#hierarchy.hierarchy .datetime .date-holder {
  margin-bottom: 0;
}
#hierarchy.hierarchy #mobile_touch_device label {
  min-height: inherit;
}
#hierarchy.hierarchy #mobile_touch_device label.filter-label {
  min-height: 20px;
  margin-bottom: 0px;
  margin-top: 10px;
}
#hierarchy.hierarchy #mobile_touch_device label.radio {
  min-height: 18px;
  margin-top: 8px;
}
#hierarchy.hierarchy #mobile_touch_device label.radio span:not(.newLine) {
  margin-top: 2px;
  display: inline-block;
}
#hierarchy.hierarchy #mobile_touch_device h2.subheading {
  font-size: 16px;
  font-weight: bold;
  padding: 0 10px;
  line-height: 1.32;
}
#hierarchy.hierarchy #mobile_touch_device #leadListTbl tbody {
  height: calc(-235vh) !important;
}
#hierarchy.hierarchy #mobile_touch_device #leadListTbl tbody.lang-change {
  height: calc(-275vh) !important;
}
#hierarchy.hierarchy #mobile_touch_device #referralsDetailsSection tbody {
  height: calc(-255vh) !important;
}
#hierarchy.hierarchy #mobile_touch_device #referralsDetailsSection tbody.lang-change {
  height: calc(-255vh) !important;
}
#hierarchy.hierarchy #mobile_touch_device select option.placeholder_option {
   visibility: hidden; 
font-family: 'DBHelvethaicaRegular' !important;
}
#hierarchy.hierarchy #leadListTbl tbody td {
  line-height: 18px;
  height: 50px;
}
#hierarchy.hierarchy #mobile_touch_device .tableBtn {
  width: 24px;
  height: 24px;
  display: inline-block;
}
#hierarchy.hierarchy .tableBtn.deleteIcon {
  background-image: url(../img/icon/delete_red_48.png);
  background-size: 100% 100%;
}
#hierarchy.hierarchy .iradio.radio-focus-valid {
  border-radius: 50%;
}
#hierarchy.hierarchy .iradio.radio-focus-invalid {
  border-radius: 50%;
}
#hierarchy.hierarchy .lead_delete {
  height: 38px;
}
#hierarchy.hierarchy .leadcommunication i1 {
  margin-top: 5px;
  float: left;
}
#hierarchy.hierarchy .popupclose {
  float: right;
  padding: 7px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 200;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  color: #c32a24;
  opacity: 1;
  margin-top: -15px;
}
#hierarchy.hierarchy .leadheader {
  padding: 10px 0px 0px 10px;
}
#hierarchy.hierarchy .leadheader span {
  font-size: 24px;
  line-height: 24px;
  margin-left: 10px;
  margin-top: 2px;
  float: left;
}
#hierarchy.hierarchy .statustable thead {
  color: white;
  font-weight: 100;
  background-color: #e1aeb0;
  height: 60px !important;
  text-align: center;
  font-size: 16px !important;
}
#hierarchy.hierarchy .statustable {
  margin-bottom: 20px;
  width: 96% !important;
  margin-left: 2%;
  font-size: 15px;
}
#hierarchy.hierarchy hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
#hierarchy.hierarchy .statustable tr {
  height: 60px !important;
  text-align: center;
  font-size: 16px !important;
}
#hierarchy.hierarchy .statustable tbody {
  background-color: white;
}
#hierarchy.hierarchy .statustable tr td {
  background-color: white;
}
#hierarchy.hierarchy .socialmedia {
  margin-top: 0px;
  height: 150px;
  background-color: #F4F4F4;
}
#hierarchy.hierarchy .socialmedia .mediaicons {
  border-top: 3px solid #E2D4D5 !important;
}
#hierarchy.hierarchy .socialmedia table {
  width: 100%;
  position: absolute;
}
#hierarchy.hierarchy .socialmedia table td.med-padding {
  padding: 10px 0px 5px;
}
#hierarchy.hierarchy .socialmedia table td.small-padding {
  padding: 2px 0px;
}
#hierarchy.hierarchy .popover-mobile {
  position: fixed;
  top: 10%;
  left: 1%;
  width: 98%;
  margin-left: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #EEE9E9;
}
#hierarchy.hierarchy .white-box {
  padding: 0px;
}
#hierarchy.hierarchy .zero-width {
  width: 0px;
  padding: 0px !important;
}
#hierarchy.hierarchy .delete-overlay-tbl {
  position: absolute;
  display: table-cell;
  width: 200px;
  height: 100%;
  background-color: #ED6763 !important;
  padding: :0;
  z-index: 1;
  top: 0px;
  z-index: 9999;
  right: 0px;
}
#hierarchy.hierarchy .delete-overlay-tbl a {
  top: 50%;
  position: relative;
  margin-top: -18px;
  display: block;
}
#hierarchy.hierarchy .slide-in {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}
@keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}
@-webkit-keyframes slide-in {
  100% {
    -webkit-transform: translateX(0%);
  }
}
#hierarchy.hierarchy .fa-trash-o:before {
  color: white;
  font-size: 30px;
}
#hierarchy.hierarchy .transparent-overlay {
  position: fixed;
  display: block;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 9990;
  margin: 0px !important;
  background-color: transparent !important;
  height: auto !important;
}
#hierarchy.hierarchy .padding-right30 {
  padding-right: 30px;
}
#hierarchy.hierarchy .padding-right60 {
  padding-right: 60px;
}
#hierarchy.hierarchy .dualInputAdd {
  float: right;
  margin-top: -33px;
  height: 25px;
  width: 25px;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#hierarchy.hierarchy .dualInputAdd.disabled-icon {
  opacity: 0.6;
}
#hierarchy.hierarchy .dualInputRemove {
  position: absolute;
  right: -28px;
  top: 2px;
}
#hierarchy.hierarchy .dualInputRemove .fa:before {
  color: red;
  font-size: 22px;
  text-align: center;
  width: 25px;
  height: 30px;
  display: block;
  line-height: 28px;
}
#hierarchy.hierarchy .dualInputCtrl {
  position: relative;
}
#hierarchy.hierarchy .dualInputCtrl,
#hierarchy.hierarchy .dualInputLabel,
#hierarchy.hierarchy .dualInputCtrl *,
#hierarchy.hierarchy .dualInputLabel * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#hierarchy.hierarchy .dualInputCtrl input,
#hierarchy.hierarchy .dualInputLabel label {
  float: left;
  margin: 0 0 5px;
  width: 50%;
}
#hierarchy.hierarchy .dualInputCtrl input {
  height: 30px;
}

}/*  End of 799 */


#hierarchy.hierarchy .modal-body {
  background-color: #FFFFFF;
  margin: 0px 2% 10px;
  width: 96%;
}
#hierarchy.hierarchy #mobile_touch_device .remarkPopup .modal-body {
  padding: 15px;
}
#hierarchy.hierarchy #mobile_touch_device .remarkPopup .msg-content {
  margin-top: 0;
}
#hierarchy.hierarchy .modal-header {
  padding: 0px 10px;
}
#hierarchy.hierarchy .remarkPopup .modal .close {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  padding: 5px 10px;
  line-height: 1;
  font-size: 2rem;
}
#hierarchy.hierarchy .popover-content-mobile {
  padding: 0px;
}
#hierarchy.hierarchy .msg-content {
  margin-top: 30px;
}
#hierarchy.hierarchy .modal-header-title {
  line-height: 40px;
  font-size: 16px;
  color: #33342f;
}
#hierarchy.hierarchy .popup-close {
  padding: 2px 10px;
  font-size: 32px;
  line-height: 32px;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  color: #c32a24;
  opacity: 1;
  margin-top: -5px;
  margin-right: -10px;
}
#hierarchy.hierarchy .transBgDropDown {
  background: none;
  opacity: 1;
}
#hierarchy.hierarchy .tab-additional-item {
  background: #FFF;
  float: none;
  margin-bottom: -10px;
  padding: 5px 15px;
  text-align: left;
}
#hierarchy.hierarchy #width47 {
  min-width: 47px !important;
  max-width: 47px !important;
}
#hierarchy.hierarchy #width82 {
  min-width: 82px !important;
  max-width: 82px !important;
}
#hierarchy.hierarchy #width85 {
  min-width: 85px !important;
  max-width: 85px !important;
}
#hierarchy.hierarchy #width71 {
  min-width: 71px !important;
  max-width: 71px !important;
}
#hierarchy.hierarchy #width58 {
  min-width: 58px !important;
  max-width: 58px !important;
}
#hierarchy.hierarchy .accordion td,
#hierarchy.hierarchy .accordion th {
  font-size: .85em;
}
#hierarchy.hierarchy .btn_wrapper > .span2.inline-block {
  display: inline-block;
  float: none;
  width: auto;
}
#hierarchy.hierarchy .btn_wrapper > .span2.inline-block + .span2.inline-block {
  margin-left: 10px;
}
#hierarchy.hierarchy button.btn.btn-large,
#hierarchy.hierarchy input[type="submit"].btn.btn-large {
  padding-top: 5px!important;
  padding-bottom: 5px!important;
  /*padding-right: 12px!important;
    padding-left: 11px!important;
    margin-right: 20px!important;
    width: 197% !important;*/

}
#hierarchy.hierarchy .btn-default1 {
  background-color: white!important;
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff) !important;
}
#hierarchy.hierarchy .height143 {
  height: 143px !important;
}
#hierarchy.hierarchy table.table-sorter td {
  padding: 12px 5px 12px 5px;
}
#hierarchy.hierarchy .width62 {
  min-width: 62px;
}
#hierarchy.hierarchy #mobile_touch_device label {
  font-size: 12px;
}
#hierarchy.hierarchy label {
  line-height: 12px;
}
#hierarchy.hierarchy table.table-sorter th {
  padding: 10px 0px 10px 5px;
}
#hierarchy.hierarchy #meetingHistorySection table.table-sorter th,
#hierarchy.hierarchy #meetingHistorySection table.table-sorter td {
  border: none;
  padding: 10px 5px;
}
#hierarchy.hierarchy .table td {
  font-size: 1.1em;
}
#hierarchy.hierarchy .pop_up_control_group .radio.inline {
  width: 25%;
}
#hierarchy.hierarchy #addReferralBtn {
  word-wrap: break-word;
  white-space: initial;
}
#hierarchy.hierarchy #creatorDetails input.ng-valid-required + .formError,
#hierarchy.hierarchy #creatorDetails input.ng-valid-pattern + .formError + .formError {
  display: none;
}
#hierarchy.hierarchy #creatorDetails input.ng-invalid-required:not(.highlight) + .formError,
#hierarchy.hierarchy #creatorDetails input.ng-invalid-pattern:not(.highlight) + .formError + .formError {
  display: none;
}
#hierarchy.hierarchy #creatorDetails input.ng-invalid-required.highlight + .formError,
#hierarchy.hierarchy #creatorDetails input.ng-invalid-pattern.highlight + .formError + .formError {
  color: #c32a24;
  display: block;
  font-size: 90%;
  margin-top: -12px;
}
#hierarchy.hierarchy .rating-section .accordion-heading {
  background: #EEE9E9;
}
#hierarchy.hierarchy .iphone .frame::-webkit-scrollbar {
  -webkit-appearance: none;
}
#hierarchy.hierarchy .iphone .frame::-webkit-scrollbar:vertical {
  width: 11px;
}
#hierarchy.hierarchy .iphone .frame::-webkit-scrollbar:horizontal {
  height: 11px;
}
#hierarchy.hierarchy .iphone .frame::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white;
  /* should match background, can't be transparent */

}
#hierarchy.hierarchy .iphone .frame::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 8px;
}
#hierarchy.hierarchy .table-responsive {
  overflow: auto;
}
#hierarchy.hierarchy .agent_details_tbl {
  position: relative;
  overflow: hidden;
}

#hierarchy.hierarchy .activity_management {
  background-color: #EBDDDE;
  color: black;
  font-weight: bold;
  padding: 5px;
}
#hierarchy.hierarchy .activity_management.visible-phone.uppercase span{
	padding-left:0px;
}

#hierarchy.hierarchy .lead_management {
  background-color: white;
  padding: 5px;
}
#hierarchy.hierarchy .agent_details_table {
  border-collapse: collapse;
  min-width: 700px;
  width: 100%;
}
#hierarchy.hierarchy .agent_details_table thead {
  color: white;
  background-color: #e1aeb0;
  display: block;
  width: 1040px;
}
#hierarchy.hierarchy .agent_details_table tr td {
  height: 40px;
  background-color: #F3F0F0;
}
#hierarchy.hierarchy .agent_details_heading td {
  background-color: #D8CDCD;
}
#hierarchy.hierarchy .agent_details_part {
  background-color: #FFF;
}
#hierarchy.hierarchy .agent_details_table thead tr.col-category {
  background: #EBDDDE;
  color: #000;
  text-transform: uppercase;
  white-space: nowrap;
}
#hierarchy.hierarchy .agent_details_table thead .agent_details_heading {
  color: #000;
  font-weight: bold;
  background-color: #D8CDCD;
  height: 40px;
}

#hierarchy.hierarchy .agent_details_heading th {
  text-align: left;
}
#hierarchy.hierarchy .agent_details_table tr th,
#hierarchy.hierarchy .agent_details_table tr td {
  padding: 0 5px;
  width: 150px;
  min-width: 80px;
  max-width: 80px;
  word-wrap: break-word;
  word-break: break-word;
}
#hierarchy.hierarchy .agent_details_table.RMVIEW tr th,
#hierarchy.hierarchy .agent_details_table.RMVIEW tr td {
  min-width: 160px;
  max-width: 160px;
}
#hierarchy.hierarchy .agent_details_table.RMVIEW thead,
#hierarchy.hierarchy .agent_details_table.RMVIEW tbody{
  width: 960px;
}

#hierarchy.hierarchy .agent_details_table tr td {
  word-break: break-all;
}
#hierarchy.hierarchy .RMView .agent_details_table tr th,
#hierarchy.hierarchy .RMView .agent_details_table tr td {
  width: 161px;
}

#hierarchy.hierarchy .agent_details_table tbody tr th:first-child {
  cursor:pointer;
}
#hierarchy.hierarchy .agent_details_table thead tr th.fixed-title {
  background: #e1aeb0;
}
#hierarchy.hierarchy .agent_details_table thead tr th.fixed-title.RMHeader {
  line-height:24px;
}
#hierarchy.hierarchy .RMView .agent_details_table thead tr th.fixed-title.RMHeader{
	 line-height:50px;
}
.vt_VT #hierarchy.hierarchy .RMView .agent_details_table thead tr th.fixed-title.RMHeader{
	 line-height:24px;
}
#hierarchy.hierarchy .agent_details_table thead tr.agent_details_heading th.fixed-title {
  background: #D8CDCD;
}
#hierarchy.hierarchy .agent_details_table thead tr.col-category th.fixed-title {
  background: #EBDDDE;
}
#hierarchy.hierarchy .agent_details_table tr th.fixed-title,
#hierarchy.hierarchy .agent_details_table tr th.fixed-title + th {
  width: 160px;
  min-width: 160px;
  max-width: 160px;
  display: block;
  overflow:hidden;
}
#hierarchy.hierarchy .agent_details_table tr th.fixed-title.RMHeader,
#hierarchy.hierarchy .agent_details_table tr th.fixed-title.RMHeader + th {
  width: 150px;
}
.web #hierarchy.hierarchy .agent_details_table tbody tr th.fixed-title.RMHeader{
	display:none;
}
#hierarchy.hierarchy .agent_details_table tr th.fixed-title + th.cust-header-web{
	font-weight: bold;
    line-height: 50px;
    padding-left: 5px !important;
    background: #dfdcdc;
}
#hierarchy.hierarchy .agent_details_table tbody tr th.fixed-title + th {
    font-weight: normal;
    padding-left: 15px;
    background-color: #EFEAEA;
}
#hierarchy.hierarchy .agent_details_table tbody tr th:first-child{
  font-weight:normal;
}
#hierarchy.hierarchy .agent_details_table tbody tr th.ASM:first-child{
  font-weight:bold;
}
#hierarchy.hierarchy .agent_details_table tbody tr th.RM:first-child{
  font-weight:normal;
  padding-left:15px;
  background-color:#EFEAEA;
}
#hierarchy.hierarchy .agent_details_table tr th.fixed-title {
  position: absolute;
  left: 0;
  line-height: 50px;
  text-align: left;
  z-index: 2;
}
.web #hierarchy.hierarchy .agent_details_table tr th.fixed-title {
	pointer-events:none;
}

#hierarchy.hierarchy .agent_details_table tbody tr th.fixed-title {
  background: #dfdcdc;
  font-weight: normal;
  z-index: 1;
}
#hierarchy.hierarchy .agent_details_table tbody tr th.fixed-title.sub-head {
  font-weight: bold;
}
#hierarchy.hierarchy .agent_details_table tbody tr + tr td,
#hierarchy.hierarchy .agent_details_table tbody tr + tr th {
  border-top: 1px solid #FFF;
}
#hierarchy.hierarchy .agent_details_table tbody tr td + td {
  border-left: 1px solid #FFF;
}
#hierarchy.hierarchy .agent_details_table tr td.pop-overlay {
  background: rgba(0, 0, 0, 0);
  border: none;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  margin:0px;
  min-width: 100% !important;
  max-width: 100% !important;
}
/* WEB CHANGES */
.web #hierarchy.hierarchy .agent_details_table tr td.pop-overlay {
 display:none;
}
.web #hierarchy.hierarchy .agent_details_table tr td.pop-links {
  display:none;
}
.web #hierarchy.hierarchy .agent_details_table tbody tr th:first-child{
	cursor:default;
}
/* WEB CHANGES */
#hierarchy.hierarchy .agent_details_table tr td.pop-links {
  background: #E9D0CF;
  border: none;
  height: 50px;
  padding: 3px 0;
  position: absolute;
  right: 0;
  z-index: 101;
  margin: 0px;
}
#hierarchy.hierarchy .agent_details_table tr td.pop-links:before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-right: 6px solid #E9D0CF;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  left: -6px;
  top: 50%;
  margin-top: -5px;
}

#hierarchy.hierarchy .activity_text {
  font-weight: bold;
  float: left;
}
#hierarchy.hierarchy .activity_value {
  float: right;
  color: black;
}
#hierarchy.hierarchy .mtd_details,
#hierarchy.hierarchy .mtd_details * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#hierarchy.hierarchy .MTDTitle {
  color: #c21b17;
  padding: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
}
#hierarchy.hierarchy .dashboard .leadsContainer .dashblock {
  width: 33.33%;
  float: left;
  margin: 0;
}
#hierarchy.hierarchy .dashData {
  font-size: 30px;
  line-height: 65px;
}
#hierarchy.hierarchy .dashValue {
  margin-bottom: 0px;
  font-family: "Helvetica Neue";
  font-weight: normal;
  font-size: 16px;
  color: #33342f;
}
#hierarchy.hierarchy .leadStatus {
  display: inline;
}
#hierarchy.hierarchy .main-container {
  margin-top: 20px;
}
#hierarchy.hierarchy .dashHeading {
  border-bottom: 1px solid #eee9e9;
  width: 100%;
}
#hierarchy.hierarchy .dashTitles {
  color: #c21b17;
  padding: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
}
#hierarchy.hierarchy .dashboard .leadsContainer {
  overflow: hidden;
  padding: 10px 0;
}
#hierarchy.hierarchy .leadsContainer {
  width: 100%;
	/* background: rgba(255,255,255,0.9); */
  cursor:pointer;
}
#hierarchy.hierarchy .circularDiv {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: #FFF;
  line-height: 70px;
  display: inline-block;
}
#hierarchy.hierarchy .redBorder {
  border: 5px solid #ef654f;
  margin: 0 auto;
}
#hierarchy.hierarchy .orangeBorder {
  border: 5px solid #efbea8;
}
#hierarchy.hierarchy .grayBorder {
  border: 5px solid #d8d9da;
}
#hierarchy.hierarchy .greenBorder {
  border: 5px solid #a1b675;
}
#hierarchy.hierarchy .yellowBorder {
  border: 5px solid #dbc07c;
}
#hierarchy.hierarchy .dashMainTitleContainer {
  /* background: #F4F4F4; */

  border-bottom: 1px solid #eee9e9;
  padding: 0px 28px;
}
#hierarchy.hierarchy .dashMainTitle {
  color: #33342f;
}

#hierarchy.hierarchy .dashboard .leadsContainer .dashBlockForTwo {
  float: left;
  margin: 0;
  width: 50%;
}
#hierarchy.hierarchy .dashData {
  font-size: 25px;
  cursor: pointer;
}
#hierarchy.hierarchy .dashValue {
  margin-bottom: 0px;
  font-family: "Helvetica Neue";
  font-weight: normal;
  font-size: 16px;
  color: #33342f;
  cursor: pointer;
}
#hierarchy.hierarchy h3.subheading {
  font-size: 16px;
}
#hierarchy.hierarchy .add_red {
  padding: 8px 10px;
  width: 24px;
  height: 24px;
}
#hierarchy.hierarchy .dashMainTitleContainer .add_red {
  padding: 15px 10px;
  width: 24px;
  height: 24px;
}
#hierarchy.hierarchy .filter_red {
  padding: 8px 10px;
  width: 24px;
  height: 24px;
}
#hierarchy.hierarchy .dashboardTable {
  height: 115px;
  margin: 8px 8px;
  background: #FFF;
}
#hierarchy.hierarchy .YTDSection {
  background-color: #FBF3F3;
  float: left;
  width: 48%;
  height: 60px;
  position: relative;
  margin: 10px 1%;
}
#hierarchy.hierarchy .YTDSection p.value {
  color: #779141;
  font-size: 16px;
  font-family: Arial, sans-serif;
  margin-bottom: 0;
  padding-top: 10px;
  position: absolute;
  text-align: center;
  width: 100%;
}
#hierarchy.hierarchy .YTDSection p.title {
  color: #b4aaaa;
  font-size: 14px;
  font-family: "Helvetica Neue";
  font-weight: normal;
  margin-bottom: 0;
  padding-top: 30px;
  position: absolute;
  text-align: center;
  width: 100%;
}
#hierarchy.hierarchy .endtable2 {
  width: 100%;
}


#hierarchy.hierarchy .agent_details_table tbody {
	max-height: 260px;
}
#hierarchy.hierarchy .RMView .agent_details_table tbody{
	max-height: 360px;
}

@media screen and (max-width:1280px){
	#hierarchy.hierarchy .agent_details_table tbody {
		max-height: 60vh;
	}
	.vt_VT #hierarchy.hierarchy .agent_details_table tbody {
		max-height: 50vh;
	}
	#hierarchy.hierarchy .RMView .agent_details_table tbody{
		max-height: 65vh;
	}
}
@media screen and (max-width:980px){
	#hierarchy.hierarchy .agent_details_table tbody {
		max-height: 55vh;
	}
	.vt_VT #hierarchy.hierarchy .agent_details_table tbody {
		max-height: 40vh;
	}
	#hierarchy.hierarchy .RMView .agent_details_table tbody{
		max-height: 60vh;
	}
}

@media screen and (max-width:799px){
	#hierarchy.hierarchy .agent_details_table tbody{
		max-height: 65vh;
	}
	#hierarchy.hierarchy .RMView .agent_details_table tbody{
		max-height: 65vh;
	}
	#hierarchy.hierarchy .agent_details_table tbody {
		width:880px;
	}
	#hierarchy.hierarchy .agent_details_table thead {
		width:880px;
	}
}
/* Web Design*/

.web #hierarchy.hierarchy .agent_details_table tbody{
	max-height: 280px;
}
.web #hierarchy.hierarchy .RMView .agent_details_table tbody{
	max-height: 370px;
}
.web.vt_VT #hierarchy.hierarchy .agent_details_table tbody{
	max-height: 260px;
}
.web.vt_VT #hierarchy.hierarchy .RMView .agent_details_table tbody{
	max-height: 360px;
}
#wrapper.landingPage.true .home-image-banner .fullimage{
	height:100%;
}
