/* COMMON BOOTSTRAP OVERRIDE 
.span12 .span6.ng-hide +.span6{
	margin-left:0px; /* Remove left margin of second Field when first field is hidden 
}*/
.web .hidden-layer-datepicker{
	position:fixed;
	top:0px;
	bottom:0px;
	right:0px;
	left:0px;
}
.home-image-banner .fullimage.mobile{
	display:none;
}
/* COMMON BOOTSTRAP OVERRIDE */

/* PUSH MENU COLOR CHANGES */
/* .pushy .main-menu li:nth-child(1) a,.pushy .main-menu li:nth-child(3) a,.pushy .main-menu li:nth-child(5) a{
	background-color: #C21B17;
}
.pushy .main-menu li:nth-child(2) a,.pushy .main-menu li:nth-child(4) a{
	background-color: #752127;
	border-bottom: 1px solid #752127;
} */
/* PUSH MENU COLOR CHANGES */
.onlyDevice{
	display:block;
}
.onlyWeb{
	display:none !important;
}
.web  .onlyDevice{
	display:none;
}
.web  .onlyWeb{
	display:block !important;
}

#ExistingPolicies .fund_input_header{
	width:190px;
}
#agentDeclarationQues6 .span4,
#agentDeclarationQues12 .span4,
#agentDeclarationQues16 .span4,
#agentDeclarationQues20 .span4 {
	margin-left: 0px;
}
.span7.zeroWidth{
	width:0% important;
}
.fa.fa-trash-o[disabled="disabled"]{
	pointer-events: none;
	color: #999;
}
.syncStatuscol{
    display:table-cell;
}
.web .syncStatuscol{
    display:none;
}
.syncStatuscolWeb{
    display:none;
}
.web .syncStatuscolWeb{
	display:table-cell;    
}

.syncStatuscolWebCustom{
    top:-6px !important;
}
/* DOC UPLOAD */
.round-icon.bs-80{
	cursor:pointer;
}
#wrapper.landingPage{
	padding-bottom:0px;
}
.iradio.checked.disabled{
	border: 1px solid #CCCCCC;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
}
#Declaration input[readonly]{
	background-color: #E9E4E4 !important;
	outline:none !important;
}
#Declaration input[readonly]:focus{
	-moz-box-shadow: rgba(0, 0, 0, 0) 0px 1px 1px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-webkit-box-shadow: rgba(0, 0, 0, 0) 0px 1px 1px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	box-shadow: rgba(0, 0, 0, 0) 0px 1px 1px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	border: 0px;
}
.fa-browse-upload-icon{
	height:24px;
	width:24px;
	background-image: url('../img/browse_upload.png');
	background-size: 100% 100%;
	display: inline-block;
	vertical-align: middle;
}
.fa-camera-upload-icon{
	height:24px;
	width:24px;
	background-image: url('../img/camera_icon.png');
	background-size: 100% 100%;
	display: inline-block;
	vertical-align: middle;
}

.Doc_remove_attachment_icon.fa-trash-icon{
	height: 28px !important;
	width: 28px !important;
	padding: 0px !important;
	background-image: url('../img/delete_icon.png');
	background-size: 100% 100%;
	display: inline-block;
	vertical-align: middle;
	
}
.Doc_remove_attachment_icon.fa-download-icon{
	height: 20px !important;
    width: 20px !important;
    padding: 0px !important;
    background-image: url(../img/icon/download@2x.png);
    background-size: 100% 100%;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    right: 56px;
    top: 38px;
}
/* DOC UPLOAD */
#MainInsuredQuestionnaire .fa-minus[disabled="disabled"] {
	-moz-opacity: 0.6;
	-webkit-opacity: 0.6;
	opacity: 0.6;
	pointer-events: none;
}
#MainInsuredQuestionnaire .addBtnIcon[disabled="disabled"] {
	-moz-opacity: 0.6;
	-webkit-opacity: 0.6;
	opacity: 0.6;
	pointer-events: none;
}
#AdditionalInsured1Questionnaire .fa-minus[disabled="disabled"] {
	-moz-opacity: 0.6;
	-webkit-opacity: 0.6;
	opacity: 0.6;
	pointer-events: none;
}
#AdditionalInsured1Questionnaire .addBtnIcon[disabled="disabled"] {
	-moz-opacity: 0.6;
	-webkit-opacity: 0.6;
	opacity: 0.6;
	pointer-events: none;
}
#AdditionalInsured2Questionnaire .fa-minus[disabled="disabled"] {
	-moz-opacity: 0.6;
	-webkit-opacity: 0.6;
	opacity: 0.6;
	pointer-events: none;
}
#AdditionalInsured2Questionnaire .addBtnIcon[disabled="disabled"] {
	-moz-opacity: 0.6;
	-webkit-opacity: 0.6;
	opacity: 0.6;
	pointer-events: none;
}
#AdditionalInsured3Questionnaire .fa-minus[disabled="disabled"] {
	-moz-opacity: 0.6;
	-webkit-opacity: 0.6;
	opacity: 0.6;
	pointer-events: none;
}
#AdditionalInsured3Questionnaire .addBtnIcon[disabled="disabled"] {
	-moz-opacity: 0.6;
	-webkit-opacity: 0.6;
	opacity: 0.6;
	pointer-events: none;
}
#AdditionalInsured4Questionnaire .fa-minus[disabled="disabled"] {
	-moz-opacity: 0.6;
	-webkit-opacity: 0.6;
	opacity: 0.6;
	pointer-events: none;
}
#AdditionalInsured4Questionnaire .addBtnIcon[disabled="disabled"] {
	-moz-opacity: 0.6;
	-webkit-opacity: 0.6;
	opacity: 0.6;
	pointer-events: none;
}


#SPAJsummary .outer-control-group.column-group-two .span5.two-column, #SPAJsummary .span5.two-column.paddingLeft80{
	width:49%;
}
#SPAJsummary .control-group label:first-child{
	color:#777777;
}
#SPAJsummary .control-group label:first-child span.bold{
	color:#333333;
}
#SPAJsummary .control-group label.total-prem-bold:first-child{
	color:#333333;
}
#SPAJsummary .column-group-single, #SPAJsummary .outer-control-group:nth-child(odd){
	border-top:0px;
}
.vt_VT #buyOnlineTabs .selector-text li.active:after{
	top:56px;
}
.vt_VT #Declaration  #commAgentExisistingQuestion label.radio{
	padding-right: 3px;
}
.agentNameSpan{
	padding: 4px 5px 4px;
	cursor: default;
	font-size: 1.25em;
	color: #ffffff;
	line-height: 52px;
	height: 40px;
	display: block;
}
.policyTermHeader span:first-child{
	width: 80px !important;
	margin-right:2px;
}
.sumAssuredHeader span:first-child{
	width: 100px !important;
	margin-right:2px;
}
.vt_VT .policyTermHeader span:first-child{
	width: 124px !important;
}
.vt_VT .sumAssuredHeader span:first-child{
	width: 110px !important;
}

.multi-line-text-table span:first-child{
	display: inline-block;
	text-align: center;
	line-height: 16px;
}
.multi-line-text-table span ~ .red-text{
	top: 2px;
	position: absolute;
}
/* DOC UPLOAD */
.tile{
	padding: 13px 5px;
	cursor:pointer;
}
.tile-block{
	min-width: 22%;
}
.tile-block.clearfix{
	clear:both;
}
.text-center .span2.inline-block.custom-width{
	width:15% !important;
}
.popupclose.docUpload{
	width:24px !important;
	font-size:20px !important;
	text-align: right !important;
}
/* DOC UPLOAD */
#ProductDetails #riderDetails .outer-control-group.outer.column-group-single .control-group.form-horizontal{
	margin-bottom:0px;
}
#BeneficiarySubTabSection #riderDetails th,
#BeneficiarySubTabSection #riderDetails td{
	padding: 10px;
}
#BeneficiarySubTabSection #riderDetails td{
	word-wrap:break-word;
	word-break: break-all;
}
#BeneficiarySubTabSection  .white-box{
	padding:0px;
}
.questionnaire-content.width100{
	width:100%;
}
.span5.total-prem-bold,
.span6.total-prem-bold{
	text-align: right;
	font-weight: bold;
	width: 50%;
}
.span5.total-prem-bold ~ .span7,
.span6.total-prem-bold ~ .span6{
	width: 46%;
}
.span5.total-prem-bold ~ .span7 input,
.span6.total-prem-bold ~ .span6 span{
	background-color: transparent !important;
	border: 0px !important;
	font-weight: bold;
	font-size: 14px;
	padding: 0px;
	margin-top: -4px;
}
.padding0{
	padding:0px !important
}
.modal-header .close.doc-close{
	margin-top:0px !important;
}

.prefixtext,.suffixText{
	width:auto;
	margin:0px 5px;
}
.cursorPointer{
	cursor: pointer;
}
.socialmedia .mediaicons td a.disabled-icons{
      pointer-events:none;
	  cursor:default;
	  opacity:0.2;	  
}
.product-listing-page .product-details p{
	line-height:18px;
}
.fa-round-custom.fa.fa-plus[disabled="disabled"],
.fa-round-custom.fa.fa-minus[disabled="disabled"]{
	pointer-events:none;
	-webkit-opacity:0.5;
	-moz-opacity:0.5;
	opacity:0.5;
}
.ebroc.disabled, .salespitch.disabled{
	-webkit-opacity:0.5;
	-moz-opacity:0.5;
	opacity:0.5;
	pointer-events:none;
}
.CIImage1{
	background-image: url('../img/CI_1_eng.PNG');
}
.CIImage2{
	background-image: url('../img/CI_2_eng.PNG');
}
.CIImage3{
	background-image: url('../img/CI_3_eng.PNG');
}
body.vt_VT .CIImage1{
	background-image: url('../img/CI_1.PNG');
}
body.vt_VT  .CIImage2{
	background-image: url('../img/CI_2.PNG');
}
body.vt_VT  .CIImage3{
	background-image: url('../img/CI_3.PNG');
}
techomBank .CIImage1{

                background-image: url('../img/CIT_1_eng.PNG');

}

.techomBank .CIImage2{

                background-image: url('../img/CIT_2_eng.PNG');

}

.techomBank .CIImage3{

                background-image: url('../img/CIT_3_eng.PNG');

}

body.vt_VT  .techomBank .CIImage1{

                background-image: url('../img/CIT_1.PNG');

}

body.vt_VT  .techomBank .CIImage2{

                background-image: url('../img/CIT_2.PNG');

}

body.vt_VT  .techomBank .CIImage3{

                background-image: url('../img/CIT_3.PNG');

}

.GenBumNan8_1{
	background-image: url('../img/thailand/GenBumNan8_KeyFeatures1.jpg');
}
.GenBumNan8_2{
	background-image: url('../img/thailand/GenBumNan8_KeyFeatures2.jpg');
}
.GenBumNan10_1{
	background-image: url('../img/thailand/GenBumNan10_KeyFeatures1.jpg');
}
.GenBumNan10_2{
	background-image: url('../img/thailand/GenBumNan10_KeyFeatures2.jpg');
}
.GenCompleteHealth80_1{
	background-image: url('../img/thailand/GenCompleteHealth80_KeyFeatures1.jpg');
}
.GenCancerSuperProtection{
    background-image: url('../img/thailand/GenCancerSuperProtection.jpg');
}
.GenCompleteHealth80_2{
	background-image: url('../img/thailand/GenCompleteHealth80_KeyFeatures2.jpg');
}
.GenProLife20_1{
	background-image: url('../img/thailand/GenProLife20_KeyFeatures1.jpg');
}
.GenProLife20_2{
	background-image: url('../img/thailand/GenProLife20_KeyFeatures2.jpg');
}
.GenProLife25_1{
	background-image: url('../img/thailand/GenProLife25_KeyFeatures1.jpg');
}
.GenProLife25_2{
	background-image: url('../img/thailand/GenProLife25_KeyFeatures2.jpg');
}
.wholeLife_1{
	background-image: url('../img/thailand/WholeLife_KeyFeatures1.jpg');
}
.wholeLife_2{
	background-image: url('../img/thailand/WholeLife_KeyFeatures2.jpg');
}
.GenSave_1{
	background-image: url('../img/thailand/GenProSave_KeyFeatures1.jpg');
}
.GenSave_2{
	background-image: url('../img/thailand/GenProSave_KeyFeatures2.jpg');
}
.GenSave10_1{
	background-image: url('../img/thailand/GenSave10Plus_KeyFeatures1.jpg');
}
.GenSave10_2{
	background-image: url('../img/thailand/GenSave10Plus_KeyFeatures2.jpg');
}
.GenSave4_1{
	background-image: url('../img/thailand/GenSave4Plus_KeyFeatures1.jpg');
}
.GenSave4_2{
	background-image: url('../img/thailand/GenSave4Plus_KeyFeatures2.jpg');
}

div#agentDeclarationQues14 .span4:nth-child(4) {
    margin-left: 0px;
}
#keyFeaturesCI .modal-body {
	margin: 0px 2% 0px;
}
#mobile_touch_device.web .visible-phone-table.web-mobile-hide{
  	display:none !important;
}
#mobile_touch_device select, #mobile_touch_device textarea{
	 font-size:12px;
}
select{
	 padding-right:20px !important
}
#Declaration .accordion-heading{
	border-bottom: 1px solid #CCCCCC !important;
}

#buyOnlineTabs .span5.two-column{
	width:46%;
}
/*BI FIXED SCROLL SECTIONS*/
#mobile_touch_device .illustration-fixed-section{
  height: 90%;
}
#mobile_touch_device  .product-details-section{
	  height: 510px;

}
#mobile_touch_device .summary-fixed-content{
	height:421px;
}
.Illustration-scrollable-section{
  height: 526px;
}

#mobile_touch_device #PolicyHolderSubTab form,#mobile_touch_device #mainInsuredSubTab form,#mobile_touch_device #financilaDetailsSubTab form,#mobile_touch_device #AdditionalInsuredSubTab form,#mobile_touch_device #AdditionalInsured1Questionnaire form,#mobile_touch_device #AdditionalInsured2Questionnaire form,#mobile_touch_device #AdditionalInsured3Questionnaire form,#mobile_touch_device #AdditionalInsured4Questionnaire form,#mobile_touch_device #BeneficiarySubTab form,#mobile_touch_device #SPAJsummary,#mobile_touch_device #Declaration form,
#mobile_touch_device form#AdditionalInsuredSubTab0,
#mobile_touch_device form#AdditionalInsuredSubTab2,
#mobile_touch_device form#AdditionalInsuredSubTab1,
#mobile_touch_device form#AdditionalInsuredSubTab3,
#mobile_touch_device form#DeclarationAndAuthorizationTab{
	 height: auto;
}
#buyOnlineTabs .li-3 .selector-text li, #buyOnlineTabs .li-3 .selector-icon li{
	width: 170px;
}
.vt_VT #buyOnlineTabs .li-3 .selector-text li, #buyOnlineTabs .li-3 .selector-icon li{
	width: 167px;
}
#buyOnlineTabs .li-3 .selector-text li:first-child, #buyOnlineTabs .li-3 .selector-icon li:first-child, #buyOnlineTabs .li-3 .selector-text li:last-child, #buyOnlineTabs  .li-3  .selector-icon li:last-child{
	width: 110px;
}
#buyOnlineTabs .li-4 .selector-text li, #buyOnlineTabs .li-4 .selector-icon li{
	width: 145px;
}
.vt_VT #buyOnlineTabs .li-4 .selector-text li, #buyOnlineTabs .li-4 .selector-icon li{
	width: 142px;
}
#buyOnlineTabs .li-4 .selector-text li:first-child, #buyOnlineTabs .li-4 .selector-icon li:first-child, #buyOnlineTabs .li-4 .selector-text li:last-child, #buyOnlineTabs .li-4 .selector-icon li:last-child{
	width: 110px;
}

.text-right-mbl-center-tab{
	text-align: right !important;
}
th.visible-tablet-table.isWeb{
	    display: none !important;
}
#mobile_touch_device th.visible-tablet-table.isWeb{
	    display: none !important;
}
td.visible-tablet-table.isWeb{
	    display: none !important;
}
#mobile_touch_device td.visible-tablet-table.isWeb{
	    display: none !important;
}

th.visible-tablet-table.isWeb ~ th,td.visible-tablet-table.isWeb ~ td{
	    padding-left: 2px;
    text-align: center !important;
}
.cust .customDropIcon{
	top:42%;
}
.custtypeahead .dropdown-menu > .active > a, .custtypeahead .dropdown-menu > .active > a:hover, .custtypeahead .dropdown-menu > .active > a:focus{
	color:#c32a24;
}
.pdgLft15{
	padding-left:15px;
}
.pdgLft25{
	padding-left:25px !important;
}
.zIndexHigh{
	z-index:9996 !important;
}

.pdgLft10{
	padding-left:10px;
}
.pdg0{
	padding:0px !important;
}
.pdg0-accordion-heading .accordion-toggle{
	padding:0px !important;
}
.pdgLft5{
	padding-left:5px !important;
}
.pdgLft37{
	padding-left: 37px !important;
}

.mrgTop40{
	margin-top:40px !important;
}
.mrgTop38{
	margin-top:36px !important;
}
.mrgTop20{
	margin-top:20px;
}
.mrgBtm0{
	margin-bottom:0px;
}
.minHeight20{
	min-height:20px;
}
.fontWeight400{
	font-weight:400;
}
.fontSize20{
	font-size:20px;
}
.fontSize12{
	font-size:12px;
}
.fontSize9{
	font-size:9px;
}
.lineHeight30{
	line-height:30px;
}
.text-right{
	text-align:right !important;
}
.text-left{
	text-align:left !important;
}
.text-italic{
	font-style:italic;
}
.min-height-setting{
	min-height: 20px !important;
}
.min-height-setting .span5,.min-height-setting .span7{
	min-height: 20px !important;
}
#myIllustrations table tr th:first-child{
	max-width: 35px;
	min-width: 35px;	
}
.text-right-mbl-center-tab{
	text-align: center !important;
}

.text-right-mbl-center-tab div.span2 .btn{
	padding:10px !important;
	width:150px
    margin-top: 30px;
    margin-bottom: 30px
}
.no-accordion .collapse{
	overflow:visible;
}
#base_Plan_Details.no-accordion .collapse{
	overflow: hidden;
}
#AdditionalInsured0SubSection0.collapse.in,
#AdditionalInsured1SubSection0.collapse.in,
#AdditionalInsured2SubSection0.collapse.in,
#AdditionalInsured3SubSection0.collapse.in,
#AdditionalInsured4SubSection0.collapse.in{
	overflow:visible;	
}
#AdditionalInsuredSubTab0 .collapse.in,
#AdditionalInsuredSubTab1 .collapse.in,
#AdditionalInsuredSubTab2 .collapse.in,
#AdditionalInsuredSubTab3 .collapse.in,
#AdditionalInsuredSubTab4 .collapse.in{
	overflow:visible;	
}
/* PAYMENT TAB */
.paymentOptions{
	min-height:40px !important;
}
#Payment{
	font-size: 14px;
	overflow:visible;
}
form#Payment{
	margin-bottom: 70px;
}
#Payment textarea{
	height:80px;
}
.span5.span4{
	width:28% !important;
}
.span7.span8{
	width:68% !important;
}
#Payment .savePayment.bottomFixed{
	position: absolute;
	bottom: -210px;
	left: 50%;
	margin-left: -11.5%;
}
#Payment .highlighted-section{
	width: 100%;
	padding: 15px;
	margin: 0px;
	margin-left: -15px;
}
.mrgTop40{
	margin-top:53px !important;
}
/* PAYMENT TAB */
#ProductDetails #riderDetails .tbl_head_bg{
	width:100%;
}
.break-by-word{
	word-wrap:break-word;
}
.break-all{
	word-break: break-all;
}
/* ILLUSTRATION OUTPUT */
.minWidth80{
	width:80px !important;
	min-width:80px !important;
	max-width:80px !important;
}

.maxWidth180{
	/* max-width: 180px; */
	word-break: break-word;
}
.maxWidth250{
	/* max-width: 250px; */
	word-break: break-word;
}
.maxWidth150{
	/* max-width: 150px; */
	word-break: break-word;
}
.minWidth24{
	width:24px !important;
	min-width:24px !important;
	max-width:24px !important;
}

/* EAPP MAIN TABBING DESIGN CHANGE */
#buyOnlineTabs .selector-text li:last-child{
	text-align:center;
}
#Summary .accordion-inner .accordion-toggle{
	padding: 5px 15px 5px 20px;
}
#SummaryProductDetails .white-box{
	margin-bottom:0px;
}
#summary14 .outer-control-group.column-group-two {
	padding-left: 20px;
}
.span5.two-column.text-bold span{
	font-weight:bold;
}
.paragraphContent .second-content{
	width:97%;
	margin-left:1% !important;
}
.paragraphContent .second-content b{
	margin-right:2px;
}
.paragraphContent .second-content.italics{
	font-style: italic;
}
.min-content{
	min-width:12px;
	height:1px;
}
/* EAPP MAIN TABBING DESIGN CHANGE */
.outside_border .illustrator_table_inner_container{
	border: 1px solid #000000;
}
.outside_border.no_brd .illustrator_table_inner_container{
	border: 0px !important;
}
.outside_border.no_outside_brd_top .illustrator_table_inner_container{
	border: 0px !important;
	border-bottom: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
}
.outside_border.no_brd_bottom .illustrator_table_inner_container{
	border-bottom: 0px;
}
.outside_border.no_brd_top .illustrator_table_inner_container{
	border-top: 0px;
}

.outside_border .illustrator_table_inner_container .illustrator_details_table {
	border:0px !important;
}
.table_normal.outside_border .illustrator_details_table .illustrator_table_row_odd > td,.table_normal.outside_border .illustrator_details_table .illustrator_table_row_even > td{
	border:0px !important;
}
.table_normal.outside_border .illustrator_details_table   th,.table_normal.outside_border .illustrator_details_table  > th{
	border:0px !important;
}
.table_normal.outside_border.onlyTheadBorder.thPdgLft5 .illustrator_details_table th{
	padding-left:5px !important;
	background: #FFFFFF !important;
}
.table_normal.btm_mrg_tbl.detailed_view_table_container{
	margin-bottom: 10px !important;
}
.table_normal.outside_border.onlyTheadBorder .illustrator_details_table th, .table_normal.outside_border.onlyTheadBorder .illustrator_details_table > th{
	border: 0px !important;
	border-right: 1px solid #000 !important;
	border-bottom: 1px solid #000 !important;
}

.table_normal.outside_border.onlyTheadBorder .illustrator_details_table th:last-child, .table_normal.outside_border.onlyTheadBorder .illustrator_details_table > th:last-child{
	border-right: 0px !important;
}
.table_normal.outside_border.content_top_btm_brd .illustrator_details_table .illustrator_table_row_odd > td, .table_normal.outside_border.content_top_btm_brd .illustrator_details_table .illustrator_table_row_even > td{
	border-top: 1px solid #000000 !important;
}
.table_normal.content_left_aligned .illustrator_details_table .illustrator_table_row_odd > td,.table_normal.content_left_aligned .illustrator_details_table .illustrator_table_row_even >td{
	text-align:left;
}
.table_normal.header_left_aligned .illustrator_details_table   th,.table_normal.outside_border .illustrator_details_table  > th{
	text-align:left !important;
}
.no_mrg.detailed_view_table_container {
	margin:0px !important;
}

.no_mrg .illustrator_table_inner_container{
	margin:0px !important;
}
.no_mrg_bottom .illustrator_table_inner_container .illustrator_table_inner_container{
	margin-bottom:0px !important;
}

.table_normal.outside_border.no_top_brd_container .illustrator_table_inner_container{
	border-top: 0px !important;
}
#personalDetailsTab .navigation-progressbar .li-0{
	text-align: center;
}
#personalDetailsTab .li-0:first-child li, #personalDetailsTab .li-0:last-child li {
	width: 290px !important;
}
#personalDetailsTab .li-0 li .line-after-circle {
	width: 100% !important;
}
#personalDetailsTab .li-0 li:first-child .line-after-circle ,#personalDetailsTab .li-0 li:last-child .line-after-circle {
	width: 50% !important;
}
#buyOnlineTabs #Questionnaire .navigation-progressbar .li-4 .selector-icon li, #buyOnlineTabs #Questionnaire .navigation-progressbar .li-4 .selector-text li{
	width:16%;
}
#buyOnlineTabs #Questionnaire .navigation-progressbar .li-3 .selector-icon, #buyOnlineTabs #Questionnaire .navigation-progressbar .li-3 .selector-text{
	padding-left:1%;;
}
#buyOnlineTabs #Questionnaire .navigation-progressbar .li-2 .selector-icon, #buyOnlineTabs #Questionnaire .navigation-progressbar .li-2 .selector-text{
	padding-left:0px;
}
#buyOnlineTabs #Questionnaire .navigation-progressbar .li-1 .selector-icon, #buyOnlineTabs #Questionnaire .navigation-progressbar .li-1 .selector-text{
	padding-left:0px;
}
#buyOnlineTabs #Questionnaire .navigation-progressbar .li-3 .selector-icon li, #buyOnlineTabs #Questionnaire .navigation-progressbar .li-3 .selector-text li{
	width:20%;
}
#glivnIlustrationopGenderSpecIllTbl tbody tr td{
	text-align:left !important;
	padding-left:30px;
}
#glivnIlustrationopBenefitBasicPlnTbl thead tr:first-child > th:first-child,
#glivnIlustrationopBenefitBasicPlnTbl thead tr:first-child > th:nth-child(2),
#glivnIlustrationopBenefitBasicPlnTbl thead tr:first-child > th:nth-child(3){
	border-bottom:0px !important;
}
#glivnIlustrationopBenefitBasicPlnTbl thead tr:nth-child(2) > th:nth-child(1),
#glivnIlustrationopBenefitBasicPlnTbl thead tr:nth-child(2) > th:nth-child(2),
#glivnIlustrationopBenefitBasicPlnTbl thead tr:nth-child(2) > th:nth-child(3),
#glivnIlustrationopBenefitBasicPlnTbl thead tr:nth-child(2) > th:nth-child(4){
	border-bottom:0px !important;
}

#glivnIlustrationopBenefitBasicPlnTbl thead tr:nth-child(3) > th:nth-child(1),
#glivnIlustrationopBenefitBasicPlnTbl thead tr:nth-child(3) > th:nth-child(2),
#glivnIlustrationopBenefitBasicPlnTbl thead tr:nth-child(3) > th:nth-child(3),
#glivnIlustrationopBenefitBasicPlnTbl thead tr:nth-child(3) > th:nth-child(4){
	border-bottom:0px !important;
}
#glivnIlustrationopBenefitBasicPlnTbl thead tr:last-child > th:first-child{
	border-left:0px !important;
}
#glivnIlustrationopBenefitBasicPlnTbl thead tr:last-child > th{
	padding: 0px;
	vertical-align: top;
}
.eci_pdt #glivnIlustrationopBenefitBasicPlnTbl thead tr:first-child > th:first-child,
.eci_pdt #glivnIlustrationopBenefitBasicPlnTbl thead tr:first-child > th:nth-child(2),
.eci_pdt #glivnIlustrationopBenefitBasicPlnTbl thead tr:first-child > th:nth-child(3){
	border-bottom:1px  solid #000 !important;
}
.eci_pdt #glivnIlustrationopBenefitBasicPlnTbl thead tr:nth-child(2) > th:nth-child(1),
.eci_pdt #glivnIlustrationopBenefitBasicPlnTbl thead tr:nth-child(2) > th:nth-child(2),
.eci_pdt #glivnIlustrationopBenefitBasicPlnTbl thead tr:nth-child(2) > th:nth-child(3),
.eci_pdt #glivnIlustrationopBenefitBasicPlnTbl thead tr:nth-child(2) > th:nth-child(4){
	border-bottom:1px  solid #000 !important;
}

.eci_pdt #glivnIlustrationopBenefitBasicPlnTbl thead tr:nth-child(3) > th:nth-child(1),
.eci_pdt #glivnIlustrationopBenefitBasicPlnTbl thead tr:nth-child(3) > th:nth-child(2),
.eci_pdt #glivnIlustrationopBenefitBasicPlnTbl thead tr:nth-child(3) > th:nth-child(3),
.eci_pdt #glivnIlustrationopBenefitBasicPlnTbl thead tr:nth-child(3) > th:nth-child(4){
	border-bottom:1px  solid #000 !important;
}
.eci_pdt #glivnIlustrationopBenefitBasicPlnTbl thead tr:nth-child(2) > th:first-child{
	border-left:1px solid #000 !important;
}
.eci_pdt #glivnIlustrationopBenefitBasicPlnTbl2 thead tr:nth-child(2) > th:first-child{
	border-left:1px solid #000 !important;
}
.border-fix.eci_pdt #glivnIlustrationopBenefitBasicPlnTbl,
.border-fix.eci_pdt #glivnIlustrationopBenefitBasicPlnTbl2{
	border-collapse:collapse;
}
.border-fix.eci_pdt .illustrator_table_inner_container>div{
	width:1200px;
}
#glivnIlustrationopMainInsBenefTbl tbody tr > td:first-child{
	padding-left:20px !important;
}
#glivnIlustrationopMainInsBenefTbl tbody tr:nth-child(1) td:first-child,
#glivnIlustrationopMainInsBenefTbl tbody tr:nth-child(4) td:first-child,
#glivnIlustrationopMainInsBenefTbl tbody tr:nth-child(7) td:first-child,
#glivnIlustrationopMainInsBenefTbl tbody tr:nth-child(10) td:first-child,
#glivnIlustrationopMainInsBenefTbl tbody tr:nth-child(11) td:first-child,
#glivnIlustrationopMainInsBenefTbl tbody tr:nth-child(12) td:first-child,
#glivnIlustrationopMainInsBenefTbl tbody tr:nth-child(20) td:first-child,
#glivnIlustrationopMainInsBenefTbl tbody tr:nth-child(21) td:first-child,
#glivnIlustrationopMainInsBenefTbl tbody tr:nth-child(22) td:first-child{
	padding-left:5px !important;
	font-weight:bold;
}
#glivnIlustrationopMainInsBenefTbl tbody tr:nth-child(1) td,
#glivnIlustrationopMainInsBenefTbl tbody tr:nth-child(4) td,
#glivnIlustrationopMainInsBenefTbl tbody tr:nth-child(7) td,
#glivnIlustrationopMainInsBenefTbl tbody tr:nth-child(10) td,
#glivnIlustrationopMainInsBenefTbl tbody tr:nth-child(11) td,
#glivnIlustrationopMainInsBenefTbl tbody tr:nth-child(12) td,
#glivnIlustrationopMainInsBenefTbl tbody tr:nth-child(20) td,
#glivnIlustrationopMainInsBenefTbl tbody tr:nth-child(21) td,
#glivnIlustrationopMainInsBenefTbl tbody tr:nth-child(22) td{
	border-top:1px solid #000000 !important;
}

#glivnIlustrationopMainInsBenefTbl tbody tr:nth-child(13) td,#glivnIlustrationopMainInsBenefTbl tbody tr:nth-child(18) td{
	font-weight:bold;
}
#glivnIlustrationopMainInsBenefTbl tbody tr:nth-child(14) td:first-child,
#glivnIlustrationopMainInsBenefTbl tbody tr:nth-child(15) td:first-child,
#glivnIlustrationopMainInsBenefTbl tbody tr:nth-child(16) td:first-child,
#glivnIlustrationopMainInsBenefTbl tbody tr:nth-child(17) td:first-child,
#glivnIlustrationopMainInsBenefTbl tbody tr:nth-child(19) td:first-child{
	padding-left: 30px !important
}
#glivnIlustrationopMainInsBenefTbl tbody tr:nth-child(14) td:last-child,
#glivnIlustrationopMainInsBenefTbl tbody tr:nth-child(15) td:last-child,
#glivnIlustrationopMainInsBenefTbl tbody tr:nth-child(16) td:last-child,
#glivnIlustrationopMainInsBenefTbl tbody tr:nth-child(17) td:last-child,
#glivnIlustrationopMainInsBenefTbl tbody tr:nth-child(19) td:last-child{
	padding-left: 15px !important
}

#glivnIlustrationopCriticIllTbl tr:nth-child(1) td:nth-child(1),
#glivnIlustrationopCriticIllTbl tr:nth-child(2) td:nth-child(4),
#glivnIlustrationopCriticIllTbl tr:nth-child(3) td:nth-child(2),
#glivnIlustrationopCriticIllTbl tr:nth-child(4) td:nth-child(3),
#glivnIlustrationopCriticIllTbl tr:nth-child(6) td:nth-child(2),
#glivnIlustrationopCriticIllTbl tr:nth-child(7) td:nth-child(3),
#glivnIlustrationopCriticIllTbl tr:nth-child(7) td:nth-child(4){
	text-decoration:underline;
}
#glivnIlustrationopSummaryBenefitsTbl thead tr:first-child th:nth-child(2),#glivnIlustrationopSummaryBenefitsTbl thead tr:first-child th:first-child,#glivnIlustrationopSummaryBenefitsTbl tbody tr td:first-child{
	text-align:left !important;
	padding-left: 5px;
}
#glivnIlustrationopSummaryBenefitsTbl thead tr:nth-child(2) th:first-child{
	border-right:0px !important;
}
#glivnIlustrationopSummaryBenefitsTbl thead tr:nth-child(2) th:first-child,#glivnIlustrationopSummaryBenefitsTbl thead tr:nth-child(2) th:last-child{
	text-align:left !important;
	padding-left: 5px;
}
#glivnIlustrationopSummaryBenefitsTbl tbody tr td:first-child{
	padding-left: 10px;
}
#glivnIlustrationopSummaryBenefitsTbl tbody tr:last-child td:first-child{
	padding-left: 5px;
}
#glivnIlustrationopSummaryBenefitsTbl tbody tr td:first-child,#glivnIlustrationopSummaryBenefitsTbl tbody tr td:nth-child(2){
	border-right:1px solid #000000 !important;
}
#glivnIlustrationopSummaryBenefitsTbl tbody tr:last-child td{
	font-weight:bold !important;
}
#glivnIlustrationopCriticIllTbl .illustrator_details_table   th{
	font-size:13px;
}
#glivnIlustrationopPolicyDetails tbody tr td,#glivnIlustrationopRiderTbl tbody tr td,#glivnIlustrationopTotPremTbl tbody tr td{
	width:19% !important;
}
#glivnIlustrationopPolicyDetails tbody tr td:nth-child(3),#glivnIlustrationopRiderTbl tbody tr td:nth-child(3),#glivnIlustrationopTotPremTbl tbody tr td:nth-child(3){
	width:17% !important;
}
#glivnIlustrationopPolicyDetails tbody tr td:nth-child(4),#glivnIlustrationopRiderTbl tbody tr td:nth-child(4),#glivnIlustrationopTotPremTbl tbody tr td:nth-child(4){
	width:21% !important;
}
#glivnIlustrationopTotPremTbl tbody tr td:last-child{
	text-align:right !important;
}
#glivnIlustrationopTotPremTbl tbody tr td{
	font-weight:bold;
}
#glivnIlustrationopPolicyDetails tbody tr:first-child td:nth-child(1){
	text-align:left !important;
}
#glivnIlustrationopPolicyDetails tbody tr td:nth-child(1){
	text-align:left !important;
}
#glivnIlustrationopRiderTbl tbody tr td:nth-child(1){
	text-align:left !important;
}
#glivnIlustrationopPolicyDetails tbody tr:nth-child(2) td:last-child{
	border-bottom:1px solid #000000 !important;
}
#glivnIlustrationopPremFreqTbl thead tr:first-child th:first-child,#glivnIlustrationopPremFreqTbl tbody tr:nth-child(1) td:first-child{
	text-align:left !important;
}
#glivnIlustrationopPremFreqTbl tbody tr:last-child td:first-child{
	font-weight:bold;
}
#glivnIlustrationopPremFreqTbl thead tr,#glivnIlustrationopPremFreqTbl tbody tr{
	line-height: 10px;
}
.table_headerHighlight_noBorder .illustrator_table_head >th{
	border-right: 0px;
	border-left: 1px solid #000;
}
.table_headerHighlight_noBorder .illustrator_table_head:first-child th:first-child{
	border-left: 0px;
}

#glivnIlustrationopBenefitIllusRiderTblLA1 tbody tr td:first-child,#glivnIlustrationopBenefitIllusRiderTblLA1 tbody tr td:last-child,
#glivnIlustrationopBenefitIllusRiderTblLA2 tbody tr td:first-child,#glivnIlustrationopBenefitIllusRiderTblLA2 tbody tr td:last-child,
#glivnIlustrationopBenefitIllusRiderTblLA3 tbody tr td:first-child,#glivnIlustrationopBenefitIllusRiderTblLA3 tbody tr td:last-child,
#glivnIlustrationopBenefitIllusRiderTblLA4 tbody tr td:first-child,#glivnIlustrationopBenefitIllusRiderTblLA4 tbody tr td:last-child,
#glivnIlustrationopBenefitIllusRiderTblLA5 tbody tr td:first-child,#glivnIlustrationopBenefitIllusRiderTblLA5 tbody tr td:last-child{
	text-align:left !important;
}
#glivnIlustrationopBenefitIllusRiderTblLACommon thead tr th:first-child,
#glivnIlustrationopBenefitIllusRiderTblLA1 tbody tr td:first-child,
#glivnIlustrationopBenefitIllusRiderTblLA2 tbody tr td:first-child,
#glivnIlustrationopBenefitIllusRiderTblLA3 tbody tr td:first-child,
#glivnIlustrationopBenefitIllusRiderTblLA4 tbody tr td:first-child,
#glivnIlustrationopBenefitIllusRiderTblLA5 tbody tr td:first-child{
	width:30%;
	border-bottom: 0px !important;
}
#glivnIlustrationopBenefitIllusRiderTblLACommon thead tr th:nth-child(2),
#glivnIlustrationopBenefitIllusRiderTblLA1 tbody tr td:nth-child(2),
#glivnIlustrationopBenefitIllusRiderTblLA2 tbody tr td:nth-child(2),
#glivnIlustrationopBenefitIllusRiderTblLA3 tbody tr td:nth-child(2),
#glivnIlustrationopBenefitIllusRiderTblLA4 tbody tr td:nth-child(2),
#glivnIlustrationopBenefitIllusRiderTblLA5 tbody tr td:nth-child(2){
	width:20%;
}

.mrgTopBrd.detailed_view_table_container{
	border-top:1px solid #000000 !important;
	margin-top:-1px !important;
}
.mainInsuredRiderTbl.ng-hide ~ .mrgTopBrd.detailed_view_table_container{
	margin-top:-2px !important;
}
#glivnIlustrationopBenefitIllusRiderTblLA2 thead tr th,
#glivnIlustrationopBenefitIllusRiderTblLA3 thead tr th,
#glivnIlustrationopBenefitIllusRiderTblLA4 thead tr th,
#glivnIlustrationopBenefitIllusRiderTblLA5 thead tr th{
	border-top:0px !important;
}
#glivnIlustrationopBenefitIllusRiderTblLA1 tbody tr td,
#glivnIlustrationopBenefitIllusRiderTblLA2 tbody tr td,
#glivnIlustrationopBenefitIllusRiderTblLA3 tbody tr td,
#glivnIlustrationopBenefitIllusRiderTblLA4 tbody tr td,
#glivnIlustrationopBenefitIllusRiderTblLA5 tbody tr td{
	border-right:1px solid #000000 !important;
	border-bottom:1px solid #000000 !important;
}
#glivnIlustrationopBenefitIllusRiderTblLA1 tbody tr td:first-child.no-custom-brd-btm,
#glivnIlustrationopBenefitIllusRiderTblLA2 tbody tr td:first-child.no-custom-brd-btm,
#glivnIlustrationopBenefitIllusRiderTblLA3 tbody tr td:first-child.no-custom-brd-btm,
#glivnIlustrationopBenefitIllusRiderTblLA4 tbody tr td:first-child.no-custom-brd-btm,
#glivnIlustrationopBenefitIllusRiderTblLA5 tbody tr td:first-child.no-custom-brd-btm{
	border-bottom:0px !important;
}
#glivnIlustrationopBenefitIllusRiderTblLA1 tbody tr td:first-child.custom-brd-top,
#glivnIlustrationopBenefitIllusRiderTblLA2 tbody tr td:first-child.custom-brd-top,
#glivnIlustrationopBenefitIllusRiderTblLA3 tbody tr td:first-child.custom-brd-top,
#glivnIlustrationopBenefitIllusRiderTblLA4 tbody tr td:first-child.custom-brd-top,
#glivnIlustrationopBenefitIllusRiderTblLA5 tbody tr td:first-child.custom-brd-top{
	border-top:1px solid #000000 !important;
	border-bottom: 0px !important;
}
#glivnIlustrationopBenefitIllusRiderTblLA1 tbody tr:first-child td:first-child.custom-brd-top,
#glivnIlustrationopBenefitIllusRiderTblLA2 tbody tr:first-child td:first-child.custom-brd-top,
#glivnIlustrationopBenefitIllusRiderTblLA3 tbody tr:first-child td:first-child.custom-brd-top,
#glivnIlustrationopBenefitIllusRiderTblLA4 tbody tr:first-child td:first-child.custom-brd-top,
#glivnIlustrationopBenefitIllusRiderTblLA5 tbody tr:first-child td:first-child.custom-brd-top{
	 border-top:0px  !important; 
}

#glivnIlustrationopBenefitIllusRiderTblLA1 tbody tr td:nth-child(2),
#glivnIlustrationopBenefitIllusRiderTblLA2 tbody tr td:nth-child(2),
#glivnIlustrationopBenefitIllusRiderTblLA3 tbody tr td:nth-child(2),
#glivnIlustrationopBenefitIllusRiderTblLA4 tbody tr td:nth-child(2),
#glivnIlustrationopBenefitIllusRiderTblLA5 tbody tr td:nth-child(2){
	text-align:right !important;
}

#glivnIlustrationopBenefitIllusRiderTblLA1 tbody tr td:last-child,
#glivnIlustrationopBenefitIllusRiderTblLA2 tbody tr td:last-child,
#glivnIlustrationopBenefitIllusRiderTblLA3 tbody tr td:last-child,
#glivnIlustrationopBenefitIllusRiderTblLA4 tbody tr td:last-child,
#glivnIlustrationopBenefitIllusRiderTblLA5 tbody tr td:last-child{
	border-right:0px !important;
	width:55%;
}
#glivnIlustrationopCustomerDetails  tbody tr td:first-child{
	text-align:left !important;
}
#glivnIlustrationopBenefitIllusRiderTblLA1 tbody tr:last-child td,
#glivnIlustrationopBenefitIllusRiderTblLA2 tbody tr:last-child td,
#glivnIlustrationopBenefitIllusRiderTblLA3 tbody tr:last-child td,
#glivnIlustrationopBenefitIllusRiderTblLA4 tbody tr:last-child td,
#glivnIlustrationopBenefitIllusRiderTblLA5 tbody tr:last-child td{
	border-bottom:0px !important;
}

.table_normal.outside_border.onlyTheadBorder #glivnIlustrationopPremiumTbl.illustrator_details_table th,
.table_normal.outside_border.onlyTheadBorder #glivnIlustrationopPremiumTbl2.illustrator_details_table th,
.table_normal.outside_border.onlyTheadBorder #glivnIlustrationopPremiumTbl3.illustrator_details_table th{
	border-right: 0px !important;
	border-left: 1px solid #000 !important;
}
.table_normal.outside_border.onlyTheadBorder #glivnIlustrationopPremiumTbl.illustrator_details_table tr:first-child th:first-child,
.table_normal.outside_border.onlyTheadBorder #glivnIlustrationopPremiumTbl2.illustrator_details_table tr:first-child th:first-child,
.table_normal.outside_border.onlyTheadBorder #glivnIlustrationopPremiumTbl3.illustrator_details_table  tr:first-child th:first-child{
	border-left: 0px !important;
}

/* ECI PRODUCT CUSTOMIZATION */
.bold-value span:last-child{
	font-weight:bold;
}
#glivnIlustrationopPremiumTbl4 thead tr th,
#glivnIlustrationopPremiumTbl4 tbody tr td{
	font-weight:bold !important;
	font-size:12px !important;
}
.eci_pdt_header{
	text-align:left !important;
	font-weight: bold;
	background: #FFFFFF;
	padding-left:10px !important;
}
.eci_pdt #glivnIlustrationopCustomerInformation tbody tr td:first-child{
	padding-left:10px !important;
}
.eci_pdt #glivnIlustrationopCustomerInformation tbody tr td{
	text-align:left !important;
}
.eci_pdt #glivnIlustrationopPolicyInformation thead tr th{
	background: #FFFFFF;
}
.eci_pdt #glivnIlustrationopPolicyInformation thead tr th,
.eci_pdt #glivnIlustrationopPolicyInformation tbody tr td,
.eci_pdt #glivnIlustrationopRiderTbl thead tr th,
.eci_pdt #glivnIlustrationopRiderTbl tbody tr td{
	width:14% !important;
	padding-left:10px !important;
}
.eci_pdt #glivnIlustrationopPolicyInformation thead tr th:first-child,
.eci_pdt #glivnIlustrationopPolicyInformation tbody tr td:first-child,
.eci_pdt #glivnIlustrationopRiderTbl thead tr th:first-child,
.eci_pdt #glivnIlustrationopRiderTbl tbody tr td:first-child{
	text-align:left !important;
	width:28% !important;
}
.eci_pdt #glivnIlustrationopPolicyInformation thead tr:first-child th{
	border-bottom:1px solid #000000 !important;
}

.eci_pdt #glivnIlustrationopPolicyInformation thead tr th:nth-child(2),
.eci_pdt #glivnIlustrationopPolicyInformation thead tr th:last-child,
.eci_pdt #glivnIlustrationopPolicyInformation tbody tr td:nth-child(2),
.eci_pdt #glivnIlustrationopPolicyInformation tbody tr td:last-child,
.eci_pdt #glivnIlustrationopRiderTbl thead tr th:nth-child(2),
.eci_pdt #glivnIlustrationopRiderTbl thead tr th:last-child,
.eci_pdt #glivnIlustrationopRiderTbl tbody tr td:nth-child(2),
.eci_pdt #glivnIlustrationopRiderTbl tbody tr td:last-child{
	text-align:right !important;
}

#glivnIlustrationopVitaGoldenHealthPremierPlanTbl tr.noBorderBtm td:first-child{
	border-bottom:0px !important;
}

/* ECI PRODUCT CUSTOMIZATION */




table#glivnIlustrationopCriticIllTbl tbody td, table#glivnIlustrationopCriticIllTbl thead th{
	height: 25px !important;
	line-height: 16px !important;
	padding: 2px !important;
	vertical-align: top;
	width: 19%;
}
li.dropdown.agentNameLink  a{
	cursor: default;
}
.generaliOutputLogoImg{
	background-image: url('../img/Vietnam_Generali.jpg');
	height: 45px;
	width: 275px;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat; 
	margin: 20px 0px;
	float:right;
}
/* ILLUSTRATION OUTPUT */


/* EAPP */
#ExistingPolicies thead tr th{
	padding:10px 5px 10px 5px;
}
.sign-wrapper.custom .signature-wrapper{
	height:150px;
}
#ProductDetails #riderDetails .white-box{
	padding:15px 10px;
}
.min-width180_with_wrap{
	width: 170px !important;
	min-width: 170px !important;
	max-width: 170px !important;
	word-wrap: break-word;
}
.min-width75_with_wrap{
	width: 75px !important;
	min-width: 75px !important;
	max-width: 75px !important;
	word-wrap: break-word;
}

#MainInsuredQuestionnaire .fa-minus{
	padding: 0px;
}
#MainInsuredQuestionnaire .roundRedMinus{
	line-height: 22px !important;
	height: 22px;
	width: 22px;
	font-size: 10px;
}
.sign-wrapper.custom .custom-btn-wrapper .btn{
	width: 135px;
	margin: 10px;
}
.sign-wrapper.custom .custom-btn-wrapper .btn.clearSign{
	padding-left: 5px;
	padding-right: 5px;
}
.sign-wrapper .esign-buttons .btn{
	width: 145px !important;
	margin: 10px !important;
}
/* EAPP */
.illustration_summary p.text-center{
	text-align:center;
}
.adv-filter #filterSection .select-arrow,.adv-filter #filterSection .date-holder{
	margin-bottom:12px;
}
.prefixtext ~ input{
	width:60px;
}
.pop_up_control_group  label .iradio{
	margin: 0px !important;
}
.bootstrap-timepicker-hour,.bootstrap-timepicker-minute{
	/*pointer-events:none;*/
}
/* Table show/hide columns */
.hidden-phone.hide-col{
	display:none !important;
}
.hide-col{
	display:none !important;
}

.web #myApplications th.policyName,.web #myApplications td.policyName{
	display:block;
}
.web .no_sync_status_web{
	display:none !important;
}
.webPolicyName{
	display:none;
}
.web .webPolicyName{
	display:table-cell;
}


#mobile_touch_device  .visible-phone-table.show-col{
	display: table-cell !important;
}
/* Table show/hide columns */
#meetingHistorySection{
	min-height:150px;
	background-color: #eee9e9;
}
#popupMeetingHistory.min-height.callDetailsSection{
	min-height:60px;
}
.tabbable.min-height.callDetailsSection .btn_wrapper{
	padding:25px 0px;
    margin-left: 42%;
}
.underline{
	text-decoration:underline;
}
.remarksPopup .msg-content{
	word-wrap:break-word;
}
.pdgleft20{
	padding-left:20px;
}
.pdgleft10{
	padding-left:10px;
}
.hidden-phone.tab-additional-item{
	display:none !important;
}
.span3.no-mrg-left:not(.ng-hide){
	margin-left:0px;
}
.icn-wrapper img{
	cursor:pointer;
}
p.filter-label.only-tab{
	color: #c21b17;
    margin: 10px 0px;
    font-family: 'DBHelvethaicaMedium';
    font-size: 22px;
}
.disable-opacity{
	pointer-events:none;
	opacity:0.4;
}
.ipad .disable-ipad{
 	pointer-events:none;
	opacity:0.4;
}
.agentNameLink a:hover{
	background-color:transparent !important;
}
.text-center.med-padding img{
	cursor:pointer;
}
/* POPUP DESIGN FOR MOBILE VERSION */
.modal-body{
	background-color: #FFFFFF;
    margin: 0px 2% 10px;
    width: 96%;
    font-family: 'DBHelvethaicaRegular';
    font-size: 19px !important;
/*    height:1000px;*/
}
#referralsDetailsSection{
	min-height:350px;
}
#mobile_touch_device .remarkPopup .modal-body{padding: 15px;}
#mobile_touch_device .remarkPopup .msg-content{margin-top: 0;margin-bottom:10px;}
.modal-header{
	padding:0px 10px;
}
.typeaheadDesign ~ .dropdown-menu{
	background-color: white;
	border: 1px solid #ccc;
	width: 100%;
	cursor:pointer;
	max-height: 260px;
	overflow-y: auto;
}
.typeaheadDesign ~ .dropdown-menu li a{
	min-height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #CCC;
	word-wrap: break-word;
	white-space: pre-wrap;
}

.remarkPopup .modal .close {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    padding: 5px 10px;
    line-height: 1;
    font-size: 2rem;
}
.popover-content-mobile{
	padding:0px;
}
.msg-content {
	margin-top:20px;
	font-family: 'DBHelvethaicaRegular';
    font-size: 19px;
    background: #fff;
}
.modal-header-title{
	line-height: 40px;
	font-size: 16px;
	color: #33342f;
    font-family: 'DBHelvethaicaRegular';
    font-size: 19px;
}
.popup-close{
	padding: 2px 10px;
	font-size: 32px;
	line-height: 32px;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
	color: #c32a24;
	opacity: 1;
	margin-top: -5px;
	margin-right: -10px;
}

.transBgDropDown{
	background: none;
	opacity: 1;
}
.tab-additional-item {
	background: #FFF;
	float: none;
	margin-bottom: -10px;
	padding: 5px 15px;
	text-align: right;
}
.alternate-accordion-clr a{
	color:#333333;
}
.alternate-accordion-clr a .fa{
	color:#c32a24;
}
.alternate-accordion-clr ~ .collapse .accordion-inner{
	border-top: none;
}
.accordion-right-component-wrapper{
	position: absolute;
	width: 120px;
	margin-right: 10px;
	right: 30px;
	top: 6px;
}
.vt_VT .accordion-right-component-wrapper.cust-checkbox{
	width: 235px;
}
.accordion-right-component-wrapper .icheckbox {
	margin-top:3px;
	margin-right: 8px;
}
.accordion-right-component-wrapper label {
	font-size:13px;
}
.customarea .accordion-header a.collapsed ~ .accordion-right-component-wrapper{
	display:none;
}
.questionnaire-content .span9 ~ .span3{
	text-align:right;
}
/* POPUP DESIGN FOR MOBILE VERSION */
#width47{
	min-width:47px !important;
	max-width:47px !important;
}
#width82{
	min-width:82px !important;
	max-width:82px !important;
}
#width85{
	min-width:85px !important;
	max-width:85px !important;
}
#width71{
	min-width:71px !important;
	max-width:71px !important;
}
#width58{
	min-width:58px !important;
	max-width:58px !important;
	word-wrap:break-word;
}
#width110{
	/*min-width:110px !important;
	max-width:110px !important;*/
}
.minWidth120{
	min-width:120px !important;
	max-width:120px !important;
}
.white-box .pop_up_control_group.mbl-mrg-top0 .span12{
	margin-left:0px !important;
} 
.accordion td, .accordion th{
	font-size: .85em;
}
.btn_wrapper > .span2.inline-block{
	display: inline-block;
	float: none;
	width: auto;
}
.btn_wrapper > .span2.inline-block + .span2.inline-block{
	margin-left: 10px;
}

button.btn.btn-large, input[type="submit"].btn.btn-large {
	padding-top: 10px!important;
	padding-bottom: 5px!important;
	    /*opacity: 0.6;*/
	    height: 48px;
	    border-left: 1px solid #f1f1f1;
	/*padding-right: 12px!important;
	padding-left: 11px!important;
	margin-right: 20px!important;
	width: 197% !important;*/
}

.btn-default1
{
	background-color: white!important;
	background-image: none !important;
}
.height143{
	height: 143px !important;
}
table.table-sorter td {
	padding: 12px 5px 12px 20px;
}
.width62{
	min-width: 62px;
}
.#mobile_touch_device label {
	font-size: 12px;
}

table.table-sorter th {
	/*padding: 10px 0px 10px 20px;*/
	
}
#meetingHistorySection table.table-sorter th,
#meetingHistorySection table.table-sorter td {
	border: none;
	padding: 10px 5px;
}
.table td{
	font-size:1.1em;
}
.pop_up_control_group .radio.inline {
	width: 25%;
}
#addReferralBtn {
	word-wrap: break-word;
	white-space: initial;
	width: 150px;
	padding: 5px 0;
}
#creatorDetails input.ng-valid-required + .formError,
#creatorDetails input.ng-valid-pattern + .formError + .formError {
	display: none;
}
#creatorDetails input.ng-invalid-required:not(.highlight) + .formError,
#creatorDetails input.ng-invalid-pattern:not(.highlight) + .formError + .formError {
	display: none;
}
#creatorDetails input.ng-invalid-required.highlight + .formError,
#creatorDetails input.ng-invalid-pattern.highlight + .formError + .formError {
	color: #c32a24;
	display: block;
	font-size: 90%;
	margin-top: -12px;
}

/*feedback section*/
.rating-section .accordion-heading {
	background: #EEE9E9;
}

/*Trial for showing scrollbar in iOS devices*/
.iphone .frame::-webkit-scrollbar {
	-webkit-appearance: none;
}
.iphone .frame::-webkit-scrollbar:vertical {
	width: 11px;
}
.iphone .frame::-webkit-scrollbar:horizontal {
	height: 11px;
}
.iphone .frame::-webkit-scrollbar-thumb {
	border-radius: 8px;
	border: 2px solid white; /* should match background, can't be transparent */
}
.iphone .frame::-webkit-scrollbar-track { 
	background-color: #fff; 
	border-radius: 8px; 
} 
/***************************/
.row-fluid.multiple-column .span6.offset6{
	margin-left: 50.28205128%;
}
/* Illustration Form Fields */
.illustration .radio-group,
.illustration .datetime .date-holder {
	margin-bottom: 12px;
}
.illustration .radio-group {
	text-align: center;
}
/* Illustration Form Fields  */
/* SIGNATURE DESIGN */
.sign-wrapper.custom{
	width:100%;
	float:left;
}
#PolicyHolderSubTab .collapse{
	overflow:visible;
}
#mainInsuredSubTab .collapse{
	overflow:visible;
}
	.min_max_width88{
		min-width: 88px;
		max-width: 88px;
	}
	.min_max_width30{
		min-width: 30px;
		max-width: 30px;
	}
	.min_max_width60{
		min-width: 60px;
		max-width: 60px;
	}	
	.min_max_width50{
		min-width: 50px;
		max-width: 50px;
	}
	.min_max_width130{
		min-width: 130px;
		max-width: 130px;
	}
	
.sign-wrapper.custom .sign-text{
	line-height: 16px;
	margin: 3px 0px;
	padding: 0px;
}
.sign-wrapper.custom .signature-wrapper{
	width:400px;
}
.sign-wrapper.custom .custom-btn-wrapper{
	width:310px;
	float:right;
	padding:10px 0px;
}
.sign-wrapper.custom .custom-btn-wrapper .btn{
	margin: 5px;
	max-width: 145px !important;
}
.mrg-top-22{
	margin-top:22px;
}

/* SIGNATURE DESIGN */
/* custom overlay in dashboard */
.custom-overlay{
    position: absolute;
    width: 100%;
    z-index: 1000;
    /* background-color: #eee9e9; */
/* 	-moz-opacity:0.9;
	-webkit-opacity:0.9;
	opacity:0.9; */
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
/* .carousel-inner .tablet-container-fluid .sections{
	display:none;
	} */
.custom-overlay.visibilityCheck ~ .sections{
	visibility:hidden;
}
.custom-overlay.visibilityCheck.ng-hide ~ .sections{
	visibility:visible;
	display:block;
}
.custom-overlay .dashboard{
	
    margin-top: 120px;
    width: 100%;
    left: 5%;
    height: 216px;
	margin-left:0px;
}
.custom-overlay .dashboard .leadsContainer{
    padding: 33px 0;
}
.custom-overlay .dashboard .leadsContainer .circularDiv{
	width: 80px;
    height: 80px;
    line-height: 80px;
}
.disabled .uploadLabel {
	color:#ccc;
}
.disabled .uploadLabel + input[disabled="disabled"] {
	opacity:0;
}
/* custom overlay in dashboard */



/* TABLET LANDSCAPE and DESKTOP ORIENTED DESIGN */
/* @media screen and (max-width:1366px){ */
label{
	line-height:24px;
}
.modal {width: 36%;margin-left: -20%;}
.leadBtnWrapper{
	text-align:center
}
.leadBtnWrapper .leadBackkBtn{
	position:absolute;
	left:0px;
}

.page-title{
	top:0px;
}
/* BASIC MOBILE _TABLET_DESKTOP DESIGN */
#mobile_touch_device .visible-phone-table{
	display:none !important;
}
.hidden-tab{
	display:none !important;
}
/* BASIC MOBILE _TABLET_DESKTOP DESIGN */
#filterSection .control-label.span5{
	width:100%;
}
#filterSection .span3 .span7{
	width:100%;
}
 #filterSection p.filter-label{
	margin-top: 0px; 
	margin-bottom: 5px;
	line-height:12px;
}

/* BASIC STYLES */
.container-fluid {
    padding: 0;
}
.tablet-container-fluid{
	padding-left:20px;
	padding-right:20px;
}
/* BASIC STYLES */


body, .home_image_banner .container{
    padding-right:0px;
    padding-left:0px;
}
.datetime .placeholder-overlay{
	display:none !important;
}
#popupMeetingHistory .accordion-heading{
	background-color:#dedede;
}
#popupMeetingHistory .accordion-inner{
	padding:0px;
}
#popupMeetingHistory .spacing-half{
	height:0px;
}
#popupMeetingHistory .black-text{
    color: #c32a24;
	font-weight:bold;
	font-family: Arial !important;
	text-transform: uppercase;
}
.accordion-toggle .fa-angle-up{
	/*font-size: 1.4em !important;*/
    font-weight: bold !important;
}
.accordion-toggle .fa-angle-down{
	/*font-size: 1.4em !important;*/
    font-weight: bold !important;
}
#meetingHistorySection tr {display: table;width:100%;}
#meetingHistorySection td {font-size: .85em;line-height:18px;}
#meetingHistorySection th {line-height:18px;}
/* ALERT BOX ERROR COUNT */
.alert-box.warning .number{
	-moz-box-shadow: 0px 0px 1px #000;
	-webkit-box-shadow: 0px 0px 1px #000;
	box-shadow: 0px 0px 1px #000;
}
.alert-box-holder {
    right: 20px;
}
.alert-box.warning0{
	height: 35px;
	width: 35px;
	margin: 0;
}
.alert-box .error-status{
	height: 35px;
	width: 35px;
	margin: 0;
}
/* ALERT BOX ERROR COUNT */
.syncPopup .subheading{
	margin-top:30px;
}

.syncPopup .modal-header-title{
	display: inline-block !important;
}

.okSyncBtn{
	width: 30%;
    margin: 0 auto !important;
}

.font-med{
	font-size:14px;
}
.text-red{
	color:#c32a24 !important;
	    font-size: 19px !important;
    font-family: 'DBHelvethaicaMedium' !important
}
    
    #mobile_touch_device td {
        padding: 6px 0 0 8px;
        font-size: 19px;
        font-family: 'DBHelvethaicaRegular';
	    /*word-break: break-all;*/
    }
    #mobile_touch_device tr {
        border: none;
        height: auto;
        line-height: 38px;
    }
	.navbar.login .navbar-inner{
		min-height:45px;
	}
    .navbar-small .navbar .navbar-inner {
        min-height: 45px;
    }
    
.mbl-mrg-top0{
	margin-top:0px;
}
.mrg-rgt15{
	margin-right:15px !important;
}
.width15{
	width:15%;
}
.filter-label + .select-arrow{
	position:relative;
}
.overflow-hidden{
	overflow:hidden !important;
}
/* COMMON */
.padding0{
    padding:0px !important;
}
.padding8{
    padding:8px !important;
}
.mbl-mrg-top0{
	margin-top:0px; !important;
}
/* COMMON */

.navbar .brand {
    float: none;
	cursor:default;
}
.navbar.login .brand{
	padding:20px 20px 14px 20px;
	cursor:default;
}
.navbar.login .navbar-inner{
	min-height:45px;
}
.navbar-small .navbar .navbar-inner {
    min-height: 45px;
}
.navbar.login .brand.image{
	padding:13px 20px 13px 20px;
}
.navbar.login .brand.image img{
	height: 38px;
}
.navbar .brand.image img{
	height: 30px;
	margin-left:5px;
}
.image-login .login {
margin-top: -229px;
margin-left: -196px;
width: 350px;
height: auto;
background-color: #c7302d !important;
opacity: 0.90 !important;
}

.image-login .login-th {
margin-top: -93px;
margin-top: -229px;
margin-left: -196px;
width: 350px;
height: auto;
background-color: #c7302d !important;
opacity: 0.90 !important;
}

/*.welcome{
	margin: 16px 0;
	font-size: 26px;
	font-family:'Conv_helvetica-light',Arial, sans-serif !important;
}*/
.forgotPwd{
	padding-top: 5px;
}
.large {
	font-size: 100% !important;
	/*font-family: Arial;*/
}

.image-login .input-area .fa-2x {
	top: 14px;
	font-size: 1em !important;
}
.image-login {
	margin-top:0px;
	/*margin-bottom: 30px;*/
	margin-left: 0px;
	top: 0px;
	overflow:scroll;
	background-image: url('../img/banner-login1.jpg') !important;
	background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
 

	 background-repeat:no-repeat;
    background-size:100% 95%;
}
.image-login table{
	height: 40px;
	text-align: center;
}

.image-login table td {
	padding: 0px;
}
.image-login table td.tag {
        height: 40px;
        border-left: 1px solid #b6afb0 !important;
}
.image-login form {
	padding-top: 0px;
}
.error-blk {
	line-height: 17px;
	min-height: 0px;
	
}
.footer {
	padding: 0px 0px;
	margin-left: 0px;
	margin-right: 0px;
    height: 30px;
     font-family: 'DBHelvethaicaRegular';
     font-size: 17px;
}
.footer p{
	line-height: 30px;
}
/*.userFaCircle{
	font-size: 10px;
	border: solid white 1px;
	border-radius: 50%;
	padding-top: 11px;
	padding-right: 6px;
	padding-bottom: 6px;
	padding-left: 6px;
	color: white;
}
.userFaCircle:active {
	color: grey;
	border: solid grey 1px;
}
.userFaCircle:hover{
	
}*/
.carousel-indicators li span{
	border: 1px solid #999;
}
.carousel-indicators li.active span{
	border: 0px;
}
#iPlanProductCarousel .carousel-indicators li {
	border: 1px solid #999;
}
.userFaContainer{
     float: right;
     margin-top: 10px;
     padding: 7px 10px;
     margin-right: 2px;
 }

.userOptions{
	background: #c32a24;
	position: absolute;
	right: 0px;
	top: 57px;
	list-style: none;
}
.userOptions li{
	text-align: center;
	margin: 0 8px;
}
.userOptions li:nth-child(2) a{
        border-top: solid 1px #ac1e1a;
        border-bottom: solid 1px #ac1e1a;
}
    
/*.encircle{
	padding: 5px;
	border: solid 1px;
	border-radius: 50%;
	color: white;
	text-decoration: none;
}*/
.userOptions > li > a{
	display:block;
	padding: 12px 4px;
}

/*.userOptions > li > a:hover{
    background-color: #98211C;
}*/


.theme_switcher_popup{
	/*-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	width: 50%;
    left: 25%;
    top: 105px;*/
    -webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	width: 25%;
	top: 60px;
	right: 1%;

}
.theme_switcher_popup .subheading{
	margin-top: 0px;
	    font-family: 'DBHelvethaicaLight';
	    font-size: 28px;
	background: #EEE9E9;
}
.closebtn_popup{
	padding: 3px 7px;
	margin-right: 3px;
	cursor: pointer;
}
.closebtn_popup:active{
	color:#98211C;
}
.radioContainer{
	display: table;
	padding-top: 28px;
	width: 80%;
    margin-left: 10%;
}
.radioContainer label{
	width: 40%;
}
.icheckbox input{
	width:18px;
	height:18px;
	left:0px;
}
.radioContainer label .iradio.radio-focus-valid {
    margin-bottom: 0;
    min-height: 18px;
}

.languageButtons{
	padding-bottom: 27px;
}
.closeMargin{
	margin-right: 4px;
}
.saveBtnPopup{
	margin-left: 15px;
	color: white;
	background: #c32a24;
	width: 100px !important;
}
/* .saveBtnPopup:active{
	background: #98211C;
} */
.cancelBtnPopup{
	color: #c32a24;
	background: white;
	width: 100px !important;
}
/* .cancelBtnPopup:active{
	color: white;
	background: #c32a24;
} */
.color-black{
	color: black;
}
.color-theme{
	color: #c32a24;
}
.bgcolor-slate{
	background-color: #EEE9E9;
}


input[type='radio'].mbl-cust-radio {
	-webkit-appearance:none;
	width:30px;
	height:30px;
	border:1px solid darkgray;
	border-radius:50%;
	outline:none;
	box-shadow:0 0 5px 0px gray inset;
}

input[type='radio'].mbl-cust-radio:before {
	content:'';
	display:block;
	width: 40%;
	height: 40%;
	margin: 30% auto;  
	border-radius:50%;    
}
/* input[type='radio']:checked:before {
	background:brown;
} */
input[type='radio'].mbl-cust-radio.checked:before {
	background-color:#c32a24;
}
.langContainer{
	margin: 0 10px 20px;
	background-color: white;
}
.accordion-header .accordion-toggle span {color: #333;}
#popupContent .rating{
	text-align:center;
}
.rating i{
	margin:0px 10px;
}
.rating-section .accordion-header .accordion-toggle span.red-text {color: red;}
.rating-section .rating {
    text-align: center;
}
.rating .fa-star-o{
    font-size: 35px;
    margin-right: 5px;
}
.rating .selected.fa-star-o {    
    font-size: 35px;
    margin-right: 5px;
	color: #FFD203;
}
.tab-content .btn{
    text-transform: uppercase;
    width: 100px;
}
button#feedbackCancelBtn {
    background: white;
    color: #c32a24;
    margin-right: 16px;
}
.dashMainTitleContainer{
    background: #F4F4F4;
    border-bottom: 1px solid #e1aeb0;
}
.dashMainTitle{
    color: #33342f;
    padding: 10px 13px;
    display: inline-block;
    margin: 5px 0px;
    font-family: Arial, sans-serif;
    font-size: 19px;
    font-weight: bold;
}
.line{
	margin: 10px auto 30px auto;
}
.dashboard{
    min-height: 125px;
    margin: 8px 8px;
    background: rgba(255,255,255,0.9);
	float: left;
	width: 47%;
	margin: 11px;
}
.pos_relative_95{
	width:95%;
	position:relative;
}
.pos_relative_95 .create_lead_dash_btn{
	height: 38px;
	width: 38px !important;
	padding: 0px;
}
.create_lead_dash_btn{
	position:absolute;
	top:5px;
	right:0px;
}
.create_lead_dash_btn.add_red{
	height:38px;
	width:38px !important;
}

.leadStatus {
    display: inline;
}
.main-container{
    margin-top: 20px;
}
.dashHeading{
    border-bottom: 1px solid #eee9e9;
    width: 100%;
	background-color: white;
}

.dashTitles{
    color: #c21b17;
    padding: 5px;
    margin-top: 0px;    
    margin-bottom: 0px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
}

.dashboard .leadsContainer {
    overflow: hidden;
    padding: 12px 0;
}

.leadsContainer{
        width: 100%;
    /* background: white; */
    /* height: 100px; */
}
.circularDiv {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    line-height: 50px;
    display: inline-block;
  
}

 .redBorder {
     border: 5px solid #ef654f; 
     margin:0 auto;    
     
}
 .orangeBorder {
     border: 5px solid #efbea8; 
     /*float:left;
     margin-left: 10px;*/
}
 .grayBorder {
     border: 5px solid #d8d9da;  
     /*float: right;
     margin-right: 10px;*/
}
 .greenBorder {
     border: 5px solid #a1b675; 
     /*float:left;
     margin-left:65px;*/
}
 .yellowBorder {
     border: 5px solid #dbc07c;   
     /*float:right;
     margin-right:65px;*/
}


.dashblock {
   /*border: 1px solid red; */
    /* text-align: center; */
    /* vertical-align: middle; */
    /* background: yellow; */
    /* margin-top: 20px; */
}

.dashBlockForTwo{
    
}

.dashboard .leadsContainer .dashblock {
    width: 33.33%;
    float: left;
	margin-left:0px;
}

.dashboard .leadsContainer .dashBlockForTwo {
    width: 50%;
    float: left;
	margin-left:0px;
}

.dashData{
        /* margin-top: 20px; */
    font-size: 25px;
    /* vertical-align: middle; */
    /* display: table-cell; */
	cursor:pointer;
}
.dashValue{
    margin-bottom: 0px;
   /* font-family: "Helvetica Neue";*/
    font-weight: normal;
    font-size: 16px;
    color: #33342f;
	cursor:pointer;
}
h3.subheading{
    font-size: 16px;
}
/* .fa-plus-circle{
     height:32px;
    width:32px;
    border: none;
    cursor: pointer;
    color:white;
    background-color:black;
    position:relative;
}*/

 /*.plusCircle {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: 1px solid #c32a24;
    color: #c32a24;
    text-align: center;
    font: 25px Arial, sans-serif;
    position: relative;
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    line-height: 26px;
    cursor: pointer;
} */
.add_red {    
   padding: 8px 10px;
    width: 24px;
    height: 24px;
}
.dashMainTitleContainer  .add_red {  
    padding: 15px 10px;
    width: 24px;
    height: 24px;
}

.filter_red{
    padding: 8px 10px;
    width: 24px;
    height: 24px;
}
    
.dashboardTable{

	height: 140px;
	background: #FFF;
	float: left;
	width: 47%;
	margin: 11px;

}
.endtable2{
	width: 100%;
}
.YTDSection  {
	background-color: #FBF3F3;
    float: left;
    width: 48%;
    height: 80px;
    position: relative;
    margin: 10px 1%;
}
.YTDSection p.value{
	color: #779141;
	font-size: 16px;       
	font-family: Arial, sans-serif;
	margin-bottom:0;
	padding-top: 10px;
	position: absolute;
	text-align: center;
	width:100%;
}
.YTDSection p.title{
	color: #b4aaaa;
	font-size: 14px;        
	/*font-family: "Helvetica Neue";*/
	font-weight: normal;
	margin-bottom:0;
	padding-top: 40px;
	position: absolute;
	text-align: center;
	width:100%;
}

.two_col_span6,
.two-col-span6{
	float:left !important;
	margin-left: 2% !important;
	width:49% !important;
}
.row-fluid [class*="two_col_span6"]:first-child,
.row-fluid [class*="two-col-span6"]:first-child{
	margin-left: 0 !important;
}/*
#mobile_touch_device .date-holder {
    background-color: #eee9e9;
}*/

.newLine{
	display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}
.two-line{
	min-height:48px;
}
label .iradio {
	display: inline-block;
	float: none;
	vertical-align: inherit;
	min-height: inherit;
    background-image: url(../img/red1@2x.png);
    background-position: -160px 0;
    background-size: 200px 20px;
    margin: 5px 20px 0px 0px;
}
label .iradio.checked {
    background-position: -140px 0;
}
input[type="radio"]
{
	outline: none!important;
}
.visible-phone-table
{
	display: table-cell !important;
}
.width69
{
	min-width: 69px;
}
.icn-wrapper.header-style {
	margin: 5px 10px 0px;
}

.icn-wrapper.header-style .icn{
	border: 1px solid;
	border-radius: 50%;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	vertical-align: top;
	width: 30px;
}
.icn-wrapper.header-style .fa-filter{
	margin-right: 0;
	color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #c32a24;
}
#mobile_touch_device .tabbable #popupTabs,
#mobile_touch_device .tabbable #popupContent {
	/*overflow: hidden;*/
	overflow:visible;
}
#mobile_touch_device .tabbable .nav-tabs{
	border-bottom: 0;
	display: table;
	width: 100%;
}

#mobile_touch_device  .nav-tabs > li{
    background: #ebd7d8;
    display: table-cell;
    float: none;
    border-right: 1px solid #ccc;
    color: #d99998;
}

#mobile_touch_device  .nav-tabs > li:last-child{
    
    border-right: none !important;
}
#mobile_touch_device  .nav-tabs > li.active {
    background: #fff;
	color: #c21b17 !important;
}
#mobile_touch_device  .nav-tabs > li.active a{
color: #c21b17 !important;
}

#mobile_touch_device  .nav-tabs > li > a {
    background: transparent;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
        font-family: 'DBHelvethaicaMedium';
    font-size: 22px;
	color: #b78789 ;
	
}
#mobile_touch_device #popupTabs .horizontalTab.nav-tabs > .active > a,
#mobile_touch_device #popupTabs .horizontalTab.nav-tabs > .active > a:hover,
#mobile_touch_device #popupTabs .horizontalTab.nav-tabs > .active > a:focus {
    border: 1px solid transparent;
    background: transparent;
}
 
/*#mobile_touch_device tr {
    height: auto;
    line-height: inherit;
}*/
#mobile_touch_device tr {
    /*height: 60px;*/
	line-height: inherit;
}

#mobile_touch_device #illustrationListing tr {
    height: 60px;
}
 
.image-banner.container {
    background: #F4F4F4;
    border-bottom: 1px solid #b78789;
}


.title-style{
    color: black;    
    font-size: 20px;    
    font-weight: bold;
    padding: 15px 10px 10px 10px;
    font-family: Arial, sans-serif;
    font-size: 19px;
    font-weight: bold;
	margin-bottom: 2px;
}

body, .home_image_banner .container {
     padding-left: 0px; 
     padding-right: 0px; 
}

.image-banner{
	margin-bottom:0px;
}

.nav-tabs > li, .nav-pills > li {
    /*float: left;*/
    width: 50%;
}
.nav-tabs {
    border-bottom: 0px;
    margin-bottom: 0px;
}
.nav-tabs li a{
	padding:12px 0px;
}
.nav-tabs.two{
	width:40% !important;
}
.nav-tabs.twoLead{
	width:40% !important;
}
.nav-tabs.three{
	width:50% !important;
}
.nav-tabs.four{
	width:70% !important;
}


.nav-tabs.four.SItab {
	margin-left: 3 ;
    margin-bottom: 24px;
    margin: 0 0 0px 50px;
    padding: 1 ;
    background: #fff;
/*    float: left;*/
    padding-right: 217px;
/*    padding: 18px 19px;*/
}
.nav-tabs.four.SItab li a
{
	padding: 11px 6px 9px 11px;
	border: none !important;
}
.nav-tabs.four.SItab li a:hover
{
	padding: 11px 6px 9px 11px;
	border: none !important;
}
.nav-tabs.two li{
	width: auto;
	text-align:center;
}
.nav-tabs.twoLead li{
	width:50%;
	text-align:center;
}
.nav-tabs.three li{
	width: auto;
	text-align:center;
}
.nav-tabs.four li{
    width: auto;
	text-align:center;
}
.nav-tabs.five li {
    width: auto;
	text-align:center;
}

.nav-tabs.two.SItab li{
	width:24.5%;
	text-align:center;
}

.nav-tabs.three.SItab li{
	width:25%;
	text-align:center;
}
.nav-tabs.four.SItab li{
    width: 23.9%;
	text-align:center;
}
.nav-tabs.five.SItab li {
    width: 19%;
	text-align:center;
}



.nav-tabs.five.SItab li a
{
	padding: 11px 6px 9px 11px;
	border: none !important;
}
.nav-tabs.five.SItab li a:hover
{
	padding: 11px 6px 9px 11px;
	border: none !important;
}

.nav-tabs.customTabLifeStyle li{
    
}
.tabbable{
}

.segments .nav-tabs > li
{
    border: none;
}

.segments .nav-tabs > li > a:hover,
.segments .nav-tabs > li > a
{
    margin: 0;
    border: none;
    border: 0;
}

.segments .nav-tabs > li > a {
    background:#EBDDDE;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: Arial, sans-serif;
    font-size: 15px;

}
.segments .nav-tabs > li > a:hover,
.segments .nav-tabs > li.active > a {
    background:white;

}

/* Edited by: Jerry */
.image-banner{margin: 0;}
.margin-bottom{margin-bottom: 0;}
div#popupContent {clear: both;}
.cus-pop-style {
    position: fixed;
    width: 100% !important;
    height: 100%;
    background: rgba(0,0,0,0.9);
    top: 0;
    left: 0;
    z-index: 1035;
	margin:0px !important;
}
.adv-filter{
	height: auto;
	display:none;
}
.adv-filter.show{
	display:block;
	/*z-index:9997;*/
	    z-index: 111;
}
.adv-filter, .cus-pop-style > .container{
	 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    left: 7%;
    padding: 0;
    position: relative;
    width: 87% !important;
  /*  z-index: 1030;*/
    background: #d8cdcd;
    top: 50%;
    height: 145px;
    margin-top: 15px;
}



/*.adv-filter, .cus-pop-style > .container{
	 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    left: 20%;
    padding: 0;
    position: fixed;
    width: 60% !important;
    z-index: 1030;
    background: #EEE9E9;
	top: 50%;
	height: 310px;
	margin-top: -155px;
	
}*/
 

.cus-pop-style > .container{box-shadow:none;}
.adv-filter .container{padding: 10px;width: auto;}
.adv-filter .filter-title {
	 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	line-height: 25px;
	padding: 0 0 5px;
	width: 100%;
}
/*.adv-filter #filterSection{background: #FFF; padding: 0 10px 10px;overflow: auto; padding-top: 12px}*/
.adv-filter #filterSection{ padding: 0 10px 10px;overflow: auto; padding-top: 12px}
.adv-filter #filterSection .control-label + *[class*='span'] {
    margin-left: 0;
}
.adv-filter .filter-title .fa {
    font-size: 20px;
    line-height: 25px;
}
.adv-filter .btn{margin: 0;}
.adv-filter .form-control, .adv-filter .select-arrow, .adv-filter .btn {
    margin-bottom: 0px;
}

p.filter-label {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
	line-height:12px;
}
#popupContent p.filter-label{
	line-height:24px;
}
.btn-group.filterButtons {display: block;}
.btn-group.filterButtons .btn{display: inline-block;}
.tab-content {
	margin: 0;
    padding: 0px 10px;
}
#referralsDetailsSection .alert-box-holder{
	z-index:1040;
}
#referralsDetailsSection .alert-box-holder.active{
	z-index:9997;
}
.ref-title{
	color: #333333;
    font-size: 14px;
    line-height: 14px;
    margin: 2px 0px 0px 5px;
}
.add-referral {
    height: 24px;
    margin-bottom: 5px;
    width: 24px;
    line-height: 24px;
    background-image: url(../img/icon/Add_red.png);
	background-size: 100% 100%;
	cursor:pointer;
}
.cus-pop-style .form-content {
    margin: 0 10px 10px;
    background: #FFF;
    padding: 10px;
}
.add-ref-leftCol .add-ref-pop-title{
    background: #EEE9E9;
    color: black;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 18px;
}

.add-ref-leftCol .add-ref-pop-title i{
    color: #c32a24;
}
.add-ref-leftCol .add-ref-pop-title i:active{
    color: grey;
}

.add-ref-leftCol + div{overflow: hidden;}

.filter-container{
    background: #EEE9E9;
}

.filter-title{
    font-size: 16px;
    padding: 10px;
}
#creatorDetails{
    background: #FFF;
    margin: 0px 10px 10px;
	padding: 10px;
}


input.form-control.filter-input {
    margin-left: 10px;
    width: 94%;
    font-size: 14px;
    border-color: #a1a1a1;
    height: 40px;
}
#creatorDetails .filter-input{
	margin-left: 0px;
	margin-top: 10px;
}
#creatorDetails .span6{
	margin-top: 10px;
}
.btn-group.filterButtons .btn {    
    margin: 10px 0;
    padding: 6px 20px;
    font-size: 14px;
}
.btn-group .btn + .btn {
    margin-left: 10px;
}
#mobile_touch_device #popupTabs.tabdesignOverride .nav-tabs > li {
    display: block;
	margin-bottom: -15px;
    width: auto;
}
#mobile_touch_device #popupTabs.tabdesignOverride .nav-tabs > li a {
    text-align: left;
    padding: 10px;
    font-weight: bold;
}
/* Staging */
.stage-progress {
	display:none;
    background: #eee9e9;
    padding: 10px 5px 20px;
	margin-bottom: 15px;
}
.stage-progress .row-fluid {
    margin: 0;
}
.stage-progress .span4 {
    color: #a1a1a1;
    float: left;
    min-height: inherit;
    position: relative;
    text-align: center;
    width: 33.33%;
    z-index: 10;
	margin-left:0px;
}
.stage-progress .twoStage .span4 {
    width: 50%;
}
.stage-progress .span4 .outer-circle {
    background-color: #FFF;
    border-radius: 100%;
    display: block;
    float: none;
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    margin: auto;
    position: relative;
    text-align: center;
    width: 20px;
}
.stage-progress .span4 .inner-circle {background-color: #eee9e9;}
.stage-progress .stage-icon .span4:before{
    background: #FFF;
    content: "";
    display: block;
    height: 4px;
    left: 0%;
    margin: 0 0 0 5px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    z-index: 0;
}
.stage-progress .stage-icon .span4:first-child:before{left: 50%;}
.stage-progress .stage-icon .span4:last-child:before{left: -50%;}
.stage-progress .stage-icon .span4:first-child:last-child:before{background: transparent;}
.stage-progress .span4.enabled {color: #d27c7a;}
.stage-progress .span4.enabled.active {color: #c32a24;}
.stage-progress .stage-icon .span4.enabled:before{}
.stage-progress .span4.enabled .inner-circle {background-color: #d27c7a;color: #FFF;}
.stage-progress .span4.enabled.active .inner-circle {background-color: #c32a24;color: #FFF;}

.stage-progress .span4.enabled.active:after{
    content: '';
    position: absolute;
    bottom: -29px;
    left: 42%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #eee9e9;
}
.highlight .ng-invalid{border: 1px solid #F00;}
/* Staging Ends */

.backBtn{
    float: left;
	padding: 16px 0px 16px 10px;
    width:24px;    
}
.backBtnContainer{ 
    float: left;
    height: 58px;
	display:none;
}
#creatorDetails input.ng-invalid.highlight{border-color: red;}
.datetime .date-holder {
    margin-bottom: 0;
}
#mobile_touch_device label {
    min-height: inherit;
}
#mobile_touch_device label.filter-label {
    min-height: 20px;
    margin-bottom: 0px;
    margin-top: 10px;
}

#mobile_touch_device label.radio {
    min-height: 18px;
	/* margin-top:8px; */
}
#mobile_touch_device label.radio span:not(.newLine){
	margin-top: 2px;
    display: inline-block;
}
#mobile_touch_device h2.subheading {
    font-size: 16px;
    font-weight: bold;
    padding: 0 10px;
    line-height: 1.32;
    
}
#mobile_touch_device #leadListTbl tbody {
    height: calc(100vh - 335px) !important;
}
#mobile_touch_device #leadListTbl tbody.lang-change {
    height: calc(100vh - 385px) !important;
}
#mobile_touch_device #referralsDetailsSection tbody {
    height: calc(100vh - 355px) !important;
}
#mobile_touch_device #referralsDetailsSection tbody.lang-change {
    height: calc(100vh - 355px) !important;
}
#mobile_touch_device select option.placeholder_option {
    /* visibility: hidden; */
}
#leadListTbl tbody td{
	line-height:18px;
	height:50px;
}
#mobile_touch_device .tableBtn {
    width: 24px;
	height: 24px;
    display: inline-block;
}
.tableBtn.deleteIcon {
    background-image: url(../img/icon/delete_red_48.png);
	background-size: 100% 100%;
	cursor:pointer;
}
.tableBtn.deleteIcon.disabled{
	opacity:0.4;
}
.iradio.radio-focus-valid {
	border-radius: 50%;
}
.iradio.radio-focus-invalid {
	border-radius: 50%;
}
/* Edited by: Jerry >> Ends */
    .lead_delete{
        
         height: 38px;
    }
/* Praveen changes for POPUP BOX */
     .leadcommunication i1{
        margin-top: 5px;
		float: left;
    }
    
	.popupclose{   
		-webkit-appearance: none;
		background: transparent;
		border: 0;
		color: #c32a24;
		float: right;
		font-size: 36px;
		font-weight: 200;
		opacity: 1;
		padding: 0;
		margin-right: 5px;
		cursor:pointer;
	}
    .leadheader {
		padding: 10px 0px 10px 10px;
    }
    .leadheader span {
	  font-size: 24px;
	  line-height: 24px;
	  margin-left: 10px;
	  margin-top: 2px;
	  float: left;
	  word-wrap: break-word;
		width: 90%;
    }
    .statustable thead{
    color: white;
    font-weight: 100;
    background-color: #e1aeb0;
    height:60px !important;
    text-align:center;
    font-size: 16px !important;
    }
    .statustable  {
      margin-bottom: 20px;
      width: 96% !important;
     margin-left: 2%;
        font-size: 15px;
        
    }
    hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
    .statustable tr{
        height:60px !important;
        text-align:center;
        font-size: 16px !important;
    }
    .statustable tbody{
        
        background-color: white;
    }
    .statustable tr td{
        background-color: white;
    }
    .socialmedia {
		margin-top: 0px;
		height: 150px;
		background-color: #F4F4F4; 
    }
    .socialmedia .mediaicons{
         border-top: 1px solid #E2D4D5 !important;
    
    }
    .socialmedia table {
	width: 100%;
    position: absolute;
}
.socialmedia table td.med-padding{
	padding:10px 0px 5px;
}
.socialmedia table td.small-padding{
	padding:2px 0px;
}

  .popover-mobile {
	  position: fixed;
		top: 10%;
		left: 15%;
		width: 70%;
		margin-left: 0px;
		 -webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
      background-color: #EEE9E9;
}

/* Praveen changes for POPUP BOX */
/* CHANGES FOR DELETE OVERLAY */
/* .white-box{
	padding:0px;
} */
/* .delete-overlay-tbl{
    position: absolute;
    display: block;
    width: 50%;
    height: 60px;
    background-color: #ED6763 !important;
    padding: :0;
    box-sizing:border-box;
    z-index: 1;
    top: inherit;
	z-index:9999;
	right: 0px;
	margin: 0px !important;
/*  transform: translateX(100%);
    -webkit-transform: translateX(100%); 
} */ 
.zero-width{
	width:0px;
	padding:0px !important;
}
.delete-overlay-tbl{
position: absolute;
  display: table-cell;
  width: 350px;
  height: 100%;
  background-color: #ED6763 !important;
  padding: :0;
  z-index: 1;
  top: 0px;
  z-index: 9999;
  right: 0px;
} 
.delete-overlay-tbl a{
	top: 50%;
  position: relative;
  margin-top: -18px;
  display: block;
}
.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}
@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}
.transparent-overlay{
	position: fixed;
    display: block;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 9990;
	margin:0px !important;
	background-color: transparent !important;
	height:auto !important;
}
    .padding-right30
	{
        padding-right:30px; 
    }
    .padding-right60
	{
		padding-right:60px; 
	}
	.dualInputWrap{
		 overflow-y: scroll;
         height: 135px;
         overflow-x: hidden;
	}
    .dualInputAdd
	{
		float: right;
		margin-top: -33px;
		height: 25px;
		width: 25px;
		text-align: center;
		 -webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
    }
	 .dualInputAdd.disabled-icon{
		opacity:0.6;
	 }
	 .dualInputRemove.disabled-icon{
     	opacity:0.6;
     	pointer-events:none;
     }
     .dualInputCtrl input[disabled="disabled"]{
     	border:1px solid #CCCCCC;
     }

	.dualInputRemove  {
		position: absolute;
		right: -28px;
		top: 2px;
	}
	.dualInputRemove .fa:before {
		color: red;
		font-size: 22px;
		text-align: center;
		width: 25px;
		height: 30px;
		display: block;
		line-height: 28px;
	}
	.dualInputCtrl {
		position: relative;
	}
.dualInputCtrl,
.dualInputLabel,
.dualInputCtrl *,
.dualInputLabel *{
	 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dualInputCtrl input,.dualInputLabel label {
	float: left;
	margin: 0 0 5px;
	width:50%;
}

.dualInputCtrl input {
	height: 30px;
}
.leadBtnWrapper{
	text-align:center;
}
.leadBtnWrapper .leadBackBtn{
	position:absolute;
	left:0px;
	font-family: 'DBHelvethaicaRegular';
    font-size: 19px;
    color: #333333;
}
.leadBackBtn .fa-angle-left
{
	padding-bottom: 3px;
}
	.customarea .accordion-header {
		position: relative;
	}
	.customarea .accordion-header a{
		border-top: 1px solid #d7d7d7;
		display: block;
		font-weight: normal;
		padding: 5px 10px;
	}
	.customarea  ul.nav-tabs + .accordion-header a{
		border-top: none;
	}
	.customarea .accordion-header .fa {
		font-size: x-large;
		height: 24px;
		line-height: 24px;
		text-align: center;
		width: 24px;
	}
	.customarea .accordion-header a .fa.fa-angle-down,
	.customarea .accordion-header a.collapsed .fa.fa-angle-up{
		display: none;
	}
	.customarea .accordion-header a.collapsed .fa.fa-angle-down{
		display: block;
	}
	.customarea .accordion-header > .fa.fa-edit {
		position: absolute;
		right: 50px;
		font-size: large;
		top: 5px;
	}
	.customarea .accordion-header + .collapse.in {
		border-top: 1px solid #d2d2d2;
	}
/* } */
#buyOnlineTabs ul#registration_tabs li:nth-child(6n) a{
	width:90%;
}
.IllustrationSummary-header{
	width: 420px;
	display: inline-block;
}
#MainInsuredFamilyHistory  table tr th{
	width:22%;
}
#MainInsuredFamilyHistory  table tr th:nth-child(5){
	width:6%;
}
#MainInsuredFamilyHistory  table tr th:nth-child(6){
	width:6%;
}
/* END OF 1366 */
 /*@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      .product-listing-page .carousel, .product-rec-container .carousel{
      	width:97%;
      }
      .product_width
      {
      	width: 100% !important;
      }
    }*/
@media screen and (max-width:1024px){

.custom-overlay .dashboard{
    width: 90%;
	margin-left:5%;
}
	#ExistingPolicies .fund_input_header{
		width:170px;
	}
	#mobile_touch_device  .fundName_txt_box{
		width: 140px !important;
	}
	#mobile_touch_device  #ExistingPolicies select{
		width: 154px !important;
	}
	#mobile_touch_device  #ExistingPolicies .select-arrow.cust{
		width: 154px !important;
		position:relative;
	}
	#buyOnlineTabs ul#registration_tabs li:nth-child(6n) {
		width:155px;
	}
	.prefixtext ~ input{
		width:30px;
	}

	/*.makeaCopy_btn 
	{
	  width: 22.5%;
	}*/
	.general_brd.errorBlockPosition {
    position: fixed;
    width: 68.5%;
    bottom: 120px;
    margin-left: 2px;
	}

	.illustrationListing-table{
   /* margin-top: 80px;*/
	}

	#illustrationListing  tr:nth-child(1) td:nth-child(1),
	#illustrationListing tr:nth-child(1) td:nth-child(2),
	#illustrationListing  tr:nth-child(1) td:nth-child(3),
	#illustrationListing tr:nth-child(1) td:nth-child(4),
	#illustrationListing  tr:nth-child(1) td:nth-child(5),
	#illustrationListing tr:nth-child(1) td:nth-child(6),
	#illustrationListing  tr:nth-child(1) td:nth-child(7),
	#illustrationListing tr:nth-child(1) td:nth-child(8),
	#illustrationListing  tr:nth-child(1) td:nth-child(9),
	#illustrationListing tr:nth-child(1) td:nth-child(10),#illustrationListing  tr:nth-child(1) td:nth-child(11),
	#illustrationListing  tr:nth-child(1) td:nth-child(12)
	{

	padding-top:50px;
	padding-bottom:10px

	}


}
@media only screen and (min-width: 1025px){
	#mobile_touch_device  .fundName_txt_box{
		width: 165px !important;
	}
	#mobile_touch_device  #ExistingPolicies .select-arrow.cust{
		width: 179px !important;
		position:relative;
	}
	#mobile_touch_device  #ExistingPolicies select{
		width: 179px !important;
	}
	/*.makeaCopy_btn 
		{
		  width: 23.5%;
		}*/
	
}

@media only screen and (min-width: 962px) {
	/*#mobile_touch_device .image-login .login-th
	 { 
		margin-top: -194px;
		margin: 0px 3px 6px 0px !important;
	}

	#mobile_touch_device .image-login .login	
	 { 
		margin-top: -212px;
		margin: 0px 3px 6px 0px !important;
	}
	
	#mobile_touch_device .Logo_TH {
	width: 110px;
	}
	#mobile_touch_device .text-center.subheading.welcome.Logo_title
	{
		font-size:30px;
		line-height: 1.0;
	}
	#mobile_touch_device .margintop-10
	{
	margin-top:0px;
	}*/
}


 


/* MOBILE and TABLET PORTRAIT ORIENTED DESIGN */
@media screen and (max-width:799px){
.pushy{
	width:240px;
}
.pushy a{
    font-size: 1em;
	padding: 15px 10px;
}
.text-right-mbl-center-tab{
	text-align: right !important;
}
.custom-overlay .dashboard{
    width: 96%;
	margin-left:2%;
}
.home-image-banner {
  margin-left: 0px;
  margin-right: 0px;
}
.text-right-mbl-center-tab div.span2 .btn{
	padding:0px !important;
	padding-top:5px !important;
	padding-bottom:5px !important;
	width:100px
}

label{
	line-height:12px;
}
p.filter-label.only-tab{
	display:none;
}
	
.dashboard,.dashboardTable{
	float: none;
    width: 96%;
    margin: 2%;
} 
    
.modal {left: 50%;margin-left: -45%;width: 90%;}
.theme_switcher_popup{
	width: 90%;
    left: 5%;
}
.delete-overlay-tbl{width: 200px;}
.adv-filter, .cus-pop-style > .container{
    left: 2.5%;
    width: 95% !important;
	height: auto;
	margin-top:0px;
	top:5%;
}
	.nav-tabs.two,.nav-tabs.twoLead,.nav-tabs.three,.nav-tabs.four{
		width:100% !important;
	}
	.popover-mobile {
		left: 1%;
		width: 98%;
	}
	.leadBtnWrapper{
		text-align:left
	}
	.leadBtnWrapper .leadBackBtn{
		position:static;
	}
	.stage-progress {
		display:block;
	}
	p.filter-label{
		margin: 13px 5px 5px 0px;
	}
	label.mbl-mrg-top10{
		margin-top:10px;
	}
	#mobile_touch_device .brand.visible-tablet{
		display: none!important;
	}

	/* BASIC MOBILE _TABLET_DESKTOP DESIGN */
	.hidden-phone{
		display:none !important;
	}
	#mobile_touch_device .hidden-phone{
		display:none !important;
	}
	#mobile_touch_device .visible-phone-table{
		display:table-cell !important;
	}
	#mobile_touch_device.web .visible-phone-table.web-mobile-hide{
    		display:none !important;
    }
	.hidden-tab{
		display:block !important;
	}
	/* BASIC MOBILE _TABLET_DESKTOP DESIGN */
	#filterSection .control-label.span5{
		width:inherit;
	}	
	#filterSection .span3 .span7{
		width:inherit;
	}
	#filterSection p.filter-label{
		margin-top: 5px;
		margin-bottom: 0;
		line-height:inherit;
	}
	.adv-filter{
		height: 85vh;
	}
	.adv-filter #filterSection{
		height:calc(85vh - 70px);
	}
	.image-login{
		background-image: url('../img/banner-login1.jpg') !important;
	}
	.tablet-container-fluid{
		padding-left:0;
		padding-right:0;
	}
	.dashboardContent .tablet-container-fluid{
		padding-left: 20px;
		padding-right: 20px;
	}
	.navbar .brand {
		margin: 0 40px;
		text-align: center;
	}
}
@media screen and (max-width:450px){
	.home-image-banner .fullimage{
		display:none;
	}
	.home-image-banner .fullimage.mobile{
		display:block;
	}	
}

@media screen and (orientation: landscape){
.adv-filter #filterSection {overflow: auto;}

/* Edited by: Jerry */
/* #mobile_touch_device #leadListTbl tbody {height: calc(100vh - 150px) !important;} */
/* Edited by: Jerry >> Ends */

}

@media screen and (max-width:1024px){
	.IllustrationSummary-header{
		font-size: 26x;
		width: 340px;
	}
	.product-details-section #productName{
		/*font-size: 9px !important;*/
	}
	#mobile_touch_device .illustration-fixed-section{
        height: 100%;
    }
    .Illustration-scrollable-section{
      height: 495px;
    }
    #mobile_touch_device  .product-details-section{
    	  height: 480px;
    }

}
@media screen and (max-width:980px){
	.IllustrationSummary-header{
		font-size: 18px;
		width:295px;
	}

}

/*@media screen and (min-width:1280px){
	 .image-login .login {
		margin-top: -222px;
		}
}*/
.pushy li{
	cursor:pointer;
}
/* DESKTOP DESIGNS */
.web ::-webkit-scrollbar-thumb {
    background-color: #CCCCCC;
}
.web::-webkit-scrollbar-thumb {
    background-color: #CCCCCC;
}

/* MOZILLA ONLY DESIGN */
@-moz-document url-prefix() {
    .general-modal-overlay{
		opacity:1;
	}
	#page_loader{
		opacity:1;
	}
	.modal-backdrop,
	.modal-backdrop.fade.in{
		opacity:1;
	}
	#mobile_touch_device select option{
		height:20px;
		line-height:20px;
	}

}
/* MOZILLA ONLY DESIGN */
/* DESKTOP DESIGNS */

/* Vietnam Language */
.vt_VT .cp_droppable_section .header{
	line-height: 24px;
	padding-top: 5px;
}
.vt_VT .product-listing-page .illustration-btn{
	font-size: 12px;
	line-height: 14px;
}
.vt_VT .product-listing-page .ebroc{
	line-height: 16px;
}
.vt_VT .product-listing-page .keyfeature{
	line-height: 16px;
}
.vt_VT .illustrationSummary-header-container .btn.btn-block.btn-large.col-sm-12{
	padding-left:5px;
	padding-right:5px;
	width: 105%;
}
/* Vietnam Language */

.modal.routeMapModel{
	top:5% !important;
	width:80%;
	margin-left:-40%;
}
.modal.routeMapModel .modal-body{
	padding: 1%;
	margin: 0px 2% 2%;
}
#map {
	height: 400px;
	width: 100%;
}
.map-timed-out .modal-backdrop.fade{
	z-index:10000;
}
.map-timed-out .modal{
	z-index:10001;
}
.socialmedia.withMap{
  	  height: 230px;
}

/* GEOFENCING CHANGES */
#agentdetails .geo_status{
	width:4px !important;
	padding:0px !important;
}
#agentdetails .geo_status.green_code{
	background-color:green;
}
#agentdetails .geo_status.yellow_code{
	background-color:yellow;
}
#agentdetails .geo_status.grey_code{
	background-color:grey;
}
/* GEOFENCING CHANGES */


/* NEW LANDING PAGE DEVICE CHANGES */
.landing_page_wrapper .box{
    margin-bottom: 20px;
    margin-top: 18px;
}
.home-image-banner .box {
	height:320px;
}
.dashboardContent .subheading{
	margin: 25px 0px;
}
.dashboardContent .line{
	margin:20px auto 20px auto;
}
.dashboardContent .dashboard .leadsContainer{
	padding: 25px 0;
}
.dashboardContent .dashboardTable {
	height: 180px;
}

.dashboardContent .dashTitles{
	 padding: 10px;
}
.dashboardContent .YTDSection{
	height: 110px;
}
.dashboardContent .YTDSection p.value{
	padding-top: 30px;
}
.dashboardContent .YTDSection p.title{
	padding-top: 70px;
}
.dashboardContent .custom-overlay .dashboard{
	margin-top:180px;
}
.dashboardContent .YTDSection{
	height: 110px;
}
#landingCarousel .carousel-indicators li {
	padding: 10px;
	border: none !important;
}
.landing_page_wrapper .bg-dark {
	padding:16px 0px;
}
/* WEB MODE DESIGN  */
.web .dashboardContent .subheading{
	margin: 10px 0px;
}
.web .dashboardContent .dashTitles{
	 padding: 5px;
}
.web .dashboardContent .dashboard .leadsContainer{
	padding: 10px 0;
}
.web  .dashboardContent .dashboardTable {
	height: 140px;
}
.web .dashboardContent .YTDSection p.value{
	padding-top: 25px;
}
.web  .dashboardContent .YTDSection p.title{
	padding-top: 50px;
}
.web  .dashboardContent .YTDSection{
	height: 85px;
}
.web  .home-image-banner .box {
	height: 310px;
}
.web  .landing_page_wrapper .box{
    margin-bottom: 10px;
    margin-top: 0px;
}
.web  .dashboardContent .custom-overlay .dashboard{
	height:180px;
}
.web  .custom-overlay .dashboard{
	margin-top:160px;
}
/* WEB MODE DESIGN  */
@media screen and (max-width:1024px){
	.dashboardContent .subheading{
		margin: 20px 0px;
	}
	.dashboardContent .line{
		margin:10px auto 10px auto;
	}
	.dashboardContent .dashboard .leadsContainer{
		padding: 20px 0;
	}
	.landing_page_wrapper .box{
	    margin-bottom: 17px;
		margin-top: 30px;
	}
	.dashboardContent .dashboardTable {
		height: 170px;
	}
	.home-image-banner .box {
		height:290px;
	}
	.dashboardContent .YTDSection{
		height: 105px;
	}
	.landing_page_wrapper .bg-dark {
		padding:19px 0px;
	}
}
@media screen and (max-width:980px){
	#wrapper.landingPage{
		padding-bottom:25px;
	}
}

/* NEW LANDING PAGE DEVICE CHANGES */
.loader #page_loader {
	z-index: 9999 !important;
}
.web #wrapper.landingPage{
	padding-bottom:25px;
}
/* NEW LANDING PAGE DEVICE CHANGES */
@media only screen and (min-width: 1024px){
	.web#mobile_touch_device .custom-sized-carousel-modal {
		height: 530px !important;
	    width: 740px !important;
	    margin-left: -370px !important;
	    overflow-x: hidden;
	 overflow-y: hidden;
	}
	.web#mobile_touch_device .fna-custom-sized-carousel-modal {
		height: 530px !important;
	    width: 740px !important;
	    margin-left: -370px !important;
	    overflow-x: hidden;
	 overflow-y: hidden;
	}
	.web#mobile_touch_device .custom-sized-carousel-modal .modal-body{
		height: 485px;
		width: 100%;
	}
	.web#mobile_touch_device .fna-custom-sized-carousel-modal .modal-body{
		height: 485px;
		width: 100%;
	}
	.carousel-control
	{
		top: 44% !important;
	}
	/* FNA changes by LE Team Start */
	.web#mobile_touch_device .fna-carousel-page-content{
		width: 650px;
	    height: 485px;
	}
	/* FNA changes by LE Team End */
	.web#mobile_touch_device .carousel-page-content{
		width: 650px;
	    height: 485px;
	}
	/* FNA Changes by LE Team Start */
	.web#mobile_touch_device .fna-goal-carousel-page-content{
		width: 650px;
	    height: 485px;
	}
	/* FNA Changes by LE Team End */
	.eappListing-SPAJ .customDropIcon{
		top:40%;
	}
	#mobile_touch_device .eappListing-SPAJ select{
		padding: 4px 6px 4px 6px !important;
	}
	.datepicker .table-condensed th.dow{
		line-height: 14px;
		background-color: #CCC;
		-webkit-border-radius: 0px !important;
		-moz-border-radius: 0px !important;
		border-radius: 0px !important;
	}
	.vt_VT .datepicker table tr td span.month{
		font-size:11px;
	}
}
@media only screen and (min-width: 1280px){
	/* #mobile_touch_device .image-login .login
	 { 
		margin-top: -212px;
		margin: 0px 3px 6px 0px !important;
	}
	#mobile_touch_device .Logo_TH {
	width: 110px;
	}
	#mobile_touch_device .text-center.subheading.welcome.Logo_title
	{
		font-size:30px;
		line-height: 1.0;
	}
	#mobile_touch_device .margintop-10
	{
	margin-top:0px;
	}*/
	
}
@media screen and (min-width: 800px) and (max-width: 861px) {
   .hasMandatory
{
position: absolute;
margin-top: 18px;
left: 73%;
text-align: right;
width: 25%
}
}
@media screen and (min-width: 862px) and (max-width: 935px) {
   .hasMandatory
{
position: absolute;
margin-top: 18px;
left: 74%;
text-align: right;
width: 25%
}
}
@media screen and (min-width: 936px) and (max-width: 1280px) {
   .hasMandatory
{
position: absolute;
margin-top: 18px;
left: 75%;
text-align: right;
width: 25%
}
}
.ban{
width:100%;
    margin-bottom:20px;
}
.push{
    margin-bottom:20px;
}
.push.footer{
     margin-bottom:0px;
}
.marg{
    margin-top:20px;
}
.bordbtm{
    border-bottom: 1px solid #eaecef;
    width: 109%;
}
.backfilter{
    background-color: #eaecef;
}

#callDetailsSection .span4:after{
    content:'';
    height:100%;
    
    border:1px solid #eaecef;
    position:absolute;
    top:0px;
    right:-2%;
    bottom:0px;
}
#callDetailsSection .span4:last-child:after{
    border:0px;
}
 
.backfilter{
    background-color: #eaecef;
}
.popover.right.phone-popover{
	 height: auto;
	 max-width:inherit;
} 

.marginbottom20
{
	margin-bottom: 20px;
}

.modalCustom{    
    width: 80% !important;
    margin-left: -40% !important;
}
#eappListing tr[disabled="disabled"]{
	background: #B0B2B3!important;
	pointer-events: none;
}
#eappListing.table-striped  tbody > tr[disabled="disabled"] > td{
	background: #B0B2B3!important;
}
#illustrationListing tr[disabled="disabled"]{
	background: #B0B2B3!important;
	pointer-events: none;
}
#illustrationListing.table-striped  tbody > tr[disabled="disabled"] > td{
	background: #B0B2B3!important;
}
