/*!
 * Bootstrap Responsive v2.3.2
 *
 * Copyright 2013 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world by @mdo and @fat.
 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 34px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@-ms-viewport {
  width: device-width;
}
.hidden {
  display: none;
  visibility: hidden;
}
.visible-phone {
  display: none !important;
}
.visible-tablet {
  display: none !important;
}
.hidden-desktop {
  display: none !important;
}
.visible-desktop {
  display: inherit !important;
}
@media (min-width: 799px) and (max-width: 1024px) {
  .hidden-desktop {
    display: none !important;
  }
  .visible-desktop {
    display: none !important ;
  }
  .visible-tablet {
    display: inherit !important;
  }
   .visible-tablet-table.visible-tablet {
    display: table-cell !important;
  }
  
  .hidden-tablet {
    display: none !important;
  }
}
@media (max-width: 799px) {
  /*.hidden-desktop {
    display: inherit !important;
  }*/
  .visible-desktop {
    display: none !important;
  }
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: inherit !important;
  }
  .hidden-print {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .row {
    margin-left: -30px;
    *zoom: 1;
  }
  .row:before,
  .row:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row:after {
    clear: both;
  }
  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 30px;
  }
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 1170px;
  }
  .span12 {
    width: 1170px;
  }
  .span11 {
    width: 1070px;
  }
  .span10 {
    width: 970px;
  }
  .span9 {
    width: 870px;
  }
  .span8 {
    width: 770px;
  }
  .span7 {
    width: 670px;
  }
  .span6 {
    width: 570px;
  }
  .span5 {
    width: 470px;
  }
  .span4 {
    width: 370px;
  }
  .span3 {
    width: 270px;
  }
  .span2 {
    width: 170px;
  }
  .span1 {
    width: 70px;
  }
  .offset12 {
    margin-left: 1230px;
  }
  .offset11 {
    margin-left: 1130px;
  }
  .offset10 {
    margin-left: 1030px;
  }
  .offset9 {
    margin-left: 930px;
  }
  .offset8 {
    margin-left: 830px;
  }
  .offset7 {
    margin-left: 730px;
  }
  .offset6 {
    margin-left: 630px;
  }
  .offset5 {
    margin-left: 530px;
  }
  .offset4 {
    margin-left: 430px;
  }
  .offset3 {
    margin-left: 330px;
  }
  .offset2 {
    margin-left: 230px;
  }
  .offset1 {
    margin-left: 130px;
  }
  .row-fluid {
    width: 100%;
    *zoom: 1;
  }
  .row-fluid:before,
  .row-fluid:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row-fluid:after {
    clear: both;
  }
  .row-fluid [class*="span"] {
    display: block;
    width: 100%;
    min-height: 34px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2.56410256%;
    *margin-left: 2.51410256%;
  }
  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  .row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-left: 2.56410256%;
  }
  .row-fluid .span12 {
    width: 100%;
    *width: 99.95%;
  }
  .row-fluid .span11 {
    width: 91.45299145%;
    *width: 91.40299145%;
  }
  .row-fluid .span10 {
    width: 82.90598291%;
    *width: 82.85598291%;
  }
  .row-fluid .span9 {
    width: 74.35897436%;
    *width: 74.30897436%;
  }
  .row-fluid .span8 {
    width: 65.81196581%;
    *width: 65.76196581%;
  }
  .row-fluid .span7 {
    width: 57.26495726%;
    *width: 57.21495726%;
  }
  .row-fluid .span6 {
    width: 48.71794872%;
    *width: 48.66794872%;
  }
  .row-fluid .span5 {
    width: 40.17094017%;
    *width: 40.12094017%;
  }
  .row-fluid .span4 {
    width: 31.62393162%;
    *width: 31.57393162%;
  }
  .row-fluid .span3 {
    width: 23.07692308%;
    *width: 23.02692308%;
  }
  .row-fluid .span2 {
    width: 14.52991453%;
    *width: 14.47991453%;
  }
  .row-fluid .span1 {
    width: 5.98290598%;
    *width: 5.93290598%;
  }
  .row-fluid .offset12 {
    margin-left: 105.12820513%;
    *margin-left: 105.02820513%;
  }
  .row-fluid .offset12:first-child {
    margin-left: 102.56410256%;
    *margin-left: 102.46410256%;
  }
  .row-fluid .offset11 {
    margin-left: 96.58119658%;
    *margin-left: 96.48119658%;
  }
  .row-fluid .offset11:first-child {
    margin-left: 94.01709402%;
    *margin-left: 93.91709402%;
  }
  .row-fluid .offset10 {
    margin-left: 88.03418803%;
    *margin-left: 87.93418803%;
  }
  .row-fluid .offset10:first-child {
    margin-left: 85.47008547%;
    *margin-left: 85.37008547%;
  }
  .row-fluid .offset9 {
    margin-left: 79.48717949%;
    *margin-left: 79.38717949%;
  }
  .row-fluid .offset9:first-child {
    margin-left: 76.92307692%;
    *margin-left: 76.82307692%;
  }
  .row-fluid .offset8 {
    margin-left: 70.94017094%;
    *margin-left: 70.84017094%;
  }
  .row-fluid .offset8:first-child {
    margin-left: 68.37606838%;
    *margin-left: 68.27606838%;
  }
  .row-fluid .offset7 {
    margin-left: 62.39316239%;
    *margin-left: 62.29316239%;
  }
  .row-fluid .offset7:first-child {
    margin-left: 59.82905983%;
    *margin-left: 59.72905983%;
  }
  .row-fluid .offset6 {
    margin-left: 53.84615385%;
    *margin-left: 53.74615385%;
  }
  .row-fluid .offset6:first-child {
    margin-left: 51.28205128%;
    *margin-left: 51.18205128%;
  }
  .row-fluid .offset5 {
    margin-left: 45.2991453%;
    *margin-left: 45.1991453%;
  }
  .row-fluid .offset5:first-child {
    margin-left: 42.73504274%;
    *margin-left: 42.63504274%;
  }
  .row-fluid .offset4 {
    margin-left: 36.75213675%;
    *margin-left: 36.65213675%;
  }
  .row-fluid .offset4:first-child {
    margin-left: 34.18803419%;
    *margin-left: 34.08803419%;
  }
  .row-fluid .offset3 {
    margin-left: 28.20512821%;
    *margin-left: 28.10512821%;
  }
  .row-fluid .offset3:first-child {
    margin-left: 25.64102564%;
    *margin-left: 25.54102564%;
  }
  .row-fluid .offset2 {
    margin-left: 19.65811966%;
    *margin-left: 19.55811966%;
  }
  .row-fluid .offset2:first-child {
    margin-left: 17.09401709%;
    *margin-left: 16.99401709%;
  }
  .row-fluid .offset1 {
    margin-left: 11.11111111%;
    *margin-left: 11.01111111%;
  }
  .row-fluid .offset1:first-child {
    margin-left: 8.54700855%;
    *margin-left: 8.44700855%;
  }
  input,
  textarea,
  .uneditable-input {
    margin-left: 0;
  }
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 30px;
  }
  input.span12,
  textarea.span12,
  .uneditable-input.span12 {
    width: 1156px;
  }
  input.span11,
  textarea.span11,
  .uneditable-input.span11 {
    width: 1056px;
  }
  input.span10,
  textarea.span10,
  .uneditable-input.span10 {
    width: 956px;
  }
  input.span9,
  textarea.span9,
  .uneditable-input.span9 {
    width: 856px;
  }
  input.span8,
  textarea.span8,
  .uneditable-input.span8 {
    width: 756px;
  }
  input.span7,
  textarea.span7,
  .uneditable-input.span7 {
    width: 656px;
  }
  input.span6,
  textarea.span6,
  .uneditable-input.span6 {
    width: 556px;
  }
  input.span5,
  textarea.span5,
  .uneditable-input.span5 {
    width: 456px;
  }
  input.span4,
  textarea.span4,
  .uneditable-input.span4 {
    width: 356px;
  }
  input.span3,
  textarea.span3,
  .uneditable-input.span3 {
    width: 256px;
  }
  input.span2,
  textarea.span2,
  .uneditable-input.span2 {
    width: 156px;
  }
  input.span1,
  textarea.span1,
  .uneditable-input.span1 {
    width: 56px;
  }
  .thumbnails {
    margin-left: -30px;
  }
  .thumbnails > li {
    margin-left: 30px;
  }
  .row-fluid .thumbnails {
    margin-left: 0;
  }
}
@media (min-width: 800px) and (max-width: 1024px) {
  body {
    padding-top: 59px;
  }
  .navbar-small {
    padding-top: 59px;
  }
  .navbar .btn-navbar {
    margin-top: 15px;
    margin-right: 15px;
  }
  .navbar-inner {
    min-height: 45px;
  }
  .navbar .nav > li > a,
  .page_title {
    padding: 4px 5px 4px;
  }
  .nav > li > a > img {
    width: 30px;
  }

  /*#aboutuspage > li > a > img {
    width: 60px !important;
  }*/

  .container {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 799px) {
  body,
  .home_image_banner .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .image_banner {
    margin-left: -20px;
    margin-right: -20px;
  }
  body {
    padding-top: 59px;
  }
  .navbar-small {
    padding-top: 59px;
  }
  .navbar .btn-navbar {
    margin-left: 20px;
    margin-top: 15px;
    margin-right: 15px;
  }
  .navbar-inner {
    min-height: 45px;
  }
  .navbar .nav > li > a {
    padding: 4px 5px 4px;
  }
  .page_title {
    padding: 4px 5px 4px;
  }
  .nav > li > a > img {
    width: 30px;
  }
  #aboutuspage > li > a > img {
    width: 44px !important;
  }
  .filter {
    margin-left: -20px;
    margin-right: -20px;
  }
  footer {
    margin-left: -20px;
    margin-right: -20px;
  }
  .container-fluid {
    padding: 0;
  }
  .container {
    width: auto;
  }
  .dl-horizontal dt {
    float: none;
    clear: none;
    width: auto;
    text-align: left;
  }
  .dl-horizontal dd {
    margin-left: 0;
  }
  .container {
    width: auto;
  }
  .row-fluid {
    width: 100%;
  }
  .row,
  .thumbnails {
    margin-left: 0;
  }
  .thumbnails > li {
    float: none;
    margin-left: 0;
  }
  [class*="span"],
  .uneditable-input[class*="span"],
  .row-fluid [class*="span"] {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .span12,
  .row-fluid .span12 {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .row-fluid [class*="offset"]:first-child {
    margin-left: 0;
  }
  .input-large,
  .input-xlarge,
  .input-xxlarge,
  input[class*="span"],
  select[class*="span"],
  textarea[class*="span"],
  .uneditable-input {
    display: block;
    width: 100%;
    min-height: 34px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .input-prepend input,
  .input-append input,
  .input-prepend input[class*="span"],
  .input-append input[class*="span"] {
    display: inline-block;
    width: auto;
  }
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 0;
  }
  .modal {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    width: auto;
    margin: 0;
  }
  .modal.fade {
    top: -100px;
  }
  .modal.fade.in {
    top: 20px;
  }
}
@media (max-width: 799px) and (max-width: 600px) {
  .page_title {
    display: none;
  }
}
@media (max-width: 480px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .si_mob_button{
    width: 104px !important;
  }

  #uwform {
    overflow-y: scroll !important;
    padding: 10px !important;
    width: 97%;
    height: 312px;
  }
  .nav-collapse {
    -webkit-transform: translate3d(0, 0, 0);
  }
  .page-header h1 small {
    display: block;
    line-height: 24px;
  }
  input[type="checkbox"],
  input[type="radio"] {
    border: 1px solid #ccc;
  }
  .form-horizontal .control-label {
    float: none;
    width: auto;
    padding-top: 0;
    text-align: left;
  }
  .form-horizontal .controls {
    margin-left: 0;
  }
  .form-horizontal .control-list {
    padding-top: 0;
  }
  .form-horizontal .form-actions {
    padding-left: 10px;
    padding-right: 10px;
  }
  .media .pull-left,
  .media .pull-right {
    float: none;
    display: block;
    margin-bottom: 10px;
  }
  .media-object {
    margin-right: 0;
    margin-left: 0;
  }
  .modal {
    top: 10px;
    left: 10px;
    right: 10px;
  }
  .modal-header .close {
    padding: 10px;
    /*margin: -10px;*/
  }
  .carousel-caption {
    position: static;
  }
  #exitbtnpersonal {
	margin-bottom: 20px;
  }
  #savebtnpersonal {
	margin-bottom: 20px;
  }
}
@media (max-width: 1024px) {
  .navbar-fixed-top {
    margin-bottom: 24px;
  }
  .navbar-fixed-bottom {
    margin-top: 24px;
  }
  .navbar-fixed-top .navbar-inner,
  .navbar-fixed-bottom .navbar-inner {
    padding: 0px;
  }
  .navbar .container {
    width: auto;
    padding: 0;
  }
  .navbar .brand {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 0 0 -5px;
  }
  .nav-collapse {
    clear: both;
  }
  .nav-collapse .nav {
    float: none;
    margin: 0 0 12px;
  }
  .nav-collapse .nav > li {
    float: none;
  }
  .nav-collapse .nav > li > a {
    margin-bottom: 2px;
  }
  .nav-collapse .nav > .divider-vertical {
    display: none;
  }
  .nav-collapse .nav .nav-header {
    color: #777777;
    text-shadow: none;
  }
  .nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a {
    padding: 9px 15px;
    font-weight: bold;
    color: #777777;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .nav-collapse .btn {
    padding: 4px 10px 4px;
    font-weight: normal;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }
  .nav-collapse .dropdown-menu li + li a {
    margin-bottom: 2px;
  }
  .nav-collapse .nav > li > a:hover,
  .nav-collapse .nav > li > a:focus,
  .nav-collapse .dropdown-menu a:hover,
  .nav-collapse .dropdown-menu a:focus {
    background-color: #f2f2f2;
  }
  .navbar-inverse .nav-collapse .nav > li > a,
  .navbar-inverse .nav-collapse .dropdown-menu a {
    color: #ffffff;
  }
  .navbar-inverse .nav-collapse .nav > li > a:hover,
  .navbar-inverse .nav-collapse .nav > li > a:focus,
  .navbar-inverse .nav-collapse .dropdown-menu a:hover,
  .navbar-inverse .nav-collapse .dropdown-menu a:focus {
    background-color: #98211c;
  }
  .nav-collapse.in .btn-group {
    margin-top: 5px;
    padding: 0;
  }
  .nav-collapse .dropdown-menu {
    position: static;
    top: auto;
    left: auto;
    float: none;
    display: none;
    max-width: none;
    margin: 0 15px;
    padding: 0;
    background-color: transparent;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .nav-collapse .open > .dropdown-menu {
    display: block;
  }
  .nav-collapse .dropdown-menu:before,
  .nav-collapse .dropdown-menu:after {
    display: none;
  }
  .nav-collapse .dropdown-menu .divider {
    display: none;
  }
  .nav-collapse .nav > li > .dropdown-menu:before,
  .nav-collapse .nav > li > .dropdown-menu:after {
    display: none;
  }
  .nav-collapse .navbar-form,
  .nav-collapse .navbar-search {
    float: none;
    padding: 12px 15px;
    margin: 12px 0;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
  }
  .navbar-inverse .nav-collapse .navbar-form,
  .navbar-inverse .nav-collapse .navbar-search {
    border-top-color: #c32a24;
    border-bottom-color: #c32a24;
  }
  .navbar .nav-collapse .nav.pull-right {
    float: none;
    margin-left: 0;
  }
  .nav-collapse,
  .nav-collapse.collapse {
    overflow: hidden;
    height: 0;
  }
  .navbar .btn-navbar {
    display: block;
  }
  .navbar-static .navbar-inner {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 1024px + 1) {
  .nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
  }
}

/*sales illustration mobile responsive styles */

@media only screen and (min-width:481px){
	.illustration-listing-page .product-list-block .filter_txt_plus{
		display:block;
	}
}
/*sales illustration mobile responsive styles */

/*sales illustration mobile responsive styles - Start */
@media only screen and (max-width:480px) {
  
  .row {
   margin-right: 0px !important;
    margin-left: 0px !important;
  }

	.container {
		width: auto;
		padding: 0px;
	}
  .add-product-container{
    overflow-y: auto;
  }  
	.illustration-listing-page .btn-search-block{
		text-align:center;
		margin:0 auto;
		padding-bottom:0px;
		width:100%;	
	}
	.illustration-listing-page .btn-search-block .search-input-area{			
		width:70% !important;	/*Change for mobile responsiveness*/
		display:inline-block; 
		background-color:#fff;	
		position: relative;
		top: -1px;
	}
	
	.illustration-listing-page .btn-search-block .search-input-area button {
		padding: 10px 12px;
	}

	.illustration-listing-page .btn-search-block .search-input-area input.search-illustration{
		width:100% !important;	
		margin:0px;
		color: #999 !important;           
	}
	.illustration-listing-page .product-list-block .filter_txt {
		display:block;
	}
	.illustration-listing-page .product-list-block .filter_txt_plus{
		display:block;
		color: #C21B17;
		font-size: 28px;
		font-weight: bold;
	}
	.illustration-listing-page .product-list-block .btn-primary {
	    color: #ccc !important;
	    background-color: #fff !important;    
	    border: 1px solid #C21B17;
	}
	.illustration-listing-page .btn-search-block .product-list-block {
		width: 8%;
		padding: 0px;
		margin-left: 81px;
		display: inline-block;
		position: relative;
		top: 18px;
	}
	.searchbtn-mobile{
		border:0px;
		background: #fff !important;
		height: 44px;
	}
	.illustration-listing-page .btn-search-block .product-list-block #addNew {
		width: 41px;
		height: 43px;
		background: #fff;
		color: #C21B17;
		text-align: center;
		padding:0px;
		margin-right:5px;
	}
	.makeaCopy_btn{
		width: 130px !important;
		/*height: 45px !important;
		margin-left:4px;
		padding:0px;*/ /*Change for mobile responsiveness*/
		float:none !important;
	}
	.mobileHideElements{
		display:none !important;
	}
	.mobileShowElements{
		display:block !important;
	}
	.row-fluid [class*="span"] {
		min-height: 1px;
		display: inline-block;
	}

#myIllustrations .mob-si-width{
  width: 93%;
}
 #myIllustrations table tr th:first-child {
min-width: 0px !important;
max-width: 19px !important;
} 

 #myIllustrations .table_holder .table thead th{
        font-size:18px !important;
}

 #myIllustrations .table_holder .table td {
        font-size:19px !important;
}

#info{
  margin-top: -40px;
}
#myIllustrations .table_holder .table thead th:nth-child(1),
     #myIllustrations .table_holder .table tbody tr td:nth-child(1) {
        width:0.1% !important;	
		padding-left:3px !important;
    }
	#myIllustrations .table_holder .table thead th:nth-child(2),
     #myIllustrations .table_holder .table tbody tr td:nth-child(2){
        width:0.1% !important;
		padding:0px;		
    }
   #myIllustrations .table_holder .table thead th:nth-child(3),
     #myIllustrations .table_holder .table tbody tr td:nth-child(3){
        width:1.6% !important;
		/*padding:2px;*/
		word-break: break-word;
    }
   #myIllustrations .table_holder .table thead th:nth-child(4),
   #myIllustrations .table_holder .table tbody tr td:nth-child(4) {
        width:2% !important;
		/*padding:2px;*/
		word-break: break-word;
    } 
	#myIllustrations .table_holder .table thead th:nth-child(5),
   #myIllustrations .table_holder .table tbody tr td:nth-child(5) {
        width:2% !important;
		padding:2px;
		word-break: break-word;
    } 
    #myIllustrations .table_holder .table thead th:nth-child(6),
    #myIllustrations .table_holder .table tbody tr td:nth-child(6) {
        width:2% !important;
	    padding-left: 7px;
		word-break: break-word;
    }


	
#mobile_touch_device .container_tlr_fluid {
margin-top: 0px !important;
}
#myIllustrations .table_filter, #myIllustrations .table_holder{	
	/* max-height: 100% !important; */
	background:#fff;
}

.table-height-fix {
height: auto !important;
}
#myIllustrations {
min-height: 100px;
}
.white-box{
/*margin-bottom: 0px !important;*/
margin-top: 9px !important; /*Change for mobile responsiveness*/
}
#wrapper.landingPage {
padding-bottom: 0px;
}
.product-listing-page {
	padding-left: 10px !important;
	padding-right: 10px !important;
	min-height: 890px !important;
	width: auto !important;
  overflow: auto;
	overflow-x: hidden;
}

/*choose Another Product page*/
.chooseAnotherProductBtn{
background: #fff;
color: #C21B17;
border: 1px solid #C21B17;
width: 100% !important;
font-size: 22px !important;
margin-left: 4px;
}

.solution-selector{
	margin:20px 0px 10px 0px;	
	text-align:center !important;
	margin-left: -4px;
	margin-right: -4px;
}

.solution-selector ul, .selector-text ul{
	margin:0px !important;
	padding:0px;
	margin:0 auto;
	text-align:center;
	
}

.solution-selector ul li{
	display:inline-block;
	float:left;
	width:33%;
	font-size: 20px !important;
	font-weight: normal;
}
.selector-text ul li{
	display:inline-block;
	float:left;
	width:30%;
}

.solution-selector .col-xs-12{
	padding:0px !important;
}

#salesListPopup table tr th:first-child {
min-width: 0px !important;
max-width: 16px !important;
}

/*
#salesListPopup td a.navigate-eapp {
color: #c32a24;
}

#salesListPopup td a.navigate-eapp[disabled] .fa-angle-right {
border-color: #CCC;
color: #CCC;
}
 #salesListPopup td .proceed-toeapp-btn {
color: #c32a24;
} */


.proceed-toeapp-btn[disabled] .fa-angle-right {
border-color: #CCC;
color: #CCC;
}

.proceed-toeapp-btn .fa-angle-right {
	color: #c32a24;
	padding: 1px 6px !important;
	position: relative !important;
}

#salesListPopup tr td.paddingno{
	padding:0px;
}

#salesListPopup tr th{
	width:21.5% !important;
	font-size: 16px !important;
	padding: 3px 8px;
	line-height: 15px !important;
}
#salesListPopup tr td{
	width:28.5% !important;
	background-color:#fff;
	font-size: 17px !important;
	text-align:left;
	padding: 3px 8px !important;
}

.leadheader span {
font-size: 26px !important;
font-family: 'DBHelvethaicaRegular' !important;
line-height: 24px;
margin-left: 10px;
margin-top: 2px;
float: left;
word-wrap: break-word;
width: 80% !important;
}

.socialmedia{	
	height:auto !important;	
	background-color: #F4F4F4 !important;
	overflow-y:scroll !important;
	text-align:center;
}
.lead-media-wrapper{
	height: auto !important;
}
.popover-content-mobile {
padding: 0px !important;
min-height: 360px;
}
.popover-mobile.Illustrator .socialmedia table {
width: 100%;
position: inherit !important;
}
.popover-mobile.Illustrator{
	height:auto !important;
  overflow-x: hidden !important;
}
.popover-mobile.Illustrator table{
	border:0px !important;
	margin-bottom: 8px !important;
}

.popover-mobile {
position: fixed;
top: 10%;
left: 15%;
width: 70%;
margin-left: 0px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
background-color: #EEE9E9;
min-height: 300px;
overflow-y: scroll !important;
}

.socialMediaIcons {
	width:100%;
	display:inline-block;
	float:left;
}
.socialMediaIcons .socialIcons{
	display:inline-block;
	width:24% !important;
}
.socialMediaIcons .socialIconsWrap {
	
	text-align:center;
	display:inline-block;	
}
.socialMediaIcons .btnColrNone{
background:none !important;
display:inline-block;
border:none;
}

.insuredListBox{
	width:86%;
	margin:0 auto;
	background:#fff;
	padding:5px;
	margin-bottom:20px;	
	margin-left: 23px;
}
.insuredListBox .insuredIconWrap{
	display:inline-block;
	width:11%;
	float:left;
	margin-top: 6px;
}
.insuredListBox .insuredNameWrap{
	display:inline-block;
	width:77%;
	float:left;
	margin-left:4px;	
}
.insuredListBox .insuredEditBtnWrap{
	display:inline-block;
	width:10%;
	float:left;
}
.insuredNameWrap span.InsuredName{
	font-size:20px !important;	
	font-family: 'DBHelvethaicaRegular' !important;
	font-weight:bold;
	display:block;		
}
.insuredNameWrap span.InsuredTxt{
	font-size:19px !important;	
	font-family: 'DBHelvethaicaRegular' !important;
}


.insuredEditBtnWrap span.InsuredEdit{	
	float:right;
	margin-top: 8px;
}

.payerListBox{	
	width:86%;
	margin:0 auto;
	background:#fff;
	padding:5px;
	margin-bottom:20px;	
	margin-left: 23px;
}
.payerListBox .payerIconWrap{
	display:inline-block;
	width:11%;
	float:left;
	margin-top: 6px;
}
.payerListBox .payerNameWrap{
	display:inline-block;
	width:77%;
	float:left;
	margin-left:4px;	
}
.payerListBox .payerEditBtnWrap{
	display:inline-block;
	width:10%;
	float:left;
}
.payerNameWrap span.payerName{
	font-size:19px !important;	
	font-family: 'DBHelvethaicaRegular' !important;
	font-weight:bold;
	display:block;		
}
.payerNameWrap span.payerTxt{
	font-size:19px !important;
    font-family: 'DBHelvethaicaRegular' !important;	
}

.payerdEditBtnWrap span.payerEdit{	
	float:right;
	margin-top: 8px;
}
#PersonalDetails .accordion-toggle, #PersonalDetails .accordion-inner {
padding-left:7px !important;
}

.multiple-column .span6 {
margin-left: 0;
margin-right: 1%;
width: 100% !important;
margin-bottom: 20px;
}
.radio.inline {
vertical-align: middle !important;
}
.illustration .radio-group{
margin-bottom: 0px;
}
.illustration .multiple-column .radio-group {
text-align: left !important;
}

.bordbtm_custom_add_drop .btn-primary{
border: 1px solid #C21B17 !important;
/*background: #ffffff !important;
color: #C21B17;*/
font-size: 20px;
}

.illustration-fixed-section .alert-box-holder {
bottom:75px !important;
z-index:2;
}

.stagesTxt{
	font-size:14px;
}
.hideContainer{
	display:none;
}
#specify_the_Premium_Summary_Details .highlighted-bg{
	background-color:#ffffff !important;
}
#specify_the_Premium_Summary_Details .highlighted-bg span {
color: #c21b17 !important;
}
#mobile_touch_device .summary-fixed-content {
height: auto !important;
overflow-y: auto;
padding-bottom: 20px;
}

/*summary page styles - Start*/
.validaterBtnMobile{
z-index: 999;
}
.illustratorBtnMobile {
z-index: 999;
margin-left: 10px;
width:25% !important;
}
.backBtnWrap{   
	margin-left: 22px;
}

.productControlBtns .summaryExitBtn{
	width:24% !important;
	margin-left: 5px;
}

.illustration_summary_btn .btn {
min-width: 15px;
display: inline-block;
padding: 5px 20px !important;
line-height: 19px !important;
margin-bottom: 0;
font-size: 14px;
text-align: center;
vertical-align: middle;
}

.illustration_summary_btn .btn-primary[disabled] {
opacity: 1;
background: #B0B2B3;
border: 0;
color: white;
line-height: 21px !important;
}
.illustrateBtnWrap{	
    left: -46px; 
}
.marginTop{
	margin-top:15px !important;	
}

.alert-box-holder {
bottom:40px !important;
right: 12px !important;
}
/*summary page styles - End*/

/*illustration last page starts*/

.marginRight-10px{
	margin-right:10px;
}
.margin-12px{
margin-left: 12px !important;
margin-right: 12px !important;
}

.esign-okBtn {
padding: 10px 0;
color: #000;
width: 100% !important;
margin: 0 auto;
text-align: center;
min-height:2px;
}
.signature_container {
padding:10px !important;
background-color: #fff;
}
.esign_header{
	/*border-bottom: 1px solid #ccc !important;*/ /*Change for mob -webresponsiveness*/
	padding:0px !important;
	padding-bottom:10px !important;
	width:100% !important;	
	margin-bottom: 5px;
	font-size: 20px !important;
}
.ill_popup_container .email-header {
	font-size: 23px !important;
	color: #c32a24 !important;
}
.esign_tab {
background: #fff;
height: auto;
margin:0px !important;
}
.signinTxt{
	font-size:20px;
	font-family: 'DBHelvethaicaRegular';
	color:#000;
	margin:3px 0px;
}
.clearPadding{
	padding-left:0px !important;
	padding-right:0px !important;
	border-bottom: 1px solid #ccc !important;
	margin-bottom: 10px;
}
.esign_tab .esign_wrapper .signpad {
margin-top: 20px;
}
.IllustrationSummary-header {
padding-left: 5px;
font-weight: normal !important;
font-size: 22px !important;
}
.btn-gray{
background:#ECECEC !important;
margin-top: 5px;
}
/*.center_pop_up {
top: 14% !important;
left: 4%;
margin-top: 8px;
/*margin-bottom: -13% !important;
}*/

.popup_setpref_container_previous {
width: 92%;
margin-top:-160px !important;
margin-left:-164px !important;
position:fixed !important;
font-family: 'DBHelvethaicaRegular' !important;
font-size: 20px !important;
}
/*illustration page ends */
.bottom-btn-container{
	-webkit-box-shadow: 0px -2px 10px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -2px 10px -1px rgba(0,0,0,0.75);
	box-shadow: 0px -2px 10px -1px rgba(0,0,0,0.75);
	background-color:#FFFFFF !important;
	width: 100%;
	margin: 0px;
	position: relative;
	bottom: 0px;
	padding: 8px;
	left: 0px;
	z-index: 1;
}
#exitbtnpersonal {
	margin-bottom: 20px;
}

.bottom-btn-container .row{
margin-right: 0px !important;
margin-left: 0px !important;
text-align:center;
}
.container_tlr_fluid .row{
	/* margin-right: 0px !important;
	margin-left: 0px !important; */
	padding: 0px 5px 0px 5px;
}

.row-fluid.multiple-column {
    width: 97%;
    padding: 0px 0px 0 7px;
}

#wrapper.landingPage {
padding-bottom: 0px;
}
.marginLeft-4px{	
margin-left: -4px;
}
.width-60{
	width:60%;
	line-height: 21px !important;
}
.padding-topbottom10 {
padding: 10px 0px 10px 0px !important;
}
.btn.highlight {
color: #c32a24 !important;
font-weight: bold;
border: 1px solid #c32a24 !important;
font-weight:normal !important;
}

/*product details page rider table styles*/
.riderTableMobile{
	width:308px !important;
	/*overflow-y:scroll;*/
	margin:0px;
	padding:0px;
	margin-bottom:0px;
	padding-bottom:0px ;
	/*min-height: 207px !important;*/
	/*overflow-x:hidden;*/
}

#riders .riderTableMobile .table thead th:nth-child(1),
#riders .riderTableMobile .table tbody tr td:nth-child(1) {
        width:16px !important;
		padding:2px !important;		
		display:inline-block !important;		
    }
	#riders .riderTableMobile .table thead th:nth-child(1) span{
		display:inline-block !important;
		
	}
#riders .riderTableMobile .table thead th:nth-child(2),
#riders .riderTableMobile .table tbody tr td:nth-child(2) {
        width:90px !important;
		padding:2px !important;		
		display:inline-block !important;
    }
#riders .riderTableMobile .table thead th:nth-child(3),
#riders .riderTableMobile .table tbody tr td:nth-child(3) {
        width:93px !important;
		padding:2px !important;		
		display:inline-block !important;
    }
	#riders .riderTableMobile .table select {
padding: 0px 6px 4px 0px !important;
line-height: 22px;
}
	#riders .riderTableMobile .table thead th:nth-child(4),
#riders .riderTableMobile .table tbody tr td:nth-child(4) {
        width:93px !important;
		padding:2px !important;		
		display:inline-block !important;
    }

#riders .riderTableMobile .table thead th{
	color:#fff;
	font-size:19px;
	font-weight:normal;
}

 #riders .riderTableMobile .table tr td div.inpForm{
		width:88px !important;
		}
		#riders .table th, .accordion .illustration #riders .table td {
		padding:3px !important;
		color:#fff;
		font-size:17px !important;
		font-weight:normal !important;				
		}
		.accordion.illustration #riders .table td input{		
		height:25px;
		padding-left: 3px;
		}
		.accordion.illustration #riders .table td select{
		width:100% !important;	
		height:25px;		
		}
		.accordion.illustration #riders .table td div.position-rel {
		height:25px;
		}
		
		#riders .customDropIcon {			
			right: 6px !important;
		}
		.summary-section {
			min-height:200px;
			overflow-y:scroll;
			padding-bottom:20px;
      top: -69px;
		}

		.accordion.illustration #riders .multi-line-text-table span {
			text-align: left !important;
			}
	/*product details page rider table styles*/
.add-product-container .col-sm-9 {
	padding-left:0px !important;
	padding-right:0px !important;
}
.bottom-btn-container .col-xs-3 {
 width: 19% !important; 
padding-left:5px !important;
padding-right:5px !important;
float: left;
display: inline-block;
text-align:left;
}
.bottom-btn-container .illustratorBtnMobile{
	width: 30% !important;
	float:right;
	margin-right: 5px;
}

 .bottom-btn-container .col-xs-3 .btn{
	line-height:19px !important;
	padding:5px !important;
	width:100%;
} 

.bottom-btn-container .col-xs-5 .btn {
line-height: 19px;
padding: 5px !important;
width: 100%;
}

 .productControlBtns .btn{
padding: 5px 22px;
line-height:19px;
} 
.bottom-btn-container .validaterBtnMobile .btn{
	line-height:25px !important;
	padding:2px !important;
	width: 100%;
}
 .productControlBtns .btn-primary[disabled]{
	 line-height:25px !important;
	padding:3px !important;
	width: 100%;
 }
 .productControlBtns .illustration_summary_btn .btn-primary[disabled]{
	line-height:22px;
	padding:5px !important;
	width: 100%;
 }
 
 
.margin-6{
	margin-left:6px;
	margin-right:6px;
}
.insuredPayerBtn .col-xs-12{
	padding-left:0px !important;
	padding-right:0px !important;
	float:left;
	text-align:left;
	display:inline-block;
	width:100% !important;
}
.insuredPayerBtn .col-xs-5{
	padding-left:0px !important;
	padding-right:0px !important;
	float:left;
	text-align:left;
	display:inline-block;
	width:40% !important;
}
.insuredPayerBtn .col-xs-7{
	padding-left:0px !important;
	padding-right:0px !important;
	float:left;
	text-align:left;
	display:inline-block;
	width:60% !important;
}
.insuredPayerBtn #savebtnpersonal{
	width:59%;
	line-height: 20px !important;
}
.insuredPayerBtn #exitbtnpersonal{
	width:79%;
	line-height: 20px !important;
}
.insuredPayerBtn .btn{
	line-height:21px;
}
.productControlBtns .col-xs-5{
	padding-left:0px !important;
	padding-right:0px !important;
	width:25%;
}
.productControlBtns .validaterBtnMobile{
	padding-left:0px !important;
	padding-right:0px !important;
	width:39%;
}
.margin-20{
	margin-left:20px !important;	
}
.margin-10{
	margin-left:10px !important;	
}
.bottom-btn-container .validaterBtnMobile{
margin-right:0px;
margin-left: 10px;
}	

.illustration_summary_btn {
text-align: center;
width: auto;
padding:0px !important;
margin:0px !important;
}
.illustration_summary_btn .col-xs-12{
width: auto;
padding:0px !important;
margin:0px !important;
float:none;
display:inline-block;
}
.illustration_summary_savebtn, .illustration_summary_confrimbtn, .illustration_summary_exitbtn {
	display:inline-block;
}
.illustration_summary_savebtn{
	margin-right:10px;
	width: 64px;
}

.illustration_summary_exitbtn {
	margin-left: 0px !important; /*Change for mobile responsiveness*/
	margin-right:15px;
  width: 64px;
}

.illustration_summary_confrimbtn .btnBorderCustom_goToEapp{
  /*margin-right: 30% !important;*/
  margin-right: 0% !important;
}

#confirmbutn {
  width: 120% !important;
}

.validation_container {
z-index: 1;
}

.occupation_btn .fa-trash-o{
	color:#C21B17 !important;
	margin-left:-3px;
	font-size:18px !important;
	margin-top: 0px !important;
}
.product-listing-page .carousel-inner .item {
	padding: 0 45px;
}
.carousel-control {
	width: 25px;
}
#mobile_touch_device .custom-sized-carousel-modal .modal-body {
	height: 242px !important;
	width: 100% !important;
}
/*sales illustration mobile responsive styles - End */
.solutionWrap .row{
	margin-left:0px !important;
	margin-right:0px !important;
}
.payerSectionWrap .accordion-inner{
	border-top:none !important;
}
.illustration-listing-page .search-input-area .search-illustration{
	font-size:17px !important; 
}
.occupationTitleWrap{
width: 90% !important;
float: left;
display: inline-block;
float: left;
}	

 .insuredPayerBtn .col-xs-5 .btn {
line-height: 19px;
padding: 5px !important;
width: 100%;
}

.occupationTitleWrap .occuptioTitle{
	font-family: 'DBHelvethaicaMedium';
	font-size:23px !important;
	margin-left: 0px !important;
}

.infoBtnWrap{	
	padding-bottom:10px;
	border-bottom: 1px solid #EEE9E9;
}

.occuptioTitleBorder{
	margin: 5px 0px !important;
	line-height: 0px;
	float: right;
	display: inline-block;
	width: 15%;
}
#productsSaveAlert .general_brd.errorBlockPosition {
width: 81% !important;
}
.width48{
	width:48% !important;
}
/* .Illustration-printDownload .col-xs-6{
padding:3px!important
} */	
 
 .illustrationListing-table{ /*Change for mobile responsiveness*/
    margin-top: 0px;
    display: none;
}
.payerSectionWrap .illustration .accordion-inner {
padding: 0px !important;
margin-bottom: 30px !important;
}
 .payerSectionWrap .illustration .accordion-toggle{
	padding: 0px !important;
	border-bottom: 1px solid #ccc;
	margin-bottom:10px;
	height:30px;
 }
 .illustrationmobileTitle{
	 margin-left:0px !important;
 }
 .marginZero{
 padding:0px;
 margin:0px;
 }
 
 .illustration .accordion-inner{
  /*background: #fff;
  float: left;
  display:inline-block;*/
 }

 .illustration .insuredSamePayWrap{
	 display:inline-block;
	 width:100% !important;
	 float:left;
	 margin:0px !important;
	 padding-bottom: 30px !important;
 }
 .illustration .insuredSamePayWrap label{
	width: 60% ;
	float: left;
	display:inline-block;
	line-height: 1.1;
 }
.illustration .insuredSamePayWrap .displayInline{
	width: 40% ;
	float: left;
	display: inline-block;
 }
 .illustration .insuredSamePayWrap .displayInline label{
	float:left;
	display:inline-block;
	width:45%;
	line-height: 0px;
}
#insuredSameAsPayer {
	text-align:right;
	margin-bottom:20px;	
}

.illustration .insuredSamePayWrap .displayInline .iradio{
	 margin:0px 2px;
 }
.nopadding{
	padding-left:0px !important;
	padding-right:0px !important;	
}
.summary-section .accordion-inner {
padding: 0 0px 15px 6px !important;
width: 98% !important;
}
.illustration .content-position-table {
margin-right:0% !important;
margin-left:0% !important;
}
.benefit-summary-section .summary-section{
	padding:0px;
}
.riderTableMobile tr:nth-child(even) {
	background-color: #FBF2F3 !important;
	padding:0px;
	margin:0px;
	}
	.illustrationSummary-header-container .col-xs-6{
		padding-left:4px;
		padding-right:4px;
	}
	
	.illustrationSummary-header-container .col-xs-6 .btn{
		width:90%;
		height:36px;
	}			
	.illustrationSummary-header-container .col-xs-6 .emailPdfIcon{
		margin-top:3px;
	}
	.marginLeft1{
		margin-left:1px;
	}
	.alert-box.warning0 {
		height: 32px !important;
		width: 35px !important;
		margin: 0 !important;
	}
	.alert-box .error-status {
	height: 32px !important;
	width: 35px !important;
	margin: 0 !important;
	}
	.pull-right-emailIcon{
		float:right !important;
	}
	.genderTrim{
		visibility:hidden;	
		position: relative;
		display: inline-block;
		width: 10px !important;
	}
	.genderTrim:first-letter{
		visibility:visible;			
	}
	/* .Illustration-scrollable-section .text-center{
		display:none !important;
	}	 */
	
	.popover-mobile.Illustrator tr td {
width: 7% !important;
background-color: #fff;
font-size: 17px !important;
padding: 3px 5px !important;
padding-left: 20px !important;
}
.popover-mobile.Illustrator td {
padding: 0px 4px 1px 10px !important;
}
.popover-mobile.Illustrator tr td.illustAdditionalIcons{
	padding-left: 0px !important;	
	}

#myIllustrations  td {
/*padding: 0px !important;
*/}
.alert-box.warning .number {
	top: -6.5px !important;
	right: -6.5px !important;
	line-height: 21px !important;
	width: 20px !important;
	height: 20px !important;
}
 #illustrationList .constrained {
    height:500px;
    overflow-y:scroll;
}
 #illustrationList .illustration_fixed_header
 {
  position: absolute;
  z-index: 1;
  display: inline-block;
  top: 0px;
  /*width: 403px !important;*/
 }
 #illustrationList .table_holder {
    height:auto;
    /*overflow-y:scroll;*/
}
#illustrationList .table_holder tr:nth-child(even) {
	background-color: #FBF2F3 !important;
	padding:0px;
	margin:0px;
}
.illustEmailErrorPopup {
height: 225px !important;
}

.circle-yellow , .circle-green, .circle-red {
	width: 12px !important;
    height: 12px !important;
}
.syncStatusIcon {
	font-size: 13px !important;
	margin-top: 6px !important;
}

/*********** Consent Page Starts  ****************/

#consent .consentPage-Header{
	text-align:center; margin-top:50px
}
#consent .consentPage-Wrapper{
	text-align: center; display: block;
}
#consent .consentPage-leftBox {
	text-align: center; display: block;
}
#consent .consentPage-leftBox div label.control-label {
	text-align: center;
	width: auto;
}
#consent .consentPage-leftBox div  {
	display:inline-block;
}

#consent .otpConsentTextBox {
	padding-left: 0px;
}

/*********** Consent Page Ends    ****************/	
}