  <!--Copyright 2015, LifeEngage -->
<div class="container_tlr_fluid tasklist_container">
	<!-- FILTER BUTTONS-->
	<div class="tasklist_nav_wrapper ">
		<div class="row-fluid button-nav ">
			<div class="span12 text-center" >
				<div class="btn-group sub-nav ">
						<button id="tab_day" ng-click="calenderViewListings('Day')">Day</button>
						<button id="tab_week" ng-click="calenderViewListings('Week')">Week</button>
						<button id="tab_month" ng-click="calenderViewListings('Month')">Month</button>
						<button id="tab_all" ng-click="calenderViewListings('All')">View All</button>
				</div>
			</div>
		</div>
		<div class="row-fluid" ng-show="">
			<div class="span12 text-center filter-box" >
				<span style="display: inline-block;"> 
					<span class="sub-text"> From</span>
					<input date-picker="" class="date ng-pristine ng-valid native" type="date"> 
					<span class="sub-text">	To</span>
					<input date-picker="" class="date ng-pristine ng-valid native" type="date">

					<span class="button_wrapper">
						<button type="submit" class="cust-btn cust-default-btn" ng-click="searchPolicyLevelCommissions(PLC)">Search</button>
						<button type="reset" class="cust-btn cust-default-btn" ng-click="reset(PLC)">Reset</button>
					</span>
				</span>
			</div>
		</div>	
	</div>	
	<!-- FILTER BUTTONS-->		
	
	<div class="tasklist_wrapper ">
		<div id="taskList">
			
		</div>
	</div>
	
	
</div>
