/* html,body, */
.st-container,.st-pusher,.st-content{height:100%;}
.st-content{overflow-y:auto;/*scroll*/}
.st-content,.st-content-inner{position:relative;}
.st-container{position:relative;overflow:hidden;}
.st-pusher{position:relative;left:0;z-index:99;height:100%;-webkit-transition:-webkit-transform 0.5s;transition:transform 0.5s;}
.st-pusher::after{z-index: 9990;position:absolute;top:0;right:0;width:0;height:0;background:rgba(0,0,0,0.2);content:'';opacity:0;-webkit-transition:opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;transition:opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;}
.st-menu-open .st-pusher::after{width:100%;height:100%;opacity:1;-webkit-transition:opacity 0.5s;transition:opacity 0.5s;}
.st-menu{background-color:transparent;position:absolute;top:0;left:0;z-index:100;visibility:hidden;width:150px;height:100%;-webkit-transition:all 0.5s;transition:all 0.5s;}
.st-menu::after{position:absolute;top:0;right:0;width:100%;height:100%;background:rgba(0,0,0,0.2);content:'';opacity:1;-webkit-transition:opacity 0.5s;transition:opacity 0.5s;}
.st-menu-open .st-menu::after{width:0;height:0;opacity:0;-webkit-transition:opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;transition:opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;}
/* content style */
.st-menu ul{margin:0;padding:0;list-style:none;}
/* Individual effects */
/* Effect 1:Slide in on top */
.st-effect-1.st-menu{visibility:visible;-webkit-transform:translate3d(-100%, 0, 0);transform:translate3d(-100%, 0, 0);}
.st-effect-1.st-menu-open .st-effect-1.st-menu{visibility:visible;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
.st-effect-1.st-menu::after{display:none;}
.slide_trigger_btn{
	margin:0px;
	padding:0px;
	border:none;
	float:left;	
}
.slide_trigger_btn_container{	
	
	position:absolute;
	left:0px;
	top:0px;
}

.bx-shadow{
	-moz-box-shadow: 8px 2px 11px -4px #000;
	-webkit-box-shadow: 8px 2px 11px -4px #000;
	box-shadow: 8px 2px 11px -4px #000;
}
.pushbtn_margin{
	margin-left:150px !important;
	-webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
	}
/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
	.no-csstransforms3d .st-menu, .no-js .st-menu{display:none;}
	
	
/*.no-csstransforms3d .mp-pusher,.no-js .mp-pusher{ padding-left:300px;}
.no-csstransforms3d .mp-menu .mp-level,.no-js .mp-menu .mp-level{ display:none;}
.no-csstransforms3d .mp-menu > .mp-level,.no-js .mp-menu > .mp-level{ display:block;}*/

