﻿

/*TOP TAB*/

/*ul.insurance_details_menu{list-style-type:none;margin:0;overflow:hidden;float:left;position:relative;padding: 20px 10px 40px;}
.insurance_details_menu li{float:left;}
 .first_tab_normal{background:url('../img/flow_first_tab_normal.png') no-repeat !important;color:#000000;display:block;padding:0 5px;text-align:center;text-decoration:none;width:110px;height:46px;}
 .first_tab_sel{background:url('../img/flow_first_tab_selected.png') no-repeat !important;color:#ffffff !important;display:block;padding:0 5px;text-align:center;text-decoration:none;width:110px;height:46px;}
.insurance_details_menu li a{background:url('../img/flow_tab_normal_1.png') no-repeat;color:#000000;outline: medium none;display:block;padding:0 5px;text-align:center;text-decoration:none;width:110px;height:46px;}
.insurance_details_menu li.activate a{background:url('../img/flow_tab_selected_1.png') no-repeat;color:#ffffff;display:block;padding:0 5px;text-align:center;text-decoration:none;width:110px;height:46px; outline: medium none;}
.insurance_details_menu li a span{width:110px;height:auto;display:block;}
.padding_tp{padding-top:10px;}
.acc_border{border:2px solid gray;border-radius:7px;padding:5px;} 
.activate{color:#ffffff !important;}*/


/*INNER TAB*/
/*.subtab_cover{border:1px solid red;width:auto;height:auto;}
.li_divider{display:inline-block;width:50px;height:21px;background:url("../img/line-ul.png") repeat-x scroll 0 0 transparent;}
ul.insurance_details_inner_menu{list-style-type:none;margin:0;padding: 25px 10px;overflow:hidden;float:left;position:relative;margin:0px;}
.insurance_details_inner_menu li{float:left;}
.insurance_details_inner_menu li a{background:url('../img/flow_sub_tab_unselected.png') no-repeat;color:#000000;display:block;height:22px;text-align:center;text-decoration:none;width:154px; outline: medium none;}*
.insurance_details_inner_menu li.active a{background:url('../img/flow_sub_tab_selected.png') no-repeat;color:#ffffff;display:block;height:22px;text-align:center;text-decoration:none;width:154px; outline: medium none;}
.insurance_details_inner_menu li a span{display: block;height: 22px;line-height: 21px; padding: 0 22px;width: 110px;}
.innertab_margin-top{margin-top:40px;}
.grad_bg{background-color: #FFFFFF;background-image: url("../img/gray_gradient1.jpg");background-position: left -1px;background-repeat: repeat-x;} 


/*ACCORDION*/
/*.accordion{margin-bottom:20px;}
.accordion-group{margin-bottom:2px;border:1px solid #e5e5e5;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.accordion-heading{border-bottom:0;background-color:#3890b4;color:#ffffff;}
.accordion-heading .accordion-toggle{display:block;padding:8px 15px;}
.accordion-toggle{cursor:pointer;text-decoration:none;}
.accordion-toggle:hover{cursor:pointer;text-decoration:none;}
.accordion-toggle:focus{cursor:pointer;text-decoration:none;}
.accordion-inner{padding:9px 15px;border-top:1px solid #e5e5e5;}

.accordion_arrow_toggle{display:block; float:right;width:20px;height:16px;background:url('../img/list_arrow_sprite.png') no-repeat 0px 0px; }
.accordion_arrow_toggle_up{display:block; float:right;width:20px;height:16px;background:url('../img/list_arrow_sprite.png') no-repeat -36px 0px; }*/