<!--Copyright 2015, LifeEngage -->
<script type="text/javascript" src="lib/vendor/general/common_components.js"></script>
<!-- Include Progressbar -->
<div ng-include="'modules/fna/partials/Progressbar.html'" ng-controller="GLI_ProgressbarController"></div>

<div class="fna-outercontainer customerProfile [[cutomizeBtnClass]]">
	<div class="spacing-50"></div>
		<div class="spacing-50"></div>
	<div class="row-fluid">
		<div class="col-xs-push-2 span8 text-center">
			<div class="span6" ng-repeat="genderSelectionObj in custGenderSelections" id="[[genderSelectionObj.gender]]" ng-class='"gender_selection "+genderSelectionObj.genderSelected' abtclass="gender_selection" ng-click="onGenderSelectionClick(genderSelectionObj)"  ng-model ="FNAMyself.BasicDetails.gender">
				<div class="round-icon-holder">
					<div class="round-icon bs-80"></div>
				</div>
				<div translate="[[genderSelectionObj.text]]"> </div>
			</div>
		</div>
	</div>
	<div class="spacing-50"></div>
	<div class="row-fluid">
		<div class="span12 text-center span-col-10-layout">
			<div class="span2" ng-repeat="lifeStageObj in custLifeStages" ng-class='"lifestyleCircle "+lifeStageObj.lifestageSelected' id="[[lifeStageObj.id]]" ng-click="onLifeStageClick(lifeStageObj)" ng-model ="FNAObject.FNA.lifeStage.description" ng-init="prePopulateLifeStage($last)">
				<div class="round-icon-holder">
					<div class="round-icon bs-80"></div>
				</div>
				<div translate="[[lifeStageObj.text]]"></div>
			</div>
		</div>
	</div>
	<div class="spacing-50"></div>
		<div class="spacing-50"></div>
	<div class="row-fluid padding-bottom-20">
		<button class="btn-block btn-primary span3 btn-center" ng-click="nextPage()" translate="fna.customize" ng-disabled="!aboutmeSelected" >Customize!</button>
	</div>
</div> <!-- container ends -->
	<!-- Observation -->
	<clickstream pageid=[[selectedpage]]>
	</clickstream>
	<!-- Observation -->
	<lepopup control="lePopupCtrl"/>