<!--Copyright 2015, LifeEngage -->
<script type="text/javascript" src="lib/vendor/general/common_components.js"></script> 
<div ng-include="'modules/fna/partials/Progressbar.html'" ng-controller="GLI_ProgressbarController"></div>


<div class="fna-outercontainer"  ng-class="{true: 'backgroundColor', false: ''}[currentPageType == 'Introduction']">
<div class="fna-introduction">
	<div class="row-fluid fna-introduction-content">
		<!--<a class="span4 fna-intro-item fna-lifestyle-video" ng-click="playVideo()" role="button" data-toggle="modal">-->
		<a class="span4 fna-intro-item fna-lifestyle-video" role="button" data-toggle="modal">
			<span translate="fna.lifeStageVideo"></span>
		</a>
		<a class="span4 fna-intro-item fna-about-company" data-target="#aboutGenerali" role="button" data-toggle="modal">
			<span translate="fna.aboutCompany"></span>
		</a>
		<a class="span4 fna-intro-item fna-about-me" data-target="#aboutMe" role="button" data-toggle="modal">
			<span translate="fna.aboutMe"></span>
		</a>
		
		<!-- FNA changes by LE Team >>> adding manual representation button -- Starts -->
		<div class="span4 btnProceed_wrapper btnProceed_wrapper_fna pull-left fna-manualpresentation-btn">
			<button class="btn logicBtn countBtn btn-medium" data-target="#makePresentation" data-toggle="modal"><span class="red-text" translate="fna.manualPresentation"></button>
		</div>
		<!-- FNA changes by LE Team >>> adding manual representation button -- Ends -->
		<div class="span4 btnProceed_wrapper btnProceed_wrapper_fna pull-right">
			<button class="btn btn-primary btn-medium" ng-click="nextPage()" translate="fna.proceedToFna"></button>
		</div>
	
	</div>
    
	
	
	<div id="aboutMe" carousal-initial class="modal FadeInDown animated custom_fna_modal fna-custom-sized-carousel-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<span translate = fna.aboutMe></span>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			</div>
			<div class="modal-body">
			
			
				<div id="aboutmeCarousel" class="carousel slide" data-ride="carousel" swipe-carousel>
					<!-- FNA changes by LE Team>> Carousel indicators are not required. - starts
					<ol class="carousel-indicators">
						<li data-target="#aboutmeCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#aboutmeCarousel" data-slide-to="1"></li>
						<li data-target="#aboutmeCarousel" data-slide-to="2"></li>
					</ol>
					FNA changes by LE Team>> Carousel indicators are not required. - ends-->
					<div class="carousel-inner" role="listbox" >
						<div class="item active">
							<div class="row-fluid greyText margin-top20">
							    <!-- FNA Changes by LE Team Start -->
								<!-- <div class="span6 dividerLine"> -->
								<!-- FNA Changes by LE Team Ends -->
								<div class="span6">
									<div class="row-fluid">
										<!-- FNA Changes by LE Team Starts -->
										<!-- <div class="span4" ng-class="{true:'imageBorder',false:''}[agent.photo =='']">
											<img src="data:image/jpeg;base64,[[agent.photo]]" ng-class="{true:'imageNone',false:''}[agent.photo =='']"/>
										</div> -->
										<div class="span4" ng-class="{true:'imageBorder',false:'noImageBorder'}[agent.photo =='']">
											<img src="data:image/jpeg;base64,[[agent.photo]]" ng-class="{true:'imageNone',false:''}[agent.photo =='']" ng-hide="[agent.photo =='']"/>
										</div>
										<!-- FNA Changes by LE Team Ends -->
										<dl class="dl-horizontal span8">
										<dt class="span5 fontWeight"><span translate = fna.name></span></dt>
											<dd class="span1">:</dd>
											<dd class="span5 red-text">[[agent.agentName]]</dd>
                                        <dt class="span5 fontWeight"><span translate = fna.agentCode></span></dt>
											<dd class="span1">:</dd>
											<dd class="span5 red-text">[[agent.agentCode]]</dd>
                                        <dt class="span5 fontWeight"><span translate = fna.licenseNumber></span></dt>
											<dd class="span1">:</dd>
											<dd class="span5 red-text">[[agent.licenseNumber]]</dd>
                                        <dt class="span5 fontWeight"><span translate = fna.licenseExpDate></span></dt>
											<dd class="span1">:</dd>
											<dd class="span5 red-text">[[agent.licExpDate]]</dd>
                                        <dt class="span5 fontWeight"><span translate = fna.managerName></span></span></dt>
											<dd class="span1">:</dd>
											<dd class="span5 red-text">[[agent.managerName]]</dd>
										<dt class="span5 fontWeight"><span translate = fna.managerCode></span></dt>
											<dd class="span1">:</dd>
											<dd class="span5 red-text">[[agent.managerCode]]</dd>
										</dl>
									</div>
								</div>
								<!-- FNA Changes by LE team Start -->
								<!--
								<div class="span6">
								    <h6>[[agent.agentName]]</h6>
									<p><span translate = fna.insuranceAgent></p>
									<h3 class="greyText fontWeight margin-top0"><span translate = fna.personalProfile></span></h3>
									<p class="text-size14">[[agent.agentDesc]]</p>
								</div>
								-->
								<!-- FNA Changes by LE team End -->
							</div>
							<div class="row-fluid">
								<div class="span12">
									<!-- FNA changes by LE Team - Starts >> -->
									<h3 class="fontWeight"> [['fna.myAchievements' | translate]] ([[achievementBadgeCount]])</h3>
									<!-- FNA changes by LE Team - Ends >> -->
									<!-- translate="fna.myAchievements" -->
									<div class="row fna-achievement-slider"> 
										<div class="col-xs-4 col-sm-2" ng-repeat="achievement in achievementList">
											<div class="aboutme-iconHolder" >
												<img ng-src="[[fileFullPath]][[achievement.achievementCode]].png" ng-show="achievement.achievementCode != ''"/>
											<!-- 	<p class="awardtext text-center">[[achievement.description]]</p> -->
												<div class="aboutme-contentText"></div>
											</div>
										</div>
									</div>
								</div>
							</div>					
						</div>
						<!-- FNA Changes by LE team Start -- commented the below section-->
						<!-- <div class="item">
							<div class="page2-content"></div>
						</div>
						<div class="item">
							<div class="page3-content"></div>
						</div> -->
						<!-- FNA Changes by LE team End -->
					</div>
					
					<!-- FNA Changes by LE team Start  
					<button class="carousel-control left" data-target="#aboutmeCarousel" ng-non-bindable data-slide="prev">
						<span class="fa fa-angle-left" aria-hidden="true"></span>
						
					</button>
					<button class="carousel-control right" data-target="#aboutmeCarousel" ng-non-bindable  data-slide="next">
						<span class="fa fa-angle-right" aria-hidden="true"></span>
						
					</button>
					 FNA Changes by LE team end  -->
					
					
				
			</div>
			
			
		</div>
	
	
	
</div>
	<!--<div id="lifeStageVideo" class="modal FadeInDown animated" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<span>Life Stage Video</span>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			</div>
			<div class="modal-body video-ctnr text-center">
				<video controls>
					<source src="mov_bbb.mp4" type="video/mp4">
					<source src="mov_bbb.ogg" type="video/ogg">
					Your browser does not support HTML5 video.
				</video>
			</div>
	</div>-->
	<!-- FNA Changes by LE team Start -->
	<div id="aboutGenerali" carousal-initial class="modal FadeInDown animated custom_fna_modal fna-custom-sized-carousel-modal fna-custom-sized-carousel-modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<span translate = fna.aboutCompany></span>
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		</div>
		<div class="modal-body">
			<div id="genCarousel" class="carousel slide" data-ride="carousel" swipe-carousel>
				<!-- Indicators -->
				<ol class="carousel-indicators fna-custom-sized-carousel-modal1">
					<li data-target="#genCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#genCarousel" data-slide-to="1"></li>
					<li data-target="#genCarousel" data-slide-to="2"></li>
				    <li data-target="#genCarousel" data-slide-to="3"></li>
					<li data-target="#genCarousel" data-slide-to="4"></li>
					<li data-target="#genCarousel" data-slide-to="5"></li>
                    <li data-target="#genCarousel" data-slide-to="6"></li>
                    <li data-target="#genCarousel" data-slide-to="7"></li>
                    <li data-target="#genCarousel" data-slide-to="8"></li>
                    <li data-target="#genCarousel" data-slide-to="9"></li>
                    <li data-target="#genCarousel" data-slide-to="10"></li>
                    <li data-target="#genCarousel" data-slide-to="11"></li>
                    <li data-target="#genCarousel" data-slide-to="12"></li>
                    <li data-target="#genCarousel" data-slide-to="13"></li>
                    <li data-target="#genCarousel" data-slide-to="14"></li>
                </ol>
				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active itemNew">
						<div class="fna-carousel-page-content abt-generali-1 fna-custom-sized-carousel-modal1"></div>
					</div>
					 <!-- <div class="item">
						<div ng-repeat="perfDetails in performanceDetails" class="row company-details">
						
							<div class="col-sm-6">
								<h6 translate=[[perfDetails.companyName]]> </h6>
								<span translate=[[perfDetails.companyDescription]]> </span>
							</div>
							<div class="col-sm-6">
								<div class="chart-container">
								</div>
							</div>
							
						</div>
					</div>  -->
					<div class="item itemNew">
						<div class="fna-carousel-page-content abt-generali-2 fna-custom-sized-carousel-modal1"></div>
					</div>
					<div class="item itemNew">
						<div class="fna-carousel-page-content abt-generali-3 fna-custom-sized-carousel-modal1"></div>
					</div>
					<div class="item itemNew">
						<div class="fna-carousel-page-content abt-generali-4 fna-custom-sized-carousel-modal1"></div>
					</div>
					<div class="item itemNew">
						<div class="fna-carousel-page-content abt-generali-5 fna-custom-sized-carousel-modal1"></div>
					</div>
					<div class="item itemNew">
						<div class="fna-carousel-page-content abt-generali-6 fna-custom-sized-carousel-modal1"></div>
					</div>
                    
                    <div class="item itemNew">
						<div class="fna-carousel-page-content abt-generali-7 fna-custom-sized-carousel-modal1"></div>
					</div>
					<div class="item itemNew">
						<div class="fna-carousel-page-content abt-generali-8 fna-custom-sized-carousel-modal1"></div>
					</div>
					<div class="item itemNew">
						<div class="fna-carousel-page-content abt-generali-9 fna-custom-sized-carousel-modal1"></div>
					</div>
					<div class="item itemNew">
						<div class="fna-carousel-page-content abt-generali-10 fna-custom-sized-carousel-modal1"></div>
					</div>
					<div class="item itemNew">
						<div class="fna-carousel-page-content abt-generali-11 fna-custom-sized-carousel-modal1"></div>
					</div>
                    <div class="item itemNew">
						<div class="fna-carousel-page-content abt-generali-12 fna-custom-sized-carousel-modal1"></div>
					</div>
					<div class="item itemNew">
						<div class="fna-carousel-page-content abt-generali-13 fna-custom-sized-carousel-modal1"></div>
					</div>
					<div class="item itemNew">
						<div class="fna-carousel-page-content abt-generali-14 fna-custom-sized-carousel-modal1"></div>
					</div>
					<div class="item itemNew">
						<div class="fna-carousel-page-content abt-generali-15 fna-custom-sized-carousel-modal1"></div>
					</div>
				<!-- FNA Changes by LE Team End -->
				</div>
				<!-- Left and right controls -->
				<button class="carousel-control left" data-target="#genCarousel" ng-non-bindable data-slide="prev">
					<span class="fa fa-angle-left" aria-hidden="true"></span>
					
				</button>
				<button class="carousel-control right" data-target="#genCarousel" ng-non-bindable  data-slide="next">
					<span class="fa fa-angle-right" aria-hidden="true"></span>
				</button>
			</div>
		</div>
	</div>
    <!-- FNA changes by LE Team >>> adding manual representation button -- Starts -->
    <div id="makePresentation" carousal-initial class="modal FadeInDown animated custom_fna_modal fna-custom-sized-carousel-modal fna-custom-sized-carousel-modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<span translate = fna.lifeStages></span>
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		</div>
		<div class="modal-body">
			<div id="genCarousel1" class="carousel slide" data-ride="carousel" swipe-carousel>
				<!-- Indicators -->
				<!-- <ol class="carousel-indicators fna-custom-sized-carousel-modal1">
					<li data-target="#genCarousel1" data-slide-to="0" class="active"></li>
					<li data-target="#genCarousel1" data-slide-to="1"></li>
					<li data-target="#genCarousel1" data-slide-to="2"></li>
					<li data-target="#genCarousel1" data-slide-to="3"></li>
				</ol> -->
				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox" >
					<!-- <div class="item active">
						<div class="carousel-page-content manual-presentation-1 fna-custom-sized-carousel-modal1"></div>
					</div>
					<div class="item">
						<div class="carousel-page-content manual-presentation-2 fna-custom-sized-carousel-modal1"></div>
					</div>
					<div class="item">
						<div class="carousel-page-content manual-presentation-3 fna-custom-sized-carousel-modal1"></div>
					</div> -->
					<div class="item itemNew">
						<div class="fna-carousel-page-content manual-presentation-4 fna-custom-sized-carousel-modal1"></div>
					</div>
					<!-- FNA Changes by LE Team Ends -->
				</div>
				<!-- Left and right controls -->
				<!-- <button class="carousel-control left" data-target="#genCarousel1" ng-non-bindable data-slide="prev">
					<span class="fa fa-angle-left" aria-hidden="true"></span>
					
				</button>
				<button class="carousel-control right" data-target="#genCarousel1" ng-non-bindable  data-slide="next">
					<span class="fa fa-angle-right" aria-hidden="true"></span>
				</button> -->
			</div>
		</div>
	</div>
    <!-- FNA changes by LE Team >>> adding manual representation button -- Ends -->
</div>
</div>
<lepopup control="lePopupCtrl"/>
<div	class="popup_setpref_container pdfViewerPopUp videoPopup general-overlay-container"
ng-show="show_hide_popup" ng-class="{'center_pop_up':show_hide_popup}">
<p class="header_pref">
	<span class="text" translate=""></span><a id="close_popup"
		class="close_pref " ng-click="show_hide_popup = !show_hide_popup"></a>
</p>
<div ng-hide="showPDF">
	<video id="le_prod_video" data-ng-src=[[videoSource]] width="800"
		height="454" controls autoplay> Your browser does not support
		HTML5 video.
	</video>
</div>
</div>
<div class="general-modal-overlay" ng-show="show_hide_popup" ng-click="show_hide_popup=!show_hide_popup"></div>

