  <!--Copyright 2015, LifeEngage -->
		
	
<div class="container product-listing-page">
	<div class="box_heading">
		<div class="product_heading" translate="illustrator.allProducts">All Products</div>
	</div>
	<!--<div class="products-view">	
		<img src ="css/generali-theme/img/Products.png">
		</div>-->
	<div class="row-fluid">
		<!-- PRODUCTION CONTAINER SET 1 STARTS-->
		<div class="span6">
			<div ng-repeat ="product in productsListEven" class="box" >
				<div class="triangle_overlay"></div>
				<div class="row-fluid">
					<div class="span8 img-btn-container productImgSize">
						<div class="mobileImgContainer">
							<img class="mobileProductImg row-fluid" src="[[fileFullPath]][[product.image]]">
						</div>
						<div class="row-fluid bottom-menu">
							<div ng-if="product.id==220" class="span3 keyfeature1" translate="illustrator.keyFeatures" ng-click="showKeyFeatures('#wholeLife')"></div>	 
							<div ng-if="product.id==220" class="span3 ebroc" translate="illustrator.eBrochure" ng-click="openPDF($index,product.code,'Brochure')"  data-toggle="modal"></div>
							<div ng-if="product.id==220" class="span3 salespitch" translate="illustrator.salesPitch" ng-click="playVideo($index,product.code,'Video')" data-target="#salesPitch" role="button" data-toggle="modal"></div>
						    
						    <div ng-if="product.id==306" class="span3 keyfeature1" translate="illustrator.keyFeatures" ng-click="showKeyFeatures('#genSave10Plus')"></div>	 
							<div ng-if="product.id==306" class="span3 ebroc" translate="illustrator.eBrochure" ng-click="openPDF($index,product.code,'Brochure')" data-toggle="modal"></div>
							<div ng-if="product.id==306" class="span3 salespitch" translate="illustrator.salesPitch" data-target="#salesPitch" role="button" ng-click="playVideo($index,product.code,'Video')" data-toggle="modal"></div>	
						  	
						    <div ng-if="product.id==10" class="span3 keyfeature1" translate="illustrator.keyFeatures" ng-click="showKeyFeatures('#genCompleteHealth80')"></div>	 
							<div ng-if="product.id==10" class="span3 ebroc" translate="illustrator.eBrochure" ng-click="openPDF($index,product.code,'Brochure')" data-toggle="modal"></div>
							<div ng-if="product.id==10" class="span3 salespitch" translate="illustrator.salesPitch" data-target="#salesPitch" role="button" ng-click="playVideo($index,product.code,'Video')" data-toggle="modal"></div>
							
						    <div ng-if="product.id==6" class="span3 keyfeature1" translate="illustrator.keyFeatures" ng-click="showKeyFeatures('#genSave20Plus')"></div>	 
							<div ng-if="product.id==6" class="span3 ebroc" translate="illustrator.eBrochure" ng-click="openPDF($index,product.code,'Brochure')" data-toggle="modal"></div>
							<div ng-if="product.id==6" class="span3 salespitch" translate="illustrator.salesPitch" data-target="#salesPitch" role="button" ng-click="playVideo($index,product.code,'Video')" data-toggle="modal"></div>	
							
						</div>
					</div>
					<div class="span4 pull-right product-details">
						<div class="product_type"><span translate = [[product.name]]></span></div>
						<p translate = [[product.definition]]>
							
						</p>
						
						<button class="btn btn-primary pull-right span10" ng-disabled="(product.code == 'GFO' && isWeb) || product.code == 'WFP'" ng-click="getIllustration(product)" translate="illustrator.illustration"></button>
					</div>
					
					<div id="wholeLife" carousal-initial class="modal FadeInDown animated custom_fna_modal custom-sized-carousel-modal" tabindex="-1" >
						<div class="modal-header">
							<span translate="illustrator.keyFeatures"></span>
							<button type="button" class="close" ng-click="hideKeyFeatures('#wholeLife')">x</button>
						</div>
						<div class="modal-body product_width">
							 
							<div id="wholeLifeCarousel" class="carousel slide" data-ride="carousel" data-wrap="false" swipe-carousel>
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#wholeLifeCarousel" data-slide-to="0" class="active"></li>
									<li data-target="#wholeLifeCarousel" data-slide-to="1"></li>
								</ol>
								<!-- Wrapper for slides -->
								<div class="carousel-inner" role="listbox" >
									<div class="item active">
										<div class="carousel-page-content wholeLife_1"></div>
									</div>
									<div class="item">
										<div class="carousel-page-content wholeLife_2"></div>
									</div>
								</div>
								<button class="left carousel-control" data-target="#wholeLifeCarousel" ng-non-bindable data-slide="prev">
									<span class="fa fa-angle-left" aria-hidden="true"></span>
									
								</button>
								<button class="right carousel-control" data-target="#wholeLifeCarousel" ng-non-bindable  data-slide="next">
									<span class="fa fa-angle-right" aria-hidden="true"></span>
								</button>
							</div>
						</div>
					</div>
					
                    
                    <div id="genProLife20" carousal-initial class="modal FadeInDown animated custom_fna_modal custom-sized-carousel-modal" tabindex="-1" >
						<div class="modal-header">
							<span translate="illustrator.keyFeatures"></span>
							<button type="button" class="close" ng-click="hideKeyFeatures('#genProLife20')">x</button>
						</div>
						<div class="modal-body product_width">
							 
							<div id="genProLifeCarousel" class="carousel slide" data-ride="carousel" data-wrap="false" swipe-carousel>
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#genProLifeCarousel" data-slide-to="0" class="active"></li>
									<li data-target="#genProLifeCarousel" data-slide-to="1"></li>
								</ol>
								<!-- Wrapper for slides -->
								<div class="carousel-inner" role="listbox" >
									<div class="item active">
										<div class="carousel-page-content GenProLife20_1"></div>
									</div>
									<div class="item">
										<div class="carousel-page-content GenProLife20_2"></div>
									</div>
								</div>
								<button class="left carousel-control" data-target="#genProLifeCarousel" ng-non-bindable data-slide="prev">
									<span class="fa fa-angle-left" aria-hidden="true"></span>
									
								</button>
								<button class="right carousel-control" data-target="#genProLifeCarousel" ng-non-bindable  data-slide="next">
									<span class="fa fa-angle-right" aria-hidden="true"></span>
								</button>
							</div>
						</div>
					</div>
	
					<div id="genProLife25" carousal-initial class="modal FadeInDown animated custom_fna_modal custom-sized-carousel-modal" tabindex="-1">
						<div class="modal-header">
							<span translate="illustrator.keyFeatures"></span>
							<button type="button" class="close" ng-click="hideKeyFeatures('#genProLife25')">x</button>
						</div>
						<div class="modal-body product_width">
							<div id="genProLife25Carousel" class="carousel slide" data-ride="carousel" swipe-carousel>
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#genProLife25Carousel" data-slide-to="0" class="active"></li>
									<li data-target="#genProLife25Carousel" data-slide-to="1"></li>
								</ol>
								<!-- Wrapper for slides -->
								<div class="carousel-inner" role="listbox" >
									<div class="item active">
										<div class="carousel-page-content GenProLife25_1"></div>
									</div>
									<div class="item">
										<div class="carousel-page-content GenProLife25_2"></div>
									</div>
								</div>
								<button class="left carousel-control" data-target="#genProLife25Carousel" ng-non-bindable data-slide="prev">
									<span class="fa fa-angle-left" aria-hidden="true"></span>
									
								</button>
								<button class="right carousel-control" data-target="#genProLife25Carousel" ng-non-bindable  data-slide="next">
									<span class="fa fa-angle-right" aria-hidden="true"></span>
								</button>
							</div>
						</div>
					</div>
					
					<div id="genSave20Plus" carousal-initial class="modal FadeInDown animated custom_fna_modal custom-sized-carousel-modal" tabindex="-1">
						<div class="modal-header">
							<span translate="illustrator.keyFeatures"></span>
							<button type="button" class="close" ng-click="hideKeyFeatures('#genSave20Plus')">x</button>
						</div>
						<div class="modal-body product_width">
							<div id="genSave20PlusCarousel" class="carousel slide" data-ride="carousel" data-wrap="false" swipe-carousel>
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#genSave20PlusCarousel" data-slide-to="0" class="active"></li>
									<li data-target="#genSave20PlusCarousel" data-slide-to="1"></li>
								</ol>
								<!-- Wrapper for slides -->
								<div class="carousel-inner" role="listbox" >
									<div class="item active">
										<div class="carousel-page-content GenSave_1"></div>
									</div>
									<div class="item">
										<div class="carousel-page-content GenSave_2"></div>
									</div>
								</div>
								<button class="left carousel-control" data-target="#genSave20PlusCarousel" ng-non-bindable data-slide="prev">
									<span class="fa fa-angle-left" aria-hidden="true"></span>
									
								</button>
								<button class="right carousel-control" data-target="#genSave20PlusCarousel" ng-non-bindable  data-slide="next">
									<span class="fa fa-angle-right" aria-hidden="true"></span>
								</button>
							</div>
						</div>
					</div>	
					
					<div id="genSave10Plus" carousal-initial class="modal FadeInDown animated custom_fna_modal custom-sized-carousel-modal" tabindex="-1">
						<div class="modal-header">
							<span translate="illustrator.keyFeatures"></span>
							<button type="button" class="close" ng-click="hideKeyFeatures('#genSave10Plus')">x</button>
						</div>
						<div class="modal-body product_width">
							<div id="genSave10PlusCarousel" class="carousel slide" data-ride="carousel" data-wrap="false" swipe-carousel>
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#genSave10PlusCarousel" data-slide-to="0" class="active"></li>
									<li data-target="#genSave10PlusCarousel" data-slide-to="1"></li>
								</ol>
								<!-- Wrapper for slides -->
								<div class="carousel-inner" role="listbox" >
									<div class="item active">
										<div class="carousel-page-content GenSave10_1"></div>
									</div>
									<div class="item">
										<div class="carousel-page-content GenSave10_2"></div>
									</div>
								</div>
								<button class="left carousel-control" data-target="#genSave10PlusCarousel" ng-non-bindable data-slide="prev">
									<span class="fa fa-angle-left" aria-hidden="true"></span>
									
								</button>
								<button class="right carousel-control" data-target="#genSave10PlusCarousel" ng-non-bindable  data-slide="next">
									<span class="fa fa-angle-right" aria-hidden="true"></span>
								</button>
							</div>
						</div>
					</div>					
		
					<div id="keyFeaturesGFODesc" carousal-initial class="modal FadeInDown animated custom_fna_modal custom-sized-carousel-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-header">
							<span translate="illustrator.keyFeatures"></span>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
						</div>
						<div class="modal-body product_width">
							<div id="gfoProductCarousel" class="carousel slide" data-ride="carousel" swipe-carousel>
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#gfoProductCarousel" data-slide-to="0" class="active"></li>
									<li data-target="#gfoProductCarousel" data-slide-to="1"></li>
									<li data-target="#gfoProductCarousel" data-slide-to="2"></li>
								    <li data-target="#gfoProductCarousel" data-slide-to="3"></li>
								</ol>
								<!-- Wrapper for slides -->
								<div class="carousel-inner" role="listbox" >
									<div class="item active">
										<div class="carousel-page-content GFOImage1"></div>
									</div>
									<div class="item">
										<div class="carousel-page-content GFOImage2"></div>
									</div>
									<div class="item">
										<div class="carousel-page-content GFOImage3"></div>
									</div>
									<div class="item">
										<div class="carousel-page-content GFOImage4"></div>
									</div>
								</div>
								<button class="carousel-control left" data-target="#gfoProductCarousel" ng-non-bindable data-slide="prev">
									<span class="fa fa-angle-left" aria-hidden="true"></span>
									
								</button>
								<button class="carousel-control right" data-target="#gfoProductCarousel" ng-non-bindable  data-slide="next">
									<span class="fa fa-angle-right" aria-hidden="true"></span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
		<!-- PRODUCTION CONTAINER SET 1 ENDS-->		
		<!-- PRODUCTION CONTAINER SET 2 STARTS-->
		<div class="span6">
			<div ng-repeat ="product in productsListOdd" class="box" >
				<div class="triangle_overlay"></div>
				<div class="row-fluid">
					<div class="span8 img-btn-container productImgSize">
						<div class="mobileImgContainer">
							<img class="mobileProductImg row-fluid" src="[[fileFullPath]][[product.image]]">
						</div>
						<div class="row-fluid bottom-menu">
							
							<div ng-if="product.id==274" class="span3 keyfeature1" translate="illustrator.keyFeatures" ng-click="showKeyFeatures('#genSave4Plus')"></div>	 
							<div ng-if="product.id==274" class="span3 ebroc" translate="illustrator.eBrochure" ng-click="openPDF($index,product.code,'Brochure')" data-toggle="modal"></div>
							<div ng-if="product.id==274" class="span3 salespitch" translate="illustrator.salesPitch" data-target="#salesPitch" role="button" ng-click="playVideo($index,product.code,'Video')" data-toggle="modal"></div>	
						  	
							<div ng-if="product.id==4" class="span3 keyfeature1" translate="illustrator.genProLife20Product" ng-click="showKeyFeatures('#genProLife20')"></div>	 
							<div ng-if="product.id==4" class="span3 keyfeature2" translate="illustrator.genProLife25Product" ng-click="showKeyFeatures('#genProLife25')"></div>	
							<div ng-if="product.id==4" class="span3 ebroc" translate="illustrator.eBrochure" ng-click="openPDF($index,product.code,'Brochure')"  data-toggle="modal"></div>
							<div ng-if="product.id==4" class="span3 salespitch salespitch-fna" translate="illustrator.salesPitch" ng-click="playVideo($index,product.code,'Video')" data-target="#salesPitch" role="button" data-toggle="modal"></div>
						    
							 <div ng-if="product.id==97" class="span3 keyfeature1" translate="illustrator.keyFeatures" ng-click="showKeyFeatures('#GenCancerSuperProtection')"></div>	 
							<div ng-if="product.id==97" class="span3 ebroc" translate="illustrator.eBrochure" ng-click="openPDF($index,product.code,'Brochure')" data-toggle="modal"></div>
							<div ng-if="product.id==97" class="span3 salespitch" translate="illustrator.salesPitch" data-target="#salesPitch" role="button" ng-click="playVideo($index,product.code,'Video')" data-toggle="modal"></div>
                            
							 <div ng-if="product.id==3" class="span3 keyfeature1" translate="illustrator.genBumnan8Product" ng-click="showKeyFeatures('#genBumnan8')"></div>	 
							<div ng-if="product.id==3" class="span3 keyfeature2" translate="illustrator.genBumnan10Product" ng-click="showKeyFeatures('#genBumnan10')"></div>	
							<div ng-if="product.id==3" class="span3 ebroc" translate="illustrator.eBrochure" ng-click="openPDF($index,product.code,'Brochure')"  data-toggle="modal"></div>
							<div ng-if="product.id==3" class="span3 salespitch salespitch-fna" translate="illustrator.salesPitch" ng-click="playVideo($index,product.code,'Video')" data-target="#salesPitch" role="button" data-toggle="modal"></div>
								
						</div>
					</div>
					<div class="span4 pull-right product-details">
						<div class="product_type"><span translate = [[product.name]]></span></div>
						<p translate = [[product.definition]]>
							
						</p>
						<button class="btn btn-primary pull-right span10" ng-click="getIllustration(product)" translate="illustrator.illustration"></button>
					</div>
					
					<div id="genSave4Plus" carousal-initial class="modal FadeInDown animated custom_fna_modal custom-sized-carousel-modal" tabindex="-1">
						<div class="modal-header">
							<span translate="illustrator.keyFeatures"></span>
							<button type="button" class="close" ng-click="hideKeyFeatures('#genSave4Plus')">x</button>
						</div>
						<div class="modal-body product_width">
							<div id="genSave4PlusCarousel" class="carousel slide" data-ride="carousel" data-wrap="false" swipe-carousel>
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#genSave4PlusCarousel" data-slide-to="0" class="active"></li>
									<li data-target="#genSave4PlusCarousel" data-slide-to="1"></li>
								</ol>
								<!-- Wrapper for slides -->
								<div class="carousel-inner" role="listbox" >
									<div class="item active">
										<div class="carousel-page-content GenSave4_1"></div>
									</div>
									<div class="item">
										<div class="carousel-page-content GenSave4_2"></div>
									</div>
								</div>
								<button class="left carousel-control" data-target="#genSave4PlusCarousel" ng-non-bindable data-slide="prev">
									<span class="fa fa-angle-left" aria-hidden="true"></span>
									
								</button>
								<button class="right carousel-control" data-target="#genSave4PlusCarousel" ng-non-bindable  data-slide="next">
									<span class="fa fa-angle-right" aria-hidden="true"></span>
								</button>
							</div>
						</div>
					</div>	
					
                    <div id="genCompleteHealth80" carousal-initial class="modal FadeInDown animated custom_fna_modal custom-sized-carousel-modal" tabindex="-1">
						<div class="modal-header">
							<span translate="illustrator.keyFeatures"></span>
							<button type="button" class="close" ng-click="hideKeyFeatures('#genCompleteHealth80')">x</button>
						</div>
						<div class="modal-body product_width">
							<div id="genCompleteHealth80Carousel" class="carousel slide" data-ride="carousel" data-wrap="false" swipe-carousel>
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#genCompleteHealth80Carousel" data-slide-to="0" class="active"></li>
									<li data-target="#genCompleteHealth80Carousel" data-slide-to="1"></li>
								</ol>
								<!-- Wrapper for slides -->
								<div class="carousel-inner" role="listbox" >
									<div class="item active">
										<div class="carousel-page-content GenCompleteHealth80_1"></div>
									</div>
									<div class="item">
										<div class="carousel-page-content GenCompleteHealth80_2"></div>
									</div>
								</div>
								<button class="left carousel-control" data-target="#genCompleteHealth80Carousel" ng-non-bindable data-slide="prev">
									<span class="fa fa-angle-left" aria-hidden="true"></span>
									
								</button>
								<button class="right carousel-control" data-target="#genCompleteHealth80Carousel" ng-non-bindable  data-slide="next">
									<span class="fa fa-angle-right" aria-hidden="true"></span>
								</button>
							</div>
						</div>
					</div>
                    
					<div id="genBumnan8" carousal-initial class="modal FadeInDown animated custom_fna_modal custom-sized-carousel-modal" tabindex="-1">
						<div class="modal-header">
							<span translate="illustrator.keyFeatures"></span>
							<button type="button" class="close" ng-click="hideKeyFeatures('#genBumnan8')">x</button>
						</div>
						<div class="modal-body product_width">
							<div id="iPlanProductCarousel" class="carousel slide" data-ride="carousel" data-wrap="false" swipe-carousel>
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#iPlanProductCarousel" data-slide-to="0" class="active"></li>
									<li data-target="#iPlanProductCarousel" data-slide-to="1"></li>
								</ol>
								<!-- Wrapper for slides -->
								<div class="carousel-inner" role="listbox" >
									<div class="item active">
										<div class="carousel-page-content GenBumNan8_1"></div>
									</div>
									<div class="item">
										<div class="carousel-page-content GenBumNan8_2"></div>
									</div>
								</div>
								<button class="left carousel-control" data-target="#iPlanProductCarousel" ng-non-bindable data-slide="prev">
									<span class="fa fa-angle-left" aria-hidden="true"></span>
									
								</button>
								<button class="right carousel-control" data-target="#iPlanProductCarousel" ng-non-bindable  data-slide="next">
									<span class="fa fa-angle-right" aria-hidden="true"></span>
								</button>
							</div>
						</div>
					</div>
	
					<div id="genBumnan10" carousal-initial class="modal FadeInDown animated custom_fna_modal custom-sized-carousel-modal" tabindex="-1">
						<div class="modal-header">
							<span translate="illustrator.keyFeatures"></span>
							<button type="button" class="close" ng-click="hideKeyFeatures('#genBumnan10')">x</button>
						</div>
						<div class="modal-body product_width">
							<div id="gemilangProductCarousel" class="carousel slide" data-ride="carousel" swipe-carousel>
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#gemilangProductCarousel" data-slide-to="0" class="active"></li>
									<li data-target="#gemilangProductCarousel" data-slide-to="1"></li>
								</ol>
								<!-- Wrapper for slides -->
								<div class="carousel-inner" role="listbox" >
									<div class="item active">
										<div class="carousel-page-content GenBumNan10_1"></div>
									</div>
									<div class="item">
										<div class="carousel-page-content GenBumNan10_2"></div>
									</div>
								</div>
								<button class="left carousel-control" data-target="#gemilangProductCarousel" ng-non-bindable data-slide="prev">
									<span class="fa fa-angle-left" aria-hidden="true"></span>
									
								</button>
								<button class="right carousel-control" data-target="#gemilangProductCarousel" ng-non-bindable  data-slide="next">
									<span class="fa fa-angle-right" aria-hidden="true"></span>
								</button>
							</div>
						</div>
					</div>
				    <div id="GenCancerSuperProtection" carousal-initial class="modal FadeInDown animated custom_fna_modal custom-sized-carousel-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-header">
							<span translate="illustrator.keyFeatures"></span>
				            <!-- FNA Changes by LE team Start -->
							<!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
				            <button type="button" class="close" ng-click="hideKeyFeatures('#GenCancerSuperProtection')">x</button>
				            <!-- FNA Changes by LE team End -->            
						</div>
						<div class="modal-body">
							<div id="genCompleteHealth80Carousel" class="carousel slide" data-ride="carousel" swipe-carousel>
								<!-- Indicators -->
								<!--<ol class="carousel-indicators">
									<li data-target="#genCompleteHealth80Carousel" data-slide-to="0" class="active"></li>
									
								</ol>-->
								<!-- Wrapper for slides -->
								<div class="carousel-inner" role="listbox" >
									<div class="item active">
										<div class="carousel-page-content GenCancerSuperProtection"></div>
									</div>
									
								</div>
							</div>
						</div>
					</div> 
	
					<div id="keyFeaturesWFPDesc" carousal-initial class="modal FadeInDown animated custom_fna_modal custom-sized-carousel-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-header">
							<span translate="illustrator.keyFeatures"></span>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
						</div>
						<div class="modal-body ">
							<div id="wfpProductCarousel" class="carousel slide" data-ride="carousel" swipe-carousel>
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#wfpProductCarousel" data-slide-to="0" class="active"></li>
									<li data-target="#wfpProductCarousel" data-slide-to="1"></li>
									<li data-target="#wfpProductCarousel" data-slide-to="2"></li>
								    <li data-target="#wfpProductCarousel" data-slide-to="3"></li>
									<li data-target="#wfpProductCarousel" data-slide-to="4"></li>
								</ol>
								<!-- Wrapper for slides -->
								<div class="carousel-inner" role="listbox" >
									<div class="item active">
										<div class="carousel-page-content WFPImage1"></div>
									</div>
									<div class="item">
										<div class="carousel-page-content WFPImage2"></div>
									</div>
									<div class="item">
										<div class="carousel-page-content WFPImage3"></div>
									</div>
									<div class="item">
										<div class="carousel-page-content WFPImage4"></div>
									</div>
									<div class="item">
										<div class="carousel-page-content WFPImage5"></div>
									</div>
								</div>
								<button class="carousel-control left" data-target="#wfpProductCarousel" ng-non-bindable data-slide="prev">
									<span class="fa fa-angle-left" aria-hidden="true"></span>
									
								</button>
								<button class="carousel-control right" data-target="#wfpProductCarousel" ng-non-bindable  data-slide="next">
									<span class="fa fa-angle-right" aria-hidden="true"></span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
		<!-- PRODUCTION CONTAINER SET 2 ENDS-->	
	</div>
</div> <!-- container ends -->	
<div class="popup_setpref_container pdfViewerPopUp videoPopup general-overlay-container"
	ng-show="show_hide_popup" ng-class="{'center_pop_up':show_hide_popup}">
	<p class="header_pref">
		<span class="text" translate=""></span><a id="close_popup"
			class="close_pref " ng-click="show_hide_popup = !show_hide_popup"></a>
	</p>
	<div ng-hide="showPDF">
		<video id="le_prod_video" data-ng-src=[[videoSource]] width="800" height="454" controls autoplay> 
			Your browser does not support HTML5 video.
		</video>
	</div>
</div>
<div class="general-modal-overlay" ng-show="show_hide_popup" ng-click="show_hide_popup=!show_hide_popup"></div>
<div class="general-modal-overlay" style="z-index: 1049;" ng-show="keyFeaturesOverlay" ng-click="hideOverlayKeyFeatures()"></div>
