<div>
<div class="row-fluid dependent-list">
		<h4 class="pull-left productRecommendationHeading" translate="fna.setGoals" >Set Goals</h4>
		<div class="pull-right">
			<!-- <div class="myself-cntr">
				<img class="myself" src="data:image/jpeg;base64,[[imageTemp]]" alt="#" />
			</div>
			<div ng-repeat="photo in FNAObject.FNA.beneficiaryPhotos" class="branches option[[($index+1)]]">
				<img class="dependent dependant[[($index+1)]]" src="data:image/jpeg;base64,[[photo]]" alt="" />
				<p ng-init="PluginInit($last)" class="option_text"></p>
			</div> -->
			<div ng-repeat="beneficiary in FNAObject.FNA.parties" class="branches option[[($index+1)]]">
				<!-- <span class="myself round-icon bs-50 [[beneficiary.imageClass]]" > -->
                <span ng-class="{true: 'myself_female round-icon bs-50 [[beneficiary.imageClass]]', false: 'myself round-icon bs-50 [[beneficiary.imageClass]]'}[beneficiary.BasicDetails.gender==='Female']">
					<img src="data:image/jpeg;base64,[[beneficiary.BasicDetails.photo]]" />
				</span>
			</div>
		</div>
	</div>
	
<div class="arc_container_wrapper span2 pull-left">
	<!-- CIRCULAR PICS -->
	
	<div class="arc_left totalelements[[childSelGoals.length]]">						
		<div>
		<div ng-repeat="goal in childSelGoals" gli-vertical-carousal index-attr="$index" count="childSelGoals.length" class="branches option[[goal.priority]]"> 
			<div class="individual_option" ng-class="updateCompletedGoal(goal);{selected:$first}">
				<span class="option_container">
					<span class="[[goal.goalicon]]" ng-click="getProductSelectionListChild(goal.goalName,goal.priority)"></span>
				</span> 
				<p class="option_text" translate="[[goal.translateID]]"></p>
			</div>								 
		</div>	 
		</div>
	</div>
</div>	

								 
</div>	
			  
			  
         
