
<div class="arc_container_wrapper">
	<div class="row-fluid dependent-list">
		<h4 class="pull-left calculatorHeading" translate="fna.calculators" >Calculator</h4>
		<div class="pull-right">
			<!-- <div class="myself-cntr">
				<img class="myself" src="data:image/jpeg;base64,[[imageTemp]]" alt="#"/>
			</div>
			<div ng-repeat="photo in FNAObject.FNA.beneficiaryPhotos" class="branches option[[($index+1)]]">
				<img class="dependent dependant[[($index+1)]]" src="data:image/jpeg;base64,[[photo]]" alt="" />
				<p ng-init="PluginInit($last)" class="option_text"></p>
			</div> -->
			<div ng-repeat="beneficiary in FNAObject.FNA.parties" class="branches option[[($index+1)]]">
				<!-- <span class="myself round-icon bs-50 [[beneficiary.imageClass]]"  > -->
                <span ng-class="{true: 'myself_female round-icon bs-50 [[beneficiary.imageClass]]', false: 'myself round-icon bs-50 [[beneficiary.imageClass]]'}[beneficiary.BasicDetails.gender==='Female']">
					<img src="data:image/jpeg;base64,[[beneficiary.BasicDetails.photo]]" />
				</span>
			</div>
		</div>
	</div>
	<div class="arc_left totalelements[[childSelGoals.length]]" ng-class="{true: 'goalLength', false: ''}[childSelGoals.length>5]">
		<p class="selected-goals-header"><span translate = "fna.selectedGoals" ></span></p>
		<div ng-repeat="goal in childSelGoals" class="branches option[[goal.priority]]" ng-class="updateCompletedGoal(goal)" >
			<div class="individual_option">
				<span class="option_container">
					<span class="[[goal.goalicon]]" ng-click="showDetail($index)" href="#calcModal" role="button" data-toggle="modal"></span>
				</span>
				<!-- <a ng-if="goal.goalId == 'Education'" data-target="#[[goal.goalId]]InfoMaps" class="infoicon fastclick"  role="button" data-toggle="modal"></a> -->
				<!-- <p class="option_text" translate="[[goal.translateID]]"></p> -->
				<div class="goal-details">
					<i class="fa fa-check"></i>
					<span class="option_text" translate="[[goal.translateID]]"></span>
                    <!-- FNA changes by LE Team Start -->
					<!-- <span class="active-star red-text">*</span> -->
                    <!-- FNA changes by LE Team End -->
				</div>
			</div>
		</div>
	</div>
	
<div id="EducationInfoMaps" class="product-info-modal modal custom_fna_modal" data-backdrop-limit="1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header prod-modal-header" >
		<span class="red-text bold" translate="fna.educationGuidelines"></span>
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
	</div>
	<div class="modal-body" >
		
		<div class="carousel-page-content" >
	  
		 <img  src='css/generali-theme/img/goal/education_1.png' style="width:100%;height:100%; border:0" />

<map name="worldMap">

<area shape="poly" coords="245,713,245,493,257,493,258,506,391,508,391,592,258,592,258,713" name="United States" >
<area shape="poly" coords="786,662,786,446,796,446,796,458,930,458,930,541,796,541,796,662" name="United Kingdom" >
<area shape="poly" coords="1448,886,1448,670,1458,670,1458,680,1591,680,1591,735,1581,735,1581,764,1458,765,1458,885" name="Singapore" >
<area shape="poly" coords="1582,955,1583,740,1593,749,1726,749,1726,832,1593,834,1593,955" name="Indonesia" >
<area shape="poly" coords="1721,1107,1720,890,1730,890,1731,900,1863,901,1864,985,1731,986,1732,1106" name="Australia" >

</map>
	
		</div>
	</div>
</div>


</div>

