<script type="text/javascript" src="lib/vendor/general/common_components.js"></script>
<div id="fna_module" class="choose-parties-page">
	<div class="row-fluid">
		<div class="span12 clearfix">								
			<!-- FIXED HEADER -->
			<!-- <div fixedheaderbar></div>	-->				
			<!-- <p class="cp_abtme_header" translate="chooseparties"></p> -->
			<!-- <div class="top-btn">
				<a class="btn btn-medium">
					<i class="fa fa-angle-left"></i>
					Solution Home
				</a>
			</div> -->
			<!-- FNA LANDING PAGE  -->
			<h4 class="choose-party-header" translate="fna.chooseparties"></h4>
			<div>
				<div class="cp_draggable_section cp_count[[beneficiaryData.length]]" id="cp_draggable_sectionId" ng-class="{true: 'cp_count_6', false: ''}[beneficiaryData.length>5]">
					<!-- MYSELF -->
					<span myselfchoosepartycomponent class="myself round-icon bs-80" id="myself" ng-init="prePopulateData()"  ng-class="{true: 'female-image', false: 'male-image'}[FNAMyself.BasicDetails.gender== 'Female']">
						<img alt="" src="data:image/jpeg;base64,[[FNAMyself.BasicDetails.photo]]">
						<!-- <span class="myself_name">[[FNAMyself.BasicDetails.firstName+' '+ FNAMyself.BasicDetails.lastName]]</span> -->
						<span class="dependent_name">[[FNAMyself.BasicDetails.firstName+' '+ FNAMyself.BasicDetails.lastName]]</span>
					</span>
					
					<!-- DEPENDENT 1 -->
					<span choosepartycomponent ng-repeat="beneficiary in beneficiaryData" id="[[beneficiary.id]]" class="dependent dependent[[($index+1)]] round-icon bs-50 [[beneficiary.imageClass]]">
						<img alt="" src="data:image/jpeg;base64,[[beneficiary.BasicDetails.photo]]">
						<span class="dependent_name">[[beneficiary.BasicDetails.firstName+' '+beneficiary.BasicDetails.lastName]]</span>
						<!-- FNA changes by LE Team >>> Starts-->
						<span class="dependent_name fna-relationship">[[beneficiary.classNameAttached]]</span>
						<!-- FNA changes by LE Team >>> Ends-->
					</span>
				</div>	
				<div class="cp_droppable_section">
					
					<div class="cp_insured_section">
						<p class="header uppercase" translate="fna.Insured"></p>
						<ul id="insuredLst" class="cp_prop_area">
							<!-- FNA Changes by LE Team Start -->
							<!-- <li class="cpLstItem"  show-scrap> -->
							<li class="cpLstItem" show-delete>
							<!-- FNA Changes by LE Team End -->
							</li> 
						</ul>
					</div>
					
					<div class="cp_proposer_section">
						<p class="header uppercase" translate="fna.Payer"></p>
						<ul id="proposedLst" class="cp_prop_area">
							<!-- FNA Changes by LE Team Start -->
							<!-- <li class="cpLstItem" show-scrap></li> -->
							<li class="cpLstItem" show-delete></li>
							<!-- FNA Changes by LE Team End -->							
						</ul>
					</div>
					
					
					<div class="cp_beneficiary_section">
						<p class="header uppercase" translate="fna.Beneficiary"></p>
						<ul id="benefLst" class="cp_prop_area"> 
						</ul>
					</div>
				</div>
				
				<div class="bottom-btn">
					<!-- FNA changes by LE Team >>> adding product selection button -- Starts -->
					<button class="btn logicBtn countBtn btn-medium pull-left span3 uppercase" ng-click="goToProductRecommendationPage()">
						<span class="red-text" translate="fna.productSelection"></span>
					</button>	
					<!-- FNA changes by LE Team >>> adding product selection button -- Ends -->
					<button class="btn btn-medium pull-right btn-primary span3 uppercase" ng-click="nextPage()" ng-disabled="proceedDisable" ng-model="proceedDisable" translate="fna.productProceedFNA">
				<!--		Proceed -->
					</button>	
				</div>
				<!-- <div class="row-fluid">
					<div class="span12 make_it_center">
						<button class="cp_proceed_btn bxbtn fastclick" ng-click="nextPage()" ng-disabled="proceedDisable" ng-model="proceedDisable" translate="[[nextButtonLabel]]"></button>
						
					</div>
				</div> -->
				
			</div>
			
		</div> <!-- row-fluid ends -->			
	</div> <!-- container ends -->	
</div>
<!-- FNA changes by LE Team>> - starts -->
<!-- Choose Party error message -->
	<div class="overlay_TC" ng-show="choosePartyPopUpMsg"></div>
	<div class=" text-center">
		<div id="login_popup_info" class="modal fade cust-modal-med in bg-white" ng-show="choosePartyPopUpMsg">
			<div class="modal-header bg-white">
				<div class="popup_info_img text-center"><img src="css/generali-theme/img/info.png" width="25"></div>
			</div>
			<div class="modal-body">
				<p class="large text-center">[[choosePartyErrorMsg1]]</p>
				<p class="large text-center">[[choosePartyErrorMsg2]]</p>
				<p class="large text-center">[[choosePartyErrorMsg3]]</p>
				<div>
				   <button type="button" class="btncls login-popup-close" ng-click="closePopup()" translate = "salesActivity.popUpClose"></button>
				</div>
			</div>    
		</div>
    </div>
<!-- FNA changes by LE Team>> - ends -->
<lepopup control="lePopupCtrl"/>
<!-- THE DELETE SCRAP ICON -->
<!-- FNA changes by LE Team Start -->
<!-- <button class="cp_scrapButton" ng-click="onDelete()"></button> -->
<button class="cp_scrapButton fna_cp_scrapButton1" ng-click="onDelete()"></button>
<!-- FNA changes by LE Team End -->
<clickstream pageid=[[selectedpage]]>	
</clickstream>
