<!--Copyright 2015, LifeEngage -->
<script type="text/javascript" src="lib/vendor/general/common_components.js"></script>	
		
		<div class="outercontainer">
				<div class="row-fluid">
					<div class="span12 clearfix">								
						<div id="head_fix_tab" class="fixheader_tablet"> 						
							
						</div> 
						
						<!-- FNA LANDING PAGE  -->
						<div class="row-fluid">
						   <div class="span12 fna_landing_select_wrapper">
						       <div class="span4 ">
									<p class="gen_description" translate="fna.description"></p>	
									<p class="description_text" translate="fna.individualDetails"></p>
									 <span class="circularDesc">
									    <p translate="fna.individualAnalysis"></p>	 
									 </span>
								</div>	
								<div class="span4 ">
									<p class="gen_description" translate="fna.description"></p>	
									<p class="description_text" translate="fna.financialDetails"></p>
									<span class="circularDesc" ng-click=aboutMe()>
									 <p translate="fna.financialAnalysis"></p>	
									</span>
								</div>	
								<div class="span4 ">
									<p class="gen_description" translate="fna.description"></p>
									<p class="description_text" translate="fna.lifeDetails"></p>
									<span class="circularDesc"> 
									  <p translate="fna.lifePlanner"></p>
									</span>
								</div>
							  				   	
						   </div>
						</div>
						
					</div> <!-- row-fluid ends -->
					
				</div> <!-- container ends -->	
				
			
			
	<!-- Observation -->
	
	<clickstream pageid=[[selectedpage]]>	
	</clickstream>
	
	<!-- Observation -->				
