<!--Copyright 2015, LifeEngage -->
<script type="text/javascript" src="lib/vendor/general/common_components.js"></script>
<!-- SCRIPT TO BE LOADED ON TOP  
<script type="text/javascript" src="lib/vendor/general/tab-accordion.js"></script>-->
<!-- SCRIPT TO BE LOADED ON TOP ENDS -->


 <!--<p class="abtme_header" translate="fna.listing"></p>-->
<div class="row-fluid">
	<div class="fna_span12">
		<div class="fna_listing_page_wrapper" >
			
			<!-- FILTER TITLE SECTION -->
				<div class="row-fluid">
				<div class="fna_span12 clearfix">
					<div class="container">
					<div class="row-fluid">
						<!--fna changes made by le team starts-->
						<div class="fna_span12 clearfix">
						<!--fna changes made by le team ends-->	
						<!-- BUTTON AREA -->
					<!-- 	<div class="filter_btn_cont  span2 margin-bottom15">
						<button class="btn btn-default btn-large btn-block btn_adv_filter highlight"  ng-click= "toggleFilterSection()">
						<i class="fa fa-filter large"></i>
						<span class="filter_txt" translate="general.productFilter"></span>
						 <i class="fa fa-caret-up" ng-show="filterOpen" ></i>
						 <i class="fa fa-caret-down" ng-show="!filterOpen"></i>						
						</button>
						  </div> -->
						  	<!--fna changes made by le team starts-->
						   <div class="row-fluid adv-filter-a">
						   	<!--fna changes made by le team ends-->	
                             <div class="span12">
								<!--fna changes made by le team starts-->
                                  <!-- LEFT SIDE ( COLUMN 1 ) -->
								<div class="container container-a">
									<!--fna changes made by le team ends-->
								<div class="row-fluid">
									<div clas="fna_span12 clearfix">
									<div class="fna_span3_5"> 
									    <label class="control-label fna_span3_5"><span translate="fna.leadFullName" class="ng-scope">Lead Full Names</span>										
										</label>
										<div class="span8">
                                          <!-- FNA Changes by LE Team Start (Transalation) -->
                                          <!-- <input type="text" class="form-control fna_span12" ng-model="Name" placeholder="Lead Full Name" id="filter_name"></input> -->
                                          <input type="text" class="form-control fna_span12" ng-model="Name" placeholder="[[convertertranslate('fna.leadFullName')]]" id="filter_name"></input>
                                          <!-- FNA Changes by LE Team End -->
										  </div>
									</div>	
									<div class="fna_span3_5">
									<label class="control-label fna_span3_5"><span translate="fna.partyDateOfBirth" class="ng-scope">Date Of Birth</span>										
										</label>
										<div class="span8">									
										<div class="datetime">
										<div class="date-holder">
                                          <!-- FNA Changes by LE Team Start -->
										  <!-- <input type="date" gli-date-input class="custdatepicker input-append date fna_span12" placeholder="Date Of Birth" ng-model="dob" data-date-format="yyyy-mm-dd" id="dob" ></input> -->
										 <!-- <input thai-date type="text" class="custdatepicker input-append date span12" placeholder="Date Of Birth" ng-model="dob" data-date-format="yyyy-mm-dd" id="dob" ></input> -->
                                             <input thai-date type="text" class="custdatepicker input-append date span12" placeholder="[[convertertranslate('fna.partyDateOfBirth')]]" ng-model="dob" data-date-format="yyyy-mm-dd" id="dob" ></input>
										  <!-- FNA Changes by LE Team End -->
										  <i class="fa fa-calendar"></i>
										  <span class="placeholder-overlay" ng-hide="dob">DateOfBirth</span>
										</div>
										</div>
								
										</div>
									</div>
                                    <div class="fna_span3_5">
                                    <!--  FNA changes by LE Team >>> new fields add - Starts-->
									<label class="control-label fna_span3_5"><span translate="fna.fnaCreatedDate" class="ng-scope">FNA Created Date</span>	</label>
										<div class="span8">									
										<div class="datetime">
										<div class="date-holder">
                                          <!-- FNA Changes by LE Team Start -->
										  <!-- <input type="date" gli-date-input class="custdatepicker input-append date fna_span12" placeholder="FNA Create Date" ng-model="creationDate" data-date-format="yyyy-mm-dd" id="creationDate" ></input> -->
										  <input thai-date type="text" class="custdatepicker input-append date span12" placeholder="[[convertertranslate('fna.fnaCreatedDate')]]" ng-model="Key13" data-date-format="yyyy-mm-dd" id="creationDate" ></input>
										  <!-- FNA Changes by LE Team End -->
										  <i class="fa fa-calendar"></i>
										  <span class="placeholder-overlay" ng-hide="creationDate">FNA Created Date</span>
										</div>
										</div>
								
										</div>
									</div>                                    
									<div class="fna_span1_5">
                                    <!--  FNA changes by LE Team >>> new fields add - Ends-->   
									<div class="span6">
                                    <!-- FNA Changes by LE Team Start (Bug: 3770 - changing the reset icon to png icon) -->
                                        <!--
								        <a class="btn btn-default btn-large  fna_button" id="resetBtn" ng-click=refreshFilter()>
                                            <li class="fa fa-undo "></li>
                                        </a>
                                        -->
                                        <a class="btn fna_button" id="resetBtn" ng-click=refreshFilter()>
                                            <img src="css/generali-theme/img/reset-image.png" id="resetBtn" class="fna-reset-filter-icon">
                                        </a>
                                    <!-- FNA Changes by LE Team End (Bug: 3770 - changing the reset icon to png icon) -->
									</div>	
									<!-- <div class="span3">  
										<a class="btn btn-default btn-large fna_button"> <li class="fa fa-trash-o "></li></a>
									</div>	 -->
									</div>	
									
								<!-- 	<div class="span3">                  
                                          <input type="text" class="form-control span12" placeholder="partyId" ng-model="partyId" id="filter_name"></input>
									</div>	 -->
									</div>
								</div> 
							
							
							<!-- <div class="row-fluid">
								<div class="offset10 span2">
								   <a class="btn btn-default btn-block highlight resetButton btn_adv_filter" id="resetBtn" ng-click=refreshFilter()>Reset</a>
								</div>  
							</div> -->
							</div>
							</div>
						</div>		
					    
						<!-- BUTTON AREA ENDS-->
						 <lepopup control="lePopupCtrl"/>
						</div>
					</div>
					</div>
					
					<!-- filter content-->
				<!-- filter content ends-->
						
				</div>
			</div>	
			<!-- FILTER TITLE SECTION ENDS -->
			
			<!-- FNA LISTING TABLE STARTS -->
			<div class="container" st-table="tableFNAList" st-safe-src="fnaList">
			<div id="fnaList"></div>
			</div>
			
			<!-- FNA LISTING TABLE ENDS -->
		</div>
		
		
	</div>
</div>
