  <!--Copyright 2015, LifeEngage -->
<script type="text/javascript" src="lib/vendor/general/common_components.js"></script>
<div class="row-fluid">
    <div class="span12 bg_white">
	<p style=" color: #000; ">FNA Master</p>
    
        
    <div ln-include="modules/fna/partials/fact-finder-assets.html"></div>
    
 
 </div>
</div>

	<!-- Observation -->
	
	<clickstream pageid=[[selectedpage]]>	
	</clickstream>
	
	<!-- Observation -->	