  <!--Copyright 2015, LifeEngage -->
<!-- <script type="text/javascript" src="lib/vendor/general/common_components.js"></script> -->

<!-- Menubarhtml page -->	
<div ng-controller="GLI_MenuController">
	
	    <ul class="nav pull-right top-menu" ng-show="isAuthenticated">
				<!-- BEGIN USER LOGIN DROPDOWN -->
               <li class="dropdown">
                   <a href="" class="dropdown-toggle hidden-phone" data-toggle="dropdown">     <!-- Changes done for Mobile responsivness -->                       
                       <span class="username agentName" ng-bind="agentName">Name</span>
                      <!--  <span class="username agentName">{{agentName}}</span> -->
                   </a>
               </li>
               <!-- END USER LOGIN DROPDOWN -->
               <!-- BEGIN SUPPORT -->
                 <li class="dropdown sync" ng-show="enableSync">
                   <a class="dropdown-toggle element" data-placement="bottom" data-toggle="tooltip" href="" data-original-title="refresh" ng-click="syncCompletely()">
	                   <img src="css/generali-theme/img/icon/refresh.png" alt="refresh" width="35">
                   </a>
               </li>
               <li class="dropdown sync" ng-show="enableRefresh && displayRefreshForWeb && !disableRefreshForAdmin" visible-desktop>
                   <a class="dropdown-toggle element" data-placement="bottom" data-toggle="tooltip" href="" data-original-title="refresh" ng-click="eappRefresh()">
	                   <img src="css/generali-theme/img/icon/refresh.png" alt="refresh" width="35">
                   </a>
               </li>
             <li class="dropdown" ng-show="hideLanguageSetting">
                   <a class="dropdown-toggle element" data-placement="bottom" data-toggle="tooltip" href="" data-original-title="config" ng-click="settingpopup()" ><!-- ng-show="showSettingIcon" -->
	                   <img src="css/generali-theme/img/icon/config.png" alt="config" width="35">                       
                   </a>
               </li>
                <li class="dropdown ">
                   <a class="dropdown-toggle element" data-placement="bottom" data-toggle="tooltip" href="" data-original-title="exit" ng-click="logoutpopupshow()">
	                   <img src="css/generali-theme/img/icon/exit.png" alt="exit" width="30" style="width:25px;">
                       
                   </a>
               </li>
               <!-- END SUPPORT -->
               
           </ul>
         
	<!-- THE MODAL POPUP FOR LOGIN DETAILS START -->

	<div id="page_loader1"  ng-show="startupPopup">
		<div  class="modal hide fade auto-height animated fadeInDownBig"  ng-class="{'in':startupPopup}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-header"> 
				 <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-show="isSycnCloseEnabled" ng-click="hideSyncPopup()">&times;</button>
				
		  </div>
		  <div class="modal-body text-center">
			   <h2 class="subheading"><span translate= "lms.syncingData" style="color:#000 !important;"></span></h2>
			   <p><span ng-bind="syncMessage"> </span> </p>
			   <p class="pos-relative">
					<progressbar animate="true" dmax="100" value="syncProgress">
					</progressbar>
					<span class="progress-val" style="" ng-bind="syncProgress"  ng-class="updateProgressColor"></span>
					
				</p>
				<div class="row-fluid">
					<div class="offset1 span10"><a class="btn btn-block btn-primary" ng-show="isSycnCloseEnabled" ng-click="hideSyncPopup()"><span translate="general.close"></span></a></div>
				 </div>
			
				<div class="spacing"></div>
		   
		  </div>
		  
		</div>
	</div>

	
 <div class="theme_switcher_popup general-overlay-container" ng-show="popup_theme_switcher_container" ng-class="{'show':popup_theme_switcher_container}">
  <i class="fa fa-caret-up"></i></a>
  <h3 class="subheading" style="background: #fff;"><span class="text" translate="setting" style="color:#c52a1c"></span></h3>    
    <div class="row-fluid">
      <div class="span12">
        <span class="theme_block clearfix"><!-- <label  translate="language"></label> -->
		<div class="select-arrow">
		<ul class="list-unstyled">
			<li class="init">&nbsp;&nbsp;&nbsp;<span class="text" translate="documentLanguageOption2"></span></li>
			<li data-value="th_TH" ng-click="setLanguage('th_TH')"><img src="css/generali-theme/img/flag/Thai.png">&nbsp;&nbsp;&nbsp;<span class="text" translate="documentLanguageOption2"></span></li>
			<li data-value="en_US" ng-click="setLanguage('en_US')"><img src="css/generali-theme/img/flag/English.png">&nbsp;&nbsp;&nbsp;<span class="text" translate="english"></span></li>
		</ul>
		</div>
		</span>
      </div>
    </div>
  </div>

    
 
	<!-- THE MODAL POPUP FOR THEME SWITCHER -->
 <div class="general-modal-overlay themePopup ng-hide" ng-show="popup_theme_switcher_container" ng-click="popup_theme_switcher_container = !popup_theme_switcher_container" "=""></div>


<div class="overlay_TC" ng-show="logoutpopup"></div>

<div class=" text-center"  ng-show="logoutpopup">
	<div id="login_popup_info" class="modal fade cust-modal-med in bg-white" style="width: 361px;">

	    <div class="modal-header bg-white">
	        <div class="popup_info_img text-center"><img src="css/generali-theme/img/infored.png" width="25"></div>
	    </div>
	    <div class="modal-body">

	        
	        <p class="large text-center" translate="logoutmsg"></p>
	         
	    </div>
	    <div class="modal-footer" style="background: #fff;">
	    		<div class="row">
	    			<div class="col-md-6 col-sm-6 col-xs-6">
	    				 <!-- <a class="dropdown-toggle element" data-placement="bottom" data-toggle="tooltip" href="" data-original-title="exit" ng-click="logout()"></a> -->

	    				<button type="button" class="btncls login-popup-close" style="background: #6f7072; border:1px solid #6f7072"  href="" ng-click="logout()" translate="logoutYes">Yes</button>
	    				
	    			</div>
	    			<div class="col-md-6 col-sm-6 col-xs-6">
	    				<button type="button" class="btncls login-popup-close" ng-click="closePopup()" translate="logoutNo">No</button>
	    			</div>
	    		</div>
	    </div>
    
</div>
</div>
