<!--Copyright 2015, LifeEngage -->
<script type="text/javascript" src="lib/vendor/general/common_components.js"></script>
<!-- Include Progressbar -->
<div ng-include="'modules/fna/partials/Progressbar.html'" ng-controller="GLI_ProgressbarController"></div>
<div class="customer-profile-cntr customer-profile">
	<!-- FNA LANDING PAGE  -->
	<div class="row-fluid my-family">
		<div class="span12">
			<!-- MY FAMILY -->		
			<div class="span2 table-70"><h4 translate="fna.myDependents" class="v-align heading"></h4></div>				
			<div class="clearfix span10">
				<!-- <span ng-init="drop($last)" ng-repeat="mem in familyMembers" ng-show="mem.availability>0 && mem.display"  drag-initialize class="familymember [[mem.memberName]]">
					<p translate="fna.[[mem.memberName]]"></p>
				</span> -->
				<!-- <div ng-init="drop($last)" ng-repeat="mem in familyMembers" ng-show="mem.availability>0 && mem.display"  drag-initialize class="span1-7 [[mem.memberName]]"> -->
				<div ng-init="drop($last)" ng-repeat="mem in familyMembers" ng-show="mem.availability>0 && mem.display"  drag-initialize class="span1-7" 
					 ng-class="'[[mem.occurance]]'=='7'?FNAMyself.BasicDetails.gender=='Female'?'husband':'wife':'[[mem.memberName]]'">
					<div class="round-icon-holder holder-small">
						<div class="round-icon bs-50"></div>
					</div>
					<div translate="fna.[[mem.memberName]]" class="text-center fna-familymembers"></div>
				</div>
			</div>			
		</div>
	</div>
	<div class="row-fluid white-bg added-members">
		<div class="span12">
			<div class="">
				<div class="reset_mleft">
					<div id="owl-demo" class="owl-carousel owl-theme">
						<div ng-click="aboutMe($index,$event)">
							<div class="round-icon-holder holder-medium my-self" ng-class="{true: 'female-image', false: ''}[FNAMyself.BasicDetails.gender== 'Female']">													
									<img class="round-icon bs-50" src="data:image/jpeg;base64,[[FNAMyself.BasicDetails.photo]]" alt=""/>	
							</div>
							<div class="text-center family-info-text" id="txtMySelfLabel" translate="fna.myself">[[FNAMyself.BasicDetails.firstName + " " + FNAMyself.BasicDetails.lastName ]] </div>
							<p class="savedDetails">
								<span class="name">[[FNAMyself.BasicDetails.firstName]]</span>
								<span class="dob">[[FNAMyself.BasicDetails.dob | date:'yyyy-MM-dd']]</span>
							</p>
							<!-- <button id="selfdetailsBtn" class="addDetlBtn" ng-click="aboutMe($event)"><p translate="fna.addDetails"></p></button> -->
						</div>
						<div myfamilydragdropwidget ng-repeat="fam in defaultImageForMembers"  class="item">
							<div class="member" id="[[$index]]" ng-click="addEdit($index,$event)">
								<div class="round-icon-holder holder-medium">
									<div id="memwrapper[[$index+1]]" class="">
										<!--<p class=" fna_dragCarosil_text" >Drag a Member Here</p>-->
										<!--<div class="round-icon bs-50"></div>-->
										<img ng-show="fam.photo" class="memberprofilepic round-icon bs-50" src="data:image/jpeg;base64,[[fam.photo]]"/>
										
										
										<!-- <p class="relationText"  ng-show="FNABeneficiaries[$index]!=undefined" translate="fna.[[FNABeneficiaries[$index].classNameAttached]]"></p> -->
									</div>
								</div>
							</div>
							<div class="savedetl_wrapper">
								<p class="savedDependantDetails">
									<span class="name"></span>
									<span class="dob"></span>
								</p>
							</div>
							<div class= "text-center family-info-text" id="detailsBtn[[$index+1]]" ng-show="FNABeneficiaries[$index]!=undefined" translate="[[FNABeneficiaries[$index].classNameAttached]]">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="family_detl_holder">
				<div id="fulltabdetls_form" class="myfulltabdetails">
					<h5 class="text-left" translate="fna.addDetails" id="txtHeaderBeneficiary"></h5>
					<div class="row-fluid">
						<div id ="aboutMeBeneficiary" class="about-me-beneficiary"> </div>
						<div class="mydetlsButons">
							<button id="detlSaveFamily" class="btn btn-primary" ng-click="saveBeneficiary()" translate="general.productSaveOption"></button>
							<button id="detlCloseFamily" class="btn btn-primary" ng-click ="cancelBeneficiary()" translate="general.productCancelOption"></button>
							<button id="detlMockData"  class="btn btn-primary" ng-show = "showMockDataButton" ng-click = "fillMockDataBeneficiary()" translate="fna.mockData"></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ADD MYSELF DETAILS BUTTON -->
	<div class="row-fluid">
		<div class="span12 make_it_center">			
			<div id="" class="myfulldetails">
				<h5 class="text-left" >
				<span translate="fna.addDetails" id="txtHeaderInsured"></span>
				<div class="pull-right delete-member" ng-click="onDelete($event)" ng-show="showDeleteButton"><span translate = fna.deleteMember></span><i class="fa fa-lg fa-trash-o red-text"></i></div>
				</h5>
				<div class="row-fluid">
					<div id ="aboutMeInsured" class="about-me-insured about-me-insured-background"> </div>
					<!-- FNA Changes by LE Team Start (Bug: 3691) -->

					<div class="mydetlsButons fnaCustomerProfileDelSaveButtons text-center">
						<div class="row-fluid">
							<button id="detlClose"  class="btn logicBtn countBtn btn-medium red-text" ng-click = "cancelUnsavedData()" translate="general.productCancelOption"></button>
							<button id="detlSave" class="btn btn-primary span2" ng-click = "saveInsured()" translate="general.productSaveOption"></button>
						</div>
					</div>

					<!-- FNA Changes by LE Team End -->
				</div>
				<div class="row-fluid proceed-btn-cntr proceedToIllustrationProceedButtonContainer">
					<div class="span12">
						<button class="btn btn-primary pull-right" ng-click="nextPage($index,$event)"  ng-disabled="errorCount > 0" translate="fna.productProceedFNA"></button>
                        <!-- FNA Changes by LE Team Start -->
						<button class="btn logicBtn countBtn btn-medium red-text" style="margin-left: 5%;" ng-click="proceedToIllustration()"  ng-disabled="errorCount > 0" translate="lms.proceedToIllustrationButtonText"></button>
					    <!-- FNA Changes by LE Team End -->
                    </div>
				</div>	
				
			</div>
		</div>
	</div>
    <!-- FNA changes by LE Team Start -->
    <div class="overlay_TC" ng-show="leadDetShowPopUpMsg"></div>	
        
<!-- Overlay for Error Bubble -->
<div class="overlay_TC_ErrorBubble" ng-show="isPopupDisplayed"></div>
        
<div class=" text-center">
	<div id="login_popup_info" class="modal fade cust-modal-med in bg-white" ng-show="leadDetShowPopUpMsg" style="width: 361px;">

	    <div class="modal-header bg-white">
	        <div class="popup_info_img text-center"><img src="css/generali-theme/img/infored.png" width="25"></div>
	    </div>
	    <div class="modal-body">

	        <p class="large text-center">[[enterMandatory]]</p>
	        <div>
	            <button type="button" class="btncls login-popup-close" ng-click="closePopup()"><span translate="lms.popUpClose"></span></button>
	        </div>
	    </div>
    
</div>
</div>
<!-- FNA changes by LE Team End -->
    <!-- container ends -->
	<!-- THE DELETE SCRAP ICON -->
	<!-- <button class="scrapButton" ng-click="onDelete()"><span></span></button> -->

</div>
	<lepopup control="lePopupCtrl"/>
	<!-- Observation -->
	<clickstream pageid=[[selectedpage]]>
	</clickstream>
	<!-- Observation -->