<script type="text/javascript" src="lib/vendor/general/common_components.js"></script>
<div class="row-fluid fna-progressbar">
	<button class="btnPrevious_container span2" ng-click="previousPage()" ng-show="pageIndex > 0">
		<i class="fa fa-angle-left red_text"></i>
		<span class="btnPrevious" translate="fna.back"></span>
	</button>
	<button class="btnNext_container_fna span2" ng-click="$parent.$parent.nextPage()" ng-hide="selectedpage == 'FNA Report' " ng-disabled="(!aboutmeSelected && pageIndex == 1) || (!myFamilyDetailsNoError && errorCount > 0)">
        <span class="btnNext" translate="fna.productNext"></span>
		<i class="fa fa-angle-right red_text"></i>
	</button>	
	<div class="solution-selector span9">
		<ul class="row-fluid selector-text">   
			<li ng-repeat = "pageType in pageSelections" class="pull-left span2 text-center large [[pageType.isSelected]] [[pageType.isDisabled]]">
                <!-- FNA changes by LE Team Start -->
				<span translate="[[pageType.label]]" ng-click="tabClick($event,'[[pageType.pageType]]')"></span>
                <!-- FNA changes by LE Team End -->
			</li>      
		</ul>
		<ul class="row-fluid selector-icon">
			<li ng-repeat = "pageType in pageSelections" class="pull-left span2" >
                <!-- FNA changes by LE Team Start -->
				<div class="outer-circle [[pageType.isSelected]] [[pageType.isDisabled]]"  ng-click="tabClick($event,'[[pageType.pageType]]')">
					<div class="inner-circle" ng-click="tabClick($event,'[[pageType.pageType]]')"></div>
                <!-- FNA changes by LE Team End -->
				</div>
				<div class="line-after-circle"></div>
			</li>
		</ul>
	</div>
</div>	







<!-- <lepopup control="lePopupCtrl"/> -->