  <!--Copyright 2015, LifeEngage -->		
		<!-- Include Progressbar -->
		<div ng-include="'modules/fna/partials/Progressbar.html'" ng-controller="GLI_ProgressbarController"></div>
		
		<div class="set-goal-cntr">
		<div class="row-fluid">
				<div class="span12 dependent-list">
					<h4 class="pull-left" translate="general.productQuestionnaire"></h4>
					<div class="pull-right">
						<!-- <div class="myself-cntr">
							<img class="myself" src="data:image/jpeg;base64,[[insuredImage]]" alt="" />
						</div>
						<div ng-repeat="photo in FNAObject.FNA.beneficiaryPhotos" class="branches option[[($index+1)]]">
							<img class="dependent dependant[[($index+1)]]" src="data:image/jpeg;base64,[[photo]]" alt="" />
							<p ng-init="PluginInit($last)" class="option_text"></p>
						</div> -->
						<div ng-repeat="beneficiary in FNAObject.FNA.parties" class="branches option[[($index+1)]]">
							<span class="myself round-icon bs-50 [[beneficiary.imageClass]]" >
								<img src="data:image/jpeg;base64,[[beneficiary.BasicDetails.photo]]" />
							</span>
						</div>
						
					</div>
				</div>
			</diV>
			
			<div class="row-fluid">
				<div class="span12">
					<div id="[[viewName]]" ></div>																
				</div>				
			</diV>			
			
			<div class="row-fluid padding-topbottom20 questionnairePage">
				<div class="span12">
				<div ng-hide="questionCompleted" class="span3 offset9">
				<a  class="btn btn-primary span12 uppercase" data-target="#QuestionnaireCarousel" ng-non-bindable data-slide="next" translate="general.productProceed">PROCEED</a>
				</div>
					<button ng-show="questionCompleted " id="btnrisksummary" class="btn btn-primary span3 offset9 uppercase" ng-click="nextPage()" translate="fna.viewRiskSummary"></button>	
				</div>	
			</diV>
			
			</div>
			
	

		
		<script type="text/javascript">
			$(document).ready(function(){
				
				/*TABS*/
				$('#riskProfile_tabs li').eq(0).addClass("activate");
				$('#riskProfile_tabs li').click(function (e) {
					e.preventDefault();
					$('#riskProfile_tabs li').removeClass("activate");
					$(this).addClass("activate");
				});
				
				$('.riskProfile_tabs_container .customtab').hide();
				$('.riskProfile_tabs_container .customtab').each(function () {
					if ($(this).hasClass("active")) {
						$(this).show();
					}
				});
				/*ON CLICK OF TABS*/
				$('#riskProfile_tabs a').click(function (e) {
					$('.riskProfile_tabs_container .customtab').removeClass("active");
					e.preventDefault();
					var rel_id = "#" + $(this).attr("rel");
					$('.riskProfile_tabs_container').children().each(function () {
						var attrid = "#" + $(this).attr("id");					
						if (attrid == rel_id) {
							$(attrid).siblings().hide();
							$(attrid).removeClass("active").addClass("active").fadeIn();
						}
					});        
				});
				
			
			
			   
			   /* RISK SELECTION */
			   $('.riskassessmentwrapper .riskmode').each(function(){
			      var chk = $(this).hasClass("selected");
				  if(chk){
				     var neededClassName = $(this).attr("class").split(" ")[1];
					 var changedText = neededClassName+"_selected";
					 $(this).removeClass().addClass("riskmode").addClass(changedText);
					 
				  }
			   });
			   
			});	
			
		</script>
		
		


		
		
		
		<!--<div class="outercontainer">
			<div class="row-fluid">
				<div class="span12 clearfix">								
					<div id="head_fix_tab" class="fixheader_tablet"> 
						
						<!--======================Top navigation Tablet ends============================== -->
						
					<!--</div> 
					<p class="abtme_header" translate="general.productQuestionnaire"></p> 
					
					<div class="fna_abtco_abtme_wrapper">
						<!-- FNA ABOUT ME PAGE  -->
						<!--<div class="row-fluid">
							<div class="span12">
								<ul class="abt_me_tabset gen_le_tabset span12" id="riskProfile_tabs">
									<li class=""><a  href="#" rel="riskpofile_tab"><span translate="fna.riskProfileTab"></span></a></li>
									<li class=""><a  href="#" rel="prod_pref_tab1"><span translate="fna.productPreferenceTab"></span></a></li>
								</ul>
							</div>
						</div>
						
						<div class="row-fluid">
							<div class="span12">
								<div class="riskProfile_tabs_container">
									<div id="riskpofile_tab" class="customtab active">										
										<div class="cust_questionnaires_container">
															<div id="[[viewName]]" >
															</div>								
											
											<div class="row-fluid">
												<div class="span12 make_it_center">
													<button id="btnrisksummary" class="pdtRecommendBtn" ng-click="nextPage()" translate="fna.viewRiskSummary"></button>					   	
												</div>
											</div>	
											
										</div> 
										
									</div>
									<div id="prod_pref_tab" class="customtab">
										
										<div class="cust_questionnaires_container">
											<!-- QUESTION1 -->
											<!--<div class="row-fluid">
												<div class="span12">
													<div class="span3"></div>					   
													<div class="span6">
														<p class="plans_description_gray mtop1 clearfix"> 
															<span class="arrow_head"></span> 
															<span class="color_select_gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non cursus nunc. Morbi eleifend, nulla vel pretium ultrices, lacus tellus consequat ante, sit amet elementum justo magna at nulla. Aliquam erat volutpat. Sed turpis ipsum, congue no</span>
														</p>   
													</div>
													<div class="span3">
														<div id="qnsetEdu" class="qn_edu_gray_container_2_qns">
															<div class="qn_logo dollar"></div>
															<div class="option_qn_general_gray qn1">
																<p class="duration">Saving to receive lumpsum at essential period of life</p>	 
															</div>
															<div class="option_qn_general_gray qn2">
																<p class="duration">Saving as an emergency fund</p>	
															</div>
														</div>  
													</div>
													
												</div>
											</div>	
											
											<!-- QUESTION2 -->
											
										<!--	<div class="row-fluid">
												<div class="span12">
													<div class="span3">
														<div id="qnset1" class="qn_logo_container_2_qns">
															<div class="qn_logo dollar"></div>
															<div class="option_qn_general qn1">
																<p class="duration">5-15 years</p>	 
															</div>
															<div class="option_qn_general qn2">
																<p class="duration">16-25 years</p>	
															</div>
														</div>  
													</div>
													<div class="span6">
														<p class="plans_description mtop1 clearfix"> <span class="arrow_head"></span> <span class="color_select_blue">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non cursus nunc. Morbi eleifend, nulla vel pretium ultrices, lacus tellus consequat ante, sit amet elementum justo magna at nulla. Aliquam erat volutpat. Sed turpis ipsum, congue no</span></p>   
													</div>
													<div class="span3"></div>
												</div>
											</div>	
											
											<div class="row-fluid">
												<div class="span12 make_it_center">
													<button id="pdtRecomm" class="pdtRecommendBtn">Product Recommendations</button>					   	
												</div>
											</div>
											
										</div> 
										
										
									</div>
								</div>
							</div>
						</div>
						
					</div>
					
				</div> <!-- row-fluid ends -->
				
			<!--</div> <!-- container ends -->	
			
		<!--</div>
		
		-->
		<div class="riskprofiler_popup_wrapper general-overlay-container" ng-show="riskprofiler_popup_wrapper" ng-class="{'center_pop_up':riskprofiler_popup_wrapper}">
				 
		<div class="QuestionnaireRiskwrapper">
			 <div class="QuestionnaireRiskContent">
			 
			 <div class="row-fluid">
				<div class="span12">
					<div class="span4" ng-repeat="risk in riskList">
						<div class="span12">
							<div class="risk-icon-holder">
								<div class="riskmode [[risk.level]][[isRiskSelected(risk.level)]]"  ng-click="changeRiskProfile(risk.level)"></div>
							</div>
						</div>
						<span class="span10 offset1 text-center" translate="[[risk.desc]]"></span>
					</div></div></div>
					
			 <div class="row-fluid riskPofileMsg">
				<div class="span12 text-center">
				    <p><span translate="fna.riskPofileMsg"> </span></p>	
				</div>
			</div>
			
			<div class="row-fluid showIAgreeRiskMsg">	
				<div class="span8 offset2 text-center">
				<span class="span1">
				 <div class="icheckbox greyTick" ng-class="{true: 'checked', false: ''}[checkModel]" ng-show="showIagree">
					<input type="checkbox" class="span11 pull-right"  ng-model ="checkModel"  ng-click="agreeClick()"  />
				</div>
			 	<!-- <input type="checkbox" ng-click="agreeClick()" class="span11 pull-right" ng-show="showIagree" ng-model ="checkModel" />  -->
				</span>
			 	<span translate="fna.showIAgreeRiskMsg" ng-show="showIagree" class="span9"></span>
				</div>
		    </div>
			
			 <div class="row-fluid riskBtn">
				<div class="span12 text-center">
				   <button class="btn btn-primary span2 offset5" ng-click="riskSummary()" ng-disabled="disableOk" translate="fna.ok"></button>					   	
				</div>
			</div>
			
			</div>
		</div>
			</div>
			
		<div class="general-modal-overlay" ng-show="riskprofiler_popup_wrapper"></div>
		
		<lepopup control="lePopupCtrl"/>
		
		
	<!-- Observation -->
	
	<clickstream pageid=[[selectedpage]]>	
	</clickstream>
	
	<!-- Observation -->			

		