<!--Copyright 2015, LifeEngage -->
<script type="text/javascript" src="lib/vendor/general/common_components.js"></script>
<!-- Include Progressbar -->
<div ng-include="'modules/fna/partials/Progressbar.html'" ng-controller="GLI_ProgressbarController"></div>
		

<div class="product-rec-container">
	<div circularwidgetproduct
							controller-name="FnaChildProductListingController"></div>
	<div class="graph_wrapper span9 pull-right">
		<!-- <div class="leftarr"></div> -->
		
			<!-- PRODUCTION CONTAINER SET 1 STARTS-->
			<div ng-repeat="product in productDetailsList | orderBy:'order':true"" class="product-details">
				<div class="row-fluid">
					<div class="span4 img-btn-container">
                        <!-- FNA Changes by LE Team Start -->
						<!-- <img class="row-fluid" src="css/generali-theme/img/[[product.productImage]]"/> -->
                        <img class="row-fluid" src="css/generali-theme/img/products/[[product.productId]].png"/>
                        <!-- FNA Changes by LE Team End -->
					</div>
					<div class="span8 pull-right">
						<h4 class="fna-recommended-product"><span translate = "fna.product-[[product.productId]]"></span></h4>
						<p class="fna-recommended-prod-desc" translate="[[product.description]]"></p>
					</div>
				</div>
                <div class="row-fluid">
                    <div class="span10 bottom-menu">
                        <!-- FNA CHanges by LE Team Start -->
                        <!-- 
                        <div class="span3 custom_height keyfeature" data-target="#keyFeatures[[product.description]]" role="button" data-toggle="modal"><span translate = fna.keyFeatures></span></div> 
                        -->
                        <div ng-if="product.productId==1220" class="span3 custom_height keyfeature" translate="fna.wholeLife" ng-click="showKeyFeatures('#wholeLife')"></div>
                        <div ng-if="product.productId==1274" class="span3 custom_height keyfeature" translate="fna.keyFeatures" ng-click="showKeyFeatures('#genSave4Plus')"></div>
                        <div ng-if="product.productId==1306" class="span3 custom_height keyfeature" translate="fna.keyFeatures" ng-click="showKeyFeatures('#genSave10Plus')"></div>
                        <div ng-if="product.productId==1004" class="span3 custom_height keyfeature" translate="fna.genProLife20Product" ng-click="showKeyFeatures('#genProLife20')"></div>
                        <div ng-if="product.productId==1004" class="span3 custom_height keyfeature" translate="fna.genProLife25Product" ng-click="showKeyFeatures('#genProLife25')"></div>

                        <div ng-if="product.productId==1003" class="span3 custom_height keyfeature" translate="fna.genBumnan8Product" ng-click="showKeyFeatures('#genBumnan8')"></div>                            
                        <div ng-if="product.productId==1003" class="span3 custom_height keyfeature" translate="fna.genBumnan10Product" ng-click="showKeyFeatures('#genBumnan10')"></div>

                        <div ng-if="product.productId==1006" class="span3 custom_height keyfeature" translate="fna.keyFeatures" ng-click="showKeyFeatures('#genSave20Plus')"></div>
                        <div ng-if="product.productId==1010" class="span3 custom_height keyfeature" translate="fna.keyFeatures" ng-click="showKeyFeatures('#genCompleteHealth80')"></div>
                        <div ng-if="product.productId==1097" class="span3 custom_height keyfeature" translate="fna.keyFeatures" ng-click="showKeyFeatures('#GenCancerSuperProtection')"></div>
                        <!--
                        <div class="span3 custom_height ebroc" ng-click="openPDF(product.productPdf)" ><span translate = fna.eBrochure></span></div>
                        -->
                        <div class="span3 custom_height ebroc" translate="fna.eBrochure" ng-click="openPDF($index,product.productId,'Brochure')" data-toggle="modal"></div>
                        <!--
                        <div class="span3 custom_height salespitch"  ng-click="playVideo(product.productVideo)"><span translate = fna.salesPitch></span></div>
                        -->
                        <div class="span3 custom_height salespitch" translate="illustrator.salesPitch" ng-click="playVideo(product.productId)" data-target="#salesPitch" role="button" data-toggle="modal"></div>
                        <!-- 
                        <div class="span3 custom_height salespitch"  ng-click="playArmsVideo()"><span translate = fna.ARMS></span></div> 
                        -->	 
                        <!-- FNA Changes by LE Team End -->
				    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12 pull-right">
                        <button class="btn btn-primary pull-right" ng-click="getSelectedProduct(product)" translate="fna.illustration"></button>
                    </div>
                </div>
                <!-- FNA Changes by LE Team Start -->
                <!--
				<div class="row-fluid rider-container">
					<div class="span4 right-border">
						<span class="red-text bold" translate = fna.titlemaininsured></span>
						<ul>
							<li ng-repeat="mainInsured in mainInsuredRiderList">[[mainInsured.name]]</li>
						</ul>
					</div>
					<div class="span4">
						<span class="red-text bold" translate = fna.titleadditionalinsured></span>
						<ul>
							<li ng-repeat="additionalInsured in additionalInsuredRiderList">[[additionalInsured.name]]</li>
						</ul>
					</div>
					<div class="span4 illustration-btn-cntr">
						<button class="btn btn-primary" ng-click="getSelectedProduct(product)"><span translate = fna.illustration></span></button>
					</div>
					<div class="span4" style="text-align: right;">
						<button class="btn btn-primary" style="position: relative;bottom: 0;top: 120px;margin: 0 10px 0 0;" ng-click="generateFnaReport()">FNA Report</button>
					</div>
				</div>
                -->
                <!-- FNA Changes by LE Team Ends -->
			</div>
			<!-- PRODUCTION CONTAINER SET 1 ENDS-->
	</div>
	<div class="row-fluid proceed-btn-cntr">
		<div class="span12">
            <!-- FNA Changes by LE Team Start -->
			<!-- <button class="btn btn-primary pull-right uppercase" ng-click="getAllProducts()" translate="fna.anotrPdt"></button -->
			<button class="btn btn-primary pull-right" ng-click="getAllProducts()" translate="fna.anotrPdt"></button>
            <!-- FNA Changes by LE Team End -->
		</div>
	</div>
	<div id="wholeLife" carousal-initial class="modal FadeInDown animated custom_fna_modal custom-sized-carousel-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<span translate="illustrator.keyFeatures"></span>
			<!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
            <button type="button" class="close" ng-click="hideKeyFeatures('#wholeLife')">×</button>
		</div>
		<div class="modal-body">
			<div id="wholeLifeCarousel" class="carousel slide" data-ride="carousel" data-wrap="false" swipe-carousel>
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#wholeLifeCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#wholeLifeCarousel" data-slide-to="1"></li>
				</ol>
				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox" >
					<div class="item active">
						<div class="carousel-page-content wholeLife_1"></div>
					</div>
					<div class="item">
						<div class="carousel-page-content wholeLife_2"></div>
					</div>
				</div>
				<button class="carousel-control left" data-target="#wholeLifeCarousel" ng-non-bindable data-slide="prev">
					<span class="fa fa-angle-left" aria-hidden="true"></span>
					
				</button>
				<button class="carousel-control right" data-target="#wholeLifeCarousel" ng-non-bindable  data-slide="next">
					<span class="fa fa-angle-right" aria-hidden="true"></span>
				</button>
			</div>
		</div>
	</div>
	<div id="genSave4Plus" carousal-initial class="modal FadeInDown animated custom_fna_modal custom-sized-carousel-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<span translate="illustrator.keyFeatures"></span>
			<!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
            <button type="button" class="close" ng-click="hideKeyFeatures('#genSave4Plus')">x</button>
		</div>
		<div class="modal-body">
			<div id="genSave4PlusCarousel" class="carousel slide" data-ride="carousel" swipe-carousel>
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#genSave4PlusCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#genSave4PlusCarousel" data-slide-to="1"></li>
				</ol>
				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox" >
					<div class="item active">
						<div class="carousel-page-content GenSave4_1"></div>
					</div>
					<div class="item">
						<div class="carousel-page-content GenSave4_2"></div>
					</div>
				</div>
				<button class="carousel-control left" data-target="#genSave4PlusCarousel" ng-non-bindable data-slide="prev">
					<span class="fa fa-angle-left" aria-hidden="true"></span>
					
				</button>
				<button class="carousel-control right" data-target="#genSave4PlusCarousel" ng-non-bindable  data-slide="next">
					<span class="fa fa-angle-right" aria-hidden="true"></span>
				</button>
			</div>
		</div>
	</div>
	<div id="genSave10Plus" carousal-initial class="modal FadeInDown animated custom_fna_modal custom-sized-carousel-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<span translate="illustrator.keyFeatures"></span>
			<!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
            <button type="button" class="close" ng-click="hideKeyFeatures('#genSave10Plus')">x</button>
		</div>
		<div class="modal-body">
			<div id="genSave10PlusCarousel" class="carousel slide" data-ride="carousel" swipe-carousel>
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#genSave10PlusCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#genSave10PlusCarousel" data-slide-to="1"></li>
				</ol>
				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox" >
					<div class="item active">
						<div class="carousel-page-content GenSave10_1"></div>
					</div>
					<div class="item">
						<div class="carousel-page-content GenSave10_2"></div>
					</div>
				</div>
				<button class="carousel-control left" data-target="#genSave10PlusCarousel" ng-non-bindable data-slide="prev">
					<span class="fa fa-angle-left" aria-hidden="true"></span>
					
				</button>
				<button class="carousel-control right" data-target="#genSave10PlusCarousel" ng-non-bindable  data-slide="next">
					<span class="fa fa-angle-right" aria-hidden="true"></span>
				</button>
			</div>
		</div>
	</div>
	<div id="genProLife20" carousal-initial class="modal FadeInDown animated custom_fna_modal custom-sized-carousel-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<span translate="illustrator.keyFeatures"></span>
			<!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
            <button type="button" class="close" ng-click="hideKeyFeatures('#genProLife20')">×</button>
		</div>
		<div class="modal-body">
			<div id="genProLifeCarousel" class="carousel slide" data-ride="carousel" data-wrap="false" swipe-carousel>
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#genProLifeCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#genProLifeCarousel" data-slide-to="1"></li>
				</ol>
				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox" >
					<div class="item active">
						<div class="carousel-page-content GenProLife20_1"></div>
					</div>
					<div class="item">
						<div class="carousel-page-content GenProLife20_2"></div>
					</div>
				</div>
				<button class="carousel-control left" data-target="#genProLifeCarousel" ng-non-bindable data-slide="prev">
					<span class="fa fa-angle-left" aria-hidden="true"></span>
					
				</button>
				<button class="carousel-control right" data-target="#genProLifeCarousel" ng-non-bindable  data-slide="next">
					<span class="fa fa-angle-right" aria-hidden="true"></span>
				</button>
			</div>
		</div>
	</div>
	<div id="genProLife25" carousal-initial class="modal FadeInDown animated custom_fna_modal custom-sized-carousel-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<span translate="illustrator.keyFeatures"></span>
			<!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
            <button type="button" class="close" ng-click="hideKeyFeatures('#genProLife25')">x</button>
		</div>
		<div class="modal-body">
			<div id="genProLife25Carousel" class="carousel slide" data-ride="carousel" swipe-carousel>
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#genProLife25Carousel" data-slide-to="0" class="active"></li>
					<li data-target="#genProLife25Carousel" data-slide-to="1"></li>
				</ol>
				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox" >
					<div class="item active">
						<div class="carousel-page-content GenProLife25_1"></div>
					</div>
					<div class="item">
						<div class="carousel-page-content GenProLife25_2"></div>
					</div>
				</div>
				<button class="carousel-control left" data-target="#genProLife25Carousel" ng-non-bindable data-slide="prev">
					<span class="fa fa-angle-left" aria-hidden="true"></span>
					
				</button>
				<button class="carousel-control right" data-target="#genProLife25Carousel" ng-non-bindable  data-slide="next">
					<span class="fa fa-angle-right" aria-hidden="true"></span>
				</button>
			</div>
		</div>
	</div>
	<div id="genBumnan8" carousal-initial class="modal FadeInDown animated custom_fna_modal custom-sized-carousel-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<span translate="illustrator.keyFeatures"></span>
			<!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
            <button type="button" class="close" ng-click="hideKeyFeatures('#genBumnan8')">x</button>
		</div>
		<div class="modal-body">
			<div id="genBumnan8Carousel" class="carousel slide" data-ride="carousel" swipe-carousel>
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#genBumnan8Carousel" data-slide-to="0" class="active"></li>
					<li data-target="#genBumnan8Carousel" data-slide-to="1"></li>
				</ol>
				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox" >
					<div class="item active">
						<div class="carousel-page-content GenBumNan8_1"></div>
					</div>
					<div class="item">
						<div class="carousel-page-content GenBumNan8_2"></div>
					</div>
				</div>
				<button class="carousel-control left" data-target="#genBumnan8Carousel" ng-non-bindable data-slide="prev">
					<span class="fa fa-angle-left" aria-hidden="true"></span>
					
				</button>
				<button class="carousel-control right" data-target="#genBumnan8Carousel" ng-non-bindable  data-slide="next">
					<span class="fa fa-angle-right" aria-hidden="true"></span>
				</button>
			</div>
		</div>
	</div>
	<div id="genBumnan10" carousal-initial class="modal FadeInDown animated custom_fna_modal custom-sized-carousel-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<span translate="illustrator.keyFeatures"></span>
			<!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
            <button type="button" class="close" ng-click="hideKeyFeatures('#genBumnan10')">x</button>
		</div>
		<div class="modal-body">
			<div id="genBumnan10Carousel" class="carousel slide" data-ride="carousel" swipe-carousel>
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#genBumnan10Carousel" data-slide-to="0" class="active"></li>
					<li data-target="#genBumnan10Carousel" data-slide-to="1"></li>
				</ol>
				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox" >
					<div class="item active">
						<div class="carousel-page-content GenBumNan10_1"></div>
					</div>
					<div class="item">
						<div class="carousel-page-content GenBumNan10_2"></div>
					</div>
				</div>
				<button class="carousel-control left" data-target="#genBumnan10Carousel" ng-non-bindable data-slide="prev">
					<span class="fa fa-angle-left" aria-hidden="true"></span>
					
				</button>
				<button class="carousel-control right" data-target="#genBumnan10Carousel" ng-non-bindable  data-slide="next">
					<span class="fa fa-angle-right" aria-hidden="true"></span>
				</button>
			</div>
		</div>
	</div>
	<div id="genSave20Plus" carousal-initial class="modal FadeInDown animated custom_fna_modal custom-sized-carousel-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<span translate="illustrator.keyFeatures"></span>
			<!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
            <button type="button" class="close" ng-click="hideKeyFeatures('#genSave20Plus')">x</button>
		</div>
		<div class="modal-body">
			<div id="genSave20PlusCarousel" class="carousel slide" data-ride="carousel" swipe-carousel>
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#genSave20PlusCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#genSave20PlusCarousel" data-slide-to="1"></li>
				</ol>
				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox" >
					<div class="item active">
						<div class="carousel-page-content GenSave_1"></div>
					</div>
					<div class="item">
						<div class="carousel-page-content GenSave_2"></div>
					</div>
				</div>
				<button class="carousel-control left" data-target="#genSave20PlusCarousel" ng-non-bindable data-slide="prev">
					<span class="fa fa-angle-left" aria-hidden="true"></span>
					
				</button>
				<button class="carousel-control right" data-target="#genSave20PlusCarousel" ng-non-bindable  data-slide="next">
					<span class="fa fa-angle-right" aria-hidden="true"></span>
				</button>
			</div>
		</div>
	</div>
	<div id="genCompleteHealth80" carousal-initial class="modal FadeInDown animated custom_fna_modal custom-sized-carousel-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<span translate="illustrator.keyFeatures"></span>
			<!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
            <button type="button" class="close" ng-click="hideKeyFeatures('#genCompleteHealth80')">x</button>
		</div>
		<div class="modal-body">
			<div id="genCompleteHealth80Carousel" class="carousel slide" data-ride="carousel" swipe-carousel>
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#genCompleteHealth80Carousel" data-slide-to="0" class="active"></li>
					<li data-target="#genCompleteHealth80Carousel" data-slide-to="1"></li>
				</ol>
				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox" >
					<div class="item active">
						<div class="carousel-page-content GenCompleteHealth80_1"></div>
					</div>
					<div class="item">
						<div class="carousel-page-content GenCompleteHealth80_1"></div>
					</div>
				</div>
				<button class="carousel-control left" data-target="#genCompleteHealth80Carousel" ng-non-bindable data-slide="prev">
					<span class="fa fa-angle-left" aria-hidden="true"></span>
					
				</button>
				<button class="carousel-control right" data-target="#genCompleteHealth80Carousel" ng-non-bindable  data-slide="next">
					<span class="fa fa-angle-right" aria-hidden="true"></span>
				</button>
			</div>
		</div>
	</div>
    <div id="GenCancerSuperProtection" carousal-initial class="modal FadeInDown animated custom_fna_modal custom-sized-carousel-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<span translate="illustrator.keyFeatures"></span>
			<!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
            <button type="button" class="close" ng-click="hideKeyFeatures('#GenCancerSuperProtection')">x</button>
		</div>
		<div class="modal-body">
			<div id="genCompleteHealth80Carousel" class="carousel slide" data-ride="carousel" swipe-carousel>
				<!-- Indicators -->
				<!--<ol class="carousel-indicators">
					<li data-target="#genCompleteHealth80Carousel" data-slide-to="0" class="active"></li>
					
				</ol>-->
				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox" >
					<div class="item active">
						<div class="carousel-page-content GenCancerSuperProtection"></div>
					</div>
					
				</div>
			</div>
		</div>
	</div> 
	
	<div id="wholeLife" carousal-initial class="modal FadeInDown animated custom_fna_modal custom-sized-carousel-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<span translate="illustrator.keyFeatures"></span>
			<!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
            <button type="button" class="close" ng-click="hideKeyFeatures('#wholeLife')">x</button>
		</div>
		<div class="modal-body">
			<div id="wholeLifeCarousel" class="carousel slide" data-ride="carousel" swipe-carousel>
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#wholeLifeCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#wholeLifeCarousel" data-slide-to="1"></li>
				</ol>
				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox" >
					<div class="item active">
						<div class="carousel-page-content wholeLife_1"></div>
					</div>
					<div class="item">
						<div class="carousel-page-content wholeLife_2"></div>
					</div>
				</div>
				<button class="carousel-control left" data-target="#wholeLifeCarousel" ng-non-bindable data-slide="prev">
					<span class="fa fa-angle-left" aria-hidden="true"></span>
					
				</button>
				<button class="carousel-control right" data-target="#wholeLifeCarousel" ng-non-bindable  data-slide="next">
					<span class="fa fa-angle-right" aria-hidden="true"></span>
				</button>
			</div>
		</div>
	</div>                                                                 
</div>
	
<!-- Observation -->
<clickstream pageid=[[selectedpage]]>	
</clickstream>
<!-- Observation -->	
<lepopup control="lePopupCtrl"/>

<div class="popup_setpref_container pdfViewerPopUp videoPopup general-overlay-container" ng-show="show_hide_popup" ng-class="{'center_pop_up':show_hide_popup}">
    <p class="header_pref">
	   <span class="text" translate=""></span>
        <a id="close_popup" class="close_pref " ng-click="show_hide_popup = !show_hide_popup"></a>
    </p>
    <div ng-hide="showPDF">
	   <video id="le_prod_video" data-ng-src=[[videoSource]] width="800" height="454" controls autoplay> 
	   		Your browser does not support HTML5 video.
	   </video>
    </div>
</div>
<div class="general-modal-overlay" ng-show="show_hide_popup" ng-click="show_hide_popup=!show_hide_popup"></div>
<div class="general-modal-overlay" style="z-index: 1049;" ng-show="keyFeaturesOverlay" ng-click="hideOverlayKeyFeatures()"></div>