<!-- 	<script type="text/javascript" src="lib/vendor/charts/jquery.jqplot.min.js"></script>
	<script type="text/javascript" src="lib/vendor/charts/jqplot.pieRenderer.min.js"></script>
	<script type="text/javascript" src="lib/vendor/charts/jqplot.canvasAxisLabelRenderer.min.js"></script>
	<script type="text/javascript" src="lib/vendor/charts/jqplot.canvasTextRenderer.min.js"></script>
	<script type="text/javascript" src="lib/vendor/charts/jqplot.barRenderer.min.js"></script>
	<script type="text/javascript" src="lib/vendor/charts/jqplot.canvasAxisTickRenderer.min.js"></script>
	<script type="text/javascript" src="lib/vendor/charts/jqplot.categoryAxisRenderer.min.js"></script>
	<script type="text/javascript" src="lib/vendor/charts/excanvas.compiled.js"></script>
 -->

<!-- <link href="css/main-theme/css/jqPlotStyleFNA.css" rel="stylesheet" type="text/css" />  -->

<div ng-include="'modules/fna/partials/Progressbar.html'" ng-controller="GLI_ProgressbarController"></div>
<div class="outercontainer fna_report_container">
	<div class="row-fluid">
		<div class="span12 clearfix">
			<div id="head_fix_tab" class="fixheader_tablet">			
			</div>
			<!-- <div class="fna_report_wrapper"> -->
				<!-- <div class="report_logo_wrapper">
					<div class="report_logo"></div>
				</div> -->
				<div class="page-section-header">
					<span class="red-text text-bold fna-report-header-font" translate = fna.fnaReport></span>
					<div class="pull-right email-btn-section" ng-click="emailFNAReport()">
						<i class="fa fa-envelope-o"></i>
						<span class="fna-report-header-font text-bold" translate="general.partyEmail">Email</span>
					</div>
				</div>
				<!-- FNA changes by LE team starts -->

				<div id="FNASummaryForReport" name="FNASummaryForReport">
					<!-- <script>alert("Hi");</script> -->
				</div>
				
				<!-- FNA changes by LE team ends -- >
<!-- 			</div>	
 -->				
				
				
				<!-- <div class="report_content_wrapper login">
					<h2 class="header">Need Analysis Summary Report for</h2>
					 <h2 class="customer_name">[[myselfName]]</h2>
					 <div class="report_date marginTop20" >[[FNAObject.FNA.fnaCompletion]]</div>
					 <div class="report_date"> Prepared by: Don Don</div>
				</div>
				<div class="report_footer">
					<p>Disclaimer:</p>
				  <p>The data submitted in this report is privileged and extremely confidential. We assure you that this information will be treated 
					with the utmost care and confidentiality that you would expect.</p>			
				</div> -->
			
			
			<!-- <div class="fna_report_wrapper">
				<h2 class="fna_report_header" translate="">Introduction</h2>
				
				<h4 class="" translate="">LifeEngage’s FNA process</h4>
				<p class="fnaReport_introText"> Having an experience of over 20 years in the industry, with a customer base of 125 lakh customers and gross written premium
					of 250 billion in the last financial year we understand your specific financial needs and recommend tailor made products to
					meet your requirements.</p>
				<p class="fnaReport_introText">To help customers better understand their personal finances, LifeEngage offers the Financial Needs Analysis (FNA). Based on 
					the detailed Financial need analysis of your needs we present a personalized  FNA report. The FNA gives a detailed overview
					of your current financial situation and suggests a personalized strategy for your financial security. The FNA is 
					complimentary, confidential and customized for every customer that LifeEngage serves.</p>	
				</div>
 -->
			<!-- <div class="fna_report_wrapper details">
				<h3 class="fna_report_header" translate="">Personal details</h3> -->
				

				

				
				
				<!-- <div class="row-fluid">
					<div class="span6">
						<div class="row-fluid content_detail_wrapper">
							<div class="pos_relative full_height thumbnail">
								<span class="thumbnail_wrapper"></span>
							</div>
							<div class="full_height details_wrapper">
								<div class="details_inner_wrapper">
									<h3 class="detail_header">Family Details:</h3>
									<h4 class="detail_name">Susan Martin</h4>
									<h5 class="detail_age">Age:<span>28 years</span></h5>
									<h5 class="detail_relation">Relation:<span>Spouse</span></h5>
								</div>
							</div>
						</div>	
						<div class="row-fluid content_detail_wrapper">
							<div class="pos_relative full_height thumbnail">
								<span class="thumbnail_wrapper"></span>
							</div>
							<div class="full_height details_wrapper">
								<div class="details_inner_wrapper">
									<h4 class="detail_name">Linda Martin</h4>
									<h5 class="detail_age">Age:<span>8 years</span></h5>
									<h5 class="detail_relation">Relation:<span>Daughter</span></h5>
								</div>
							</div>
						</div>
						<div class="row-fluid content_detail_wrapper">
							<div class="pos_relative full_height thumbnail">
								<span class="thumbnail_wrapper"></span>
							</div>
							<div class="full_height details_wrapper">
								<div class="details_inner_wrapper">
									<h4 class="detail_name">John Martin</h4>
									<h5 class="detail_age">Age:<span>2 years</span></h5>
									<h5 class="detail_relation">Relation:<span>Son</span></h5>
								</div>
							</div>
						</div>
					</div>
					
					<div class="span6">
						<div class="content_detail_wrapper details_wrapper">
							<div class="details_inner_wrapper">
								<p class="detail_block">
									<label class="detail_lbl">Address:</label>
									<span class="detail_content">Address Line1,
									Address Line2,
									Address Line3</span>
								</p>
								<p class="detail_block">
									<label class="detail_lbl">Contact:</label>
									<span class="detail_content">99xxxxxxxxx</span>
								</p>
							</div>
						</div>
					</div>
				</div>
				
				<div class="report_footer center">
					<p>Need Analysis for Mr.<span>James</span></p>
					<p>Apr 03 2015, 11:30am</span></p>
				</div>
			</div>

			
			<div class="fna_report_wrapper details">
				<h3 class="fna_report_header" translate="">Goal Summary</h3>
				<div class="report_content_wrapper">
					<div class="circular_wrapper clearfix">
						<h4 class="big_header">Goals Recommended:</h2>
						<div class="circular_option_container clearfix">
							<div class="individual_circular_wrapper" ng-repeat="t in getTimes(4)">
								<div class="options blue">
									<span>Linda's Education</span>
								</div>
							</div>
						</div>
					</div>
					<div class="circular_wrapper clearfix">
						<h4 class="big_header">Goals Selected:</h2>
						<div class="circular_option_container clearfix">
							<div class="individual_circular_wrapper" ng-repeat="t in getTimes(2)">
								<h5 class="title">Priority [[$index+1]]</h4>
								<div class="options green">
									<span>John's Retirement</span>
								</div>
							</div>
						</div>
					</div>
					<div class="additional_content">
						<p>To know more about your Lifestage and why these  goals were recommended to you, Please click the link given below:</p>
						<p class="textcenter">
							<button>Life Stage</button>
							<button>Goals</button>
						</p>
					</div>
				</div>
				<div class="report_footer center">
					<p>Need Analysis for Mr.<span>James</span></p>
					<p>Apr 03 2015, 11:30am</span></p>
				</div>
			</div>

			<div class="fna_report_wrapper details">
			<h3 class="fna_report_header" translate="">Linda's Education</h3>
			<div class="report_content_wrapper">
				<div class="row-fluid">
					<div class="span6">
						<div class="content_detail_wrapper details_wrapper right_border">
							<div class="details_inner_wrapper">
								<p class="detail_block">
									<label class="detail_lbl">Age:</label>
									<span class="detail_content">8 Years</span>
								</p>
								<p class="detail_block">
									<label class="detail_lbl">Education Target Age:</label>
									<span class="detail_content">17 Years</span>
								</p>
								<p class="detail_block">
									<label class="detail_lbl">Term to Education:</label>
									<span class="detail_content">9 Years</span>
								</p>
								<p class="detail_block">
									<label class="detail_lbl">Education Type:</label>
									<span class="detail_content">Junior College</span>
								</p>
							</div>
						</div>
					</div>
					
					<div class="span6">
						<div class="content_detail_wrapper details_wrapper">
							<div class="details_inner_wrapper">
								<p class="detail_block">
									<label class="detail_lbl">Cost of Education:</label>
									<span class="detail_content">500,000</span>
								</p>
								<p class="detail_block">
									<label class="detail_lbl">Corpus Required:</label>
									<span class="detail_content">844,739</span>
								</p>
								<p class="detail_block">
									<label class="detail_lbl">Available Savings:</label>
									<span class="detail_content">100,000</span>
								</p>
								<p class="detail_block">
									<label class="detail_lbl">Need Gap:</label>
									<span class="detail_content">744,739</span>
								</p>
								<p class="detail_block">
									<label class="detail_lbl">Savings Required:</label>
									<span class="detail_content">61,140 p.a</span>
								</p>
								<p class="detail_block dark">
									<label class="detail_lbl">Suggested Savings:</label>
									<span class="detail_content bold">5095 p.m</span>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span6">
						<div  id="[[id1]]" class="report_chart_container"></div>		
						<ui-chart  ng-model = "chartData" id = "[[id1]]" type ="[[type]]" xaxis ="[[xaxis1]]" yaxis="[[yaxis]]" label="legend_array"/>
					</div>
					<div class="span6">
						<div class="content_detail_wrapper details_wrapper">
							<div class="details_inner_wrapper">
								<p class="detail_block">
									<label class="detail_lbl">Recommended Product:</label>
									<span class="detail_content bold">ABC Savings Plan</span>
								</p>
								<div class="additional_content left_align">
									<p><span class="bold">Also kindly refer to the Benefit Illustration copy sent to your email ID xxxxxx@xxxx.com</span>
									<span>To know more about the recommended product, Please click the link given below:</span></p>
									
									<p class="textcenter">
										<button>Brochure</button>
										<button>Key Features</button>
									</p>
									<div class="purchased_container">
										<span class="purchase_img"></span>
									</div>
								</div>
							</div>	
						</div>	
					</div>
				</div>
			</div>
			<div class="report_footer center">
				<p>Need Analysis for Mr.<span>James</span></p>
				<p>Apr 03 2015, 11:30am</span></p>
			</div>
		    </div>
			
			<div class="fna_report_wrapper details">
			<h3 class="fna_report_header" translate="">James's Retirement Planning</h3>
			<div class="report_content_wrapper">
				<div class="row-fluid">
					<div class="span6">
						<div class="content_detail_wrapper details_wrapper right_border">
							<div class="details_inner_wrapper">
								<p class="detail_block">
									<label class="detail_lbl">Age:</label>
									<span class="detail_content">30 Years</span>
								</p>
								<p class="detail_block">
									<label class="detail_lbl">Retirement Age:</label>
									<span class="detail_content">55 Years</span>
								</p>
								<p class="detail_block">
									<label class="detail_lbl">Term to Retire:</label>
									<span class="detail_content">25 Years</span>
								</p>
							</div>
						</div>
					</div>
					
					<div class="span6">
						<div class="content_detail_wrapper details_wrapper">
							<div class="details_inner_wrapper">
								<p class="detail_block">
									<label class="detail_lbl">Expected Rtd Expense:</label>
									<span class="detail_content">60,000 p.m</span>
								</p>
								<p class="detail_block">
									<label class="detail_lbl">Corpus Required:</label>
									<span class="detail_content">41,872,596</span>
								</p>
								<p class="detail_block">
									<label class="detail_lbl">Available Savings:</label>
									<span class="detail_content">1,000,000</span>
								</p>
								<p class="detail_block">
									<label class="detail_lbl">Need Gap:</label>
									<span class="detail_content">40,944,739</span>
								</p>
								<p class="detail_block">
									<label class="detail_lbl">Savings Required:</label>
									<span class="detail_content">1,661,140 p.a</span>
								</p>
								<p class="detail_block dark">
									<label class="detail_lbl">Suggested Savings:</label>
									<span class="detail_content bold">56,567 p.m</span>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span6">
						<div  id="[[id2]]" class="report_chart_container"></div>		
						<ui-chart  ng-model = "chartData" id = "[[id2]]" type ="[[type]]" xaxis ="[[xaxis2]]" yaxis="[[yaxis]]" label="legend_array"/>
					</div>
					<div class="span6">
						<div class="content_detail_wrapper details_wrapper">
							<div class="details_inner_wrapper">
								<p class="detail_block">
									<label class="detail_lbl">Recommended Product:</label>
									<span class="detail_content bold">ABC Retirement Plan</span>
								</p>
								<div class="additional_content left_align">
									<p><span class="bold">Also kindly refer to the Benefit Illustration copy sent to your email ID xxxxxx@xxxx.com</span>
									<span>To know more about the recommended product, Please click the link given below:</span></p>
									
									<p class="textcenter">
										<button>Brochure</button>
										<button>Key Features</button>
									</p>
									<div class="purchased_container">
										<span class="purchase_img"></span>
									</div>
								</div>
							</div>	
						</div>	
					</div>
				</div>
			</div>
			<div class="report_footer center">
				<p>Need Analysis for Mr.<span>James</span></p>
				<p>Apr 03 2015, 11:30am</span></p>
			</div>
		    </div> -->
			
<!--<div class="fna_report_wrapper details">
			<h3 class="fna_report_header" translate="">Next Steps</h3>
			<div class="report_content_wrapper">
				<div class="row-fluid">
					<div class="span8">
						<div class="content_detail_wrapper details_wrapper">
							<div class="details_inner_wrapper">
								<p class="detail_block">
									<label class="detail_lbl">Your Advisor:</label>
									<span class="detail_content">Mr. Jack Milton</span>
								</p>
								<p class="detail_block">
									<label class="detail_lbl">Contact:</label>
									<span class="detail_content">9253xxxxxx</span>
								</p>
								<p class="detail_block">
									<label class="detail_lbl">Email:</label>
									<span class="detail_content">jack.milton@xyzinsurance.com</span>
								</p>
								
								<p class="detail_block top_mrg dark">
									<label class="detail_lbl bold ">Complete application form filling by:</label>
									<span class="detail_content bold">04/30/2015</span>
								</p>
								
								
							</div>
						</div>
					</div>
					
					<div class="span4">
						<div class="document_list">
							<p class="document_list_header">List of Documents Required</p>
							<p class="document_list_item" ng-repeat="t in getTimes(3)">[[$index +1]].  Income Proof</p>
						</div>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span8">
						<div class="additional_content left_align">
							<p>
								<span class="declaration_text"><span class="declaration_intro_txt">I understand and agree to</span> ................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................</span>
							</p>
							<p class="signature_wrapper">
								<span class="signature_content"></span>
								<h4 class="signature_title">Mr. James Martin</h4>
	
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="report_footer center">
				<p>Need Analysis for Mr.<span>James</span></p>
				<p>Apr 03 2015, 11:30am</span></p>
			</div>
</div>-->


<!-- <div class="fna_report_wrapper details">
			<h3 class="fna_report_header" translate="">Prepared by</h3>
			
			
				<div class="row-fluid">
					<div class="span6">
						<div class="row-fluid content_detail_wrapper">
							<div class="pos_relative full_height thumbnail">
								<span class="thumbnail_wrapper primary"></span>
							</div>
							<div class=" full_height details_wrapper">
								<div class="details_inner_wrapper">
									<div class="detail_header">Your Advisor : Mr. James Mathew</div>
									<div class="detail_name">Contact :9147852369</div>
									<div class="detail_age">Email : dude@dude.com</div>
								</div>
							</div>
						</div>	
					</div>
					
				
				</div>
			
			
			</div> -->
		</div>
		<!-- row-fluid ends -->

	</div>
	<!-- container ends -->
			<!--Email PopUp -->
<div class="popup_setpref_container_previous general-overlay-container  email_container ill_popup_container fna-email-container" ng-class="{'center_pop_up':emailpopup}" ng-show="emailpopup">
	<div class="email-header fna-report-email-header"> 
		<span class="text ng-scope" translate="sendEmailPopupHeader">Send Email</span>
		<!-- <i id="close_email_popup" class="fa fa-close" ng-click="cancelEmailPopup()"></i> -->
		<button type="button" class="close fna-report-close" data-dismiss="modal" aria-hidden="true" ng-hide="control.blockingPopup" ng-click="cancelEmailPopup()">×</button>
	</div>

	<div class="white-box fna-report-content">
        <!-- FNA Changes by LE Team (Bug: 3913) Start -->
		<div class="row-fluid fna-report-email-spacing">
            <div class="span4 email-box-label" translate="fna.toemail"></div>
            <div class="span8 email-box-input-span">
                <input type="text" 
                       id="to_name" 
                       name="toName" 
                       ng-model="emailToId" 
                       placeholder="Insured.Email@domain.th"
                       class="span12 email-box-input">
            </div>
		</div>
        <div class="row-fluid na-report-email-spacing">
            <div class="span4 email-box-label" translate="fna.tocc"></div>
            <div class="span8 email-box-input-span">
                <input type="text" 
                       id="cc_name" 
                       name="ccName" 
                       ng-model="emailccId" 
                       placeholder="Agent.Email@Generali.th"
                       class="span12 email-box-input">
            </div>
        </div>

        <div class="row-fluid na-report-email-spacing">
            <div class="span4 email-box-label" translate="fna.tosubject"></div>
            <div class="span8 email-box-input-span">
                <input type="text" 
                       id="text_subject" 
                       name="textSubject" 
                       ng-model="mailSubject"
                       class="span12 email-box-input">
            </div>
		</div>
        <div class="row-fluid na-report-email-spacing" ng-show="emailToError">
            <div class="span4 email-box-label"></div>
            <div class="span8 email-box-input-span">
                <span class="fna_email_error_msg" ng-bind="emailToError" ng-show="emailToError"></span>
            </div>
        </div>
        
        <div class="row-fluid na-report-email-spacing" ng-show="emailCcError">
            <div class="span4 email-box-label"></div>
            <div class="span8 email-box-input-span">
                <span class="fna_email_error_msg" ng-bind="emailCcError" ng-show="emailCcError"></span>
            </div>
		</div>
        
        <div class="row-fluid na-report-email-spacing">
            <div class="span4 email-box-label"></div>
            <div class="span8 email-box-button-span">
                <div class="span4 email-box-button-cancel">
                    <button id="emailcancelButton" 
                            class="btn logicBtn countBtn btn-small red-text fna-email-box-button" 
                            translate="btnCancel" 
                            ng-click="cancelEmailPopup()">Cancel</button>
                </div>
                <div class="span4 email-box-button-send">
                    <button id="emailokButton" 
                            class="btn btn-primary pull-right btn-small fna-email-box-button" 
                            translate="general.send" 
                            ng-click="emailPopupOkClick()">Send</button>
                </div>
            </div>
        </div>
        <!-- FNA Changes by LE Team End -->			
	</div>	
</div>
<div class="general-modal-overlay ng-scope" ng-show="emailpopup"></div>
<!--Email Popup Ends -->
<lepopup control="lePopupCtrl"/>

</div>
