<!--Copyright 2015, LifeEngage -->
<script type="text/javascript" src="lib/vendor/general/common_components.js"></script>
<!-- Include Progressbar -->
<div ng-include="'modules/fna/partials/Progressbar.html'" ng-controller="GLI_ProgressbarController"></div>
<div class="set-goal-cntr fna-outercontainer pos-relative">
	<div class="row-fluid">
		<div class="span12">
			<!-- <div id="head_fix_tab" class="fixheader_tablet"></div> -->
			<!-- FNA LANDING PAGE  -->
	
			<div class="row-fluid">
				<div class="span12 dependent-list">
					<h4 class="pull-left SetgoalHeading" translate="fna.setGoals"></h4>
					<div class="pull-right">
						<!-- <div class="myself-cntr">
							<img class="myself" src="data:image/jpeg;base64,[[insuredImage]]" alt="" />
						</div>
						<div ng-repeat="photo in beneficiaryPhotos track by $index" class="branches option[[($index+1)]]">
							<img class="dependent dependant[[($index+1)]]" src="data:image/jpeg;base64,[[photo]]" alt="" />
							<p ng-init="PluginInit($last)" class="option_text"></p>
						</div> -->
						
						<div ng-repeat="beneficiary in FNAObject.FNA.parties" class="branches option[[($index+1)]]">
							<!-- <span class="myself round-icon bs-50 [[beneficiary.imageClass]]"> -->
                             <span ng-class="{true: 'myself_female round-icon bs-50 [[beneficiary.imageClass]]', false: 'myself round-icon bs-50 [[beneficiary.imageClass]]'}[beneficiary.BasicDetails.gender==='Female']">
								<img src="data:image/jpeg;base64,[[beneficiary.BasicDetails.photo]]" />
							</span>
						</div>
						
						
					</div>
				</div>
			</div>
			
			<div class="row-fluid">
				<div class="span12">
					<!-- MY FAMILY -->
					
					<!-- FNA changes by LE Team start -->
					
					<h4 class="pull-left recommended_goal_header" translate = fna.recommendedGoals></h4>
					<!-- FNA changes by LE Team end -->
					
					
					<div class="setpreference_drag_container">
						<div class="preference_holder">
							<div class="container_gl">
								<div class="goals" ng-init="drop($last)" ng-repeat="goal in goals" ng-show="goal.availability>0">
									<div class="goal-holder">
									<span class="goal [[goal.goalicon]]"></span>
									<!-- FNA changes by LE Team 
									ng-class="updateMandatoryGoals(goal.goalName) 
									-->
									</div>
									<!-- FNA changes by LE Team Starts -->
									<!-- <a data-target="#[[goal.goalId]]Info" class="infoicon fastclick" ng-click="setindex($index)" role="button" data-toggle="modal"></a> -->
									<a class="infoicon fastclick" role="button" data-toggle="modal"></a>
									<!-- FNA changes by LE Team Ends -->
									<p class="txtgoals" translate="[[goal.translateID]]"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			 
			
			<div class="row-fluid">
			
				<div class="span12 detailsholder">
				<!-- FNA changes by LE Team Start-->
				<p class="pull-left selected-goals-header"><span translate = fna.selectedGoals></span></p>
				<!-- FNA changes by LE Team End-->
					<div class="priorityholder">
						<div class="lft_cntnr cust_span"></div>
						<!-- SLIDING LiST START -->
						<div class="slidinglist">
							<div id="owl-demo" class="owl-carousel owl-theme">
								<div gli-set-goal-pref ng-repeat="item in goalpref" class="item">
									<div class="priorityGoal-holder">
									<div ng-class="getClass(item.prioritynum)" id=[[item.prioritynum]]>
										<span  translate="fna.priority"></span>
										<span>[[item.prioritynum]]</span> 
									</div>
									</div>
									<div class="set_goal_text_wrapper">
										<p class="selected_goal_txt" translate="[[item.translate]]"></p>
										<textarea id="priorityinfo[[item.prioritynum]]" blur="changingStatus()" placeholder="[[convertertranslate('fna.priorityTextMessage')]]" >[[getPriorityInfoText(item.prioritynum)]]</textarea>
									</div>
								</div>
							</div>
						</div>
						<!-- SLIDING LIST END -->
						<div class="right_cntnr cust_span"></div>
					</div>
				</div>
			</div>
			
		</div>
	<!-- row-fluid ends -->
	</div>
	<div class="row-fluid proceed-btn-cntr">
		<div class="span12">
			<button id="showOverlay" class="btn btn-primary pull-right" ng-click="nextPage()" translate="general.productProceed"></button>
		</div>
	</div>
</div>
<!-- container ends -->
<!-- ABSOLUTELY POSITIONED POPOVER -->
<div class="videopopover">
	<div class="videocontent">
		<p class="header_close">
			<a href="" class="closeBtn" videoclosebtn></a>
		</p>
		<p class="headerpopup" translate="[[goals[index].goalHeader]]"></p>
		<div class="popupcontent">
			<div class="text" translate="[[goals[index].goalDEsc]]"></div>
			<a href="" class="images goal[[goals[index].translateID]]" ng-click="playVideo(index)"></a>
		</div>
	</div>
	<span class="attacharrow"></span>
	<!-- <div class="arrowborder"></div> -->
</div>


<div id="EducationInfo" class="product-info-modal modal custom_fna_modal" carousal-initial tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header prod-modal-header">
		<span class="red-text bold"  translate="[[goals[index].goalHeader]]">Product</span>
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	</div>
	<div class="modal-body">
		<!--<div id="EducationInfoCarousel" class="carousel slide" data-ride="carousel" swipe-carousel>-->
			<!-- Indicators -->
			<!--<ol class="carousel-indicators">
				<li data-target="#EducationInfoCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#EducationInfoCarousel" data-slide-to="1"></li>
				<li data-target="#EducationInfoCarousel" data-slide-to="2"></li>
				<li data-target="#EducationInfoCarousel" data-slide-to="3"></li>
				<li data-target="#EducationInfoCarousel" data-slide-to="4"></li>
			</ol>-->
			<!-- Wrapper for slides -->
			<!--<div class="carousel-inner" role="listbox" >
				<div class="item active">-->
					<div class="fna-goal-carousel-page-content">
						<span translate = fna.educationPopUp></span>
						
</div>
				<!--</div>
				<div class="item">
					<div class="fna-goal-carousel-page-content education-2"></div>
				</div>
				<div class="item">
					<div class="fna-goal-carousel-page-content education-3"></div>
				</div>
				<div class="item">
					<div class="fna-goal-carousel-page-content education-4"></div>				
				</div>
				<div class="item">
					<div class="fna-goal-carousel-page-content education-5"></div>				
				</div>
			</div>-->
			<!-- Left and right controls -->

			<!--<button class="carousel-control left" data-target="#EducationInfoCarousel" ng-non-bindable data-slide="prev">
				<span class="fa fa-angle-left" aria-hidden="true"></span>
			</button>

			<button class="carousel-control right" data-target="#EducationInfoCarousel" ng-non-bindable  data-slide="next">
				<span class="fa fa-angle-right" aria-hidden="true"></span>
			</button>
		</div>-->
	</div>
</div>
<div id="SavingsInfo" carousal-initial class="product-info-modal modal custom_fna_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header prod-modal-header">
		<span class="red-text bold"  translate="[[goals[index].goalHeader]]">Product</span>
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	</div>
	<div class="modal-body">
		<!--<div id="WealthAccumulationInfoCarousel" class="carousel slide" data-ride="carousel" swipe-carousel>-->
			<!-- Indicators -->
			<!--<ol class="carousel-indicators">
				<li data-target="#WealthAccumulationInfoCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#WealthAccumulationInfoCarousel" data-slide-to="1"></li>
				<li data-target="#WealthAccumulationInfoCarousel" data-slide-to="2"></li>
				<li data-target="#WealthAccumulationInfoCarousel" data-slide-to="3"></li>
				<li data-target="#WealthAccumulationInfoCarousel" data-slide-to="4"></li>
			</ol>-->
			<!-- Wrapper for slides -->
			<!--<div class="carousel-inner" role="listbox" >-->
				<!--<div class="item active">-->
					<div class="fna-goal-carousel-page-content">
						<span translate = fna.savingsPopUp></span>
					</div>	
				<!--</div>
				<div class="item">
					<div class="fna-goal-carousel-page-content wealth_accumulation-2"></div>	
				</div>
				<div class="item">
					<div class="fna-goal-carousel-page-content wealth_accumulation-3"></div>	
				</div>
				<div class="item">
					<div class="fna-goal-carousel-page-content wealth_accumulation-4"></div>					
				</div>
				<div class="item">
					<div class="fna-goal-carousel-page-content wealth_accumulation-5"></div>					
				</div> -->
			<!--</div>-->
			<!-- Left and right controls -->
			<!--<button class="carousel-control left" data-target="#WealthAccumulationInfoCarousel" ng-non-bindable data-slide="prev">
				<span class="fa fa-angle-left" aria-hidden="true"></span>
				
			</button>
			<button class="carousel-control right" data-target="#WealthAccumulationInfoCarousel" ng-non-bindable  data-slide="next">
				<span class="fa fa-angle-right" aria-hidden="true"></span>
			</button>-->
		<!--</div>-->
	</div>
</div>
<div id="ProtectionInfo" carousal-initial class="product-info-modal modal custom_fna_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header prod-modal-header">
		<span class="red-text bold"  translate="[[goals[index].goalHeader]]">Product</span>
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	</div>
	<div class="modal-body">
		<!--<div id="ProtectionInfoCarousel" class="carousel slide" data-ride="carousel" swipe-carousel>-->
			<!-- Indicators -->
			<!--<ol class="carousel-indicators">
				<li data-target="#ProtectionInfoCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#ProtectionInfoCarousel" data-slide-to="1"></li>
				<li data-target="#ProtectionInfoCarousel" data-slide-to="2"></li>
			</ol>-->
			<!-- Wrapper for slides -->
			<!--<div class="carousel-inner" role="listbox" >
				<div class="item active" >-->
					<div class="fna-goal-carousel-page-content">
						<span translate = fna.protectionPopUp></span>
					</div>	
				<!--</div>
				<div class="item">
					<div class="fna-goal-carousel-page-content protection-2"></div>	
				</div>
				<div class="item">
					<div class="fna-goal-carousel-page-content protection-3"></div>
				</div>
			</div>-->
			<!-- Left and right controls -->
			<!--<button class="carousel-control left" data-target="#ProtectionInfoCarousel" ng-non-bindable data-slide="prev">
				<span class="fa fa-angle-left" aria-hidden="true"></span>
				
			</button>
			<button class="carousel-control right" data-target="#ProtectionInfoCarousel" ng-non-bindable  data-slide="next">
				<span class="fa fa-angle-right" aria-hidden="true"></span>
			</button>
		</div> -->
	</div>
</div>
<div id="RetirementInfo" carousal-initial class="product-info-modal modal custom_fna_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header prod-modal-header">
		<span class="red-text bold"  translate="[[goals[index].goalHeader]]">Product</span>
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	</div>
	<div class="modal-body">
		<!--<div id="RetirementInfoCarousel" class="carousel slide" data-ride="carousel" swipe-carousel>-->
			<!-- Indicators -->
			<!--<ol class="carousel-indicators">
				<li data-target="#RetirementInfoCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#RetirementInfoCarousel" data-slide-to="1"></li>
				<li data-target="#RetirementInfoCarousel" data-slide-to="2"></li>
				<li data-target="#RetirementInfoCarousel" data-slide-to="3"></li>
			</ol>-->
			<!-- Wrapper for slides -->
			<!--<div class="carousel-inner" role="listbox" >
				<div class="item active">-->
					<div class="fna-goal-carousel-page-content">
						<span translate = fna.retirementPopUp></span>
					</div>	
				<!--</div>
				<div class="item">
					<div class="fna-goal-carousel-page-content retirement-2"></div>	
				</div>
				<div class="item">
					<div class="fna-goal-carousel-page-content retirement-3"></div>
				</div>
				<div class="item">
					<div class="fna-goal-carousel-page-content retirement-4"></div>			
				</div>
			</div> -->
			<!-- Left and right controls -->
			<!--<button class="carousel-control left" data-target="#RetirementInfoCarousel" ng-non-bindable data-slide="prev">
				<span class="fa fa-angle-left" aria-hidden="true"></span>
				
			</button>
			<button class="carousel-control right" data-target="#RetirementInfoCarousel" ng-non-bindable  data-slide="next">
				<span class="fa fa-angle-right" aria-hidden="true"></span>
			</button>
		</div>-->
	</div>
</div>
<div id="HealthInfo" carousal-initial class="product-info-modal modal custom_fna_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header prod-modal-header">
		<span class="red-text bold"  translate="[[goals[index].goalHeader]]">Product</span>
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	</div>
	<div class="modal-body">
		<!--<div id="HealthInfoCarousel" class="carousel slide" data-ride="carousel" swipe-carousel>-->
			<!-- Indicators -->
			<!--<ol class="carousel-indicators">
				<li data-target="#HealthInfoCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#HealthInfoCarousel" data-slide-to="1"></li>
				<li data-target="#HealthInfoCarousel" data-slide-to="2"></li>
			</ol>-->
			<!-- Wrapper for slides -->
			<!--<div class="carousel-inner" role="listbox" >
				<div class="item active">-->
					<div class="fna-goal-carousel-page-content">
						<span translate = fna.healthPopUp></span>
					</div>	
				<!--</div>
				<div class="item">
					<div class="fna-goal-carousel-page-content wealth-transfer-2"></div>	
				</div>
				<div class="item">
					<div class="fna-goal-carousel-page-content wealth-transfer-3"></div>	
				</div>
			</div>-->
			<!-- Left and right controls -->
			<!--<button class="carousel-control left" data-target="#HealthInfoCarousel" ng-non-bindable data-slide="prev">
				<span class="fa fa-angle-left" aria-hidden="true"></span>
				
			</button>
			<button class="carousel-control right" data-target="#HealthInfoCarousel" ng-non-bindable  data-slide="next">
				<span class="fa fa-angle-right" aria-hidden="true"></span>
			</button>
		</div>-->
	</div>
</div>



<!--PDF/Video integration -->
<div class="popup_setpref_container pdfViewerPopUp general-overlay-container" ng-show="show_hide_popup" ng-class="{'center_pop_up':show_hide_popup}">
	<p class="header_pref"> 
		<span class="text" translate=""></span>
		<a id="close_popup" class="close_pref " ng-click="show_hide_popup = !show_hide_popup"></a>
	</p>
	<div>
		<video id="le_prod_video" width="800" height="454" controls autoplay>
		<source src="media/LifeEngageProduct.mp4" type="video/mp4">
		Your browser does not support HTML5 video.
		</video>
	</div>
</div>
<div class="general-modal-overlay" ng-show="show_hide_popup"></div>
<!--PDF/Video integration -->

<!-- THE DELETE SCRAP ICON -->
<button class="scrapButton" glideletegoals></button>
<lepopup control="lePopupCtrl"/>

<!-- Observation -->
<clickstream pageid=[[selectedpage]]> </clickstream>
<!-- Observation -->