  <!--Copyright 2015, LifeEngage -->
<script type="text/javascript" src="lib/vendor/general/common_components.js"></script>
<!-- Include Progressbar -->
	<div ng-include="'modules/fna/partials/Progressbar.html'" ng-controller="GLI_ProgressbarController"></div> 
		<div class="cal-chart-container clearfix">
			<!-- <p class="abtme_header" translate="general.productSummary"></p> -->
		
			<div circularchartwidget controller-name="FnaChildSummaryController"></div>	
			<div class="graph_wrapper span9 pull-right">
				<!-- <div class="leftarr"></div> -->
				<div class="graph_content top_mrg_cont" style="">
					<div class="graph_dummy">							
						
						<div  id="fnaSummaryGraph">
						<div  id="[[id]]"></div>
						<!--<ui-chart  ng-model = "chartData" id = "[[id]]" type ="[[type]]" xaxis ="[[xaxis]]" yaxis="[[yaxis]]" label="legend_array"/>-->
						<!--<gli-ui-chart ng-model1 = "[[chartData]]" color="[[color]]" id = "[[id]]" type = "[[type]]" xaxis= "[[xaxis]]" yaxis= "[[yaxis]]" label="[[legend_array]]" series="[[this.series]]"></gli-ui-chart>-->
						</div>
						</div>								
				</div>							
			</div>
						
		<!-- 
		<div class="row-fluid">
			
			   <div class="span12" style="height:635px;">	
				  <div class="span3">
				  <div class="pdt_recomm_container">							  
				    	<div circularchartwidget controller-name="FnaChildSummaryController"></div>	
					</div>							  
				  </div>
						<div class="span9">
						<div class="graph_wrapper span12">
							<div class="leftarr"></div>
							<div class="graph_content top_mrg_cont" style="height:500px;width:575px;">
							  <div class="graph_dummy">							
							  	<div  id="[[id]]"></div>							 
							  	<ui-chart  ng-model = "chartData" id = "[[id]]" type ="[[type]]" xaxis ="[[xaxis]]" yaxis="[[yaxis]]" label="legend_array"/>
							  	</div>								
							</div>							
						</div>
							
						</div>
					 <div class="row-fluid">
				   <div class="span12 make_it_center">
					   <button class="proceedBtn" ng-click="nextPage()" translate="general.productProceed"></button>
					     			   	
				   </div>
				</div>
			   </div>
			</div>	

		-->		

		<div class="">
			<div class="span12 pull-right bottom-right20 marginTop20">
				<!-- FNA changes by LE Team -->
				<button class="btn btn-primary span4 pull-right" ng-click="nextPage()" translate="general.productProceed"></button>
			</div>
		</div>
			
		  </div>
		  <lepopup control="lePopupCtrl"/>
		  
	<!-- Observation -->
	
	<clickstream pageid=[[selectedpage]]>	
	</clickstream>
	
	<!-- Observation -->			  