<!--Copyright 2015, LifeEngage-->




<!--Script for tabs-->
<script type="text/javascript">
	 $(document).ready(function(){
		 $( ".tabs").tabs();	    
		
	 });	

	</script>
<script type="text/javascript" src="lib/vendor/uploadplugin/swfobject.js"></script>
<script type="text/javascript" src="js/signature_pad.js"></script>
<script type="text/javascript" src="js/ng-signature-pad.min.js"></script>
<!--Script for tabs Ends-->
	
	<div>

	<!--Render the tabs and container here  -->
	<div id="buyOnlineTabs" name="buyOnlineTabs" ng-show="isPainted">
	</div>
	<!--Bottom Button area  -->
	<!-- PRINT SUMMARY IN PDF -->
	<div class="print_summary_container ng-hide" id="dialog_box_container">
		<div class="row-fluid">
			<div class="span12">
				<div id="dialogue_box_header ">
					<p class="print_summary_header_1 dont_print clearfix">
						<button
							class="blue_gen_btn_btm pull-right print_popup_btn close_print_summary "
							onclick="printClose()" translate="printButtonClose">
							Close</button>
						<button class="blue_gen_btn_btm pull-right print_popup_btn "
							onclick="callPrinter()" translate="general.productPrintButton">Print</button>
					</p>
					<p class="print_summary_header_2 blue_bg_full clearfix"></p>
<!-- 					<p class="print_summary_header_logo logo_bg_full">
						<img src="css/main-theme/img/logo.png" alt="logo" />
					</p> -->
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<div id="dialogue_box_content">
					<div class="row-fluid clearfix">
						<div class="span12 top_content_print">
							<div class="span8">
								<p class="online_application_summary_title">
									<span translate="onlineApplicationSummary"></span>
								</p>
								<p class="clearfix">
									<span class="print_page_label" translate="appNo"> </span><span
										class="colon_separator"> :</span><span
										class="print_page_value">12345</span>
								</p>
								<p class="clearfix">
									<span class="print_page_label" translate="customerName"></span><span
										class="colon_separator">:</span><span class="print_page_value"
										translate="test"></span>
								</p>
								<p class="clearfix">
									<span class="print_page_label" translate="productName"></span><span
										class="colon_separator">:</span><span class="print_page_value"
										translate="lifeEngage"></span>
								</p>
							</div>
							<div class="span4">
								<div class="print_photo_container">
									<!--  <img src="css/main-theme/img/dummy_photo.png" ngmodel="EappAttachment.Upload.Photograph.documentPath"/> -->
									<img alt=""
										ng-src="[[EappAttachment.Upload.Photograph[0].pages[0].base64string]]"
										style="background-image: url('css/main-theme/img/dummy_photo.png'); width: 120px; height: 120px;" />
								</div>
							</div>
						</div>
					</div>
					<div class="row-fluid clearfix">
						<div class="span12">
							<div class="main_content_print"></div>
						</div>
					</div>
					<div class="row-fluid clearfix">
						<div class="span12 print_footer">
							<p class="footer_print_copyright" translate="footerCopyright">
								&copy;Copyright 2013. Life Engage</p>
						</div>
					</div>
					<div class="row-fluid clearfix dont_print">
						<div class="span12 print_btn_footer">
							<p class="print_summary_header_1 clearfix">
								<button
									class="blue_gen_btn_btm pull-right print_popup_btn close_print_summary "
									onclick="printClose()" translate="printButtonClose">
									Close</button>
								<button class="blue_gen_btn_btm pull-right print_popup_btn "
									onclick="callPrinter()" translate="general.productPrintButton">Print</button>

							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- PRINT SUMMARY IN PDF ENDS-->
	<!--Bottom Button area  -->
	<div class="row-fluid " ng-show="isPainted">
		<div class="span12">
			<div id="notifyMsg" class="notification_msgs general_brd "
				ng-show="notifyMsg">
				<div class="row-fluid">
					<span class="remove_info_img" ng-click="HideNotifyMsg();"></span>
				</div>
				<span id="notifyIcon" class="info_icon" ng-class="{'success_icon':!notifyerror,'error_icon ':notifyerror}"></span><span
					class="success_alert_content" ng-class="{'success_alert_content':!notifyerror,'error_alert_content ':notifyerror}" id="notifyMsgContent">[[notifyMessage]]</span>
			</div>
			<div class="btn_container_tlr_fluid clearfix"  ng-hide="id =='Payment'">
				
				<div class="span4 btn-center" ng-show="tabview && id == 'DocumentUpload'">
					<button ng-show="tabview && id == 'DocumentUpload'" class="btn highlight btn-block uppercase pointer" type="button" ng-click="backToDocumentUpload()" >
						<span translate = "returnToDocumentUpload"></span>
					</button>
				</div>
				<div class="span4 btn-center">
<!--
				<div class="span6" ng-show="!tabview &&  id !=='BeneficiarySubTab' &&  id !=='ProductDetails' &&  id !='QuestionnaireSummarySubTab' && id !=='SPAJsummary' && id !=='Payment' &&  id !=='DocumentUpload' && id !== 'DeclarationAndAuthorizationTab' && id != 'Declaration'">		
					<button class="btn btn-primary btn-block uppercase pointer" id="saveButton" ng-class="{'ReturntoDocTrue':showBackBtn}"
						ng-click="saveBtnClick(false)" ng-disabled="LifeEngageProduct.Declaration.confirmSignature">
						<span translate="btnSave" ng-show="id =='mainInsuredSubTab'"></span>
						<span translate="btnSave" ng-show="id =='PolicyHolderSubTab'"></span>
						<span translate="btnSave" ng-show="id =='AdditionalInsuredSubTab0'"></span>
						<span translate="btnSave" ng-show="id =='AdditionalInsuredSubTab1'"></span>
						<span translate="btnSave" ng-show="id =='AdditionalInsuredSubTab2'"></span>
						<span translate="btnSave" ng-show="id =='AdditionalInsuredSubTab3'"></span>
						<span translate="btnSave" ng-show="id =='MainInsuredQuestionnaire'"></span>
						<span translate="btnSave" ng-show="id =='PolicyHolderQuestionnaire'"></span>
						<span translate="btnSave" ng-show="id =='AdditionalInsured1Questionnaire'"></span>
						<span translate="btnSave" ng-show="id =='AdditionalInsured2Questionnaire'"></span>
						<span translate="btnSave" ng-show="id =='AdditionalInsured3Questionnaire'"></span>
						<span translate="btnSave" ng-show="id =='AdditionalInsured4Questionnaire'"></span>
					</button>
				</div>
-->
				<div class="span6" ng-class="{'span6' : !tabview &&  id !=='BeneficiarySubTab' &&  id !=='ProductDetails' &&  id !='QuestionnaireSummarySubTab' && id !=='SPAJsummary' && id !=='Payment' &&  id !=='DocumentUpload' && id !== 'DeclarationAndAuthorizationTab' && id != 'Declaration', 'span12' : !(!tabview &&  id !=='BeneficiarySubTab' &&  id !=='ProductDetails' &&  id !='QuestionnaireSummarySubTab' && id !=='SPAJsummary' && id !=='Payment' &&  id !=='DocumentUpload' && id !== 'DeclarationAndAuthorizationTab' && id != 'Declaration')}">
					<button ng-show="!tabview &&  id !=='Payment' &&  id !=='DocumentUpload' && id !== 'DeclarationAndAuthorizationTab' && id != 'Declaration'" class="btn btn-primary btn-block pointer" id="saveProposalButton" ng-class="{'ReturntoDocTrue':showBackBtn}"
						ng-click="saveProposal(false)"  ng-disabled="LifeEngageProduct.Declaration.confirmSignature || disableProceedButtonCommom">
						<span translate="eapp_vt.proceedButton" ng-show="id =='mainInsuredSubTab'"></span>
						<span translate="eapp_vt.proceedButton" ng-show="id =='PolicyHolderSubTab'"></span>
						<span translate="eapp_vt.proceedButton" ng-show="id =='AdditionalInsuredSubTab0'"></span>
						<span translate="eapp_vt.proceedButton" ng-show="id =='AdditionalInsuredSubTab1'"></span>
						<span translate="eapp_vt.proceedButton" ng-show="id =='AdditionalInsuredSubTab2'"></span>
						<span translate="eapp_vt.proceedButton" ng-show="id =='AdditionalInsuredSubTab3'"></span>
						<span translate="eapp_vt.proceedButton" ng-show="id =='BeneficiarySubTab'"></span>
						<span translate="eapp_vt.proceedButton" ng-show="id =='ProductDetails'"></span>
						<span translate="eapp_vt.proceedButton" ng-show="id =='MainInsuredQuestionnaire'"></span>
						<span translate="eapp_vt.proceedButton" ng-show="id =='PolicyHolderQuestionnaire'"></span>
						<span translate="eapp_vt.proceedButton" ng-show="id =='AdditionalInsured1Questionnaire'"></span>
						<span translate="eapp_vt.proceedButton" ng-show="id =='AdditionalInsured2Questionnaire'"></span>
						<span translate="eapp_vt.proceedButton" ng-show="id =='AdditionalInsured3Questionnaire'"></span>
						<span translate="eapp_vt.proceedButton" ng-show="id =='AdditionalInsured4Questionnaire'"></span>
						<span translate="eapp_vt.proceedButton" ng-show="id =='SPAJsummary'"></span>
						<span translate="eapp_vt.proceedButton" ng-show="id =='QuestionnaireSummarySubTab'"></span>
						<span translate="eapp_vt.saveProceedButton" ng-show="id =='Payment'"></span>
						<span translate="eapp_vt.proceedButton" ng-show="id =='DocumentUpload'"></span>
						</button>
					<button ng-show="!tabview && id == 'Declaration'" class="btn btn-primary btn-block pointer" id="agentSummaryButton" ng-class="{'ReturntoDocTrue':showBackBtn}"
						ng-click="saveProposal(false,id)"  ng-disabled="false" translate="eapp_vt.proceedButton">
					</button>
					<button ng-show="!tabview && id == 'DeclarationAndAuthorizationTab'&& !showProceed" class="btn btn-primary btn-block uppercase pointer" id="summaryConfirmButton" ng-class="{'ReturntoDocTrue':showBackBtn}"
						ng-click="saveProposal(false)" translate="eapp_vt.saveProposalButton" ng-disabled="false">
						Save Proposal</button>
					<button ng-show="!tabview && id == 'DeclarationAndAuthorizationTab' && showProceed" class="btn btn-primary btn-block pointer" id="summaryProceedButton" ng-class="{'ReturntoDocTrue':showBackBtn}"
						ng-click="saveProposal(false,id)" translate="eapp_vt.proceedButton" 
						ng-disabled= "false">
						Proceed</button>
					 <button ng-show="!tabview && id == 'DocumentUpload'" id="submitBtn-DocUpload" class="btn btn-primary btn-block uppercase pointer" type="button" ng-click="submitDocuments()" translate="submit" ng-disabled="totalDocCount != 0"> </button> 
					<!--<button ng-show="!tabview && id == 'DocumentUpload'" class="btn btn-primary btn-block uppercase pointer" type="button" ng-click="submitDocuments()" translate="submit">
						translate="saveProposalButtonText"
					</button> -->
				</div>
				</div> 
			</div>
			
		</div>
	</div>
	
	
	<div id="page_loader1"  ng-show="startupPopupDoc" >
	<div  class="modal hide fade auto-height animated fadeInDownBig"  ng-class="{'in':startupPopupDoc}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-header"> 
			  <span class="modal-header-title pull-left" translate= "lms.syncingData"></span>
			 <button type="button" class="close doc-close" data-dismiss="modal" aria-hidden="true" ng-show="isSycnCloseEnabled" ng-click="hideSyncPopup()">&times;</button>
			
	  </div>
	  <div class="modal-body text-center">
			<div class="spacing"></div>
			<p><span ng-bind="syncMessage"> </span> </p>
			<div class="spacing"></div>
	   
	  </div>
	  
	</div>
</div>
	
	
	<!-- THE MODAL POPUP  -->
	<div  class=" general-overlay-container dvDeleteConfirm ng-hide" ng-show="dvDeleteConfirm" ng-class="{'center_pop_up':dvDeleteConfirm}">
		<p class="del_ben_header">
			<span translate="delete">Delete</span> <span
				translate="[[deleteHeader]]" /> <span class="close_ben "
				ng-click="dvDeleteConfirm = !dvDeleteConfirm"></span>
		</p>
<!-- 		<p class="del_ben_warning">
			<img src="css/main-theme/img/warning.png" alt="info_icon"
				class="ben_warning_icon" />
		</p> -->
		<p class="del_ben_warning_text">
			<span translate="deleteWarningText"></span> <span translate="[[deleteHeader]]" />?
		</p>
		<div class="row-fluid">
			<div class="span12">
				<div class="btn_wrapper clearfix center">
					<button id="delete_benef" type="button"
						class="blue_gen_btn_save_delete pull-right"
						ng-click="this.deleteRow()" translate="deleteConfirmButtonText">
						</button>
					<button id="cancel_benef" type="button"
						class="blue_gen_btn_save_delete pull-right"
						ng-click="this.cancel()" translate="cancelButtonText">
						</button>
				</div>
			</div>
		</div>
	</div>


      
	<!--Pop Up Window-->	
   <!-- THE MODAL POPUP  -->
	<div  class=" general-overlay-container dvDeclarationPopup" ng-show="dvDeclarationPopup" ng-class="{'center_pop_up':dvDeclarationPopup}">
		<p class="del_ben_header">
			<span translate="fna.alert"></span>  <span class="close_ben "
				ng-click="dvDeclarationPopup = !dvDeclarationPopup"></span>
		</p>
<!-- 		<p class="del_ben_warning">
			<img src="css/main-theme/img/warning.png" alt="info_icon"
				class="ben_warning_icon" />
		</p> -->
		<p class="del_ben_warning_text">
			<span translate="[[dvDeclarationPopupMsg]]"></span>
		</p>
		<div class="row-fluid">
			<div class="span12">
				<div class="btn_wrapper clearfix center">
					<button id="cancel_benef" type="button"
						class="blue_gen_btn_save_delete"
						ng-click="this.cancel()" translate="fna.ok">
						l</button>
				</div>
			</div>
		</div>
	</div>
	<!-- THE MODAL POPUP-->
   
	<!-- THE MODAL POPUP FOR UPLOAD -->
	<div class="general-overlay-container dvUploadPopUp ng-hide" ng-show="dvUploadPopUp" ng-class="{'center_pop_up':dvUploadPopUp}">
		<p class="del_ben_header"><span translate="uploadDocumentsButton"></span>
			 <span class="close_ben "
				ng-click="this.uploadComplete()"></span>
		</p>


		<div class="row-fluid">
			<div class="span12">
				<div class="pop_up_upload_btn_img_outer_cont">
					<div class="scrollable_content_cont clearfix" ng-style="{ 'width' : 182 * DocumentPages.length + 95+'px' }">
						<ul class="upload_cont_element_list">

							<li ng-repeat="page in DocumentPages">
								<div class="single_upload_btn_cont">
									<span class="remove_attachment_icon" ng:click="deletePage($index)" id="remove_attachment_icon[[$index]]"></span>
									<!-- <span ng-bind="page.fileName"></span> -->
									<div class="upload_pop_up_camera_btn"
										ng-show="showUploadButton">
<!-- 										<img src="css/main-theme/img/icon-camera.png"
											id="{{page.id}}MobCapture"
											ng:click="captureFile($index,true,false)" /> -->

									</div>
									<div class="upload_pop_up_browse_btn"
										ng-hide="showUploadButton">
										<div ng-show="isSafariCheck()">
              						  <object id="file-object"></object>
										<div id="file-result"></div>
										</div>
										<div ng-hide="isSafariCheck()">
										<span class="upload_pop_up_browse_btn_label"
											translate="browse"  >Browse</span> <input id="file[[$index]]" type=file
											class="upload_pop_up_browse_btn_hidden" isimage="false" 
											filelist-bind name="files1" ng:model="files1"
											ng:click="setPageIndex($index)">browse </input>
											</div>
									</div>
									<div class="attachment_thumbnail_container">
										<div class="upload_pop_up_attachment_icon">

											<img alt="" ng-src="data:image/jpeg;base64,[[page.base64string]]"
												class="dummy_attachment_icon" ng:click="viewFile($index)" />
										</div>
										<span ng-bind="page.fileName" class="attachment_filename"
											title="[[page.fileName]]"></span>
									</div>
								</div></li>
						</ul>
						<div class="pop_up_upload_btn_cont">
							<button class="upload_content_btn" id="upload_content_btn" ng:click="addPage()"></button>
						</div>

					</div>

				</div>


			</div>
		</div>
	</div> 
	<!-- THE MODAL POPUP FOR UPLOAD-->
	<div class="general-modal-overlay ng-hide" ng-show="dvDeleteConfirm || dvUploadPopUp || dvDeclarationPopup"></div>
</div>
 <lepopup control="lePopupCtrl"/> 
	<!-- script for loading flash in IE-->	
<script>

// it's the function called by the swf file
var Flash = {
  /* Flash.getFileData() is called after the file has been read with two parameters */
  getFileData: function(base64, filename) {
		//alert("base64"+base64)
		var scope = angular.element($('#file-result')).scope();
		scope.addPage();
    showResult(base64, filename)
    
  },
  /* getButtonLabel() permits to define another label for the "Load a file" button in the Flash version */
  getButtonLabel: function() {
    return "Load a file";
  }
};

// we just want to show the result into the div
function showResult(b,filename) {
	//alert("base64sss"+b)
	var scope = angular.element($('#file-object')).scope();
		scope.saveFileIE(b,filename);
}


//alert("typeof FileReader"+typeof FileReader)
// check if the FileReader API exists... if not then load the Flash object
//if (typeof FileReader !== "function"){

  // we use 80px by 23px, because we want the object to have the same size than the button
	swfobject.embedSWF("lib\\vendor\\uploadplugin\\FileToDataURI.swf", "file-object", "150px", "50px", "10", "lib\\vendor\\uploadplugin\\expressInstall.swf", {}, {}, {});
	
	//swfobject.embedSWF("../../../flash/FileToDataURI.swf", "file-object", "150px", "50px", "10", "../../../flash/expressInstall.swf", {}, {}, {});
//}

</script>