	<div>
	<!--Bottom Button area  -->
	<div class="row-fluid " ng-show="isPainted">
		<div class="span12">
			<div id="notifyMsg" class="notification_msgs general_brd "
				ng-show="notifyMsg">
				<div class="row-fluid">
					<span class="remove_info_img" ng-click="HideNotifyMsg();"></span>
				</div>
				<span id="notifyIcon" class="info_icon" ng-class="{'success_icon':!notifyerror,'error_icon ':notifyerror}"></span><span
					class="success_alert_content" ng-class="{'success_alert_content':!notifyerror,'error_alert_content ':notifyerror}" id="notifyMsgContent">[[notifyMessage]]</span>
			</div>
			<div class="btn_container_tlr_fluid clearfix"  ng-hide="id =='paymentTabName'">
				
				<div class="span4 btn-center" ng-show="tabview && id == 'DocumentUpload'">
					<button ng-show="tabview && id == 'DocumentUpload' && returnbackuploadbtn" class="btn highlight btn-block uppercase pointer backToDocUploadBtn" type="button" ng-click="backToDocumentUpload()" >
						<span translate = "returnToDocumentUpload"></span>
					</button>
				</div>
				<div class="span4 btn-center" ng-show="tabview && id == 'DocumentUpload'">
					<button ng-show="tabview && id == 'DocumentUpload' && backuploadbtn" class="btn highlight btn-block uppercase pointer backToDocUploadBtn" type="button" ng-click="backupload()" >
						<span translate = "returnToDocumentUpload"></span>
					</button>
				</div>

				<div class="span2 btn-center">
<!--
				<div class="span6" ng-show="!tabview &&  id !=='BeneficiarySubTab' && id !=='financilaDetailsSubTab' &&  id !=='ProductDetails' &&  id !='QuestionnaireSummarySubTab' && id !=='SPAJsummary' && id !=='Payment' &&  id !=='DocumentUpload' && id !== 'DeclarationAndAuthorizationTab' && id != 'Declaration'">		
					<button class="btn btn-primary btn-block uppercase pointer" id="saveButton" ng-class="{'ReturntoDocTrue':showBackBtn}"
						ng-click="saveBtnClick(false)" ng-disabled="LifeEngageProduct.Declaration.confirmSignature">
						<span translate="btnSave" ng-show="id =='mainInsuredSubTab'"></span>
						<span translate="btnSave" ng-show="id =='PolicyHolderSubTab'"></span>
						<span translate="btnSave" ng-show="id =='AdditionalInsuredSubTab0'"></span>
						<span translate="btnSave" ng-show="id =='AdditionalInsuredSubTab1'"></span>
						<span translate="btnSave" ng-show="id =='AdditionalInsuredSubTab2'"></span>
						<span translate="btnSave" ng-show="id =='AdditionalInsuredSubTab3'"></span>
						<span translate="btnSave" ng-show="id =='MainInsuredQuestionnaire'"></span>
						<span translate="btnSave" ng-show="id =='PolicyHolderQuestionnaire'"></span>
						<span translate="btnSave" ng-show="id =='AdditionalInsured1Questionnaire'"></span>
						<span translate="btnSave" ng-show="id =='AdditionalInsured2Questionnaire'"></span>
						<span translate="btnSave" ng-show="id =='AdditionalInsured3Questionnaire'"></span>
						<span translate="btnSave" ng-show="id =='AdditionalInsured4Questionnaire'"></span>
					</button>
				</div>
-->
				<!-- payment module button start -->
 				<div class="span12" ng-class="{true:'etrDivClass', false:''}[etrGenerationSelected==true]" ng-show="id == 'Payment' || id == 'step2Payment' || id =='step3Payment'">
					<button ng-show="id == 'Payment'" class="btn btn-primary btn-block pointer payproceedButton" id="paymentButtonDisable" ng-class="{'ReturntoDocTrue':showBackBtn}"
						ng-click="step2ScreenLoad()"  ng-disabled="false" translate="eapp.paymentProceed">
					</button>
				
					<button ng-show="(!proceedpaymentbtn && id == 'step2Payment' && !proceedstep3  && !etrGenerationSelected)" class="btn btnBorderCustom highlight btn-block pointer" id="paymentButtonDisable" ng-class="{'ReturntoDocTrue':showBackBtn}"
						ng-click="step1ScreenLoad()"  ng-disabled="false" translate="eapp.paymentBackbtn">
					</button>

					<button ng-show="id == 'step2Payment' && (proceedstep3 || splitOptionSelected) && etrGenerationSelected" class="btn btnBorderCustom highlight btn-block pointer paymentButtonETRBckClass" id="paymentButtonETRBck" ng-class="{'ReturntoDocTrue':showBackBtn}"
						ng-click="step1ScreenLoad()"  ng-disabled="false" translate="eapp.paymentBackbtn">
					</button>
					
					<button ng-show="proceedpaymentbtn && id == 'step2Payment' && !proceedstep3  && !etrGenerationSelected" class="btn btn-primary btn-block pointer" id="paymentButtonDisable" ng-class="{'ReturntoDocTrue':showBackBtn}"
						ng-click="splitTwoScreenLoad()"  ng-disabled="false" translate="eapp.paymentProceed">
					</button>
					
					<button ng-show="(!proceedpaymentbtn && id == 'step2Payment' && proceedstep3 && !etrGenerationSelected)" class="btn btn-primary btn-block pointer" id="ProceedPaymentSummaryButton" ng-class="{'ReturntoDocTrue':showBackBtn}"
						ng-click="step3ScreenLoad()"  ng-disabled="false" translate="eapp.paymentProceed">
					</button>

					<button ng-show="id == 'step2Payment' && proceedstep3 && etrGenerationSelected" class="btn btn-primary btn-block pointer proceedPaymentETRButtonClass" id="ProceedPaymentETRButtonForStep3" ng-class="{'ReturntoDocTrue':showBackBtn}"
						ng-click="step3ScreenLoad()"  ng-disabled="false" translate="eapp.paymentProceed">
					</button>
					<button ng-show="id == 'step2Payment'  && !proceedstep3 && etrGenerationSelected" class="btn btn-primary btn-block pointer proceedPaymentETRButtonClass" id="ProceedPaymentETRButtonForSplitTwo" ng-class="{'ReturntoDocTrue':showBackBtn}"
						ng-click="splitTwoScreenLoad()"  ng-disabled="false" translate="eapp.paymentProceed">
					</button>
					
					<button ng-show="id == 'step3Payment'" class="btn btn-primary btn-block pointer" id="paymentButtonDisable" ng-class="{'ReturntoDocTrue':showBackBtn}"
						ng-click="redirectDocupload()"  ng-disabled="false" translate="eapp.proceedDocUpload">
					</button>
					
				</div>	
				<!-- payment module button end -->
					
					
						
<!--						
					<button ng-show="id == 'step2Payment' && !proceedstep3" class="btn btn-primary btn-block pointer" id="agentSummaryButton" ng-class="{'ReturntoDocTrue':showBackBtn}"
						ng-click="initailPaintView(5,1,'Payment',true,'tabsinner16','')"  ng-disabled="false" translate="eapp.paymentBackbtn">
					</button>

					<button ng-show="id == 'step2Payment' && proceedstep3" class="btn btn-primary btn-block pointer" id="agentSummaryButton" ng-class="{'ReturntoDocTrue':showBackBtn}"
						ng-click="initailPaintView(5,3,'step3Payment',true,'tabsinner19','')"  ng-disabled="false" translate="eapp.paymentProceed">
					</button>
					
					<button ng-show="id == 'step3Payment'" class="btn btn-primary btn-block pointer" id="agentSummaryButton" ng-class="{'ReturntoDocTrue':showBackBtn}"
						ng-click="initailPaintView(6,0,'DocumentUpload',true,'tabsinner18','')"  ng-disabled="false" translate="eapp.proceedDocUpload">
					</button>
				</div> -->
				<div class="span12" ng-class="{'span12' : !tabview &&  id !=='BeneficiarySubTab' &&  id !=='ProductDetails' &&  id !='QuestionnaireSummarySubTab' && id !=='SPAJsummary' && id !=='stepOnePayment' &&  id !=='DocumentUpload' && id !== 'DeclarationAndAuthorizationTab' && id != 'Declaration', 'span12' : !(!tabview &&  id !=='BeneficiarySubTab' &&  id !=='ProductDetails' &&  id !='QuestionnaireSummarySubTab' && id !=='SPAJsummary' && id !=='stepOnePayment' &&  id !=='DocumentUpload' && id !== 'DeclarationAndAuthorizationTab' && id != 'Declaration')}">
						<!--payment btn start-->	
					<button ng-show="id!='Payment' && id!='step2Payment' && id!='step3Payment' && !tabview &&  id !=='BeneficiarySubTab' &&  id !=='DocumentUpload' && id !== 'DeclarationAndAuthorizationTab' && id != 'Declaration'" class="btn btn-primary btn-block pointer" id="saveProposalButton" ng-class="{'ReturntoDocTrue':showBackBtn}"
						ng-click="saveProposal(false,id)"  ng-disabled="LifeEngageProduct.Declaration.confirmSignature || disableProceedButtonCommom">
						<span translate="eapp_vt.proceedButton" ng-show="id =='mainInsuredSubTab'"></span>
						<span translate="eapp_vt.proceedButton" ng-show="id =='PolicyHolderSubTab'"></span>
						<span translate="eapp_vt.proceedButton" ng-show="id =='AdditionalInsuredSubTab0'"></span>
						<span translate="eapp_vt.proceedButton" ng-show="id =='AdditionalInsuredSubTab1'"></span>
						<span translate="eapp_vt.proceedButton" ng-show="id =='AdditionalInsuredSubTab2'"></span>
						<span translate="eapp_vt.proceedButton" ng-show="id =='AdditionalInsuredSubTab3'"></span>
						<!--<span translate="eapp_vt.proceedButton" ng-show="id =='BeneficiarySubTab'"></span>-->
						<span translate="eapp_vt.proceedButton" ng-show="id =='financilaDetailsSubTab'"></span>
						<span translate="eapp_vt.proceedButton" ng-show="id =='ProductDetails'"></span>
						<span translate="eapp_vt.proceedButton" ng-show="id =='eappshortquestionnaire'"></span>
						<span translate="eapp_vt.proceedButton" ng-show="id =='MainInsuredQuestionnaire'"></span>
						<span translate="eapp_vt.proceedButton" ng-show="id =='eAppFatcaQuestionnaireJson'"></span>
						<span translate="eapp_vt.proceedButton" ng-show="id =='PolicyHolderQuestionnaire'"></span>
						<span translate="eapp_vt.proceedButton" ng-show="id =='AdditionalInsured1Questionnaire'"></span>
						<span translate="eapp_vt.proceedButton" ng-show="id =='AdditionalInsured2Questionnaire'"></span>
						<span translate="eapp_vt.proceedButton" ng-show="id =='AdditionalInsured3Questionnaire'"></span>
						<span translate="eapp_vt.proceedButton" ng-show="id =='AdditionalInsured4Questionnaire'"></span>
						<span translate="eapp_vt.proceedButton" ng-show="id =='SPAJsummary'"></span>
						<span translate="eapp_vt.proceedButton" ng-show="id =='QuestionnaireSummarySubTab'"></span>
						<span translate="eapp_vt.proceedButton" ng-show="id =='DocumentUpload'"></span>
					</button>
				
					<!--payment btn end-->
					
					<button ng-show="!tabview && id == 'Declaration'" class="btn btn-primary btn-block pointer" id="agentSummaryButton" ng-class="{'ReturntoDocTrue':showBackBtn}"
						ng-click="saveProposal(false,id)"  ng-disabled="false" translate="eapp_vt.proceedButton">
					</button>
					<button ng-show="!tabview && id == 'DeclarationAndAuthorizationTab'&& !showProceed" class="btn btn-primary Declaration-btn btn-block  pointer" id="summaryConfirmButton" ng-class="{'ReturntoDocTrue':showBackBtn}"
						ng-click="saveProposal(false,id)" translate="eapp_vt.saveProposalButton" ng-disabled="false">
						Save Proposal</button>
					<button ng-show="!tabview && id == 'DeclarationAndAuthorizationTab' && showProceed" class="btn btn-primary Declaration-btn btn-block pointer" id="summaryProceedButton" ng-class="{'ReturntoDocTrue':showBackBtn}"
						ng-click="saveProposal(false,id)" translate="eapp_vt.proceedButton" 
						ng-disabled= "false">
						Proceed</button>


						<button ng-show="!tabview && id == 'BeneficiarySubTab'" class="btn btn-primary btn-block pointer beneficiary-save" id="beneficiaryProceedButton" ng-class="{'ReturntoDocTrue':showBackBtn}"
						ng-click="saveProposal(false,id)" translate="eapp_vt.proceedButton" 
						ng-disabled="disableProceedButtonCommom">
						Proceed</button>


						
					 <button ng-show="!tabview && id == 'DocumentUpload'" id="submitBtn-DocUpload" class="btn btn-primary btn-block uppercase pointer beneficiary-save" type="button" ng-click="confirmSubmitDocuments()" translate="submit"> </button> 
					<!--<button ng-show="!tabview && id == 'DocumentUpload'" class="btn btn-primary btn-block uppercase pointer" type="button" ng-click="submitDocuments()" translate="submit">
						translate="saveProposalButtonText"
					</button> -->
				</div>
				</div> 
			</div>
			
		</div>
	</div>
	
	
<div id="page_loader1"  ng-show="startupPopupDoc" >
	<div  class="modal hide fade auto-height animated fadeInDownBig"  ng-class="{'in':startupPopupDoc}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-header"> 
			  <span class="modal-header-title pull-left" translate= "lms.syncingData"></span>
			 <button type="button" class="close doc-close" data-dismiss="modal" aria-hidden="true" ng-show="isSycnCloseEnabled" ng-click="hideSyncPopup()">&times;</button>
			
	  </div>
	  <div class="modal-body text-center">
			<div class="spacing"></div>
			<p><span ng-bind="syncMessage"> </span> </p>
			<div class="spacing"></div>
	   
	  </div>
	  
	</div>
</div>
	
	
	<!-- THE MODAL POPUP  -->
	<div  class=" general-overlay-container dvDeleteConfirm ng-hide" ng-show="dvDeleteConfirm" ng-class="{'center_pop_up':dvDeleteConfirm}">
		<p class="del_ben_header">
			<span translate="delete">Delete</span> <span
				translate="[[deleteHeader]]" /> <span class="close_ben "
				ng-click="dvDeleteConfirm = !dvDeleteConfirm"></span>
		</p>
		<p class="del_ben_warning_text">
			<span translate="deleteWarningText"></span> <span translate="[[deleteHeader]]" />?
		</p>
		<div class="row-fluid">
			<div class="span12">
				<div class="btn_wrapper clearfix center">
					<button id="delete_benef" type="button"
						class="blue_gen_btn_save_delete pull-right"
						ng-click="this.deleteRow()" translate="deleteConfirmButtonText">
						</button>
					<button id="cancel_benef" type="button"
						class="blue_gen_btn_save_delete pull-right"
						ng-click="this.cancel()" translate="cancelButtonText">
						</button>
				</div>
			</div>
		</div>
	</div>


      
	<!--Pop Up Window-->	
   <!-- THE MODAL POPUP  -->
	<div  class=" general-overlay-container dvDeclarationPopup" ng-show="dvDeclarationPopup" ng-class="{'center_pop_up':dvDeclarationPopup}">
		<p class="del_ben_header">
			<span translate="fna.alert"></span>  <span class="close_ben "
				ng-click="dvDeclarationPopup = !dvDeclarationPopup"></span>
		</p>
		<p class="del_ben_warning_text">
			<span translate="[[dvDeclarationPopupMsg]]"></span>
		</p>
		<div class="row-fluid">
			<div class="span12">
				<div class="btn_wrapper clearfix center">
					<button id="cancel_benef" type="button"
						class="blue_gen_btn_save_delete"
						ng-click="this.cancel()" translate="fna.ok">
						l</button>
				</div>
			</div>
		</div>
	</div>
	<!-- THE MODAL POPUP-->
   
	<!-- THE MODAL POPUP FOR UPLOAD -->
	<div class="general-overlay-container dvUploadPopUp ng-hide" ng-show="dvUploadPopUp" ng-class="{'center_pop_up':dvUploadPopUp}">
		<p class="del_ben_header"><span translate="uploadDocumentsButton"></span>
			 <span class="close_ben"
				ng-click="this.uploadComplete()"></span>
		</p>
		<div class="row-fluid">
			<div class="span12">
				<div class="pop_up_upload_btn_img_outer_cont">
					<div class="scrollable_content_cont clearfix" ng-style="{ 'width' : 182 * DocumentPages.length + 95+'px' }">
						<ul class="upload_cont_element_list">

							<li ng-repeat="page in DocumentPages">
								<div class="single_upload_btn_cont">
									<span class="remove_attachment_icon" ng:click="deletePage($index)" id="remove_attachment_icon[[$index]]"></span>
									<!-- <span ng-bind="page.fileName"></span> -->
									<div class="upload_pop_up_camera_btn"
										ng-show="showUploadButton">
<!-- 										<img src="css/main-theme/img/icon-camera.png"
											id="{{page.id}}MobCapture"
											ng:click="captureFile($index,true,false)" /> -->

									</div>
									<div class="upload_pop_up_browse_btn"
										ng-hide="showUploadButton">
										<div ng-show="isSafariCheck()">
              						  <object id="file-object"></object>
										<div id="file-result"></div>
										</div>
										<div ng-hide="isSafariCheck()">
										<span class="upload_pop_up_browse_btn_label"
											translate="browse"  >Browse</span> <input id="file[[$index]]" type=file
											class="upload_pop_up_browse_btn_hidden" isimage="false" 
											filelist-bind name="files1" ng:model="files1"
											ng:click="setPageIndex($index)">browse </input>
											</div>
									</div>
									<div class="attachment_thumbnail_container">
										<div class="upload_pop_up_attachment_icon">

											<img alt="" ng-src="data:image/jpeg;base64,[[page.base64string]]"
												class="dummy_attachment_icon" ng:click="viewFile($index)" />
										</div>
										<span ng-bind="page.fileName" class="attachment_filename"
											title="[[page.fileName]]"></span>
									</div>
								</div></li>
						</ul>
						<div class="pop_up_upload_btn_cont">
							<button class="upload_content_btn" id="upload_content_btn" ng:click="addPage()"></button>
						</div>

					</div>

				</div>


			</div>
		</div>
	</div> 
	<!-- THE MODAL POPUP FOR UPLOAD-->
	<div class="general-modal-overlay ng-hide" ng-show="dvDeleteConfirm || dvUploadPopUp || dvDeclarationPopup"></div>
</div>
