
    
<div>
	<H3><span translate="eapp_vt.GaoDocsView" class="gaoDocsView"></span></H3>
	
	
	<div  class="img-zoom-container" style="width:75%;height:550px;background-color:#c32a24;float:left">
	<image id="myimage" ng-src="[[selectedDoc]]"></image>
	</div>
	<div style="width:25%;height:550px;background-color:#c32a24;float:left;overflow-y: auto">
	<div ng-repeat="doc in docs track by $index">
	<div>
	<!-- <span><label>[[doc.imgName]]</label></span> -->
	<image ng-src="[[doc.base64]]" ng-click="showPreview($index)"></image>
	</div>
	</div>
	</div>
</div>
