<div>
	<div id="memo" class="customtab" st-table ="memoList" st-safe-src="memoList">
	<div class="container illustration-listing-page  table-height-fix">
		<div>
			<div>
				<button id="backToEappListing" class="btn btn-default highlight btn-block btnBorderCustom span3"  ng-click="proceedtoEappListing()" >
					<span class="filter_txt" translate="eapp.backToEappListing"></span>
				</button>
				<button id="goToDocUpload" class="btn btn-default highlight btn-block btnBorderCustom span3" ng-click="proceedToDocUpload()" >
					<span class="filter_txt" translate="eapp.goToDocUpload"></span>
				</button>
			</div>
			<div>
				<button id="mailmemo" class="btn btn-default btn-medium highlight_txt"  ng-click="proceedToMail()">
				  <img src="css/generali-theme/img/icon/Email.png" > 
				  <span translate="general.sendEmail" class="ng-scope highlight_txt">Email</span>
				</button>
                
				<button id="printmemo" class="btn btn-default btn-medium highlight_txt" ng-click="proceedToPrint()">
				  <img src="css/generali-theme/img/icon/Printer.png" > 
				  <span translate="general.print" class="ng-scope highlight_txt">Print</span>
				</button>
			</div> 
		</div>
    
        <div class="container-fluid">
            <div class="memo-header-static">
                <div class="span12 two-column">	
                    <div class="control-label span4">
						<span translate="eapp.applicationNumber"></span>
						<b><span ng-bind="applicationNumber" class="spacingnum"></span></b>
					</div>
					<div class="control-label span4">						
						<span translate="eapp.insuredFullName"></span>
						<b><span ng-bind="insuredName" class="spacingnum"></span></b>
					</div>
				</div>
				 
                 
			</div>
        </div>

		  <!-- TABLE AREA -->
		<div class="row-fluid">
		  <div class="span12">
			<div class="white-box">
			  <div class="box_a_content no_sp">
				<div class="table_filter">
				  <div class="constrained">
					<table fixed-header class="table table-striped table-sorter cursor_pointer" id="" infinite-scroll="increaseLimit()" infinite-scroll-container='".constrained"'>
				      <thead class="illustration_fixed_header" >
					    <tr>
						  <!-- <th st-ratio="1"> </th> -->
						
						  <th st-ratio="6">
                           <div class="pos-relative tbl-blk">
							 <span class="tblhead" translate="eapp.memoDate"></span>  
						   </div>
                          </th>		
						  
						  <th st-ratio="9">
                           <div class="pos-relative tbl-blk">
							 <span class="tblhead" translate="eapp.memoCode"></span>
                           </div>
                          </th>
						  
						  <th st-ratio="9">
                            <div class="pos-relative tbl-blk">
							  <span class="tblhead break-by-word" translate="eapp.memoDescription"></span>
                            </div>
                          </th>
						  
						  <th st-ratio="9">
                            <div class="pos-relative tbl-blk">
							  <span class="tblhead break-by-word" translate="eapp.memoReason"></span>
                            </div>
                          </th>
						  
						  <th st-ratio="9">
                           <span class="tblhead " translate="eapp.uploadDate"></span>                          
                          </th>
						  
						  <th st-ratio="9">
                           <span class="tblhead " translate="eapp.statusHeaderText"></span>                          
                          </th>
                        </tr>
					  </thead> 
					  <div class="illustrationListing-table">&nbsp;</div>
					  <tbody>
					    <tr ng-repeat="i in memoList" fixed-header count="$index" ng-class-odd="'row_odd'" ng-class-even="'row_even'">
                       <!--  <td st-ratio="1" align="center">
                          <div class="icheckbox" ng-class="{'checked':selectedProposal.indexOf(i) > -1}">
                            <input type="checkbox" rel=[[i.Key6]]  class=""  value=[[i.Key6]]  ng-checked="selectedProposal.indexOf(i) > -1" ng-click="toggleSelection(i)" />
                          </div>
                        </td> -->
						 
						<td st-ratio="6">
						   <div gli-date-calc value="i.MemoDate" dateformat="appDateFormat" ng-click=""/>     
                        </td>
						
						<td st-ratio="9" class="table_wrap_text">
                          <span class="tblhead">[[i.MemoCode]]</span>
                        </td>
						
						<td st-ratio="9"  class="table_wrap_text">
                           <span class="tblhead">[[i.MemoDesc]]</span>
                        </td>
						
						<td st-ratio="9"  class="table_wrap_text">
                           <span class="tblhead" >[[i.MemoReason]]</span>
                        </td>
						
						<td st-ratio="9">
                          <div gli-date-calc value="i.SubmissionDate" dateformat="appDateFormat" />     
                        </td>	
						
						<td st-ratio="9">
						 <span translate="[[i.MemoStatus]]"></span> 
                        </td>		
						</tr>
					  </tbody>
				   </table>
                </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <!-- TABLE AREA ENDS -->
	</div> 
	</div>
	<!--Email PopUp -->
	<div class="popup_setpref_container_previous general-overlay-container ill_popup_container" ng-class="{'center_pop_up':emailpopup}" ng-show="emailpopup">
        <div class="email-header" style="padding:10px 10px">
          <span class="text ng-scope" translate="sendEmailPopupHeader">Mailing Details</span>
          <i id="close_email_popup" class="fa fa-close" ng-click="cancelEmailPopup()"></i>
        </div>
        <div style="padding:20px 20px">
          <div class="row-fluid">
            <div class="span12">
              <span class="span2" translate="general.mailto">To</span>
              <input type="text"  class="span10" id="to_name" name="toName" ng-model="emailToId">
            </div>
            <div class="span12">
              <span class="offset2 span10 ill-email-error-msg" ng-bind="emailToError"></span>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span12">
              <span class="span2" translate="general.mailcc">Cc</span>
              <input type="text"  class="span10"  id="cc_name" name="ccName" ng-model="emailCcId">
            </div>
            <div class="span12">
              <span class="offset2 span10 ill-email-error-msg" ng-bind="emailCcError"></span>
            </div>
          </div>
		  <div class="row-fluid">
			<div class="span12">
				<span class="span2 textExpand" translate="general.mailSubject">SUBJECT</span>
                <textarea rows="3" cols="20" class="span10" id="sub" ng-model="emailSubject" readonly name="subject" pull-right></textarea>
			</div>
			<div class="span12">
              <span class="offset2 span10 ill-email-error-msg" ng-bind="emailSubjectError"></span>
            </div>
          </div>
          <div class="email-send-btnblock">
            <button id="emailcancelButton" class="btn  cancel-btn" translate="illustrator.cancelMessage" ng-click="cancelEmailPopup()">Cancel</button>
            <button id="emailokButton" class="btn  btn-primary" ng-click="emailSendClick()" translate="general.send">Send</button>
          </div>
        </div>
      </div>
      <div class="general-modal-overlay ng-scope" ng-show="emailpopup"></div>
      <!--Email Popup Ends -->
	  <lepopup control="lePopupCtrl"/>
</div>