<div class="container_tlr_fluid">

	<div>
		<div class="row-fluid hide_in_tab">
			<div class="span12">
				<div class="span12 pull-left grad_bg clearfix"></div>
			</div>
		</div>
		<div class="row-fluid" ng-hide="thankyou">

			<div class="span12">
				<div class="custom_blue_title">
					<span translate="paymentDetails"> </span>

				</div>
			</div>

			<div class="row-fluid" ng-hide="thankyou">
			
			
				<div class="span12">
					<div class="summary_action_btn">
						<span class="dwld_img"></span>
						<button class="action_btn"
							id="download_application_payment"
							ng-click="downloadApplicationPDF()" translate="paymentDownload"></button>
					</div>

				</div>
			
			</div>
			<!-- SELECT PAYMENT METHOD AND PROCEED -->
			<div class="row-fluid" ng-hide="thankyou">
				<div class="span12">
					<p class="verify_policy_details" translate="paymentPageDetails"></p>
				</div>
			</div>
			<!-- SELECT PAYMENT METHOD AND PROCEED ENDS-->

			<div class="row-fluid" ng-hide="thankyou">
				<div class="span12">
					<div class="span6">
						<p class="policy_prem_detls"
							translate="paymentPremiumDetails"></p>
						<!-- <p class="policy_prem_detls show_in_tab"
							translate="paymentPremiumDetailsTab"></p> -->
						<div class="pay_detl_inner">
							<!-- BASE PREMIUM -->
							<div
								class="control-group form-horizontal line_height_adjustmnt clearfix">
								<label class="payment_label"><span
									translate="paymentBasePremium"></span> </label>
								<div class="controls pay_amt_detls">
									<span class="summary_insrd_title" translate="rs"></span><span
										ng-bind="LifeEngageProduct.Product.ProductDetails.sumAssured"></span>
								</div>
							</div>
							<!-- BASE PREMIUM ENDS-->

							<!-- INDIVIDUAL RIDER PREMIUM -->
							<div
								class="control-group form-horizontal line_height_adjustmnt clearfix">
								<label class="payment_label"> <span
									translate="paymentIndividualPremium"></span>
								</label>
								<div class="controls pay_amt_detls"></div>
							</div>

							<div ng-repeat="rider in LifeEngageProduct.Product.RiderDetails"
								class="control-group form-horizontal line_height_adjustmnt clearfix">
								<label class="payment_label"> [[rider.riderName]] :</label>
								<div class="controls pay_amt_detls">
									<span class="summary_insrd_title" translate="rs"></span><span
										ng-bind="rider.riderSumAssured">0000</span>
								</div>
							</div>
							<!-- INDIVIDUAL RIDER PREMIUM ENDS-->

							<!-- TOTAL RIDER PREMIUM -->
							<div
								class="control-group form-horizontal line_height_adjustmnt clearfix">
								<label class="payment_label"><span
									translate="paymentTotalRiderPremium"></span> </label>
								<div class="controls pay_amt_detls">
									<span class="summary_insrd_title" translate="rs"></span><span
										ng-bind="totalRiderPremium">0000</span>
								</div>
							</div>
							<!-- TOTAL RIDER PREMIUM ENDS-->

							<!-- SERVICE TAX  -->
							<div
								class="control-group form-horizontal line_height_adjustmnt clearfix">
								<label class="payment_label"><span
									translate="paymentServiceTax"></span> </label>
								<div class="controls pay_amt_detls">
									<span class="summary_insrd_title" translate="rs"></span><span>
										0000</span>
								</div>
							</div>
							<!-- SERVICE TAX ENDS-->

							<hr />

							<!-- TOTAL PREMIUM -->
							<div
								class="control-group form-horizontal line_height_adjustmnt clearfix">
								<label class="payment_label"> <span
									class="total_premium_bold" translate="paymentTotalPremium"></span>
									<span translate="paymentRiderService"></span>
								</label>
								<div class="controls pay_amt_detls">
									<span class="summary_insrd_title" translate="rs"></span><span
										ng-bind="totalPremium">0000</span>
								</div>
							</div>
							<!-- TOTAL PREMIUM ENDS-->

							<hr />

						</div>
					</div>
					<div class="span6">
						<p class="policy_prem_detls" translate="paymentMethod"></p>
						<div class="row-fluid ">
							<div class="sel_pay_method clearfix">
								<p class="credit_debt clearfix hide_in_tab">
									<span class="img_holder dark_green"></span> <span
										class="payment_mode" translate="paymentCredit"></span>
								</p>

								<p class="online_pay clearfix hide_in_tab">
									<span class="img_holder dark_blue"></span> <span
										class="payment_mode" translate="paymentOnline"></span>
								</p>
								<div class="online_detls_holder clearfix">
									<div class="row-fluid">
										<div class="span12">

											<div class="pay_detl_inner">

												<!-- PAYMENT TYPE -->
												<div class="control-group form-horizontal">
													<label for="payment_type_sel" class="control-label"><span
														translate="paymentType"></span> <span
														class="mandatory_symbl_red">*</span> :</label>
													<div class="controls">
														<select id="payment_type_sel">
															<option value=""></option>
															<option value="Payment Type A " translate="creditCard"></option>
															<option value="Payment Type B " translate="debitCard">
															</option>
															<option value="Payment Type C "
																translate="internetBanking"></option>
														</select>
													</div>
												</div>
												<!-- PAYMENT TYPE ENDS -->

												<!-- CARD TYPE -->
												<div class="control-group form-horizontal">
													<label for="card_type_sel" class="control-label"><span
														translate="cardType"></span> <span
														class="mandatory_symbl_red">*</span> :</label>
													<div class="controls">
														<select id="card_type_sel">
															<option value=""></option>
															<option value="Card Type A " translate="cardTypeA"></option>
															<option value="Card Type B " translate="cardTypeB"></option>
															<option value="Card Type C " translate="cardTypeC"></option>
														</select>
													</div>
												</div>
												<!-- CARD TYPE ENDS -->

												<!-- CARD NUMBER -->
												<div class="control-group form-horizontal">
													<label class="control-label" for="card_num_sel"><span
														translate="cardNumber"></span> <span
														class="mandatory_symbl_red">*</span> :</label>
													<div class="controls">

														<input type="text" id="card_num_sel"
															placeholder="Card Number" name="creditCard"
															ng-model="ccinfo.number" required data-ng-minlength="15"
															maxlength="19" onkeyup="RemoveSpecialChar(this,this.id)">
													</div>
												</div>
												<!-- CARD NUMBER ENDS-->


												<!-- NAME ON THE CARD -->
												<div class="control-group form-horizontal">
													<label class="control-label" for="name_on_card"><span
														translate="nameOnCard"></span> <span
														class="mandatory_symbl_red">*</span> :</label>
													<div class="controls">
														<input type="text" id="name_on_card"
															placeholder="Name On The Card"
															onkeyup="RemoveSpecialChar(this,this.id)">
													</div>
												</div>
												<!-- NAME ON THE CARD - ENDS-->

												<!-- EXPIRY DATE -->
												<div class="control-group form-horizontal clearfix">
													<label class="control-label" for="expirt_date"><span
														translate="expiryDate"></span> <span
														class="mandatory_symbl_red"> *</span> :</label>
													<div class="controls clearfix">
															<div data-date="12-02-2012" data-date-format="dd-mm-yyyy">
																<input type="date" class="custdatefield unstyled"
																	size="16" value="12-02-2012">

															</div>
													</div>
												</div>
												<!-- EXPIRY DATE - ENDS -->

												<!-- CVV NUMBER -->
												<div class="control-group form-horizontal">
													<label class="control-label" for="cvv_num"><span
														translate="cvvNo"></span> <span
														class="mandatory_symbl_red"> *</span> :</label>
													<div class="controls">
														<input type="text" id="cvv_num" placeholder="CVV Number" onkeyup="RemoveSpecialChar(this,this.id)" />
													</div>
												</div>
												<!-- CVV NUMBER - ENDS-->

												<!-- Verification Image -->
												<div class="control-group form-horizontal clearfix">
													<label class="control-label" for="cvv_num"><span
														translate="verification"></span> <span
														class="mandatory_symbl_red"> *</span> :</label>
													<div class="controls">
														<div class="capt_wrapper">
															<div class="captcha_container">
																<p id="captcha"></p>
															</div>
															<img id="btncaptcha" class="refresh_img"
																src="css/main-theme/img/refresh.png" alt="" />
															<div class="confirmtext" contenteditable="true"></div>
															<button type="button" ng-click="MakePayment()" id="btnpaynow"
																class="captchabtn disabledbtn" disabled="disabled">
																<span translate="payNow"></span>
															</button>
														</div>
													</div>
												</div>
												<!-- Verification Image - ENDS-->

											</div>
										</div>
									</div>
								</div>
								<p class="cash_dd clearfix">
									<span class="img_holder dark_green"></span> <span
										class="payment_mode" translate="cashAdvisor"></span>
								</p>
								<div class="cash_dd_detls_holder clearfix">
									<div class="row-fluid">
										<div class="span12">

											<div class="pay_detl_inner">
												<!-- PAYMENT TYPE -->
												<div class="control-group form-horizontal">
													<label for="payment_type_cash_dd_sel" class="control-label"><span
														translate="paymentType"></span> <span
														class="mandatory_symbl_red"> *</span> :</label>
													<div class="controls">
														<select id="payment_type_cash_dd_sel">
															<option value=""></option>
															<option value="Cash" translate="cash"></option>
															<option value="Cheque" translate="cheque"></option>
														</select>
													</div>
												</div>
												<!-- PAYMENT TYPE ENDS -->

												<!-- PAYMENT AMOUNT -->
												<div class="payment_show_hide">
													<div id="payment_cash">
														<div class="control-group form-horizontal">
															<label class="control-label" for="payment_amount_sel"><span
																translate="amount"></span> <span
																class="mandatory_symbl_red"> *</span> :</label>
															<div class="controls">
																<input type="text" id="payment_amount_sel"
																	placeholder="Payment Amount" ng-model="totalPremium">
															</div>
														</div>
														<!-- PAYMENT AMOUNT ENDS-->

														<!-- RECEIPT NUMBER -->
														<div class="control-group form-horizontal">
															<label class="control-label" for="receipt_number"><span
																translate="receiptNo"></span> <span
																class="mandatory_symbl_red"> *</span> :</label>
															<div class="controls">
																<input type="text" id="receipt_number"
																	placeholder="[[convertertranslate('receiptNo')]]">
															</div>
														</div>
														<div style="text-align: center">
															<button type="button" class="blue_gen_btn_save_delete"
																ng-click="MakePayment()" id="btnMakePayment" style="width: 100px;"
																translate="submit"></button>
														</div>
													</div>
													<!-- RECEIPT NUMBER - ENDS-->

													<!-- CHEQUE	 NUMBER -->
													<div id="payment_cheque">
														<div class="control-group form-horizontal">
															<label class="control-label" for="cheque_number"><span
																translate="chequeNo"></span> <span
																class="mandatory_symbl_red"> *</span> :</label>
															<div class="controls">
																<input type="text" id="cheque_number"
																	placeholder="[[convertertranslate('chequeNo')]]">
															</div>
														</div>
														<!-- CHEQUE NUMBER - ENDS-->

														<!-- BANK NAME -->
														<div class="control-group form-horizontal">
															<label class="control-label" for="bank_name"><span
																translate="bankName"></span> <span
																class="mandatory_symbl_red"> *</span> :</label>
															<div class="controls">
																<input type="text" id="bank_name"
																	placeholder="[[convertertranslate('bankName')]]">
															</div>
														</div>
														<!-- BANK NAME - ENDS-->

														<!-- CUSTOMER NAME -->
														<div class="control-group form-horizontal">
															<label class="control-label" for="customer_name"><span
																translate="customerName"></span> <span
																class="mandatory_symbl_red"> *</span> :</label>
															<div class="controls">
																<input type="text" id="customer_name"
																	placeholder="[[convertertranslate('customerName')]]">
															</div>
														</div>

														<!-- CUSTOMER NAME - ENDS-->

														<!-- EXPIRY DATE -->
														<div class="control-group form-horizontal clearfix">
															<label class="control-label" for="expirt_date"><span
																translate="expiryDate"></span> <span
																class="mandatory_symbl_red"> *</span> :</label>
															<div class="controls clearfix">
																	<div data-date="12-02-2012" data-date-format="dd-mm-yyyy">
																		<input type="date" class="custdatefield unstyled"
																			size="16" value="12-02-2012">

																	</div>
															</div>
														</div>
														<div style="text-align: center">
															<button type="button" id="btnMakePaymentSubmit" class="blue_gen_btn_save_delete"
																ng-click="MakePayment()" style="width: 100px;"
																translate="submit"></button>
														</div>
													</div>
												</div>
												<!-- EXPIRY DATE - ENDS -->


											</div>
										</div>
									</div>
								</div>

							</div>
							<button type="button" ng-click="MakePayment()" ng-disabled="!isRequirementRuleExecuted" id="btnpaynow" class="captchabtn">
								<span translate="payNow"></span>
							</button>
						</div>
					</div>

				</div>
			</div>


		</div>

		<!-- THANK YOU  SECTION -->
		<div class="row-fluid" ng-show="thankyou">
			<div class="span12">
				<div class="span12 pull-left grad_bg clearfix"></div>
			</div>
		</div>
		<div class="row-fluid btm_mrg" ng-show="thankyou">
			<div class="span12">
				<div class="custom_blue_title">
					<span translate="paymentDetails"></span>
				</div>
			</div>

			<div class="row-fluid">
				<div class="span12">
					<div class="summary_action_btn">
						<span class="dwld_img"></span>
						<button class="action_btn " id="download_application_payment"
							ng-click="downloadApplicationPDF()"
							translate="downloadApplication"></button>
					</div>
				</div>
			</div>

			<!-- THANK YOU FOR THE PAYMENT -->

			<div class="row-fluid">
				<div class="span12">
					<p class="thank_you_for_payment" translate="thankYouText"></p>
					<p class="payment_processed" translate="policyEffective"></p>
					<p class="experience_rating" translate="rateExperience"></p>


					<div class="star_rating_experience">
						<input class="star {split:2}" type="radio"
							name="star_experience_rating" value="0.5" /> <input
							class="star {split:2}" type="radio" name="star_experience_rating"
							value="1.0" /> <input class="star {split:2}" type="radio"
							name="star_experience_rating" value="1.5" /> <input
							class="star {split:2}" type="radio" name="star_experience_rating"
							value="2.0" /> <input class="star {split:2}" type="radio"
							name="star_experience_rating" value="2.5" /> <input
							class="star {split:2}" type="radio" name="star_experience_rating"
							value="3.0" /> <input class="star {split:2}" type="radio"
							name="star_experience_rating" value="3.5" checked="checked" /> <input
							class="star {split:2}" type="radio" name="star_experience_rating"
							value="4.0" /> <input class="star {split:2}" type="radio"
							name="star_experience_rating" value="4.5" /> <input
							class="star {split:2}" type="radio" name="star_experience_rating"
							value="5.0" />
					</div>


				</div>
			</div>
			<!-- THANK YOU FOR THE PAYMENT ENDS -->

		</div>
		<!-- THANK YOU  SECTION ENDS-->
	</div>
</div>

