<div class="container">
	<div class="spacing-half hidden-phone"></div>              

	<div class="clearfix leadBtnWrapper" ng-show="isEditMode">
		<button class="btn btn-default pull-left leadBackBtn" id="backBtn" ng-click="List()"><i class="fa fa-angle-left red-text"></i> <span translate="lms.backButton"></span> </button>
		<h1 class="subheading heading_title"><span translate="lms.editclientProfile"></h2>
	</div>
	<div class="clearfix leadBtnWrapper" ng-hide="isEditMode">
		<button class="btn btn-default pull-left leadBackBtn" id="backBtn" ng-click="List()"><i class="fa fa-angle-left btn-lead red-text"></i> <span translate="lms.backButton" style="padding: 10px 16px;"></span> </button>
		<h1 class="subheading heading_title"><span translate="lms.createclientProfile"></h2>
	</div>

	<div class="tabbable [[lmsSectionId]] min-height">
        <ul class="nav nav-tabs horizontalTab"><div class="hasMandatory"><span class="red-text">*</span> <span class="grey-text ng-scope" translate="mandatoryItems">Mandatory Items</span></div>
		
                
                </ul>
		<div id="popupTabs" ng-class="{'true':'tabdesignOverride','false':''}[agentDetail.agentType == 'BranchUser']"></div>
		<div id="popupContent"></div>
	</div>

	<div id="popupMeetingHistory" class="[[lmsSectionId]]" ng-class="{'min-height':!isEditMode}" ></div>
	
<div class="overlay_TC" ng-show="leadDetShowPopUpMsg"></div>	
        
<!-- Overlay for Error Bubble -->
<div class="overlay_TC_ErrorBubble" ng-show="isPopupDisplayed"></div>
        
<div class=" text-center">
	<div id="login_popup_info" class="modal fade cust-modal-med in bg-white" ng-show="leadDetShowPopUpMsg" style="width: 361px;">

	    <div class="modal-header bg-white">
	        <div class="popup_info_img text-center"><img src="css/generali-theme/img/infored.png" width="25"></div>
	    </div>
	    <div class="modal-body">

	        <p class="large text-center">[[enterMandatory]]</p>
	        <div>
	            <button type="button" class="btncls login-popup-close" ng-click="closePopup()"><span translate="lms.popUpClose"></span></button>
	        </div>
	    </div>
    
</div>
</div>

	<lepopup control="lePopupCtrl"/>

</div>   

