<div ng-cloak>

<!-- Content Start
		    ================================================== -->
		    <div class="container" style="width:100%">
				<div class="image-banner push">
					<img src="css/generali-theme/img/banner-demo-02.png" alt="banner-demo" class="fullimage" style="margin-bottom:20px;">
                   <!-- <span class="title-container"><p class="title-style" translate="myClient" ></p></span>-->
					 <!--<div class="icn-wrapper header-style pull-right">
						<img class="pull-right add_red" src="css/generali-theme/img/Add_red.png" ng-click="createLead()"/>
						<img class="pull-right filter_red"  src="css/generali-theme/img/Filter.png" ng-click="toggleFilterSection()"/>
					</div>-->
					
                    
                </div> 
                
			</div>  
			
			<!--<div class="container">				
               
				<div class="tabbable segments">
					
						
                            <ul class="nav nav-tabs">
                                <img class="pull-right add_red" src="css/generali-theme/img/Add_red.png" ng-click="createLead()"/>
                                <li ng-class="{'true':'active','false':''}[toggleListing]" class="">
                                    <a class="btn btn-default btn-large" ng-click="showNormalListingView()">i class="fa fa-reorder"></i-- <span translate="normalListingView"></span> </a>
                                </li>
                                <li ng-class="{'true':'','false':'active'}[toggleListing]">
                                    <a class="btn btn-default btn-large" ng-click="showPriorityListingView()">i class="fa fa-sort-amount-desc"></i-- <span translate="priorityListingView"></span>  </a>
                                </li>
                                <img class="pull-right filter_red"  src="css/generali-theme/img/Filter.png" ng-click="toggleFilterSection()"/>
                            </ul>
				</div> 
			</div>-->
            <div class="container margin-bottom visible-tablet visible-desktop cust" >
				<div class="row-fluid">
					<div class="span3">
						
					<table>
						<tbody><tr><td class="width-full"><a class="btn btn-default btn-large btn-block btn_adv_filter highlight" id="filterBtn" ng-click="toggleFilterSection()" data-toggle="collapse" data-parent="#collapsefilter"><i class="fa fa-filter large"></i> <span translate="filterLead" >Filter</span> <i class="fa fa-caret-up" ng-show="filterOpen"></i><i class="fa fa-caret-down" ng-show="!filterOpen"></i></a></td>
                        						
					</tr></tbody></table>
					</div>
					
					<!-- <div class="span6">
						<table>
							<tbody>
                                <tr>
                                    <td>
                                        <a class="btn btn-default btn-large btn-block no_hover" id="normalListingBtn" ng-class="{'true':'','false':'disabled'}[toggleListing]" ng-click="showNormalListingView()"><img  class="right" src="css/main-theme/img/right.png">
                                            <span translate="normalListingView" class="ng-scope"></span></a></td>
							        <td>
                                        <a class="btn btn-default btn-large btn-block no_hover disabled" id="priorityListingBtn" ng-class="{'true':'disabled','false':''}[toggleListing]" ng-click="showPriorityListingView()">
                                        <img  class="down" src="css/main-theme/img/down.png" >
                                            <span translate="priorityListingView" class="ng-scope"></span></a></td>
						       </tr>
                            </tbody>
                        </table> 						
					</div> -->
					 <div class="span6">
						<table>
							<td><a class="btn btn-default btn-large btn-block no_hover" id="normalListingBtn" ng-class="{'true':'','false':'disabled'}[toggleListing]" ng-click="showNormalListingView()"><i class="fa fa-reorder"></i> <span translate="normalListingView"></span></a></td>
							<td><a class="btn btn-default btn-large btn-block no_hover" id="priorityListingBtn" ng-class="{'true':'disabled','false':''}[toggleListing]"  ng-click="showPriorityListingView()"><i class="fa fa-sort-amount-desc"></i><span translate="priorityListingView"></span></a></td>
						</table> 						
					</div>
					 <div class="span1"></div>
					<div class="span2">
                            <a class="btn btn-primary btn-large btn-block" id="createLeadBtn" ng-click="createLead()"><i class="fa fa-plus"></i> <span translate="addNewLead" class="ng-scope">'+Add New'</span></a>					    
					</div>
					     
				</div>
			</div>
    
           
			
			<!-- FILTER SECTION -->
			<!--<div class="adv-filter " ng-show="filterOpen"> 
				<div class="container">
					<div class="arrow-up"></div>
                  
					<div id="filterSection"></div>	
				</div>
			</div>--> 
            <div class="adv-filter " ng-class="{'show':filterOpen}"> 
				<div class="container">
					<!-- <div class="arrow-up hidden-phone"></div> -->
					<div class="filter-title"><span class="arrow-up"></span> <i2 ng-click="filterOpen=!filterOpen;reset()"></i2></div>
					<div id="filterSection" ></div>	
				</div>
			</div> 
			
			<!-- FILTER SECTION -->
			
<!-- LEAD BUTTON ENDS --> 
	<div class="marg">
    
        <div class="container" st-table="tableLeads" st-safe-src="leads" style="margin-top:20px">
            <div id="leadListingWithTabs"> </div>
               
          </div>
       
    </div>
    
    

<!-- LATEST MODAL POPUP GENERALI THEME -->
<lepopup control="lePopupCtrl"/>
    