.capt_wrapper{
	width:260px;
	height:auto;
	/*border:1px solid #aeaeae;*/	
}
.captcha_container{
	background-color:#ffffff;
	border:1px solid #CCCCCC;
	width:200px;
	height:50px;	  
	float:left;
}
#captcha{
	color: #034F6E;
	font-family: 'Black Ops One', 'Trebuchet MS',Arial,cursive;
	font-size: 30px;
	font-weight: bold;
	height: 25px;
	margin: 14px auto;
	position: relative;
	width: 130px;	
	text-transform:lowercase;
}
.refresh_img{
	float:right;
	cursor:pointer;
	margin-right: 15px;
    margin-top: 9px;
}
.confirmtext{
	border: 1px solid #CCCCCC;
	float: left;
	font-size: 20px;
	height: 30px;
	margin-top: 10px;
	padding-left: 15px;
	width: 200px;
	 line-height: 30px;
}
.captchabtn{
	background-color: #034F6E;
	color: #FFFFFF;
	float: left;
	height: 30px;
	margin-top: 20px;				
	text-align: center;
	width: 100px;
}
.disabledbtn{
	background-color:#f3f3f3 !important;
	color:#6c6c6c !important;
}
@media only screen and (max-width: 1100px) {
	.capt_wrapper{
		width: 100%;
	}
	.captcha_container{
		width:74%;
	}
	.confirmtext{
		width:89%;
	}
}