.jqplot-series-shadowCanvas{
	background-color:#C7ECFF ;
}

.jqplot-table-legend{
       background-color:#C7ECFF ; 
       top: 250px ! important;
}

table.jqplot-table-legend {	
		margin-top: 70px;
	}
.jqplot-table-legend.jqplot-table-legend-label{
	width: 250px;

}
.jqplot-table-legend tbody{
	background-color: #C7ECFF;

}