
/* ADDED CODE FOR NEW HOME PAGE */
.homepage_container {
  background-image: url('../img/gray_pattern_2.png');
  background-repeat: repeat;
  background-position: left top;
  background-color: transparent;
  padding: 0px 15px;
  
}
.home_box_container {
  height: 274px;
  width: 284px;
  margin: 30px 10px 30px 10px;
  background-image: url('../img/box_tablet.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  /* Galaxy tab 10' landscape  mode*/

  /* galaxy tab 10'  , galaxy tab 7'  ,ipad  portrait  mode*/

  /* normal ipad Landscape mode */

  /* iPad  retina landscape */

  /* iPad retina portrait */

}
@media only screen and (min-width: 1025px) {
 .home_box_container {
    margin: 30px 10px 30px 10px;
    width: 275px;
  }
}
@media only screen and (max-width: 1024px) {
 .home_box_container {
    margin: 30px 4px 30px 105px;
    width: 230px;
  }
}
@media only screen and (max-width: 801px) {
   .home_box_container {
    margin: 30px 10px 30px 95px;
  }
}
@media only screen and (max-width: 602px) {
   .home_box_container {
    margin: 30px 5px 30px 0px;
    width: 270px;
  }
}
@media only screen and (max-width: 480px) {
   .home_box_container {
    margin: 30px 5px 30px 0px;
    width: 270px;
  }
}
@media only screen and (max-width: 320px) {
   .home_box_container {
    margin: 30px 5px 30px 0px;
    width: 270px;
}
}

 
.home_box_container .home_box_count {
  display: block;
  color: #044f6e;
  margin-top: 40px;
  text-align: center;
  font-size: 48px;
  line-height: 48px;
}
.home_box_container .home_box_title_content {
  display: block;
  text-align: center;
  margin: 10px 0px;
}
.home_box_container .home_box_title_content .home_box_img {
  vertical-align: top;
}
.home_box_container .home_box_title_content .home_box_title {
  background-image: url('../img/box_title_bg_right.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-color: transparent;
  height: 35px;
  line-height: 35px;
  display: inline-block;
  padding-left: 18px;
  font-weight: bold;
  color: #333333;
  font-size: 14px;
}
.home_box_container .home_box_btm_container {
  width: 212px;
  height: 125px;
  margin: 0px auto;
  background-color: #f5f5f5;
}
.home_box_container .home_box_btm_container .home_box_row {
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 5px 0px 0px 5px;
}
.home_box_container .home_box_btm_container .hdg_divider {
  width: 170px;
  height: 100%;
  display: block;
  float: left;
  margin-right: 2px;
  background-image: url('../img/line-ul.png');
  background-repeat: repeat-x;
  background-position: center center;
  background-color: transparent;
}
.home_box_container .home_box_btm_container .hdg_divider .home_box_hdg {
  display: block;
  width: auto;
  height: 100%;
  float: left;
  color: #044f6e;
  font-weight: bold;
  padding: 0px 10px;
  background-color: #f5f5f5;
}
.home_box_container .home_box_btm_container .home_box_value {
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  float: left;
  width: 26px;
  background-image: url('../img/gray_circle.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  color: #000000;
  font-weight: bold;
}
.home_btn_container {
  height: 126px;
  width: 284px;
  margin: 0px 10px 30px 10px;
  background-image: url('../img/add_tablet.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  cursor:pointer;
  /* Galaxy tab 10' landscape  mode*/

  /* galaxy tab 10'  , galaxy tab 7'  ,ipad  portrait  mode*/

  /* normal ipad Landscape mode */

  /* iPad  retina landscape */

  /* iPad retina portrait */

}

@media only screen and (min-width: 1025px) {
   .home_btn_container {
    margin: 30px 10px 30px 10px;
    width: 275px;
  }
}
@media only screen and (max-width: 1024px) {
   .home_btn_container {
    margin: 30px 4px 30px 0px;
    width: 225px;
  }
}
@media only screen and (max-width: 801px) {
   .home_btn_container {
    width: 175px;
    margin: 0px 5px 30px 5px;
    background-size: 100%,100%;
  }
}
@media only screen and (max-width: 602px) {
   .home_btn_container {
    width: 175px;
    margin: 0px 5px 30px 5px;
    background-size: 100%,100%;
  }
}
@media only screen and (max-width: 480px) {
   .home_btn_container {
    width: 175px;
    margin: 0px 5px 30px 5px;
    background-size: 100%,100%;
  }
}
@media only screen and (max-width: 320px) {
   .home_btn_container {
    width: 175px;
    margin: 0px 5px 30px 5px;
    background-size: 100%,100%;
  }
}

.home_btn_container .home_btn_text {
  text-align: center;
  display: block;
  margin-top: 60px;
  font-size: 15px;
}
.home_btn_container .home_btn_text .home_btn_text_1 {
  display: block;
  color: #999999;
}
.home_btn_container .home_btn_text .home_btn_text_1 .bold_txt {
  font-weight: bold;
  color: #666666;
}
.home_btn_container .home_btn_text .home_btn_text_2 {
  display: block;
  color: #0099cc;
  font-weight: bold;
}
.left_mrg {
  margin-left: 3%;
  /* Galaxy tab 10' landscape  mode*/

  /* galaxy tab 10'  , galaxy tab 7'  ,ipad  portrait  mode*/

  /* normal ipad Landscape mode */

  /* iPad  retina landscape */

  /* iPad retina portrait */

}
@media only screen and (min-width: 1025px) {
   .left_mrg {
    margin-left: 3%;
  }
}
@media only screen and (max-width: 1024px) {
   .left_mrg {
    margin-left: 0%;
  }
}
@media only screen and (max-width: 801px) {
 .left_mrg {
    margin-left: 0%;
  }
}
@media only screen and (max-width: 602px) {
  .left_mrg {
    margin-left: 0%;
  }
}
@media only screen and (max-width: 480px) {
 .left_mrg {
    margin-left: 0%;
  }
}
@media only screen and (max-width: 320px) {
  .left_mrg {
    margin-left: 0%;
  }
}
.no_mrg_left {
  margin-left: 0px !important;
}
.tblt_top_mrg {
  /* Galaxy tab 10' landscape  mode*/

  /* galaxy tab 10'  , galaxy tab 7'  ,ipad  portrait  mode*/

  /* normal ipad Landscape mode */

  /* iPad  retina landscape */

  /* iPad retina portrait */

}
@media only screen and (max-device-width: 1280px) and (max-device-height: 800px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .tblt_top_mrg {
    margin-top: 44px;
  }
}
@media (max-device-width: 800px) and (orientation: portrait) {
  .tblt_top_mrg {
    margin-top: 44px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .tblt_top_mrg {
    margin-top: 44px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .tblt_top_mrg {
    margin-top: 44px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .tblt_top_mrg {
    margin-top: 44px;
  }
}
/* ADDED CODE FOR NEW HOME PAGE */