<div ng-controller="GLI_salesActivityController">

<div id="Conv_Tab1">
        <table class="table table-responsive" id="conversion_table1">
		<thead>
		    <tr class="heading">
               <th translate = "salesActivity.agentNameTeam"></th>
               <th ng-repeat="val in currentColHeaderArrayConversionRatio">[[val]]</th>
			</tr>
	    </thead>
		<tbody>
            <tr>
			   <td translate = "salesActivity.closeCaseRatio"></td>
               <td ng-repeat="val in currentConversionRatioArray"> <div class="boxedValue" ng-repeat="colorCode in val.colorCodes" ng-class="{red : colorCode.closeCaseRatioColor=='red', green : colorCode.closeCaseRatioColor=='green', yellow : colorCode.closeCaseRatioColor=='yellow', grey : colorCode.closeCaseRatioColor=='grey', white : colorCode.closeCaseRatioColor=='white'}">[[val.closeCaseRatio]]</div> </td>
			</tr>
        </tbody>			
        </table>						
</div>

<div id="Conv_Tab2">
    <h2 translate = "salesActivity.conversionRatioPreviousWeek"></h2>
        <table class="table table-responsive" id="conversion_table2">
		<thead>
		    <tr class="heading">
               <th translate = "salesActivity.agentNameTeam"></th>
               <th ng-repeat="val in prevColHeaderArrayConversionRatio">[[val]]</th>
			</tr>
		</thead>
		<tbody>
            <tr>
			   <td translate = "salesActivity.closeCaseRatio"></td>
               <td ng-repeat="val in prevConversionRatioArray"> <div class="boxedValue" ng-repeat="colorCode in val.colorCodes" ng-class="{red : colorCode.closeCaseRatioColor=='red', green : colorCode.closeCaseRatioColor=='green', yellow : colorCode.closeCaseRatioColor=='yellow', grey : colorCode.closeCaseRatioColor=='grey', white : colorCode.closeCaseRatioColor=='white'}">[[val.closeCaseRatio]]</div> </td>
			</tr>
        </tbody>			
        </table>						
</div>
</div>