<div ng-controller="GLI_salesActivityController">

<div id="SA_Tab">
        <table class="table table-responsive" id="salesactivity_table">
		<thead>
		    <tr class="heading">
               <th translate = "salesActivity.agentNameTeam"></th>
               <th ng-repeat="val in colHeaderArrayActivity">[[val]]</th>
            </tr>
        </thead>
        <tbody>	   
            <tr>
			   <td translate = "salesActivity.total"></td>
               <td ng-repeat="val in activityArray"> <div class="boxedValue" ng-repeat="colorCode in val.colorCodes" ng-class="{red : colorCode.totalColor=='red', green : colorCode.totalColor=='green', yellow : colorCode.totalColor=='yellow', grey : colorCode.totalColor=='grey', white : colorCode.totalColor=='white'}">[[val.total]]</div> </td>
		    </tr>
            <tr>
			   <td translate = "salesActivity.call"></td>               
			   <td ng-repeat="val in activityArray"> <div class="boxedValue" ng-repeat="colorCode in val.colorCodes" ng-class="{red : colorCode.callColor=='red', green : colorCode.callColor=='green', yellow : colorCode.callColor=='yellow', grey : colorCode.callColor=='grey', white : colorCode.callColor=='white'}">[[val.call]]</div> </td>
		    </tr>
            <tr>
			   <td translate = "salesActivity.appointment"></td>
			   <td ng-repeat="val in activityArray"> <div class="boxedValue" ng-repeat="colorCode in val.colorCodes" ng-class="{red : colorCode.appointmentColor=='red', green : colorCode.appointmentColor=='green', yellow : colorCode.appointmentColor=='yellow', grey : colorCode.appointmentColor=='grey', white : colorCode.appointmentColor=='white'}">[[val.appointment]]</div> </td>
		    </tr>
			<tr>
			   <td translate = "salesActivity.visiting"></td>
			   <td ng-repeat="val in activityArray"> <div class="boxedValue" ng-repeat="colorCode in val.colorCodes" ng-class="{red : colorCode.visitingColor=='red', green : colorCode.visitingColor=='green', yellow : colorCode.visitingColor=='yellow', grey : colorCode.visitingColor=='grey', white : colorCode.visitingColor=='white'}">[[val.visiting]]</div> </td>
		    </tr>
			<tr>
			  <td> <span translate = "salesActivity.presentation"></span> </br> <span class="greytxt" translate = "salesActivity.completedDraft"></span> </td>
			   <td ng-repeat="val in activityArray"> <div class="boxedValue" ng-repeat="colorCode in val.colorCodes" ng-class="{red : colorCode.presentationColor=='red', green : colorCode.presentationColor=='green', yellow : colorCode.presentationColor=='yellow', grey : colorCode.presentationColor=='grey', white : colorCode.presentationColor=='white'}">[[val.presentation]]</div> </td>
		    </tr>
            <tr>
			   <td translate = "salesActivity.newProspect"></td>
			   <td ng-repeat="val in activityArray"> <div class="boxedValue" ng-repeat="colorCode in val.colorCodes" ng-class="{red : colorCode.newProspectColor=='red', green : colorCode.newProspectColor=='green', yellow : colorCode.newProspectColor=='yellow', grey : colorCode.newProspectColor=='grey', white : colorCode.newProspectColor=='white'}">[[val.newProspect]]</div> </td>
		    </tr>
            <tr>
			   <td> <span translate = "salesActivity.closeCase"></span> </br> <span class="greytxt" translate = "salesActivity.eAppSubmissions"></span> </td>
			   <td ng-repeat="val in activityArray"> <div class="boxedValue" ng-repeat="colorCode in val.colorCodes" ng-class="{red : colorCode.sellingColor=='red', green : colorCode.sellingColor=='green', yellow : colorCode.sellingColor=='yellow', grey : colorCode.sellingColor=='grey', white : colorCode.sellingColor=='white'}">[[val.selling]]</div> </td>
		    </tr>
        </tbody>			
        </table>						
</div>
</div>