
<div ng-controller="GLI_salesActivityController">

<div class="sales_activity">
 
	<div class="outer-box">
	    <h1 class="search_criteria" translate="salesActivity.searchCriteria"></h1>
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="dropdown">
						<label class="fieldlabel" id="timeperiod_lbl" span translate = "salesActivity.timePeriod"></label>		
					    <div class="select-arrow">
			            <select class="form-control ng-pristine ng-valid ng-touched" ng-model="timePeriodSelect" ng-init="getSalesActivityDetailsForTimePeriod(timePeriodSelect)" ng-change = "getSalesActivityDetailsForTimePeriod(timePeriodSelect)" ng-click="checkUserOnline()">
			              <option value="CurrentWeek" translate="salesActivity.currentWeek" class="ng-scope"></option>
			              <option value="PreviousWeek" translate="salesActivity.previousWeek" class="ng-scope"></option>
			              <option value="CurrentMonth" translate="salesActivity.currentMonth" class="ng-scope"></option>
						  <option value="PreviousMonth" translate="salesActivity.previousMonth" class="ng-scope"></option>
						  <option value="LastThreeMonth" translate="salesActivity.last3Months" class="ng-scope"></option>
						  <option value="LastSixMonth" translate="salesActivity.last6Months" class="ng-scope"></option>			  
			            </select>
						</div>
			            <a class="customDropIcon"></a>
			    </div>
			</div>
			<div class="col-md-3 col-sm-6">
		        <div class="dropdown">
					<label class="fieldlabel" id="team_lbl" span translate = "salesActivity.team"></label> 
				    <div class="select-arrow" id="team_id">
		            <select class="form-control ng-pristine ng-valid ng-touched" ng-model="teamSelect" ng-change = "OnSelectEventForTeam(teamSelect)">
					   <option value="All" translate="salesActivity.all" class="ng-scope">All</option>
		               <option ng-repeat = "team in teamArray">[[team.teamName]]</option>
		            </select>
					</div>
		            <a class="customDropIcon"></a>
		        </div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="dropdown">	
					<label class="fieldlabel" id="agentcode_lbl" span translate = "salesActivity.agentCode"></label>		  
				    <div class="select-arrow" id="agentCode_id">
		            <select class="form-control ng-pristine ng-valid ng-touched" ng-model="agentCodeSelect" ng-change = "OnSelectEventForAgentCode(agentCodeSelect)">
					   <option value="All" translate="salesActivity.all" class="ng-scope">All</option>
		               <option ng-repeat = "agentDetails in agentDetailsArray">[[agentDetails.agentCode]]</option>
		            </select>
					</div>
		            <a class="customDropIcon"></a>
		        </div>	
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="dropdown">
					<label class="fieldlabel" id="agentname_lbl" span translate = "salesActivity.agentName"></label>		  
				    <div class="select-arrow" id="agentName_id">
		            <select class="form-control ng-pristine ng-valid ng-touched" ng-model="agentNameSelect" ng-change="OnSelectEventForAgentName(agentNameSelect)">
					   <option value="All" translate="salesActivity.all" class="ng-scope">All</option>
		               <option ng-repeat = "agent in agentDetailsArray">[[agent.agentName]]</option>
		            </select>
					</div>
		            <a class="customDropIcon"></a>
		        </div>	
			</div>
		</div>

	</div>
	<div class="clearfix"></div>
	<div class="tabs_3" id="SATabs">
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<ul class="nav nav-tab">
					<li class="active"><a data-toggle="tab" ng-click="checkUserOnline()" data-target="#tab1" translate="salesActivity.salesActivity" class="ng-scope"></a></li>
					<li class=""><a data-toggle="tab" ng-click="checkUserOnline()" data-target="#tab2" translate="salesActivity.scoring" class="ng-scope"></a></li>
					<li class=""><a data-toggle="tab" ng-click="checkUserOnline()" data-target="#tab3" translate="salesActivity.conversionRatio" class="ng-scope"></a></li>
				</ul>
			</div>
			<div class="col-md-6  col-sm-6 pull-right">
					<div class="indicator">
						<div class="missed"><p></p><span translate = "salesActivity.missed"></span></div>
						<div class="average"><p></p><span translate = "salesActivity.average"></span></div>
						<div class="met"><p></p><span translate = "salesActivity.met"></span></div>
					</div>
			</div>
		</div>
		<div class="clearfix"></div>
		
		<div class="tabbable"> 
				<div class="tab-content">
					<!-- Tab 1 -->
					<div class="tab-pane active" id="tab1">
					    <h1 class="search_criteria" translate = "salesActivity.salesActivityNumbers"></h1>
					    <div ng-include="'modules/salesactivity/partials/salesActivityTab_Table.html'"></div>
					</div>
					
					<!-- Tab 2 -->
					<div class="tab-pane" id="tab2">	 
                        <h1 class="search_criteria" translate = "salesActivity.salesActivityScoring"></h1>						
                        <ul class="nav nav-tab scoring_percent">
			                <li class="active"><a data-toggle="tab" ng-click="checkUserOnline()" data-target="#tab4" class="ng-scope" translate = "salesActivity.points"></a></li>
			                <li class=""><a data-toggle="tab" ng-click="checkUserOnline()" data-target="#tab5" class="ng-scope" translate = "salesActivity.percent"></a></li>
		                </ul>
		                <div class="clearfix"></div>
		                <div class="tab-content">
					        <div class="tab-pane active" id="tab4">
								<div ng-include="'modules/salesactivity/partials/scoringTab_Points_Table.html'"></div>
						    </div>							
							<div class="tab-pane" id="tab5">
					            <div ng-include="'modules/salesactivity/partials/scoringTab_Percent_Table.html'"></div>
						    </div>							
						</div>						
					</div>
					
					<!-- Tab 3 -->
					<div class="tab-pane" id="tab3">
					    <h1 class="search_criteria" translate = "salesActivity.conversionRatio"></h1>
					    <div ng-if="timePeriodSelect == 'PreviousMonth' || timePeriodSelect == 'PreviousWeek' || timePeriodSelect == 'LastThreeMonth' || timePeriodSelect == 'LastSixMonth'" ng-include="'modules/salesactivity/partials/conversionRatioTab_Table_Others.html'"></div>
						
					    <div ng-if="timePeriodSelect == 'CurrentWeek'" ng-include="'modules/salesactivity/partials/conversionRatioTab_Table_CurrentWeek.html'"></div>
						
						<div ng-if="timePeriodSelect == 'CurrentMonth'" ng-include="'modules/salesactivity/partials/conversionRatioTab_Table_CurrentMonth.html'"></div>
				    </div>
				</div>
		</div>
	</div>

<!-- Offline error message -->
    <div class=" text-center">
    <div id="login_popup_info" class="modal fade cust-modal-med in bg-white" ng-show="OfflineshowPopUpMsg">
        <div class="modal-header bg-white">
            <div class="popup_info_img text-center"><img src="css/generali-theme/img/infored.png" width="25"></div>
        </div>
        <div class="modal-body">
            <p class="large text-center">[[offlineErrorMsg]]</p>
            <div>
               <button type="button" class="btncls login-popup-close" ng-click="closePopup()" translate = "salesActivity.popUpClose"></button>
            </div>
        </div>    
    </div>
    </div>

</div>
</div>




