<!-- SCRIPT TO BE LOADED ON TOP  -->
<!-- SCRIPT TO BE LOADED ON TOP ENDS -->
<!-- SINGLE HANDLE SLIDER -->
<!-- <div id="HeaderDetails">
	
</div> -->
<!--<<div ng-include="'modules/illustrator/partials/NavigationTab.html'" ng-controller="GLI_NavigationTabController">
	
</div>-->
<style>
input[name=otp] {
          height: 45px;
          width: 45px;
          font-size: 25px;
          text-align: center;
          border: 1px solid #000000;
		  /* float:right; */
      }
      input[name=otp]::-webkit-inner-spin-button,
      input[name=otp]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
</style>

<div class="row-fluid ">
<form id="consent" name="consent" novalidate>
<div>
	<!-- <div class="tablet_potrait_container illustration_summary margin-top20"> -->

		<!-- <div class="box_heading">
		
        </div> -->
		<h4 class="product_heading consentPage-Header" translate="consentVerification"></h4>
		<div class="span12">
		<div class="row-fluid consentPage-Wrapper">
			<div class="span6">
			<div class="row-fluid">
			<div class="control-group form-horizontal consentPage-leftBox">
				<div>
					<label class="control-label span5" for="consent_name">
						<span translate="consentName"></span> 
						<span class="mandatory_symbl_red">*</span>
						: 
					</label>
                </div>
				<div class="controls span7" style="margin-left:0px;">
                    <input type="text" name="name" id="name" ng-model="name" placeholder="ชื่อ-นามสกุล" required style="width:80%"
                    ng-pattern="surnameRegex" ng-minlength="3" maxlength="30" blur="onBlur()" ng-trim="false" required>
                    <div class="[[consent.name.$error.required]]Required [[consent.name.$error.dynamic]]Dynamic"  ng-attr-error-msg="[[consent.name.$error.required === true ?'consentnameMsg' :consent.name.$error.message]]"   errorKey="name" />
                    <div class="[[consent.name.$error.minlength]]Dynamic" ng-attr-error-msg="[[consent.name.$error.minlength === true ?'MinimumLengthNameMsg' :consent.name.$error.message]]" errorKey="name" />
                    <div class="[[consent.name.$error.maxlength]]Dynamic" ng-attr-error-msg="[[consent.name.$error.maxlength === true ?'MaximumLengthNameMsg' :consent.name.$error.message]]" errorKey="name" />
                    <div class="[[consent.name.$error.dynamic]]Dynamic [[consent.name.$error.pattern]]Pattern" ng-attr-error-msg="[[consent.name.$error.pattern === true ?'consentnameValidationMsg' :consent.name.$error.message]]" errorKey="name" />
                </div>
			</div>
			</div>	
			</div>
			<div class="span6">
			<div class="row-fluid">
			<div class="control-group form-horizontal consentPage-leftBox">
				<div>
					<label class="control-label span5" for="customer_name">
						<span translate="consentSurname"></span> 
						<span class="mandatory_symbl_red">*</span>
						: 
					</label>
                </div>
				<div class="controls span7" style="margin-left:0px;">
                    <input type="text" name="surname" id="surname" ng-model="surname" placeholder="ชื่อ-นามสกุล" required style="width:80%"
                    ng-pattern="surnameRegex" ng-minlength="3" maxlength="30" blur="onBlur()" ng-trim="false" required>
                    <div class="[[consent.surname.$error.required]]Required [[consent.surname.$error.dynamic]]Dynamic"  ng-attr-error-msg="[[consent.surname.$error.required === true ?'surnameMsg' :consent.surname.$error.message]]"   errorKey="surname" />
                    <div class="[[consent.surname.$error.minlength]]Dynamic" ng-attr-error-msg="[[consent.surname.$error.minlength === true ?'MinimumLengthMsg' :consent.surname.$error.message]]" errorKey="surname" />
                    <div class="[[consent.surname.$error.maxlength]]Dynamic" ng-attr-error-msg="[[consent.surname.$error.maxlength === true ?'MaximumLengthMsg' :consent.surname.$error.message]]" errorKey="surname" />
                    <div class="[[consent.surname.$error.dynamic]]Dynamic [[consent.surname.$error.pattern]]Pattern" ng-attr-error-msg="[[consent.surname.$error.pattern === true ?'surnameValidationMsg' :consent.surname.$error.message]]" errorKey="surname" />
                </div>
			</div>
			</div>
			</div>
			<div class="span6">
			<div class="row-fluid">
			<div class="control-group form-horizontal consentPage-leftBox">
				<div>
					<label class="control-label span5" for="bank_name" style="width: 188px;right: 30px;">
						<span translate="consentMobileNumber"></span> 
						<span class="mandatory_symbl_red"> *</span> 
						: 
					</label>
				</div>
				<div class="controls span7" style="margin-left:0px;">
                    <input type="text" id="MobileNumber" name="MobileNumber"  ng-model="MobileNumber" placeholder="เบอร์โทรศัพท์" required style="width:80%"
                    ng-pattern="mobileNumberRegex" numbers-only  maxlength="10" blur="onBlur()" ng-trim="false" required>
                    <div class="[[consent.MobileNumber.$error.required]]Required [[consent.MobileNumber.$error.dynamic]]Dynamic"  ng-attr-error-msg="[[consent.MobileNumber.$error.required === true ?'MobileNumberMsg' :consent.MobileNumber.$error.message]]"   errorKey="MobileNumber" />
                    <div class="[[consent.MobileNumber.$error.dynamic]]Dynamic [[consent.MobileNumber.$error.pattern]]Pattern" ng-attr-error-msg="[[consent.MobileNumber.$error.pattern === true ?'mobValidationMsg' :consent.MobileNumber.$error.message]]" errorKey="MobileNumber" />
				</div>
			</div>
			</div>
			</div>	
		</div>
		</div>

		<div class="row-fluid consentPage-Wrapper">
			<div class="col-xs-12 col-sm-12">
				<div class="col-xs-5 col-sm-7">
					<div class="illustration_summary_savebtn">
						<button class="btn btn-primary btn-block uppercase span4 right" name="sendOtp" id="savebutn" ng-click="requestOTP()" ng-disabled="errorCount > 0 || showResendBtn || otpValidated" style="margin-top: 10px; float: right !important;">
							<span translate="sendOTP"></span>
						</button>
					</div>	
				</div>
				<div class="col-xs-1 col-sm-1"></div>
				<div class="col-xs-5 col-sm-3 consentPage-resentOTP" ng-show="thaiLanguage">
					กรุณารอ 5-10 นาที เพื่อรับ OTP <br />
					หากท่านไม่ได้รับ OTP ภายในเวลาที่ <br />
					กำหนด กรุณาคลิ๊ก 
					<a href=""   ng-class="{'disabled':!showResendBtn }" ng-click="resendOtp()" ng-disabled="!showResendBtn"> ที่นี่  </a> เพื่อส่งซ้ำ
				</div>
				<div class="col-xs-5 col-sm-3 consentPage-resentOTP" ng-show="engLanguage">
					Please wait 5-10 Minutes for OTP, if <br />
					you haven’t received OTP within such <br />
					time, please click
					<a href=""   ng-class="{'disabled':!showResendBtn }" ng-click="resendOtp()" ng-disabled="!showResendBtn"> here </a> for resending
				</div>
			</div>
		</div>
		
		<div class="row-fluid ">
			<div class="span12 splitpaySinglebtn">
				<h4 style="text-align:center" translate="fillOTP"></h4>
			</div>
		</div>
		
		<div class="row-fluid ">
			<div class="col-xs-12 col-sm-12">
				<div class="col-xs-1 col-sm-4"></div>
				<div class="col-xs-6 col-sm-4 otpConsentTextBox">
					<input id="codeBox1" name="otp" type="text" numbers-only ng-model="otp1" ng-disabled="otpValidated" ng-change="otpAppend()" maxlength="1" onkeyup="onKeyUpEvent(1, event)" onfocus="onFocusEvent(1)" style="width:25px" />
					<input id="codeBox2" name="otp" type="text" numbers-only ng-model="otp2" ng-disabled="otpValidated" ng-change="otpAppend()" maxlength="1" onkeyup="onKeyUpEvent(2, event)" onfocus="onFocusEvent(2)" style="width:25px" />
					<input id="codeBox3" name="otp" type="text" numbers-only ng-model="otp3" ng-disabled="otpValidated" ng-change="otpAppend()" maxlength="1" onkeyup="onKeyUpEvent(3, event)" onfocus="onFocusEvent(3)" style="width:25px" />
					<input id="codeBox4" name="otp" type="text" numbers-only ng-model="otp4" ng-disabled="otpValidated" ng-change="otpAppend()" maxlength="1" onkeyup="onKeyUpEvent(4, event)" onfocus="onFocusEvent(4)" style="width:25px" />
					<input id="codeBox5" name="otp" type="text" numbers-only ng-model="otp5" ng-disabled="otpValidated" ng-change="otpAppend()" maxlength="1" onkeyup="onKeyUpEvent(5, event)" onfocus="onFocusEvent(5)" style="width:25px" />
					<input id="codeBox6" name="otp" type="text" numbers-only ng-model="otp6" ng-disabled="otpValidated" ng-change="otpAppend()" maxlength="1" onkeyup="onKeyUpEvent(6, event)" onfocus="onFocusEvent(6)" style="width:25px" />
				</div>
				<div class="col-xs-4 col-sm-4">
                    <button class="btn btn-primary btn-block uppercase span4 right" name="validateOTP" id="savebutn" ng-click="validateOtp()" ng-disabled="!validateOtpBtn || otpValidated" style="margin-top: 10px; float: left !important;">
                        <span translate="ValidateOTP"></span>
                    </button>
				</div>
			</div>
        </div>
        
		
		<div class="row-fluid ">
			<div class="col-xs-12 col-sm-12">
				<div class="col-xs-1 col-sm-1 chkbox">
					<div class="icheckbox pull-left" ng-class="{true: 'checked', false: ''}[ consentCheckBox == 'Yes']" ng-disabled="">
                        <input type="checkbox" class="ng-pristine ng-untouched ng-invalid ng-invalid-required" name="consentCheckBox" id="consentCheckBox" ng-true-value="'Yes'" ng-false-value="'No'" ng-model="consentCheckBox" ng-click="onBlur()" ng-required="true" ng-disabled="" select-check-box ng-checked  required="required">
                        <!-- <div ng-show="otpValidated" class="[[consent.consentCheckBox.$error.required]]Required [[consent.consentCheckBox.$error.dynamic]]Dynamic"  ng-attr-error-msg="[[consent.consentCheckBox.$error.required === true ?'consentCheckBoxMsg' :consent.consentCheckBox.$error.message]]"   errorKey="consentCheckBox" /> -->
					</div>
				</div>
				<div class="col-xs-10 col-sm-11"  ng-show="thaiLanguage">
					<label for="factaPart2Confirmation" class="checkbox_lbl eAppFatcaAckText">
						<span>ข้าพเจ้ายินยอมให้เจนเนอราลี่ (ทั้งบริษัทประกันชีวิต และบริษัทประกันภัย) ทำการเก็บรวบรวม ใช้และเปิดเผยข้อมูลส่วนบุคคลของข้าพเจ้า เพื่อการเสนอขายผลิตภัณฑ์ประกันภัย การแจ้งข้อมูลข่าวสารและโฆษณา การวิเคราะห์ข้อมูล รวมถึงการให้บริการอื่นใดของบริษัท<a href="" class="red-text" ng-click="consentNetworkLink()"> <u>โปรดศึกษาความยินยอมเพิ่มเติมที่นี่</u></a></span>
						<!-- <span class="red-text" ng-show="true"> *</span> -->
					</label>
				</div>
				<div class="col-xs-10 col-sm-11"  ng-show="engLanguage">
					<label for="factaPart2Confirmation" class="checkbox_lbl eAppFatcaAckText">
						<span>I hereby consent Generali (both Generali Life Assurance and Generali Insurance) to collect, use and disclose my personal information for insurance offering, sending news and advertisement, data analytic and any services.<a href="" class="red-text" ng-click="consentNetworkLink()"> <u>Please click here for more information</u></a></span>
						<!-- <span class="red-text" ng-show="true"> *</span> -->
					</label>
				</div>
			</div>
		</div>	
		
		<div class="row-fluid consentPage-Wrapper">
			<div class="col-xs-12 col-sm-12" >
				<div class="col-xs-4 col-sm-4"></div>
				<div class="col-xs-8 col-sm-8">
					<div class="illustration_summary_savebtn" style="float: left;">
						<button class="btn btn-primary btn-block uppercase span4 submitConsent" id="savebutn" ng-click="submitFullSIS()" ng-disabled="!otpValidated" >
							<span translate="consentSubmit"></span>
						</button>
					</div>	
				</div>
			</div>
		</div>
	<!-- </div> -->
</div>
</form>
</div>

<!--UI validation popup-->
<div class="overlay_TC" ng-show="overlayTC"></div>
<div class="alert-box-holder" ng-show="true" ng-class="{'active':inFocus}">
    <div class="alert-box warning0 pull-left" ng-class="{'warning':errorCount > 0}">
        <div ng-click="showErrorPopup('consent',$event)">
            <span class="number" id="errorPopup" ng-show="errorCount > 0">[[errorCount]]</span>
            <a class="error-status">
              </a>
        </div>
        <div class="pop-up" ng-show="isPopupDisplayed && errorCount > 0">
            <div class="pop-up-container">
                 <div class="info_img"><img src="css/generali-theme/img/infored.png" class="text-center" width="25"></div>
                <!--<p><span translate="lms.pleaseEnter"></span> </p>-->
                <ol>
                    <li ng:repeat="errorMessage in errorMessages">
                        <a href='' ng-click="focusErrorField(errorMessage.key)" id="err-key-[[errorMessage.key]]">[[errorMessage.message]]</a>
                    </li>
                </ol>
            </div>
            <div class="rb-arrow">
                <img src="css/generali-theme/img/icon/alert-box-rb-arrow.png" alt="alert-box-rb-arrow" width="35" height="36">
            </div>
        </div>
    </div>
</div>
<!-- overlay popup container  starts-->
<div class="overlay_pop" style="width:100%" ng-show="overlayTC"></div>

<!-- overlay container  starts-->
<div class="common_custom_model_overlay" ng-show="showTerms" ng-click="showTerms = !showTerms"></div>
<!-- overlay container ends -->

<!-- LOGIN SCREEN -->
<lepopup control="lePopupCtrl" />

<!-- Overlay for Error Bubble -->
<div class="overlay_TC_ErrorBubble" ng-show="isPopupDisplayed"></div>

