<div class="container selft-tools-container">
	<div class="tabbable tabbable-bordered row-fluid">
		<div class="tab-content span12">
			<div id="staticTabIllustration" class="tab-pane1" ng-class="{'active':subTab=='staticIllustrationTab'}"> 
				<div class="tabbable"> 
					<div class="tab-content">
						<div class="tab-pane active" id="tabform"> 
                            <div class="staticTabIllustration" ng-click="accordions($event)" translate="illustrator.basicBenefitsProvision"></div>
                            <div class="formsPanelIllustration">
								<table class="benefitIllus" cellspacing="0" cellpadding="1" border="1">
									<tr ng-repeat="basicBenefitLists in basicBenefitList" >
										<td>
											<a ng-click="openPdfFAQ(basicBenefitLists.value)" translate = illustrator.[[basicBenefitLists.name]]>
												<span ng-bind="basicBenefitLists.name"></span>
											</a>
										</td>
									</tr>	
								</table>
                            </div>
							
					        <div class="staticTabIllustration" ng-click="accordions($event)" translate="illustrator.riderBenefitsProvision"></div>
				            <div class="formsPanelIllustration">
								<table class="benefitIllus" cellspacing="0" cellpadding="1" border="1">
									<tr ng-repeat="riderBenefitLists in riderBenefitList">
										<td>
											<a ng-click="openPdfFAQ(riderBenefitLists.value)" translate = illustrator.[[riderBenefitLists.name]]>
												<span ng-bind="riderBenefitLists.name"></span>
											</a>
										</td>
									</tr>	
								</table>
                            </div>
						</div>	 <!-- Forms Ends -->
					</div>
				</div>
			</div> <!-- SelfTools Ends -->
		</div>
	</div>
</div>

	

