<div class="parent-graph hidden-phone">
	<!-- <div class ="genBumnanHeading"  translate="illustrator.genCompleteHealth80"></div> -->
	<div class="amountPanel">
		<div class="sum_Insured_Heading">
			<span class = "heading_SIGraph" translate="illustrator.sumInsured_graph"></span>
			<label class="sum_Insured text-center" ng-bind="Illustration.IllustrationOutput.sumAssuredField"></label>
			<span class="heading_B" translate="illustrator.textB"></span>
		</div>
		<div class="basic_Premium">
			<span class = "heading_SIGraph" translate="illustrator.totalPremium_graph"></span>
			<span class = "heading_SIGraph basic_Premium_Dot" ng-bind="Illustration.IllustrationOutput.PremiumFrequency"></span>
			<label class="sum_Insured text-center" ng-bind="Illustration.IllustrationOutput.premiumModeField"></label>
			<span class="heading_B" translate="illustrator.textB"></span>
		</div>
		<div class="rider_Premium">
			<span class = "heading_SIGraph" translate="illustrator.packagePlan"></span>
			<label class="sum_Insured text-center" ng-bind="Illustration.IllustrationOutput.packageNameField"></label>
		</div>
	</div>
			
			<div class="row">
				<div class="col-md-9 col-md-offset-2 col-sm-9 col-sm-offset-2 box_BGcolor" >
					<div class="col-md-1 col-sm-1 padding_empty text-center"><img class="img-responsive" src="css\generali-theme\img\white_ok.png"></div>
					<div class="col-md-8 col-sm-8 padding_empty label_Color" translate="illustrator.criticalIllnessText"></div>
					<div class="col-md-3 col-sm-3 text-center padding_empty">
						<div class="value_Box2 margin_empty" ng-bind="Illustration.IllustrationOutput.CISumAssuredCover"></div>
					</div>
				</div>
				
				<div ng-if="Illustration.IllustrationOutput.HBRider.isRequired=='Yes'">
					<div class="col-md-9 col-md-offset-2 col-sm-9 col-sm-offset-2 box_BGcolor" >
						<div class="col-md-1 col-sm-1 padding_empty text-center"><img class="img-responsive" src="css\generali-theme\img\white_ok.png"></div>
						<div class="col-md-8 col-sm-8 padding_empty label_Color" translate="illustrator.hospitalBenefitText"></div>
						<div class="col-md-3 col-sm-3 text-center padding_empty">
							<div class="value_Box2 margin_empty" ng-bind="Illustration.IllustrationOutput.HBSumAssuredCover"></div>
						</div>
					</div>
				</div>
				
				<div class="col-md-9 col-md-offset-2 col-sm-9 col-sm-offset-2 box_BGcolor" >
					<div class="col-md-1 col-sm-1 padding_empty text-center"><img class="img-responsive" src="css\generali-theme\img\white_ok.png"></div>
					<div class="col-md-8 col-sm-8 padding_empty label_Color" translate="illustrator.hospitalSurgicalText"></div>
					<div class="col-md-3 col-sm-3 text-center padding_empty">
						<div class="value_Box2 margin_empty" ng-bind="Illustration.IllustrationOutput.HSSumAssuredCover"></div>
					</div>
				</div>
				<div class="col-md-9 col-md-offset-2 col-sm-9 col-sm-offset-2 box_BGcolor" >
					<div class="col-md-1 col-sm-1 padding_empty text-center"><img class="img-responsive" src="css\generali-theme\img\white_ok.png"></div>
					<div class="col-md-8 col-sm-8 padding_empty label_Color" translate="illustrator.accidentText"></div>
					<div class="col-md-3 col-sm-3 text-center padding_empty">
						<div class="value_Box2 margin_empty" ng-bind="Illustration.IllustrationOutput.ADDSumAssuredCover"></div>
					</div>
				</div>
				<div ng-if="Illustration.IllustrationOutput.OPDRiders.isRequired=='Yes'">
					<div class="col-md-9 col-md-offset-2 col-sm-9 col-sm-offset-2 box_BGcolor" >
						<div class="col-md-1 col-sm-1 padding_empty text-center"><img class="img-responsive" src="css\generali-theme\img\white_ok.png"></div>
						<div class="col-md-8 col-sm-8 padding_empty label_Color" translate="illustrator.opdSummaryText"></div>
						<div class="col-md-3 col-sm-3 text-center padding_empty">
							<div class="value_Box2 margin_empty" ng-bind="Illustration.IllustrationOutput.OPDSumAssuredCover"></div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row lifeProtection_Box" >
				<div class="col-md-9 col-md-offset-2 col-sm-9 col-sm-offset-2 padding_empty">
						<div class="col-md-3 col-sm-3 padding_empty"><img class="img-responsive" src="css\generali-theme\img\arrow_left.png" width="300" height="15"></div>
						<div class="col-md-6 col-sm-6 padding_empty">
							<div class="col-md-3 col-sm-3 padding_empty text-center">
							<img class="img-responsive" src="css\generali-theme\img\red_ok.png">
							</div>
							<div class="col-md-9 col-sm-9 padding_empty lifeProtection_Label"><span translate="illustrator.lifeProtection"></span></div>
						</div>
						<div class="col-md-3 col-sm-3 text-center padding_empty">
							<img class="img-responsive" src="css\generali-theme\img\arrow_right.png" width="300" height="15">
						</div>
				</div>
			</div>
			
			<div class="row lifeProtection_Box" >
					<div class="col-md-2 col-sm-2 death_Benefit_Label">
						<Strong translate="illustrator.deathBenefitLabel"></Strong>
					</div>
					<div class="col-md-9 col-sm-9 padding_empty value_Box3" >
						<div class="value_Box3_IN text-center" ng-bind="Illustration.IllustrationOutput.sumAssuredField">
						</div>
					</div>
			</div>
			
			<div class="row end_Policy ">
				<div class="col-md-2 col-sm-2 death_Benefit_Label">
					<Strong translate="illustrator.endOfPolicy"></Strong>
				</div>
				<div class="col-md-9 col-sm-9 padding_empty ageImage_genComplete">
					<img class="img-responsive imageWidth" src="css\generali-theme\img\genComplete_Age.png">
				</div>
			</div>
			
			<div class="row">
					<div class="col-md-2 col-sm-2 insured_Age_Text">
						<div class="insured_Age_Label">
							<Strong translate="illustrator.insuredAge"></Strong>
						</div>
					</div>
					<div class="col-md-10 col-sm-10 text-right">
						<div class="col-md-2 col-sm-2 padding_empty">
							<div class="circle insured_age" ng-bind="Illustration.IllustrationOutput.insuredAgeField"></div>
						</div>
						<div class="col-md-10 col-sm-10">
							<div class="font_size livingBenefit_Lbl" translate="illustrator.livingBenefitLabel_80"></div>
							<span class="sa_result"><strong translate="illustrator.sa100Percent"></strong></span><span class="livingBenefit_SA" ng-bind="Illustration.IllustrationOutput.sumAssuredField"></span>
							
						</div>
					</div>	
				</div>
							<div class="row tlb_Box" >
								<div class="col-md-6 col-sm-6 text-right" translate="illustrator.totalLivingBenefit100">
								</div>
								<div class="col-md-6 col-sm-6">
									<div class="row">
										<div class="col-md-3 col-sm-3" translate="illustrator.amountLabel">  
										</div>
										<div class="col-md-4 col-sm-4 text-center padding_empty">
											<div class="value_Box2" ng-bind="Illustration.IllustrationOutput.sumAssuredField"></div>
										</div>
										<div class="co-md-2 col-sm-2" translate="illustrator.bahtLabel">
										</div>
									</div>
								</div>
							</div>
							<div class="row text-right sum_Label"translate="illustrator.sumInsuredFooter"></div>
</div>
<div class="parent-graph hidden-desktop">
	<div class="op_img_wrapper">
		<div class="relative_img_wrapper">
			<img src="css\generali-theme\img\thailand\GenCompleteHealth80.jpg" class="img1 img-responsive" style="margin-left: 0%;" />
			<div ng-bind="Illustration.IllustrationOutput.sumAssuredField" class="genCompleteHealth80_ImageTextWrapping1"></div>
			<div ng-bind="Illustration.IllustrationOutput.PremiumFrequency" class="genCompleteHealth80_ImageTextWrapping2"></div>
			<div ng-bind="Illustration.IllustrationOutput.premiumModeField" class="genCompleteHealth80_ImageTextWrapping3"></div>
			<div ng-bind="Illustration.IllustrationOutput.packageNameField" class="genCompleteHealth80_ImageTextWrapping4"></div>
			<div ng-bind="Illustration.IllustrationOutput.CISumAssuredCover" class="genCompleteHealth80_ImageTextWrapping5"></div>
			<div ng-bind="Illustration.IllustrationOutput.HBSumAssuredCover" class="genCompleteHealth80_ImageTextWrapping6"></div>
			<div ng-bind="Illustration.IllustrationOutput.HSSumAssuredCover" class="genCompleteHealth80_ImageTextWrapping7"></div>
			<div ng-bind="Illustration.IllustrationOutput.ADDSumAssuredCover" class="genCompleteHealth80_ImageTextWrapping8"></div>
			<div ng-bind="Illustration.IllustrationOutput.sumAssuredField" class="genCompleteHealth80_ImageTextWrapping9"></div>
			<div ng-bind="Illustration.IllustrationOutput.insuredAgeField" class="genCompleteHealth80_ImageTextWrapping10"></div>
			<div ng-bind="Illustration.IllustrationOutput.sumAssuredField" class="genCompleteHealth80_ImageTextWrapping11"></div>
			<div ng-bind="Illustration.IllustrationOutput.sumAssuredField" class="genCompleteHealth80_ImageTextWrapping12"></div>			
		</div>
	</div>
</div>