<div class="parent-graph hidden-phone">
<!--	<div class ="genBumnanHeading"  translate="illustrator.genbumnan8Header"></div>-->
    <!-- <div class ="genBumnanHeading"  translate="illustrator.GenProLife20graph">GenProLife 20</div> -->
	<div class="amountPanel">
		<div class="sum_Insured_Heading">
			<span class = "heading_SIGraph" translate="illustrator.sumInsured_graph"></span>
			<label class="sum_Insured text-center" ng-bind="Illustration.IllustrationOutput.sumAssuredField"></label>
			<span class="heading_B" translate="illustrator.textB"></span>
		</div>
		<div class="basic_Premium">
			<span class = "heading_SIGraph" translate="illustrator.basicPremium_graph"></span>
			<span class = "heading_SIGraph basic_Premium_Dot" ng-bind="Illustration.IllustrationOutput.PremiumFrequency"></span>
			<label class="sum_Insured text-center" ng-bind="Illustration.IllustrationOutput.basePremiumFinalGraph"></label>
			<span class="heading_B" translate="illustrator.textB"></span>
		</div>
		<div class="rider_Premium">
			<span class = "heading_SIGraph" translate="illustrator.riderPremium_graph"></span>
			<label class="sum_Insured text-center" ng-bind="Illustration.IllustrationOutput.riderPremiumFinal"></label>
			<span class="heading_B" translate="illustrator.textB"></span>
		</div>
	</div>
	<div class="row">
	<div class="col-md-2 col-sm-2 death_Benefit_Label"></div>
	
	<div class="col-md-10 col-sm-10 ageImage_GenBum8_25life padding_empty">
		<div class="col-md-5  col-sm-5 padding_empty wrapper">
			<img class="img-responsive" src="css\generali-theme\img\arrow_left.png" width="400" height="15">
			</div>
			<span class="death_Benefit_Label_proLife25 col-md-2 wrapper col-sm-2 padding_empty">
				<Strong translate="illustrator.deathBenefitLabel_proLife25"></Strong>
			</span>
			<div class="col-md-5 col-sm-5 padding_empty wrapper" >
				<img class="img-responsive" src="css\generali-theme\img\arrow_right.png" width="440" height="15">
			</div>
	</div>
	
		</div>
			<div class="row lifeProtection_Box">
               <div class="col-md-2 col-sm-2 death_Benefit_Label">
                      <Strong translate="illustrator.deathBenefitLabel"></Strong>
                </div>
               <div class="col-md-5 col-sm-5 padding_empty">
                                                                
               <div class="percent">150%*</div>
               <div class=" padding_empty value_Box3" >
                                                                
                <div class="value_Box3_IN value_Box3_IN_1 text-center" ng-bind="Illustration.IllustrationOutput.sumAssured150PerField">
                  </div>
               </div>
             </div>   
      <div class="col-md-4 col-sm-4 padding_empty marginTop_GPL20">
                                                                
     <div class="percent1">100%*</div>
         <div class=" padding_empty value_Box4" >
         <div class="value_Box3_IN value_Box3_IN_2 text-center" ng-bind="Illustration.IllustrationOutput.sumAssuredField">
               </div>
           </div>
            </div>   
                
          </div>

			<div class="row end_Policy1 ">
				<div class="col-md-2 col-sm-2 death_Benefit_Label">
					<Strong translate="illustrator.endOfPolicy"></Strong>
				</div>
				<div class="col-md-10 col-sm-10 padding_empty ageImage_GenBum8">
					<img class="img1 img-responsive imageWidth" src="css\generali-theme\img\GenProLife_20.png">
				</div>
				<div class="endText">
					<Strong translate="illustrator.year_pro20"> (Y) </Strong>
				</div>
			</div>
				<div class="row">
					<div class="col-md-2 col-sm-2 ">
						<div class="insured_Age_Label">
							<Strong translate="illustrator.insuredAge"></Strong>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 padding_empty">
					
						<div class ="row">
							<div class="col-md-6 col-sm-6 padding_empty">
								<div class="circle " ng-bind="Illustration.IllustrationOutput.insuredAge0Field"></div>
								<div class="circle circle2 " ng-bind="Illustration.IllustrationOutput.insuredAge1Field"></div>
						
							</div>
							<div class="col-md-5 col-sm-5 eighthYearAge1">
								<div class="circle circle4" ng-bind="Illustration.IllustrationOutput.insuredAge10Field"></div>
							</div>
						</div>
						<div class ="row text-center">
							<div class="premium_Period_Label1" translate="illustrator.Premium20Years_pro20">Premium Period 20 Years</div>
						</div>
					</div>
				
					<div class="col-md-1 col-sm-1">
					<div class="circle circle3" ng-bind="Illustration.IllustrationOutput.insuredAge20Field"></div>

							
						</div>
						<div class="col-md-2 col-sm-2 padding_empty">
							<div class="age_Box1">
								
								<img class="img1 img-responsive image_20prolife" src="css\generali-theme\img\arrow_dollor_new.png">
									<div>
										<h3 class="per_Year1" style="width:80%" translate="">30%*</h3>
										<div style="font-size: 18px;" translate="illustrator.policyyear21_pro20"> policy year 21</div>
									</div>
								</div>
							</div>
							<div class="col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 ">
							<div class="age_Box2">

								
								<img class="img1 img-responsive" src="css\generali-theme\img\arrow_dollor_new.png" style="    width: 50%;">
									<div style="margin-left: -20%;">
										<h3 class="per_Year1" style="width:80%" translate="">100%*</h3>
										<div style="font-size: 18px;"translate="illustrator.85yearsold_pro20"> 85 years old</div>
									</div>
									
								</div>
							</div>

				</div>
							<div class="row">
								<div class="col-md-2 col-sm-2 " >
									<div class="insured_Age_Label">
										<Strong translate="illustrator.livingBenefitLabel"></Strong>
									</div>
								</div>
								<div class="col-md-4 col-sm-4 ">

								</div>
								<div class="col-md-2 col-sm-2  padding_empty">
									<div class="valueBox_width" style="margin-left: 29%">
										<div class="valueBox_new value_Box1" ng-bind="Illustration.IllustrationOutput.sumAssured30PerField"></div>
										<!-- <div translate="" style="text-align:center" class="font_size">(30% SA)</div> -->
										
									</div>
								</div>
								<div class="col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2 padding_empty">
									<div class="valueBox_width" style="margin-left:20%">
										<div class="valueBox_new value_Box3new"  ng-bind="Illustration.IllustrationOutput.sumAssuredField"></div>
										<!-- <div translate="" style="text-align:center"  class="font_size ">(100% SA)</div> -->
									</div>
								</div>
							</div>
							<div class="row tlb_Box" >
								<div class="col-md-6 col-sm-6 text-right" translate="illustrator.totalLivingBenefit_pro20">Total Living Benefit = 130%*
								</div>
						
								<div class="col-md-6 col-sm-6">
									<div class="row">
										<div class="col-md-3 col-sm-3 text-right" translate="illustrator.amountLabel">  
										</div>
										<div class="col-md-4 col-sm-4 text-center padding_empty">
											<div class="value_Box2" ng-bind="Illustration.IllustrationOutput.sumAssured130PerField"></div>
										</div>
										<div class="co-md-2 col-sm-2" translate="illustrator.bahtLabel">
										</div>
									</div>
								</div>
							</div>
							<div class="row text-right sum_Label"translate="illustrator.sumInsuredFooter"></div>
						</div>
<div class="parent-graph hidden-desktop">
	<div class="op_img_wrapper">
		<div class="relative_img_wrapper">
			<img src="css\generali-theme\img\thailand\GenProLife20.jpg" class="img1 img-responsive" style="margin-left: 0%;" />
			<div ng-bind="Illustration.IllustrationOutput.sumAssuredField" class="genProLife20_ImageTextWrapping1"></div>
			<div ng-bind="Illustration.IllustrationOutput.PremiumFrequency" class="genProLife20_ImageTextWrapping2"></div>
			<div ng-bind="Illustration.IllustrationOutput.basePremiumFinalGraph" class="genProLife20_ImageTextWrapping3"></div>
			<div ng-bind="Illustration.IllustrationOutput.riderPremiumFinal" class="genProLife20_ImageTextWrapping4"></div>
			<div ng-bind="Illustration.IllustrationOutput.sumAssured150PerField" class="genProLife20_ImageTextWrapping5"></div>
			<div ng-bind="Illustration.IllustrationOutput.sumAssuredField" class="genProLife20_ImageTextWrapping6"></div>
			<div ng-bind="Illustration.IllustrationOutput.insuredAge0Field" class="genProLife20_ImageTextWrapping7"></div>
			<div ng-bind="Illustration.IllustrationOutput.insuredAge1Field" class="genProLife20_ImageTextWrapping8"></div>
			<div ng-bind="Illustration.IllustrationOutput.insuredAge10Field" class="genProLife20_ImageTextWrapping9"></div>
			<div ng-bind="Illustration.IllustrationOutput.insuredAge20Field" class="genProLife20_ImageTextWrapping10"></div>
			<div ng-bind="Illustration.IllustrationOutput.sumAssured30PerField" class="genProLife20_ImageTextWrapping11"></div>
			<div ng-bind="Illustration.IllustrationOutput.sumAssuredField" class="genProLife20_ImageTextWrapping12"></div>
			<div ng-bind="Illustration.IllustrationOutput.sumAssured130PerField" class="genProLife20_ImageTextWrapping13"></div>
		</div>
	</div>
</div>