<div class="parent-graph">
	<!-- <div class ="genBumnanHeading"  translate="illustrator.GenProLife25graph">GenProLife 25</div> -->
	<div class="amountPanel">
		<div class="sum_Insured_Heading">
			<span class="heading_SIGraph" translate="illustrator.sumInsured_graph"></span>
			<label class="sum_Insured text-center" ng-bind="Illustration.IllustrationOutput.sumAssuredField"></label>
			<span class="heading_B" translate="illustrator.textB"></span>
		</div>
		<div class="basic_Premium">
			<span class = "heading_SIGraph" translate="illustrator.basicPremium_graph"></span>
			<span class = "heading_SIGraph basic_Premium_Dot" ng-bind="Illustration.IllustrationOutput.PremiumFrequency"></span>
			<label class="sum_Insured text-center" ng-bind="Illustration.IllustrationOutput.basePremiumFinalGraph"></label>
			<span class="heading_B" translate="illustrator.textB"></span>
		</div>
		<div class="rider_Premium">
			<span class = "heading_SIGraph" translate="illustrator.riderPremium_graph"></span>
			<label class="sum_Insured text-center" ng-bind="Illustration.IllustrationOutput.riderPremiumFinal"></label>
			<span class="heading_B" translate="illustrator.textB"></span>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-2 col-sm-2 death_Benefit_Label"></div>
		<div class="col-md-10 col-sm-10 ageImage_GenBum8_25life">
			<div class="col-md-5  col-sm-5 padding_empty wrapper">
				<img class="img-responsive" src="css\generali-theme\img\arrow_left.png" width="400" height="15">
			</div>
			<span class="death_Benefit_Label_proLife25 col-md-2 wrapper col-sm-2 padding_empty">
				<Strong translate="illustrator.deathBenefitLabel_pro25"></Strong>
			</span>
			<div class="col-md-5 col-sm-5 padding_empty wrapper" >
				<img class="img-responsive" src="css\generali-theme\img\arrow_right.png" width="440" height="15">
			</div>
		</div>
	</div>
	
	<div class="row lifeProtection_Box">
		<div class="col-md-2 col-sm-2 death_Benefit_Label">
			<Strong translate="illustrator.deathBenefitLabel"></Strong>
		</div>
		<div class="col-md-10 col-sm-10 ageImage_GenBum8_25life">
			<div class="percentage">100%*</div>
			<div class=" padding_empty value_Box3" >
				<div class="value_Box3_IN value_Box3_IN_1 text-center" ng-bind="Illustration.IllustrationOutput.sumAssuredField"></div>
			</div>
		</div>	
	</div>

	<div class="row end_Policy ">
		<div class="col-md-2 col-sm-2 policy_Label">
			<Strong translate="illustrator.endOfPolicy"></Strong>
		</div>
		<div class="col-md-10 col-sm-10 padding_empty ageImage_GenBum8">
			<img class="img-responsive imageWidthGenProLife25" src="css\generali-theme\img\GenProtection_5.jpg">
		</div>
		<div class="endText25">
			<Strong translate="illustrator.u_pro25"> (U) </Strong>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-2 col-sm-2 ">
			<div class="insured_Age_Label">
				<strong translate="illustrator.insuredAge"></strong>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 padding_empty">
			<div class ="row">
				<div class="col-md-1 col-sm-1">
					<div class="circle" ng-bind="Illustration.IllustrationOutput.insuredAge0Field"></div>
				</div>
				<div class="col-md-1 col-sm-1 pad_Between_Circles12">
					<div class="circle" ng-bind="Illustration.IllustrationOutput.insuredAge5Field"></div>
				</div>
				<div class="col-md-1 col-sm-1 pad_Between_Circles12">
					<div class="circle" ng-bind="Illustration.IllustrationOutput.insuredAge5Field"></div>
				</div>
				<div class="col-md-1 col-sm-1 pad_Between_Circles12">
					<div class="circle" ng-bind="Illustration.IllustrationOutput.insuredAge5Field"></div>
				</div>
				<div class="col-md-1 col-sm-1 pad_Between_Circles12">
					<div class="circle" ng-bind="Illustration.IllustrationOutput.insuredAge5Field"></div>
				</div>
				<div class="col-md-1 col-sm-1 padding_empty pad_Between_Circles1">
					<img class="img-responsive" style="height: 40px; width: 95%; padding-left: 10px;" src="css\generali-theme\img\genProtection5_Text1.jpg">
				</div>
			</div>
			<div class ="row text-center" style="margin-top: 13%;">
				<div class="premium_Period_Label11" translate="illustrator.Premium20Years_protection5">Premium Period 20 Years</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-1">
			<div class="" ng-bind="I"></div>
		</div>
		<div class="col-md-2 col-sm-2 padding_empty">
			<div class="age_Box1">
				<div>
					<h3 class="per_Year1" style="width:80%" translate=""></h3>
					<div style="font-size: 18px;"></div>
				</div>
			</div>
		</div>
		<div class="col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 ">
			<div class="age_Box2">
				<img class="img1 img-responsive" src="css\generali-theme\img\arrow_dollor_new.png" style="    width: 50%;">
				<div style="margin-left: -20%;">
					<h3 class="per_Year1" style="width:80%" translate="">100%*</h3>
					<div style="font-size: 18px;"translate="illustrator.85yearsold_pro20"> 85 years old</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-2 col-sm-2 " >
			<div class="insured_Age_Label">
				<Strong translate="illustrator.livingBenefitLabel"></Strong>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 "></div>
		<div class="col-md-2 col-sm-2  padding_empty">
			<div class="valueBox_width" style="margin-left: 29%">
				<div class="value_Box1" ng-bind=""></div>
				<!-- <div translate="" style="text-align:center" class="font_size">(30% SA)</div> -->
			</div>
		</div>
		<div class="col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2 padding_empty">
			<div class="valueBox_width" style="margin-left:20%">
				<div class="valueBox_new value_Box3new"  ng-bind="Illustration.IllustrationOutput.sumAssuredField"></div>
				<!-- <div translate="" style="text-align:center"  class="font_size ">(100% SA)</div> -->
			</div>
		</div>
	</div>
							
	<div class="row tlb_Box" >
		<div class="col-md-6 col-sm-6 text-right" translate="illustrator.totalLivingBenefit_protection5">Total Living Benefit = 100%*</div>
		<div class="col-md-6 col-sm-6">
			<div class="row">
				<div class="col-md-3 col-sm-3 text-right" translate="illustrator.amountLabel">  
				</div>
				<div class="col-md-4 col-sm-4 text-center padding_empty">
					<div class="value_Box2" ng-bind="Illustration.IllustrationOutput.sumAssured130PerField"></div>
				</div>
				<div class="co-md-2 col-sm-2" translate="illustrator.bahtLabel">
				</div>
			</div>
		</div>
	</div>
	<div class="row text-right sum_Label"translate="illustrator.sumInsuredFooter"></div>
	
</div>