<div class="parent-graph scroll_none hidden-phone">
	<!-- <div class ="genBumnanHeading"  translate="illustrator.GenProLife25graph">GenProLife 25</div> -->
	<div class="amountPanel">
		<div class="sum_Insured_Heading">
			<span class = "heading_SIGraph" translate="illustrator.sumInsured_graph"></span>
			<label class="sum_Insured text-center" ng-bind="Illustration.IllustrationOutput.sumAssuredField"></label>
			<span class="heading_B" translate="illustrator.textB"></span>
		</div>
		<div class="basic_Premium">
			<span class = "heading_SIGraph" translate="illustrator.basicPremium_graph"></span>
			<span class = "heading_SIGraph basic_Premium_Dot" ng-bind="Illustration.IllustrationOutput.PremiumFrequency"></span>
			<label class="sum_Insured text-center" ng-bind="Illustration.IllustrationOutput.basePremiumFinalGraph"></label>
			<span class="heading_B" translate="illustrator.textB"></span>
		</div>
		<div class="rider_Premium">
			<span class = "heading_SIGraph" translate="illustrator.riderPremium_graph"></span>
			<label class="sum_Insured text-center" ng-bind="Illustration.IllustrationOutput.riderPremiumFinal"></label>
			<span class="heading_B" translate="illustrator.textB"></span>
			
		</div>
	</div>
	<div class="row">
	<div class="col-md-2 col-sm-2 death_Benefit_Label"></div>
	
	<div class="col-md-10 col-sm-10 ageImage_GenBum8_25life">
		<div class="col-md-5  col-sm-5 padding_empty wrapper">
			<img class="img-responsive" src="css\generali-theme\img\arrow_left.png" width="400" height="15">
			</div>
			<span class="death_Benefit_Label_proLife25 col-md-2 wrapper col-sm-2 padding_empty">
				<Strong translate="illustrator.deathBenefitLabel_pro25"></Strong>
			</span>
			<div class="col-md-5 col-sm-5 padding_empty wrapper" >
				<img class="img-responsive" src="css\generali-theme\img\arrow_right.png" width="440" height="15">
			</div>
	</div>
	
		</div>
			<div class="row lifeProtection_Box">
			
				<div class="col-md-2 col-sm-2 death_Benefit_Label">
					<Strong translate="illustrator.deathBenefitLabel"></Strong>
				</div>
				<div class="col-md-10 col-sm-10 ageImage_GenBum8_25life">
				
				<div class="percentage">100%*</div>
				<div class=" padding_empty value_Box3" >
				
						<div class="value_Box3_IN value_Box3_IN_1 text-center" ng-bind="Illustration.IllustrationOutput.sumAssuredField">
						</div>
					</div>
				</div>	
			</div>

			<div class="row end_Policy ">
				<div class="col-md-2 col-sm-2 policy_Label">
					<Strong translate="illustrator.endOfPolicy"></Strong>
				</div>
				<div class="col-md-10 col-sm-10 padding_empty ageImage_GenBum8">
					<img class="img-responsive imageWidthGenProLife25" src="css\generali-theme\img\GenProLife_25.png">
				</div>
				<div class="endText25">
					<Strong translate="illustrator.u_pro25"> (U) </Strong>
				</div>
			</div>
				<div class="row">
					<div class="col-md-2 col-sm-2 ">
						<div class="insured_Age_Label">
							<Strong translate="illustrator.insuredAge"></Strong>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class ="row">
						
							<div class="col-md-1 col-sm-1 padding_empty">
								<div class="circle" ng-bind="Illustration.IllustrationOutput.insuredAge0Field"></div>
							</div>
							<div class="col-md-2 col-sm-2 padding_empty">
							<div class="img_Box ">
							<img class="img-responsive image_25prolife" src="css\generali-theme\img\arrow_dollor_new.png">
							<div class="per_Year_Label">
							<h1>0.4%*</h1>
							</div>
							
							</div>
							</div>
							
							<div class="col-md-1 col-sm-1 padding_empty pad_Between_Circles">
								<div class="circle" ng-bind="Illustration.IllustrationOutput.insuredAge5Field"></div>
							</div>
							<div class="col-md-2 col-sm-2 padding_empty">
							<div class="img_Box">
							<img class="img-responsive image_25prolife" src="css\generali-theme\img\arrow_dollor_new.png">
							<div class="per_Year_Label">
							<h1>0.8%*</h1>
							</div>
							
							</div>
							</div>
							
							
							
							
							
							<div class="col-md-1 col-sm-1 padding_empty pad_Between_Circles">
								<div class="circle" ng-bind="Illustration.IllustrationOutput.insuredAge10Field"></div>
							</div>
							<div class="col-md-2 col-sm-2 padding_empty">
							<div class="img_Box ">
							<img class="img-responsive image_25prolife" src="css\generali-theme\img\arrow_dollor_new.png">
							<div class="per_Year_Label">
							<h1>1.3%*</h1>
							</div>
							
							</div>
							</div>
							<div class="col-md-1 col-sm-1 padding_empty pad_Between_Circles">
								<div class="circle" ng-bind="Illustration.IllustrationOutput.insuredAge15Field"></div>
							</div>
							
				</div>
					
				</div>
							
							
							
						<div class="col-md-4 col-sm-4 insured_Box">
							<div class ="row">
							
						<div class="col-md-2 col-sm-2 padding_empty">
							<div class="img_Box">
							<img class="img-responsive image_25prolife" src="css\generali-theme\img\arrow_dollor_new.png">
							<div class="per_Year_Label">
							<h1>1.6%*</h1>
							</div>
							</div>
						</div>
						
						
						<div class="col-md-1 col-sm-1 padding_empty pad_Between_Circles1">
								<div class="circle" ng-bind="Illustration.IllustrationOutput.insuredAge25Field"></div>
						</div>
						
						<div class="col-md-2 col-sm-2 padding_empty">
							<div class="img_Box_1">
							<img class="img-responsive image_25prolife" src="css\generali-theme\img\arrow_dollor_new.png">
							<div class="per_Year_Label">
							<h1>1.6%*</h1>
							</div>
							
							</div>
						</div>
						
							</div>
						</div>
						<div class="col-md-1 col-sm-1 insured_Box"></div>
						<div class="col-md-1 col-sm-1 insured_Box padding_empty">
							<div class ="row">
							
						
							<div class="img_Box_2">
							<img class="img-responsive image_25prolife" src="css\generali-theme\img\arrow_dollor_new.png">
							<div class="per_Year_Label">
							<h1>100%*</h1>
							</div>
							
							</div>
						
						</div>
						</div>

					
				
				</div>

							<div class="row">
								<div class="col-md-2 col-sm-2" >
									<div class="insured_Age_Label">
										<Strong translate="illustrator.livingBenefitLabel"></Strong>
									</div>
								</div>
								<div class="col-md-1  col-sm-1  text-center padding_empty">
									<div class="valueBox_Width_Genprolife25" style="margin-left: 36%;">
									<div class="policy_Year_Label_2" style="width: 100%;text-align:center;" translate="illustrator.PolicyYear_pro25">Policy Year 1-5</div>
										<div class="value_Box_25" ng-bind="Illustration.IllustrationOutput.sumAssured4PerField"></div>
										
										<!-- <div translate="" class="font_size">(0.4% SA)</div> -->
									</div>
								</div>
								<div class="col-md-1 col-sm-1 text-center padding_empty">
									<div class="valueBox_Width_Genprolife25 pad_Between_ValueBox">
									<div class="policy_Year_Label" style="width: 134%;margin-left:-18%;"translate="illustrator.policyyear6_pro25">Policy Year 6-10</div>
										<div class="value_Box_25" ng-bind="Illustration.IllustrationOutput.sumAssured8PerField"></div>
										<!-- <div translate="" class="font_size">(0.8% SA)</div> -->
									</div>
								</div>
								<div class="col-md-1 col-sm-1 text-center padding_empty">
									<div class="valueBox_Width_Genprolife25 pad_Between_ValueBox_1">
									<div class="policy_Year_Label" style="width: 143%;margin-left:-24%;"translate="illustrator.policyyear11_pro25">Policy Year 11-15</div>
										<div class="value_Box_25" ng-bind="Illustration.IllustrationOutput.sumAssured13PerField"></div>
										<!-- <div translate="" class="font_size">(1.3% SA)</div> -->
									</div>
								</div>
								<div class="col-md-1 col-sm-1 text-center padding_empty">
								</div>
								<div class="col-md-1 col-sm-1 text-center padding_empty">
								<div class="valueBox_Width_Genprolife25 pad_Between_ValueBox_2">
								<div class="policy_Year_Label_1" translate="illustrator.policyyear16_pro25">Policy Year 16-89 years old</div>
										<div class="value_Box_25" ng-bind="Illustration.IllustrationOutput.sumAssured16PerField"></div>
										<!-- <div translate="" class="font_size">(1.6% SA)</div> -->
									</div>
								</div>
								
								<div class="col-md-1 col-sm-1 text-center padding_empty">
								</div>
								<div class="col-md-1 col-sm-1 text-center padding_empty">
								<div class="valueBox_Width_Genprolife25 pad_Between_ValueBox_3">
								<div class="policy_Year_Label_1"translate="illustrator.policyyear16_pro25">Policy Year 16-89 years old</div>
										<div class="value_Box_25" ng-bind="Illustration.IllustrationOutput.sumAssured16PerField"></div>
										<!-- <div translate="" class="font_size">(1.6% SA)</div> -->
									</div>
								</div>
								
								<div class="col-md-1 col-sm-1 text-center padding_empty">
								</div>
								<div class="col-md-1 col-sm-1 text-center padding_empty">
								<div class="valueBox_Width_Genprolife25 pad_Between_ValueBox_4">
								<div class="policy_Year_Label_2"translate="illustrator.90years_pro25">90 years old</div>
										<div class="value_Box_25" ng-bind="Illustration.IllustrationOutput.sumAssuredField"></div>
										<!-- <div translate="" class="font_size">(100% SA)</div> -->
									</div>
								</div>

							</div>
							<div class="row">
							
								<div class ="row text-center">
							<div class="premium_Period_Label_Prolife25" translate="illustrator.premiumperiod25_pro25">Premium Period 25 years</div>
								</div>
								</div>
								<div class="marginbottom20"></div>
							
							<!-- <div class="row tlb_Box" >
								<div class="col-md-6 col-sm-6 text-right" translate="illustrator.totalLivingBenefit130">
								</div>
						
								<div class="col-md-6 col-sm-6">
									<div class="row">
										<div class="col-md-3 col-sm-3 text-right" translate="illustrator.amountLabel">  
										</div>
										<div class="col-md-4 col-sm-4 text-center padding_empty">
											<div class="value_Box2" ng-bind="Illustration.IllustrationOutput.sumAssured130PerField"></div>
										</div>
										<div class="co-md-2 col-sm-2" translate="illustrator.bahtLabel">
										</div>
									</div>
								</div>
							</div>
							<div class="row text-right sum_Label"translate="illustrator.sumInsuredFooter"></div> -->
						</div>
<div class="parent-graph hidden-desktop">
	<div class="op_img_wrapper">
		<div class="relative_img_wrapper">
			<img src="css\generali-theme\img\thailand\GenProLife25.jpg" class="img1 img-responsive" style="margin-left: 0%;" />
			<div ng-bind="Illustration.IllustrationOutput.sumAssuredField" class="genProLife25_ImageTextWrapping1"></div>
			<div ng-bind="Illustration.IllustrationOutput.PremiumFrequency" class="genProLife25_ImageTextWrapping2"></div>
			<div ng-bind="Illustration.IllustrationOutput.basePremiumFinalGraph" class="genProLife25_ImageTextWrapping3"></div>
			<div ng-bind="Illustration.IllustrationOutput.riderPremiumFinal" class="genProLife25_ImageTextWrapping4"></div>
			<div ng-bind="Illustration.IllustrationOutput.sumAssuredField" class="genProLife25_ImageTextWrapping5"></div>
			<div ng-bind="Illustration.IllustrationOutput.insuredAge0Field" class="genProLife25_ImageTextWrapping6"></div>
			<div ng-bind="Illustration.IllustrationOutput.insuredAge5Field" class="genProLife25_ImageTextWrapping7"></div>
			<div ng-bind="Illustration.IllustrationOutput.insuredAge10Field" class="genProLife25_ImageTextWrapping8"></div>
			<div ng-bind="Illustration.IllustrationOutput.insuredAge15Field" class="genProLife25_ImageTextWrapping9"></div>
			<div ng-bind="Illustration.IllustrationOutput.insuredAge25Field" class="genProLife25_ImageTextWrapping10"></div>
			<div ng-bind="Illustration.IllustrationOutput.sumAssured4PerField" class="genProLife25_ImageTextWrapping11"></div>
			<div ng-bind="Illustration.IllustrationOutput.sumAssured8PerField" class="genProLife25_ImageTextWrapping12"></div>
			<div ng-bind="Illustration.IllustrationOutput.sumAssured13PerField" class="genProLife25_ImageTextWrapping13"></div>
			<div ng-bind="Illustration.IllustrationOutput.sumAssured16PerField" class="genProLife25_ImageTextWrapping14"></div>
			<div ng-bind="Illustration.IllustrationOutput.sumAssured16PerField" class="genProLife25_ImageTextWrapping15"></div>
			<div ng-bind="Illustration.IllustrationOutput.sumAssuredField" class="genProLife25_ImageTextWrapping16"></div>
		</div>
	</div>
</div>