<div class="parent-graph">
	<!-- 
	<div class="row amountPanel">
		<div class="col-md-1 col-sm-1 death_Benefit_Label">
			<strong class="ng-scope"></strong>
		</div>
		<div class="col-md-10 col-sm-10 padding_empty ">
			<span class = "heading_SIGraph" translate="illustrator.ADBRider">สัญญาเพิ่มเติม การประกันอุบัติเหตุ คุ้มครองการเสียชีวิต (ADB)</span>
			<label class="sum_Insured text-center" ng-bind="Illustration.IllustrationOutput.riderPremiumFinal"></label>
			<span class="heading_B" translate="illustrator.textB"></span>
		</div>
	</div>
	
	<div class="row lifeProtection_Box">
		<div class="col-md-2 col-sm-2">
			<img class="img-responsive" src="css\generali-theme\img\genSave10Plus_Wording_7.jpg" style="max-width: 70%;" />
		</div>
		<div class="col-md-4 col-sm-4 padding_empty marginTop_GPL20">
			<div class=" padding_empty value_Box4">
				<div class="value_Box3_10Plus value_Box3_IN_2 text-center">170%</div>
            </div>
        </div>  
        <div class="col-md-6 col-sm-6 padding_empty">                                        
            <div class=" padding_empty value_Box3" >
				<div class="value_Box3_10Plus value_Box3_IN_1 text-center">340%</div>
            </div>
        </div>   
    </div>

	<div class="row">
		<div class="col-md-2 col-sm-2 ">
			<div class="insured_Age_Label">
				<img class="img-responsive genSave10image1" src="css\generali-theme\img\genSave10Plus_Wording_8.jpg" />
			</div>
		</div>
		<div class="col-md-10 col-sm-10 padding_empty">
			<div class ="row">
				<div class="col-md-12 col-sm-12 padding_empty">
					<div class="circle_wrapper">
						<div class="circle_GenSave10Plus1">0</div>
						<div class="circle_GenSave10Plus1 circle_marginLeft">1
							<img class="img1 img-responsive imageWidth_GenSave10 imageWidth_GenSave10_paddinTop" src="css\generali-theme\img\arrow_set_1.jpg" />
						</div>
						<div class="circle_GenSave10Plus1 circle_marginLeft">2
							<img class="img1 img-responsive imageWidth_GenSave10 imageWidth_GenSave10_paddinTop" src="css\generali-theme\img\arrow_set_1.jpg" />
						</div>
						<div class="circle_GenSave10Plus1 circle_marginLeft">3
							<img class="img1 img-responsive imageWidth_GenSave10 imageWidth_GenSave10_paddinTop" src="css\generali-theme\img\arrow_set_1.jpg" />
						</div>
						<div class="circle_GenSave10Plus1 circle_marginLeft">4
							<img class="img1 img-responsive imageWidth_GenSave10 imageWidth_GenSave10_paddinTop" src="css\generali-theme\img\arrow_set_1.jpg" />
						</div>
						<div class="circle_GenSave10Plus1 circle_marginLeft">5 
							<img class="img1 img-responsive imageWidth_GenSave10 imageWidth_GenSave10_paddinTop" src="css\generali-theme\img\arrow_set_2.jpg" />
						</div>
					</div>
					<div class="circle_wrapper1">
						<div class="circle_GenSave10Plus circle_marginRight">15
							<img class="img1 img-responsive imageWidth_GenSave10 imageWidth_GenSave10_paddinTop" src="css\generali-theme\img\arrow_set_4.jpg" />
						</div>
						<div class="circle_GenSave10Plus circle_marginRight">14
							<img class="img1 img-responsive imageWidth_GenSave10 imageWidth_GenSave10_paddinTop" src="css\generali-theme\img\arrow_set_3.jpg" />
						</div>
						<div class="circle_GenSave10Plus circle_marginRight">13
							<img class="img1 img-responsive imageWidth_GenSave10 imageWidth_GenSave10_paddinTop" src="css\generali-theme\img\arrow_set_3.jpg" />
						</div>
						<div class="circle_GenSave10Plus circle_marginRight">12
							<img class="img1 img-responsive imageWidth_GenSave10 imageWidth_GenSave10_paddinTop" src="css\generali-theme\img\arrow_set_3.jpg" />
						</div>
						<div class="circle_GenSave10Plus circle_marginRight">11
							<img class="img1 img-responsive imageWidth_GenSave10 imageWidth_GenSave10_paddinTop" src="css\generali-theme\img\arrow_set_3.jpg" />
						</div>
						<div class="circle_GenSave10Plus circle_marginRight">10
							<img class="img1 img-responsive imageWidth_GenSave10 imageWidth_GenSave10_paddinTop" src="css\generali-theme\img\arrow_set_3.jpg" />
						</div>
						<div class="circle_GenSave10Plus circle_marginRight">9
							<img class="img1 img-responsive imageWidth_GenSave10 imageWidth_GenSave10_paddinTop" src="css\generali-theme\img\arrow_set_2.jpg" />
						</div>
						<div class="circle_GenSave10Plus circle_marginRight">8
							<img class="img1 img-responsive imageWidth_GenSave10 imageWidth_GenSave10_paddinTop" src="css\generali-theme\img\arrow_set_2.jpg" />
						</div>
						<div class="circle_GenSave10Plus circle_marginRight">7
							<img class="img1 img-responsive imageWidth_GenSave10 imageWidth_GenSave10_paddinTop" src="css\generali-theme\img\arrow_set_2.jpg" />
						</div>
						<div class="circle_GenSave10Plus circle_marginRight">6
							<img class="img1 img-responsive imageWidth_GenSave10 imageWidth_GenSave10_paddinTop" src="css\generali-theme\img\arrow_set_2.jpg" />
						</div>									
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div>
		<div class="row">
			<div class="col-md-2 col-sm-2">
				<div class="insured_Age_Label">
					<img class="img-responsive genSave10image1" src="css\generali-theme\img\genSave10Plus_Wording_9.jpg" />
				</div>
			</div>
			<div class="col-md-10 col-sm-10 padding_empty">
				<div class="genSave10Plus_Section1">
					<div class="genSave10_subText1">1%*</div>
					<div class="genSave10_subText1 genSave10Plus_margin1">1%*</div>
					<div class="genSave10_subText1 genSave10Plus_margin2">1%*</div>
					<div class="genSave10_subText1 genSave10Plus_margin1">1%*</div>
				</div>
				<div class="genSave10Plus_Section2">
					<div class="genSave10_subText1 genSave10Plus_margin1">2%*</div>
					<div class="genSave10_subText2 genSave10Plus_margin3">2%*</div>
					<div class="genSave10_subText2 genSave10Plus_margin4">2%*</div>
					<div class="genSave10_subText2 genSave10Plus_margin4">2%*</div>
					<div class="genSave10_subText2 genSave10Plus_margin5">2%*</div>
				</div>
				<div class="genSave10Plus_Section3">
					<div class="genSave10_subText1 genSave10Plus_margin5">3%*</div>
					<div class="genSave10_subText2 genSave10Plus_margin4">3%*</div>
					<div class="genSave10_subText2 genSave10Plus_margin5">3%*</div>
					<div class="genSave10_subText2 genSave10Plus_margin4">3%*</div>
					<div class="genSave10_subText2 genSave10Plus_margin5">3%*</div>
				</div>
				<div class="genSave10Plus_Section4">
					<div class="genSave10_subText2">
						<img class="img-responsive genSave10image2" src="css\generali-theme\img\genSave10Plus_Wording_1.jpg" />
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-2 col-sm-2">
			<div class="insured_Age_Label">
				<img class="img-responsive genSave10image1" src="css\generali-theme\img\genSave10Plus_Wording_10.jpg" />
			</div>
		</div>
		<div class="col-md-10 col-sm-10 padding_empty">
			<img class="img-responsive genSave10image3" src="css\generali-theme\img\genSave10Plus_Wording_2.jpg" />
			<div class="genSave10GraphTextSection1">
				390%*
			</div>
		</div>	
	</div>
		
	
	<div class="row">
		<div class="col-md-7 col-sm-5">
			<img class="img-responsive genSave10image4" src="css\generali-theme\img\genSave10Plus_Wording_3.jpg" />
		</div>
		<div class="col-md-5 col-sm-5 padding_empty">
			<div class="genSave10GraphTextSection2">419%*</div>
		</div>	
	</div>
	
	<div class="row">
		<div class="col-md-2 col-sm-2">
			<div class="insured_Age_Label">
				<Strong translate="illustrator.livingBenefitLabel"></Strong>
			</div>
		</div>
		<div class="col-md-10 col-sm-10 padding_empty">
			<div class="row">
				<div class="col-md-4 col-sm-4 text-left">
					<img class="img-responsive genSave10image4" src="css\generali-theme\img\genSave10Plus_Wording_11.jpg" style="float: left; text-align: left;" />
				</div>
				<div class="col-md-2 col-sm-2 text-center padding_empty">
					<div class="value_Box2 genSave10TextBorder1" ng-bind="Illustration.IllustrationOutput.sumAssured130PerField"></div>
				</div>
				<div class="co-md-2 col-sm-2 text-left genSave10TextBlock1" translate="illustrator.bahtLabel"></div>
			</div>
		</div>	
	</div>
	
	<div class="row tlb_Box genSave10TextBorder2">
		<div class="col-md-6 col-sm-6 text-right" translate="illustrator.totalLivingBenefit_10Plus">
			Total Living Benefit = 419%*
		</div>
		<div class="col-md-6 col-sm-6">
			<div class="row">
				<div class="col-md-3 col-sm-3 text-right" translate="illustrator.amountLabel"></div>
				<div class="col-md-4 col-sm-4 text-center padding_empty">
					<div class="value_Box2" ng-bind="Illustration.IllustrationOutput.sumAssured130PerField"></div>
				</div>
				<div class="co-md-2 col-sm-2" translate="illustrator.bahtLabel"></div>
			</div>
		</div>
	</div>
	
	<div class="row text-right sum_Label">
		<img src="css\generali-theme\img\genSave10Plus_Wording_12.jpg" style="max-width:70%; float:right" />
	</div>
	-->
	<div class="op_img_wrapper">
		<div class="relative_img_wrapper">
			<img src="css\generali-theme\img\thailand\GenSave10Plus_KeyFeatures2.jpg" class="img1 img-responsive" style="margin-left: 0%;" />
			<div ng-bind="adbRiderSumAssuredGraph" class="genSave10Plus_ImageTextWrapping1"></div>
			<div ng-bind="sumInsuredFinalGraph" class="genSave10Plus_ImageTextWrapping2"></div>
			<div ng-bind="totalLivingBenefitGraph" class="genSave10Plus_ImageTextWrapping3"></div>
		</div>
	</div>
</div>