<div class="parent-graph">
	<div class="op_img_wrapper">
		<div class="relative_img_wrapper">
			<img src="css\generali-theme\img\thailand\GenSave4Plus_KeyFeatures2.jpg" class="img1 img-responsive" style="margin-left: 0%;" />
			<div ng-bind="adbRiderSumAssuredGraph" class="genSave4Plus_ImageTextWrapping1"></div>
			<div ng-bind="sumInsuredFinalGraph" class="genSave4Plus_ImageTextWrapping2"></div>
			<div ng-bind="totalLivingBenefitGraph" class="genSave4Plus_ImageTextWrapping3"></div>
		</div>
	</div>
</div>