<div class="parent-graph hidden-phone">
	<!-- <div class ="genSaveHeading"  translate="">GenSave 20 Plus</div> -->
	<div class="amountPanel">
		<div class="sum_Insured_Heading">
			<span class = "heading_SIGraph" translate="illustrator.sumInsured_graph"></span>
			<label class="sum_Insured text-center" ng-bind="Illustration.IllustrationOutput.sumAssuredField"></label>
			<span class="heading_B" translate="illustrator.textB"></span>
		</div>
		<div class="basic_Premium">
			<span class = "heading_SIGraph" translate="illustrator.basicPremium_graph"></span>
			<span class = "heading_SIGraph basic_Premium_Dot" ng-bind="Illustration.IllustrationOutput.PremiumFrequency"></span>
			<label class="sum_Insured text-center" ng-bind="Illustration.IllustrationOutput.basePremiumFinalGraph"></label>
			<span class="heading_B" translate="illustrator.textB"></span>
		</div>
		
		<div class="rider_Premium">
			<span class = "heading_SIGraph" translate="illustrator.riderPremium_graph"></span>
			<label class="sum_Insured text-center" ng-bind="Illustration.IllustrationOutput.riderPremiumFinal"></label>
			<span class="heading_B" translate="illustrator.textB"></span>
		</div>
	</div>
	<div class="row" text-align center>
	
		<div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 "style="padding-left: 8.8%; width: 45%;">
			<img class="img-responsive gsarrow_leftright" src="css\generali-theme\img\arrow_left.png" >
			</div>
			<span class="death_Benefit_Text">
				<Strong translate="illustrator.deathBenefitLabel_save20"></Strong>
			</span>
			<div class="col-md-5 col-sm-5" style="width:38%">
				<img class="img-responsive gsarrow_leftright" src="css\generali-theme\img\arrow_right.png" >
			</div>
	</div>
			<div class="row lifeProtection_Box">
               			
				<div class="col-md-2 col-sm-2 death_Benefit_Label">
					<Strong translate="illustrator.deathBenefitLabel"></Strong>
				</div>
				<!--boxes -->
				<div class="col-md-2 col-sm-2 padding_empty gsfirst_box text-center" style="width:20%">
				   <div class="gspercent_value4"><strong translate="">100%* </strong></div>
				    <div class=" gsvalue_Box4 " >
				     <div class="gsvalue_Box4_IN " ng-bind="Illustration.IllustrationOutput.sumAssuredField" ></div>
				      </div>
				</div>	
				
				<div class="col-md-1 col-sm-1 padding_empty gssecond_box text-center" style="width:11.5%">
				    <div class="gspercent_value4"><strong translate="">110%* </strong></div>
				     <div class="gsvalue_Box5 ">
				     <div class="gsvalue_Box5_IN " ng-bind="Illustration.IllustrationOutput.sumAssured110PerField">
						</div></div>
				</div>
				<div class="col-md-1 col-sm-1 padding_empty gsthird_box text-center" style="width:11.25%">
						<div class="gspercent_value4"><strong translate="">120%* </strong></div>
						<div class="gsvalue_Box6 ">
				
				       <div class="gsvalue_Box5_IN " ng-bind="Illustration.IllustrationOutput.sumAssured120PerField">
						</div></div>
			    </div>
				
				
                <div class="col-md-1 col-sm-1 padding_empty gsfourth_box text-center" style="width:11.3%">
				     <div class="gspercent_value4"><strong translate="">130%* </strong></div>
				      <div class="gsvalue_Box7">
				       <div class="gsvalue_Box5_IN " ng-bind="Illustration.IllustrationOutput.sumAssured130PerField" >
						</div>
						</div>
				</div>

				
				<div class="col-md-1 col-sm-1 padding_empty gsfive_box text-center" style="width:11.5%">
				      <div class="gspercent_value4"><strong translate="">140%* </strong></div>
				       <div class="gsvalue_Box8">
				        <div class="gsvalue_Box5_IN " ng-bind="Illustration.IllustrationOutput.sumAssured140PerField" >
						</div></div>
				</div>
				<div class="col-md-1 col-sm-1 padding_empty gssix_box text-center" style="width:11.55%">
				      <div class="gspercent_value4"><strong translate="">150%* </strong></div>
				       <div class="gsvalue_Box9">
				        <div class="gsvalue_Box5_IN " ng-bind="Illustration.IllustrationOutput.sumAssured150PerField">
						</div></div>
				</div>
				
			</div>
			<div class="row end_Policy ">
				<div class="col-md-2 col-sm-2 death_Benefit_Label">
					<Strong translate="illustrator.endOfPolicy"></Strong>
				</div>
				<div class="col-md-10 col-sm-10 padding_empty ageImage_GenBum8">
					<img class="img-responsive imageWidth" src="css\generali-theme\img\GenSave20Plus_Age.png">
				</div>
				<!--<div class="endText">
					<Strong> (Y) </Strong>
				</div>-->
			</div>
				<div class="row">
					<div class="col-md-2 col-sm-2 ">
						<div class="insured_Age_Label">
							<Strong translate="illustrator.insuredAge"></Strong>
						</div>
					</div>
					<div class="col-md-2 col-sm-2 padding_empty">
						<div class ="row">
							<div class="col-md-7 col-sm-7">
								<div class="circle" ng-bind="Illustration.IllustrationOutput.insuredAge0Field"></div>
							</div>
							
						</div>
						
					</div>
					<div class="col-md-8 col-sm-8">
					       <div class="col-md-2 col-sm-2 " style="padding-left: 2.75%">
								<div class="circle" ng-bind="Illustration.IllustrationOutput.insuredAge13Field" ></div>
							</div>
							<div class="col-md-2 col-sm-2 " style="padding-left: 4.15%">
								<div class="circle" ng-bind="Illustration.IllustrationOutput.insuredAge14Field"></div>
							</div>
							<div class="col-md-2 col-sm-2 " style="padding-left: 4.75%">
								<div class="circle" ng-bind="Illustration.IllustrationOutput.insuredAge15Field" ></div>
							</div>
							<div class="col-md-2 col-sm-2 " style="padding-left: 5.75%">
								<div class="circle" ng-bind="Illustration.IllustrationOutput.insuredAge16Field" ></div>
							</div>
							<div class="col-md-2 col-sm-2 " style="padding-left: 7.3%">
								<div class="circle" ng-bind="Illustration.IllustrationOutput.insuredAge17Field"></div>
							</div>
							<div class="col-md-2 col-sm-2 " style="padding-left: 8.4%">
								<div class="circle" ng-bind="Illustration.IllustrationOutput.insuredAge20Field" ></div>
		
							</div>
					 </div>
					
					
				    </div>
					    <div class="row">
								<div class="col-md-1 col-sm-1" ></div>
								<div class="col-md-8 col-sm-8 "style="width: 77%;left: 7%;">
								<div class ="text-center padding_empty">
						<div class="gspremium_Period_Label " translate="illustrator.premiumPeriodLabel_save20" style="width:100%" ></div>
						 </div>
								</div>
								<div class="col-md-1 col-sm-1" style="width: 12%;left: 6.3%;">
								<img class="img-responsive gsarrow_Img"  src="css\generali-theme\img\arrow_dollor.png">
								<div class="gsbottom_percent"><strong translate="">150%*</strong></div>
								</div>
						 </div>
							<div class="row">
								<div class="col-md-2 col-sm-2 " >
									<div class="insured_Age_Label">
										<Strong translate="illustrator.livingBenefitLabel"></Strong>
									</div>
								</div>
								<div class="col-md-2 col-sm-offset-4 col-sm-2 col-sm-offset-4 text-center padding_empty">
								</div>
								<div class="col-md-2 col-sm-2 text-center padding_empty">	
								</div>
								<div class="col-md-2 col-sm-2 text-center padding_empty" style="left: 5.25%; width: 14%;">
									<div class="valueBox_width">
										<div class="value_Box" ng-bind="Illustration.IllustrationOutput.sumAssured150PerField"></div>
										<!-- <div translate="" class="gsfont_size_Big">(150%SA)</div> -->
									</div>
								</div>
							</div>
							<div class="row tlb_Box" >
								<div class="col-md-6 col-sm-6 text-right" translate="illustrator.totallivingbenefit_save20">Total Living Benefit  = 150%*</div>
								<div class="col-md-6 col-sm-6">
									<div class="row">
										<div class="col-md-3 col-sm-3 text-right" translate="illustrator.amountLabel">  
										</div>
										<div class="col-md-4 col-sm-4 text-center padding_empty">
											<div class="value_Box2" ng-bind="Illustration.IllustrationOutput.sumAssured150PerField"></div>
										</div>
										<div class="co-md-2 col-sm-2" translate="illustrator.bahtLabel">
										</div>
									</div>
								</div>
							</div>
							<div class="row text-right sum_Label"translate="illustrator.sumInsuredFooter"></div>
</div>
<div class="parent-graph hidden-desktop">
	<div class="op_img_wrapper">
		<div class="relative_img_wrapper">
			<img src="css\generali-theme\img\thailand\GenSave20.jpg" class="img1 img-responsive" style="margin-left: 0%;" />
			<div ng-bind="Illustration.IllustrationOutput.sumAssuredField" class="genSave20Plus_ImageTextWrapping1"></div>
			<div ng-bind="Illustration.IllustrationOutput.PremiumFrequency" class="genSave20Plus_ImageTextWrapping2"></div>
			<div ng-bind="Illustration.IllustrationOutput.basePremiumFinalGraph" class="genSave20Plus_ImageTextWrapping3"></div>
			<div ng-bind="Illustration.IllustrationOutput.riderPremiumFinal" class="genSave20Plus_ImageTextWrapping4"></div>
			<div ng-bind="Illustration.IllustrationOutput.sumAssuredField" class="genSave20Plus_ImageTextWrapping5"></div>
			<div ng-bind="Illustration.IllustrationOutput.sumAssured110PerField" class="genSave20Plus_ImageTextWrapping6"></div>
			<div ng-bind="Illustration.IllustrationOutput.sumAssured120PerField" class="genSave20Plus_ImageTextWrapping7"></div>
			<div ng-bind="Illustration.IllustrationOutput.sumAssured130PerField" class="genSave20Plus_ImageTextWrapping8"></div>
			<div ng-bind="Illustration.IllustrationOutput.sumAssured140PerField" class="genSave20Plus_ImageTextWrapping9"></div>
			<div ng-bind="Illustration.IllustrationOutput.sumAssured150PerField" class="genSave20Plus_ImageTextWrapping10"></div>
			<div ng-bind="Illustration.IllustrationOutput.insuredAge0Field" class="genSave20Plus_ImageTextWrapping11"></div>
			<div ng-bind="Illustration.IllustrationOutput.insuredAge13Field" class="genSave20Plus_ImageTextWrapping12"></div>
			<div ng-bind="Illustration.IllustrationOutput.insuredAge14Field" class="genSave20Plus_ImageTextWrapping13"></div>	
			<div ng-bind="Illustration.IllustrationOutput.insuredAge15Field" class="genSave20Plus_ImageTextWrapping14"></div>	
			<div ng-bind="Illustration.IllustrationOutput.insuredAge16Field" class="genSave20Plus_ImageTextWrapping15"></div>	
			<div ng-bind="Illustration.IllustrationOutput.insuredAge17Field" class="genSave20Plus_ImageTextWrapping16"></div>	
			<div ng-bind="Illustration.IllustrationOutput.insuredAge20Field" class="genSave20Plus_ImageTextWrapping17"></div>	
			<div ng-bind="Illustration.IllustrationOutput.sumAssured150PerField" class="genSave20Plus_ImageTextWrapping18"></div>	
			<div ng-bind="Illustration.IllustrationOutput.sumAssured150PerField" class="genSave20Plus_ImageTextWrapping19"></div>				
		</div>
	</div>
</div>