<div class="parent-graph hidden-phone">
	<!-- <div class ="genBumnanHeading"  translate="illustrator.genbumnan8Header"></div> -->
	<div class="amountPanel">
		<div class="sum_Insured_Heading">
			<span class = "heading_SIGraph" translate="illustrator.sumInsured_graph"></span>
			<label class="sum_Insured text-center" ng-bind="Illustration.IllustrationOutput.sumAssuredField"></label>
			<span class="heading_B" translate="illustrator.textB"></span>
		</div>
		<div class="basic_Premium">
			<span class = "heading_SIGraph" translate="illustrator.basicPremium_graph"></span>
			<span class = "heading_SIGraph basic_Premium_Dot" ng-bind="Illustration.IllustrationOutput.PremiumFrequency"></span>
			<label class="sum_Insured text-center" ng-bind="Illustration.IllustrationOutput.premiumModeField"></label>
			<span class="heading_B" translate="illustrator.textB"></span>
		</div>
		<div class="rider_Premium">
			<span class = "heading_SIGraph" translate="illustrator.riderPremium_graph"></span>
			<label class="sum_Insured text-center" ng-bind="Illustration.IllustrationOutput.riderModeField"></label>
			<span class="heading_B" translate="illustrator.textB"></span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 col-md-offset-2 col-sm-3 col-sm-offset-2">
			<img class="img-responsive" src="css\generali-theme\img\arrow_left.png" width="300" height="15">
			</div>
			<span class="death_Benefit_Text">
				<Strong translate="illustrator.deathBenefitLabel_8"></Strong>
			</span>
			<div class="col-md-3 col-sm-3" >
				<img class="img-responsive" src="css\generali-theme\img\arrow_right.png" width="300" height="15">
			</div>
	</div>
			<div class="row lifeProtection_Box">
				<div class="col-md-2 col-sm-2 death_Benefit_Label">
					<Strong translate="illustrator.deathBenefitLabel"></Strong>
				</div>
				<div class="col-md-4 col-sm-4 total_Paid" >
					<div class = "total_Paid_Premium" translate="illustrator.totalPaidPremium"></div>
					<div class="min_Max_Box">
						<div class="row text-center min_Max_Box1">
								<div class = "col-md-5 col-sm-5 padding_empty"><span ng-bind="Illustration.IllustrationOutput.deathBenefitMinField"></span><span class = "padding_empty" translate="illustrator.minLabel"></span></div>
								<div class = "col-md-1 col-sm-1">-</div>
								<div class = "col-md-5 col-sm-5 padding_empty"><span ng-bind="Illustration.IllustrationOutput.deathBenefitMaxField"></span>
								<span class = "padding_empty" translate="illustrator.maxLabel"></span></div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 years_Label">
					<div class = "pension_Years">
					<strong translate="illustrator.yearsLabel"> </strong>
					</div>
					<div class = "text-center pension_Box">
						<div class="pension_Label" translate="illustrator.pensionLabel"></div>
					</div>
				</div>
			</div>
			<div class="row end_Policy ">
				<div class="col-md-2 col-sm-2 death_Benefit_Label">
					<Strong translate="illustrator.endOfPolicy"></Strong>
				</div>
				<div class="col-md-10 col-sm-10 padding_empty ageImage_GenBum8">
					<img class="img-responsive imageWidth" src="css\generali-theme\img\arrow_age.png">
				</div>
				<div class="endText">
					<Strong translate="illustrator.year_graph"> (Y) </Strong>
				</div>
			</div>
				<div class="row">
					<div class="col-md-2 col-sm-2 ">
						<div class="insured_Age_Label">
							<Strong translate="illustrator.insuredAge"></Strong>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 padding_empty">
						<div class ="row">
							<div class="col-md-6 col-sm-6">
								<div class="circle" ng-bind="Illustration.IllustrationOutput.insuredAge"></div>
							</div>
							<div class="col-md-6 col-sm-6 eighthYearAge">
								<div class="circle" ng-bind="Illustration.IllustrationOutput.insuredAgeAfterEightYears"></div>
							</div>
						</div>
						<div class ="row text-center">
							<div class="premium_Period_Label" translate="illustrator.premiumPeriodLabel"></div>
						</div>
					</div>
					
					<div class="col-md-2 col-sm-2 text-center">
						<div class="age_Box">
							<div class="age_Label" translate="illustrator.age60To70"></div>
							<img class="img-responsive arrow_Img" src="css\generali-theme\img\arrow_dollor.png">
								<div>
									<h3 class="per_Year" translate="illustrator.year15Percent"></h3>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-2 text-center">
							<div class="age_Box">
								<div class="age_Label" translate="illustrator.age71To80"></div>
								<img class="img-responsive arrow_Img" src="css\generali-theme\img\arrow_dollor.png">
									<div>
										<h3 class="per_Year" translate="illustrator.year20Percent"></h3>
									</div>
								</div>
							</div>
							<div class="col-md-2 col-sm-2 text-center">
								<div class="age_Box">
									<div class="age_Label" translate="illustrator.age81To88"></div>
									<img class="img-responsive arrow_Img" src="css\generali-theme\img\arrow_dollor.png">
										<div>
											<h3 class="per_Year" translate="illustrator.year25Percent"></h3>
										</div>
									</div>
								</div>
				</div>
							<div class="row">
								<div class="col-md-2 col-sm-2 " >
									<div class="insured_Age_Label">
										<Strong translate="illustrator.livingBenefitLabel"></Strong>
									</div>
								</div>
								<div class="col-md-2 col-sm-offset-4 col-sm-2 col-sm-offset-4 text-center padding_empty">
									<div class="valueBox_width">
										<div class="value_Box" ng-bind="Illustration.IllustrationOutput.fifteenPerSA"></div>
										<!--<div translate="illustrator.sa15Percent" class="font_size"></div>-->
									</div>
								</div>
								<div class="col-md-2 col-sm-2 text-center padding_empty">
									<div class="valueBox_width">
										<div class="value_Box" ng-bind="Illustration.IllustrationOutput.twentyPerSA"></div>
										<!--<div translate="illustrator.sa20Percent" class="font_size"></div>-->
									</div>
								</div>
								<div class="col-md-2 col-sm-2 text-center padding_empty">
									<div class="valueBox_width">
										<div class="value_Box" ng-bind="Illustration.IllustrationOutput.twentyFivePerSA"></div>
										<!--<div translate="illustrator.sa25Percent" class="font_size"></div>-->
									</div>
								</div>
							</div>
							<div class="row tlb_Box" >
								<div class="col-md-6 col-sm-6 text-right" translate="illustrator.totalLivingBenefit565">
								</div>
								<div class="col-md-6 col-sm-6">
									<div class="row">
										<div class="col-md-3 col-sm-3 text-right" translate="illustrator.amountLabel">  
										</div>
										<div class="col-md-4 col-sm-4 text-center padding_empty">
											<div class="value_Box2" ng-bind="Illustration.IllustrationOutput.totalBenefitAmountField"></div>
										</div>
										<div class="co-md-2 col-sm-2" translate="illustrator.bahtLabel">
										</div>
									</div>
								</div>
							</div>
							<div class="row text-right sum_Label"translate="illustrator.sumInsuredFooter"></div>
</div>
<div class="parent-graph hidden-desktop">
	<div class="op_img_wrapper">
		<div class="relative_img_wrapper">
			<img src="css\generali-theme\img\thailand\GenBumNum8.jpg" class="img1 img-responsive" style="margin-left: 0%;" />
			<div ng-bind="Illustration.IllustrationOutput.sumAssuredField" class="genBumNum8_ImageTextWrapping1"></div>
			<div ng-bind="Illustration.IllustrationOutput.PremiumFrequency" class="genBumNum8_ImageTextWrapping2"></div>
			<div ng-bind="Illustration.IllustrationOutput.premiumModeField" class="genBumNum8_ImageTextWrapping3"></div>
			<div ng-bind="Illustration.IllustrationOutput.riderModeField" class="genBumNum8_ImageTextWrapping4"></div>
			<div ng-bind="Illustration.IllustrationOutput.deathBenefitMinField" class="genBumNum8_ImageTextWrapping5"></div>
			<div ng-bind="Illustration.IllustrationOutput.deathBenefitMaxField" class="genBumNum8_ImageTextWrapping6"></div>
			<div ng-bind="Illustration.IllustrationOutput.insuredAge" class="genBumNum8_ImageTextWrapping7"></div>
			<div ng-bind="Illustration.IllustrationOutput.insuredAgeAfterEightYears" class="genBumNum8_ImageTextWrapping8"></div>
			<div ng-bind="Illustration.IllustrationOutput.fifteenPerSA" class="genBumNum8_ImageTextWrapping9"></div>
			<div ng-bind="Illustration.IllustrationOutput.twentyPerSA" class="genBumNum8_ImageTextWrapping10"></div>
			<div ng-bind="Illustration.IllustrationOutput.twentyFivePerSA" class="genBumNum8_ImageTextWrapping11"></div>
			<div ng-bind="Illustration.IllustrationOutput.totalBenefitAmountField" class="genBumNum8_ImageTextWrapping12"></div>					
		</div>
	</div>
</div>
