<!--Copyright 2015, LifeEngage -->
<!-- SCRIPT TO BE LOADED ON TOP  -->
<!-- SCRIPT TO BE LOADED ON TOP ENDS -->
<!-- SINGLE HANDLE SLIDER -->
<div id="HeaderDetails">
	
</div>
<div ng-include="'modules/illustrator/partials/NavigationTab.html'" ng-controller="GLI_NavigationTabController">
	
</div>
<div class="tablet_potrait_container illustration_summary margin-top20">
	
	<div id="fixedHeaderSection" class="container">
	</div>
    <div id="NestedTab" class="container" style="background: #fff;">
    	<ul class="nav-tabs horizontalTab five SItab container" ng-class="{five: true}">
			<li class="active">
				<a title="Premium Summary"  data-toggle="tab" data-target="#tab1" rel="tab1">
					<span translate="illustrator.Premiumsummary">Premium summary</span>
				</a>
			</li>
			<li>
				<a title="Benefit Table" data-toggle="tab" data-target="#tab2" rel="tab2">
					<span translate="illustrator.BenifitTable">Benifit Table</span>
				</a>
			</li>
			<li>
				<a title="Policy Value Table" data-toggle="tab" data-target="#tab3" rel="tab3">
					<span translate="illustrator.PolicyValueTable">Policy Value Table </span>
				</a>
			</li>
			<li ng-if="Illustration.Product.ProductDetails.productId != '1003' && (Illustration.IllustrationOutput.selectedRiderTbl.length>0 || Illustration.Product.ProductDetails.productId == '1010'|| Illustration.Product.ProductDetails.productId == '1097')">
				<a title="Rider Benefit Table" data-toggle="tab" data-target="#tab4" rel="tab4" ng-if="Illustration.Product.ProductDetails.productId != '1003' && (Illustration.IllustrationOutput.selectedRiderTbl.length>0 || Illustration.Product.ProductDetails.productId == '1010'||Illustration.Product.ProductDetails.productId == '1097')">
					<span translate="illustrator.RiderBenifitTable" ng-if="Illustration.Product.ProductDetails.productId != '1003' && (Illustration.IllustrationOutput.selectedRiderTbl.length>0 || Illustration.Product.ProductDetails.productId == '1010'||Illustration.Product.ProductDetails.productId == '1097')">Rider Benifit Table</span>
				</a>
			</li>
			<li ng-class="{'active':subTab=='staticIllustrationTab'}" >
				<a title="Policy Value Table" data-toggle="tab" data-target="#tab5" rel="tab5">
					<span translate="illustrator.policyProvision">Policy Provision </span>
				</a>
			</li>
		</ul>
    </div>
	<!-- <div class="Illustration-scrollable-section container" ng-iscroll style="margin-bottom:35px;"> -->
	<div class="Illustration-scrollable-section container" style="margin-bottom:35px;">
		<div class="customtab illustrator_full_container" id="IllustrationDetails">
			
		</div>
		<div id="illustrationSignature" class="accordion-group" style="margin-bottom: 0px; border-top: 1px solid #ccc;"ng-show="showPrivacyLaw">
						<div class="accordion-heading " style="background: #e9573d;">
							<a class="accordion-toggle collapsed" ng-click="accordion_click('1')" ng-class="{'collapsed':1!=accordionIndex}" data-toggle="collapse" data-parent="#accordionParent" data-target="#1" href="" style="color:#fff !important;">
								<span translate="eSignature" class="large  ng-scope">E-Signature</span><i class="fa fa-angle-down  pull-right"></i><i class="fa fa-angle-up  pull-right"></i>
							</a>							
						</div>
					
					<div id="1" class="accordion-body collapse in" ng-class="{'in':1==0}" style="overflow: none !important;">
						<div class="accordion-inner" style="border: 1px solid #ccc;"> 
							<div class="spacing-half"></div>
								 <!--subsections start -->
							 	<div class="row-fluid">
				<div class="signature_container clearfix customSign">
					<div class="row-fluid">
						<div class="span12"  >
							<div class="tab_passage ">
								<div class="tab_passage_text  ng-scope">
									<span>บริษัทมีการจัดเก็บ ใช้ และเปิดเผยข้อมูลส่วนบุคคลของท่าน เพื่อการพิจารณารับประกันภัยและการให้บริการเกี่ยวกับกรมธรรม์ ซึ่งเป็นไปตามข้อบังคับของ พรบ.คุ้มครองข้อมูลส่วนบุคคล พ.ศ. 2562 ท่านสามารถศึกษานโยบายของบริษัทที่เกี่ยวข้องกับการคุ้มครองและการใช้ข้อมูลส่วนบุคคลได้ที่เว็บไซต์ของบริษัท
									<a href="" class="red-text" ng-click="consentDeclaration()"><u> www.generali.co.th/privacy-information</u></a>
									</span>
								</div>
							 </div>
							<div class="esign_tab">
								<div class="esign_header uppercase" >
									<span translate="eSignatureClient">Client E-Signature</span>
								</div>
								<div class="esign_wrapper">
									<div class="span10">
										<div class="signpad oldFlow" id="clientSigNew" ng-show="!oldSigFlow">
											<canvas sign-width ng-signature-pad="signature" ng-disabled="disableCanvasClientpad" ng-click="changingClientPadStatus()" width="auto" height="160px" style="background-color: white;border: solid 1px #ccc;"/>
										</div>
										<div class="signpad sigPadIllustration" id="clientSig" ng-show="oldSigFlow">
											<div class="sig sigWrapper">
												<div class="signContentWrapper">
													<div class="typed"></div>
													<canvas class="" height="200px" width="410px" ng-disabled="disableClientSignaturepad" style="position:relative !important;"></canvas>
												</div>
												<input type="hidden" name="output" class="output" ng-disabled="disableClientSignaturepad">
											</div>
										</div>
									</div>
									<div class="span2">
										<div class="esign-okBtn">
											<button class="clear_sign" ng-click="clearSignature('clientSig')" ><span class="clearSignIcon"></span><span translate="eSignatureClearText"></span></button>
											<button class="btn btn-primary btn-block" id="" ng-click="confirmSignatureLocally('confirmClientSig','clientSig')" translate="okConfirmButtonText" ng-disabled="disableClientSignaturepad"><span translate="">ok</span></button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- customer signature ends-->
						<div class="span12 no_margin"  >
							<div class="esign_tab">
								<div class="esign_header uppercase" >
									<span translate="eSignatureAgent">Agent E-Signature</span>
								</div>
								<div class="esign_wrapper">
									<div class="span10">
										<div class="signpad oldFlow" id="agentSigNew" ng-show="!oldSigFlow">
											<canvas sign-width ng-signature-pad="signature" ng-disabled="disableCanvasAgentpad" ng-click="changingAgentPadStatus()" width="auto" height="160px" style="background-color: white;border: solid 1px #ccc;"/>
										</div>
										<div class="signpad sigPadIllustration" id="agentSig" ng-show="oldSigFlow">
											<div class="sig sigWrapper">
												<div class="signContentWrapper">
													<div class="typed"></div>
													<canvas class="" height="200px" width="410px" ng-disabled="disableSignaturepad" style="position:relative !important;"></canvas>
												</div>
												<input type="hidden" name="output" class="output" ng-disabled="disableSignaturepad">
											</div>
										</div>
									</div>
									<div class="span2">
										<div class="esign-okBtn">
											<button class="clear_sign pull-right" ng-click="clearSignature('agentSig')" ><span class="clearSignIcon"></span><span translate="eSignatureClearText"></span>
											</button>
											<button class="btn btn-primary btn-block" id="" ng-click="confirmSignatureAgent('confirmSigAgent','agentSig')" translate="okConfirmButtonText" ng-disabled="disableSignaturepad">ok</button>
										</div>
									</div>
								</div>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		 																					
						</div>
					</div>


				 
		
	</div>
	<div class="row-fluid">
		<div class="Illustration-footer-buttons">
			<div class="row-fluid">
				<div class="span12">
					<div id="notifyMsg" class="notification_msgs general_brd position_fixed" ng-show="notifyMsg">
						<span id="notifyIcon" ng-class="{'fa fa-check circle-green':!notifyerror,'error_icon ':notifyerror}"></span>
						<span class="success_alert_content" ng-class="{'success_alert_content':!notifyerror,'error_alert_content ':notifyerror}" id="notifyMsgContent">[[notifyMessage]]</span>
					</div>
					<!-- button section-->
					<div class="row-fluid illustration_btnsection">
						<div class="col-xs-12">

							   <div class ="col-xs-4">												
								<div class="illustration_summary_exitbtn" style="margin-left: 50px;">
									<button class="btn btn-default btn-block btnBorderCustom uppercase span4" id="exitbutn" ng-click="exitIllustrationFromIllustrationInfo()"><span translate="btnExit"></span></button>
								</div>												
							</div>
							<div class ="col-xs-4">												
								<div class="illustration_summary_savebtn">
									<a class="btn btn-primary btn-block uppercase span4 center" id="savebutn" ng-click="saveIllustrationInfo()" ng-show="showPrivacyLaw" ng-disabled="disableControl"><span translate="btnSave"></span></a>
								</div>												
							</div>
							<div class ="col-xs-4">												
								<div class="illustration_summary_confrimbtn">
									<button class="btn btn-default btn-block btnBorderCustom_goToEapp span5 pull-right" id="confirmbutn" ng-click="confirmSignature()" ng-show="showPrivacyLaw" ng-disabled="!enableProceedToEapp" style="margin-right: 15%"><span translate="illustrator.goToEapp"></span></button>
								</div>												
							</div>
							<div class ="col-xs-4">												
								<div class="illustration_summary_confrimbtn">
									<button class="btn btn-default btn-block btnBorderCustom_goToEapp span5 pull-right" id="fullsaleSI" ng-click="navigateToConsentPage()" ng-show="!showPrivacyLaw" ng-disabled="enableProceedToEapp" style="left: 100%;
									width: 50%;"><span translate="illustrator.goToFullSI"></span></button>
								</div>												
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
 
			 
		
</div>

<!-- Error Message for Signature  -->
<div class="overlay_TC" ng-show="showErrorForSignature"></div>
	<div class=" text-center">
		<div id="login_popup_info" class="modal fade cust-modal-med in bg-white widthForSig" ng-show="showErrorForSignature">
			<div class="modal-header bg-white">
				<div class="popup_info_img text-center"><img src="css/generali-theme/img/info.png" width="25"></div>
			</div>
			<div class="modal-body">
				<p class="large text-center">[[errorMessageForInsured]]</p>
				<p class="large text-center">[[errorMessageForAgent]]</p>
				<div>
				   <button type="button" class="btncls login-popup-close" ng-click="closePopupForErrorMsg()" translate = "salesActivity.popUpClose"></button>
				</div>
			</div>    
		</div>
   	</div>
<!-- signatures start-->
<lepopup control="lePopupCtrl"/>
<!--Pop Up Window-->
<!-- THE MODAL POPUP  -->
<div  class=" general-overlay-container dvDeclarationPopup" ng-show="dvAlertPopup" ng-class="{'center_pop_up':dvAlertPopup}">
	<!-- 	<p class="del_ben_header">
		<span translate="fna.alert"></span>  <span class="close_ben "
	ng-click="dvAlertPopup = !dvAlertPopup"></span>
</p> -->
<div class="modal-header">
	<button type="button" class="close"ng-click="dvAlertPopup = !dvAlertPopup">&times;</button>
</div>
<!--
		<p class="del_ben_warning">
				<img src="css/main-theme/img/warning.png" alt="info_icon"
					class="ben_warning_icon" />
</p> -->


<div class="modal-body text-center">
	<h2 class="subheading" translate="fna.alert"></h2>
	<!--   <span translate="[[deleteHeader]]" /> -->
	<!--    <span class="close_ben " ng-click="dvDeleteConfirm = !dvDeleteConfirm"></span> -->
	<!--  <button type="button" class="close" ng-click="dvDeleteConfirm = !dvDeleteConfirm">&times;</button> -->
	<p class="msg-content" translate="networkNotAvailableError"></p>
</div>
<!-- <p class="del_ben_warning_text">
		<span translate="networkNotAvailableError"></span>
</p> -->
<div class="row-fluid">
	<div class="span12">
		<div class="btn_wrapper clearfix center">
			<button id="cancel_benef" type="button"
			class="btn btn-block btn-primary pull-right"
			ng-click="this.cancel()" translate="fna.ok">
			</button>
		</div>
	</div>
</div>
</div>
<div class="general-modal-overlay ng-scope" ng-show="dvAlertPopup"></div>

      <!--Email PopUp -->
      <div class="popup_setpref_container_previous general-overlay-container ill_popup_container" ng-class="{'center_pop_up':emailpopup}" ng-show="emailpopup">
        <div class="email-header" style="padding: 10px;">
          <span class="text ng-scope" translate="sendEmailPopupHeader">Mailing Details</span>
          <i id="close_email_popup" class="fa fa-close" ng-click="cancelEmailPopup()"></i>
        </div>
        <div class="white-box " style="padding: 10px !important;">
          <div class="row-fluid">
            <div class="span12">
              <span class="span2" translate="general.mailto">To</span>
              <input type="text"  class="span10" id="to_name" name="toName" ng-model="emailToId">
            </div>
            <div class="span12">
              <span class="offset2 span10 ill-email-error-msg" ng-bind="emailToError"></span>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span12">
              <span class="span2" translate="general.mailcc">To</span>
              <input type="text"  class="span10"  id="cc_name" name="ccName" ng-model="emailccId">
            </div>
            <div class="span12">
              <span class="offset2 span10 ill-email-error-msg" ng-bind="emailCcError"></span>
            </div>
          </div>
		  <div class="row-fluid">
			<div class="span12">
				<span class="span2 textExpand" translate="general.mailSubject">SUBJECT</span>
				<textarea rows="3" cols="20" class="span10" id="sub" ng-model="emailSubject" readonly name="subject" pull-right></textarea>
			</div>            
			<div class="span12">
              <span class="offset2 span10 ill-email-error-msg" ng-bind="emailSubjectError"></span>
            </div>
          </div>
          <div class="email-send-btnblock">
            <button id="emailcancelButton" class="btn cancel-btn " translate="illustrator.cancelMessageInCaps" ng-click="cancelEmailPopup()">Cancel</button>
            <button id="emailokButton" class="btn btn-primary" ng-click="emailPopupOkClick()" translate="general.send">Send</button>
          </div>
        </div>
      </div>
      <div class="general-modal-overlay ng-scope" ng-show="emailpopup"></div>
      <!--Email Popup Ends -->
<!-- THE MODAL POPUP-->
<!-- Observation -->
<clickstream pageid=[[selectedpage]]>
</clickstream>
<!-- Observation -->

<!-- overlay popup container  starts-->
<div class="overlay_pop" style="width:100%" ng-show="overlayTC"></div>

<!-- LMS popup -->
<div class="overlay_TC" ng-show="leadDetShowPopUpMsg"></div>	
<div class=" text-center">
	<div id="login_popup_info" class="modal fade cust-modal-med in bg-white" ng-show="leadDetShowPopUpMsg" style="width: 375px;">

	    <div class="modal-header bg-white">
	        <div class="popup_info_img text-center"><img src="css/generali-theme/img/infored.png" width="25"></div>
	    </div>
	    <div class="modal-body">

	        <p class="large text-center"><span translate="[[enterMandatory]]"></span></p>
	        <div>
	            <button type="button" class="btncls login-popup-close" ng-click="closePopup()"><span translate="lms.popUpClose"></span></button>
	        </div>
	    </div>
    
</div>
</div>