  <!--Copyright 2015, LifeEngage -->
<div class="illustrator_full_container" id="illustrationMainTabs">
<div ng-init="paintNavigationTab()">

</div>
</div>

<!-- overlay popup container  starts-->
<div class="overlay_pop" style="width:100%" ng-show="overlayTC"></div>

<!-- LMS popup -->
<div class="overlay_TC" ng-show="leadDetShowPopUpMsg"></div>	
<div class=" text-center">
	<div id="login_popup_info" class="modal fade cust-modal-med in bg-white" ng-show="leadDetShowPopUpMsg" style="width: 375px;">

	    <div class="modal-header bg-white">
	        <div class="popup_info_img text-center"><img src="css/generali-theme/img/infored.png" width="25"></div>
	    </div>
	    <div class="modal-body">

	        <p class="large text-center"><span translate="[[enterMandatory]]"></span></p>
	        <div>
	            <button type="button" class="btncls login-popup-close" ng-click="closePopup()"><span translate="lms.popUpClose"></span></button>
	        </div>
	    </div>
    
</div>
</div>