
  <!--Copyright 2015, LifeEngage -->
  <!-- SCRIPT TO BE LOADED ON TOP  -->

<script type="text/javascript">
$(document).ready(function(){
	/**For updating value of calendar selected value same as value of text box**/
	<!-- if (!((rootConfig.isDeviceMobile))) { -->
		<!-- $("body").on("mouseover",".custdatepicker",function(){ -->
			<!-- if($(this).val().trim() != ""){ -->
				<!-- var dobDate = new Date($(this).val()); -->
				<!-- if((dobDate == "NaN" || dobDate == "Invalid Date")){ -->
					<!-- dobDate = new Date($(this).val().split("-").join("/")); -->
				<!-- } -->
				<!-- $(this).datepicker('setDate', dobDate); -->
				<!-- $(this).datepicker('update'); -->
			<!-- } -->
		<!-- }) -->
	<!-- } -->
})

</script>



<!-- SCRIPT TO BE LOADED ON TOP ENDS -->
<!-- SINGLE HANDLE SLIDER -->

<div class="container_tlr_fluid">

	<div id="HeaderDetails">
	
	</div>
	<div ng-include="'modules/illustrator/partials/NavigationTab.html'" ng-controller="GLI_NavigationTabController">
	
	</div>
	<div class="tablet-potrait-container">
		<div class="customtab illustrator_full_container illustration" id="PersonalDetails">
			
			
		</div>
	</div>
	
	<div class="container  padding-topbottom10 bottom-btn-container">
		<div class="row">
			<div class="col-sm-12">
				<div class="">
					<div class="row-fluid errorBlockPosition" ng-show="notifyMsg">
					<div class="span12">
						<div id="notifyMsg" class="notification_msgs general_brd span12">
							<span id="notifyIcon"  ng-class="{'fa fa-check circle-green':!notifyerror,'error_icon ':notifyerror}"></span><span
								class="success_alert_content" ng-class="{'success_alert_content':!notifyerror,'error_alert_content ':notifyerror}" id="notifyMsgContent">[[notifyMessage]]</span>
						</div>
					</div>
					</div>
				
				
					<div class="row">
					<div class="col-sm-4">
						<div class="col-sm-8">
							<button class="btn btn-default btn-block btnBorderCustom uppercase" ng-click="exitIllustrationFromPersonalInfo()"
							translate="btnExit" id="exitbtnpersonal">
							Exit</button>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="col-sm-2"></div>
						<div class="col-sm-8">
							<button class="btn btn-primary btn-block uppercase" ng-click="saveIllustrationFromPersonalInfo()"
							translate="btnSave" id="savebtnpersonal" ng-disabled="disableControl">
							Save</button>
						</div>
						<div class="col-sm-2"></div>
					</div>
					
					<div class="col-sm-4">
						<div class="col-sm-8 float-right float-mobile-none">
							<button class="btn btn-primary btn-block uppercase" id="personal_details_proceed_btn" ng-Click="proceedToProductDetails()" type="button" 
							ng-disabled="errorCount != 0" translate="general.SIProceed"></button>	
						</div>
					</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	
</div>

<!-- Observation -->
	
	<clickstream pageid=[[selectedpage]]>	
	</clickstream>
<!-- Observation -->

<lepopup control="lePopupCtrl"/>

<!-- overlay popup container  starts-->
<div class="overlay_pop" style="width:100%" ng-show="overlayTC"></div>

<!-- LMS popup -->
<div class="overlay_TC" ng-show="leadDetShowPopUpMsg"></div>

<!-- Overlay for Error Bubble -->
<div class="overlay_TC_ErrorBubble" ng-show="isPopupDisplayed"></div>

<div class=" text-center">
	<div id="login_popup_info" class="modal fade cust-modal-med in bg-white" ng-show="leadDetShowPopUpMsg" style="width: 375px;">

	    <div class="modal-header bg-white">
	        <div class="popup_info_img text-center"><img src="css/generali-theme/img/infored.png" width="25"></div>
	    </div>
	    <div class="modal-body">

	        <p class="large text-center"><span translate="[[enterMandatory]]"></span></p>
	        <div>
	            <button type="button" class="btncls login-popup-close" ng-click="closePopup()"><span translate="lms.popUpClose"></span></button>
	        </div>
	    </div>
    
</div>
</div>
