  <!--Copyright 2015, LifeEngage -->
               
<div class="container_tlr_fluid">

	<div id="HeaderDetails">
	
	</div>
	<div ng-include="'modules/illustrator/partials/NavigationTab.html'" ng-controller="GLI_NavigationTabController">
	
	</div>
	<div class="tablet-potrait-container">
		<div class="customtab illustrator_full_container">
			<div  id="ProductDetails"></div>
			<div class="container" ng-hide="benefitSummaryShown">
			<div class="row">
			<div class="col-sm-9">
				<div class="product-button-position row">
					<div class="col-sm-12">
						<div id="notifyMsg" class="notification_msgs general_brd errorBlockPosition" ng-show="notifyMsg">
							<span id="notifyIcon" ng-class="{'fa fa-check circle-green':!notifyerror,'error_icon ':notifyerror}"></span>
							<span class="success_alert_content" ng-class="{'success_alert_content':!notifyerror,'error_alert_content ':notifyerror}" id="notifyMsgContent" translate="[[notifyMessage]]"></span>
						</div>
						<div class="col-sm-3 float-right">
							<button class="btn btn-primary btn-block uppercase" ng-click="saveIllustrationFromProductInfo()"
							translate="btnSave" id="saveproduct"  ng-disabled="disableControl">
							Save</button>
						</div>
						<div class="col-sm-3 btn-pos-mob">
							<button class="btn btn-default btnBorderCustom highlight btn-block uppercase" ng-click="exitIllustrationFromProductInfo()"
							translate="btnExit" id="saveproduct">
							Save</button>
						</div>

					</div>
				</div>
			</div>
			</div>
			</div>
		</div>
	</div>
	

</div>                                                                                                                              
<!-- Observation -->
	<clickstream pageid=[[selectedpage]]>	
	</clickstream>
	
<!-- Observation -->    
<lepopup control="lePopupCtrl"/>

<div id="riderModal" class="riderModal"  ng-show = "IsVisible" >
    <div class="modalContainer">
        <!--   <button type="button" class="close" ng-click="IsVisible=false">×</button>  -->
        <span translate="[[toolTip]]"></span>
    </div>
</div>
<div class="modalWrapper" ng-click="IsVisible=false" ng-class="{'show':IsVisible}"></div>

<!-- overlay popup container  starts-->
<div class="overlay_pop" style="width:100%" ng-show="overlayTC"></div>

<!-- LMS popup -->
<div class="overlay_TC" ng-show="leadDetShowPopUpMsg"></div>

<!-- Overlay for Error Bubble -->
<div class="overlay_TC_ErrorBubble" ng-show="isPopupDisplayed"></div>

<div class=" text-center">
	<div id="login_popup_info" class="modal fade cust-modal-med in bg-white" ng-show="leadDetShowPopUpMsg" style="width: 375px;">

	    <div class="modal-header bg-white">
	        <div class="popup_info_img text-center"><img src="css/generali-theme/img/infored.png" width="25"></div>
	    </div>
	    <div class="modal-body">

	        <p class="large text-center">[[enterMandatory]]</p>
	        <div>
	            <button type="button" class="btncls login-popup-close" ng-click="closePopup()"><span translate="lms.popUpClose"></span></button>
	        </div>
	    </div>
    
</div>
</div>