
<div class="container_tlr_fluid">
	<div class="feedback_section_container">
		<div class="row-fluid">
			<div class="span12">
				<div class="feedback-radio-wrapper" id="FeedbackIssueHeaderSection">
				
				</div>
			</div>
		</div>
		<div class="triangle-border-wrapper"  ng-class="{'issue-selected':type=='Issue'}"></div>
		<div class="row-fluid">
			<div class="span12">
				<div class="feedback-control-wrapper">
					<div class="row-fluid">
						<div id="FeedbackIssueDetailsSection">
				
						</div>
					</div>
					<div class="row-fluid mrg_top25">
					<div class="span12 ">
					<span class="input-label" ></span>
					<span class="input-data clearfix">
						<div  data-ng-repeat="photoImage in addPhotoImage" class="thumbnail-wrapper">
							    <img ng-src="[[photoImage.source]]" class="up-thumbnail"/>
							    <span class="delete-icon" ng-click="deleteThumbnail($index)"></span>
						</div>
						 </span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="feedback-submit-section" id="submitSection">
		
	</div>
</div>
<lepopup control="lePopupCtrl"/>