<!--Copyright 2015, LifeEngage -->
<!-- SCRIPT TO BE LOADED ON TOP  
<script type="text/javascript" src="lib/vendor/general/tab-accordion.js"></script>-->

<!-- SCRIPT TO BE LOADED ON TOP ENDS -->

 <lepopup control="lePopupCtrl"/>
<div class="landing_page_wrapper">
	<div class="visible-tablet">	
		<!-- Content Start
	    ================================================== -->
	    <div class="home-image-banner push">
		    <img src="css/generali-theme/img/banner-demo1.jpg" alt="banner-demo" class="fullimage">
		    <form action="" class="">
			   <div class="container">
                   <div class="input-append search-input-area pull-right">
                       <input class="" id="appendedInputButton" type="text" placeholder="[[convertertranslate('searchLabel')]]" ng-model="searchValue" class="dropdown-toggle" ng-keydown="onEnterClickEvent(searchValue)"  show-hide-dropdown>
                       <button class="btn active btn-large search_icon" type="button" ng-click='SearchHome(searchValue)'><i class="fa fa-search"></i> </button>
                       	<ul ng-show="showDropDown" class="dropdown-menu">   
	                        <li ng-repeat = "item in searchResultArray" ng-click=List(item.mode,'','',searchValue)><a href=""><span class="red-text"><strong>[[item.count]]</strong></span><span translate="[[item.mode]]"></span></a> </li>
                        </ul>
                   </div>
                   
			   </div>
           </form>
		    <div id="landingCarousel" class="carousel slide " data-interval="false" swipe-carousel>
			  <ol class="carousel-indicators">
			    <li data-target="#landingCarousel" data-slide-to="0" >
					<span></span>
				</li>
			    <li data-target="#landingCarousel" data-slide-to="1" class="active">
					<span></span>
				</li>
			  </ol>
			  <!-- Carousel items -->
			  <div class="carousel-inner">
			    <div class=" item">
				    <div class="container">					    
					    <div class="row-fluid text-center">
						    <h1 class="subheading subheading-landing" translate="lms.leadDetails"></h1>
						    <div class="line"></div>
					    </div>
						<div class="row-fluid" style="margin-top: 14px;">
							
				            <div class="span3">
				                <div class="box ">
									<!-- <div class="triangle-overlay"></div> -->
					                
				                    <img class="img-responsive" src="css/generali-theme/img/img1.jpg" alt="">
				                    <div class="box-heading">
					                    <a href="" ng-click=List('Lead','','','')><h5  class="orange-txt"><span translate="fna.knowmyclient"></span><i class="fa fa-angle-right arrow_right"></i></h5></a>
					                    <!-- ng-click=List('Lead','','','') -->
				                    </div>
				                    <div class="box-content cnt-a">
			                        	<div class="box_desc"><p translate="fna.knowmyclientDesc">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Nullam quis erat dui. </p></div>
				                        <div class="text-right"><a class="btn btn-orange" href=""  ng-click=createNew('Lead')>+ <span translate="fna.addNew"></span></a></div>
				                    </div>
				                </div>
				            </div>
				            <div class="span3">
				                <div class="box ">
					                <!-- <div class="triangle-overlay"></div> -->
					                
				                    <img class="img-responsive" src="css/generali-theme/img/img2.jpg" alt="">
				                    <div class="box-heading">
					                    <a href="" ng-click=List('fna','','','') class="orange-txt" ><h5  class="orange-txt"><span translate="fna.fnaHeadingDashboard"></span><i class="fa fa-angle-right arrow_right"></i></h5></a>
					                    <!-- ng-click=List('fna','','','') -->
				                    </div>
				                    <div class="box-content cnt-a">
			                        	<div class="box_desc"><p translate="fna.fnaDesc">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Nullam quis erat dui. </p></div>
				                        <div class="text-right"><a class="btn btn-orange" href="" ng-click=List('fna','','','') >+ <span translate="fna.addNew"></span></a></div><!-- ng-click=createNew('FNA') -->
				                    </div>
				                </div>
				            </div>
				            <div class="span3">
				                <div class="box ">
					                <!-- <div class="triangle-overlay"></div> -->
					                
				                    <img class="img-responsive" src="css/generali-theme/img/img3.jpg" alt="">
				                    <div class="box-heading">
					                   <a href=""  ng-click=List('illustration','','','') class="orange-txt" ><h5 class="orange-txt"><span translate="fna.illustration"></span> <i class="fa fa-angle-right arrow_right"></i></h5></a>
					                   
				                    </div>
				                    <div class="box-content cnt-a">
			                       		<div class="box_desc"><p translate="fna.illustrationDesc">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Nullam quis erat dui. </p></div>
				                        <div class="text-right"><a class="btn btn-orange" href="" ng-click=createNew('Illustration')>+ <span translate="fna.addNew"></span></a></div><!--  -->
				                    </div>
				                </div>
				            </div>
				            <div class="span3 float-mob">
				                <div class="box ">
					                <!-- <div class="triangle-overlay"></div> -->
					                
				                    <img class="img-responsive" src="css/generali-theme/img/img4.jpg" alt="">
				                    <div class="box-heading">
					                    <a href="" ng-click=List('eApp','','','') class="orange-txt" ><h5 class="orange-txt"><span  translate="fna.proposals"></span> <i class="fa fa-angle-right arrow_right"></i></h5></a>
					                    <!-- ng-click=List('eApp','','','') -->
				                    </div>
				                    <div class="box-content cnt-a">
			                        	<div class="box_desc"><p translate="fna.proposalDesc">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Nullam quis erat dui. </p></div>
				                        <!-- <div class="text-right"><a class="btn btn-orange" href="" ng-click=createNew('Proposal')>+ <span translate="fna.addNew"></span></a></div> -->
				                    </div>
				                </div>
				            </div>
						
						</div>
					</div>					    
			    </div>
			    <div class="active item">
				    <div class="container">
						<div class="text-center" style="margin-bottom: 40px;">
							<h1 class="subheading subheading-landing" translate="lms.salesDashboard"></h1>
							<div class="line"></div>
						</div>
						<div class="white-box">
							<div class="row-fluid">
								<div class="col-xs-12">
									
								    <ul class="sales-dashboard">
						
							            <li  class="text-center">
							            	<a href=""  ng-click=List('Lead','','','')><h5 class="text-left mrg-left"><span translate="fna.knowmyclient"></span><i class="fa fa-angle-right"></i></h5></a>						            	
							            	 <!-- <div class="chart-holder" id="chart1" style=""></div>	  -->
											
											 <div donut-chart class="chart-holder" chart-data="[[donutCountListLMS]]"  id = "chart1" type = "donut" ></div> 

	 													
							            	<div class="number"><a href="" ng-click=List('Lead','',lmsStaticCountVar.mode,'')><h1 class="subheading-blk">[[lmsStaticCountVar.count]] <h3 class="subheading-grey"><span translate="lms.newEApp"></span></h3></h1></a></div>
							            	<div class="legend">
								            	<!--<table class=""  cellpadding="6">
									            	<tr ng-repeat="item in lmsStatusCountList.subModes" ng-click=List('Lead','',item.mode,searchValue)>
														<td><div class="color-box" ng-class="{'color_box[[$index]]':[$index < 5]}"></div></td>
										            	<td class="text-left">[[item.mode]]</td>
										            	<td class="text-right">[[item.count]]</td>
									            	</tr>
								            	</table>-->
												<table class="" cellpadding="6">
									            	<tr ng-click=List('Lead','',lmsStatusCountList.subModes[1].mode,searchValue)>
										            	<td><div class="color-box color_box0" ></div></td>
										            	<td class="text-left"><span translate= "lms.newEApp"></span></td>
										            	<td class="text-right text-red">[[lmsStatusCountList.subModes[0].count]]</td>
									            	</tr>
									            	
									            	<tr>
										            	<td><div class="color-box color_box1"></div></td>
										            	<td class="text-left"><span translate= "lms.open"></span></td>
										            	<td class="text-right text-red">[[lmsStatusCountList.subModes[2].count]]</td>
									            	</tr>
									            	
									            	<!--  <tr ng-click=List('Lead','',lmsStatusCountList.subModes[2].mode,searchValue)>
										            	<td><div class="color-box color_box2"></div></td>
										            	<td class="text-left"><span translate= "lms.submissionStatus"></td>
										            	<td class="text-right">[[lmsStatusCountList.subModes[2].count]]</td>
									            	</tr>  -->
								            	</table>
							            	</div>
							            				                
							            </li>
							            <li  class="text-center">		
							            	<a href="" ng-click=List('fna','','','') class="orange-txt" ><h5 class="text-left"><span  translate="fna.fnaHeadingDashboard"></span><i class="fa fa-angle-right"></i></h5></a>		
							            			            	<!-- ng-click=List('fna','','','') -->
							            	 <!-- <div class="chart-holder" id="chart2" style=""></div>	  -->
											  <div donut-chart class="chart-holder" chart-data="[[fnaStatusCountList]]"  id = "chart2" type = "donut" ></div> 

							            	<!--<div donut-chart class="chart-holder" chart-data="fnaStatusCountList.subModes"  id = "chart2" type = "donut" ></div> 	--> 
							            	<div class="number"><a href="" ng-click=List('fna','',fnaStaticCountVar.mode)><h1 class="subheading-blk">[[fnaStaticCountVar.count]] <h3 class="subheading-grey"><span translate="lms.draftStatus"></span></h3></h1></a></div>
							            	<!-- ng-click=List('fna','',fnaStaticCountVar.mode) -->
							            	<div class="legend">
								            	<table class="" cellpadding="6">
									            	<tr ng-click=List('fna','',fnaStatusCountList.subModes[0].mode,searchValue)><!-- ng-click=List('fna','',fnaStatusCountList.subModes[0].mode,searchValue) -->
										            	<td><div class="color-box color_box0" ></div></td>
										            	<td class="text-left"><span translate= "lms.draftStatus"></span></td>
										            	<td class="text-right text-red">[[fnaStatusCountList.subModes[0].count]]</td>
									            	</tr>
									            	
									            	<tr ng-click=List('fna','',fnaStatusCountList.subModes[1].mode,searchValue)><!-- ng-click=List('fna','',fnaStatusCountList.subModes[1].mode,searchValue) -->
										            	<td><div class="color-box color_box1"></div></td>
										            	<td class="text-left"><span translate= "lms.completedStatus"></span></td>
										            	<td class="text-right text-red">[[fnaStatusCountList.subModes[1].count]]</td>
									            	</tr>
									            	
									            	<!-- <tr ng-click=List('fna','',fnaStatusCountList.subModes[2].mode,searchValue)>
										            	<td><div class="color-box color_box2"></div></td>
										            	<td class="text-left"><span translate= "lms.fnaReportStatus"></td>
										            	<td class="text-right">[[fnaStatusCountList.subModes[2].count]]</td>
									            	</tr>  -->
								            	</table>
							            	</div>	
							            					                
							            </li>
							           <li  class="text-center">	
							            	<a href="" class="orange-txt" class="orange-txt" ng-click=List('illustration','','','')><h5 class="text-left landing-mob-lable"> <span translate="fna.illustration"></span> <i class="fa fa-angle-right"></i></h5></a>				<!--  -->	            	
							            	 <!-- <div class="chart-holder" id="chart3" style=""></div>	  -->
											  <div donut-chart class="chart-holder landing-mob-donut-chart" chart-data="[[biStatusCountList]]"  id = "chart3" type = "donut" ></div> 
							            	<!--<div donut-chart class="chart-holder" chart-data="biStatusCountList.subModes"  id = "chart3" type = "donut" ></div> --> 	
							            	<div class="number landing-mob-number"><a href="" ng-click=List('illustration',IlltnStaticCountVar.mode,IlltnStaticCountVar.mode)><h1 class="subheading-blk">[[IlltnStaticCountVar.count]] <h3 class="subheading-grey"><span translate="lms.completedBIStatus"></span></h3></h1></a></div>
							            	<!--   -->
							            	<div class="legend landing-mob-legend">
								            	<table class="" cellpadding="6">
									            	<tr ng-click=List('illustration','',biStatusCountList.subModes[0].mode,searchValue)>
										            	<td><div class="color-box color_box0" ></div></td>
										            	<td class="text-left"><span translate= "lms.draftBIStatus"></span></td>
										            	<td class="text-right text-red">[[biStatusCountList.subModes[0].count]]</td>
									            	</tr>
									            	
									            	<tr ng-click=List('illustration','',biStatusCountList.subModes[1].mode,searchValue)>
										            	<td><div class="color-box color_box1"></div></td>
										            	<td class="text-left"><span translate= "lms.completedBIStatus"></span></td>
										            	<td class="text-right text-red">[[biStatusCountList.subModes[1].count]]</td>
									            	</tr>
									            	
									             	<tr ng-click=List('illustration','',biStatusCountList.subModes[2].mode,searchValue)>
										            	<td><div class="color-box color_box2"></div></td>
										            	<td class="text-left"><span translate= "lms.confirmedBIStatus"></span></td>
										            	<td class="text-right text-red">[[biStatusCountList.subModes[2].count]]</td>
									            	</tr> 
								            	</table>
							            	</div>
							            				                
							            </li>
							           <li  class="text-center">	
							            	<a href="" class="orange-txt" ng-click=List('eApp','','','')><h5  class="text-left landing-mob-lable"> <span  translate="fna.proposals"></span> <i class="fa fa-angle-right"></i></h5></a>		
							            	<!-- ng-click=List('eApp','','','') -->		            	
							            	 <!-- <div class="chart-holder" id="chart4" style=""></div>	  -->
							            	<div donut-chart class="chart-holder landing-mob-donut-chart" chart-data="[[eAppStatusCountList]]"  id = "chart4" type = "donut" ></div> 
							            	<div class="number landing-mob-number"><a href="" ng-click=List('eApp','',eAppStaticCountVar.mode)><h1 class="subheading-blk">[[eAppStaticCountVar.count]] <h3 class="subheading-grey"><span translate="lms.newEapp"></span></h3></h1></a></div>
							            	<!-- ng-click=List('eApp','',eAppStaticCountVar.mode) -->
							            	<div class="legend landing-mob-legend">
								            	<table class="" cellpadding="6">
									            	<tr ng-click=List('eApp','',eAppStatusCountList.subModes[0].mode,searchValue)>
										            	<td><div class="color-box color_box0" ></div></td>
										            	<td class="text-left"><span translate= "lms.draftBIStatus"></span></td>
										            	<td class="text-right text-red">[[eAppStatusCountList.subModes[0].count]]</td>
									            	</tr>
									            	<tr ng-click=List('eApp','',eAppStatusCountList.subModes[1].mode,searchValue) >
										            	<td><div class="color-box color_box1"></div></td>
										            	<td class="text-left"><span translate= "lms.submittedEApp"></span></td>
										            	<td class="text-right text-red">[[eAppStatusCountList.subModes[1].count]]</td>
									            	</tr>
									            	<tr ng-click=List('eApp','',eAppStatusCountList.subModes[2].mode,searchValue)>
										            	<td><div class="color-box color_box2"></div></td>
										            	<td class="text-left"><span translate= "lms.confirmedEApp"></span></td>
										            	<td class="text-right text-red">[[eAppStatusCountList.subModes[2].count]]</td>
									            	</tr>
								            	</table>
							            	</div>				                
							            </li>
							 		</ul>
								</div>
								     
							</div>
						</div>
					</div>
			    </div>
			  </div>				  
			</div>
		    
		   
		</div>  
		</div>
		<div class="hidden-tablet" style="display: none;">
			<div class="home-image-banner">
				<img src="css/generali-theme/img/banner-demo.jpg" alt="banner-demo" class="fullimage">
			    <form action="" class="hidden-phone">
				   <div class="container">
	                   	<div class="input-append search-input-area pull-right">
	                       	<input class="" id="appendedInputButton" type="text" placeholder="[[convertertranslate('searchLabel')]]" ng-model="searchValue" class="dropdown-toggle"  show-hide-dropdown>
	                       	<button class="btn active btn-large" type="button"  ng-click='SearchHome(searchValue)'><i class="fa fa-search"></i> </button>
	                       	<ul ng-show="showDropDown" class="dropdown-menu">   
	                        <li ng-repeat = "item in searchResultArray" ng-click=List(item.mode,'','',searchValue)><a href=""><span class="red-text"><strong>[[item.count]]</strong></span>[[item.mode]]</a> </li>
                        </ul>
	                   	</div>
				   </div>
               </form>
			    <div class="container">					    
				    <div class="row-fluid text-center">
					    <h1 class="subheading">LEAD JOURNEY</h1>
					    <div class="line"></div>
				    </div>
					<div class="row-fluid">
						
			            <div class="span3">
			                <div class="box ">
								<!-- <div class="triangle-overlay"></div> -->
				                
			                    <img class="img-responsive" src="css/generali-theme/img/img1.png" alt="">
			                    <div class="box-heading">
				                    <a href=""  ng-click=List('Lead','')><h5><span translate="fna.knowmyclient"></span><i class="fa fa-angle-right"></i></h5></a>
			                    </div>
			                    <div class="box-content cnt-a">
			                        <div class="box_desc"><p  translate="fna.knowmyclientDesc">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Nullam quis erat dui. </p></div>
			                        <div class="text-right"><a class="btn btn-primary" href="" ng-click=createNew('Lead')>+ <span translate="fna.addNew"></span></a></div>
			                    </div>
			                </div>
			            </div>
			            <div class="span3">
			                <div class="box ">
				                <!-- <div class="triangle-overlay"></div> -->
				                
			                    <img class="img-responsive" src="css/generali-theme/img/img2.png" alt="">
			                    <div class="box-heading">
				                    <a href="" class="orange-txt" ng-click=List('fna','')><h5 class="orange-txt"><span translate="fna.fnaHeadingDashboard"></span><i class="fa fa-angle-right"></i></h5></a>
			                    </div>
			                    <div class="box-content cnt-a">
			                        <div class="box_desc"><p translate="fna.fnaDesc">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Nullam quis erat dui. </p></div>

			                        <div class="text-right"><a class="btn btn-primary" href="" ng-click=createNew('FNA')>+ <span translate="fna.addNew"></span></a></div>

			                    </div>
			                </div>
			            </div>
			            <div class="span3">
			                <div class="box ">
				                <!-- <div class="triangle-overlay"></div> -->
				                
			                    <img class="img-responsive" src="css/generali-theme/img/img3.png" alt="">
			                    <div class="box-heading">
				                   <a href=""  ng-click=List('illustration','')><h5><span translate="fna.illustration"></span> <i class="fa fa-angle-right"></i></h5></a>
			                    </div>
			                    <div class="box-content cnt-a">
			                        <div class="box_desc"><p translate="fna.illustrationDesc">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Nullam quis erat dui. </p></div>
			                        <div class="text-right"><a class="btn btn-primary" href="" ng-click=createNew('Illustration')>+ <span translate="fna.addNew"></span></a></div>
			                    </div>
			                </div>
			            </div>
			            <div class="span3">
			                <div class="box ">
				                <!-- <div class="triangle-overlay"></div> -->
				                
			                    <img class="img-responsive" src="css/generali-theme/img/img4.png" alt="">
			                    <div class="box-heading">
				                    <a href="" ng-click=List('eApp','')><h5><span  translate="fna.proposals"></span> <i class="fa fa-angle-right"></i></h5></a>
			                    </div>
			                    <div class="box-content cnt-a">
			                        <div class="box_desc"><p translate="fna.proposalDesc">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Nullam quis erat dui. </p></div>
			                        <!-- <div class="text-right"><a class="btn btn-primary" href="" ng-click=createNew('Proposal')>+ <span translate="fna.addNew"></span></a></div> -->
			                    </div>
			                </div>
			            </div>
					
					</div>
				</div>
			</div>
			<div class="container">
				<div class="text-center">
					<h1 class="subheading">SALES DASHBOARD</h1>
					<div class="line"></div>
				</div>
				<div class="white-box">
					<div class="row-fluid">
						<div class="span12">
							
						    <ul class="sales-dashboard">
						
							            <li  class="text-center">
							            	<a href=""  ng-click=List('Lead','')><h5><span translate="fna.knowmyclient"></span><i class="fa fa-angle-right"></i></h5></a>						            	
							            	 <!-- <div donut-chart class="chart-holder"  chart-data="(summary | filter:'LMS')" id="chart5" style=""></div>	 -->
											 <div donut-chart class="chart-holder" chart-data="[[lmsStatusCountList]]"  id = "chart5" type = "donut" ></div> 
																							
											<!-- <div class="chart-holder" id="chart5" style=""></div>											  -->
							            	<div class="number"><a href="" ng-click=List('Lead','',lmsStaticCountVar.mode,'')><h1 class="subheading-blk">[[lmsStaticCountVar.count]] <h3 class="subheading-grey">[[lmsStaticCountVar.mode]]</h3></h1></a></div>
							            	<div class="legend">
								            	<!--<table class="" cellpadding="6">
									            	<tr ng-repeat="item in lmsStatusCountList.subModes" ng-click=List('Lead','',item.mode,searchValue)>
										            	<td><div class="color-box" ng-class="{'color_box[[$index]]':[$index < 5]}"></div></td>
										            	<td class="text-left">[[item.mode]]</td>
										            	<td class="text-right">[[item.count]]</td>
									            	</tr>
								            	</table>-->
												<table class="" cellpadding="6">
									            	<tr ng-click=List('Lead','',lmsStatusCountList.subModes[0].mode,searchValue)>
										            	<td><div class="color-box color_box0" ></div></td>
										            	<td class="text-left"><span translate= "lms.newEApp"></span></td>
										            	<td class="text-right orange-text">[[lmsStatusCountList.subModes[0].count]]</td>
									            	</tr>
									            	
									            	<tr ng-click=List('Lead','',lmsStatusCountList.subModes[1].mode,searchValue)>
										            	<td><div class="color-box color_box1"></div></td>
										            	<td class="text-left"><span translate= "lms.open"></span></td>
										            	<td class="text-right orange-text">[[lmsStatusCountList.subModes[1].count]]</td>
									            	</tr>
									            	
									            	<tr ng-click=List('Lead','',lmsStatusCountList.subModes[2].mode,searchValue)>
										            	<td><div class="color-box color_box2"></div></td>
										            	<td class="text-left"><span translate= "lms.submissionStatus"></td>
										            	<td class="text-right orange-text">[[lmsStatusCountList.subModes[2].count]]</td>
									            	</tr> 
								            	</table>
							            	</div>												
							            </li>
							            <li  class="text-center">		
							            	<a href="" class="orange-txt" ng-click=List('fna','')><h5 class="orange-txt"><span translate="fna.fnaHeadingDashboard"></span> <i class="fa fa-angle-right"></i></h5></a>				            	
							            	<!-- <div class="chart-holder" id="chart6" style=""></div>	 -->
											 <div donut-chart class="chart-holder" chart-data="[[fnaStatusCountList]]"  id = "chart6" type = "donut" ></div>
							            	<div class="number"><a href="" ng-click=List('fna','',fnaStaticCountVar.mode)><h1 class="subheading-blk">[[fnaStaticCountVar.count]] <h3 class="subheading">[[fnaStaticCountVar.mode]]</h3></h1></a></div>
							            	<div class="legend">
								            	<table class="" cellpadding="6">
									            	<tr ng-click=List('fna','',fnaStatusCountList.subModes[0].mode,searchValue)>
										            	<td><div class="color-box color_box0" ></div></td>
										            	<td class="text-left"><span translate= "lms.draftStatus"></span></td>
										            	<td class="text-right orange-text">[[fnaStatusCountList.subModes[0].count]]</td>
									            	</tr>
									            	
									            	<tr ng-click=List('fna','',fnaStatusCountList.subModes[1].mode,searchValue)>
										            	<td><div class="color-box color_box1"></div></td>
										            	<td class="text-left"><span translate= "lms.completedStatus"></span></td>
										            	<td class="text-right orange-text">[[fnaStatusCountList.subModes[1].count]]</td>
									            	</tr>
									            	
									            	<tr ng-click=List('fna','',fnaStatusCountList.subModes[2].mode,searchValue)>
										            	<td><div class="color-box color_box2"></div></td>
										            	<td class="text-left"><span translate= "lms.fnaReportStatus"></td>
										            	<td class="text-right orange-text">[[fnaStatusCountList.subModes[2].count]]</td>
									            	</tr> 
								            	</table>
							            	</div>
											<!--
							            	<div class="legend" >
								            	<table class="" cellpadding="6">
									            	<tr  ng-repeat="item in fnaStatusCountList.subModes" ng-click=List('fna','',item.mode,searchValue)>
										            	<td><div class="color-box" ng-class="{'color_box[[$index]]':[$index < 5]}"></div></td>
										            	<td class="text-left">[[item.mode]]</td>
										            	<td class="text-right">[[item.count]]</td>
									            	</tr>
									            	
								            	</table>
							            	</div>	-->
												
							            </li>
							           <li  class="text-center">	
							            	<a href=""  ng-click=List('illustration','')><h5><span translate="fna.illustration"></span> <i class="fa fa-angle-right"></i></h5></a>					            	
							            	<!-- <div class="chart-holder" id="chart7" style=""></div>	 -->
											<div donut-chart class="chart-holder" chart-data="[[biStatusCountList]]"  id = "chart7" type = "donut" ></div> 
							            	<div class="number"><a href=""  ng-click=List('illustration',IlltnStaticCountVar.mode,IlltnStaticCountVar.mode)><h1 class="subheading-blk">[[IlltnStaticCountVar.count]] <h3 class="subheading">[[IlltnStaticCountVar.mode]]</h3></h1></a></div>
							            	<div class="legend">
								            	<table class="" cellpadding="6">
									            	<tr  ng-click=List('illustration','',biStatusCountList.subModes[0].mode,searchValue)>
										            	<td><div class="color-box color_box0" ></div></td>
										            	<td class="text-left"><span translate= "lms.draftBIStatus"></span></td>
										            	<td class="text-right orange-text">[[biStatusCountList.subModes[0].count]]</td>
									            	</tr>
									            	
									            	<tr  ng-click=List('illustration','',biStatusCountList.subModes[1].mode,searchValue)>
										            	<td><div class="color-box color_box1"></div></td>
										            	<td class="text-left"><span translate= "lms.completedBIStatus"></span></td>
										            	<td class="text-right orange-text">[[biStatusCountList.subModes[1].count]]</td>
									            	</tr>
									            	
									            	<tr  ng-click=List('illustration','',biStatusCountList.subModes[2].mode,searchValue)>
										            	<td><div class="color-box color_box2"></div></td>
										            	<td class="text-left"><span translate= "lms.confirmedBIStatus"></span></td>
										            	<td class="text-right orange-text">[[biStatusCountList.subModes[2].count]]</td>
									            	</tr>
								            	</table>
							            	</div>
											<!--<div class="legend">
								            	<table class="" cellpadding="6">
									            	<tr ng-repeat="item in biStatusCountList.subModes" ng-click=List('illustration','',item.mode,searchValue)>
										            	<td><div class="color-box" ng-class="{'color_box[[$index]]':[$index < 5]}"></div></td>
										            	<td class="text-left">[[item.mode]]</td>
										            	<td class="text-right">[[item.count]]</td>
									            	</tr>		
								            	</table>
							            	</div>-->
							            </li>
							           <li  class="text-center">	
							            	<a href=""  ng-click=List('eApp','')><h5><span translate="fna.proposals"></span> <i class="fa fa-angle-right"></i></h5></a>				            	
							            	<!-- <div class="chart-holder" id="chart8" style=""></div>	 -->
												<div donut-chart class="chart-holder" chart-data="[[eAppStatusCountList]]"  id = "chart8" type = "donut" ></div> 
							            	<div class="number"><a href="" ng-click=List('eApp','',eAppStaticCountVar.mode)><h1 class="subheading-blk">[[eAppStaticCountVar.count]] <h3 class="subheading">[[eAppStaticCountVar.mode]]</h3></h1></a></div>
							            	<div class="legend">
								            	<table class="" cellpadding="6">
									            	<tr><!-- ng-click=List('eApp','',eAppStatusCountList.subModes[0].mode,searchValue) -->
										            	<td><div class="color-box color_box0" ></div></td>
										            	<td class="text-left"><span translate= "lms.newEApp"></span></td>
										            	<td class="text-right orange-text">[[eAppStatusCountList.subModes[0].count]]</td>
									            	</tr>
									            	<tr ng-click=List('eApp','',eAppStatusCountList.subModes[1].mode,searchValue)>
										            	<td><div class="color-box color_box1"></div></td>
										            	<td class="text-left"><span translate= "lms.submittedEApp"></span></td>
										            	<td class="text-right orange-text">[[eAppStatusCountList.subModes[1].count]]</td>
									            	</tr>
									            	<tr ng-click=List('eApp','',eAppStatusCountList.subModes[2].mode,searchValue)>
										            	<td><div class="color-box color_box2"></div></td>
										            	<td class="text-left"><span translate= "lms.confirmedEApp"></span></td>
										            	<td class="text-right orange-text">[[eAppStatusCountList.subModes[2].count]]</td>
									            	</tr>
								            	</table>
							            	</div>
											<!--<div class="legend">
								            	<table class="" cellpadding="6">
									            	<tr ng-repeat="item in eAppStatusCountList.subModes" ng-click=List('eApp','',item.mode,searchValue)>
										            	<td><div class="color-box" ng-class="{'color_box[[$index]]':[$index < 5]}"></div></td>
										            	<td class="text-left">[[item.mode]]</td>
										            	<td class="text-right">[[item.count]]</td>
									            	</tr>
								            	</table>
							            	</div>	-->
											
							            </li>
							 </ul>
						</div>
						     
					</div>
				</div>
			</div>
			
			<div class="spacing"></div>
		</div>
	
				
			<div class="bg-dark">
				<div class="container">
					<div class="row-fluid">					
			            <div class="span6">
			                <div  id="ProdDesc" class="white-box landing-box">	
				                
			                    <img src="css/generali-theme/img/icon/light.png" alt="icon-light" width="63" class="pull-right">	                
			                    <a href="" ng-click=createNew('Product')><h5><span class="orange-txt" translate= "lms.products"></span> <i class="fa fa-angle-right"></i></h5></a>
			                    <p translate= "lms.productDesc" class="margin-left20">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Nullam quis erat dui. </p>		                   
			                </div>
			            </div>
			            <div class="span6">
			                <div class="white-box landing-box">		
				                
			                    <img src="css/generali-theme/img/icon/aboutus.png" alt="about-us" width="63" class="pull-right">                
			                    <a href="" ng-click=createNew('aboutGenerali')><h5><span class="orange-txt" translate="lms.tools"></span> <i class="fa fa-angle-right"></i></h5></a>
			                    <p translate="lms.toolsDesc"  class="margin-left20">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Nullam quis erat dui. </p>		                   
			                </div>
			            </div>	
					</div>
				</div>
			</div>
</div>		

 

