 <!--Copyright 2015, LifeEngage -->
		<div class="image-login push">
			<div class="login-th">
				<div class="row-fluid ">
					<div class="text-center login-logo"><img class="Logo_TH" src="css/generali-theme/img/banner-login.png"></div>
					<form name="myForm" novalidate>
						<div class="text-center subheading welcome Logo_title" ><span translate="loginheader"></span></div>
						<div class="input-area"><i class="fa fa-2x fa-user"></i><input type="text" class=" date span12" placeholder="ชื่อบัญชี" ng-model="username" name="username" required ng-class="{true: 'invalid_input'}[submitted &&myForm.username.$invalid]">
						<!-- <span class="login_highligt" ng-show="username.$invalid"></span> -->
						<!-- <span style="color:red" ng-show="myForm.username.$invalid">
						<span ng-show="myForm.username.$error.required">Username is required.</span>
						</span> -->
						</div>
						<div class="input-area" ng-show="showpassword"><i class="fa fa-2x fa-lock"></i><input type="text" class=" date span12" placeholder="à¸£à¸«à¸±à¸ªà¸œà¹ˆà¸²à¸™" ng-model="password" name="password" required on-keyup-fn  ng-class="{true: 'invalid_input'}[submitted && myForm.password.$invalid]"> </div>
						<div class="input-area" ng-hide="showpassword"><i class="fa fa-2x fa-lock"></i><input type="password" class=" date span12" placeholder="รหัสผ่าน" ng-model="password" name="password" required on-keyup-fn ng-class="{true: 'invalid_input'}[submitted && myForm.password.$invalid]"></div>

						<div class="row" style="margin-bottom: 10px; color:#fff">
						<div class="col-md-5 col-sm-5">
							<div class="icheckbox" ng-class="{'checked':rememberme}">
										<input type="checkbox" id="remember" ng-model="rememberme" />
									</div>	
									<span class="font-regular" translate="rememberme"></span>
						</div>
						<div class="col-md-7 col-sm-7">
                            <div class="text-center font-regular" href="" ng-click="checkValidConnection('/forgotpassword')"><u translate="forgetchangepassword"></u></div>
						</div>
						</div>
						<!--<button class="btn-block btn-large login-btn" style="" ng-click="checkifEligibleToLogin();submitted=true"><strong class="large btn-txt">LOG IN</strong></button> -->

						<!-- <button g-click="checkifEligibleToLogin();submitted=true" class="btn-block login-btn"><strong class="large white-txt">LOG IN</strong></button> -->

						<button ng-click="checkifEligibleToLogin();submitted=true" class="btn-block login-btn register-btn"><span class="large white-txt" translate="loginbtntext"></span></button>

						<!-- <div class="pull-right">
					 		<div class="icheckbox" ng-class="{'checked':showpassword}">
								<input type="checkbox" id="showPass" ng-model="showpassword"/>
							</div>	
							<span class="large red-text">Show Password</span>
						</div> -->	
						<!-- <hr class="line_Th"> -->
                        <div class="font-regular white-txt" translate="accounttext" style="padding: 5px;"></div>
                           <!-- <a hrrf="" class="large font-regular" style="color:#fff" ng-click="linkTo('/landingPage')">landing</a> --> 
						<button ng-click="checkValidConnection('/customerregistration')" class="btn btn-block   btnBorder register-btn"><span class="white-txt" translate="Registerbtn"></span></button>
						
						 

					</form>
                     <!-- <div class="text-center red-text visible-phone forgotPwd"><a href="http://10.10.1.137:8080/sis-1.0/updatePassword">Forgot Password?</a></div> -->
					 <!-- <div class="text-center red-text forgotPwd"><a href="" ng-click="showforgotPasswordPopup()">Forgot Password?</a></div> -->
					 <!-- <div class="text-center error-blk">
						<span class="large white-txt" ng-bind="loginError"></span>
					</div> -->				
                   
					<div style="margin-bottom: 10px;"></div>
                     	  	
                </div>	
			</div>   
		</div>

<div class="overlay_TC" ng-show="showPopUpMsg"></div>
<div class=" text-center">
	<div id="login_popup_info" class="modal fade cust-modal-med in bg-white" ng-show="showPopUpMsg" style="width: 361px;">

	    <div class="modal-header bg-white">
	        <div class="popup_info_img text-center"><img src="css/generali-theme/img/infored.png" width="25"></div>
	    </div>
	    <div class="modal-body">

	        <p class="large text-center">[[loginmessage]]</p>
	        <div>
	            <button type="button" class="btncls login-popup-close" ng-click="closePopup()"><span translate="popUpClose"></span></button>
	        </div>
	    </div>
    
</div>
</div>

		<!-- LOGIN SCREEN -->
		  <lepopup control="lePopupCtrl"/>
