<!--Copyright 2015, LifeEngage -->
<div>
  <div id="myPolicies" class="customtab"  ng-class="myPolicies" ng-show="myPolicies == 'active'">
    <!-- CREATE A NEW LEAD -->
    <div class="row-fluid" style="display: none;">
      <div class="span12">
        <div class="create_new_lead_cont clearfix">
          <button id="create_new_lead" class="create_new_lead_btn">
          Create a New lead</button>
        </div>
      </div>
    </div>
    <!-- CREATE A NEW LEAD ENDS-->
    <!-- FILTER TITLE SECTION -->
    <div class="row-fluid">
      <div class="span12  clearfix">
        <div class="row-fluid">
          <div class="span12 clearfix">
            <div class="filter_btn_cont pull-right">
              <button class="filter_customer_list_btn" style="display: none;">
              <span id="filter_icon" class=""></span><span class="filter_txt" translate="general.productFilter">Filter</span></button>
              <button class="display_customer_list_grid" style="display: none;">
              <span id="grid_view" class="list_grid grid_view_btn active_view"></span>
              </button>
              <button class="display_customer_list_grid" style="display: none;">
              <span id="list_view" class="list_grid list_view_btn"></span>
              </button>
              <!--  <button class="sync_server_btn " ng:click="syncDataToServer()">
              <span id="sync_to_server" class="sync_server" translate="syncToServerText">Sync To Server</span></button>
              <button class="sync_server_btn " ng:click="syncData()">
              <span id="sync_frm_server" class="sync_server" translate="syncFromServerText">Sync From Server</span></button>-->
            </div>
            <!-- SEARCH FILTER AREA -->
            <div class="lst_search_filter pull-right">
              <div class="searchbg pull-right">
                
              </div>
              <div class="navbar-search pull-right">
                <input type="text" class="search-query" placeholder="Search Policies"  translate="searchIllustrationOverlayText">
              </div>
            </div>
          </div>
        </div>
        <div class="row-fluid" style="display: none;">
          <div class="span12 filter_content_cont">
            <!-- LEFT SIDE ( COLUMN 1 ) -->
            <div class="span6">
              <div class="row-fluid ">
                <div class="span12">
                  <!-- NAME STARTS -->
                  <div class="control-group form-horizontal mrg_top_btm">
                    <label for="filter_name" class="control-label top_pdg">
                      Name
                    </label>
                    <div class="controls">
                      <input type="text" placeholder="Name" id="filter_name">
                    </div>
                  </div>
                  <!-- NAME ENDS -->
                  <!-- PRODUCT STARTS -->
                  <div class="control-group form-horizontal mrg_top_max">
                    <label class="control-label top_pdg" for="ageproof_txt">
                    Product</label>
                    <div class="controls">
                      <select id="age_of_proof_txt">
                        <option></option>
                        <option>Product A </option>
                        <option>Product B </option>
                        <option>Product C </option>
                      </select>
                    </div>
                  </div>
                  <!-- PRODUCT ENDS -->
                </div>
              </div>
            </div>
            <!-- RIGHT SIDE ( COLUMN 1 ) -->
            <div class="span6">
              <div class="row-fluid">
                <div class="span12">
                  <!-- DATE OF BIRTH STARTS -->
                  <div class="control-group form-horizontal mrg_top_btm clearfix">
                    <label for="input_picker" class="control-label top_pdg">
                      Date Of Birth
                    </label>
                    <div class="controls clearfix">
                      <div class="span6">
                        <div data-date-format="mm-dd-yyyy" data-date="12-02-2012" class="input-append date custdatepicker">
                          <input type="text" value="12-02-2012" size="16" class="custdatefield">
                          <span class="add-on cal_icon"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- DATE OF BIRTH ENDS -->
                  <div class="control-group form-horizontal mrg_top_max clearfix">
                    <label for="filter_name" class="control-label top_pdg">
                      New Label
                    </label>
                    <div class="controls">
                      <input type="text" placeholder="" id="filter_new_label" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- REFRESH BUTTON -->
            <div class="row-fluid">
              <div class="span12">
                <div class="span6 hide_in_tab">
                  <div class="row-fluid">
                    <div class="span12">
                    </div>
                  </div>
                </div>
                <div class="span6">
                  <div class="row-fluid ">
                    <div class="span12">
                      <div class="control-group form-horizontal no_margin_top">
                        <div class="controls right_btn_pos">
                          <button class="refresh_btn">
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- REFRESH BUTTON ENDS-->
          </div>
        </div>
      </div>
    </div>
    <!-- FILTER TITLE SECTION ENDS -->
    <!-- CUSTOMER LISTING TABLE STARTS -->
    <div class="row-fluid">
      <div class="span12">
        <!-- ADDED CODE -->
        <div class="fixed_header_tbl_wrapper">
          <div class="fix_head_wrapper">
            <table class="fix_head">
              <tr class="list_table_head_bg">
                <th class="my_policies_td_0 ">
                </th>
                <th class="my_policies_td_gen " translate="policyIdHeaderText">
                </th>
                <th class="my_policies_td_gen " translate="customerName">
                </th>
                <th class="my_policies_td_gen " translate="productName">
                </th>
                <th class="my_policies_td_gen " translate="status">
                </th>
                <th class="my_policies_td_gen " translate="SyncstatusHeaderText">
                </th>
              </tr>
            </table>
          </div>
          <div class="main_table_wrapper">
            <table class="htable" cellpadding='5px' border='0' width='100%'>
              <tr>
                <td class="my_policies_td_0 ">
                </td>
                <td class="my_policies_td_gen ">
                  1234567
                </td>
                <td class="my_policies_td_gen ">
                  Sample User 1
                </td>
                <td class="my_policies_td_gen ">
                  Termlife
                </td>
                <td class="my_policies_td_gen ">
                  Active
                </td>
                <td class="my_policies_td_gen ">
                  Syncd
                </td>
              </tr>
              <tr>
                <td class="my_policies_td_0 ">
                </td>
                <td class="my_policies_td_gen ">
                  1234567
                </td>
                <td class="my_policies_td_gen ">
                  Sample User 1
                </td>
                <td class="my_policies_td_gen ">
                  Termlife
                </td>
                <td class="my_policies_td_gen ">
                  Active
                </td>
                <td class="my_policies_td_gen ">
                  Syncd
                </td>
              </tr>
              <tr>
                <td class="my_policies_td_0 ">
                </td>
                <td class="my_policies_td_gen ">
                  1234567
                </td>
                <td class="my_policies_td_gen ">
                  Sample User 1
                </td>
                <td class="my_policies_td_gen ">
                  Termlife
                </td>
                <td class="my_policies_td_gen ">
                  Active
                </td>
                <td class="my_policies_td_gen ">
                  Syncd
                </td>
              </tr>
              <tr>
                <td class="my_policies_td_0 ">
                </td>
                <td class="my_policies_td_gen ">
                  1234567
                </td>
                <td class="my_policies_td_gen ">
                  Sample User 1
                </td>
                <td class="my_policies_td_gen ">
                  Termlife
                </td>
                <td class="my_policies_td_gen ">
                  Active
                </td>
                <td class="my_policies_td_gen ">
                  Syncd
                </td>
              </tr>
              <tr>
                <td class="my_policies_td_0 ">
                </td>
                <td class="my_policies_td_gen ">
                  1234567
                </td>
                <td class="my_policies_td_gen ">
                  Sample User 1
                </td>
                <td class="my_policies_td_gen ">
                  Termlife
                </td>
                <td class="my_policies_td_gen ">
                  Active
                </td>
                <td class="my_policies_td_gen ">
                  Syncd
                </td>
              </tr>
              <tr>
                <td class="my_policies_td_0 ">
                </td>
                <td class="my_policies_td_gen ">
                  1234567
                </td>
                <td class="my_policies_td_gen ">
                  Sample User 1
                </td>
                <td class="my_policies_td_gen ">
                  Termlife
                </td>
                <td class="my_policies_td_gen ">
                  Active
                </td>
                <td class="my_policies_td_gen ">
                  Syncd
                </td>
              </tr>
              <tr>
                <td class="my_policies_td_0 ">
                </td>
                <td class="my_policies_td_gen ">
                  1234567
                </td>
                <td class="my_policies_td_gen ">
                  Sample User 1
                </td>
                <td class="my_policies_td_gen ">
                  Termlife
                </td>
                <td class="my_policies_td_gen ">
                  Active
                </td>
                <td class="my_policies_td_gen ">
                  Syncd
                </td>
              </tr>
              <tr>
                <td class="my_policies_td_0 ">
                </td>
                <td class="my_policies_td_gen ">
                  1234567
                </td>
                <td class="my_policies_td_gen ">
                  Sample User 1
                </td>
                <td class="my_policies_td_gen ">
                  Termlife
                </td>
                <td class="my_policies_td_gen ">
                  Active
                </td>
                <td class="my_policies_td_gen ">
                  Syncd
                </td>
              </tr>
            </table>
          </div>
        </div>
        <!-- ADDED CODE -->
      </div>
    </div>
    <!-- CUSTOMER LISTING TABLE ENDS -->
  </div>
  <div id="myIllustrations" class="customtab" ng-class="myIllustrations" ng-show="myIllustrations == 'active'" st-table ="tableIllustrations" st-safe-src="Illustartions" >
    <div class="container illustration-listing-page  table-height-fix">
      <div class="row-fluid product-list-block">
          <!-- <button class="btn btn-medium btn-primary span3 pull-right" ng-click="createNewIllustration()" >
        <span class="filter_txt" translate="">GO TO ALL PRODUCT LIST</span>
        </button>-->
        <button id="addNew" class="btn btn-medium btn-primary span3 pull-right" ng-disabled="selectedProposal.length > 1" ng-click="createNewIllustration()">
        <span class="filter_txt" translate="addNewIllustrator">ADD New</span>
        </button>
      </div>
      <div class="row-fluid btn-search-block">
        <!-- emailBI change    -->
        <!--<button class="span2 btn btn-medium btn-primary disabledgrey " ng-click="fetchIllustrations()" ng-disabled="selectedProposal.length == 0">-->
        <!-- <i class="fa fa-envelope-o"></i> -->
       <!-- <span class="emailing_img" translate="general.sendEmail">Email Illustration</span>
        </button>-->
        <!-- emailBI change    -->
        <!-- SEARCH FILTER AREA -->
        <div class="span3 input-append search-input-area" style="width: 22%;">
          <input class="search-illustration" type="text" placeholder="[[convertertranslate('searchIllustrationLabel')]]" ng-model="searchIllustrationKey">
          <button class="btn btn-medium"><i class="fa fa-search"></i> </button>
        </div>
        <!-- SEARCH FILTER AREA ENDS-->
        <!-- BUTTON AREA -->
		<div class="span9">
        <span class="span1 grp-btn-width mob-si-width"></span>
        <button class="span3 btn btn-default btn-medium makeaCopy_btn" ng-click="proceedToCopy()" ng-hide="hidebtnMakeCopy" ng-disabled="selectedProposal.length== 0 || selectedProposal.length > 1"  >
		  <img src="css/generali-theme/img/icon/make_a_copy.png" class="pull-left" >
          <span class="filter_txt highlight_txt" translate="general.makeaCopy" class="ng-scope">Make a Copy</span>
        </button>
       <button class="span2 btn btn-default btn-medium highlight_txt si_mob_button" ng-click="proceedToPrint()"  ng-disabled="selectedProposal.length == 0">
          <img src="css/generali-theme/img/icon/Printer.png" > 
          <span translate="general.print" class="ng-scope highlight_txt">Print</span>
        </button>
        <button class="span2 btn btn-default btn-medium highlight_txt si_mob_button" ng-click="proceedToDownload()"  ng-disabled="selectedProposal.length == 0">
          <img src="css/generali-theme/img/icon/download.png" > 
          <span translate="general.download" class="ng-scope highlight_txt">Download</span>
        </button>
		<button class="span2 btn btn-default btn-medium highlight_txt grp-btn" ng-click="fetchIllustrations()" ng-disabled="selectedProposal.length == 0">
          <img src="css/generali-theme/img/icon/Email.png" > 
          <span translate="general.sendEmail" class="ng-scope highlight_txt">Email</span>
        </button>
        <button class="span2 btn btn-default btn-medium highlight_txt grp-btn" ng-disabled="selectedProposal.length == 0" ng-click="deletePopup('illustration')">
         <span><img src="css/generali-theme/img/icon/delete.png" > </span>
        <span translate="general.delete" class="ng-scope highlight_txt">Delete</span>
        </button>
		</div>
        <!-- BUTTON AREA ENDS-->
      </div>
      <!-- TABLE AREA -->
      <!-- <div class="row-fluid">
        <div class="span12">
          <div class="white-box"> -->
      <div class="white-box">
        <div class="row-fluid">
          <div class="span12">
            <div class="box_a_content no_sp">
              <div class="table_filter">
                <div class="constrained">
                  <table fixed-header class="table table-striped table-sorter cursor_pointer" id="illustrationListing" infinite-scroll="increaseLimit()" infinite-scroll-container='".constrained"'>
				      <thead class="illustration_fixed_header" >
					    <tr>
                        <th st-ratio="1">
                        </th>
						<th st-ratio="3" ng-show='isDeviceMobile'>
						   <span class="tblhead" translate="SyncstatusHeaderText"></span>
						</th>
						<th st-ratio="6">
                           <div class="pos-relative tbl-blk"><span class="tblhead" translate="siDate"></span>  
							<i class="fa-sort" ng-class="{'fa fa-sort-desc':!tblhead6,'fa fa-sort-asc':tblhead6}" ng-click="toggleSorter('6')" st-sort="Key14" st-skip-natural="true"></i></div>
                        </th>						
						<th st-ratio="9">
                          <div class="pos-relative tbl-blk"><span class="tblhead" translate="nickName"></span>
                          <i class="fa-sort" ng-class="{'fa fa-sort-desc':!tblhead1,'fa fa-sort-asc':tblhead1}" ng-click="toggleSorter('1')" st-sort="Key26" st-skip-natural="true"></i></div>
                        </th>
						<th st-ratio="9">
                          <div class="pos-relative tbl-blk"><span class="tblhead break-by-word" translate="fullName"></span>
                          <i class="fa-sort" ng-class="{'fa fa-sort-desc':!tblhead2,'fa fa-sort-asc':tblhead2}" ng-click="toggleSorter('2')" st-sort="Key6" st-skip-natural="true"></i></div>
                        </th>
						<th st-ratio="9">
                          <span class="tblhead " translate="ageGender"></span>                          
                        </th>
						<th st-ratio="9">
                          <span class="tblhead " translate="mobileNumberHeaderText"></span>                          
                        </th>
                        <th st-ratio="9">
                          <div class="pos-relative tbl-blk"><span class="tblhead" translate="productNameHeaderText"></span>
                          <i class="fa-sort" ng-class="{'fa fa-sort-desc':!tblhead3,'fa fa-sort-asc':tblhead3}" ng-click="toggleSorter('3')" st-sort="Key19" st-skip-natural="true"></i></div>
                        </th>
                        <th st-ratio="9">
                          <div class="pos-relative tbl-blk"><span class="tblhead" translate="illustrator.sumInsuredSIListing"></span>
                          <i class="fa-sort" ng-class="{'fa fa-sort-desc':!tblhead4,'fa fa-sort-asc':tblhead4}" ng-click="toggleSorter('4')" st-sort="Key21" st-skip-natural="true"></i></div>
                        </th>
						<th st-ratio="9">
                          <div class="pos-relative tbl-blk"><span class="tblhead" translate="illustrator.totalPremiumSIListing"></span>
                          <i class="fa-sort" ng-class="{'fa fa-sort-desc':!tblhead5,'fa fa-sort-asc':tblhead5}" ng-click="toggleSorter('5')" st-sort="Key25" st-skip-natural="true"></i></div>

                         <!--  <div class="pos-relative tbl-blk"><span class="tblhead" translate="illustrator.totalPremiumSIListing"></span>
                          <i class="fa-sort" ng-class="{'fa fa-sort-asc':!tblhead5,'fa fa-sort-asc':tblhead5}" ng-click="toggleSorter('5')" st-sort="Key25" st-skip-natural="true"></i></div> -->
                        </th>
                        <th st-ratio="9">
                          <span class="tblhead" translate="statusHeaderText"></span>
                            <i class=" fa fa-sort" ng-class="{'fa-sort-desc':!tblhead12,'fa-sort-asc':tblhead12}"ng-click="toggleSorter('12')" st-sort="Key15" st-skip-natural="true"></i>
                        </th>
						<th st-ratio="9">
                          <span class="tblhead" translate="proceedToEapp"></span>
                        </th>
                      </tr>
					   
					  </thead> 
					  <!-- </thead> -->
            <div class="illustrationListing-table">&nbsp;</div>
					  <tbody>
					    <tr ng-init="" ng-repeat="i in  filtered = (tableIllustrations|gliListingFilter:searchIllustrationKey|dashBoardFilter:searchIllustrationValue:searchKeyValue|illustrationFilter:insuredNameFilter:proposerNameFilter:productNameFilter:productTypeFilter:statusFilter:illustrationIdFilter|limitTo:barLimit)" 
					    	fixed-header count="$index" ng-init="updateMinWidthSetting(filtered.length)" ng-class-odd="'row_odd'" ng-class-even="'row_even'" ng-disabled="i.Key35!='' && i.Key35!='undefined' && i.Key35 && !showGAORelatedFields">
                        <td st-ratio="1" align="center">
                          <div class="icheckbox" ng-class="{'checked':selectedProposal.indexOf(i) > -1}">
                            <input type="checkbox" rel=[[i.Key6]]  class=""  value=[[i.Key6]]  ng-checked="selectedProposal.indexOf(i) > -1" ng-click="toggleSelection(i)" />
                          </div>
                        </td>
						<td st-ratio="3" ng-show='isDeviceMobile'>
							<span ng-class="{'fa fa-check circle-green': i.Key16== 'Synced'|| i.Key16== 'SUCCESS', 'fa fa-close circle-red': i.Key16 == 'SyncError'|| i.Key16== 'REJECTED' || i.Key16 == 'FAILURE', 'fa fa-refresh circle-yellow': i.Key16 == 'NotSynced' || i.Key16 == ''}"></span>
						</td>
						<td st-ratio="6">
						   <div gli-date-calc value="i.Key14" dateformat="appDateFormat" ng-click="navigateOnEdit(i)"/>     
                        </td>
						<td st-ratio="9" class="table_wrap_text">
                          <span class="tblhead" ng-click="navigateOnEdit(i)">[[i.Key26]]</span>
                        </td>
						<td st-ratio="9"  class="table_wrap_text">
                          <a ng-click="navigateOnEdit(i)">[[i.Key6]]</a>
                        </td>
						<td st-ratio="9">
                          <span class="tblhead" ng-click="navigateOnEdit(i)">[[i.Key28]] - <span translate="[[i.Key29]]"></span></span>
                        </td>						
						<td st-ratio="9" class="orange-txt">
								<u ng-click="showPhonePopover()" class="">
									<span custom-popover  phone="[[i.Key8]]" class="tblhead popover-close">[[i.Key8]]</span>
									<div class="popover fade right in phone-popover">
										<div class="arrow"></div>
										<div class="popover-content"></div>
									</div>
								</u>
                        </td>
						<td st-ratio="9">
						  <span ng-click="navigateOnEdit(i)"><span translate="[[i.Key19]]"></span> 
						  <span ng-if='i.Key19 != "GenSave20Plus" && i.Key19 != "GenCompleteHealth" && i.Key19 != "GenCancerSuperProtection" && i.Key19 != "Wholelife" && i.Key19 != "Gen Protection 5" && i.Key19 != "GenSave10Plus" && i.Key19 != "GenSave4Plus"'> [[i.Key30]] </span>
                        </td>
						<td st-ratio="9">
                          <span ng-click="navigateOnEdit(i)" class="tblhead">[[i.Key21|formattedNumberIllustration]]</span>
                        </td>
						<td st-ratio="9">
                         <span ng-click="navigateOnEdit(i)" class="tblhead">[[i.Key25|formattedNumberIllustration]]</span>
                        </td>
						<td st-ratio="9">
						<span  ng-click="navigateOnEdit(i)" translate="[[i.Key15]]"></span>
						</td>
						<td st-ratio="5">
                            <!--  <button class="proceed-toeapp-btn" ng-disabled="true" ng-click="proceedToeApp(i)">-->
                        <button class="proceed-toeapp-btn" ng-disabled="(i.Key15!='Completed')" ng-click="proceedToeApp(i)">
                           	<!--<img src="css/generali-theme/img/icon/proceed.png" style="position:inherit !important" > -->
							<i class="fa large fa-angle-right"></i>
                          </button>
                        </td>						
                      </tr>
					  </tbody>
					  
				   </table>
                </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <!-- TABLE AREA ENDS -->
	 </div>
      <div ng-show="dvDeleteConfirm" ng-class="{'center_pop_up':dvDeleteConfirm}">
		<div  class="modal le-popup-control hide fade auto-height animated fadeInDownBig"  ng-class="{'in zIndexHigh':dvDeleteConfirm}" ng-class="dvDeleteConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header bg-white"> 
                <p class="marginTop_GPL20 msg-icon  warning"></p>
            </div>
            <div class="modal-body text-center">
            <p class="msg-content-popup ng-binding" translate=[[alertMessage]]></p>
            <p>
					<textarea ng-show="control.textAreaShow" readonly="" class="ng-binding ng-hide">[]</textarea>
				</p>
                <button type="button" class="close hidden-phone hidden-tab" data-dismiss="modal" aria-hidden="true" ng-click="dvDeleteConfirm = !dvDeleteConfirm">&times;</button>
			</div>
<!--
			<div class="modal-body text-center">
				<p class="msg-content" translate=[[alertMessage]]></p>
-->
			    
				<div class="row-fluid">
					<div class="span12">
						<div class="btn-wrapper text-center">
							
						<button id="delete_benef" type="button" ng-show="confirmDeleteMessage"  class="btn inline-block span3 btn-primary"
                ng-click="deleteTransactions()" ng-if="myApplications === 'active'" translate="deleteConfirmButtonText">
                Yes, Delete
                </button>
                <button id="delete_benef" type="button" ng-show="confirmDeleteMessage"
                class="btn inline-block span3 btn-primary"
                ng-click="deleteTransactions()"  ng-if="myIllustrations  === 'active'" translate="okConfirmButtonText">
                Yes, Delete
                </button>
                <button id="cancel_benef" type="button" ng-show="confirmDeleteMessage"
                class="btn inline-block span3 btn-default text-red"
                ng-click="cancel()" ng-if="myApplications === 'active'" translate="biCancelButtonTextEapp" >
                No,Cancel
                </button>
                <button id="cancel_benef" type="button" ng-show="confirmDeleteMessage"
                class="btn inline-block span3 btn-default text-red"
                ng-click="cancel()" ng-if="myIllustrations  === 'active'" translate="biCancelButtonText">
                No,Cancel
                </button>
                <button id="cancel_benef" type="button" ng-hide="confirmDeleteMessage"
                class="btn inline-block span3 btn-primary"
                ng-click="cancel()" translate="okConfirmButtonText">
                OK
                </button>
						</div>
					</div>
				</div>
				<div class="spacing"></div>
<!--			</div>-->
		</div>
	
	
  <!-- THE MODAL POPUP  -->

      </div>
      <!--Email PopUp -->
      <div class="popup_setpref_container_previous general-overlay-container ill_popup_container" ng-class="{'center_pop_up':emailpopup}" ng-show="emailpopup">
        <div class="email-header" style="padding:10px 10px">
          <span class="text ng-scope email-header-send" translate="sendEmailPopupHeader">Mailing Details</span>
          <i id="close_email_popup" class="fa fa-close" ng-click="cancelEmailPopup()"></i>
        </div>
        <div style="padding:20px 20px">
          <div class="row-fluid">
            <div class="span12">
              <span class="span2 email-header-labels" translate="general.mailto">To</span>
              <input type="text"  class="span10" id="to_name" name="toName" ng-model="emailToId">
            </div>
            <div class="span12">
              <span class="offset2 span10 ill-email-error-msg email-header-labels" ng-bind="emailToError"></span>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span12">
              <span class="span2 email-header-labels" translate="general.mailcc">To</span>
              <input type="text"  class="span10"  id="cc_name" name="ccName" ng-model="emailccId">
            </div>
            <div class="span12">
              <span class="offset2 span10 ill-email-error-msg email-header-labels" ng-bind="emailCcError"></span>
            </div>
          </div>
		  <div class="row-fluid">
			<div class="span12">
				<span class="span2 textExpand email-header-labels" translate="general.mailSubject">SUBJECT</span>
                <textarea rows="3" cols="20" class="span10" id="sub" ng-model="emailSubject" readonly name="subject" pull-right></textarea>
			</div>
			<div class="span12">
              <span class="offset2 span10 ill-email-error-msg email-header-labels" ng-bind="emailSubjectError"></span>
            </div>
          </div>
          <div class="email-send-btnblock">
            <button id="emailcancelButton" class="btn  cancel-btn" translate="illustrator.cancelMessage" ng-click="cancelEmailPopup()">Cancel</button>
            <button id="emailokButton" class="btn  btn-primary" ng-click="emailPopupOkClick()" translate="general.send">Send</button>
          </div>
        </div>
      </div>      
      <!--Email Popup Ends -->
      
      <div class="general-modal-overlay ng-scope" ng-show="emailpopup || dvDeleteConfirm"></div>
  </div>
  <div id="myApplications" class="customtab container" ng-class="myApplications" ng-show="myApplications == 'active'" st-safe-src="Proposals" st-table="tableProposals">
    <!-- CREATE A NEW CUSTOMER -->
    <div class="row-fluid" style="display: none;">
      <div class="span12">
        <div class="create_new_lead_cont clearfix">
        </div>
      </div>
    </div>
    <!-- CREATE A NEW CUSTOMER ENDS-->
    <div class="row-fluid" >
      <div class="span12  clearfix">
        <div class="row-fluid search-block">
        <!-- <div class="span3 eappListing-SPAJ">
		  <div class="select-arrow">
            <select class="form-control span12" ng-model="dynamicSearchKey">
              <option value="Proposal number" translate="proposalNoHeaderText" selected="selected"></option>
              <option value="Policyholder Name" translate="policyHolderNameHeaderText"></option>
              <option value="Total Premium" translate="totalPremiumHeaderText"></option>
            </select>
			</div>
            <a class="customDropIcon"></a>
          </div>  -->
          <div class="span6 input-append search-input-area" ng-show="!showGAORelatedFields">
            <input class="search-medium span11" type="text" placeholder="[[convertertranslate('searchProposalLabel')]]" ng-model="dynamicSearchProposalKey" ng-trim="false">
            <button class="btn btn-medium highlight"><i class="fa fa-search"></i> </button>
          </div>
		  <div class="span6 input-append search-input-area" ng-show="showGAORelatedFields">
            <input class="search-medium span11" type="text" placeholder="[[convertertranslate('searchProposalLabelGAO')]]" ng-model="dynamicSearchProposalKey" ng-trim="false">
            <button class="btn btn-medium highlight"><i class="fa fa-search"></i> </button>
          </div>
		  
		  <button class="span3 deleteEappList" id="request_GAO_btn"  ng-disabled="DeleteEappButtonDisable" ng-click="GAOpopup()" ng-show="!showGAORelatedFields">
<!--            <i class="fa fa-trash-o fa-2x"></i>-->
            <span translate="eapp.requestGAOSupport">Request GAO Support</span>
          </button>
		 
          <button class="span3 deleteEappList" id="newEApp_del_btn"  ng-disabled="DeleteEappButtonDisable" ng-click="deletePopup('eApp')" ng-show="!showGAORelatedFields">
           <i class="fa fa-trash-o fa-2x"></i>
            <span class="del_img ng-scope" translate="DeleteeApp">Delete E-App</span>
          </button>
		   <button class="span3 deleteEappList" id="request_GAO_btn" ng-class="{'span2':showGAORelatedFields == true}"  ng-disabled="" ng-click="markAsComplete_unlockEapp_newIllustrate('illustration')" ng-show="showGAORelatedFields">
            <span translate="eapp.createNewIllustration">Create New Illustration</span>
          </button>
		   <button class="span3 deleteEappList" id="request_GAO_btn" ng-class="{'span2':showGAORelatedFields == true}" ng-disabled="DeleteEappButtonDisable" ng-click="markAsComplete_unlockEapp_newIllustrate('markAsComplete')" ng-show="showGAORelatedFields && showNotBranchAdminRelatedFields">
            <span translate="eapp.markAsCompleted">Mark as Completed</span>
          </button>
		   <button class="span3 deleteEappList" id="request_GAO_btn" ng-class="{'span2':showGAORelatedFields == true}" ng-disabled="DeleteEappButtonDisable" ng-click="markAsComplete_unlockEapp_newIllustrate('unlock')" ng-show="showGAORelatedFields && showNotBranchAdminRelatedFields">
            <span translate="eapp.unlock">UNLOCK</span>
          </button>
		  
		  <!--  <button class="span2 btn btn-default btn-medium highlight addNewEapp">
            <a href="default.htm#/Eapp/0/0/0/0">
              <span class="filter_txt ng-scope" translate="addNewEapp"></span>
            </a>
          </button> -->
        </div>
        <div class="row-fluid" ng-show="filterOpenEapp">
          <div class="span12 filter_content_cont">
            <!-- LEFT SIDE ( COLUMN 1 ) -->
            <div class="span4">
              <div class="row-fluid ">
                <div class="span12">
                  <!--INSURED NAME STARTS -->
                  <div class="control-group form-horizontal mrg_top_btm">
                    <div class="">
                      <input type="text" placeholder="Insured Name" ng-model="insuredNameFilter" id="filter_insured_name">
                    </div>
                  </div>
                  <!--INSURED NAME ENDS -->
                  <!-- PRODUCT STARTS -->
                  <div class="control-group form-horizontal mrg_top_max">
                    <div >
                      <!--<select id="age_of_proof_txt" name="age_of_proof_txt" ng-class="{'gray_placeholder':!productTypeFilter}"
                        ng-model="productTypeFilter"
                        ng-init="populateIndependentLookupDate('PRODUCTTYPE','productTypeList')"
                        ng-options="obj.code as obj.value for obj in productTypeList" lookup-ddl-directive
                        >
                        <option value="">Product Type</option>
                      </select>-->
                    </div>
                  </div>
                  <!-- PRODUCT ENDS -->
                </div>
              </div>
            </div>
            <!-- RIGHT SIDE ( COLUMN 1 ) -->
            <div class="span4">
              <div class="row-fluid">
                <div class="span12">
                  <!-- APPLICATION DATE STARTS -->
                  <div class="control-group form-horizontal mrg_top_btm">
                    <div >
                      <input type="text" placeholder="Proposer Name" ng-model="proposerNameFilter" id="filter_insured_name">
                    </div>
                  </div>
                  <!-- APPLICATION DATE ENDS -->
                  <!-- APPLICATION NUMBER STARTS -->
                  <div class="control-group form-horizontal mrg_top_max">
                    <div>
                      <!--<select id="age_of_proof_txt" ng-class="{'gray_placeholder':!statusFilter}"  ng-model="statusFilter" ng-options="statusOptionObject as statusOptionObject.status for statusOptionObject in statusOptionsEapp">
                        <option value="">Status</option>
                      </select>
                      <select id="age_of_proof_txt" ng-class="{'gray_placeholder':!statusFilter}" ng-model="statusFilter" ng-init="populateIndependentLookupDate('EAPP_STATUS_FILTER','eAppStatusFilter')" ng-options="obj.code as obj.value for obj in eAppStatusFilter" lookup-ddl-directive>
                        <option value="">Status</option>
                      </select>-->
                    </div>
                  </div>
                  <!-- APPLICATION NUMBER ENDS -->
                </div>
              </div>
            </div>
            <div class="span4">
              <div class="row-fluid ">
                <div class="span12">
                  <!--INSURED NAME STARTS -->
                  <div class="control-group form-horizontal mrg_top_btm">
                    <div>
                      <input type="text" placeholder="Product Name" ng-model="productNameFilter" id="filter_insured_name">
                    </div>
                  </div>
                  <!--INSURED NAME ENDS -->
                  <!--PROPOSER ID STARTS-->
                  <div class="control-group form-horizontal mrg_top_max">
                    <div>
                      <input type="text" placeholder="Proposer Id" ng-model="proposerIdFilter" id="filter_insured_name">
                    </div>
                  </div>
                  <!--PROPOSER ID ENDS-->
                  <!-- REFRESH BUTTON -->
                  <div class="control-group form-horizontal no_margin_top">
                    <div class="right_btn_pos_filter">
                      <button class="refresh_btn" ng-click="resetFilter()">
                      </button>
                    </div>
                  </div>
                  <!-- REFRESH BUTTON ENDS-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- FILTER TITLE SECTION ENDS -->
    <!-- CUSTOMER TAB LISTING TABLE STARTS -->
    <div class="white-box">
      <div class="row-fluid">
        <div class="span12">
          <div class="box-content">
            <div class="table-filter">
              <div class="table-holder" ng-class="{'overflow':overflowClass,'':!overflowClass}">
                <table fixed-header  id="eappListing"  class="table table-striped table-sorter scroll" ng-class="{'GAOFlow':showGAORelatedFields == true}">
                    <thead>
                    <tr>
                     <th st-ratio="3">
                      </th>
                      <th class="show_in_tab_table no_sync_status_web" st-ratio="4">
                        <span  translate="SyncstatusHeaderText"></span>
                      </th>
					  <th st-ratio="13" ng-show="showGAORelatedFields">
						<span class="tblhead" translate="salesActivity.agentName" ></span>
						<i class=" fa fa-sort" ng-class="{'fa-sort-desc':!tblhead1,'fa-sort-asc':tblhead1}" ng-click="toggleSorter('1')" st-sort="Key38" st-skip-natural="true"></i>
					  </th>
                      <th st-ratio="13">
						<span class="tblhead" translate="eapp.creationDate" ></span>
						<i class=" fa fa-sort" ng-class="{'fa-sort-desc':!tblhead2,'fa-sort-asc':tblhead2}" ng-click="toggleSorter('2')" st-sort="Key13" st-skip-natural="true"></i>
					  </th>
					 <!-- <th st-ratio="17" class="webPolicyName">
                                <span class="tblhead" translate="policyHolderHeaderText" ></span>
                                <i class=" fa fa-sort" ng-class="{'fa-sort-desc':!tblhead4,'fa-sort-asc':tblhead4}" ng-click="toggleSorter('4')" st-sort="Key6" st-skip-natural="true"></i>
                      </th> -->
                      <th st-ratio="13">
						<span  translate="eapp.applicationNumbers" ></span>
						<i class=" fa fa-sort" ng-class="{'fa-sort-desc':!tblhead3,'fa-sort-asc':tblhead3}" ng-click="toggleSorter('3')" st-sort="Key21" st-skip-natural="true"></i>
                      </th>
                      <th st-ratio="15" class="width75_with_wrap">
						<span  translate="eapp.insuredFullName" ></span>
						<i class=" fa fa-sort" ng-class="{'fa-sort-desc':!tblhead4,'fa-sort-asc':tblhead4}" ng-click="toggleSorter('4')" st-sort="Key6" st-skip-natural="true"></i>
                      </th>
                      <th st-ratio="13" >
						<span class="tblhead cursorPointer" translate="eapp_vt.productNameSummary" ></span>
						<i class=" fa fa-sort" ng-class="{'fa-sort-desc':!tblhead5,'fa-sort-asc':tblhead5}" ng-click="toggleSorter('5')" st-sort="Key29" st-skip-natural="true"></i>
                      </th>
                      <th st-ratio="9">
						<span class ="cursorPointer" translate="illustrator.sumInsuredSIListing" ></span>
						<i class=" fa fa-sort" ng-class="{'fa-sort-desc':!tblhead6,'fa-sort-asc':tblhead6}" ng-click="toggleSorter('6')" st-sort="Key27" st-skip-natural="true"></i>
                      </th>
                      <th st-ratio="12">
						<span class="tblhead cursorPointer" translate="illustrator.totalPremiumSIListing"></span>
						<i class=" fa fa-sort" ng-class="{'fa-sort-desc':!tblhead7,'fa-sort-asc':tblhead7}" ng-click="toggleSorter('7')" st-sort="Key23" st-skip-natural="true"></i>
                      </th>
                      <th st-ratio="10" ng-show="!showGAORelatedFields">
                      		<span class="tblhead cursorPointer" translate="eapp.submissionDate"></span>                          
						      <i class=" fa fa-sort" ng-class="{'fa-sort-desc':!tblhead8,'fa-sort-asc':tblhead8}"ng-click="toggleSorter('8')" st-sort="Key22" st-skip-natural="true"></i>
                      </th>
                      <th st-ratio="10" ng-show="!showGAORelatedFields">
                                <span class="tblhead cursorPointer" translate="eapp.statusHeaderText"></span>
                      </th>
					  <th st-ratio="10" ng-show="!showGAORelatedFields">
							<span class="tblhead" translate="eapp.memoHeaderText"></span>
					  </th>
					  <th st-ratio="10" ng-show="showGAORelatedFields && showNotBranchAdminRelatedFields">
						<span class="tblhead cursorPointer" translate="eapp.lockedBy"></span>
						<i class=" fa fa-sort" ng-class="{'fa-sort-desc':!tblhead9,'fa-sort-asc':tblhead9}" ng-click="toggleSorter('9')" st-sort="Key36" st-skip-natural="true"></i>
                      </th>
					   <th st-ratio="10" ng-show="showGAORelatedFields && showNotBranchAdminRelatedFields">
                                <span class="tblhead cursorPointer" translate=""></span>
                      </th>
					   <th st-ratio="10" ng-show="showGAORelatedFields && showNotBranchAdminRelatedFields">
                                <span class="tblhead cursorPointer" translate=""></span>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-class-odd="'row_odd'" ng-class-even="'row_even'" ng-repeat="p in  filtered = (tableProposals|eappfilter:dynamicSearchProposalKey|DynamicEappfilter:statusFilter:dynamicSearchKeyDashboard)" ng-init="updateMinWidthSetting(filtered.length)" ng-disabled="p.Key35!='' && p.Key35!='undefined' && p.Key35 && !showGAORelatedFields">
                      <td class="my_proposals_td_0 "  st-ratio="3">
					  <div class="icheckbox" ng-class="{'checked':selectedProposal.indexOf(p) > -1}">
                        <input type="checkbox"  id="proposal-[[p.Key4]]" rel=[[p.Key4]]  class=""  value=[[p.Key4]]  ng-checked="selectedProposal.indexOf(p) > -1" ng-click="toggleSelectionEapp(p)" />
                        </div>
					  </td>
                        
                      <td class="td_sync_status show_in_tab_table text-center no_sync_status_web"  st-ratio="4">
                      <span ng-class="{'fa fa-check circle-green': p.Key16== 'Synced'|| p.Key16== 'SUCCESS', 'fa fa-close circle-red': p.Key16 == 'SyncError'|| p.Key16== 'REJECTED' || p.Key16 == 'FAILURE', 'fa fa-refresh circle-yellow': p.Key16 == 'NotSynced' || p.Key16 == ''}"></span>
                      </td>
                       
					  <td class="my_proposals_td_gen cursorPointer"  st-ratio="13" ng-show="showGAORelatedFields">
						<a ng-click="" style="color: #000;">
                     		<span ng-click="eappEditPage(p)" style="color: #000;"> [[p.Key38]] </span>
                      	</a>
                      </td>
                        
                      <td class="my_proposals_td_gen cursorPointer policyName"   st-ratio="13">
                      	<!-- <a ng-click="" style="color: #000;">
                     		<span ng-click="eappEditPage(p)" style="color: #000;"> [[p.Key12]] </span>
                      	</a> -->
						<div gli-date-calc dateformat="appDateFormat" value="p.Key13" />
                      </td>
					  <!--<td class="my_proposals_td_gen cursorPointer webPolicyName"  st-ratio="17">
                      	<a ng-click="" style="color: #000;">
                     		<span ng-click="eappEditPage(p)" style="color: #000;"> [[p.Key6]] </span>
                      	</a>
                      </td>-->
					  
                      <td class="my_proposals_td_gen cursorPointer"  st-ratio="13">
						<a ng-click="" style="color: #000;">
                     		<span ng-click="eappEditPage(p)" style="color: #000;"> [[p.Key21]] </span>
                      	</a>
                      </td>
                      <td class="my_proposals_td_gen cursorPointer"  st-ratio="15" class="width75_with_wrap">
						<a ng-click="" style="color: #000;">
                     		<span ng-click="eappEditPage(p)" style="color: #000;"> [[p.Key6]] </span>
                      	</a>
                      </td>
                      <td class="my_proposals_td_gen cursorPointer"  st-ratio="13">
                          <a ng-click="" style="color: #000;">
                     		<span ng-click="eappEditPage(p)" style="color: #000;">
                                <span translate="[[p.Key19]]"></span>
                                <!-- 
                                	<span ng-if='p.Key19 != "GenSave20Plus" && p.Key19 != "GenCompleteHealth" && p.Key19 != "GenCancerSuperProtection"'> [[p.Key29]] </span> 
                                -->
                                <span ng-if='p.Key19 != "GenSave20Plus" && p.Key19 != "GenCompleteHealth" && p.Key19 != "GenCancerSuperProtection" && p.Key19 != "Wholelife" && p.Key19 != "Gen Protection 5" && p.Key19 != "GenSave10Plus" && p.Key19 != "GenSave4Plus" '> [[p.Key29]] </span>
                              </span>
                      	</a>
                      	
                      </td>
                      <td class="my_proposals_td_gen "  st-ratio="9">
                      <!-- <div gli-date-eapp value="p.Key22" dateformat="appDateTimeFormat"/> -->
					  [[p.Key27|formattedNumber]]
                      </td>
                      <td class="my_proposals_td_gen "  st-ratio="12" >
                       [[p.Key23|formattedNumber]]
                      </td>
                      <td class="my_proposals_td_gen "  st-ratio="10" ng-show="!showGAORelatedFields">
                      	<div gli-date-calc value="p.Key22" dateformat="appDateFormat"/>
                      </td>
                       
					  <td class="my_proposals_td_gen cursorPointer" st-ratio="12" ng-show="!showGAORelatedFields" >
                            <div ng-if="p.Key15 == 'Pending Submission'">
                              <u ng-click="statuspopover($index,p.Key15)" class="popup" id="pending-submission-[[$index]]">
                                 <span class="tblhead"style="color: #000;" translate="[[p.Key15]]"></span>
                      	      </u>
                           </div>
                           <div ng-if="p.Key15 != 'Pending Submission'" ng-click="statuspopover($index,p.Key15)" class="popup" id="pending-submission-[[$index]]">
                               <span class="tblhead"style="color: #000;" translate="[[p.Key15]]"></span>
                      	   </div> 
                        </td>
                        <td class="text-center padding-right6" style="width: 93px;padding-right: 13px;" ng-show="!showGAORelatedFields">
										<a class="btn logicBtn countBtn padding-right6" ng-click="" style="height:25px">
											<span class="mod-count red-text ng-binding" ngmodel= "",
						ng-click = "proceedToMemo(p)">[[p.Key30]] </span>                                                                                                                                                                                                                                                                      
											<i class="fa fa-plus"></i>
										</a>
									</td>
					   <td class="my_proposals_td_gen cursorPointer"  st-ratio="15" class="width75_with_wrap" ng-show="showGAORelatedFields && showNotBranchAdminRelatedFields">
						<a ng-click="" style="color: #000;">
                     		<span ng-click="" style="color: #000;"> [[p.Key36]] </span>
                      	</a>
                      </td>
					   <td class="my_proposals_td_gen cursorPointer" ng-class="{'GAOEdit-btn':showGAORelatedFields == true}"   st-ratio="15" class="width75_with_wrap" ng-show="showGAORelatedFields && showNotBranchAdminRelatedFields">
						<button ng-click="lockEappToGAO(p)"><span class="gaoEditViewDoc" translate="EDIT"></span></button>
                      </td>
					   <td class="my_proposals_td_gen cursorPointer" ng-class="{'GAOView-Doc-btn':showGAORelatedFields == true}"   st-ratio="15" class="width75_with_wrap" ng-show="showGAORelatedFields && showNotBranchAdminRelatedFields">
						<button  ng-click="viewDocs(p)"><span class="gaoEditViewDoc" translate="VIEW DOC"></span></button>
                      </td>
						
                      <!--<td class="my_proposals_td_gen " st-ratio="10">
                       <!--  <span ng-click="showPopover()" ng-show="p.Key25 && p.Key25 != ''">
							<a  sync-popover  errorpopup="[[p.Key25]]" class="popover-close" >
								<span translate="eapp.remarksHeader" class = "underline"> </span>
							</a>
							<div class="popover fade left in sync-popover" style="left: -185px !important; top: 10px !important;">
								<div class="arrow"></div>
								<div class="popover-content"></div>
							</div>
						</span> -->
						<!-- <div ng-show="p.Key25 && p.Key25 != ''" ng-click="showFullRemark=true;"> -->
						<!-- <div ng-show="p.Key25 && p.Key25 != ''" > 
						<span class="underline cursorPointer" ng-show="p.Key25 && p.Key25 != ''" translate="lms.remarks" ng-click="$parent.showFullRemark=true;"></span>
						<div class="remarkPopup" ng-show="showFullRemark">
							<div class="modal-backdrop fade" ng-class="{'in':showFullRemark}" ng-show="showFullRemark"></div>
							<div class="remarksPopup center_pop_up" ng-show="showFullRemark" ng-class="{'center_pop_up':showFullRemark}">
								<div class="modal hide fade auto-height animated fadeInDownBig in" ng-class="{'in':showFullRemark}" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-header"> 
										<span class="modal-header-title text-left" translate="lms.remarks"></span>
									</div>
									<div class="modal-body text-center">	
										<p class="msg-content">[[p.Key25]]</p>
										<div class="row-fluid">
											<div class="span12">
												<div class="btn-wrapper text-center">
													<button class="btn inline-block span3 btn-primary" ng-click="showFullRemark=false;">Close</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- </div>
						</div>
                      </td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- CUSTOMER LISTING TABLE ENDS -->
          <div class="popup-container eappListHelvaicaPopup" ng-repeat="p in  filtered = (tableProposals|listingFilter:dynamicSearchProposalKey:dynamicSearchKey|proposalFilter:insuredNameFilter:proposerNameFilter:proposerIdFilter)" ng-init="updateMinWidthSetting(filtered.length)" id="myPopup_[[$index]]">
              
              <div class="popup-header eappListHelvaicaPopup"><span translate = "eapp.statuslist"></span><i id="closestatus" class="fa fa-close" ng-click="closestatus($index)"></i></div>
              
                <div class="col-md-12">
                  <div class="row popup-padding">
                    <div class="col-md-6" translate="eapp.DataEntry">DataEntry</div>
                    <div class="col-md-6"><div ng-if="p.Key34 == 'DataEntryCompleted' || p.Key34 == 'PaymentCompleted' || p.Key34 == 'DocuploadCompleted'" class="pull-right"  translate="logoutYes"></div>
                      <div ng-if="p.Key34 == ''" class="pull-right"  translate="logoutNo"></div></div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="row popup-padding">
                    <div class="col-md-6" translate="eapp.Payment">Payment</div>
                    <div class="col-md-6">
                          <div ng-if="p.Key34 == 'PaymentCompleted' || p.Key34 == 'DocuploadCompleted'" class="pull-right"  translate="logoutYes"></div>
                          <div ng-if="p.Key34 == '' || p.Key34 == 'DataEntryCompleted'" class="pull-right"  translate="logoutNo"></div>                      
                      </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="row popup-padding">
                    <div class="col-md-6" translate="eapp.DocUpload">DocUpload</div>
                    <div class="col-md-6">
                        
                          <div ng-if="p.Key34 == 'DocuploadCompleted'" class="pull-right"  translate="logoutYes"></div>
                          <div ng-if="p.Key34 == '' || p.Key34 == 'DataEntryCompleted' || p.Key34 == 'PaymentCompleted'" class="pull-right"  translate="logoutNo"></div>
                      
                  </div>
                </div>
                
           </div>
  </div>
  
  	<div ng-show="dvDeleteConfirm" ng-class="{'center_pop_up':dvDeleteConfirm}">
		<div  class="modal le-popup-control hide fade auto-height animated fadeInDownBig"  ng-class="{'in zIndexHigh':dvDeleteConfirm}" ng-class="dvDeleteConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header bg-white"> 
                <p class="marginTop_GPL20 msg-icon  warning"></p>
            </div>
            <div class="modal-body text-center">
            <p class="msg-content-popup ng-binding" translate=[[alertMessage]]></p>
            <p>
					<textarea ng-show="control.textAreaShow" readonly="" class="ng-binding ng-hide">[]</textarea>
				</p>
                <button type="button" class="close hidden-phone hidden-tab" data-dismiss="modal" aria-hidden="true" ng-click="dvDeleteConfirm = !dvDeleteConfirm">&times;</button>
			</div>
<!--
			<div class="modal-body text-center">
				<p class="msg-content" translate=[[alertMessage]]></p>
-->
			    
				<div class="row-fluid">
					<div class="span12">
						<div class="btn-wrapper text-center">
							
						<button id="delete_benef" type="button" ng-show="confirmDeleteMessage"  class="btn inline-block span3 btn-primary"
                ng-click="deleteTransactions()" ng-if="myApplications === 'active'" translate="deleteConfirmButtonText">
                Yes, Delete
                </button>
                <button id="delete_benef" type="button" ng-show="confirmDeleteMessage"
                class="btn inline-block span3 btn-primary"
                ng-click="deleteTransactions()"  ng-if="myIllustrations  === 'active'" translate="okConfirmButtonText">
                Yes, Delete
                </button>
                <button id="cancel_benef" type="button" ng-show="confirmDeleteMessage"
                class="btn inline-block span3 btn-default text-red"
                ng-click="cancel()" ng-if="myApplications === 'active'" translate="biCancelButtonTextEapp" >
                No,Cancel
                </button>
                <button id="cancel_benef" type="button" ng-show="confirmDeleteMessage"
                class="btn inline-block span3 btn-default text-red"
                ng-click="cancel()" ng-if="myIllustrations  === 'active'" translate="biCancelButtonText">
                No,Cancel
                </button>
                <button id="cancel_benef" type="button" ng-hide="confirmDeleteMessage"
                class="btn inline-block span3 btn-primary"
                ng-click="cancel()" translate="okConfirmButtonText">
                OK
                </button>
						</div>
					</div>
				</div>
				<div class="spacing"></div>
<!--			</div>-->
		</div>
	
	
  <!-- THE MODAL POPUP  -->

      </div>
      <!--Email PopUp -->
      <div class="popup_setpref_container_previous general-overlay-container ill_popup_container" ng-class="{'center_pop_up':emailpopup}" ng-show="emailpopup">
        <div class="email-header" style="padding:10px 10px">
          <span class="text ng-scope" translate="sendEmailPopupHeader">Mailing Details</span>
          <i id="close_email_popup" class="fa fa-close" ng-click="cancelEmailPopup()"></i>
        </div>
        <div style="padding:20px 20px">
          <div class="row-fluid">
            <div class="span12">
              <span class="span2" translate="general.mailto">To</span>
              <input type="text"  class="span10" id="to_name" name="toName" ng-model="emailToId">
            </div>
            <div class="span12">
              <span class="offset2 span10 ill-email-error-msg" ng-bind="emailToError"></span>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span12">
              <span class="span2" translate="general.mailcc">To</span>
              <input type="text"  class="span10"  id="cc_name" name="ccName" ng-model="emailccId">
            </div>
            <div class="span12">
              <span class="offset2 span10 ill-email-error-msg" ng-bind="emailCcError"></span>
            </div>
          </div>
		  <div class="row-fluid">
			<div class="span12">
				<span class="span2 textExpand" translate="general.mailSubject">SUBJECT</span>
                <textarea rows="3" cols="20" class="span10" id="sub" ng-model="emailSubject" readonly name="subject" pull-right></textarea>
			</div>
			<div class="span12">
              <span class="offset2 span10 ill-email-error-msg" ng-bind="emailSubjectError"></span>
            </div>
          </div>
          <div class="email-send-btnblock">
            <button id="emailcancelButton" class="btn  cancel-btn" translate="illustrator.cancelMessage" ng-click="cancelEmailPopup()">Cancel</button>
            <button id="emailokButton" class="btn  btn-primary" ng-click="emailPopupOkClick()" translate="general.send">Send</button>
          </div>
        </div>
      </div>
      <div class="general-modal-overlay ng-scope" ng-show="emailpopup"></div>
      <!--Email Popup Ends -->
      <!-- THE MODAL POPUP-->
      <!--Bottom Button area  -->
      <div id="notifyMsg" class="notification_msgs general_brd span12" ng-show="notifyMsg">
        <div class="row-fluid">
          <span class="remove_info_img" ng-click="HideNotifyMsg();"></span>
        </div>
        <span id="notifyIcon" class="info_icon" ng-class="{'success_icon':!notifyerror,'error_icon ':notifyerror}"></span>
        <span class="success_alert_content" ng-class="{'success_alert_content':!notifyerror,'error_alert_content ':notifyerror}" id="notifyMsgContent">[[notifyMessage]]</span>
      </div>
      <div class="general-modal-overlay" ng-show="dvDeleteConfirm"></div>
    </div>

  <div class="overlay_TC" ng-show="showErrorForSignature"></div>
  <div class=" text-center">
    <div id="login_popup_info" class="modal fade cust-modal-med in bg-white widthForSig" ng-show="showErrorForSignature">
      <div class="modal-header bg-white">
        <div class="popup_info_img text-center"><img src="css/generali-theme/img/info.png" width="25"></div>
      </div>
      <div class="modal-body">
        <p class="large text-center">[[errorMessageForInsured]]</p>
        <p class="large text-center">[[errorMessageForAgent]]</p>
        <div>
           <button type="button" class="btncls login-popup-close" ng-click="closePopupForErrorMsg()" translate = "salesActivity.popUpClose"></button>
        </div>
      </div>    
    </div>
    </div>

    <lepopup control="lePopupCtrl"/>

<!-- overlay popup container  starts-->
<div class="overlay_pop" style="width:100%" ng-show="overlayTC"></div>

<!-- LMS popup -->
<div class="overlay_TC" ng-show="leadDetShowPopUpMsg"></div>	
<div class=" text-center">
	<div id="login_popup_info" class="mob modal fade cust-modal-med in bg-white" ng-show="leadDetShowPopUpMsg" style="width: 361px;">

	    <div class="modal-header bg-white">
	        <div class="popup_info_img text-center"><img src="css/generali-theme/img/infored.png" width="25"></div>
	    </div>
	    <div class="modal-body">

	        <p class="large text-center"><span translate="[[enterMandatory]]"></span></p>
	        <div>
	            <button type="button" class="btncls login-popup-close" ng-click="closePopup()"><span translate="lms.popUpClose"></span></button>
	        </div>
	    </div>
    
</div>
</div>
<!-- Create new illustration for GAO pop up for agnet -->
<div class="overlay_TC" ng-show="agentDetailsShowPopUpMsg"></div>	
<div class=" text-center">
	<div id="login_popup_info" class="modal GAO-popup fade cust-modal-med in bg-white" ng-show="agentDetailsShowPopUpMsg" style="width: 340px;">
	    <div class="modal-header bg-white">
	        <span class=" text-center eappListHelvaicaPopup" translate="eapp.message"></span>
			 <i id="close_GAO_popup" class="fa fa-close" ng-click="closePopUpGAO()"></i> 
	    </div>
	    <div class="modal-body">
			 <p class="text-center"><span translate="[[enterMandatory]]"></span></p> 
			<div class="details-blk clearfix">
				<div class="row-fluid">
					<input type="text"  class="span12" id="agentCode" name="agentCode" ng-model="agentCodeForGAO">
					<button id="" class="btn  btn-primary pull-right" ng-click="showAgentDetails(agentCodeForGAO)" translate="eapp.showDetails">Show Details</button>
				</div>
				<div class="illustration-details" ng-show="agentDetailsDescShowPopUpMsg">
					<div class="sectionBlock">
						<span translate="eapp.agentNameInPopUp">Agent Name</span><span ng-bind="agentFullName"></span>
					</div>
					<div class="sectionBlock">
						<span translate="eapp.agentManagerName">Agent's Manager Name</span><span ng-bind="agentManagerName"></span>
					</div>
					<div class="sectionBlock">
						<span translate="eapp.GAOName">GAO Name</span><span ng-bind="GAOName"></span>
					</div>
					<div class="sectionBlock">
						<span translate="eapp.agentStatus">Agent Status</span><span translate="[[agentStatus]]" ng-class="{'RedColor':statusCheck}"></span>
					</div>
					<div class="sectionBlock">
						<span translate="eapp.licenseExpiryDate">License Expiry Date</span><span ng-bind="agentLiscenseExpiryDate" ng-class="{'RedColor':dataCheck}"></span>
					</div>
					<div>
						<button id="" class="btn  btn-primary" ng-disabled="disableConfirmButtonForAgent" ng-click="confirmNewIllustration()" translate="eapp.confirm">Confirm</button>
						<button id="" class="btn  btn-primary" ng-click="closePopUpGAO()" translate="cancel">Cancel</button>
					</div>
				</div>
          </div>



			 
	        <!-- <div>
	            <button type="button" class="btncls login-popup-close" ng-click="closePopup()"><span translate="lms.popUpClose"></span></button>
	        </div> -->
	    </div>
    
</div>
</div>

