<!--Copyright 2015, LifeEngage -->
<div class="image-login push">
    <div class="login">
        <div class="row-fluid ">
            <div class="text-center"><img class="Logo_TH" src="css/generali-theme/img/banner-login.png"></div>
            <form id="myForm" name="myForm" novalidate>

                <div class="text-center subheading welcome Logo_title"><span translate="registertext"></span></div>

                <div ng-show="registration">
                    <!-- Agent Code-->
                    <div class="input-area">
                        <input type="text" class=" date span12" placeholder="รหัสตัวแทน" ng-model="agentCode" id="agentCode1" blur="onBlur()" name="agentCode1" ng-minlength="8" ng-maxlength="8" ng-pattern="agentCodeRegex" blur="onBlur()" ng-trim="false" required >
                        <div class="[[myForm.agentCode1.$error.required]]Required [[myForm.agentCode1.$error.dynamic]]Dynamic" ng-attr-error-msg="[[myForm.agentCode1.$error.required === true ?'registration.agentCodeEmptyMsg' :myForm.agentCode11.$error.message]]" errorKey="agentCode1" />
						
						<div class="[[myForm.agentCode1.$error.pattern]]Pattern" ng-attr-error-msg="[[myForm.agentCode1.$error.pattern === true ?'registration.patternInvalidMsg' :myForm.agentCode1.$error.message]]" errorKey="agentCode1"/>

                        <div class="[[myForm.agentCode1.$error.minlength]]Dynamic" ng-attr-error-msg="[[myForm.agentCode1.$error.minlength === true ?'registration.agentCodeMinMsg' :myForm.agentCode1.$error.message]]" errorKey="agentCode1" />

                        <div class="[[myForm.agentCode1.$error.maxlength]]Dynamic" ng-attr-error-msg="[[myForm.agentCode1.$error.maxlength === true ?'registration.agentCodeMaxMsg' :myForm.agentCode1.$error.message]]" errorKey="agentCode1" />

                        <!-- 
                            //Dont Delete for refference
                            <div class="[[myForm.licenseNumber.$error.required]]Required [[myForm.licenseNumber.$error.pattern]]Pattern 
                            				[[myForm.licenseNumber.$error.dynamic]]Dynamic"  ng-attr-error-msg="[[myForm.licenseNumber.$error.required === true ? 
                            				'lms.leadDetailsSectionleadFirstNameRequiredValidationMessage' : myForm.licenseNumber.$error.pattern === true ? 'lms.leadDetailsSectionleadFirstNamePatternValidationMessage' : 
                            myForm.agentCode1.$error.message]]" errorKey="agentCode1"  />
                            
                             -->

                        <!-- 
							<span class="login_highligt" ng-show="username.$invalid"></span>
							<span style="color:red" ng-show="myForm.username.$invalid">
								<span ng-show="myForm.username.$error.required">Username is required.</span>
							</span> 
							-->
                    </div>

                    <!-- License Number-->
                    <div class="input-area">
                        <input type="text" class=" date span12" placeholder="เลขที่ใบอนุญาต" ng-model="licenseNumber" blur="onBlur()" id="licenseNumber" name="licenseNumber" ng-minlength="5" ng-maxlength="15" ng-trim="false" required numbers-only>
                        <div class="[[myForm.licenseNumber.$error.required]]Required [[myForm.licenseNumber.$error.dynamic]]Dynamic" ng-attr-error-msg="[[myForm.licenseNumber.$error.required === true ?'registration.licenseNoEmptyMsg' :myForm.licenseNumber.$error.message]]" errorKey="licenseNumber" />

                        <div class="[[myForm.licenseNumber.$error.minlength]]Dynamic" ng-attr-error-msg="[[myForm.licenseNumber.$error.minlength === true ?'registration.licenseNoMinMsg' :myForm.licenseNumber.$error.message]]" errorKey="licenseNumber" />

                        <div class="[[myForm.licenseNumber.$error.maxlength]]Dynamic" ng-attr-error-msg="[[myForm.licenseNumber.$error.maxlength === true ?'registration.licenseNoMaxMsg' :myForm.licenseNumber.$error.message]]" errorKey="licenseNumber" />

                    </div>

                    <!-- Identification ID-->
                    <div class="input-area">
                        <input type="text" class=" date span12" placeholder="เลขบัตรประชาชน" ng-model="identificationId" blur="onBlur()" id="identificationId" name="identificationId" ng-minlength="13" ng-maxlength="13" ng-trim="false" required numbers-only>

                        <div class="[[myForm.identificationId.$error.required]]Required [[myForm.identificationId.$error.dynamic]]Dynamic" ng-attr-error-msg="[[myForm.identificationId.$error.required === true ?'registration.identificationIdEmptyMsg' :myForm.identificationId.$error.message]]" errorKey="identificationId" />

                        <div class="[[myForm.identificationId.$error.minlength]]Dynamic" ng-attr-error-msg="[[myForm.identificationId.$error.minlength === true ?'registration.identificationIdMinMsg' :myForm.identificationId.$error.message]]" errorKey="identificationId" />

                        <div class="[[myForm.identificationId.$error.maxlength]]Dynamic" ng-attr-error-msg="[[myForm.identificationId.$error.maxlength === true ?'registration.identificationIdMaxMsg' :myForm.identificationId.$error.message]]" errorKey="identificationId" />
                    </div>

                    <!-- Agent DOB-->
                   <div class="date-holder date">
                        <input gli-date-input-custom type="text" custom-blur="updateErrorCount('myForm')" class="custdatepicker input-append date span12 " data-date-format="yyyy-mm-dd" name="agentDob" futuredateflag="true" id="agentDob" ng-model="agentDob" ng-required="true"  blur="onBlur()" placeholder="วันเกิด"  ng-minlength="10" maxlength="10" ng-model-options="{ allowInvalid: true}" required>

                        <div class="[[myForm.agentDob.$error.required]]Required" ng-attr-error-msg="[[myForm.agentDob.$error.required === true ? 'registration.agentDobEmptyMsg' : myForm.agentDob.$error.message]]" errorKey="agentDob" />       

						<div class="[[myForm.agentDob.$error.minlength]]Dynamic" ng-attr-error-msg="[[myForm.agentDob.$error.minlength === true ? 'registration.agentDobFormatMsg' : myForm.agentDob.$error.message]]" errorKey="agentDob" />  						

                    </div> 
			 

                    <!--                    <div class="date-holder"><input type="text" data-provide="datepicker" class=" date span12" placeholder="Agent Date of Birth" ng-model="agentDob" name="agentDob" required ng-class="{true: 'invalid_input'}[submitted && myForm.agentDob.$invalid]"><i class="fa fa-calendar pull-right"></i></div>-->

                    <div class="white-txt margintop-10"  translate="mandatorytxt"></div>

                    
                    <button ng-click="registerUser()" class="btn btn-block btnBorder register-btn"><span class="white-txt"  translate="nextpage" ></span></button>

                </div>
                <div ng-hide="verification">
                    <!-- Agent Code auto populate-->
                    <div class="input-area">
                        <input type="text" class=" date span12" placeholder="รหัสตัวแทน" ng-model="confirmAgentCode" id="confirmAgentCode" name="confirmAgentCode" required readonly>
                    </div>

                    <!-- Password-->
                    <div class="input-area" ng-show="showPassword"><input type="text" class=" date span12" placeholder="รหัสผ่าน" ng-model="password" id="password1" name="password" ng-pattern="passwordRegex" maxlength="20" blur="onBlur()" ng-trim="false" ng-model-options="{ allowInvalid: true}" required></div>

                    <div class="input-area" ng-hide="showPassword"><input type="password" class=" date span12" placeholder="รหัสผ่าน" ng-model="password" id="password" name="password" ng-pattern="passwordRegex" maxlength="20" blur="onBlur()" ng-trim="false" ng-model-options="{ allowInvalid: true}" required></div>

                    <div class="[[myForm.password.$error.required]]Required [[myForm.password.$error.dynamic]]Dynamic" ng-attr-error-msg="[[myForm.password.$error.required === true ?'registration.passwordEmptyMsg' :myForm.password.$error.message]]" errorKey="password" ng-if="!verification" />

                    <div class="[[myForm.password.$error.pattern]]Pattern [[myForm.password.$error.dynamic]]Dynamic" ng-attr-error-msg="[[myForm.password.$error.pattern === true ?'registration.passwordInvalidMsg' :myForm.password.$error.message]]" errorKey="password" ng-if="!verification" />

                    <!--
                    <div class="[[myForm.password.$error.pattern]]Pattern [[myForm.password.$error.dynamic]]Dynamic" ng-attr-error-msg="[[myForm.password.$error.pattern === true ?'registration.passwordCaseMsg' :myForm.password.$error.message]]" errorKey="password" ng-if="!verification" />

                    <div class="[[myForm.password.$error.pattern]]Pattern [[myForm.password.$error.dynamic]]Dynamic" ng-attr-error-msg="[[myForm.password.$error.pattern === true ?'registration.passwordCharMsg' :myForm.password.$error.message]]" errorKey="password" ng-if="!verification" />
-->

                    <!-- Confirm Password-->
                    <div class="input-area" ng-show="showPassword"><input type="text" class=" date span12" placeholder="ยืนยันรหัสผ่าน" ng-model="confirmPassword" id="confirmPassword1" name="confirmPassword" maxlength="20" blur="onBlur()" ng-trim="false" required></div>

                    <div class="input-area" ng-hide="showPassword"><input type="password" class=" date span12" placeholder="ยืนยันรหัสผ่าน" ng-model="confirmPassword" id="confirmPassword" name="confirmPassword" maxlength="20" blur="onBlur()" ng-trim="false" required></div>

                    <div class="[[myForm.confirmPassword.$error.required]]Required [[myForm.confirmPassword.$error.dynamic]]Dynamic" ng-attr-error-msg="[[myForm.confirmPassword.$error.required === true ?'registration.confirmPasswordEmptyMsg' :myForm.confirmPassword.$error.message]]" errorKey="confirmPassword" ng-if="!verification" />

                    <div class="[[myForm.confirmPassword.$error.required]]Required [[myForm.confirmPassword.$error.dynamic]]Dynamic [[myForm.password.$valid]]Dynamic [[myForm.confirmPassword.$valid]]Dynamic" ng-attr-error-msg="[[myForm.confirmPassword.$viewValue !== myForm.password.$viewValue ?'registration.passwordMatchMsg' :myForm.confirmPassword.$error.message]]" errorKey="confirmPassword" ng-if="!verification && myForm.confirmPassword.$valid && myForm.password.$valid && myForm.confirmPassword.$viewValue !== myForm.password.$viewValue" />

                    <div class="pull-right white-txt margintop-10">
                        <div class="pull-left"><i class="fa fa-eye eye-icon" ng-class="{'eyeicon_hide' : toggle}" ng-click="verifyDcocuments(rc_images, 'rc_image');toggle = !toggle" id="rc_image"></i></div>
                        <div class="pull-left"><span class="large" ng-class="{'eyeicon_hide' : toggle}"  ng-click="verifyDcocuments(rc_images, 'rc_image');toggle = !toggle">[[toggleText]]</span></div>
                    </div>

                    <!-- Email-->
                    <div><input type="text" class=" date span12" placeholder="อีเมล" ng-model="email" id="email" name="email" blur="onBlur()" maxlength="60" ng-trim="false" no-space ng-pattern="emailRegex">

                        <div class="[[myForm.email.$error.dynamic]]Dynamic [[myForm.email.$error.pattern]]Pattern" ng-attr-error-msg="[[myForm.email.$error.pattern === true ?'registration.mailInvalidMsg' :myForm.email.$error.message]]" errorKey="email" ng-if="!verification" />
                    </div>

                    <!-- Terms and Condition-->
                   
                            <div class="icheckbox" ng-class="{'checked':termsCheckbox}">
                                <input type="checkbox" id="termsCheckbox" name="termsCheckbox" ng-model="termsCheckbox" ng-click="toggleSelection();onBlur()" blur="onBlur()" required>

                                <div class="[[myForm.termsCheckbox.$error.required]]Required [[myForm.termsCheckbox.$error.dynamic]]Dynamic" ng-attr-error-msg="[[myForm.termsCheckbox.$error.required === true ?'registration.termsConditionCheckMsg' :myForm.termsCheckbox.$error.message]]" errorKey="termsCheckbox" ng-if="!verification" />
                            </div>
                           <span ><a class="white-txt " href="" ng-click="showTermsConditionsPopup()">
                           <u translate="terms"></u></a></span>

                           <button class="btn-block login-btn marginTop10" ng-click="createPassword();"><span class="btn-txt" translate="registertext"></span></button>
                            <!-- <button class="btn-primary btn-block btn-large" ng-click="validateRegistrationDetails()"><strong class="large">REGISTER</strong></button> -->
                            </div>
                   

            </form>
            <!--
            <div class="row-fluid red-text error-blk">
                <div class="span12 margintop10" ng-show="errorMessage.length > 0">
                    <div>
                        <div class="span10">
                            <div ng-repeat="error in errorMessage track by $index">
                                <span translate="[[error]]"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
-->

            <div class="text-center forgotPwd login-hme"><a class="Home_txt" href="#!" translate="backtologin"></a></div>

        </div>
    </div>
</div>



<!-- Terms and Conditions popup-->
<div id="authorizationStatus" class="modal fade in bg-white termspopup white" ng-show="showTerms">
    <div class="modal-header">
        <span></span>
        <button type="button" class="close closeTC" data-dismiss="modal" aria-hidden="true" ng-click="closeTC()">X</button>
    </div>

    <div class="modal-body" modal-body-height="">

        <div class="text-center"><img class="Logo_Termcond" src="css/generali-theme/img/banner-login-red.png"></div>

        <div class="text-center subheading welcome Logo_title margintop-10"><span class="orange-text">ข้อตกลงและเงื่อนไขการใช้งาน</span></div>

        <hr class="line_Th">
        <div>
<!--            <strong class="prePadHead">ข้อตกลงและเงื่อนไขการใช้งาน</strong>-->
            <p class="preBody">ข้อกำหนดและเงื่อนไขการใช้บริการนี้ มีผลบังคับระหว่าง บริษัท เจนเนอราลี่ ประกันชีวิต (ไทยแลนด์) จำกัด (มหาชน) และ บริษัท เจนเนอราลี่ ประกันภัย (ไทยแลนด์) จำกัด (มหาชน) (ซึ่งต่อไปนี้จะเรียกว่า "บริษัทฯ") กับผู้ใช้งานซึ่งหมายถึงตัวแทนขาย (Agents) ของบริษัทฯ ที่บริษัทฯ ยินยอมให้บุคคลที่ได้รับอนุญาตเท่านั้นที่สามารถใช้บริการนี้ โดยผู้ใช้งานตกลงใช้บริการและปฏิบัติตามข้อกำหนดและเงื่อนไขการใช้บริการต่อไปนี้โดยปราศจากข้อยกเว้นใดๆ ทั้งสิ้น การบริการข้อมูลบนแอปพลิเคชั่นนี้ ผู้ใช้งานสามารถค้นหาข้อมูลของผลิตภัณฑ์ประกันชีวิตและประกันภัย หรือข้อมูลต่างๆ ที่บริษัทฯ จัดให้ โปรดศึกษาข้อตกลงและเงื่อนไขการใช้งานผ่านโปรแกรมนี้อย่างระมัดระวังเนื่องจากข้อตกลงและเงื่อนไขนี้ระบุถึงข้อมูลสัญญาเกี่ยวกับสิทธิต่างๆ ของท่าน รวมถึงข้อจำกัดและข้อยกเว้นต่างๆ ซึ่งมีผลใช้บังคับธุรกรรม และกิจกรรมทั้งหมดบนแอปพลิเคชั่นที่ท่านควรจะรับทราบก่อนที่จะลงทะเบียนเข้าใช้ระบบนี้ การที่ท่านสมัครใช้บริการ และ/หรือ ใช้บริการไม่ว่าในลักษณะใดๆ หรือ โดยการเลือก “ตกลง” เพื่อยอมรับตามข้อตกลงและเงื่อนไขนี้ ถือว่าท่านได้รับทราบและรับรู้เนื้อหาของข้อตกลงและเงื่อนไขรวมถึงกฎระเบียบ นโยบายต่างๆนี้โดยครบถ้วนสมบูรณ์แล้ว บริษัทฯ ทั้งนี้ทางบริษัทฯสามารถเปลี่ยนแปลงเนื้อหาของข้อตกลงและเงื่อนไขรวมถึงกฎระเบียบ นโยบายต่างๆ นี้ได้โดยไม่จำเป็นต้องแจ้งให้ทราบล่วงหน้า
            </p>
        </div>
        <div>
            <strong class="prePadHead">เครื่องหมายการค้าและลิขสิทธิ์</strong>
            <p class="preBody">บริษัทฯ - เป็นเจ้าของลิขสิทธิ์ข้อมูลและส่วนประกอบอื่นๆ ในทุกๆ หน้าของแอปพลิเคชันนี้ เว้นแต่จะระบุไว้เป็นอย่างอื่น ห้ามทำการดัดแปลง จัดเก็บในระบบที่สามารถนำมาใช้งานได้ ถ่ายโอน ลอกเลียนแบบ เผยแพร่ หรือใช้ข้อมูลและส่วนประกอบนั้นโดยวิธีอื่นใด เพื่อวัตถุประสงค์ทางการค้า โดยมิได้รับความยินยอมล่วงหน้าเป็นลายลักษณ์อักษรจาก บริษัทฯ - บริษัทฯ เป็นเจ้าของเครื่องหมายการค้า สัญลักษณ์ เครื่องหมายบริการ และชื่อทางการค้าที่ปรากฏอยู่ในแอปพลิเคชันนี้ และไม่อนุญาตหรือยินยอมให้มีการใช้เครื่องหมายการค้า สัญลักษณ์ เครื่องหมายบริการ และชื่อทางการค้า โดยไม่ได้รับการยินยอมเป็นลายลักษณ์อักษรล่วงหน้าจากบริษัทฯ - แล้วแต่กรณี
            </p>
        </div>
        <div>
            <strong class="prePadHead">การใช้ข้อมูลและส่วนประกอบต่างๆ</strong>
            <p class="preBody">ข้อมูลและส่วนประกอบต่างๆ ที่ปรากฏอยู่ในแอปพลิเคชันนี้ อาจมีการเปลี่ยนแปลงได้ โดยไม่ต้องแจ้งให้ท่านทราบล่วงหน้าและมิได้มีวัตถุประสงค์เพื่อให้คำแนะนำอย่างผู้เชี่ยวชาญ
            </p>
        </div>
        <div>
            <strong class="prePadHead">ไม่มีการรับประกัน</strong>
            <p class="preBody">บริษัทฯ - นำเสนอข้อมูลและส่วนประกอบต่างๆ ที่มีอยู่ในแอปพลิเคชัน นี้ เพื่อให้ข้อมูลตามที่ปรากฏอยู่ หรือที่มีอยู่เท่านั้น ถึงแม้ บริษัทฯ - จะได้ใช้ความพยายามเพื่อทำให้ข้อมูลและส่วนประกอบนั้นมีความถูกต้องมากที่สุด บริษัทฯ ก็ไม่สามารถรับประกันว่าข้อมูลและส่วนประกอบดังกล่าวมีความถูกต้องสมบูรณ์เพียงพอ ทันกาล เหมาะสมกับวัตถุประสงค์ใดโดยเฉพาะ และปราศจากไวรัส ทั้งนี้ บริษัทฯ จะไม่รับผิดสำหรับความผิดพลาดหรือไม่ครบถ้วนใดๆ ในข้อมูลและส่วนประกอบนั้น
            </p>
        </div>
        <div>
            <strong class="prePadHead"g>สิ่งที่ไม่อยู่ในความรับผิดชอบ</strong>
            <p class="preBody">บริษัทฯ จะไม่รับผิดสำหรับความเสียหายใดๆ รวมถึง ความสูญเสีย ความเสียหาย หรือค่าใช้จ่ายที่เกิดขึ้นไม่ว่าโดยตรงหรือโดยอ้อม โดยเฉพาะเจาะจง โดยบังเอิญหรือเป็นผลสืบเนื่อง ซึ่งเกิดจากการที่ท่านเข้าใช้แอปพลิเคชันนี้ หรือแอปพลิเคชันที่เชื่อมโยงกับแอปพลิเคชันหรือการที่บุคคลใดๆ ไม่สามารถเข้าใช้ได้ นอกจากนั้น บริษัทฯ จะไม่รับผิดต่อความสูญเสีย ความเสียหาย หรือค่าใช้จ่ายที่เกิดจากความล้มเหลวในการใช้งาน ความผิดพลาด การละเว้น การหยุดชะงัก ข้อบกพร่อง ความไม่สมบูรณ์ คอมพิวเตอร์ไวรัส ถึงแม้ว่า บริษัทฯ หรือผู้แทนของบริษัทฯ จะได้รับแจ้งว่าอาจจะเกิดความสูญเสีย ความเสียหายหรือค่าใช้จ่ายดังกล่าว
            </p>
        </div>
        <div>
            <strong class="prePadHead">การจำกัดความรับผิดชอบ</strong>
            <p class="preBody">ในขณะที่บริษัทฯ พยามยามที่จะบันทึกข้อมูลที่ถูกต้องและเป็นข้อมูลที่ใหม่ แต่ความผิดพลาดอาจเกิดขึ้นได้ในบางกรณี ภายใต้ข้อกำหนดของกฎหมายได้อนุญาตให้บริษัทฯ ต้องรับผิดชอบต่อความถูกต้องของเนื้อหาบนแอปพลิเคชั่นไม่ว่าในสถานการณ์ใดๆ บริษัทฯ จะไม่รับผิดชอบและไม่ดูแลถึงความเสียหาย หรือการติดไวรัสของเครื่อง หากผู้ใช้งานได้เข้ามาใช้แอปพลิเคชันนี้เพื่อดาวน์โหลดเนื้อหา ข้อมูล รูปภาพ วีดีโอหรือเสียงจากแอปพลิเคชันนี้ ผู้ใช้งาน สามารถดาวน์โหลดโปรแกรมได้จาก Website ดังต่อไปนี้ www.generali.co.th หรือ App Store สำหรับอุปกรณ์ของ Apple หรือจาก Market (Play Store) สำหรับอุปกรณ์ที่ใช้ระบบปฏิบัติการ Android หรือจากช่องทางอื่นที่บริษัทฯ กำหนด ทั้งนี้ บริษัทฯ จะไม่รับผิดชอบต่อความเสียหายหรือความผิดปกติของอุปกรณ์พกพาของผู้ใช้งานอันเป็นผลมาจากการติดตั้งโปรแกรม ลงบนอุปกรณ์เคลื่อนที่ของผู้ใช้งาน
            </p>
        </div>
        <div>
            <strong class="prePadHead">ความเป็นเจ้าของข้อมูล</strong>
            <p class="preBody">เนื้อหาที่อยู่บนโปรแกรมรวมถึงข้อมูล โปรแกรมคอมพิวเตอร์ รูปภาพ กราฟ วีดีโอ ตัวพิมพ์ กราฟฟิค ดนตรี เสียงหรือสิ่งอื่นๆ (เรียกรวมกันว่า “เนื้อหา”) ถือเป็นลิขสิทธิ์ของ บริษัทฯ ผู้ใช้งาน ไม่สามารถที่จะทำซ้ำ ดัดแปลง ลบทิ้ง เพิ่มเติม เผยแพร่ ส่งต่อ หรือมีส่วนร่วมในการโอน หรือขาย ให้เช่าซื้อหรือเช่า หรือนำไปดัดแปลงเป็นผลงานอื่นไม่ว่าส่วนหนึ่งส่วนใดหรือทั้งหมดเว้นแต่จะได้รับอนุญาตโดยชัดแจ้งจากผู้มีอำนาจให้ความยินยอม
            </p>
        </div>
        <idv>
            <strong class="prePadHead">การจำกัดการใช้ข้อมูล</strong>
            <p class="preBody">แอปพลิเคชันนี้เป็นสิทธิ์ภายใต้การดำเนินการโดยบริษัท เจนเนอราลี่ ประกันชีวิต (ไทยแลนด์) จำกัด (มหาชน) และ บริษัท เจนเนอราลี่ ประกันภัย (ไทยแลนด์) จำกัด (มหาชน) เว้นแต่จะได้รับการอนุญาตจากบริษัทฯ ห้ามไม่ให้ทำซ้ำ หรือนำไปแก้ไข เผยแพร่ใหม่ หรือใส่และส่งข้อมูลเพื่อพัฒนาหรือบิดเบือนไปจากวัตถุประสงค์เดิมในทางใดก็ตาม โดยผู้ที่ได้รับอนุญาตเท่านั้น ที่สามารถนำข้อมูลจากในแอปพลิเคชันมาใช้ได้ โดยจะเป็นข้อมูล หรือเอกสาร ที่ทางบริษัทฯ ได้อนุญาตให้นำไปเสนอลูกค้า โดยสามารถที่จะจัดส่งผ่านในจดหมายอิเล็กทรอนิกส์ได้ แต่ห้ามมิให้มีการแก้ไขตัวอักษรหรือข้อมูลที่ได้ทำการพิมพ์มาจากแอปพลิเคชั่นนี้ ห้ามไม่ให้นำบางส่วนของแอปพลิเคชันนี้มาใช้ในทางสาธารณะหรือในทางการค้า รวมถึงข้อความ รูปภาพ เสียง และ วีดีโอ โดยปราศจากการอนุญาตจากบริษัทฯ เป็นลายลักษณ์อักษร บริษัทฯ จะไม่รับประกันและไม่สามารถรับผิดชอบหากท่านใช้ข้อมูลที่แสดงในแอปพลิเคชันนี้ไปละเมิดสิทธิ์บุคคลภายนอก
            </p>
        </idv>
        <div>
            <strong class="prePadHead">นโยบายความเป็นส่วนตัว</strong>
            <p class="preBody">บริษัทฯ เคารพสิทธิในความเป็นส่วนตัวของข้อมูลของผู้ใช้งาน และเข้าใจดีว่าผู้ใช้งานมีความประสงค์ที่จะได้รับความปลอดภัยสูงสุดในการใช้งานผ่านโปรแกรม ดังนั้น ข้อมูลต่าง ๆ ของผู้ใช้งานที่บริษัทฯ ได้รับมานั้น โดยหลักการแล้วจะถูกนำไปใช้ให้เป็นไปตามวัตถุประสงค์ของผู้ใช้งานเท่านั้น บริษัทฯ จะดำเนินมาตรการที่เข้มงวดในการรักษาความปลอดภัย ตลอดจนจะป้องกันมิให้มีการนำข้อมูลไปใช้โดยมิได้รับอนุญาตจากผู้ใช้งานก่อน นโยบายความเป็นส่วนตัวที่ปรากฏด้านล่างนี้ใช้บังคับกับบัญชีของผู้ใช้งานและข้อมูลต่าง ๆ ที่ผู้ใช้งานได้ให้ไว้กับ โปรแกรมนี้</p>
            <div>
                <strong class="prePad">การเก็บรวบรวมข้อมูลส่วนบุคคล</strong>
                <ol start="1" class="prePad preBody">
                    <li>เพื่อความสะดวกของผู้ใช้งานทุกราย บริษัทฯ มีความจำเป็นต้องร้องขอข้อมูลส่วนบุคคลที่จำเป็นบางอย่างของผู้ใช้งานไว้ เช่น อีเมล ชื่อ ที่อยู่ รหัสไปรษณีย์ หรือหมายเลขโทรศัพท์มือถือ เป็นต้น โดยท่านจะต้องให้ข้อมูลบังคับ (Required Information) แก่บริษัทฯ เพื่อให้ระบบสามารถดำเนินการลงทะเบียนได้ในกรณีที่ท่านลงทะเบียนเพื่อสมัครการใช้งานกับแอปพลิเคชันนี้</li>
                    <li>ผู้ใช้งาน มีสิทธิในความเป็นส่วนตัวของข้อมูลของผู้ใช้งาน โดยบริษัทฯ จะไม่อนุญาตให้มีการเปิดเผยข้อมูลเกี่ยวกับบัญชีของผู้ใช้งานให้กับบุคคลภายนอก นอกเหนือจากพนักงานผู้ที่ได้รับอนุญาตฯ</li>
                    <li>ผู้ใช้งานสามารถตรวจสอบข้อมูลส่วนตัวของผู้ใช้งาน รวมทั้งสามารถเปลี่ยนแปลงข้อมูลของผู้ใช้งานได้ทุกเวลาโดยการเข้าสู่ระบบมายังบัญชีของผู้ใช้งาน (Account)</li>
                    <li>บริษัทฯ จะนำข้อมูลที่ได้บันทึกหรือเก็บรวบรวมไว้ไปใช้ในการวิเคราะห์เชิงสถิติ หรือในกิจกรรมอื่นของ บริษัทฯ เพื่อปรับปรุงคุณภาพสินค้าและบริการของบริษัทฯ ต่อไป</li>
                    <li>ผู้ใช้งาน ตกลงให้บริษัทฯ ใช้ข้อมูลของผู้ใช้งานเพื่อการพิจารณาและพัฒนาผลิตภัณฑ์ การบริการ หรือเพื่อการอื่นได้</li>
                </ol>
            </div>
        </div>
        <div>
            <strong class="prePadHead">อำนาจในการตัดสินคดี</strong>
            <p class="preBody">บริษัทฯ ไม่ขอยืนยันว่าข้อมูลที่แสดงบนแอปพลิเคชันเป็นข้อมูลที่ถูกต้องเหมาะสมและสามารถใช้ได้กับทุกสถานที่ สำหรับท่านที่เลือกเข้าใช้แอปพลิเคชันนี้กรุณาตรวจสอบบทกฎหมายว่าขัดต่อกฎหมายท้องถิ่นของท่านหรือไม่</p>
        </div>
        <div>
            <strong class="prePadHead">เครื่องหมายการค้าและลิขสิทธิ์</strong>
            <p class="preBody">เครื่องหมายการค้า เครื่องหมายการบริการ ชื่อทางด้านการค้า โลโก้ และ ไอคอนทั้งหมด เป็นทรัพย์สินของบริษัทฯ ไม่มีสิ่งใดในแอปพลิเคชันนี้ ที่สามารถนำไปใช้ได้โดยไม่ขออนุญาตเป็นลายลักษณ์อักษรจากบริษัทฯ ห้ามนำสัญลักษณ์ต่างๆ ในแอปพลิเคชันนี้ไปใช้โดยไม่ได้รับอนุญาต หากมีผู้ใดที่ละเมิดในการใช้รูปภาพอาจนำมาซึ่งการละเมิดกฎหมายทรัพย์สินทางปัญญาและอาจมีโทษทางกฎหมายได้</p>
        </div>
        <div>
            <strong class="prePadHead">ข้อตกลงในการใช้การบันทึกและลายมือชื่ออิเล็คทรอนิกส์</strong>
            <p class="preBody">ด้วยความยินยอมของท่าน บริษัทฯ จะอนุญาตให้ท่านสามารถเข้าไปปรับข้อมูลของผู้ใช้งานเมื่อท่านต้องการเปลี่ยนหรือปรับข้อมูลให้ทันสมัยขึ้น อาจทำโดยแสดงข้อมูลที่ได้มีการเปลี่ยนแปลงบนแอปพลิเคชัน หรือส่งข้อมูลที่ได้มีการเปลี่ยนแปลงไปที่อีเมลของท่าน หรือให้ทางท่านสั่งพิมพ์ เพื่อที่จะได้เก็บไว้เป็นหลักฐานทุกครั้งที่ท่านทำการเปลี่ยนแปลงข้อมูล ชื่อผู้ใช้และรหัสผ่านที่ท่านใช้ทำรายการจะเปรียบเสมือนลายเซ็นรับรองการทำธุรกรรมทางอินเตอร์เน็ตซึ่งจะมีผลและเป็นพันธะผูกพันทางด้านกฎหมายระหว่างท่านกับบริษัทฯ</p>
        </div>
    </div>
</div>

<!--Service Popup Message 
<div class=" text-center">
<div id="login_popup_info" class="modal fade cust-modal-med in bg-white" ng-show="showPopUpMsg">

    <div class="modal-header bg-white">
        <div class="popup_info_img text-center"><img src="css/generali-theme/img/info.png" width="25"></div>
        <p class="large text-red fontalign" ng-repeat="errorMessageService in errorMessageService">[[errorMessageService]]</p>
        <div class="" style="background: #fff;overflow:hidden;margin-bottom:10%">
            <button type="button" class="btncls btn-primary" style="margin-top:5%;width:100%; height: 12%;line-height: 34px;" ng-click="closePopup()">CLOSE</button>
        </div>
    </div>
    <div class="modal-body">
        <p class="large text-center">[[popUpErrorMsg]]</p>
        <div>
            <button type="button" class="btncls login-popup-close" ng-click="closePopup()">CLOSE</button>
        </div>
    </div>
    
</div>
</div>
<!--UI validation popup
<div class="overlay_TC" ng-show="overlayTC"></div>
<div class="alert-box-holder" ng-show="true" ng-class="{'active':inFocus}">
    <div class="alert-box warning0 pull-left" ng-class="{'warning':errorCount > 0}">
        <div ng-click="showErrorPopup('myForm',$event)">
            <span class="number" id="errorPopup" ng-show="errorCount > 0">[[errorCount]]</span>
            <a class="error-status">
		      </a>
        </div>
        <div class="pop-up" ng-show="isPopupDisplayed && errorCount > 0">
            <div class="pop-up-container">
                 <div class="popup_info_img text-center"><img src="css/generali-theme/img/info.png" width="25"></div>
                <!--<p><span translate="lms.pleaseEnter"></span> </p>
                <ol>
                    <li ng:repeat="errorMessage in errorMessages">
                        <a href='' ng-click="focusErrorField(errorMessage.key)" id="err-key-[[errorMessage.key]]">[[errorMessage.message]]</a>
                    </li>
                </ol>
            </div>
            <div class="rb-arrow">
                <img src="css/generali-theme/img/icon/alert-box-rb-arrow.png" alt="alert-box-rb-arrow" width="35" height="36">
            </div>
        </div>
    </div>
</div>-->

<!--Service Validation Popup Message-->
<div class=" text-center">
<div id="login_popup_info" class="modal fade cust-modal-med in bg-white" ng-show="showPopUpServiceMsg" style="width: 361px;">

    <div class="modal-header bg-white">
        <div class="popup_info_img text-center"><img src="css/generali-theme/img/infored.png" width="25"></div>
    </div>
    <div class="modal-body">
        <p class="large text-center" ng-repeat="errorMessageService in errorMessageService">[[errorMessageService]]</p>
        <div>
            <button type="button" class="btncls login-popup-close" ng-click="closePopup()">ปิด</button>
        </div>
    </div>
    
</div>
</div>
<!--
<div id="" class="modal fade cust-modal  cust-modal-med in bg-white" ng-show="showPopUpServiceMsg" style="background: #fff; margin-top: 25%;margin-left: -175px;width: 350px;height: 210px; "> 

    <div class="modal-header">
        <i class="fa fa-info-circle icn" aria-hidden="true" style="width:140px; left:100px font-family: Arial, sans-serif;font-size: 25px;margin-top:7%; margin-left: 160px; color: #c32a24;">
        </i>
        <p class="large text-red fontalign" ng-repeat="errorMessageService in errorMessageService">[[errorMessageService]]</p>
        <div class="" style="background: #fff;overflow:hidden;margin-bottom:10%">
            <button type="button" class="btncls btn-primary" style="margin-top:5%;width:100%; height: 12%;line-height: 34px;" ng-click="closePopup()">CLOSE</button>
        </div>
    </div>
</div>
-->
<!--Madatory Popup Message -->
<!--
<div id="" class="modal fade cust-modal  cust-modal-med in bg-white" ng-show="showPopUpMsg" style="background: #fff; margin-top: 25%;margin-left: -175px;width: 350px;height: 210px; ">

    <div class="modal-header">
        <div class="text-center"><img src="css/generali-theme/img/info.png"></div>
        <p class="large text-red fontalign">[[popUpErrorMsg]]</p>
        <div class="" style="background: #fff;overflow:hidden;margin-bottom:10%">
            <button type="button" class="btncls btn-primary" style="margin-top:5%;width:100%; height: 12%;line-height: 34px;" ng-click="closePopup()">CLOSE</button>
        </div>
    </div>
</div>
-->
<!-- Offline error message -->
<div class=" text-center">
<div id="login_popup_info" class="modal fade cust-modal-med in bg-white" ng-show="OfflineshowPopUpMsg">

    <div class="modal-header bg-white">
        <div class="popup_info_img text-center"><img src="css/generali-theme/img/infored.png" width="25"></div>
    </div>
    <div class="modal-body">
        <p class="large text-center">[[firsttimeloginErrorMsg]]</p>
        <div>
            <button type="button" class="btncls login-popup-close" ng-click="closePopup()">ปิด</button>
        </div>
    </div>
    
</div>
</div>



<div class=" text-center">
<div id="login_popup_info" class="modal fade cust-modal-med in bg-white" ng-show="showPopUpMsg">

    <div class="modal-header bg-white">
        <div class="popup_info_img text-center"><img src="css/generali-theme/img/infored.png" width="25"></div>
    </div>
    <div class="modal-body">
        <p class="large text-center">[[popUpErrorMsg]]</p>
        <div>
            <button type="button" class="btncls login-popup-close" ng-click="closePopup()">ปิด</button>
        </div>
    </div>
    
</div>
</div>

<!--UI validation popup-->
<div class="overlay_TC" ng-show="overlayTC"></div>
<div class="alert-box-holder" ng-show="true" ng-class="{'active':inFocus}">
    <div class="alert-box warning0 pull-left" ng-class="{'warning':errorCount > 0}">
        <div ng-click="showErrorPopup('myForm',$event)">
            <span class="number" id="errorPopup" ng-show="errorCount > 0">[[errorCount]]</span>
            <a class="error-status">
		      </a>
        </div>
        <div class="pop-up" ng-show="isPopupDisplayed && errorCount > 0">
            <div class="pop-up-container">
                 <div class="info_img"><img src="css/generali-theme/img/infored.png" class="text-center" width="25"></div>
                <!--<p><span translate="lms.pleaseEnter"></span> </p>-->
                <ol>
                    <li ng:repeat="errorMessage in errorMessages">
                        <a href='' ng-click="focusErrorField(errorMessage.key)" id="err-key-[[errorMessage.key]]">[[errorMessage.message]]</a>
                    </li>
                </ol>
            </div>
            <div class="rb-arrow">
                <img src="css/generali-theme/img/icon/alert-box-rb-arrow.png" alt="alert-box-rb-arrow" width="35" height="36">
            </div>
        </div>
    </div>
</div>

<!-- overlay popup container  starts-->
<div class="overlay_pop" style="width:100%" ng-show="overlayTC"></div>

<!-- overlay container  starts-->
<div class="common_custom_model_overlay" ng-show="showTerms" ng-click="showTerms = !showTerms"></div>
<!-- overlay container ends -->

<!-- LOGIN SCREEN -->
<lepopup control="lePopupCtrl" />

<!-- Overlay for Error Bubble -->
<div class="overlay_TC_ErrorBubble" ng-show="isPopupDisplayed"></div>
