<div class="container selft-tools-container">
	<div class="tabbable tabbable-bordered row-fluid">
		<div class="span3 tabs-left" >
			<ul class="nav nav-tabs left-menu">
				<li ng-class="{'active':subTab=='aboutGenerali'}"><a data-toggle="tab" data-target="#aboutGenerali" translate= "fna.aboutCompany"></a></li>
				<li class=""><a data-toggle="tab" data-target="#products" translate= "lms.products" href="" ng-click=linkSubTab('Product')></a></li>
				<li class=""><a data-toggle="tab" data-target="#lifeStages" translate="fna.lifeStages"></a></li>
				<li ng-class="{'active':subTab=='selfTools'}"><a data-toggle="tab" data-target="#selfTools" translate="fna.selfTools"></a></li>				
				
			</ul>
		</div>

		<div class="tab-content span9">
			<div id="aboutGenerali" class="tab-pane" ng-class="{'active':subTab=='aboutGenerali'}">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" data-target="#tab1" translate = "lms.referenceProfile"></a></li>
					<li><a data-toggle="tab" data-target="#tab2" translate= "lms.referenceVideos"></a></li>
				</ul>
				<div class="tabbable"> 
					<div class="tab-content">
					<!-- Tab 1 -->
						<div class="tab-pane active" id="tab1">
						<!-- Carousel View Begins -->
							<div id="myCarousel" class="carousel slide" data-ride="carousel" data-wrap="false" swipe-carousel>
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
									<li data-target="#myCarousel" data-slide-to="1"></li>
									<li data-target="#myCarousel" data-slide-to="2"></li>
									<li data-target="#myCarousel" data-slide-to="3"></li>
									<li data-target="#myCarousel" data-slide-to="4"></li>
									<li data-target="#myCarousel" data-slide-to="5"></li>
									<li data-target="#myCarousel" data-slide-to="6"></li>
									<li data-target="#myCarousel" data-slide-to="7"></li>
									<li data-target="#myCarousel" data-slide-to="8"></li>
									<li data-target="#myCarousel" data-slide-to="9"></li>
									<li data-target="#myCarousel" data-slide-to="10"></li>
									<li data-target="#myCarousel" data-slide-to="11"></li>
									<li data-target="#myCarousel" data-slide-to="12"></li>
									<li data-target="#myCarousel" data-slide-to="13"></li>
									<li data-target="#myCarousel" data-slide-to="14"></li>
									<!-- <li data-target="#myCarousel" data-slide-to="15"></li> -->
								</ol>
								<div class="carousel-inner carousel-inner-aboutMe">
									<div class="item active">
										<img style= "max-width:88% ;margin-left: 6%" src="css/generali-theme/abtUsPics/Slide1.JPG">
									</div>

									<div class="item">
										<img style= "max-width:88% ;margin-left: 6%" src="css/generali-theme/abtUsPics/Slide2.JPG">
									</div>

									<div class="item">
										<img style= "max-width:88% ;margin-left: 6%" src="css/generali-theme/abtUsPics/Slide3.JPG">
									</div>
									
									<div class="item">
										<img style= "max-width:88% ;margin-left: 6%" src="css/generali-theme/abtUsPics/Slide4.JPG">
									</div>
									
									<div class="item">
										<img style= "max-width:88% ;margin-left: 6%" src="css/generali-theme/abtUsPics/Slide5.JPG">
									</div>
										
									<div class="item">
										<img style= "max-width:88% ;margin-left: 6%" src="css/generali-theme/abtUsPics/Slide6.JPG">
									</div>
									
									<div class="item">
										<img style= "max-width:88% ;margin-left: 6%" src="css/generali-theme/abtUsPics/Slide7.JPG">
									</div>
									
									<div class="item">
										<img style= "max-width:88% ;margin-left: 6%" src="css/generali-theme/abtUsPics/Slide8.JPG">
									</div>
									
									<div class="item">
										<img style= "max-width:88% ;margin-left: 6%" src="css/generali-theme/abtUsPics/Slide9.JPG">
									</div>
									
									<div class="item">
										<img style= "max-width:88% ;margin-left: 6%" src="css/generali-theme/abtUsPics/Slide10.JPG">
									</div>
									
									<div class="item">
										<img style= "max-width:88% ;margin-left: 6%" src="css/generali-theme/abtUsPics/Slide11.JPG">
									</div>	
									
									<div class="item">
										<img style= "max-width:88% ;margin-left: 6%" src="css/generali-theme/abtUsPics/Slide12.JPG">
									</div>	
									<div class="item">
										<img style= "max-width:88% ;margin-left: 6%" src="css/generali-theme/abtUsPics/Slide13.JPG">
									</div>	
									<div class="item">
										<img style= "max-width:88% ;margin-left: 6%" src="css/generali-theme/abtUsPics/Slide14.JPG">
									</div>		
									
									<div class="item">
										<img style= "max-width:88% ;margin-left: 6%" src="css/generali-theme/abtUsPics/Slide15.JPG">
									</div>											
								</div>
								<!-- Left and right controls -->
								<button class="left carousel-control selfTools" data-target="#myCarousel" ng-non-bindable
									data-slide="prev"> <span
									class="fa fa-angle-left">
									</span> <span
									class="sr-only">Previous</span>
								</button> <button class="right carousel-control selfTools" data-target="#myCarousel" ng-non-bindable
									data-slide="next"> <span
									class="fa fa-angle-right"></span> <span
									class="sr-only">Next</span>
								</button>
							</div>

						</div>
							<!-- Tab 2 -->
							<div class="tab-pane" id="tab2">
                            <div class="col-md-6" id="videoTab" ng-click="playVideo('2017_GEN_TH_Credential_converted_with_Clipchamp.mp4')" href="#abtGenVideo" role="button" class="btn" data-toggle="modal" >
								<img src="css/generali-theme/img/banner-demo1.png" height="200px" width="250px"/>				
							</div>
							<div class="col-md-6" id="videoTab" ng-click="playVideo('365INFO.mp4')" href="#abtGenVideo" role="button" class="btn" data-toggle="modal" >
								<img src="css/generali-theme/img/logo-generali365.png" height="200px" width="250px"/>				
							</div>
                            <div class="clearfix"></div>
                                <div class="margin-bottom100"></div>
                    <div><span class="selfToolsUrlHelvathaica" translate="selfToolsUrl"></span><a href="https://generali.co.th/generali365/intro/" target="_blank">https://generali.co.th/generali365/intro/</a></div>
                                <div class="videofooter">
                                    <div class="row">
                                        <div class="col-md-2">
                                             <img src="css/generali-theme/img/generali_365_QR_code.png" class="qrcode_footer" />
                                        </div>
                                        <div class="pull-left width_search_icon">
                                               <img src="css/generali-theme/img/search_icon.png" class="search_icon_footer" />
                                                <div class="search_icon_txt">
                                                    <div>ดาวน์โหลด</div>
                                                    <div  class="icon_desc">Generali 365</div>
                                                </div>        
                                        </div>
                                        <div class="pull-left width_ios">
                                                <img src="css/generali-theme/img/apple.png" class="apple_icon" />
                                             <div class="search_icon_txt">
                                                    <div>App Store </div>
                                                    <div  class="icon_desc">เวอร์ชั่น iOS 8 ขึ้นไป</div>
                                                </div>
                                        </div>
                                         <div class="pull-left width_android">
                                                <img src="css/generali-theme/img/android.png" class="android_icon" />
                                                  <div class="search_icon_txt">
                                                        <div>Play Store </div>
                                                        <div class="icon_desc">เวอร์ชั่น 4.4.0 ขึ้นไป</div>
                                                    </div>
                                        </div>
                                    </div>
                                   
                                    
                                </div>
							</div>
						</div>
						</div>                                                                                                                                                                             
					</div>
				<!-- Lifestages -->
			<!--<div id="lifeStages" class="tab-pane">
			<p>LifeStages</p>
			</div>-->
				<!-- SelfTools -->
				<div id="selfTools"  class="tab-pane" ng-class="{'active':subTab=='selfTools'}">
					<ul class="nav nav-tabs" id="mylist">
						<li class="active"><a data-toggle="tab" data-target="#tabform" translate = "fna.forms"></a></li>
						<li><a data-toggle="tab" data-target="#tabhnl" translate= "fna.hospitalNetwork"></a></li>
						<li><a data-toggle="tab" data-target="#tabol" translate= "fna.occupationList"></a></li>
						<li><a data-toggle="tab" data-target="#tabqquote" translate= "fna.quickQuote"></a></li>
					</ul>
					<div class="tabbable"> 
						<div class="tab-content">
						<!-- Forms -->
				    <div class="tab-pane active" id="tabform">
                        <!--UW Forms-->
                            <div class="formsSelfTools"><span id="accarr" translate= "fna.uwForms"></span><img class="arrowsf" src="css/generali-theme/img/icon/scroll_arrow_down.png"></div>
                            <div class="formsPanel" id="uwform">
                            <table id="uw" cellspacing="0" cellpadding="1" border="1">
                            <tr ng-repeat="file in fileList"><td><a ng-click="openPDF(file.value)"><span ng-bind="file.name"></span></a></td></tr>	
                            </table>
                            </div>
                        <!--Bank Forms-->
                            <div class="formsSelfTools"><span id="accarr" translate= "fna.bankForms"></span><img class="arrowsf" src="css/generali-theme/img/icon/scroll_arrow_down.png"></div>
				            <div class="formsPanel">
							<table id="uw" cellspacing="0" cellpadding="1" border="1">
							<tr><td><a ng-click="openPDF('BankForm1.pdf')">แบบฟอร์มหนังสือยินยอมหักจากบัตรเครดิต1</a></td></tr>
							</table>
							</div>
                        <!--Claims Forms-->
					        <div class="formsSelfTools"><span id="accarr" translate= "fna.claimsForms"></span><img class="arrowsf" src="css/generali-theme/img/icon/scroll_arrow_down.png"></div>
				            <div class="formsPanel">
							<table id="uw" cellspacing="0" cellpadding="1" border="1">
									<tr><td><a ng-click="openPDF('ClaimForm1.pdf')">แบบฟอร์มคำร้องสินไหมค่ารักษาพยาบาลและอุบัติเหตุ</a></td></tr>
									<tr><td><a ng-click="openPDF('ClaimForm2.pdf')">แบบฟอร์มหนังสือมอบอำนาจ</a></td></tr>
									<tr><td><a ng-click="openPDF('ClaimForm3.pdf')">ใบคำร้องขอรับเงินค่าทดแทนอุบัติเหตุ</a></td></tr>
									<tr><td><a ng-click="openPDF('ClaimForm4.pdf')">ใบคำร้องขอรับเงินค่ารักษาในโรงพยาบาล</a></td></tr>
									<tr><td><a ng-click="openPDF('ClaimForm5.pdf')">ใบรายงานแพทย์ค่ารักษาพยาบาล</a></td></tr>
				            </table>
							</div>
                        <!--POS Forms-->
					        <div class="formsSelfTools"><span id="accarr" translate= "fna.posForms"></span><img class="arrowsf" src="css/generali-theme/img/icon/scroll_arrow_down.png"></span></div>
				            <div class="formsPanel">
				            <table id="uw" cellspacing="0" cellpadding="1" border="1">
									<tr><td><a ng-click="openPDF('POSForm1.pdf')">คำแถลงสุขภาพของผู้เอาประกัน</a></td></tr>
									<tr><td><a ng-click="openPDF('POSForm2.pdf')">คำร้องขอเปลี่ยนแปลงแก้ไขกรมธรรม์ Change Request form</a></td></tr>
				            </table>
				            </div>
							</div>	
							<!-- HospitalNetworkList -->
							<div class="tab-pane uw" id="tabhnl">
                                
                                <div class="hospTab"  ng-click="hospitalNetworkLink()">
                                    <img src="css/generali-theme/img/health.png"  class="hostabimg" height="180px" width="180px">
                                    <div>  <button type="button" class="btn btn-default hostabbtn" translate="fna.hospButton"></button></div>   
                                </div>
							</div>
							<!-- OccupationList-->
							<div class="tab-pane uw" id="tabol">
							<table id= "uw">
								<tr><td><a ng-click="openPDF('Occupation_Information.pdf')" translate= "fna.occupationList"></a></td></tr>
							</table>
							</div>
							<!-- Quick Quote-->
							<div class="tab-pane uw" id="tabqquote">
							<table id= "uw">
								<tr><td><a ng-click="openPDF('QuickQuote_Agency.pdf')" translate= "fna.quickQuote"></a></td></tr>
							</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	
<div d="abtGenVideo" class="popup_setpref_container pdfViewerPopUp videoPopup general-overlay-container"
	ng-show="show_hide_popup" ng-class="{'center_pop_up':show_hide_popup}">
	<p class="header_pref">
		<span class="text" translate=""></span><a id="close_popup"
			class="close_pref " ng-click="show_hide_popup = !show_hide_popup"></a>
	</p>
	<div ng-hide="showPDF">
		<video id="le_prod_video" data-ng-src=[[videoSource]] width="800"
			height="454" controls autoplay> Your browser does not support
			HTML5 video.
		</video>
	</div>
</div>
<div class="general-modal-overlay" ng-show="show_hide_popup" ng-click="show_hide_popup=!show_hide_popup"></div>
