<div>
    <div class="general-modal-overlay common-type-overlay" ng-show="showEmailPopup" style="display: none;"></div>
    <div class="confirmation-popup-container general-overlay-container" ng-show="showEmailPopup" ng-class="{'center_pop_up':showEmailPopup}" style="display:none">

        <div class="email_wrapper" style="padding:20px;">
            <fieldset>
                <div class="form-group row-fluid">
                    <label for="toAdd" class="control-label span5">TO </label>
                    <div class="span7">
                        <div class="date-holder span12">
                            <input type="text" id="toAdd" ng-model="toAddress" class="input-append span12" />
                        </div>
                    </div>
                </div>
                <div class="form-group row-fluid">
                    <label for="cc" class="control-label span5">CC </label>
                    <div class="span7">
                        <div class="date-holder span12">
                            <input type="text" id="cc" ng-model="ccAddress" class="input-append span12" />
                        </div>
                    </div>
                </div>
                <div class="form-group row-fluid">
                    <label for="sub" class="control-label span5">SUBJECT </label>
                    <div class="span7">
                        <div class="date-holder span12">
                            <input type="text" id="sub" ng-model="subject" readonly  class="input-append span12" />
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="footer_btn_holders">
                    <button ng-click="onClickSend()" class="footer_common_button">SEND</button>
                    <button ng-click="onClickCancel()" class="footer_common_button">CANCEL</button>
                </div>
            </div>
        </div>

    </div>
</div>