<div class="container self-tools-container">
	<div class="tabbable tabbable-bordered row-fluid">
		<div class="tab-content span12 bg-body">
			<div  class="tab-pane active">
				<ul class="nav nav-tabs">
					<li class="active"><a translate = "">Update Status</a></li>
				</ul>
				<div class="tabbable"> 
					<div class="tab-content">
						<div class="tab-pane active">
							<h3> Update Status</h3>
							<div class="row-fluid">
								<div class="span12">
									<div class="span8">
									<fieldset>
										<div class="form-group row-fluid">
											<label class="control-label span5"><span>Please enter SPAJ No:</span></label>
											<div class="span7">
												<div class="span12">
													<input type="text" class="input-append span12" placeholder="SPAJ NO:" id="spajNo" name="spajNo" ng-model="" size="30" ng-disabled="" >
												</div>
											</div>
										</div>
										<div class="form-group row-fluid">
											<label class="control-label span5"><span></span></label>
											<div class="span7">
												<div class="span6">
													<button class="btn btn-primary btn-block btn-large " ng-click="" id="searchBtn" translate="">Search</button>
												</div>
											</div>
										</div>
									</fieldset>
									</div>
								</div>
							</div>
							<div class="row-fluid" >
								<div class="span8">						                                      
									<div class="box-content no_sp">
										<div class="table_filter">
											<div class="table_holder mrgBtm10" id="">
												<table id="" class="table  table-striped table-sorter scroll">
													 <thead>									
														<tr class="list_table_head_bg">
																<th class="text-left"> <span translate="">Agent ID</span></th>
																<th class="text-left"> <span translate="">Status</span></th>
														</tr>	                                 
													</thead>
													<tbody>
														<tr>
															<!-- <td translate="" class="text-left">1</td>
															<td translate="" class="text-left">1</td> -->
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row-fluid">
								<div class="span12">
									<div class="span8">
										<fieldset>
											<div class="form-group row-fluid">
												<label class="control-label span5"><span>Select Status:</span></label>
												<div class="span7">
													<div class="span6">
														<div class="select-arrow">
															<select select-box id="statusSelect" class="form-control span12 " ng-class="{true: 'placeholder_selected', false: ''} [statusSelect.length == 0]" name="statusSelect" ng-model="statusSelect"   ng-options=""><option value="" class="ng-binding"></option></select>
															<a class="customDropIcon"></a>
														</div>
													</div>
													<div class="span6">
														<button class="btn btn-primary btn-block btn-large pdg4" ng-click="" id="updateBtn" translate="">Update</button>
													</div>
												</div>
											</div>
										</fieldset>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>                                                                                     
			</div>
		</div>
	</div>

	
	<!-- Modal -->
<!-- 	<div id="myModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		</div>
		<div class="modal-body">

		</div>
	</div> -->

</div>
